Repository hotosm/field-tm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, devops, migration, docs, ODK, contrib, tests

build: update all deps, add pwa to mapper frontend
  src/mapper/package.json
  src/mapper/pnpm-lock.yaml
  src/mapper/src/app.html
  src/mapper/tsconfig.json
  src/mapper/vite.config.ts
Labels: none

build: update all deps, add pwa to mapper frontend
  src/mapper/package.json
  src/mapper/pnpm-lock.yaml
  src/mapper/src/app.html
  src/mapper/tsconfig.json
  src/mapper/vite.config.ts
Labels: none

test: fix access to s3 container url during tests
  src/backend/app/config.py
  src/backend/tests/conftest.py
  src/backend/tests/test_projects_routes.py
Labels: backend, tests

test: fix access to s3 container url during tests
  src/backend/app/config.py
  src/backend/tests/conftest.py
  src/backend/tests/test_projects_routes.py
Labels: backend, tests

Revert "ci: update all workflows to latest --> v2.0.10"
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_ci_img.yml
  .github/workflows/build_odk_imgs.yml
  .github/workflows/build_proxy_imgs.yml
  .github/workflows/docs.yml
  .github/workflows/pr_test_backend.yml
  .github/workflows/pr_test_frontend.yml
  .github/workflows/tag_build.yml
  .github/workflows/wiki.yml
Labels: devops

Revert "ci: update all workflows to latest --> v2.0.10"
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_ci_img.yml
  .github/workflows/build_odk_imgs.yml
  .github/workflows/build_proxy_imgs.yml
  .github/workflows/docs.yml
  .github/workflows/pr_test_backend.yml
  .github/workflows/pr_test_frontend.yml
  .github/workflows/tag_build.yml
  .github/workflows/wiki.yml
Labels: devops

fix(frontend): remove trailing slash from activity endpoint (#1932)
  src/frontend/src/views/ProjectSubmissions.tsx
Labels: frontend

fix(frontend): remove trailing slash from activity endpoint (#1932)
  src/frontend/src/views/ProjectSubmissions.tsx
Labels: frontend

bug(mapper): mapper frontend bug fixes (#1933)
  src/mapper/src/lib/components/dialog-entities-actions.svelte
  src/mapper/src/lib/components/header.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/routes/[projectId]/+page.svelte
Labels: none

bug(mapper): mapper frontend bug fixes (#1933)
  src/mapper/src/lib/components/dialog-entities-actions.svelte
  src/mapper/src/lib/components/header.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/routes/[projectId]/+page.svelte
Labels: none

docs: add info about injected xlsform questions (#1935)
  docs/manuals/xlsform-design.md
Labels: docs

docs: add info about injected xlsform questions (#1935)
  docs/manuals/xlsform-design.md
Labels: docs

feat(frontend): all uploaded submission features/geometries on submission instance page (#1931)
  src/frontend/src/components/MapComponent/OpenLayersComponent/Layers/ClusterLayer.js
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/SubmissionMap/SubmissionInstanceMap.tsx
  src/frontend/src/store/types/ISubmissions.ts
  src/frontend/src/utilfunctions/extractGeojsonFromObject.ts
  src/frontend/src/views/SubmissionDetails.tsx
Labels: frontend

feat(frontend): all uploaded submission features/geometries on submission instance page (#1931)
  src/frontend/src/components/MapComponent/OpenLayersComponent/Layers/ClusterLayer.js
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/SubmissionMap/SubmissionInstanceMap.tsx
  src/frontend/src/store/types/ISubmissions.ts
  src/frontend/src/utilfunctions/extractGeojsonFromObject.ts
  src/frontend/src/views/SubmissionDetails.tsx
Labels: frontend

ci: temp disable frontend e2e tests to deploy mapper frontend
  .github/workflows/build_and_deploy.yml
Labels: devops

ci: temp disable frontend e2e tests to deploy mapper frontend
  .github/workflows/build_and_deploy.yml
Labels: devops

fix(mapper): better distinguish create project layer colours (#1936)
  src/frontend/src/components/MapComponent/OpenLayersComponent/LayerSwitcher/index.js
  src/frontend/src/components/SubmissionMap/MapControlComponent.tsx
  src/frontend/src/components/SubmissionMap/SubmissionInstanceMap.tsx
  src/frontend/src/views/NewDefineAreaMap.tsx
Labels: frontend

fix(mapper): better distinguish create project layer colours (#1936)
  src/frontend/src/components/MapComponent/OpenLayersComponent/LayerSwitcher/index.js
  src/frontend/src/components/SubmissionMap/MapControlComponent.tsx
  src/frontend/src/components/SubmissionMap/SubmissionInstanceMap.tsx
  src/frontend/src/views/NewDefineAreaMap.tsx
Labels: frontend

feat(mapper): add zoom to extent button to map (#1947)
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/static/assets/icons/crop-free.svg
Labels: none

feat(mapper): add zoom to extent button to map (#1947)
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/static/assets/icons/crop-free.svg
Labels: none

build: add electric to staging docker compose config
  docker-compose.staging.yml
Labels: devops

build: add electric to staging docker compose config
  docker-compose.staging.yml
Labels: devops

feat(projects): add organisation_logo field to ProjectSummary model (#1956)
  src/backend/app/projects/project_schemas.py
Labels: backend

feat(projects): add organisation_logo field to ProjectSummary model (#1956)
  src/backend/app/projects/project_schemas.py
Labels: backend

fix: odk credentials are passed without encrypting at first to avoid double encryption (#1957)
  src/backend/app/organisations/organisation_deps.py
  src/backend/app/organisations/organisation_schemas.py
Labels: backend

fix: odk credentials are passed without encrypting at first to avoid double encryption (#1957)
  src/backend/app/organisations/organisation_deps.py
  src/backend/app/organisations/organisation_schemas.py
Labels: backend

fix: Submission Instance Page, Create Project (#1958)
  src/frontend/src/api/Project.ts
  src/frontend/src/api/Submission.ts
  src/frontend/src/components/ProjectDetailsV2/ProjectInfo.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
  src/frontend/src/models/project/projectModel.ts
  src/frontend/src/views/CreateNewProject.tsx
Labels: frontend

fix: Submission Instance Page, Create Project (#1958)
  src/frontend/src/api/Project.ts
  src/frontend/src/api/Submission.ts
  src/frontend/src/components/ProjectDetailsV2/ProjectInfo.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
  src/frontend/src/models/project/projectModel.ts
  src/frontend/src/views/CreateNewProject.tsx
Labels: frontend

build: update just tunnel config for remote ODK server
  contrib/just/start/Justfile
  contrib/tunnel/docker-compose.yml
  docs/dev/Backend.md
Labels: devops, docs, contrib

build: update just tunnel config for remote ODK server
  contrib/just/start/Justfile
  contrib/tunnel/docker-compose.yml
  docs/dev/Backend.md
Labels: devops, docs, contrib

build: fix casing for nginx dockerfile FROM / AS
  nginx/Dockerfile
Labels: devops

build: fix casing for nginx dockerfile FROM / AS
  nginx/Dockerfile
Labels: devops

fix(backend): polygon geometries; remove holes, fix right hand rule (#1961)
  src/backend/app/db/postgis_utils.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
Labels: backend

fix(backend): polygon geometries; remove holes, fix right hand rule (#1961)
  src/backend/app/db/postgis_utils.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
Labels: backend

fix(+page): remove user details from localStorage in case of session expiration (#1965)
  src/mapper/src/routes/[projectId]/+page.ts
Labels: none

fix(+page): remove user details from localStorage in case of session expiration (#1965)
  src/mapper/src/routes/[projectId]/+page.ts
Labels: none

feat(mapper): add new point geom in maplibre terradraw, inject to ODK collect (#1966)
  src/mapper/package.json
  src/mapper/pnpm-lock.yaml
  src/mapper/src/lib/components/dialog-task-actions.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/lib/components/qrcode.svelte
  src/mapper/src/lib/odk/collect.ts
  src/mapper/src/lib/odk/javarosa.ts
  src/mapper/src/lib/odk/qrcode.ts
  src/mapper/src/routes/[projectId]/+page.svelte
Labels: none

feat(mapper): add new point geom in maplibre terradraw, inject to ODK collect (#1966)
  src/mapper/package.json
  src/mapper/pnpm-lock.yaml
  src/mapper/src/lib/components/dialog-task-actions.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/lib/components/qrcode.svelte
  src/mapper/src/lib/odk/collect.ts
  src/mapper/src/lib/odk/javarosa.ts
  src/mapper/src/lib/odk/qrcode.ts
  src/mapper/src/routes/[projectId]/+page.svelte
Labels: none

fix(backend): login enforced for management, additional temp login option for mappers (#1948)
  src/backend/app/auth/auth_routes.py
  src/backend/app/auth/osm.py
  src/backend/app/config.py
  src/backend/app/helpers/helper_routes.py
Labels: backend

fix(backend): login enforced for management, additional temp login option for mappers (#1948)
  src/backend/app/auth/auth_routes.py
  src/backend/app/auth/osm.py
  src/backend/app/config.py
  src/backend/app/helpers/helper_routes.py
Labels: backend

.github/labeler.yml:

bug:
  # Branch starts with `fix` or has a `fix` in the name
  - head-branch: ["^fix", "fix"]
enhancement:
  - head-branch:
      ["^feature", "feature", "^feat", "feat", "^refactor", "refactor"]
frontend:
  - changed-files:
      - any-glob-to-any-file: src/frontend/**
backend:
  - changed-files:
      - any-glob-to-any-file: src/backend/**
devops:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**
          - nginx/**
          - scripts/**
          - docker-*.yml
          - ./**/Dockerfile
          - ./**/.dockerfile
          - ./**/*entrypoint.sh
          - ./**/Justfile
migration:
  - changed-files:
      - any-glob-to-any-file: src/backend/migrations/**
docs:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**
          - images/**
          - mkdocs.yml
          - README.md
          - INSTALL.md
ODK:
  - changed-files:
      - any-glob-to-any-file: odkcentral/**
contrib:
  - changed-files:
      - any-glob-to-any-file: contrib/**
tests:
  - changed-files:
      - any-glob-to-any-file:
          - src/backend/tests/**
          - src/frontend/tests/**
          - src/frontend/e2e/**
