Repository hotosm/field-tm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, devops, migration, docs, ODK, contrib, tests

docs: update justfile and stats scripts for running on prod
  contrib/just/stats/Justfile
  src/backend/stats/timeseries.py
  src/backend/stats/total_mapped.py
Labels: backend, devops, contrib

docs: add option to use API_TOKEN for stats scripts
  src/backend/stats/timeseries.py
  src/backend/stats/total_mapped.py
Labels: backend

docs: add option to use API_TOKEN for stats scripts
  src/backend/stats/timeseries.py
  src/backend/stats/total_mapped.py
Labels: backend

docs: update stats script to include project breakdown by country
  contrib/just/start/Justfile
  src/backend/stats/total_mapped.py
Labels: backend, devops, contrib

docs: update stats script to include project breakdown by country
  contrib/just/start/Justfile
  src/backend/stats/total_mapped.py
Labels: backend, devops, contrib

docs(contrib): add compose file to starting filestash, an S3 browser and uploader GUI
  contrib/s3_browser/README.md
  contrib/s3_browser/compose.yaml
Labels: contrib

docs(contrib): add compose file to starting filestash, an S3 browser and uploader GUI
  contrib/s3_browser/README.md
  contrib/s3_browser/compose.yaml
Labels: contrib

refactor(frontend): simplify SetSnackBar action with defaults (#2192)
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/api/OrganisationService.ts
  src/frontend/src/api/Project.ts
  src/frontend/src/api/SubmissionService.ts
  src/frontend/src/api/TaskEvent.ts
  src/frontend/src/api/User.ts
  src/frontend/src/components/CreateEditOrganization/CreateEditOrganizationForm.tsx
  src/frontend/src/components/DialogTaskActions.tsx
  src/frontend/src/components/GenerateBasemap.tsx
  src/frontend/src/components/ManageProject/EditTab/ProjectDescriptionTab.tsx
  src/frontend/src/components/ProjectDetailsV2/Comments.tsx
  src/frontend/src/components/common/UploadArea.tsx
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
  src/frontend/src/models/home/homeModel.ts
  src/frontend/src/store/slices/CommonSlice.ts
  src/frontend/src/store/slices/HomeSlice.ts
  src/frontend/src/store/types/IHome.ts
  src/frontend/src/utilfunctions/Geolocation.ts
  src/frontend/src/utilities/CustomDrawer.tsx
  src/frontend/src/utilities/PrimaryAppBar.tsx
  src/frontend/src/views/ManageUsers.tsx
  src/frontend/src/views/PlaywrightTempLogin.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

refactor(frontend): simplify SetSnackBar action with defaults (#2192)
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/api/OrganisationService.ts
  src/frontend/src/api/Project.ts
  src/frontend/src/api/SubmissionService.ts
  src/frontend/src/api/TaskEvent.ts
  src/frontend/src/api/User.ts
  src/frontend/src/components/CreateEditOrganization/CreateEditOrganizationForm.tsx
  src/frontend/src/components/DialogTaskActions.tsx
  src/frontend/src/components/GenerateBasemap.tsx
  src/frontend/src/components/ManageProject/EditTab/ProjectDescriptionTab.tsx
  src/frontend/src/components/ProjectDetailsV2/Comments.tsx
  src/frontend/src/components/common/UploadArea.tsx
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
  src/frontend/src/models/home/homeModel.ts
  src/frontend/src/store/slices/CommonSlice.ts
  src/frontend/src/store/slices/HomeSlice.ts
  src/frontend/src/store/types/IHome.ts
  src/frontend/src/utilfunctions/Geolocation.ts
  src/frontend/src/utilities/CustomDrawer.tsx
  src/frontend/src/utilities/PrimaryAppBar.tsx
  src/frontend/src/views/ManageUsers.tsx
  src/frontend/src/views/PlaywrightTempLogin.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

refactor(frontend): remove task_filter field from frontend intent url
  src/frontend/src/components/DialogTaskActions.tsx
  src/mapper/src/lib/odk/collect.ts
  src/mapper/src/routes/[projectId]/+page.svelte
Labels: frontend

build: update to latest osm-fieldwork --> 0.20.1 for multiple extra datasets
  src/backend/pyproject.toml
  src/backend/uv.lock
Labels: backend

refactor(frontend): remove task_filter field from frontend intent url
  src/frontend/src/components/DialogTaskActions.tsx
  src/mapper/src/lib/odk/collect.ts
  src/mapper/src/routes/[projectId]/+page.svelte
Labels: frontend

refactor: tweak odk tunnel testing config button
  compose.yaml
  contrib/tunnel/button/index.html
Labels: contrib

build: update osm-fieldwork --> 0.20.2 latest (fix)
  src/backend/pyproject.toml
  src/backend/uv.lock
Labels: backend

fix(frontend): move new geom confirm dialog to center screen
  src/mapper/src/routes/[projectId]/+page.svelte
Labels: none

build: update osm-fieldwork --> 0.20.2 latest (fix)
  src/backend/pyproject.toml
  src/backend/uv.lock
Labels: backend

fix(frontend): move new geom confirm dialog to center screen
  src/mapper/src/routes/[projectId]/+page.svelte
Labels: none

refactor: tweak odk tunnel testing config button
  compose.yaml
  contrib/tunnel/button/index.html
Labels: contrib

build: update to latest osm-fieldwork --> 0.20.1 for multiple extra datasets
  src/backend/pyproject.toml
  src/backend/uv.lock
Labels: backend

refactor: replace two submission download endpoints with one
  src/backend/app/db/enums.py
  src/backend/app/submissions/submission_routes.py
  src/backend/tests/test_submission_routes.py
  src/frontend/src/api/Project.ts
  src/frontend/src/api/SubmissionService.ts
  src/frontend/src/api/task.ts
  src/frontend/src/components/ProjectDetailsV2/ProjectOptions.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/store/slices/SubmissionSlice.ts
  src/frontend/src/store/slices/TaskSlice.ts
  src/frontend/src/store/types/ISubmissions.ts
  src/frontend/src/store/types/ITask.ts
Labels: frontend, backend, tests

refactor: replace two submission download endpoints with one
  src/backend/app/db/enums.py
  src/backend/app/submissions/submission_routes.py
  src/backend/tests/test_submission_routes.py
  src/frontend/src/api/Project.ts
  src/frontend/src/api/SubmissionService.ts
  src/frontend/src/api/task.ts
  src/frontend/src/components/ProjectDetailsV2/ProjectOptions.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/store/slices/SubmissionSlice.ts
  src/frontend/src/store/slices/TaskSlice.ts
  src/frontend/src/store/types/ISubmissions.ts
  src/frontend/src/store/types/ITask.ts
Labels: frontend, backend, tests

fix(frontend): use fmtm-cursor-pointer for default user icon
  src/frontend/src/utilities/PrimaryAppBar.tsx
Labels: frontend

fix(frontend): use fmtm-cursor-pointer for default user icon
  src/frontend/src/utilities/PrimaryAppBar.tsx
Labels: frontend

refactor: remove sign out button from sidebar drawer
  src/frontend/src/utilities/CustomDrawer.tsx
Labels: frontend

refactor: remove sign out button from sidebar drawer
  src/frontend/src/utilities/CustomDrawer.tsx
Labels: frontend

refactor: automatically determine geom type from javarosa geom structure
  src/backend/app/db/enums.py
  src/backend/app/db/postgis_utils.py
  src/backend/app/helpers/helper_routes.py
Labels: backend

fix(frontend): correctly include project name in geojson submission download file
  src/frontend/src/components/ProjectDetailsV2/ProjectOptions.tsx
Labels: frontend

feat(backend): extract additional geoms into submission geojson featcol
  src/backend/app/central/central_crud.py
Labels: backend

fix(frontend): correctly include project name in geojson submission download file
  src/frontend/src/components/ProjectDetailsV2/ProjectOptions.tsx
Labels: frontend

feat(backend): extract additional geoms into submission geojson featcol
  src/backend/app/central/central_crud.py
Labels: backend

build: only start central webhook once central service healthy
  compose.yaml
  deploy/compose.development.yaml
Labels: none

build: only start central webhook once central service healthy
  compose.yaml
  deploy/compose.development.yaml
Labels: none

refactor: automatically determine geom type from javarosa geom structure
  src/backend/app/db/enums.py
  src/backend/app/db/postgis_utils.py
  src/backend/app/helpers/helper_routes.py
Labels: backend

fix(extractGeojsonFromObject): differentiate and visualize Polygon & LineString seperately (#2196)
  src/frontend/src/utilfunctions/extractGeojsonFromObject.ts
Labels: frontend

fix(extractGeojsonFromObject): differentiate and visualize Polygon & LineString seperately (#2196)
  src/frontend/src/utilfunctions/extractGeojsonFromObject.ts
Labels: frontend

docs: add num of contributors to the stats of projects (#2194)
  src/backend/stats/total_mapped.py
Labels: backend

docs: add num of contributors to the stats of projects (#2194)
  src/backend/stats/total_mapped.py
Labels: backend

fox(backend): ensure /{project_id}/form-xml returns plain xml string (#2200)
  src/backend/app/projects/project_routes.py
Labels: backend

fox(backend): ensure /{project_id}/form-xml returns plain xml string (#2200)
  src/backend/app/projects/project_routes.py
Labels: backend

feat(backend): replace nominatim usage with pg-nearest-city reverse-geocode (#2199)
  src/backend/app/db/languages_and_countries.py
  src/backend/app/db/postgis_utils.py
  src/backend/app/main.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/pyproject.toml
  src/backend/tests/test_projects_routes.py
  src/backend/uv.lock
Labels: backend, tests

.github/labeler.yml:

bug:
  # Branch starts with `fix` or has a `fix` in the name
  - head-branch: ["^fix", "fix"]
enhancement:
  - head-branch:
      ["^feature", "feature", "^feat", "feat", "^refactor", "refactor"]
frontend:
  - changed-files:
      - any-glob-to-any-file: src/frontend/**
backend:
  - changed-files:
      - any-glob-to-any-file: src/backend/**
devops:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**
          - nginx/**
          - scripts/**
          - docker-*.yml
          - ./**/Dockerfile
          - ./**/.dockerfile
          - ./**/*entrypoint.sh
          - ./**/Justfile
migration:
  - changed-files:
      - any-glob-to-any-file: src/backend/migrations/**
docs:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**
          - images/**
          - mkdocs.yml
          - README.md
          - INSTALL.md
ODK:
  - changed-files:
      - any-glob-to-any-file: odkcentral/**
contrib:
  - changed-files:
      - any-glob-to-any-file: contrib/**
tests:
  - changed-files:
      - any-glob-to-any-file:
          - src/backend/tests/**
          - src/frontend/tests/**
          - src/frontend/e2e/**
