Repository hotosm/field-tm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, devops, migration, docs, ODK, contrib, tests

.github/labeler.yml:

bug:
  # Branch starts with `fix` or has a `fix` in the name
  - head-branch: ["^fix", "fix"]
enhancement:
  - head-branch:
      ["^feature", "feature", "^feat", "feat", "^refactor", "refactor"]
frontend:
  - changed-files:
      - any-glob-to-any-file: src/frontend/**
backend:
  - changed-files:
      - any-glob-to-any-file: src/backend/**
devops:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**
          - nginx/**
          - scripts/**
          - docker-*.yml
          - ./**/Dockerfile
          - ./**/.dockerfile
          - ./**/*entrypoint.sh
          - ./**/Justfile
migration:
  - changed-files:
      - any-glob-to-any-file: src/backend/migrations/**
docs:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**
          - images/**
          - mkdocs.yml
          - README.md
          - INSTALL.md
ODK:
  - changed-files:
      - any-glob-to-any-file: odkcentral/**
contrib:
  - changed-files:
      - any-glob-to-any-file: contrib/**
tests:
  - changed-files:
      - any-glob-to-any-file:
          - src/backend/tests/**
          - src/frontend/tests/**
          - src/frontend/e2e/**

feat(backend): endpoint to retreive submission photos (#1794)
  src/backend/app/submissions/submission_routes.py
  src/frontend/src/views/SubmissionDetails.tsx
Labels: frontend, backend

feat(backend): endpoint to retreive submission photos (#1794)
  src/backend/app/submissions/submission_routes.py
  src/frontend/src/views/SubmissionDetails.tsx
Labels: frontend, backend

feat(backend): endpoint to create additional Entity lists on a project (#1799)
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_schemas.py
  src/backend/app/db/postgis_utils.py
  src/backend/app/helpers/helper_routes.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/tests/test_projects_routes.py
  src/frontend/e2e/02-mapper-flow.spec.ts
  src/frontend/e2e/helpers.ts
  src/frontend/src/api/Project.ts
Labels: frontend, backend, tests

feat(backend): endpoint to create additional Entity lists on a project (#1799)
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_schemas.py
  src/backend/app/db/postgis_utils.py
  src/backend/app/helpers/helper_routes.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/tests/test_projects_routes.py
  src/frontend/e2e/02-mapper-flow.spec.ts
  src/frontend/e2e/helpers.ts
  src/frontend/src/api/Project.ts
Labels: frontend, backend, tests

build: upgrade fmtm-splitter --> v1.3.1 for latest fixes
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

build: upgrade fmtm-splitter --> v1.3.1 for latest fixes
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

docs: update description for validate-form endpoint
  src/backend/app/projects/project_routes.py
Labels: backend

docs: update description for validate-form endpoint
  src/backend/app/projects/project_routes.py
Labels: backend

fix(backend): add DEBUG override to /refresh for tunnel testing
  src/backend/app/auth/auth_routes.py
Labels: backend

fix(backend): add DEBUG override to /refresh for tunnel testing
  src/backend/app/auth/auth_routes.py
Labels: backend

refactor(backend): remove xforms table from database, refactor project creation (#1804)
  src/backend/app/auth/auth_routes.py
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_routes.py
  src/backend/app/db/db_models.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_deps.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
  src/backend/app/tasks/task_deps.py
  src/backend/migrations/007-remove-xform-table.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend, migration

refactor(backend): remove xforms table from database, refactor project creation (#1804)
  src/backend/app/auth/auth_routes.py
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_routes.py
  src/backend/app/db/db_models.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_deps.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
  src/backend/app/tasks/task_deps.py
  src/backend/migrations/007-remove-xform-table.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend, migration

build: update osm-fieldwork --> 0.16.5rc0 for latest xlsform updating
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

build: update osm-fieldwork --> 0.16.5rc0 for latest xlsform updating
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

docs: add brief bit of info about broken prod and what to do!
  docs/dev/Production.md
Labels: docs

docs: add brief bit of info about broken prod and what to do!
  docs/dev/Production.md
Labels: docs

docs: update info about production debugging
  docs/dev/Production.md
Labels: docs

docs: update info about production debugging
  docs/dev/Production.md
Labels: docs

refactor(backend): remove task_id and task_filter params from XLSForm (#1805)
  src/backend/app/central/central_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/frontend/src/components/DialogTaskActions.tsx
  src/frontend/src/views/SubmissionDetails.tsx
Labels: frontend, backend

refactor(backend): remove task_id and task_filter params from XLSForm (#1805)
  src/backend/app/central/central_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/frontend/src/components/DialogTaskActions.tsx
  src/frontend/src/views/SubmissionDetails.tsx
Labels: frontend, backend

fix(backend): error handling if submission download fails
  src/backend/app/submissions/submission_crud.py
Labels: backend

fix(backend): error handling if submission download fails
  src/backend/app/submissions/submission_crud.py
Labels: backend

ci: exclude sqlfluff RF02 for old migration file
  src/backend/pyproject.toml
Labels: backend

ci: exclude sqlfluff RF02 for old migration file
  src/backend/pyproject.toml
Labels: backend

fix(backend): submission route ordering causing 500 error
  src/backend/app/submissions/submission_routes.py
Labels: backend

fix(backend): submission route ordering causing 500 error
  src/backend/app/submissions/submission_routes.py
Labels: backend

build: rename fmtm beta --> hotosm migration
  src/backend/migrations/008-rename-public-beta.sql
Labels: backend, migration

build: rename fmtm beta --> hotosm migration
  src/backend/migrations/008-rename-public-beta.sql
Labels: backend, migration

build(backend): fix incorrect foreign key constraint on submission_photos task_id
  src/backend/app/db/db_models.py
  src/backend/migrations/007-remove-xform-table.sql
  src/backend/migrations/init/fmtm_base_schema.sql
Labels: backend, migration

build(backend): fix incorrect foreign key constraint on submission_photos task_id
  src/backend/app/db/db_models.py
  src/backend/migrations/007-remove-xform-table.sql
  src/backend/migrations/init/fmtm_base_schema.sql
Labels: backend, migration

build: update osm-fieldwork --> 0.16.6 to remove 'feature not exist' answer
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

build: update osm-fieldwork --> 0.16.6 to remove 'feature not exist' answer
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

feat(frontend): allow selection of additional features during project creation (#1806)
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/components/common/FileInputComponent.tsx
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/validation/DataExtractValidation.tsx
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/views/CreateNewProject.tsx
  src/frontend/src/views/NewDefineAreaMap.tsx
Labels: frontend

feat(frontend): allow selection of additional features during project creation (#1806)
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/components/common/FileInputComponent.tsx
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/validation/DataExtractValidation.tsx
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/views/CreateNewProject.tsx
  src/frontend/src/views/NewDefineAreaMap.tsx
Labels: frontend

refactor(frontend): do not use debug=true flag on form validation
  src/frontend/src/components/createnewproject/SelectForm.tsx
Labels: frontend

refactor(frontend): do not use debug=true flag on form validation
  src/frontend/src/components/createnewproject/SelectForm.tsx
Labels: frontend

fix(frontend): only call additional-feature API if one is set by user
  src/frontend/src/api/CreateProjectService.ts
Labels: frontend

fix(frontend): only call additional-feature API if one is set by user
  src/frontend/src/api/CreateProjectService.ts
Labels: frontend

fix: updating form, with disclaimer to use original form
  src/backend/app/projects/project_routes.py
  src/frontend/src/components/ManageProject/EditTab/FormUpdateTab.tsx
Labels: frontend, backend

fix: updating form, with disclaimer to use original form
  src/backend/app/projects/project_routes.py
  src/frontend/src/components/ManageProject/EditTab/FormUpdateTab.tsx
Labels: frontend, backend
