Repository hotosm/field-tm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, devops, migration, docs, ODK, contrib, tests

.github/labeler.yml:

bug:
  # Branch starts with `fix` or has a `fix` in the name
  - head-branch: ["^fix", "fix"]
enhancement:
  - head-branch:
      ["^feature", "feature", "^feat", "feat", "^refactor", "refactor"]
frontend:
  - changed-files:
      - any-glob-to-any-file: src/frontend/**
backend:
  - changed-files:
      - any-glob-to-any-file: src/backend/**
devops:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**
          - nginx/**
          - scripts/**
          - docker-*.yml
          - ./**/Dockerfile
          - ./**/.dockerfile
          - ./**/*entrypoint.sh
          - ./**/Justfile
migration:
  - changed-files:
      - any-glob-to-any-file: src/backend/migrations/**
docs:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**
          - images/**
          - mkdocs.yml
          - README.md
          - INSTALL.md
ODK:
  - changed-files:
      - any-glob-to-any-file: odkcentral/**
contrib:
  - changed-files:
      - any-glob-to-any-file: contrib/**
tests:
  - changed-files:
      - any-glob-to-any-file:
          - src/backend/tests/**
          - src/frontend/tests/**
          - src/frontend/e2e/**

bump: version 2024.4.1 → 2024.5.0
  CHANGELOG.md
  chart/Chart.yaml
  src/backend/app/__version__.py
  src/backend/pyproject.toml
  src/frontend/package.json
Labels: frontend, backend

bump: version 2024.4.1 → 2024.5.0
  CHANGELOG.md
  chart/Chart.yaml
  src/backend/app/__version__.py
  src/backend/pyproject.toml
  src/frontend/package.json
Labels: frontend, backend

docs: relock uv file after version update
  Justfile
  src/backend/uv.lock
Labels: backend, devops

docs: relock uv file after version update
  Justfile
  src/backend/uv.lock
Labels: backend, devops

build: remove usage of NODE_ENV (build is always prod, required devDeps)
  docker-compose.development.yml
  docker-compose.main.yml
  src/Dockerfile.ui.debug
  src/Dockerfile.ui.prod
Labels: devops

build: remove usage of NODE_ENV (build is always prod, required devDeps)
  docker-compose.development.yml
  docker-compose.main.yml
  src/Dockerfile.ui.debug
  src/Dockerfile.ui.prod
Labels: devops

fix: parse geojson to featcol in generate data extract (#1983)
  src/backend/app/projects/project_routes.py
Labels: backend

fix: parse geojson to featcol in generate data extract (#1983)
  src/backend/app/projects/project_routes.py
Labels: backend

docs: add page documenting user-generated field guides
  docs/manuals/field-mapping-examples.md
  mkdocs.yml
Labels: docs

docs: add page documenting user-generated field guides
  docs/manuals/field-mapping-examples.md
  mkdocs.yml
Labels: docs

docs: update user roadmap and timeline
  README.md
  docs/timeline.md
Labels: docs

docs: update user roadmap and timeline
  README.md
  docs/timeline.md
Labels: docs

docs: add page documenting the new mapper workflow (#1937)
  docs/manuals/mapping.md
  mkdocs.yml
Labels: docs

docs: add page documenting the new mapper workflow (#1937)
  docs/manuals/mapping.md
  mkdocs.yml
Labels: docs

refactor(mapper): add mapping guide to sidebar + update links
  src/frontend/src/utilities/CustomDrawer.tsx
  src/mapper/src/constants/drawerItems.ts
  src/mapper/src/lib/components/header.svelte
Labels: frontend

refactor(mapper): add mapping guide to sidebar + update links
  src/frontend/src/utilities/CustomDrawer.tsx
  src/mapper/src/constants/drawerItems.ts
  src/mapper/src/lib/components/header.svelte
Labels: frontend

feat(mapper): prompt user to download custom ODK Collect on first load (#1989)
  src/mapper/src/lib/components/header.svelte
Labels: none

feat(mapper): prompt user to download custom ODK Collect on first load (#1989)
  src/mapper/src/lib/components/header.svelte
Labels: none

docs: add info about cloning repo on unstable connections to FAQ
  docs/about/faq.md
Labels: docs

docs: add info about cloning repo on unstable connections to FAQ
  docs/about/faq.md
Labels: docs

fix(mapper): offline mode button visibility & basemap component TS type error (#1990)
  src/mapper/src/lib/components/offline/basemaps.svelte
  src/mapper/src/lib/utils/basemaps.ts
Labels: none

fix(mapper): offline mode button visibility & basemap component TS type error (#1990)
  src/mapper/src/lib/components/offline/basemaps.svelte
  src/mapper/src/lib/utils/basemaps.ts
Labels: none

fix(frontend): small fix to reset frontend login if cookie refresh fails
  src/frontend/src/App.tsx
Labels: frontend

fix(frontend): small fix to reset frontend login if cookie refresh fails
  src/frontend/src/App.tsx
Labels: frontend

fix(backend): include organisation name in minimal project query results (#1993)
  src/backend/app/db/models.py
Labels: backend

fix(backend): include organisation name in minimal project query results (#1993)
  src/backend/app/db/models.py
Labels: backend

feat(mapper): project details section add to bottom sheet (#1994)
  src/mapper/src/lib/components/more/index.svelte
  src/mapper/src/lib/components/more/project-info.svelte
  src/mapper/src/styles/page.css
Labels: none

feat(mapper): project details section add to bottom sheet (#1994)
  src/mapper/src/lib/components/more/index.svelte
  src/mapper/src/lib/components/more/project-info.svelte
  src/mapper/src/styles/page.css
Labels: none

feat: update the version of fmtm-splitter 2.0.0 (#1996)
  src/backend/pyproject.toml
  src/backend/uv.lock
Labels: backend

feat: update the version of fmtm-splitter 2.0.0 (#1996)
  src/backend/pyproject.toml
  src/backend/uv.lock
Labels: backend

fix(mapper): task id with task index on mapper frontend (#1997)
  src/mapper/src/lib/components/dialog-task-actions.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/lib/components/more/activities.svelte
  src/mapper/src/lib/components/more/comment.svelte
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/src/store/tasks.svelte.ts
Labels: none

fix(mapper): task id with task index on mapper frontend (#1997)
  src/mapper/src/lib/components/dialog-task-actions.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/lib/components/more/activities.svelte
  src/mapper/src/lib/components/more/comment.svelte
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/src/store/tasks.svelte.ts
Labels: none

build: archive migrations 2024-12-18 that are deployed to prod
  src/backend/migrations/000-reset-migrations-table-v3.sql
  src/backend/migrations/archived/2024-12-18/001-drop-dup-fields.sql
  src/backend/migrations/archived/2024-12-18/002-user-bigint.sql
  src/backend/migrations/archived/2024-12-18/003-timestamp-names.sql
  src/backend/migrations/archived/2024-12-18/004-task-events.sql
  src/backend/migrations/archived/2024-12-18/005-cleanup-project-table.sql
  src/backend/migrations/archived/2024-12-18/006-basemaps-table.sql
  src/backend/migrations/archived/2024-12-18/007-rename-task-history.sql
  src/backend/migrations/archived/2024-12-18/008-recreate-indexes.sql
  src/backend/migrations/archived/2024-12-18/009-entity-table.sql
  src/backend/migrations/archived/2024-12-18/010-delete-user.sql
  src/backend/migrations/archived/2024-12-18/upload_basemaps_s3.py
Labels: backend, migration

build: archive migrations 2024-12-18 that are deployed to prod
  src/backend/migrations/000-reset-migrations-table-v3.sql
  src/backend/migrations/archived/2024-12-18/001-drop-dup-fields.sql
  src/backend/migrations/archived/2024-12-18/002-user-bigint.sql
  src/backend/migrations/archived/2024-12-18/003-timestamp-names.sql
  src/backend/migrations/archived/2024-12-18/004-task-events.sql
  src/backend/migrations/archived/2024-12-18/005-cleanup-project-table.sql
  src/backend/migrations/archived/2024-12-18/006-basemaps-table.sql
  src/backend/migrations/archived/2024-12-18/007-rename-task-history.sql
  src/backend/migrations/archived/2024-12-18/008-recreate-indexes.sql
  src/backend/migrations/archived/2024-12-18/009-entity-table.sql
  src/backend/migrations/archived/2024-12-18/010-delete-user.sql
  src/backend/migrations/archived/2024-12-18/upload_basemaps_s3.py
Labels: backend, migration

build: enable SFCGAL in FMTM database for additional PostGIS functions (#2003)
  src/backend/migrations/000-reset-migrations-table-v3.sql
  src/backend/migrations/001-enable-sfcgal.sql
  src/backend/migrations/archived/2024-12-18/001-drop-dup-fields.sql
  src/backend/migrations/archived/2024-12-18/002-user-bigint.sql
  src/backend/migrations/archived/2024-12-18/003-timestamp-names.sql
  src/backend/migrations/archived/2024-12-18/004-task-events.sql
  src/backend/migrations/archived/2024-12-18/005-cleanup-project-table.sql
  src/backend/migrations/archived/2024-12-18/006-basemaps-table.sql
  src/backend/migrations/archived/2024-12-18/007-rename-task-history.sql
  src/backend/migrations/archived/2024-12-18/008-recreate-indexes.sql
  src/backend/migrations/archived/2024-12-18/009-entity-table.sql
  src/backend/migrations/archived/2024-12-18/010-delete-user.sql
  src/backend/migrations/archived/2024-12-18/upload_basemaps_s3.py
  src/backend/migrations/init/fmtm_base_schema.sql
Labels: backend, migration

build: enable SFCGAL in FMTM database for additional PostGIS functions (#2003)
  src/backend/migrations/000-reset-migrations-table-v3.sql
  src/backend/migrations/001-enable-sfcgal.sql
  src/backend/migrations/archived/2024-12-18/001-drop-dup-fields.sql
  src/backend/migrations/archived/2024-12-18/002-user-bigint.sql
  src/backend/migrations/archived/2024-12-18/003-timestamp-names.sql
  src/backend/migrations/archived/2024-12-18/004-task-events.sql
  src/backend/migrations/archived/2024-12-18/005-cleanup-project-table.sql
  src/backend/migrations/archived/2024-12-18/006-basemaps-table.sql
  src/backend/migrations/archived/2024-12-18/007-rename-task-history.sql
  src/backend/migrations/archived/2024-12-18/008-recreate-indexes.sql
  src/backend/migrations/archived/2024-12-18/009-entity-table.sql
  src/backend/migrations/archived/2024-12-18/010-delete-user.sql
  src/backend/migrations/archived/2024-12-18/upload_basemaps_s3.py
  src/backend/migrations/init/fmtm_base_schema.sql
Labels: backend, migration

build: rename docker-compose.yml files --> compose.yml (#1998)
  .github/workflows/build_and_deploy.yml
  .github/workflows/pr_test_frontend.yml
  INSTALL.md
  compose.development.yaml
  compose.main.yaml
  compose.staging.yaml
  compose.yaml
  contrib/josm/compose.yaml
  contrib/just/start/Justfile
  contrib/just/stop/Justfile
  contrib/just/test/Justfile
  contrib/openobserve/compose.yaml
  contrib/playwright/compose.yaml
  contrib/tunnel/compose.yaml
  docs/dev/Backend.md
  docs/dev/Production.md
  scripts/renew-certs-manual.sh
Labels: devops, docs, contrib

build: rename docker-compose.yml files --> compose.yml (#1998)
  .github/workflows/build_and_deploy.yml
  .github/workflows/pr_test_frontend.yml
  INSTALL.md
  compose.development.yaml
  compose.main.yaml
  compose.staging.yaml
  compose.yaml
  contrib/josm/compose.yaml
  contrib/just/start/Justfile
  contrib/just/stop/Justfile
  contrib/just/test/Justfile
  contrib/openobserve/compose.yaml
  contrib/playwright/compose.yaml
  contrib/tunnel/compose.yaml
  docs/dev/Backend.md
  docs/dev/Production.md
  scripts/renew-certs-manual.sh
Labels: devops, docs, contrib

build: update minio versions to avoid CVE-2024-45337
  chart/values.yaml
  compose.development.yaml
  compose.main.yaml
  compose.yaml
  src/backend/Dockerfile
Labels: backend, devops

build: update minio versions to avoid CVE-2024-45337
  chart/values.yaml
  compose.development.yaml
  compose.main.yaml
  compose.yaml
  src/backend/Dockerfile
Labels: backend, devops
