Repository hotosm/field-tm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, devops, migration, documentation, ODK, contrib

.github/labeler.yml:

"frontend":
  - "src/frontend/**/*"
"backend":
  - "src/backend/**/*"
"devops":
  - ".github/**/*"
  - "nginx/**/*"
  - "scripts/**/*"
  - "docker-*.yml"
  - "**/Dockerfile"
  - "**/*.dockerfile"
  - "**/*entrypoint.sh"
  - "Justfile"
"migration":
  - "src/backend/migrations/**/*"
"documentation":
  - "docs/**/*"
  - "images/**/*"
  - "mkdocs.yml"
  - "README.md"
  - "INSTALL.md"
"ODK":
  - "odkcentral/**/*"
"contrib":
  - "contrib/**/*"

refactor: improve flatgeobuf loading and generation (#1235)
  src/backend/app/db/postgis_utils.py
  src/backend/app/projects/project_routes.py
Labels: backend

refactor: improve flatgeobuf loading and generation (#1235)
  src/backend/app/db/postgis_utils.py
  src/backend/app/projects/project_routes.py
Labels: backend

fix: project org UI issues (#1230)
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/src/api/task.ts
  src/frontend/src/components/ManageProject/EditTab/FormUpdateTab.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/common/Dropdown.tsx
  src/frontend/src/components/common/Modal.tsx
  src/frontend/src/components/common/Select.tsx
  src/frontend/src/shared/AssetModules.js
  src/frontend/src/utilities/PrimaryAppBar.tsx
Labels: frontend

fix: project org UI issues (#1230)
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/src/api/task.ts
  src/frontend/src/components/ManageProject/EditTab/FormUpdateTab.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/common/Dropdown.tsx
  src/frontend/src/components/common/Modal.tsx
  src/frontend/src/components/common/Select.tsx
  src/frontend/src/shared/AssetModules.js
  src/frontend/src/utilities/PrimaryAppBar.tsx
Labels: frontend

test (frontend): case config, add test cases (#1231)
  src/frontend/package.json
  src/frontend/src/components/__test__/Button.test.jsx
  src/frontend/src/components/common/Button.tsx
  src/frontend/src/sum.js
  src/frontend/tests/App.test.jsx
  src/frontend/tests/App.test.tsx
  src/frontend/tests/CreateProject.test.tsx
  src/frontend/tsconfig.json
  src/frontend/vite.config.ts
Labels: frontend

test (frontend): case config, add test cases (#1231)
  src/frontend/package.json
  src/frontend/src/components/__test__/Button.test.jsx
  src/frontend/src/components/common/Button.tsx
  src/frontend/src/sum.js
  src/frontend/tests/App.test.jsx
  src/frontend/tests/App.test.tsx
  src/frontend/tests/CreateProject.test.tsx
  src/frontend/tsconfig.json
  src/frontend/vite.config.ts
Labels: frontend

fix: add created_by user id to organisation table (#1232)
  src/backend/app/db/db_models.py
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/organisations/organisation_routes.py
  src/backend/migrations/008-add-user-in-org.sql
  src/backend/migrations/revert/008-add-user-in-org.sql
Labels: backend, migration

fix: add created_by user id to organisation table (#1232)
  src/backend/app/db/db_models.py
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/organisations/organisation_routes.py
  src/backend/migrations/008-add-user-in-org.sql
  src/backend/migrations/revert/008-add-user-in-org.sql
Labels: backend, migration

feat submissionsPage: redirect to respective submissions & task submissions page on button click
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/ProjectSubmissions/TaskSubmissions.tsx
Labels: frontend

feat submissionsPage: redirect to respective submissions & task submissions page on button click
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/ProjectSubmissions/TaskSubmissions.tsx
Labels: frontend

Feat verification tag add (#1234)
  src/frontend/src/api/ProjectTaskStatus.js
  src/frontend/src/components/organisation/OrganisationGridCard.tsx
  src/frontend/src/models/organisation/organisationModel.ts
  src/frontend/src/views/Organisation.tsx
Labels: frontend

Feat verification tag add (#1234)
  src/frontend/src/api/ProjectTaskStatus.js
  src/frontend/src/components/organisation/OrganisationGridCard.tsx
  src/frontend/src/models/organisation/organisationModel.ts
  src/frontend/src/views/Organisation.tsx
Labels: frontend

fix: qr popup on task status & styling (#1184)
  src/frontend/src/components/DialogTaskActions.jsx
  src/frontend/src/components/ProjectDetailsV2/TaskSectionPopup.tsx
  src/frontend/src/components/ProjectSubmissions/ProjectInfo.tsx
  src/frontend/src/components/QrcodeComponent.jsx
  src/frontend/src/components/common/Button.tsx
  src/frontend/src/environment.ts
  src/frontend/src/routes.jsx
  src/frontend/src/shared/AssetModules.js
  src/frontend/src/views/ManageProject.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

fix: qr popup on task status & styling (#1184)
  src/frontend/src/components/DialogTaskActions.jsx
  src/frontend/src/components/ProjectDetailsV2/TaskSectionPopup.tsx
  src/frontend/src/components/ProjectSubmissions/ProjectInfo.tsx
  src/frontend/src/components/QrcodeComponent.jsx
  src/frontend/src/components/common/Button.tsx
  src/frontend/src/environment.ts
  src/frontend/src/routes.jsx
  src/frontend/src/shared/AssetModules.js
  src/frontend/src/views/ManageProject.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

feat filterParams: filter out null objects
  src/frontend/src/utilfunctions/filterParams.ts
Labels: frontend

feat filterParams: filter out null objects
  src/frontend/src/utilfunctions/filterParams.ts
Labels: frontend

feat projectSubmissions: searchParams add on individual submissions page navigation
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/views/ProjectSubmissions.tsx
Labels: frontend

feat projectSubmissions: searchParams add on individual submissions page navigation
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/views/ProjectSubmissions.tsx
Labels: frontend

fix projectSubmissions: navigate to projectSubmissions with searchParams
  src/frontend/src/components/DialogTaskActions.jsx
  src/frontend/src/components/ProjectSubmissions/TaskSubmissions.tsx
Labels: frontend

fix projectSubmissions: navigate to projectSubmissions with searchParams
  src/frontend/src/components/DialogTaskActions.jsx
  src/frontend/src/components/ProjectSubmissions/TaskSubmissions.tsx
Labels: frontend

feat: added bbox in read project's outline (#1244)
  src/backend/app/projects/project_schemas.py
Labels: backend

feat: added bbox in read project's outline (#1244)
  src/backend/app/projects/project_schemas.py
Labels: backend

feat: flatgeobuf data extracts on frontend & backend (#1241)
  .pre-commit-config.yaml
  src/backend/app/central/central_crud.py
  src/backend/app/db/db_models.py
  src/backend/app/db/postgis_utils.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/tasks/tasks_crud.py
  src/backend/app/tasks/tasks_routes.py
  src/backend/migrations/005-remove-qrcode.sql
  src/backend/migrations/010-drop-features-table.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/migrations/revert/010-drop-features-table.sql
  src/backend/tests/conftest.py
  src/backend/tests/test_data/data_extract_kathmandu.fgb
  src/backend/tests/test_data/data_extract_kathmandu.geojson
  src/backend/tests/test_projects_routes.py
  src/frontend/src/api/Project.js
  src/frontend/src/api/SubmissionService.ts
  src/frontend/src/components/CreateEditOrganization/validation/OrganizationDetailsValidation.ts
  src/frontend/src/components/MapComponent/OpenLayersComponent/Layers/VectorLayer.js
  src/frontend/src/components/ProjectInfo/ProjectInfomap.jsx
  src/frontend/src/components/ProjectMap/ProjectMap.jsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/ProjectSubmissions/TaskSubmissionsMap.tsx
  src/frontend/src/components/SubmissionMap/SubmissionMap.jsx
  src/frontend/src/components/TasksMap/TasksMap.jsx
  src/frontend/src/components/createnewproject/validation/CreateProjectValidation.tsx
  src/frontend/src/components/organisation/Validation/OrganisationAddValidation.tsx
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/utilfunctions/urlChecker.ts
  src/frontend/src/views/NewProjectDetails.jsx
  src/frontend/src/views/ProjectDetails.jsx
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/frontend/src/views/ProjectInfo.tsx
  src/frontend/src/views/Submissions.tsx
  src/frontend/src/views/Tasks.tsx
Labels: frontend, backend, migration

feat: flatgeobuf data extracts on frontend & backend (#1241)
  .pre-commit-config.yaml
  src/backend/app/central/central_crud.py
  src/backend/app/db/db_models.py
  src/backend/app/db/postgis_utils.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/tasks/tasks_crud.py
  src/backend/app/tasks/tasks_routes.py
  src/backend/migrations/005-remove-qrcode.sql
  src/backend/migrations/010-drop-features-table.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/migrations/revert/010-drop-features-table.sql
  src/backend/tests/conftest.py
  src/backend/tests/test_data/data_extract_kathmandu.fgb
  src/backend/tests/test_data/data_extract_kathmandu.geojson
  src/backend/tests/test_projects_routes.py
  src/frontend/src/api/Project.js
  src/frontend/src/api/SubmissionService.ts
  src/frontend/src/components/CreateEditOrganization/validation/OrganizationDetailsValidation.ts
  src/frontend/src/components/MapComponent/OpenLayersComponent/Layers/VectorLayer.js
  src/frontend/src/components/ProjectInfo/ProjectInfomap.jsx
  src/frontend/src/components/ProjectMap/ProjectMap.jsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/ProjectSubmissions/TaskSubmissionsMap.tsx
  src/frontend/src/components/SubmissionMap/SubmissionMap.jsx
  src/frontend/src/components/TasksMap/TasksMap.jsx
  src/frontend/src/components/createnewproject/validation/CreateProjectValidation.tsx
  src/frontend/src/components/organisation/Validation/OrganisationAddValidation.tsx
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/utilfunctions/urlChecker.ts
  src/frontend/src/views/NewProjectDetails.jsx
  src/frontend/src/views/ProjectDetails.jsx
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/frontend/src/views/ProjectInfo.tsx
  src/frontend/src/views/Submissions.tsx
  src/frontend/src/views/Tasks.tsx
Labels: frontend, backend, migration

fix: move OdkDecrypted logic into project_deps (#1239)
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_deps.py
  src/backend/app/projects/project_routes.py
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
  src/backend/app/tasks/tasks_routes.py
Labels: backend

fix: move OdkDecrypted logic into project_deps (#1239)
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_deps.py
  src/backend/app/projects/project_routes.py
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
  src/backend/app/tasks/tasks_routes.py
Labels: backend

fix: comment broken SubmissionMap import on frontend
  src/frontend/src/views/Submissions.tsx
  src/frontend/src/views/Tasks.tsx
Labels: frontend

fix: comment broken SubmissionMap import on frontend
  src/frontend/src/views/Submissions.tsx
  src/frontend/src/views/Tasks.tsx
Labels: frontend

refactor: changed sync to async gather_all_submission_csvs (#1258)
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
Labels: backend

refactor: changed sync to async gather_all_submission_csvs (#1258)
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
Labels: backend

feat(manage-organizations): add `OrganizationCardSkeleton` component
  src/frontend/src/components/organisation/OrganizationCardSkeleton.tsx
Labels: frontend

feat(manage-organizations): add `OrganizationCardSkeleton` component
  src/frontend/src/components/organisation/OrganizationCardSkeleton.tsx
Labels: frontend

feat(manage-organisations): implement skeleton loader while Organizations are being fetched
  src/frontend/src/views/Organisation.tsx
Labels: frontend

feat(manage-organisations): implement skeleton loader while Organizations are being fetched
  src/frontend/src/views/Organisation.tsx
Labels: frontend

refactor: reorganize the code to make it cleaner
  src/frontend/src/views/Home.jsx
  src/frontend/src/views/Organisation.tsx
Labels: frontend

refactor: reorganize the code to make it cleaner
  src/frontend/src/views/Home.jsx
  src/frontend/src/views/Organisation.tsx
Labels: frontend

fix: send bbox from geojson properties to josm (#1256)
  src/frontend/src/api/task.ts
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
Labels: frontend

fix: send bbox from geojson properties to josm (#1256)
  src/frontend/src/api/task.ts
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
Labels: frontend

build: upgrade osm-rawdata --> 0.2.3 & relock all versions
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

build: upgrade osm-rawdata --> 0.2.3 & relock all versions
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend
