Repository hotosm/field-tm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, devops, migration, documentation, ODK, contrib

.github/labeler.yml:

"frontend":
  - "src/frontend/**/*"
"backend":
  - "src/backend/**/*"
"devops":
  - ".github/**/*"
  - "nginx/**/*"
  - "scripts/**/*"
  - "docker-*.yml"
  - "**/Dockerfile"
  - "**/*.dockerfile"
  - "**/*entrypoint.sh"
  - "Justfile"
"migration":
  - "src/backend/migrations/**/*"
"documentation":
  - "docs/**/*"
  - "images/**/*"
  - "mkdocs.yml"
  - "README.md"
  - "INSTALL.md"
"ODK":
  - "odkcentral/**/*"
"contrib":
  - "contrib/**/*"

fix: task hover popup & disable splitting algo without linestring (#1481)
  src/frontend/src/components/MapComponent/OpenLayersComponent/AsyncPopup/AsyncPopup.tsx
  src/frontend/src/components/common/RadioButton.tsx
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/utilfunctions/checkGeomTypeInGeojson.ts
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

fix: task hover popup & disable splitting algo without linestring (#1481)
  src/frontend/src/components/MapComponent/OpenLayersComponent/AsyncPopup/AsyncPopup.tsx
  src/frontend/src/components/common/RadioButton.tsx
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/utilfunctions/checkGeomTypeInGeojson.ts
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

docs: update timeline with additional dates
  docs/timeline.md
Labels: documentation

docs: update timeline with additional dates
  docs/timeline.md
Labels: documentation

docs: simplify readme, move details to docs
  README.md
  contrib/scripts/docs/reformat_md_links_as_ref.py
  docs/manuals/user-breakdown.md
  mkdocs.yml
Labels: documentation, contrib

docs: simplify readme, move details to docs
  README.md
  contrib/scripts/docs/reformat_md_links_as_ref.py
  docs/manuals/user-breakdown.md
  mkdocs.yml
Labels: documentation, contrib

docs: reorder readme headings
  README.md
Labels: documentation

docs: reorder readme headings
  README.md
Labels: documentation

docs: correctly format bullet points in readme
  README.md
Labels: documentation

docs: correctly format bullet points in readme
  README.md
Labels: documentation

docs: add code block style for install script in readme
  README.md
Labels: documentation

docs: add code block style for install script in readme
  README.md
Labels: documentation

fix(backend): get contributors count in project summary (#1484)
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/frontend/src/api/Project.js
  src/frontend/src/models/project/projectModel.ts
Labels: frontend, backend

fix(backend): get contributors count in project summary (#1484)
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/frontend/src/api/Project.js
  src/frontend/src/models/project/projectModel.ts
Labels: frontend, backend

fix(backend): use task ids to count validated and mapped status (#1485)
  src/backend/app/tasks/tasks_crud.py
  src/backend/app/tasks/tasks_routes.py
Labels: backend

fix(backend): use task ids to count validated and mapped status (#1485)
  src/backend/app/tasks/tasks_crud.py
  src/backend/app/tasks/tasks_routes.py
Labels: backend

build: upgrade osm-fieldwork --> v0.9.1 for latest forms
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

build: upgrade osm-fieldwork --> v0.9.1 for latest forms
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

build: disable vite watch.usePolling due to high cpu usage
  src/frontend/vite.config.ts
Labels: frontend

build: disable vite watch.usePolling due to high cpu usage
  src/frontend/vite.config.ts
Labels: frontend

feat: prompt user if task area is not fully mapped on mark complete (#1493)
  .all-contributorsrc
  src/frontend/src/components/DialogTaskActions.jsx
  src/frontend/src/components/common/Modal.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

feat: prompt user if task area is not fully mapped on mark complete (#1493)
  .all-contributorsrc
  src/frontend/src/components/DialogTaskActions.jsx
  src/frontend/src/components/common/Modal.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

build: update osm-fieldwork --> 0.9.2 for entities sheet fix
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

build: update osm-fieldwork --> 0.9.2 for entities sheet fix
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

feat: add OpenTelemetry configuration for backend API (monitoring) (#1496)
  .env.example
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_ci_img.yml
  .github/workflows/build_odk_imgs.yml
  .github/workflows/build_proxy_imgs.yml
  .github/workflows/docs.yml
  .github/workflows/pr_test_backend.yml
  .github/workflows/pr_test_frontend.yml
  .github/workflows/tag_build.yml
  .github/workflows/wiki.yml
  INSTALL.md
  docker-compose.yml
  observability/openobserve/docker-compose.yml
  src/backend/Dockerfile
  src/backend/app/config.py
  src/backend/app/main.py
  src/backend/app/monitoring.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_schemas.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend, devops, documentation

feat: add OpenTelemetry configuration for backend API (monitoring) (#1496)
  .env.example
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_ci_img.yml
  .github/workflows/build_odk_imgs.yml
  .github/workflows/build_proxy_imgs.yml
  .github/workflows/docs.yml
  .github/workflows/pr_test_backend.yml
  .github/workflows/pr_test_frontend.yml
  .github/workflows/tag_build.yml
  .github/workflows/wiki.yml
  INSTALL.md
  docker-compose.yml
  observability/openobserve/docker-compose.yml
  src/backend/Dockerfile
  src/backend/app/config.py
  src/backend/app/main.py
  src/backend/app/monitoring.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_schemas.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend, devops, documentation

feat (frontend: colour features based on entity mapping status (#1500)
  src/frontend/src/utilfunctions/getTaskStatusStyle.js
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

feat (frontend: colour features based on entity mapping status (#1500)
  src/frontend/src/utilfunctions/getTaskStatusStyle.js
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

Reduce endpoint calls for project details and submission page (#1501)
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_schemas.py
  src/backend/app/images/hot-org-logo.png
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/submissions/submission_routes.py
  src/frontend/src/api/Project.js
  src/frontend/src/api/ProjectTaskStatus.js
  src/frontend/src/api/task.ts
  src/frontend/src/components/DialogTaskActions.jsx
  src/frontend/src/components/ProjectDetailsV2/ProjectInfo.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsInfographics.tsx
  src/frontend/src/components/ProjectSubmissions/TaskSubmissions.tsx
  src/frontend/src/components/ProjectSubmissions/TaskSubmissionsMap.tsx
  src/frontend/src/models/project/projectModel.ts
  src/frontend/src/models/submission/submissionModel.ts
  src/frontend/src/models/task/taskModel.ts
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/store/slices/TaskSlice.ts
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/store/types/ITask.ts
  src/frontend/src/types/enums.ts
  src/frontend/src/utilfunctions/getTaskStatusStyle.js
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/frontend/src/views/ProjectSubmissions.tsx
Labels: frontend, backend

Reduce endpoint calls for project details and submission page (#1501)
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_schemas.py
  src/backend/app/images/hot-org-logo.png
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/submissions/submission_routes.py
  src/frontend/src/api/Project.js
  src/frontend/src/api/ProjectTaskStatus.js
  src/frontend/src/api/task.ts
  src/frontend/src/components/DialogTaskActions.jsx
  src/frontend/src/components/ProjectDetailsV2/ProjectInfo.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsInfographics.tsx
  src/frontend/src/components/ProjectSubmissions/TaskSubmissions.tsx
  src/frontend/src/components/ProjectSubmissions/TaskSubmissionsMap.tsx
  src/frontend/src/models/project/projectModel.ts
  src/frontend/src/models/submission/submissionModel.ts
  src/frontend/src/models/task/taskModel.ts
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/store/slices/TaskSlice.ts
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/store/types/ITask.ts
  src/frontend/src/types/enums.ts
  src/frontend/src/utilfunctions/getTaskStatusStyle.js
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/frontend/src/views/ProjectSubmissions.tsx
Labels: frontend, backend

fix(dialogTaskActions): same name variable conflict solve (#1506)
  src/frontend/src/components/DialogTaskActions.jsx
Labels: frontend

fix(dialogTaskActions): same name variable conflict solve (#1506)
  src/frontend/src/components/DialogTaskActions.jsx
Labels: frontend

Refactor submission endpoints backend/frontend (#1507)
  src/backend/app/projects/project_deps.py
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/views/SubmissionDetails.tsx
Labels: frontend, backend

Refactor submission endpoints backend/frontend (#1507)
  src/backend/app/projects/project_deps.py
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/views/SubmissionDetails.tsx
Labels: frontend, backend

fix: refactored project dashboard and submission graph (#1509)
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
Labels: backend

fix: refactored project dashboard and submission graph (#1509)
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
Labels: backend

Fix/frontend state api issues (#1513)
  src/frontend/src/components/DialogTaskActions.jsx
  src/frontend/src/components/ProjectDetailsV2/ActivitiesPanel.tsx
  src/frontend/src/components/ProjectDetailsV2/TaskSelectionPopup.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/ProjectSubmissions/TaskSubmissionsMap.tsx
  src/frontend/src/utilities/CustomDrawer.jsx
  src/frontend/src/utilities/PrimaryAppBar.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/frontend/src/views/ProjectSubmissions.tsx
  src/frontend/src/views/SubmissionDetails.tsx
Labels: frontend

Fix/frontend state api issues (#1513)
  src/frontend/src/components/DialogTaskActions.jsx
  src/frontend/src/components/ProjectDetailsV2/ActivitiesPanel.tsx
  src/frontend/src/components/ProjectDetailsV2/TaskSelectionPopup.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/ProjectSubmissions/TaskSubmissionsMap.tsx
  src/frontend/src/utilities/CustomDrawer.jsx
  src/frontend/src/utilities/PrimaryAppBar.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/frontend/src/views/ProjectSubmissions.tsx
  src/frontend/src/views/SubmissionDetails.tsx
Labels: frontend

Fix/task history tab order (#1514)
  src/frontend/src/components/ProjectDetailsV2/Comments.tsx
  src/frontend/src/models/project/projectModel.ts
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

Fix/task history tab order (#1514)
  src/frontend/src/components/ProjectDetailsV2/Comments.tsx
  src/frontend/src/models/project/projectModel.ts
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend
