Repository hotosm/field-tm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, devops, migration, documentation, ODK, contrib

.github/labeler.yml:

"frontend":
  - "src/frontend/**/*"
"backend":
  - "src/backend/**/*"
"devops":
  - ".github/**/*"
  - "nginx/**/*"
  - "scripts/**/*"
  - "docker-*.yml"
  - "**/Dockerfile"
  - "**/*.dockerfile"
  - "**/*entrypoint.sh"
  - "Justfile"
"migration":
  - "src/backend/migrations/**/*"
"documentation":
  - "docs/**/*"
  - "images/**/*"
  - "mkdocs.yml"
  - "README.md"
  - "INSTALL.md"
"ODK":
  - "odkcentral/**/*"
"contrib":
  - "contrib/**/*"

feat(backend): updated generate_project_files to bulk upload entities (#1714)
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_deps.py
  src/backend/app/db/postgis_utils.py
  src/backend/app/helpers/helper_routes.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_schemas.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

feat(backend): updated generate_project_files to bulk upload entities (#1714)
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_deps.py
  src/backend/app/db/postgis_utils.py
  src/backend/app/helpers/helper_routes.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_schemas.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

feat(backend): delete s3 objects on project deletion (#1718)
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/s3.py
Labels: backend

feat(backend): delete s3 objects on project deletion (#1718)
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/s3.py
Labels: backend

refactor(backend): remove additional warning logs from check_crs function
  src/backend/app/db/postgis_utils.py
Labels: backend

refactor(backend): remove additional warning logs from check_crs function
  src/backend/app/db/postgis_utils.py
Labels: backend

fix: xlsform question ordering + pmtile generation when custom TMS (#1721)
  src/backend/app/projects/project_crud.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

fix: xlsform question ordering + pmtile generation when custom TMS (#1721)
  src/backend/app/projects/project_crud.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

fix(frontend): increase maxZoom if project details map 20 --> 22 (drone imagery)
  src/frontend/src/components/MapComponent/OpenLayersComponent/useOLMap/index.js
Labels: frontend

fix(frontend): increase maxZoom if project details map 20 --> 22 (drone imagery)
  src/frontend/src/components/MapComponent/OpenLayersComponent/useOLMap/index.js
Labels: frontend

bump: version 2024.3.1 → 2024.3.2
  CHANGELOG.md
  chart/Chart.yaml
  src/backend/app/__version__.py
  src/backend/pyproject.toml
  src/frontend/package.json
Labels: frontend, backend

bump: version 2024.3.1 → 2024.3.2
  CHANGELOG.md
  chart/Chart.yaml
  src/backend/app/__version__.py
  src/backend/pyproject.toml
  src/frontend/package.json
Labels: frontend, backend

docs: update link to user breakdown page
  mkdocs.yml
Labels: documentation

docs: update link to user breakdown page
  mkdocs.yml
Labels: documentation

docs: update sidebar link to developer guide
  mkdocs.yml
Labels: documentation

docs: update sidebar link to developer guide
  mkdocs.yml
Labels: documentation

docs: add susmina to team page
  docs/about/team.md
Labels: documentation

docs: add susmina to team page
  docs/about/team.md
Labels: documentation

build: update trigger for odk db backup script to run
  src/backend/backup-entrypoint.sh
Labels: backend, devops

build: update trigger for odk db backup script to run
  src/backend/backup-entrypoint.sh
Labels: backend, devops

feat(frontend): add Playwright test for project creation workflow (#1700)
  .env.example
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_ci_img.yml
  .github/workflows/build_odk_imgs.yml
  .github/workflows/build_proxy_imgs.yml
  .github/workflows/docs.yml
  .github/workflows/pr_test_backend.yml
  .github/workflows/pr_test_frontend.yml
  .github/workflows/tag_build.yml
  .github/workflows/wiki.yml
  contrib/just/start/Justfile
  contrib/just/test/Justfile
  contrib/playwright/docker-compose.yml
  docker-compose.yml
  docs/dev/Frontend.md
  docs/dev/Troubleshooting.md
  src/backend/app/auth/auth_routes.py
  src/backend/app/config.py
  src/backend/app/projects/project_routes.py
  src/frontend/.gitignore
  src/frontend/e2e/createproject.spec.ts
  src/frontend/e2e/example.spec.ts
  src/frontend/e2e/files/invalid-aoi.geojson
  src/frontend/e2e/files/valid-aoi.geojson
  src/frontend/package.json
  src/frontend/playwright-tests-examples/demo-todo-app.spec.ts
  src/frontend/playwright.config.ts
  src/frontend/pnpm-lock.yaml
Labels: frontend, backend, devops, documentation, contrib

feat(frontend): add Playwright test for project creation workflow (#1700)
  .env.example
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_ci_img.yml
  .github/workflows/build_odk_imgs.yml
  .github/workflows/build_proxy_imgs.yml
  .github/workflows/docs.yml
  .github/workflows/pr_test_backend.yml
  .github/workflows/pr_test_frontend.yml
  .github/workflows/tag_build.yml
  .github/workflows/wiki.yml
  contrib/just/start/Justfile
  contrib/just/test/Justfile
  contrib/playwright/docker-compose.yml
  docker-compose.yml
  docs/dev/Frontend.md
  docs/dev/Troubleshooting.md
  src/backend/app/auth/auth_routes.py
  src/backend/app/config.py
  src/backend/app/projects/project_routes.py
  src/frontend/.gitignore
  src/frontend/e2e/createproject.spec.ts
  src/frontend/e2e/example.spec.ts
  src/frontend/e2e/files/invalid-aoi.geojson
  src/frontend/e2e/files/valid-aoi.geojson
  src/frontend/package.json
  src/frontend/playwright-tests-examples/demo-todo-app.spec.ts
  src/frontend/playwright.config.ts
  src/frontend/pnpm-lock.yaml
Labels: frontend, backend, devops, documentation, contrib

build: only run db backup for odk if CENTRAL_DB_HOST is not default
  src/backend/backup-entrypoint.sh
Labels: backend, devops

build: only run db backup for odk if CENTRAL_DB_HOST is not default
  src/backend/backup-entrypoint.sh
Labels: backend, devops

build: fix db backup script to work correctly on prod/stage
  src/backend/backup-entrypoint.sh
Labels: backend, devops

build: fix db backup script to work correctly on prod/stage
  src/backend/backup-entrypoint.sh
Labels: backend, devops
