Repository hotosm/field-tm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, devops, migration, documentation, ODK, contrib

.github/labeler.yml:

"frontend":
  - "src/frontend/**/*"
"backend":
  - "src/backend/**/*"
"devops":
  - ".github/**/*"
  - "nginx/**/*"
  - "scripts/**/*"
  - "docker-*.yml"
  - "**/Dockerfile"
  - "**/*.dockerfile"
  - "**/*entrypoint.sh"
  - "Justfile"
"migration":
  - "src/backend/migrations/**/*"
"documentation":
  - "docs/**/*"
  - "images/**/*"
  - "mkdocs.yml"
  - "README.md"
  - "INSTALL.md"
"ODK":
  - "odkcentral/**/*"
"contrib":
  - "contrib/**/*"

fix: pass project aoi as a outline geojson (#1533)
  src/frontend/src/components/createnewproject/SplitTasks.tsx
Labels: frontend

fix: pass project aoi as a outline geojson (#1533)
  src/frontend/src/components/createnewproject/SplitTasks.tsx
Labels: frontend

fix: valid matomo tracking script
  src/frontend/src/environment.ts
  src/frontend/src/main.tsx
Labels: frontend

fix: valid matomo tracking script
  src/frontend/src/environment.ts
  src/frontend/src/main.tsx
Labels: frontend

feat: add link for interactive xlsform editing during project creation (#1480)
  src/backend/app/config.py
  src/backend/app/db/db_models.py
  src/backend/app/helpers/helper_routes.py
  src/backend/app/main.py
  src/backend/app/projects/project_crud.py
  src/backend/migrations/init/fmtm_base_schema.sql
  src/frontend/src/components/common/Checkbox.tsx
  src/frontend/src/components/createnewproject/SelectForm.tsx
Labels: frontend, backend, migration

feat: add link for interactive xlsform editing during project creation (#1480)
  src/backend/app/config.py
  src/backend/app/db/db_models.py
  src/backend/app/helpers/helper_routes.py
  src/backend/app/main.py
  src/backend/app/projects/project_crud.py
  src/backend/migrations/init/fmtm_base_schema.sql
  src/frontend/src/components/common/Checkbox.tsx
  src/frontend/src/components/createnewproject/SelectForm.tsx
Labels: frontend, backend, migration

refactor: remove broken submission code no longer used
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_routes.py
  src/backend/app/submissions/submission_crud.py
Labels: backend

refactor: remove broken submission code no longer used
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_routes.py
  src/backend/app/submissions/submission_crud.py
Labels: backend

fix(backend): validation_exception_handler pass all required params
  src/backend/app/main.py
Labels: backend

fix(backend): validation_exception_handler pass all required params
  src/backend/app/main.py
Labels: backend

build: remove redundant version key from docker-compose files
  contrib/josm/docker-compose.yml
  docker-compose.development.yml
  docker-compose.main.yml
  docker-compose.staging.yml
  docker-compose.yml
  observability/openobserve/docker-compose.yml
Labels: devops, contrib

build: remove redundant version key from docker-compose files
  contrib/josm/docker-compose.yml
  docker-compose.development.yml
  docker-compose.main.yml
  docker-compose.staging.yml
  docker-compose.yml
  observability/openobserve/docker-compose.yml
Labels: devops, contrib

build: move openobserve compose setup to contrib
  Justfile
  contrib/openobserve/docker-compose.yml
  docs/dev/Release-Cycle.md
  mkdocs.yml
Labels: devops, documentation, contrib

build: move openobserve compose setup to contrib
  Justfile
  contrib/openobserve/docker-compose.yml
  docs/dev/Release-Cycle.md
  mkdocs.yml
Labels: devops, documentation, contrib

refactor: remove missed warning log from update_survey_form
  src/backend/app/central/central_crud.py
Labels: backend

refactor: remove missed warning log from update_survey_form
  src/backend/app/central/central_crud.py
Labels: backend

build: add cloudflare tunnel config to contrib
  Justfile
  contrib/tunnel/fmtm/docker-compose.yml
  contrib/tunnel/odk/docker-compose.yml
Labels: devops, contrib

build: add cloudflare tunnel config to contrib
  Justfile
  contrib/tunnel/fmtm/docker-compose.yml
  contrib/tunnel/odk/docker-compose.yml
Labels: devops, contrib

docs: update backend dev guide, remove redundant, add tunneling info
  docs/dev/Backend.md
Labels: documentation

docs: update backend dev guide, remove redundant, add tunneling info
  docs/dev/Backend.md
Labels: documentation

fix(backend): generate location_str in model_validator instead of computed_field (#1534)
  src/backend/app/db/postgis_utils.py
  src/backend/app/projects/project_schemas.py
Labels: backend

fix(backend): generate location_str in model_validator instead of computed_field (#1534)
  src/backend/app/db/postgis_utils.py
  src/backend/app/projects/project_schemas.py
Labels: backend

build: add CENTRAL_DOMAIN_OVERRIDE param, used for tunnelling
  docker-compose.yml
Labels: devops

build: add CENTRAL_DOMAIN_OVERRIDE param, used for tunnelling
  docker-compose.yml
Labels: devops

docs: add info about using FMTM and ODK tunnels during dev
  docs/dev/Backend.md
Labels: documentation

docs: add info about using FMTM and ODK tunnels during dev
  docs/dev/Backend.md
Labels: documentation

docs: simplify steps for running cloudflare tunnels
  docs/dev/Backend.md
Labels: documentation

docs: simplify steps for running cloudflare tunnels
  docs/dev/Backend.md
Labels: documentation

docs: fix docs for cloudflare tunnelling fmtm
  docs/dev/Backend.md
Labels: documentation

docs: fix docs for cloudflare tunnelling fmtm
  docs/dev/Backend.md
Labels: documentation

fix: pmtile basemap generation and remove temp workarounds (#1535)
  src/backend/Dockerfile
  src/backend/app/projects/project_crud.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend, devops

fix: pmtile basemap generation and remove temp workarounds (#1535)
  src/backend/Dockerfile
  src/backend/app/projects/project_crud.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend, devops

fix: lock map feature if 'Map Feature In ODK' clicked (#1516)
  src/frontend/src/api/Project.js
  src/frontend/src/api/ProjectTaskStatus.js
  src/frontend/src/components/ProjectDetailsV2/FeatureSelectionPopup.tsx
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/store/slices/TaskSlice.ts
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/store/types/ITask.ts
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

fix: lock map feature if 'Map Feature In ODK' clicked (#1516)
  src/frontend/src/api/Project.js
  src/frontend/src/api/ProjectTaskStatus.js
  src/frontend/src/components/ProjectDetailsV2/FeatureSelectionPopup.tsx
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/store/slices/TaskSlice.ts
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/store/types/ITask.ts
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

build: update Just and Justfile modules for better dev experience (#1537)
  Justfile
  contrib/josm/docker-compose.yml
  contrib/just/README.md
  contrib/just/dotenv/Justfile
  contrib/just/start/Justfile
  contrib/just/stop/Justfile
  contrib/just/test/Justfile
  contrib/tunnel/docker-compose.yml
  docker-compose.yml
  docs/dev/Backend.md
Labels: devops, documentation, contrib

build: update Just and Justfile modules for better dev experience (#1537)
  Justfile
  contrib/josm/docker-compose.yml
  contrib/just/README.md
  contrib/just/dotenv/Justfile
  contrib/just/start/Justfile
  contrib/just/stop/Justfile
  contrib/just/test/Justfile
  contrib/tunnel/docker-compose.yml
  docker-compose.yml
  docs/dev/Backend.md
Labels: devops, documentation, contrib

bump: version 2024.2.0 → 2024.3.0
  CHANGELOG.md
  chart/Chart.yaml
  src/backend/app/__version__.py
  src/backend/pyproject.toml
  src/frontend/package.json
Labels: frontend, backend

bump: version 2024.2.0 → 2024.3.0
  CHANGELOG.md
  chart/Chart.yaml
  src/backend/app/__version__.py
  src/backend/pyproject.toml
  src/frontend/package.json
Labels: frontend, backend

refactor: rename fmtm.dev --> docs.fmtm.dev for docs site
  README.md
  docs/CNAME
Labels: documentation

refactor: rename fmtm.dev --> docs.fmtm.dev for docs site
  README.md
  docs/CNAME
Labels: documentation
