Repository hotosm/field-tm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, devops, migration, documentation, ODK, contrib

bump: version 2024.2.0 → 2024.3.0
  CHANGELOG.md
  src/backend/app/__version__.py
  src/backend/pyproject.toml
  src/frontend/package.json
Labels: frontend, backend

bump: version 2024.2.0 → 2024.3.0
  CHANGELOG.md
  src/backend/app/__version__.py
  src/backend/pyproject.toml
  src/frontend/package.json
Labels: frontend, backend

build: bump version string --> 2024.0.2 to prep for next release
  src/backend/app/__version__.py
  src/backend/pyproject.toml
  src/frontend/package.json
Labels: frontend, backend

build: bump version string --> 2024.0.2 to prep for next release
  src/backend/app/__version__.py
  src/backend/pyproject.toml
  src/frontend/package.json
Labels: frontend, backend

bump: version 2024.2.0 → 2024.3.0
  CHANGELOG.md
  src/backend/app/__version__.py
  src/backend/pyproject.toml
  src/frontend/package.json
Labels: frontend, backend

bump: version 2024.2.0 → 2024.3.0
  CHANGELOG.md
  src/backend/app/__version__.py
  src/backend/pyproject.toml
  src/frontend/package.json
Labels: frontend, backend

fix: return db user instead of auth user on /auth/me (#1247)
  src/backend/app/auth/auth_routes.py
Labels: backend

fix: return db user instead of auth user on /auth/me (#1247)
  src/backend/app/auth/auth_routes.py
Labels: backend

feat: submission review status modal (#1246)
  src/frontend/src/api/Submission.ts
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/ProjectSubmissions/UpdateReviewStatusModal.tsx
  src/frontend/src/components/SubmissionMap/SubmissionInstanceMap.jsx
  src/frontend/src/components/common/CustomTable.tsx
  src/frontend/src/components/common/Modal.tsx
  src/frontend/src/models/submission/submissionModel.ts
  src/frontend/src/store/slices/SubmissionSlice.ts
  src/frontend/src/store/types/ISubmissions.ts
  src/frontend/src/views/SubmissionDetails.tsx
Labels: frontend

feat: submission review status modal (#1246)
  src/frontend/src/api/Submission.ts
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/ProjectSubmissions/UpdateReviewStatusModal.tsx
  src/frontend/src/components/SubmissionMap/SubmissionInstanceMap.jsx
  src/frontend/src/components/common/CustomTable.tsx
  src/frontend/src/components/common/Modal.tsx
  src/frontend/src/models/submission/submissionModel.ts
  src/frontend/src/store/slices/SubmissionSlice.ts
  src/frontend/src/store/types/ISubmissions.ts
  src/frontend/src/views/SubmissionDetails.tsx
Labels: frontend

build: update fmtm-splitter --> 1.2.0 to remove geopandas dep
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

build: update fmtm-splitter --> 1.2.0 to remove geopandas dep
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

fix: remove add org btn, redirect for submissions page (#1332)
  src/frontend/src/components/ProjectDetailsV2/TaskSectionPopup.tsx
  src/frontend/src/components/ProjectSubmissions/ProjectInfo.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/models/project/projectModel.ts
  src/frontend/src/views/SubmissionDetails.tsx
Labels: frontend

fix: remove add org btn, redirect for submissions page (#1332)
  src/frontend/src/components/ProjectDetailsV2/TaskSectionPopup.tsx
  src/frontend/src/components/ProjectSubmissions/ProjectInfo.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/models/project/projectModel.ts
  src/frontend/src/views/SubmissionDetails.tsx
Labels: frontend

fix(hotfix): use centroids for extract division by task area (#1336)
  src/backend/app/db/postgis_utils.py
Labels: backend

fix(hotfix): use centroids for extract division by task area (#1336)
  src/backend/app/db/postgis_utils.py
Labels: backend

fix(hotfix): use centroids for extract division by task area (#1336)
  src/backend/app/db/postgis_utils.py
Labels: backend

fix(hotfix): use centroids for extract division by task area (#1336)
  src/backend/app/db/postgis_utils.py
Labels: backend

fix vectorLayer: remove hover effect code leading screen blank issue
  src/frontend/src/components/MapComponent/OpenLayersComponent/Layers/VectorLayer.js
Labels: frontend

fix vectorLayer: remove hover effect code leading screen blank issue
  src/frontend/src/components/MapComponent/OpenLayersComponent/Layers/VectorLayer.js
Labels: frontend

docs: update PR template with review section & alternative approache
  .github/pull_request_template.md
Labels: devops

docs: update PR template with review section & alternative approache
  .github/pull_request_template.md
Labels: devops

build: add pyxform to dev/stage docker compose setup
  docker-compose.development.yml
Labels: devops

build: add pyxform to dev/stage docker compose setup
  docker-compose.development.yml
Labels: devops

feat: navigation WIP
  src/frontend/src/assets/images/navigation.svg
  src/frontend/src/components/home/ProjectListMap.tsx
Labels: frontend

feat: navigation WIP
  src/frontend/src/assets/images/navigation.svg
  src/frontend/src/components/home/ProjectListMap.tsx
Labels: frontend

fix: issues on project summaries with no centroids
  src/backend/app/projects/project_schemas.py
  src/frontend/src/components/home/ProjectListMap.tsx
Labels: frontend, backend

fix: issues on project summaries with no centroids
  src/backend/app/projects/project_schemas.py
  src/frontend/src/components/home/ProjectListMap.tsx
Labels: frontend, backend

docs: update pull request template link to code of conduct
  .github/pull_request_template.md
Labels: devops

docs: update pull request template link to code of conduct
  .github/pull_request_template.md
Labels: devops

fix: blank space input validation (#1362)
  src/frontend/src/components/CreateEditOrganization/validation/OrganizationDetailsValidation.ts
  src/frontend/src/components/ManageProject/EditTab/validation/EditProjectDetailsValidation.ts
  src/frontend/src/components/createnewproject/validation/CreateProjectValidation.tsx
  src/frontend/src/utilfunctions/commonUtils.ts
Labels: frontend

fix: blank space input validation (#1362)
  src/frontend/src/components/CreateEditOrganization/validation/OrganizationDetailsValidation.ts
  src/frontend/src/components/ManageProject/EditTab/validation/EditProjectDetailsValidation.ts
  src/frontend/src/components/createnewproject/validation/CreateProjectValidation.tsx
  src/frontend/src/utilfunctions/commonUtils.ts
Labels: frontend

feat: uploadArea edit AOI btn add (#1346)
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
Labels: frontend

feat: uploadArea edit AOI btn add (#1346)
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
Labels: frontend

hotfix: enableHighAccuracy true and frequency to 1
  src/frontend/src/components/home/ProjectListMap.tsx
Labels: frontend

hotfix: enableHighAccuracy true and frequency to 1
  src/frontend/src/components/home/ProjectListMap.tsx
Labels: frontend

feat: navigation icon changes
  src/frontend/src/assets/images/navigation.png
  src/frontend/src/assets/images/rednavigationmarker.svg
  src/frontend/src/components/home/ProjectListMap.tsx
  src/frontend/vite.config.ts
Labels: frontend

feat: navigation icon changes
  src/frontend/src/assets/images/navigation.png
  src/frontend/src/assets/images/rednavigationmarker.svg
  src/frontend/src/components/home/ProjectListMap.tsx
  src/frontend/vite.config.ts
Labels: frontend

fix: ui for basemap gen, tooltip titles (#1363)
  src/frontend/src/api/OrganisationService.ts
  src/frontend/src/components/GenerateBasemap.jsx
  src/frontend/src/components/ProjectDetailsV2/MapControlComponent.tsx
  src/frontend/src/components/ProjectDetailsV2/TaskSectionPopup.tsx
  src/frontend/src/components/QrcodeComponent.jsx
  src/frontend/src/views/Organisation.tsx
Labels: frontend

fix: ui for basemap gen, tooltip titles (#1363)
  src/frontend/src/api/OrganisationService.ts
  src/frontend/src/components/GenerateBasemap.jsx
  src/frontend/src/components/ProjectDetailsV2/MapControlComponent.tsx
  src/frontend/src/components/ProjectDetailsV2/TaskSectionPopup.tsx
  src/frontend/src/components/QrcodeComponent.jsx
  src/frontend/src/views/Organisation.tsx
Labels: frontend

.github/labeler.yml:

"frontend":
  - "src/frontend/**/*"
"backend":
  - "src/backend/**/*"
"devops":
  - ".github/**/*"
  - "nginx/**/*"
  - "scripts/**/*"
  - "docker-*.yml"
  - "**/Dockerfile"
  - "**/*.dockerfile"
  - "**/*entrypoint.sh"
  - "Justfile"
"migration":
  - "src/backend/migrations/**/*"
"documentation":
  - "docs/**/*"
  - "images/**/*"
  - "mkdocs.yml"
  - "README.md"
  - "INSTALL.md"
"ODK":
  - "odkcentral/**/*"
"contrib":
  - "contrib/**/*"
