Repository hotosm/field-tm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, devops, migration, documentation, ODK, contrib

build: fix base init schema to use public.geometry correctly
  src/backend/migrations/init/fmtm_base_schema.sql
Labels: backend, migration

build: fix base init schema to use public.geometry correctly
  src/backend/migrations/init/fmtm_base_schema.sql
Labels: backend, migration

feat: use Matomo tracking web component, with accept/disagree prompt (#1546)
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/src/App.tsx
Labels: frontend

feat: use Matomo tracking web component, with accept/disagree prompt (#1546)
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/src/App.tsx
Labels: frontend

build(frontend): relock frontend deps after hotosm/ui --> v0.2.0-b4
  src/frontend/pnpm-lock.yaml
Labels: frontend

build(frontend): relock frontend deps after hotosm/ui --> v0.2.0-b4
  src/frontend/pnpm-lock.yaml
Labels: frontend

refactor(frontend): import hotosm/ui styles.css --> style.css change
  src/frontend/src/App.tsx
Labels: frontend

refactor(frontend): import hotosm/ui styles.css --> style.css change
  src/frontend/src/App.tsx
Labels: frontend

build(frontend): upgrade recharts --> 2.13.0-alpha.4 for react 19 support
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
Labels: frontend

build(frontend): upgrade recharts --> 2.13.0-alpha.4 for react 19 support
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
Labels: frontend

fix(frontend): only display matomo tracking banner in prod
  src/frontend/src/App.tsx
Labels: frontend

fix(frontend): only display matomo tracking banner in prod
  src/frontend/src/App.tsx
Labels: frontend

refactor(frontend): update link to custom odk collect from intent apk
  src/frontend/src/utilities/CustomDrawer.jsx
Labels: frontend

refactor(frontend): update link to custom odk collect from intent apk
  src/frontend/src/utilities/CustomDrawer.jsx
Labels: frontend

refactor(frontend): update download url for custom ODK Collect APK
  src/frontend/src/utilities/CustomDrawer.jsx
Labels: frontend

refactor(frontend): update download url for custom ODK Collect APK
  src/frontend/src/utilities/CustomDrawer.jsx
Labels: frontend

feat: add healthcare form category & minor fixes (#1555)
  src/backend/app/central/central_crud.py
  src/backend/app/helpers/helper_routes.py
  src/backend/app/models/enums.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_deps.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/api/Project.js
  src/frontend/src/components/createnewproject/SplitTasks.tsx
Labels: frontend, backend

feat: add healthcare form category & minor fixes (#1555)
  src/backend/app/central/central_crud.py
  src/backend/app/helpers/helper_routes.py
  src/backend/app/models/enums.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_deps.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/api/Project.js
  src/frontend/src/components/createnewproject/SplitTasks.tsx
Labels: frontend, backend

build: update to latest react 19 release candidate
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
Labels: frontend

build: update to latest react 19 release candidate
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
Labels: frontend

fix(frontend): redirect user to requested page after login (#1559)
  src/frontend/src/components/LoginPopup.tsx
  src/frontend/src/routes.jsx
  src/frontend/src/utilities/ProtectedRoute.jsx
  src/frontend/src/views/OsmAuth.tsx
Labels: frontend

fix(frontend): redirect user to requested page after login (#1559)
  src/frontend/src/components/LoginPopup.tsx
  src/frontend/src/routes.jsx
  src/frontend/src/utilities/ProtectedRoute.jsx
  src/frontend/src/views/OsmAuth.tsx
Labels: frontend

fix(frontend): block project create if no extract features (#1561)
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/store/types/ICreateProject.ts
Labels: frontend

fix(frontend): block project create if no extract features (#1561)
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/store/types/ICreateProject.ts
Labels: frontend

test(backend): update project endpoint (#1557)
  .pre-commit-config.yaml
  src/backend/tests/test_projects_routes.py
Labels: backend

test(backend): update project endpoint (#1557)
  .pre-commit-config.yaml
  src/backend/tests/test_projects_routes.py
Labels: backend

fix(projectDetailsV2): taskLayer color not update issue solve (#1569)
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

fix(projectDetailsV2): taskLayer color not update issue solve (#1569)
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

fix(charts): size state to track responsive container to fix charts misalignment (#1570)
  src/frontend/src/components/common/BarChart.tsx
  src/frontend/src/components/common/LineChart.tsx
  src/frontend/src/components/common/PieChart.tsx
Labels: frontend

fix(charts): size state to track responsive container to fix charts misalignment (#1570)
  src/frontend/src/components/common/BarChart.tsx
  src/frontend/src/components/common/LineChart.tsx
  src/frontend/src/components/common/PieChart.tsx
Labels: frontend

fix(taskSubmissions): show task card of tasks even if no features, view submissions btn hide if no features (#1571)
  src/frontend/src/components/ProjectSubmissions/TaskSubmissions.tsx
Labels: frontend

fix(taskSubmissions): show task card of tasks even if no features, view submissions btn hide if no features (#1571)
  src/frontend/src/components/ProjectSubmissions/TaskSubmissions.tsx
Labels: frontend

fix(frontend): recharts UI misalignment (#1575)
  src/frontend/src/components/common/CustomTable.tsx
Labels: frontend

fix(frontend): recharts UI misalignment (#1575)
  src/frontend/src/components/common/CustomTable.tsx
Labels: frontend

fix(customTable): misalignment via classname add (#1578)
  src/frontend/package.json
  src/frontend/src/components/common/CustomTable.tsx
Labels: frontend

fix(customTable): misalignment via classname add (#1578)
  src/frontend/package.json
  src/frontend/src/components/common/CustomTable.tsx
Labels: frontend

fix(createProject): disable submit btn until redirection to details page (#1585)
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/components/createnewproject/SplitTasks.tsx
Labels: frontend

fix(createProject): disable submit btn until redirection to details page (#1585)
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/components/createnewproject/SplitTasks.tsx
Labels: frontend

fix: ensure `status` Entity field is updated alongside survey form `status` field (#1586)
  src/backend/app/central/central_crud.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

fix: ensure `status` Entity field is updated alongside survey form `status` field (#1586)
  src/backend/app/central/central_crud.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

.github/labeler.yml:

"frontend":
  - "src/frontend/**/*"
"backend":
  - "src/backend/**/*"
"devops":
  - ".github/**/*"
  - "nginx/**/*"
  - "scripts/**/*"
  - "docker-*.yml"
  - "**/Dockerfile"
  - "**/*.dockerfile"
  - "**/*entrypoint.sh"
  - "Justfile"
"migration":
  - "src/backend/migrations/**/*"
"documentation":
  - "docs/**/*"
  - "images/**/*"
  - "mkdocs.yml"
  - "README.md"
  - "INSTALL.md"
"ODK":
  - "odkcentral/**/*"
"contrib":
  - "contrib/**/*"
