Repository hotosm/field-tm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, devops, migration, documentation, ODK

.github/labeler.yml:

"frontend":
  - "src/frontend/**/*"
"backend":
  - "src/backend/**/*"
"devops":
  - ".github/**/*"
  - "scripts/**/*"
  - "docker-*.yml"
  - "**/Dockerfile"
  - "**/*.dockerfile"
  - "**/*entrypoint.sh"
  - "josm/**/*"
"migration":
  - "src/backend/migrations/**/*"
"documentation":
  - "docs/**/*"
  - "images/**/*"
  - "mkdocs.yml"
  - "README.md"
  - "INSTALL.md"
"ODK":
  - "odkcentral/**/*"

build: update MINIO_BROWSER value to string
  docker-compose.development.yml
  docker-compose.noodk.yml
  docker-compose.yml
Labels: devops

build: update MINIO_BROWSER value to string
  docker-compose.development.yml
  docker-compose.noodk.yml
  docker-compose.yml
Labels: devops

ci: use ref_name directly for compose file naming
  .github/workflows/build_and_deploy.yml
Labels: devops

ci: use ref_name directly for compose file naming
  .github/workflows/build_and_deploy.yml
Labels: devops

fix (projectDetails): dynamic grid-col removed due to issues, footerItemList component seperated
  src/frontend/src/components/ProjectDetails/MobileFooter.tsx
Labels: frontend

fix (projectDetails): dynamic grid-col removed due to issues, footerItemList component seperated
  src/frontend/src/components/ProjectDetails/MobileFooter.tsx
Labels: frontend

fix: inform user if GeoJSON CRS is not EPSG:4326 (#919)
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

fix: inform user if GeoJSON CRS is not EPSG:4326 (#919)
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

build: update gitignore for all pnpm & lock files
  .gitignore
Labels: none

build: update gitignore for all pnpm & lock files
  .gitignore
Labels: none

fix: removed icon from activities
  src/frontend/src/components/Activities.jsx
Labels: frontend

fix: removed icon from activities
  src/frontend/src/components/Activities.jsx
Labels: frontend

fix: warning message before project creation action is cancelled (#924)
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/constants/blockerUrl.ts
  src/frontend/src/hooks/Prompt.tsx
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/views/CreateNewProject.tsx
Labels: frontend

fix: warning message before project creation action is cancelled (#924)
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/constants/blockerUrl.ts
  src/frontend/src/hooks/Prompt.tsx
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/views/CreateNewProject.tsx
Labels: frontend

Feat project details map component (#926)
  src/frontend/src/components/GenerateMbTiles.jsx
  src/frontend/src/components/MapComponent/OpenLayersComponent/LayerSwitcher/index.js
  src/frontend/src/components/MapComponent/OpenLayersComponent/Layers/VectorLayer.js
  src/frontend/src/components/MapLegends.jsx
  src/frontend/src/components/ProjectDetails/MapControlComponent.tsx
  src/frontend/src/components/ProjectDetails/MobileFooter.tsx
  src/frontend/src/components/ProjectDetails/TaskSectionPopup.tsx
  src/frontend/src/components/ProjectInfo/ProjectInfomap.jsx
  src/frontend/src/components/TasksLayer.jsx
  src/frontend/src/components/common/Accordion.tsx
  src/frontend/src/components/common/BottomSheet.tsx
  src/frontend/src/routes.jsx
  src/frontend/src/shared/AssetModules.js
  src/frontend/src/utilfunctions/getTaskStatusStyle.js
  src/frontend/src/views/NewProjectDetails.jsx
Labels: frontend

Feat project details map component (#926)
  src/frontend/src/components/GenerateMbTiles.jsx
  src/frontend/src/components/MapComponent/OpenLayersComponent/LayerSwitcher/index.js
  src/frontend/src/components/MapComponent/OpenLayersComponent/Layers/VectorLayer.js
  src/frontend/src/components/MapLegends.jsx
  src/frontend/src/components/ProjectDetails/MapControlComponent.tsx
  src/frontend/src/components/ProjectDetails/MobileFooter.tsx
  src/frontend/src/components/ProjectDetails/TaskSectionPopup.tsx
  src/frontend/src/components/ProjectInfo/ProjectInfomap.jsx
  src/frontend/src/components/TasksLayer.jsx
  src/frontend/src/components/common/Accordion.tsx
  src/frontend/src/components/common/BottomSheet.tsx
  src/frontend/src/routes.jsx
  src/frontend/src/shared/AssetModules.js
  src/frontend/src/utilfunctions/getTaskStatusStyle.js
  src/frontend/src/views/NewProjectDetails.jsx
Labels: frontend
