Repository hotosm/field-tm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, devops, migration, docs, ODK, contrib, tests

.github/labeler.yml:

bug:
  # Branch starts with `fix` or has a `fix` in the name
  - head-branch: ["^fix", "fix"]
enhancement:
  - head-branch:
      ["^feature", "feature", "^feat", "feat", "^refactor", "refactor"]
frontend:
  - changed-files:
      - any-glob-to-any-file: src/frontend/**
backend:
  - changed-files:
      - any-glob-to-any-file: src/backend/**
devops:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**
          - nginx/**
          - scripts/**
          - docker-*.yml
          - ./**/Dockerfile
          - ./**/.dockerfile
          - ./**/*entrypoint.sh
          - ./**/Justfile
migration:
  - changed-files:
      - any-glob-to-any-file: src/backend/migrations/**
docs:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**
          - images/**
          - mkdocs.yml
          - README.md
          - INSTALL.md
ODK:
  - changed-files:
      - any-glob-to-any-file: odkcentral/**
contrib:
  - changed-files:
      - any-glob-to-any-file: contrib/**
tests:
  - changed-files:
      - any-glob-to-any-file:
          - src/backend/tests/**
          - src/frontend/tests/**
          - src/frontend/e2e/**

docs: add timeline link to monrovia project report
  docs/timeline.md
Labels: docs

docs: add timeline link to monrovia project report
  docs/timeline.md
Labels: docs

build: add defaults for ODK_CENTRAL_TAG to prevent dockerfile lint warnings
  odkcentral/api/Dockerfile
  odkcentral/ui/Dockerfile
Labels: devops, ODK

build: add defaults for ODK_CENTRAL_TAG to prevent dockerfile lint warnings
  odkcentral/api/Dockerfile
  odkcentral/ui/Dockerfile
Labels: devops, ODK

docs: restructure scripts, update Setup.md docs for clarity
  INSTALL.md
  docs/dev/Production.md
  docs/dev/Setup.md
  docs/manuals/project-managers.md
  scripts/0-container-engine/README.md
  scripts/0-container-engine/docker.sh
  scripts/0-container-engine/podman.sh
  scripts/1-environment/gen-env.sh
  scripts/README.md
  scripts/misc/gen_openapi_json.py
  scripts/misc/renew-certs-manual.sh
Labels: devops, docs

docs: restructure scripts, update Setup.md docs for clarity
  INSTALL.md
  docs/dev/Production.md
  docs/dev/Setup.md
  docs/manuals/project-managers.md
  scripts/0-container-engine/README.md
  scripts/0-container-engine/docker.sh
  scripts/0-container-engine/podman.sh
  scripts/1-environment/gen-env.sh
  scripts/README.md
  scripts/misc/gen_openapi_json.py
  scripts/misc/renew-certs-manual.sh
Labels: devops, docs

Add files via upload
  docs/about/FMTM Field Mapping Guidelines.md
Labels: docs

Add files via upload
  docs/about/FMTM Field Mapping Guidelines.md
Labels: docs

fixed markdownlint error
  docs/about/FMTM Field Mapping Guidelines.md
Labels: docs

fixed markdownlint error
  docs/about/FMTM Field Mapping Guidelines.md
Labels: docs

refactor (mapper): update styles, update TS types, update accessibility (#2059)
  src/mapper/src/app.html
  src/mapper/src/lib/components/bottom-sheet.svelte
  src/mapper/src/lib/components/dialog-entities-actions.svelte
  src/mapper/src/lib/components/dialog-task-actions.svelte
  src/mapper/src/lib/components/header.svelte
  src/mapper/src/lib/components/login.svelte
  src/mapper/src/lib/components/map/geolocation.svelte
  src/mapper/src/lib/components/map/layer-switcher.svelte
  src/mapper/src/lib/components/map/legend.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/lib/components/more/activities.svelte
  src/mapper/src/lib/components/more/comment.svelte
  src/mapper/src/lib/components/more/index.svelte
  src/mapper/src/lib/components/more/project-info.svelte
  src/mapper/src/lib/components/more/skeleton/activities.svelte
  src/mapper/src/lib/components/more/skeleton/comment.svelte
  src/mapper/src/lib/components/offline/basemaps.svelte
  src/mapper/src/lib/components/qrcode.svelte
  src/mapper/src/routes/+layout.svelte
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/src/styles/page.css
Labels: none

refactor (mapper): update styles, update TS types, update accessibility (#2059)
  src/mapper/src/app.html
  src/mapper/src/lib/components/bottom-sheet.svelte
  src/mapper/src/lib/components/dialog-entities-actions.svelte
  src/mapper/src/lib/components/dialog-task-actions.svelte
  src/mapper/src/lib/components/header.svelte
  src/mapper/src/lib/components/login.svelte
  src/mapper/src/lib/components/map/geolocation.svelte
  src/mapper/src/lib/components/map/layer-switcher.svelte
  src/mapper/src/lib/components/map/legend.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/lib/components/more/activities.svelte
  src/mapper/src/lib/components/more/comment.svelte
  src/mapper/src/lib/components/more/index.svelte
  src/mapper/src/lib/components/more/project-info.svelte
  src/mapper/src/lib/components/more/skeleton/activities.svelte
  src/mapper/src/lib/components/more/skeleton/comment.svelte
  src/mapper/src/lib/components/offline/basemaps.svelte
  src/mapper/src/lib/components/qrcode.svelte
  src/mapper/src/routes/+layout.svelte
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/src/styles/page.css
Labels: none

fixed linting issue
  docs/about/FMTM Field Mapping Guidelines.md
Labels: docs

fixed linting issue
  docs/about/FMTM Field Mapping Guidelines.md
Labels: docs

fix linting errors
  docs/about/FMTM Field Mapping Guidelines.md
  docs/about/image.png
Labels: docs

fix linting errors
  docs/about/FMTM Field Mapping Guidelines.md
  docs/about/image.png
Labels: docs

refactor(frontend): update TS types on actions (#2054)
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/api/HomeService.ts
  src/frontend/src/api/OrganisationService.ts
  src/frontend/src/api/Project.ts
  src/frontend/src/api/Submission.ts
  src/frontend/src/api/SubmissionService.ts
  src/frontend/src/api/task.ts
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/ProjectSubmissions/UpdateReviewStatusModal.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
  src/frontend/src/models/createproject/createProjectModel.ts
  src/frontend/src/models/home/homeModel.ts
  src/frontend/src/models/organisation/organisationModel.ts
  src/frontend/src/models/project/projectModel.ts
  src/frontend/src/models/submission/submissionModel.ts
  src/frontend/src/models/task/taskModel.ts
  src/frontend/src/store/slices/CommonSlice.ts
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/slices/HomeSlice.ts
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/store/slices/SubmissionSlice.ts
  src/frontend/src/store/slices/TaskSlice.ts
  src/frontend/src/store/slices/organisationSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/store/types/IHome.ts
  src/frontend/src/store/types/IOrganisation.ts
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/store/types/ITask.ts
  src/frontend/src/views/NewDefineAreaMap.tsx
Labels: frontend

refactor(frontend): update TS types on actions (#2054)
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/api/HomeService.ts
  src/frontend/src/api/OrganisationService.ts
  src/frontend/src/api/Project.ts
  src/frontend/src/api/Submission.ts
  src/frontend/src/api/SubmissionService.ts
  src/frontend/src/api/task.ts
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/ProjectSubmissions/UpdateReviewStatusModal.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
  src/frontend/src/models/createproject/createProjectModel.ts
  src/frontend/src/models/home/homeModel.ts
  src/frontend/src/models/organisation/organisationModel.ts
  src/frontend/src/models/project/projectModel.ts
  src/frontend/src/models/submission/submissionModel.ts
  src/frontend/src/models/task/taskModel.ts
  src/frontend/src/store/slices/CommonSlice.ts
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/slices/HomeSlice.ts
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/store/slices/SubmissionSlice.ts
  src/frontend/src/store/slices/TaskSlice.ts
  src/frontend/src/store/slices/organisationSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/store/types/IHome.ts
  src/frontend/src/store/types/IOrganisation.ts
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/store/types/ITask.ts
  src/frontend/src/views/NewDefineAreaMap.tsx
Labels: frontend

Update mkdocs.yml for ODK OData linking info (#2067)
  mkdocs.yml
Labels: docs

Update mkdocs.yml for ODK OData linking info (#2067)
  mkdocs.yml
Labels: docs

docs: update FMTM field mapping guidelines (#2064)
  docs/about/FMTM Field Mapping Guidelines.md
  docs/manuals/OData Connection for Submission Analysis
  docs/manuals/mapping.md
  docs/manuals/project-managers.md
  mkdocs.yml
Labels: docs

docs: update FMTM field mapping guidelines (#2064)
  docs/about/FMTM Field Mapping Guidelines.md
  docs/manuals/OData Connection for Submission Analysis
  docs/manuals/mapping.md
  docs/manuals/project-managers.md
  mkdocs.yml
Labels: docs

docs: tweak bold text on mapping.md doc file
  docs/manuals/mapping.md
Labels: docs

docs: tweak bold text on mapping.md doc file
  docs/manuals/mapping.md
Labels: docs

fix: default odk creds when organisation do not have their own during project creation (#2070)
  src/backend/app/organisations/organisation_deps.py
  src/backend/app/projects/project_crud.py
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
Labels: frontend, backend

fix: default odk creds when organisation do not have their own during project creation (#2070)
  src/backend/app/organisations/organisation_deps.py
  src/backend/app/projects/project_crud.py
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
Labels: frontend, backend

docs: minor typo fixes in docs (#2068)
  CONTRIBUTING.md
  README.md
Labels: docs

docs: minor typo fixes in docs (#2068)
  CONTRIBUTING.md
  README.md
Labels: docs

fix(backend): various fixes based on sentry error reports (#2053)
  src/backend/app/db/models.py
  src/backend/app/submissions/submission_crud.py
Labels: backend

fix(backend): various fixes based on sentry error reports (#2053)
  src/backend/app/db/models.py
  src/backend/app/submissions/submission_crud.py
Labels: backend

build: geometrylog table geom type to jsonb, int id to uuid (#2063)
  src/backend/app/db/models.py
  src/backend/app/projects/project_routes.py
  src/backend/migrations/003-jsonb-geom-geometry-log.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/migrations/revert/003-jsonb-geom-geometry-log.sql
Labels: backend, migration

build: geometrylog table geom type to jsonb, int id to uuid (#2063)
  src/backend/app/db/models.py
  src/backend/app/projects/project_routes.py
  src/backend/migrations/003-jsonb-geom-geometry-log.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/migrations/revert/003-jsonb-geom-geometry-log.sql
Labels: backend, migration

Update migration idempotence, add org email field, extra project fields (#2072)
  src/backend/app/db/enums.py
  src/backend/app/db/models.py
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/organisations/organisation_schemas.py
  src/backend/migrations/002-create-geometry-log.sql
  src/backend/migrations/003-jsonb-geom-geometry-log.sql
  src/backend/migrations/004-project-extra-fields.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/migrations/revert/004-project-extra-fields.sql
Labels: backend, migration

Update migration idempotence, add org email field, extra project fields (#2072)
  src/backend/app/db/enums.py
  src/backend/app/db/models.py
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/organisations/organisation_schemas.py
  src/backend/migrations/002-create-geometry-log.sql
  src/backend/migrations/003-jsonb-geom-geometry-log.sql
  src/backend/migrations/004-project-extra-fields.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/migrations/revert/004-project-extra-fields.sql
Labels: backend, migration

fix: change geom to geojson in db model
  src/backend/app/db/models.py
  src/backend/app/projects/project_schemas.py
Labels: backend

fix: change geom to geojson in db model
  src/backend/app/db/models.py
  src/backend/app/projects/project_schemas.py
Labels: backend

added more screenshots on mapper guide (#2079)
  docs/manuals/mapping.md
Labels: docs

added more screenshots on mapper guide (#2079)
  docs/manuals/mapping.md
Labels: docs

fix(backend): get total_tasks count on single project response
  src/backend/app/db/models.py
Labels: backend

fix(backend): get total_tasks count on single project response
  src/backend/app/db/models.py
Labels: backend
