Repository hotosm/field-tm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, devops, migration, docs, ODK, contrib, tests

build(frontend): use corepack install to avoid duplicating packageManager
  src/Dockerfile.ui.debug
  src/Dockerfile.ui.prod
Labels: none

build(frontend): workaround for corepack npmjs registry new signing key
  src/Dockerfile.ui.debug
  src/Dockerfile.ui.prod
Labels: none

build(frontend): workaround for corepack npmjs registry new signing key
  src/Dockerfile.ui.debug
  src/Dockerfile.ui.prod
Labels: none

fix(frontend): custom odk creds validation, relate to PR #2142
  src/frontend/src/components/createnewproject/validation/CreateProjectValidation.tsx
Labels: frontend

fix(frontend): custom odk creds validation, relate to PR #2142
  src/frontend/src/components/createnewproject/validation/CreateProjectValidation.tsx
Labels: frontend

build(frontend): add shoelace as requirement to mapper frontend
  src/mapper/package.json
  src/mapper/pnpm-lock.yaml
Labels: none

build(frontend): add shoelace as requirement to mapper frontend
  src/mapper/package.json
  src/mapper/pnpm-lock.yaml
Labels: none

build(backend): update osm-rawdata --> 0.4.2 for improved logging on fail
  src/backend/pyproject.toml
  src/backend/uv.lock
Labels: backend

build(backend): update osm-rawdata --> 0.4.2 for improved logging on fail
  src/backend/pyproject.toml
  src/backend/uv.lock
Labels: backend

build(frontend): fix prod dockerfile using corepack
  src/Dockerfile.ui.debug
  src/Dockerfile.ui.prod
Labels: none

build(frontend): fix prod dockerfile using corepack
  src/Dockerfile.ui.debug
  src/Dockerfile.ui.prod
Labels: none

feat(backend): add endpoint to create an entity in existing project for new geometry (#2145)
  src/backend/app/central/central_crud.py
  src/backend/app/projects/project_routes.py
Labels: backend

feat(backend): add endpoint to create an entity in existing project for new geometry (#2145)
  src/backend/app/central/central_crud.py
  src/backend/app/projects/project_routes.py
Labels: backend

fix(projectDetails): update set odk credential logic (#2149)
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createnewproject/validation/CreateProjectValidation.tsx
Labels: frontend

fix(projectDetails): update set odk credential logic (#2149)
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createnewproject/validation/CreateProjectValidation.tsx
Labels: frontend

feat(backend): return entity uuid on create (#2151)
  src/backend/app/central/central_crud.py
  src/backend/app/projects/project_routes.py
Labels: backend

feat(backend): return entity uuid on create (#2151)
  src/backend/app/central/central_crud.py
  src/backend/app/projects/project_routes.py
Labels: backend

feat(tasks): add task to unlock tasks locked for over 3 days and reset entities after an hour (#1984)
  src/backend/app/central/central_crud.py
  src/backend/app/db/enums.py
  src/backend/app/tasks/task_crud.py
  src/backend/app/tasks/task_routes.py
  src/backend/migrations/008-add-taskevent-enumtype.sql
  src/backend/migrations/init/fmtm_base_schema.sql
Labels: backend, migration

feat(tasks): add task to unlock tasks locked for over 3 days and reset entities after an hour (#1984)
  src/backend/app/central/central_crud.py
  src/backend/app/db/enums.py
  src/backend/app/tasks/task_crud.py
  src/backend/app/tasks/task_routes.py
  src/backend/migrations/008-add-taskevent-enumtype.sql
  src/backend/migrations/init/fmtm_base_schema.sql
Labels: backend, migration

docs: update mapper manual (#2150)
  docs/manuals/mapping.md
Labels: docs

docs: update mapper manual (#2150)
  docs/manuals/mapping.md
Labels: docs

docs: add MADR decision record for internationalisation lib choice
  docs/decisions/0005-translations.md
Labels: docs

docs: add MADR decision record for internationalisation lib choice
  docs/decisions/0005-translations.md
Labels: docs

docs: bold test for important parts of translation MADR
  docs/decisions/0005-translations.md
Labels: docs

docs: bold test for important parts of translation MADR
  docs/decisions/0005-translations.md
Labels: docs

build: update electric-sql to latest sync app and ts client
  compose.yaml
  deploy/compose.development.yaml
  deploy/compose.main.yaml
  src/mapper/package.json
  src/mapper/pnpm-lock.yaml
Labels: none

build: update electric-sql to latest sync app and ts client
  compose.yaml
  deploy/compose.development.yaml
  deploy/compose.main.yaml
  src/mapper/package.json
  src/mapper/pnpm-lock.yaml
Labels: none

build: fix adding schema to geometrylog table in fmtm init sql
  src/backend/migrations/init/fmtm_base_schema.sql
Labels: backend, migration

build: fix adding schema to geometrylog table in fmtm init sql
  src/backend/migrations/init/fmtm_base_schema.sql
Labels: backend, migration

build: archive applied migrations, restructure migration files
  src/backend/migrations/000-reset-migrations-table-v4.sql
  src/backend/migrations/001-add-user-lastloginat.sql
  src/backend/migrations/002-add-entitystate-enumtype.sql
  src/backend/migrations/archived/2025-01-31/001-enable-sfcgal.sql
  src/backend/migrations/archived/2025-01-31/002-create-geometry-log.sql
  src/backend/migrations/archived/2025-01-31/003-jsonb-geom-geometry-log.sql
  src/backend/migrations/archived/2025-01-31/004-project-extra-fields.sql
  src/backend/migrations/archived/2025-01-31/005-api-key.sql
  src/backend/migrations/archived/2025-01-31/add-submission-id-property.py
  src/backend/migrations/archived/2025-01-31/revert/002-create-geometry-log.sql
  src/backend/migrations/archived/2025-01-31/revert/003-jsonb-geom-geometry-log.sql
  src/backend/migrations/archived/2025-01-31/revert/004-project-extra-fields.sql
  src/backend/migrations/revert/001-add-user-lastloginat.sql
  src/backend/migrations/revert/002-add-entitystate-enumtype.sql
Labels: backend, migration

build: archive applied migrations, restructure migration files
  src/backend/migrations/000-reset-migrations-table-v4.sql
  src/backend/migrations/001-add-user-lastloginat.sql
  src/backend/migrations/002-add-entitystate-enumtype.sql
  src/backend/migrations/archived/2025-01-31/001-enable-sfcgal.sql
  src/backend/migrations/archived/2025-01-31/002-create-geometry-log.sql
  src/backend/migrations/archived/2025-01-31/003-jsonb-geom-geometry-log.sql
  src/backend/migrations/archived/2025-01-31/004-project-extra-fields.sql
  src/backend/migrations/archived/2025-01-31/005-api-key.sql
  src/backend/migrations/archived/2025-01-31/add-submission-id-property.py
  src/backend/migrations/archived/2025-01-31/revert/002-create-geometry-log.sql
  src/backend/migrations/archived/2025-01-31/revert/003-jsonb-geom-geometry-log.sql
  src/backend/migrations/archived/2025-01-31/revert/004-project-extra-fields.sql
  src/backend/migrations/revert/001-add-user-lastloginat.sql
  src/backend/migrations/revert/002-add-entitystate-enumtype.sql
Labels: backend, migration

build: fix base schema init (a few sql errors)
  src/backend/migrations/init/fmtm_base_schema.sql
Labels: backend, migration

build: fix base schema init (a few sql errors)
  src/backend/migrations/init/fmtm_base_schema.sql
Labels: backend, migration

fix: updated usage of shapestream requiring 'params' field
  src/mapper/src/store/entities.svelte.ts
  src/mapper/src/store/tasks.svelte.ts
Labels: none

fix: updated usage of shapestream requiring 'params' field
  src/mapper/src/store/entities.svelte.ts
  src/mapper/src/store/tasks.svelte.ts
Labels: none

fix(backend): clear tiles from disk after generation (#2158)
  src/backend/app/projects/project_crud.py
Labels: backend

fix(backend): clear tiles from disk after generation (#2158)
  src/backend/app/projects/project_crud.py
Labels: backend

fix(backend): support big int osm id fgb creation (#2160)
  src/backend/app/db/postgis_utils.py
Labels: backend

fix(backend): support big int osm id fgb creation (#2160)
  src/backend/app/db/postgis_utils.py
Labels: backend

feat(mapper): add i18n (internationalisation) frontend translations via paraglide js (#2155)
  src/frontend/src/utilfunctions/cookieUtils.ts
  src/mapper/messages/en.json
  src/mapper/messages/pt-br.json
  src/mapper/package.json
  src/mapper/pnpm-lock.yaml
  src/mapper/project.inlang/.gitignore
  src/mapper/project.inlang/project_id
  src/mapper/project.inlang/settings.json
  src/mapper/src/lib/components/header.svelte
  src/mapper/src/lib/components/offline/basemaps.svelte
  src/mapper/src/lib/components/qrcode.svelte
  src/mapper/src/lib/components/toast.svelte
  src/mapper/src/lib/fs/local-storage.svelte.ts
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/src/store/common.svelte.ts
  src/mapper/static/assets/icons/translate.svg
  src/mapper/svelte.config.js
  src/mapper/vite.config.ts
Labels: frontend

.github/labeler.yml:

bug:
  # Branch starts with `fix` or has a `fix` in the name
  - head-branch: ["^fix", "fix"]
enhancement:
  - head-branch:
      ["^feature", "feature", "^feat", "feat", "^refactor", "refactor"]
frontend:
  - changed-files:
      - any-glob-to-any-file: src/frontend/**
backend:
  - changed-files:
      - any-glob-to-any-file: src/backend/**
devops:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**
          - nginx/**
          - scripts/**
          - docker-*.yml
          - ./**/Dockerfile
          - ./**/.dockerfile
          - ./**/*entrypoint.sh
          - ./**/Justfile
migration:
  - changed-files:
      - any-glob-to-any-file: src/backend/migrations/**
docs:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**
          - images/**
          - mkdocs.yml
          - README.md
          - INSTALL.md
ODK:
  - changed-files:
      - any-glob-to-any-file: odkcentral/**
contrib:
  - changed-files:
      - any-glob-to-any-file: contrib/**
tests:
  - changed-files:
      - any-glob-to-any-file:
          - src/backend/tests/**
          - src/frontend/tests/**
          - src/frontend/e2e/**
