Repository hotosm/field-tm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, devops, migration, docs, ODK, contrib, tests

Add a simple XLS form example (#1753)
  docs/example-xlsforms/README.md
  docs/example-xlsforms/simple_building_survey_wildfires.xlsx
Labels: docs

Add a simple XLS form example (#1753)
  docs/example-xlsforms/README.md
  docs/example-xlsforms/simple_building_survey_wildfires.xlsx
Labels: docs

docs: move user roadmap to readme
  README.md
  docs/user-roadmap.md
  mkdocs.yml
Labels: docs

docs: move user roadmap to readme
  README.md
  docs/user-roadmap.md
  mkdocs.yml
Labels: docs

docs: update timeline link in readme
  README.md
Labels: docs

docs: update timeline link in readme
  README.md
Labels: docs

docs: add link to dev roadmap to readme
  README.md
Labels: docs

docs: add link to dev roadmap to readme
  README.md
Labels: docs

feat(backend): ODK submission user photos to S3 for easy access (#1744)
  src/backend/app/db/db_models.py
  src/backend/app/s3.py
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
  src/backend/migrations/006-create-submission-photos-table.sql
  src/backend/migrations/revert/006-create-submission-photos-table.sql
Labels: backend, migration

feat(backend): ODK submission user photos to S3 for easy access (#1744)
  src/backend/app/db/db_models.py
  src/backend/app/s3.py
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
  src/backend/migrations/006-create-submission-photos-table.sql
  src/backend/migrations/revert/006-create-submission-photos-table.sql
Labels: backend, migration

feat(backend): capability to send messages to OSM users (notified via email) (#1747)
  .env.example
  INSTALL.md
  src/backend/app/auth/auth_routes.py
  src/backend/app/auth/osm.py
  src/backend/app/config.py
  src/backend/app/helpers/helper_routes.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend, docs

feat(backend): capability to send messages to OSM users (notified via email) (#1747)
  .env.example
  INSTALL.md
  src/backend/app/auth/auth_routes.py
  src/backend/app/auth/osm.py
  src/backend/app/config.py
  src/backend/app/helpers/helper_routes.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend, docs

refactor(frontend): ui padding tweak & enhancements (#1750)
  src/frontend/src/components/CreateEditOrganization/CreateEditOrganizationHeader.tsx
  src/frontend/src/components/LoginPopup.tsx
  src/frontend/src/components/ProjectDetailsV2/ProjectInfo.tsx
  src/frontend/src/components/createnewproject/CreateProjectHeader.tsx
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
  src/frontend/src/components/home/HomePageFilters.tsx
  src/frontend/src/utilities/MappingHeader.tsx
  src/frontend/src/utilities/PrimaryAppBar.tsx
  src/frontend/src/views/CreateEditOrganization.tsx
  src/frontend/src/views/CreateNewProject.tsx
  src/frontend/src/views/Home.tsx
  src/frontend/src/views/MainView.tsx
  src/frontend/src/views/ManageProject.tsx
  src/frontend/src/views/NewDefineAreaMap.tsx
  src/frontend/src/views/Organisation.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/frontend/src/views/ProjectSubmissions.tsx
  src/frontend/src/views/SubmissionDetails.tsx
Labels: frontend

refactor(frontend): ui padding tweak & enhancements (#1750)
  src/frontend/src/components/CreateEditOrganization/CreateEditOrganizationHeader.tsx
  src/frontend/src/components/LoginPopup.tsx
  src/frontend/src/components/ProjectDetailsV2/ProjectInfo.tsx
  src/frontend/src/components/createnewproject/CreateProjectHeader.tsx
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
  src/frontend/src/components/home/HomePageFilters.tsx
  src/frontend/src/utilities/MappingHeader.tsx
  src/frontend/src/utilities/PrimaryAppBar.tsx
  src/frontend/src/views/CreateEditOrganization.tsx
  src/frontend/src/views/CreateNewProject.tsx
  src/frontend/src/views/Home.tsx
  src/frontend/src/views/MainView.tsx
  src/frontend/src/views/ManageProject.tsx
  src/frontend/src/views/NewDefineAreaMap.tsx
  src/frontend/src/views/Organisation.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/frontend/src/views/ProjectSubmissions.tsx
  src/frontend/src/views/SubmissionDetails.tsx
Labels: frontend

docs: updated roadmap wording in readme
  README.md
Labels: docs

docs: updated roadmap wording in readme
  README.md
Labels: docs

docs: roadmap wording in readme
  README.md
Labels: docs

docs: roadmap wording in readme
  README.md
Labels: docs

fix(backend): pyxform usage only allowing xls file extension (#1758)
  src/backend/app/central/central_crud.py
Labels: backend

fix(backend): pyxform usage only allowing xls file extension (#1758)
  src/backend/app/central/central_crud.py
Labels: backend

build: update osm-rawdata --> v0.3.2 for conflation api fix
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

build: update osm-rawdata --> v0.3.2 for conflation api fix
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

refactor: update link to custom odk collect signed 2024.2.0
  src/frontend/src/utilities/CustomDrawer.tsx
Labels: frontend

refactor: update link to custom odk collect signed 2024.2.0
  src/frontend/src/utilities/CustomDrawer.tsx
Labels: frontend

docs: update info in FAQ with alternative field data collection tools
  README.md
  docs/about/faq.md
Labels: docs

docs: update info in FAQ with alternative field data collection tools
  README.md
  docs/about/faq.md
Labels: docs

docs: add faq info on kobo/odk differences
  docs/about/faq.md
Labels: docs

docs: add faq info on kobo/odk differences
  docs/about/faq.md
Labels: docs

docs: formatting of faq questions indents
  docs/about/faq.md
Labels: docs

docs: formatting of faq questions indents
  docs/about/faq.md
Labels: docs

docs: update readme links to docs + faq
  README.md
Labels: docs

docs: update readme links to docs + faq
  README.md
Labels: docs

build: update osm-fieldwork --> v0.15.0 (submission img extraction)
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

build: update osm-fieldwork --> v0.15.0 (submission img extraction)
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

feat: add project not found page (#1762)
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/api/Project.ts
  src/frontend/src/assets/images/no-file.png
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/routes.jsx
  src/frontend/src/store/slices/CommonSlice.ts
  src/frontend/src/store/types/ICommon.ts
  src/frontend/src/views/MainView.tsx
  src/frontend/src/views/ProjectNotFound.tsx
Labels: frontend

feat: add project not found page (#1762)
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/api/Project.ts
  src/frontend/src/assets/images/no-file.png
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/routes.jsx
  src/frontend/src/store/slices/CommonSlice.ts
  src/frontend/src/store/types/ICommon.ts
  src/frontend/src/views/MainView.tsx
  src/frontend/src/views/ProjectNotFound.tsx
Labels: frontend

feat: mark tasks validated + start conflation UI (#1743)
  src/frontend/src/api/DataConflation.ts
  src/frontend/src/api/ProjectTaskStatus.ts
  src/frontend/src/components/DataConflation/ConflationMap/MapLegend.tsx
  src/frontend/src/components/DataConflation/ConflationMap/index.tsx
  src/frontend/src/components/DataConflation/SubmissionConflation/MergeAttributes.tsx
  src/frontend/src/components/DataConflation/SubmissionConflation/index.tsx
  src/frontend/src/components/DataConflation/TaskInfo.tsx
  src/frontend/src/components/DialogTaskActions.tsx
  src/frontend/src/components/ProjectDetailsV2/FeatureSelectionPopup.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/common/Button.tsx
  src/frontend/src/components/common/CustomTable.tsx
  src/frontend/src/components/common/Modal.tsx
  src/frontend/src/environment.ts
  src/frontend/src/routes.jsx
  src/frontend/src/store/Store.ts
  src/frontend/src/store/slices/DataConflationSlice.ts
  src/frontend/src/store/types/IDataConflation.ts
  src/frontend/src/views/DataConflation.tsx
Labels: frontend

feat: mark tasks validated + start conflation UI (#1743)
  src/frontend/src/api/DataConflation.ts
  src/frontend/src/api/ProjectTaskStatus.ts
  src/frontend/src/components/DataConflation/ConflationMap/MapLegend.tsx
  src/frontend/src/components/DataConflation/ConflationMap/index.tsx
  src/frontend/src/components/DataConflation/SubmissionConflation/MergeAttributes.tsx
  src/frontend/src/components/DataConflation/SubmissionConflation/index.tsx
  src/frontend/src/components/DataConflation/TaskInfo.tsx
  src/frontend/src/components/DialogTaskActions.tsx
  src/frontend/src/components/ProjectDetailsV2/FeatureSelectionPopup.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/common/Button.tsx
  src/frontend/src/components/common/CustomTable.tsx
  src/frontend/src/components/common/Modal.tsx
  src/frontend/src/environment.ts
  src/frontend/src/routes.jsx
  src/frontend/src/store/Store.ts
  src/frontend/src/store/slices/DataConflationSlice.ts
  src/frontend/src/store/types/IDataConflation.ts
  src/frontend/src/views/DataConflation.tsx
Labels: frontend

fix(createProject): lineString validation remove (#1767)
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
Labels: frontend

fix(createProject): lineString validation remove (#1767)
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
Labels: frontend

.github/labeler.yml:

bug:
  # Branch starts with `fix` or has a `fix` in the name
  - head-branch: ["^fix", "fix"]
enhancement:
  - head-branch:
      ["^feature", "feature", "^feat", "feat", "^refactor", "refactor"]
frontend:
  - changed-files:
      - any-glob-to-any-file: src/frontend/**
backend:
  - changed-files:
      - any-glob-to-any-file: src/backend/**
devops:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**
          - nginx/**
          - scripts/**
          - docker-*.yml
          - ./**/Dockerfile
          - ./**/.dockerfile
          - ./**/*entrypoint.sh
          - ./**/Justfile
migration:
  - changed-files:
      - any-glob-to-any-file: src/backend/migrations/**
docs:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**
          - images/**
          - mkdocs.yml
          - README.md
          - INSTALL.md
ODK:
  - changed-files:
      - any-glob-to-any-file: odkcentral/**
contrib:
  - changed-files:
      - any-glob-to-any-file: contrib/**
tests:
  - changed-files:
      - any-glob-to-any-file:
          - src/backend/tests/**
          - src/frontend/tests/**
          - src/frontend/e2e/**
