Repository hotosm/field-tm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, devops, migration, documentation, ODK, contrib

.github/labeler.yml:

"frontend":
  - "src/frontend/**/*"
"backend":
  - "src/backend/**/*"
"devops":
  - ".github/**/*"
  - "nginx/**/*"
  - "scripts/**/*"
  - "docker-*.yml"
  - "**/Dockerfile"
  - "**/*.dockerfile"
  - "**/*entrypoint.sh"
  - "Justfile"
"migration":
  - "src/backend/migrations/**/*"
"documentation":
  - "docs/**/*"
  - "images/**/*"
  - "mkdocs.yml"
  - "README.md"
  - "INSTALL.md"
"ODK":
  - "odkcentral/**/*"
"contrib":
  - "contrib/**/*"

fix: file validity check on fileUpload only once (#1262)
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
Labels: frontend

fix: file validity check on fileUpload only once (#1262)
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
Labels: frontend

fix: use raw sql for organisation crud (#1253)
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/organisations/organisation_routes.py
  src/backend/app/organisations/organisation_schemas.py
Labels: backend

fix: use raw sql for organisation crud (#1253)
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/organisations/organisation_routes.py
  src/backend/app/organisations/organisation_schemas.py
Labels: backend

fix: update initial_feature_count --> feature_count and populate values (#1265)
  src/backend/app/db/db_models.py
  src/backend/app/projects/project_crud.py
  src/backend/app/tasks/tasks_routes.py
  src/backend/app/tasks/tasks_schemas.py
  src/backend/migrations/011-task-features-count.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/migrations/revert/011-task-features-count.sql
Labels: backend, migration

fix: update initial_feature_count --> feature_count and populate values (#1265)
  src/backend/app/db/db_models.py
  src/backend/app/projects/project_crud.py
  src/backend/app/tasks/tasks_routes.py
  src/backend/app/tasks/tasks_schemas.py
  src/backend/migrations/011-task-features-count.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/migrations/revert/011-task-features-count.sql
Labels: backend, migration

fix: dynamic submissions legend chloropeth (#1250)
  src/frontend/src/components/MapComponent/OpenLayersComponent/AsyncPopup/AsyncPopup.tsx
  src/frontend/src/components/MapComponent/OpenLayersComponent/AsyncPopup/asyncpopup.scss
  src/frontend/src/components/ProjectSubmissions/TaskSubmissionsMap.tsx
  src/frontend/src/components/ProjectSubmissions/TaskSubmissionsMapLegend.tsx
  src/frontend/src/models/submission/submissionModel.ts
  src/frontend/src/styles/home.scss
Labels: frontend

fix: dynamic submissions legend chloropeth (#1250)
  src/frontend/src/components/MapComponent/OpenLayersComponent/AsyncPopup/AsyncPopup.tsx
  src/frontend/src/components/MapComponent/OpenLayersComponent/AsyncPopup/asyncpopup.scss
  src/frontend/src/components/ProjectSubmissions/TaskSubmissionsMap.tsx
  src/frontend/src/components/ProjectSubmissions/TaskSubmissionsMapLegend.tsx
  src/frontend/src/models/submission/submissionModel.ts
  src/frontend/src/styles/home.scss
Labels: frontend

refactor: removing redundant code for removing extra closing </osm> tag (#1264)
  src/backend/app/submissions/submission_routes.py
Labels: backend

refactor: removing redundant code for removing extra closing </osm> tag (#1264)
  src/backend/app/submissions/submission_routes.py
Labels: backend

fix: task splitting with custom data extract (#1255)
  src/backend/app/db/postgis_utils.py
  src/backend/app/projects/project_routes.py
Labels: backend

fix: task splitting with custom data extract (#1255)
  src/backend/app/db/postgis_utils.py
  src/backend/app/projects/project_routes.py
Labels: backend

feat: add map popups to data extract geometries (#1266)
  src/frontend/src/components/MapComponent/OpenLayersComponent/AsyncPopup/AsyncPopup.tsx
  src/frontend/src/components/MapComponent/OpenLayersComponent/Layers/VectorLayer.js
  src/frontend/src/components/ProjectSubmissions/TaskSubmissions.tsx
  src/frontend/src/components/ProjectSubmissions/TaskSubmissionsMap.tsx
  src/frontend/src/models/project/projectModel.ts
  src/frontend/src/models/task/taskModel.ts
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

feat: add map popups to data extract geometries (#1266)
  src/frontend/src/components/MapComponent/OpenLayersComponent/AsyncPopup/AsyncPopup.tsx
  src/frontend/src/components/MapComponent/OpenLayersComponent/Layers/VectorLayer.js
  src/frontend/src/components/ProjectSubmissions/TaskSubmissions.tsx
  src/frontend/src/components/ProjectSubmissions/TaskSubmissionsMap.tsx
  src/frontend/src/models/project/projectModel.ts
  src/frontend/src/models/task/taskModel.ts
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

build: make initial_feature_count migration idempotent
  src/backend/migrations/011-task-features-count.sql
Labels: backend, migration

build: make initial_feature_count migration idempotent
  src/backend/migrations/011-task-features-count.sql
Labels: backend, migration

fix: rendering of qrcode based on task_status
  src/frontend/src/components/ProjectDetailsV2/TaskSectionPopup.tsx
Labels: frontend

fix: rendering of qrcode based on task_status
  src/frontend/src/components/ProjectDetailsV2/TaskSectionPopup.tsx
Labels: frontend

fix: qrcode download from task popup
  src/frontend/src/components/ProjectDetailsV2/TaskSectionPopup.tsx
  src/frontend/src/components/QrcodeComponent.jsx
Labels: frontend

fix: qrcode download from task popup
  src/frontend/src/components/ProjectDetailsV2/TaskSectionPopup.tsx
  src/frontend/src/components/QrcodeComponent.jsx
Labels: frontend

fix: console log errors during project creation
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
  src/frontend/src/components/createnewproject/validation/SelectFormValidation.tsx
  src/frontend/src/components/createnewproject/validation/UploadAreaValidation.tsx
Labels: frontend

fix: console log errors during project creation
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
  src/frontend/src/components/createnewproject/validation/SelectFormValidation.tsx
  src/frontend/src/components/createnewproject/validation/UploadAreaValidation.tsx
Labels: frontend

fix: data extract splitting by task refined, update download endpoint (#1269)
  src/backend/app/db/postgis_utils.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
Labels: backend

fix: data extract splitting by task refined, update download endpoint (#1269)
  src/backend/app/db/postgis_utils.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
Labels: backend

fix: make data_extract_url optional for ReadProject schema
  src/backend/app/projects/project_schemas.py
Labels: backend

fix: make data_extract_url optional for ReadProject schema
  src/backend/app/projects/project_schemas.py
Labels: backend

docs: update link to fmtm to production site
  README.md
Labels: documentation

docs: update link to fmtm to production site
  README.md
Labels: documentation

docs: update license --> AGPLv3
  LICENSE.md
Labels: none

docs: update license --> AGPLv3
  LICENSE.md
Labels: none

ci: remove LICENSE.md file from ignore list
  .pre-commit-config.yaml
Labels: none

ci: remove LICENSE.md file from ignore list
  .pre-commit-config.yaml
Labels: none

refactor: update sentry to only run on prod website
  src/frontend/src/App.jsx
Labels: frontend

refactor: update sentry to only run on prod website
  src/frontend/src/App.jsx
Labels: frontend

ci: update all workflows --> v1.4.8
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_ci_img.yml
  .github/workflows/build_odk_imgs.yml
  .github/workflows/build_proxy_imgs.yml
  .github/workflows/docs.yml
  .github/workflows/pr_test_backend.yml
  .github/workflows/pr_test_frontend.yml
  .github/workflows/tag_build.yml
  .github/workflows/wiki.yml
Labels: devops

ci: update all workflows --> v1.4.8
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_ci_img.yml
  .github/workflows/build_odk_imgs.yml
  .github/workflows/build_proxy_imgs.yml
  .github/workflows/docs.yml
  .github/workflows/pr_test_backend.yml
  .github/workflows/pr_test_frontend.yml
  .github/workflows/tag_build.yml
  .github/workflows/wiki.yml
Labels: devops

build: update var S3_SKIP_BUCKET_INIT skip init if empty
  .env.example
  src/backend/app-entrypoint.sh
Labels: backend, devops

build: update var S3_SKIP_BUCKET_INIT skip init if empty
  .env.example
  src/backend/app-entrypoint.sh
Labels: backend, devops

build: archive migrations for fresh start from base schema (#1271)
  INSTALL.md
  LICENSE.md
  README.md
  docs/dev/Production.md
  src/backend/migrate-entrypoint.sh
  src/backend/migrations/000-reset-migrations-table.sql
  src/backend/migrations/archived/2024-02-24/000-remove-user-password.sql
  src/backend/migrations/archived/2024-02-24/001-project-split-type-fields.sql
  src/backend/migrations/archived/2024-02-24/002-add-profile-img.sql
  src/backend/migrations/archived/2024-02-24/003-project-roles.sql
  src/backend/migrations/archived/2024-02-24/004-organisation-odk-creds.sql
  src/backend/migrations/archived/2024-02-24/005-remove-qrcode.sql
  src/backend/migrations/archived/2024-02-24/006-index-roles.sql
  src/backend/migrations/archived/2024-02-24/007-add-extract-url.sql
  src/backend/migrations/archived/2024-02-24/008-add-user-in-org.sql
  src/backend/migrations/archived/2024-02-24/009-add-community-type.sql
  src/backend/migrations/archived/2024-02-24/010-drop-features-table.sql
  src/backend/migrations/archived/2024-02-24/011-task-features-count.sql
  src/backend/migrations/archived/2024-02-24/revert/000-remove-user-password.sql
  src/backend/migrations/archived/2024-02-24/revert/001-project-split-type-fields.sql
  src/backend/migrations/archived/2024-02-24/revert/002-add-profile-img.sql
  src/backend/migrations/archived/2024-02-24/revert/003-project-roles.sql
  src/backend/migrations/archived/2024-02-24/revert/004-organisation-odk-creds.sql
  src/backend/migrations/archived/2024-02-24/revert/005-remove-qrcode.sql
  src/backend/migrations/archived/2024-02-24/revert/006-index-roles.sql
  src/backend/migrations/archived/2024-02-24/revert/007-add-extract-url.sql
  src/backend/migrations/archived/2024-02-24/revert/008-add-user-in-org.sql
  src/backend/migrations/archived/2024-02-24/revert/009-add-community-type.sql
  src/backend/migrations/archived/2024-02-24/revert/010-drop-features-table.sql
  src/backend/migrations/archived/2024-02-24/revert/011-task-features-count.sql
  src/backend/migrations/init/fmtm_base_schema.sql
Labels: backend, devops, migration, documentation

build: archive migrations for fresh start from base schema (#1271)
  INSTALL.md
  LICENSE.md
  README.md
  docs/dev/Production.md
  src/backend/migrate-entrypoint.sh
  src/backend/migrations/000-reset-migrations-table.sql
  src/backend/migrations/archived/2024-02-24/000-remove-user-password.sql
  src/backend/migrations/archived/2024-02-24/001-project-split-type-fields.sql
  src/backend/migrations/archived/2024-02-24/002-add-profile-img.sql
  src/backend/migrations/archived/2024-02-24/003-project-roles.sql
  src/backend/migrations/archived/2024-02-24/004-organisation-odk-creds.sql
  src/backend/migrations/archived/2024-02-24/005-remove-qrcode.sql
  src/backend/migrations/archived/2024-02-24/006-index-roles.sql
  src/backend/migrations/archived/2024-02-24/007-add-extract-url.sql
  src/backend/migrations/archived/2024-02-24/008-add-user-in-org.sql
  src/backend/migrations/archived/2024-02-24/009-add-community-type.sql
  src/backend/migrations/archived/2024-02-24/010-drop-features-table.sql
  src/backend/migrations/archived/2024-02-24/011-task-features-count.sql
  src/backend/migrations/archived/2024-02-24/revert/000-remove-user-password.sql
  src/backend/migrations/archived/2024-02-24/revert/001-project-split-type-fields.sql
  src/backend/migrations/archived/2024-02-24/revert/002-add-profile-img.sql
  src/backend/migrations/archived/2024-02-24/revert/003-project-roles.sql
  src/backend/migrations/archived/2024-02-24/revert/004-organisation-odk-creds.sql
  src/backend/migrations/archived/2024-02-24/revert/005-remove-qrcode.sql
  src/backend/migrations/archived/2024-02-24/revert/006-index-roles.sql
  src/backend/migrations/archived/2024-02-24/revert/007-add-extract-url.sql
  src/backend/migrations/archived/2024-02-24/revert/008-add-user-in-org.sql
  src/backend/migrations/archived/2024-02-24/revert/009-add-community-type.sql
  src/backend/migrations/archived/2024-02-24/revert/010-drop-features-table.sql
  src/backend/migrations/archived/2024-02-24/revert/011-task-features-count.sql
  src/backend/migrations/init/fmtm_base_schema.sql
Labels: backend, devops, migration, documentation
