Repository hotosm/field-tm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, devops, migration, docs, ODK, contrib, tests

feat(frontend): project not found page (#1768)
  src/frontend/src/assets/images/no-file.png
  src/frontend/src/assets/images/notFound.png
  src/frontend/src/assets/images/page-not-found.png
  src/frontend/src/assets/images/project-not-found.png
  src/frontend/src/views/NotFound404.tsx
  src/frontend/src/views/ProjectNotFound.tsx
Labels: frontend

feat(frontend): project not found page (#1768)
  src/frontend/src/assets/images/no-file.png
  src/frontend/src/assets/images/notFound.png
  src/frontend/src/assets/images/page-not-found.png
  src/frontend/src/assets/images/project-not-found.png
  src/frontend/src/views/NotFound404.tsx
  src/frontend/src/views/ProjectNotFound.tsx
Labels: frontend

fix(frontend): map ui alignment on various devices (#1772)
  src/frontend/src/components/OfflineReadyPrompt.tsx
  src/frontend/src/components/ProjectDetailsV2/TaskSelectionPopup.tsx
Labels: frontend

fix(frontend): map ui alignment on various devices (#1772)
  src/frontend/src/components/OfflineReadyPrompt.tsx
  src/frontend/src/components/ProjectDetailsV2/TaskSelectionPopup.tsx
Labels: frontend

feat: update form by injecting mandatory fields and validate it (#1763)
  src/backend/app/projects/project_routes.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/validation/SelectFormValidation.tsx
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/views/CreateNewProject.tsx
Labels: frontend, backend

feat: update form by injecting mandatory fields and validate it (#1763)
  src/backend/app/projects/project_routes.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/validation/SelectFormValidation.tsx
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/views/CreateNewProject.tsx
Labels: frontend, backend

fix(backend): allow empty task id and osm id for new geopoint (#1774)
  src/backend/app/central/central_crud.py
  src/frontend/src/views/ProjectSubmissions.tsx
Labels: frontend, backend

fix(backend): allow empty task id and osm id for new geopoint (#1774)
  src/backend/app/central/central_crud.py
  src/frontend/src/views/ProjectSubmissions.tsx
Labels: frontend, backend

fix(frontend): correct text in validation table to show the marked as validated (#1777)
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/environment.ts
Labels: frontend

fix(frontend): correct text in validation table to show the marked as validated (#1777)
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/environment.ts
Labels: frontend

test: add Playwright tests for mapper flow (#1766)
  src/frontend/e2e/01-create-new-project.spec.ts
  src/frontend/e2e/02-mapper-flow.spec.ts
  src/frontend/e2e/02-mapper-flow.spec.ts-snapshots/locked-for-mapping-chromium-linux.png
  src/frontend/e2e/02-mapper-flow.spec.ts-snapshots/mapped-chromium-linux.png
  src/frontend/e2e/02-mapper-flow.spec.ts-snapshots/ready-chromium-linux.png
  src/frontend/e2e/02-mapper-flow.spec.ts-snapshots/validated-chromium-linux.png
  src/frontend/e2e/03-entity-update.spec.ts
  src/frontend/src/environment.ts
  src/frontend/src/store/slices/ProjectSlice.ts
Labels: frontend, tests

test: add Playwright tests for mapper flow (#1766)
  src/frontend/e2e/01-create-new-project.spec.ts
  src/frontend/e2e/02-mapper-flow.spec.ts
  src/frontend/e2e/02-mapper-flow.spec.ts-snapshots/locked-for-mapping-chromium-linux.png
  src/frontend/e2e/02-mapper-flow.spec.ts-snapshots/mapped-chromium-linux.png
  src/frontend/e2e/02-mapper-flow.spec.ts-snapshots/ready-chromium-linux.png
  src/frontend/e2e/02-mapper-flow.spec.ts-snapshots/validated-chromium-linux.png
  src/frontend/e2e/03-entity-update.spec.ts
  src/frontend/src/environment.ts
  src/frontend/src/store/slices/ProjectSlice.ts
Labels: frontend, tests

refactor: update link to custom odk collect v2024.2.4 download
  src/frontend/src/utilities/CustomDrawer.tsx
Labels: frontend

refactor: update link to custom odk collect v2024.2.4 download
  src/frontend/src/utilities/CustomDrawer.tsx
Labels: frontend

ci: fix e2e test workflow playwright image tag ref
  .github/workflows/pr_test_frontend.yml
Labels: devops

ci: fix e2e test workflow playwright image tag ref
  .github/workflows/pr_test_frontend.yml
Labels: devops

test: dry e2e login test, minor fixes to mapper flow tests
  src/frontend/e2e/01-create-new-project.spec.ts
  src/frontend/e2e/02-mapper-flow.spec.ts
  src/frontend/e2e/03-entity-update.spec.ts
  src/frontend/e2e/helpers.ts
Labels: frontend, tests

test: dry e2e login test, minor fixes to mapper flow tests
  src/frontend/e2e/01-create-new-project.spec.ts
  src/frontend/e2e/02-mapper-flow.spec.ts
  src/frontend/e2e/03-entity-update.spec.ts
  src/frontend/e2e/helpers.ts
Labels: frontend, tests

test: combine all mapper tests into single file, improve comments, dry
  src/frontend/e2e/02-mapper-flow.spec.ts
  src/frontend/e2e/03-entity-update.spec.ts
  src/frontend/e2e/helpers.ts
Labels: frontend, tests

test: combine all mapper tests into single file, improve comments, dry
  src/frontend/e2e/02-mapper-flow.spec.ts
  src/frontend/e2e/03-entity-update.spec.ts
  src/frontend/e2e/helpers.ts
Labels: frontend, tests

refactor(backend): rename public beta org to `hotosm` (#1784)
  src/backend/app/auth/roles.py
  src/backend/app/organisations/organisation_crud.py
  src/backend/migrations/005-rename-public-beta.sql
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/backend/tests/conftest.py
  src/frontend/e2e/01-create-new-project.spec.ts
Labels: frontend, backend, migration, tests

refactor(backend): rename public beta org to `hotosm` (#1784)
  src/backend/app/auth/roles.py
  src/backend/app/organisations/organisation_crud.py
  src/backend/migrations/005-rename-public-beta.sql
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/backend/tests/conftest.py
  src/frontend/e2e/01-create-new-project.spec.ts
Labels: frontend, backend, migration, tests

ci: fix reference to playwright image tag in deploy workflow
  .github/workflows/build_and_deploy.yml
Labels: devops

ci: fix reference to playwright image tag in deploy workflow
  .github/workflows/build_and_deploy.yml
Labels: devops

refactor(frontend): move QR code & improve base map layer selection component (#1788)
  src/frontend/src/assets/images/osmLayer.png
  src/frontend/src/assets/images/satelliteLayer.png
  src/frontend/src/components/DataConflation/ConflationMap/index.tsx
  src/frontend/src/components/MapComponent/OpenLayersComponent/LayerSwitcher/LayerSwitchMenu.tsx
  src/frontend/src/components/MapComponent/OpenLayersComponent/LayerSwitcher/index.js
  src/frontend/src/components/ProjectDetailsV2/MapControlComponent.tsx
  src/frontend/src/components/ProjectDetailsV2/TaskSelectionPopup.tsx
  src/frontend/src/components/ProjectSubmissions/TaskSubmissionsMap.tsx
  src/frontend/src/components/QrcodeComponent.tsx
  src/frontend/src/components/SubmissionMap/SubmissionInstanceMap.tsx
  src/frontend/src/components/home/ProjectListMap.tsx
  src/frontend/src/views/NewDefineAreaMap.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

refactor(frontend): move QR code & improve base map layer selection component (#1788)
  src/frontend/src/assets/images/osmLayer.png
  src/frontend/src/assets/images/satelliteLayer.png
  src/frontend/src/components/DataConflation/ConflationMap/index.tsx
  src/frontend/src/components/MapComponent/OpenLayersComponent/LayerSwitcher/LayerSwitchMenu.tsx
  src/frontend/src/components/MapComponent/OpenLayersComponent/LayerSwitcher/index.js
  src/frontend/src/components/ProjectDetailsV2/MapControlComponent.tsx
  src/frontend/src/components/ProjectDetailsV2/TaskSelectionPopup.tsx
  src/frontend/src/components/ProjectSubmissions/TaskSubmissionsMap.tsx
  src/frontend/src/components/QrcodeComponent.tsx
  src/frontend/src/components/SubmissionMap/SubmissionInstanceMap.tsx
  src/frontend/src/components/home/ProjectListMap.tsx
  src/frontend/src/views/NewDefineAreaMap.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

fix(backend): use latest pyxform syntax for xlsform conversion (fix xls ext usage) (#1789)
  src/backend/app/central/central_crud.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

fix(backend): use latest pyxform syntax for xlsform conversion (fix xls ext usage) (#1789)
  src/backend/app/central/central_crud.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

fix(files): add pname, odkToken, osmUser as dependency (#1796)
  src/frontend/src/api/Files.ts
Labels: frontend

fix(files): add pname, odkToken, osmUser as dependency (#1796)
  src/frontend/src/api/Files.ts
Labels: frontend

build: update public beta rename migration to be idempotent
  src/backend/migrations/005-rename-public-beta.sql
Labels: backend, migration

build: update public beta rename migration to be idempotent
  src/backend/migrations/005-rename-public-beta.sql
Labels: backend, migration

refactor(frontend) small edits & cleanup old unused code (#1793)
  src/frontend/src/assets/images/acc-down.png
  src/frontend/src/assets/images/acc-up.png
  src/frontend/src/assets/images/avatar.png
  src/frontend/src/assets/images/grid.png
  src/frontend/src/assets/images/location.png
  src/frontend/src/assets/images/locationArc.png
  src/frontend/src/assets/images/navigation.png
  src/frontend/src/components/DialogTaskActions.tsx
  src/frontend/src/components/MapLegends.tsx
  src/frontend/src/components/ProjectDetailsV2/MapControlComponent.tsx
  src/frontend/src/components/ProjectDetailsV2/ProjectInfo.tsx
  src/frontend/src/components/ProjectDetailsV2/ProjectOptions.tsx
  src/frontend/src/components/ProjectDetailsV2/TaskSelectionPopup.tsx
  src/frontend/src/components/ProjectSubmissions/ProjectInfo.tsx
  src/frontend/src/components/ProjectSubmissions/TaskSubmissionsMap.tsx
  src/frontend/src/components/home/HomePageFilters.tsx
  src/frontend/src/components/organisation/OrganisationGridCard.tsx
  src/frontend/src/utilities/BasicCard.tsx
  src/frontend/src/utilities/BasicTabs.tsx
  src/frontend/src/utilities/CustomDrawer.tsx
  src/frontend/src/views/CreateNewProject.tsx
  src/frontend/src/views/EditProjectArea.tsx
  src/frontend/src/views/Home.tsx
  src/frontend/src/views/NewDefineAreaMap.tsx
  src/frontend/src/views/Organisation.tsx
Labels: frontend

refactor(frontend) small edits & cleanup old unused code (#1793)
  src/frontend/src/assets/images/acc-down.png
  src/frontend/src/assets/images/acc-up.png
  src/frontend/src/assets/images/avatar.png
  src/frontend/src/assets/images/grid.png
  src/frontend/src/assets/images/location.png
  src/frontend/src/assets/images/locationArc.png
  src/frontend/src/assets/images/navigation.png
  src/frontend/src/components/DialogTaskActions.tsx
  src/frontend/src/components/MapLegends.tsx
  src/frontend/src/components/ProjectDetailsV2/MapControlComponent.tsx
  src/frontend/src/components/ProjectDetailsV2/ProjectInfo.tsx
  src/frontend/src/components/ProjectDetailsV2/ProjectOptions.tsx
  src/frontend/src/components/ProjectDetailsV2/TaskSelectionPopup.tsx
  src/frontend/src/components/ProjectSubmissions/ProjectInfo.tsx
  src/frontend/src/components/ProjectSubmissions/TaskSubmissionsMap.tsx
  src/frontend/src/components/home/HomePageFilters.tsx
  src/frontend/src/components/organisation/OrganisationGridCard.tsx
  src/frontend/src/utilities/BasicCard.tsx
  src/frontend/src/utilities/BasicTabs.tsx
  src/frontend/src/utilities/CustomDrawer.tsx
  src/frontend/src/views/CreateNewProject.tsx
  src/frontend/src/views/EditProjectArea.tsx
  src/frontend/src/views/Home.tsx
  src/frontend/src/views/NewDefineAreaMap.tsx
  src/frontend/src/views/Organisation.tsx
Labels: frontend

feat(projectDetailsForm): tms url description text add (#1795)
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
Labels: frontend

feat(projectDetailsForm): tms url description text add (#1795)
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
Labels: frontend

feat(submissionDetails): if new feature point add then zoom to the point (#1797)
  src/frontend/src/views/SubmissionDetails.tsx
Labels: frontend

feat(submissionDetails): if new feature point add then zoom to the point (#1797)
  src/frontend/src/views/SubmissionDetails.tsx
Labels: frontend

feat(backend): use XLSForm injection during project creation (#1792)
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_deps.py
  src/backend/app/helpers/helper_routes.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/components/ManageProject/EditTab/FormUpdateTab.tsx
  src/frontend/src/components/ProjectDetailsV2/FeatureSelectionPopup.tsx
Labels: frontend, backend

feat(backend): use XLSForm injection during project creation (#1792)
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_deps.py
  src/backend/app/helpers/helper_routes.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/components/ManageProject/EditTab/FormUpdateTab.tsx
  src/frontend/src/components/ProjectDetailsV2/FeatureSelectionPopup.tsx
Labels: frontend, backend

.github/labeler.yml:

bug:
  # Branch starts with `fix` or has a `fix` in the name
  - head-branch: ["^fix", "fix"]
enhancement:
  - head-branch:
      ["^feature", "feature", "^feat", "feat", "^refactor", "refactor"]
frontend:
  - changed-files:
      - any-glob-to-any-file: src/frontend/**
backend:
  - changed-files:
      - any-glob-to-any-file: src/backend/**
devops:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**
          - nginx/**
          - scripts/**
          - docker-*.yml
          - ./**/Dockerfile
          - ./**/.dockerfile
          - ./**/*entrypoint.sh
          - ./**/Justfile
migration:
  - changed-files:
      - any-glob-to-any-file: src/backend/migrations/**
docs:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**
          - images/**
          - mkdocs.yml
          - README.md
          - INSTALL.md
ODK:
  - changed-files:
      - any-glob-to-any-file: odkcentral/**
contrib:
  - changed-files:
      - any-glob-to-any-file: contrib/**
tests:
  - changed-files:
      - any-glob-to-any-file:
          - src/backend/tests/**
          - src/frontend/tests/**
          - src/frontend/e2e/**
