Repository hotosm/field-tm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, devops, migration, documentation, ODK, contrib

test: animation handle
  src/frontend/src/components/home/ProjectListMap.tsx
Labels: frontend

test: animation handle
  src/frontend/src/components/home/ProjectListMap.tsx
Labels: frontend

feat: added marker blue dot
  src/frontend/src/assets/images/png bluedot.png
  src/frontend/src/components/home/ProjectListMap.tsx
Labels: frontend

feat: added marker blue dot
  src/frontend/src/assets/images/png bluedot.png
  src/frontend/src/components/home/ProjectListMap.tsx
Labels: frontend

feat: raw sql replacing sqlalchemy in auth/me endpoint (#1334)
  src/backend/app/auth/auth_routes.py
  src/backend/app/auth/osm.py
  src/backend/tests/conftest.py
  src/frontend/src/utilfunctions/login.ts
Labels: frontend, backend

feat: raw sql replacing sqlalchemy in auth/me endpoint (#1334)
  src/backend/app/auth/auth_routes.py
  src/backend/app/auth/osm.py
  src/backend/tests/conftest.py
  src/frontend/src/utilfunctions/login.ts
Labels: frontend, backend

fix: log event for sensor
  src/frontend/src/components/home/ProjectListMap.tsx
Labels: frontend

fix: log event for sensor
  src/frontend/src/components/home/ProjectListMap.tsx
Labels: frontend

fix createProject: radiobutton replace with checkbox to change formWay type
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/components/createnewproject/validation/SelectFormValidation.tsx
  src/frontend/src/store/slices/CreateProjectSlice.ts
Labels: frontend

fix createProject: radiobutton replace with checkbox to change formWay type
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/components/createnewproject/validation/SelectFormValidation.tsx
  src/frontend/src/store/slices/CreateProjectSlice.ts
Labels: frontend

fix (uploadArea): invalid geojson error handling (#1369)
  src/frontend/src/components/MapComponent/OpenLayersComponent/Layers/VectorLayer.js
  src/frontend/src/components/createnewproject/UploadArea.tsx
Labels: frontend

fix (uploadArea): invalid geojson error handling (#1369)
  src/frontend/src/components/MapComponent/OpenLayersComponent/Layers/VectorLayer.js
  src/frontend/src/components/createnewproject/UploadArea.tsx
Labels: frontend

docs: update all refs OpenDataKit --> ODK
  README.md
  docs/About.md
  docs/Doxyfile
  docs/Guide-On-Improving-Documentation.md
  docs/User-Manual-For-Project-Managers.md
  docs/dev/Setup.md
Labels: documentation

docs: update all refs OpenDataKit --> ODK
  README.md
  docs/About.md
  docs/Doxyfile
  docs/Guide-On-Improving-Documentation.md
  docs/User-Manual-For-Project-Managers.md
  docs/dev/Setup.md
Labels: documentation

feat geolocation: reusable geolocation function add
  src/frontend/src/components/MapComponent/OpenLayersComponent/Geolocation/Geolocation.ts
Labels: frontend

feat geolocation: reusable geolocation function add
  src/frontend/src/components/MapComponent/OpenLayersComponent/Geolocation/Geolocation.ts
Labels: frontend

fix projectSlice: remove geolocationStatus
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/store/types/IProject.ts
Labels: frontend

fix projectSlice: remove geolocationStatus
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/store/types/IProject.ts
Labels: frontend

fix projectDetails: remove old capacitor geolocation code, add new geolocation function
  src/frontend/src/components/ProjectDetailsV2/MapControlComponent.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

fix projectDetails: remove old capacitor geolocation code, add new geolocation function
  src/frontend/src/components/ProjectDetailsV2/MapControlComponent.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

fix geolocation: locationSyle place outside function
  src/frontend/src/components/MapComponent/OpenLayersComponent/Geolocation/Geolocation.ts
Labels: frontend

fix geolocation: locationSyle place outside function
  src/frontend/src/components/MapComponent/OpenLayersComponent/Geolocation/Geolocation.ts
Labels: frontend

fix geolocation: geolocation file location update, import fix
  src/frontend/src/utilfunctions/Geolocation.ts
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

fix geolocation: geolocation file location update, import fix
  src/frontend/src/utilfunctions/Geolocation.ts
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

Api to update the review state of submission (#1350)
  src/backend/app/central/central_crud.py
  src/backend/app/models/enums.py
  src/backend/app/submissions/submission_routes.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

Api to update the review state of submission (#1350)
  src/backend/app/central/central_crud.py
  src/backend/app/models/enums.py
  src/backend/app/submissions/submission_routes.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

refactor: updated the version of fmtm-splitter -> 1.2.1 (#1375)
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

refactor: updated the version of fmtm-splitter -> 1.2.1 (#1375)
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

fix: update user profile image (#1373)
  src/backend/app/auth/auth_routes.py
  src/backend/app/auth/osm.py
Labels: backend

fix: update user profile image (#1373)
  src/backend/app/auth/auth_routes.py
  src/backend/app/auth/osm.py
Labels: backend

feat (frontend): task comments integration (#1352)
  src/frontend/src/api/Project.js
  src/frontend/src/components/MapLegends.jsx
  src/frontend/src/components/ProjectDetailsV2/ActivitiesPanel.tsx
  src/frontend/src/components/ProjectDetailsV2/Comments.tsx
  src/frontend/src/components/ProjectDetailsV2/Instructions.tsx
  src/frontend/src/components/ProjectDetailsV2/MobileActivitiesContents.tsx
  src/frontend/src/components/ProjectDetailsV2/MobileFooter.tsx
  src/frontend/src/components/ProjectDetailsV2/ProjectInfo.tsx
  src/frontend/src/components/ProjectDetailsV2/SkeletonLoader.tsx
  src/frontend/src/components/common/Editor/Editor.tsx
  src/frontend/src/components/common/Editor/Toolbar.tsx
  src/frontend/src/components/common/Editor/editorStyles.scss
  src/frontend/src/shared/AssetModules.js
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

feat (frontend): task comments integration (#1352)
  src/frontend/src/api/Project.js
  src/frontend/src/components/MapLegends.jsx
  src/frontend/src/components/ProjectDetailsV2/ActivitiesPanel.tsx
  src/frontend/src/components/ProjectDetailsV2/Comments.tsx
  src/frontend/src/components/ProjectDetailsV2/Instructions.tsx
  src/frontend/src/components/ProjectDetailsV2/MobileActivitiesContents.tsx
  src/frontend/src/components/ProjectDetailsV2/MobileFooter.tsx
  src/frontend/src/components/ProjectDetailsV2/ProjectInfo.tsx
  src/frontend/src/components/ProjectDetailsV2/SkeletonLoader.tsx
  src/frontend/src/components/common/Editor/Editor.tsx
  src/frontend/src/components/common/Editor/Toolbar.tsx
  src/frontend/src/components/common/Editor/editorStyles.scss
  src/frontend/src/shared/AssetModules.js
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

refactor: update submission in s3 even if reviewstate is updated (#1379)
  src/backend/app/submissions/submission_crud.py
Labels: backend

refactor: update submission in s3 even if reviewstate is updated (#1379)
  src/backend/app/submissions/submission_crud.py
Labels: backend

feat (nav): project details geolocation integration (#1374)
  src/frontend/src/components/ProjectDetailsV2/MapControlComponent.tsx
  src/frontend/src/components/home/ProjectListMap.tsx
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/utilfunctions/Geolocation.ts
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

feat (nav): project details geolocation integration (#1374)
  src/frontend/src/components/ProjectDetailsV2/MapControlComponent.tsx
  src/frontend/src/components/home/ProjectListMap.tsx
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/utilfunctions/Geolocation.ts
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

feat: handle geo orientation crash firefox & safari (#1381)
  src/frontend/src/assets/images/LocationDot.png
  src/frontend/src/utilfunctions/Geolocation.ts
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

feat: handle geo orientation crash firefox & safari (#1381)
  src/frontend/src/assets/images/LocationDot.png
  src/frontend/src/utilfunctions/Geolocation.ts
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

feat: toggleable debug console on mobile in local/dev/stage (#1371)
  docker-compose.main.yml
  src/frontend/prod.dockerfile
  src/frontend/src/utilities/CustomDrawer.jsx
Labels: frontend, devops

feat: toggleable debug console on mobile in local/dev/stage (#1371)
  docker-compose.main.yml
  src/frontend/prod.dockerfile
  src/frontend/src/utilities/CustomDrawer.jsx
Labels: frontend, devops

.github/labeler.yml:

"frontend":
  - "src/frontend/**/*"
"backend":
  - "src/backend/**/*"
"devops":
  - ".github/**/*"
  - "nginx/**/*"
  - "scripts/**/*"
  - "docker-*.yml"
  - "**/Dockerfile"
  - "**/*.dockerfile"
  - "**/*entrypoint.sh"
  - "Justfile"
"migration":
  - "src/backend/migrations/**/*"
"documentation":
  - "docs/**/*"
  - "images/**/*"
  - "mkdocs.yml"
  - "README.md"
  - "INSTALL.md"
"ODK":
  - "odkcentral/**/*"
"contrib":
  - "contrib/**/*"
