Repository hotosm/field-tm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, devops, migration, docs, ODK, contrib, tests

.github/labeler.yml:

bug:
  # Branch starts with `fix` or has a `fix` in the name
  - head-branch: ["^fix", "fix"]
enhancement:
  - head-branch:
      ["^feature", "feature", "^feat", "feat", "^refactor", "refactor"]
frontend:
  - changed-files:
      - any-glob-to-any-file: src/frontend/**
backend:
  - changed-files:
      - any-glob-to-any-file: src/backend/**
devops:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**
          - nginx/**
          - scripts/**
          - docker-*.yml
          - ./**/Dockerfile
          - ./**/.dockerfile
          - ./**/*entrypoint.sh
          - ./**/Justfile
migration:
  - changed-files:
      - any-glob-to-any-file: src/backend/migrations/**
docs:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**
          - images/**
          - mkdocs.yml
          - README.md
          - INSTALL.md
ODK:
  - changed-files:
      - any-glob-to-any-file: odkcentral/**
contrib:
  - changed-files:
      - any-glob-to-any-file: contrib/**
tests:
  - changed-files:
      - any-glob-to-any-file:
          - src/backend/tests/**
          - src/frontend/tests/**
          - src/frontend/e2e/**

feat(backend): osm-fieldwork --> 0.18.0 (submission filter param + config new feat geom type)
  src/backend/pyproject.toml
  src/backend/uv.lock
Labels: backend

feat(backend): osm-fieldwork --> 0.18.0 (submission filter param + config new feat geom type)
  src/backend/pyproject.toml
  src/backend/uv.lock
Labels: backend

build: fixed running of "bash scripts/1-environment/gen-env.sh" on MacOS Sequoia 15.2 (#2083)
  scripts/1-environment/gen-env.sh
Labels: devops

build: fixed running of "bash scripts/1-environment/gen-env.sh" on MacOS Sequoia 15.2 (#2083)
  scripts/1-environment/gen-env.sh
Labels: devops

docs: extra info on tech decisions (odk + hotosm)
  docs/decisions/0000-hotosm.md
  docs/decisions/0002-odk.md
  docs/decisions/README.md
Labels: docs

docs: extra info on tech decisions (odk + hotosm)
  docs/decisions/0000-hotosm.md
  docs/decisions/0002-odk.md
  docs/decisions/README.md
Labels: docs

docs: add info about flatgeobuf + web form decisions
  docs/decisions/0003-flatgeobuf.md
  docs/decisions/0004-web-forms.md
Labels: docs

docs: add info about flatgeobuf + web form decisions
  docs/decisions/0003-flatgeobuf.md
  docs/decisions/0004-web-forms.md
Labels: docs

fix(mapper): get entities after page load to speed up first paint (#2051)
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/src/routes/[projectId]/+page.ts
Labels: none

fix(mapper): get entities after page load to speed up first paint (#2051)
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/src/routes/[projectId]/+page.ts
Labels: none

feat(backend): add filters for submission date in submission table and downloads (#2077)
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
  src/backend/tests/test_submission_routes.py
Labels: backend, tests

feat(backend): add filters for submission date in submission table and downloads (#2077)
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
  src/backend/tests/test_submission_routes.py
Labels: backend, tests

feat: capability to draw new polygon and linestring geoms (#2082)
  src/backend/app/central/central_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/pyproject.toml
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/models/project/projectModel.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/types/enums.ts
  src/mapper/package.json
  src/mapper/pnpm-lock.yaml
  src/mapper/src/constants/enums.ts
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/lib/odk/javarosa.ts
  src/mapper/src/lib/types.ts
  src/mapper/src/routes/[projectId]/+page.svelte
Labels: frontend, backend

feat: capability to draw new polygon and linestring geoms (#2082)
  src/backend/app/central/central_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/pyproject.toml
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/models/project/projectModel.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/types/enums.ts
  src/mapper/package.json
  src/mapper/pnpm-lock.yaml
  src/mapper/src/constants/enums.ts
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/lib/odk/javarosa.ts
  src/mapper/src/lib/types.ts
  src/mapper/src/routes/[projectId]/+page.svelte
Labels: frontend, backend

test(backend): add CRUD tests for organisation endpoints (#2069)
  src/backend/app/db/models.py
  src/backend/tests/conftest.py
  src/backend/tests/test_organisation_routes.py
Labels: backend, tests

test(backend): add CRUD tests for organisation endpoints (#2069)
  src/backend/app/db/models.py
  src/backend/tests/conftest.py
  src/backend/tests/test_organisation_routes.py
Labels: backend, tests

build: update osm-fieldwork --> 0.18.1 for portuguese xlsform translations
  src/backend/pyproject.toml
  src/backend/uv.lock
Labels: backend

build: update osm-fieldwork --> 0.18.1 for portuguese xlsform translations
  src/backend/pyproject.toml
  src/backend/uv.lock
Labels: backend

build(frontend): update pnpm version to latest stable 9.15.4 (#2092)
  src/Dockerfile.ui.debug
  src/Dockerfile.ui.prod
  src/frontend/package.json
  src/mapper/package.json
Labels: frontend

build(frontend): update pnpm version to latest stable 9.15.4 (#2092)
  src/Dockerfile.ui.debug
  src/Dockerfile.ui.prod
  src/frontend/package.json
  src/mapper/package.json
Labels: frontend

build: add just config for running frontend dev without docker
  contrib/just/start/Justfile
Labels: devops, contrib

build: add just config for running frontend dev without docker
  contrib/just/start/Justfile
Labels: devops, contrib

docs: update info about starting frontend dev locally (no docker)
  docs/dev/Frontend.md
Labels: docs

docs: update info about starting frontend dev locally (no docker)
  docs/dev/Frontend.md
Labels: docs

feat(backend): get api for project's geometry log (#2090)
  src/backend/app/db/models.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
Labels: backend

feat(backend): get api for project's geometry log (#2090)
  src/backend/app/db/models.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
Labels: backend

feat(frontend): submission table date range filter (#2091)
  src/frontend/src/api/task.ts
  src/frontend/src/components/ProjectSubmissions/ProjectSubmissionsSkeletonLoader.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/common/DateRangePicker.tsx
  src/frontend/src/components/common/Select.tsx
  src/frontend/src/index.css
  src/frontend/src/store/types/ISubmissions.ts
Labels: frontend

feat(frontend): submission table date range filter (#2091)
  src/frontend/src/api/task.ts
  src/frontend/src/components/ProjectSubmissions/ProjectSubmissionsSkeletonLoader.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/common/DateRangePicker.tsx
  src/frontend/src/components/common/Select.tsx
  src/frontend/src/index.css
  src/frontend/src/store/types/ISubmissions.ts
Labels: frontend

feat(mapper): distance constraint add on frontend (#2084)
  src/mapper/package.json
  src/mapper/pnpm-lock.yaml
  src/mapper/src/lib/components/dialog-entities-actions.svelte
  src/mapper/src/lib/components/map/geolocation.svelte
  src/mapper/src/lib/types.ts
Labels: none

feat(mapper): distance constraint add on frontend (#2084)
  src/mapper/package.json
  src/mapper/pnpm-lock.yaml
  src/mapper/src/lib/components/dialog-entities-actions.svelte
  src/mapper/src/lib/components/map/geolocation.svelte
  src/mapper/src/lib/types.ts
Labels: none

fix: use task index instead of id in task boundary geojson properties (#2095)
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
Labels: backend

fix: use task index instead of id in task boundary geojson properties (#2095)
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
Labels: backend

feat: entity pulse effect on rejected submissions (#2018)
  src/backend/app/db/models.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/frontend/src/api/Project.ts
  src/frontend/src/api/SubmissionService.ts
  src/frontend/src/components/MapComponent/OpenLayersComponent/Layers/VectorLayer.js
  src/frontend/src/components/ProjectDetailsV2/TaskSelectionPopup.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/ProjectSubmissions/UpdateReviewStatusModal.tsx
  src/frontend/src/models/project/projectModel.ts
  src/frontend/src/models/submission/submissionModel.ts
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/store/slices/SubmissionSlice.ts
  src/frontend/src/store/slices/ThemeSlice.ts
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/store/types/ISubmissions.ts
  src/frontend/src/types/enums.ts
  src/frontend/src/utilfunctions/commonUtils.ts
  src/frontend/src/utilfunctions/extractGeojsonFromObject.ts
  src/frontend/src/utilfunctions/getTaskStatusStyle.ts
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/frontend/src/views/SubmissionDetails.tsx
  src/mapper/src/lib/components/map/flatgeobuf-layer.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/src/store/entities.svelte.ts
Labels: frontend, backend

feat: entity pulse effect on rejected submissions (#2018)
  src/backend/app/db/models.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/frontend/src/api/Project.ts
  src/frontend/src/api/SubmissionService.ts
  src/frontend/src/components/MapComponent/OpenLayersComponent/Layers/VectorLayer.js
  src/frontend/src/components/ProjectDetailsV2/TaskSelectionPopup.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/ProjectSubmissions/UpdateReviewStatusModal.tsx
  src/frontend/src/models/project/projectModel.ts
  src/frontend/src/models/submission/submissionModel.ts
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/store/slices/SubmissionSlice.ts
  src/frontend/src/store/slices/ThemeSlice.ts
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/store/types/ISubmissions.ts
  src/frontend/src/types/enums.ts
  src/frontend/src/utilfunctions/commonUtils.ts
  src/frontend/src/utilfunctions/extractGeojsonFromObject.ts
  src/frontend/src/utilfunctions/getTaskStatusStyle.ts
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/frontend/src/views/SubmissionDetails.tsx
  src/mapper/src/lib/components/map/flatgeobuf-layer.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/src/store/entities.svelte.ts
Labels: frontend, backend

fix(+page): remove irrelevant subscribeToEntityStatusUpdates call in onMount
  src/mapper/src/routes/[projectId]/+page.svelte
Labels: none

fix(+page): remove irrelevant subscribeToEntityStatusUpdates call in onMount
  src/mapper/src/routes/[projectId]/+page.svelte
Labels: none

refactor(frontend): organization management pages (#2097)
  src/backend/app/organisations/organisation_schemas.py
  src/frontend/src/api/OrganisationService.ts
  src/frontend/src/components/ApproveOrganization/ApproveOrganizationHeader.tsx
  src/frontend/src/components/ApproveOrganization/OrganizationForm.tsx
  src/frontend/src/components/CreateEditOrganization/ConsentDetailsForm.tsx
  src/frontend/src/components/CreateEditOrganization/CreateEditOrganizationForm.tsx
  src/frontend/src/components/CreateEditOrganization/CreateEditOrganizationHeader.tsx
  src/frontend/src/components/CreateEditOrganization/validation/OrganizationDetailsValidation.ts
  src/frontend/src/components/ManageProject/EditTab/FormUpdateTab.tsx
  src/frontend/src/components/common/UploadArea.tsx
  src/frontend/src/components/organisation/OrganisationGridCard.tsx
  src/frontend/src/routes.jsx
  src/frontend/src/utilfunctions/index.ts
  src/frontend/src/utilfunctions/isEmpty.ts
  src/frontend/src/utilities/CustomDrawer.tsx
  src/frontend/src/utilities/PrimaryAppBar.tsx
  src/frontend/src/views/Organisation.tsx
Labels: frontend, backend

refactor(frontend): organization management pages (#2097)
  src/backend/app/organisations/organisation_schemas.py
  src/frontend/src/api/OrganisationService.ts
  src/frontend/src/components/ApproveOrganization/ApproveOrganizationHeader.tsx
  src/frontend/src/components/ApproveOrganization/OrganizationForm.tsx
  src/frontend/src/components/CreateEditOrganization/ConsentDetailsForm.tsx
  src/frontend/src/components/CreateEditOrganization/CreateEditOrganizationForm.tsx
  src/frontend/src/components/CreateEditOrganization/CreateEditOrganizationHeader.tsx
  src/frontend/src/components/CreateEditOrganization/validation/OrganizationDetailsValidation.ts
  src/frontend/src/components/ManageProject/EditTab/FormUpdateTab.tsx
  src/frontend/src/components/common/UploadArea.tsx
  src/frontend/src/components/organisation/OrganisationGridCard.tsx
  src/frontend/src/routes.jsx
  src/frontend/src/utilfunctions/index.ts
  src/frontend/src/utilfunctions/isEmpty.ts
  src/frontend/src/utilities/CustomDrawer.tsx
  src/frontend/src/utilities/PrimaryAppBar.tsx
  src/frontend/src/views/Organisation.tsx
Labels: frontend, backend

build: update osm-fieldwork --> v0.18.2 for xlsform updates
  src/backend/pyproject.toml
  src/backend/uv.lock
Labels: backend

build: update osm-fieldwork --> v0.18.2 for xlsform updates
  src/backend/pyproject.toml
  src/backend/uv.lock
Labels: backend
