Repository hotosm/field-tm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, devops, migration, documentation, ODK, contrib

.github/labeler.yml:

"frontend":
  - "src/frontend/**/*"
"backend":
  - "src/backend/**/*"
"devops":
  - ".github/**/*"
  - "nginx/**/*"
  - "scripts/**/*"
  - "docker-*.yml"
  - "**/Dockerfile"
  - "**/*.dockerfile"
  - "**/*entrypoint.sh"
  - "Justfile"
"migration":
  - "src/backend/migrations/**/*"
"documentation":
  - "docs/**/*"
  - "images/**/*"
  - "mkdocs.yml"
  - "README.md"
  - "INSTALL.md"
"ODK":
  - "odkcentral/**/*"
"contrib":
  - "contrib/**/*"

fix: populate task_id correctly in feature properties (#1515)
  src/backend/app/db/postgis_utils.py
Labels: backend

fix: populate task_id correctly in feature properties (#1515)
  src/backend/app/db/postgis_utils.py
Labels: backend

feat: download submissions in geojson (#1517)
  src/backend/app/submissions/submission_routes.py
Labels: backend

feat: download submissions in geojson (#1517)
  src/backend/app/submissions/submission_routes.py
Labels: backend

feat (frontend): submissions geojson download (#1518)
  src/frontend/src/api/Project.js
  src/frontend/src/components/ProjectDetailsV2/MapControlComponent.tsx
  src/frontend/src/components/ProjectDetailsV2/ProjectOptions.tsx
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

feat (frontend): submissions geojson download (#1518)
  src/frontend/src/api/Project.js
  src/frontend/src/components/ProjectDetailsV2/MapControlComponent.tsx
  src/frontend/src/components/ProjectDetailsV2/ProjectOptions.tsx
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

fix: download submissions(csv,json) & refactor submission endpoints (#1519)
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
Labels: backend

fix: download submissions(csv,json) & refactor submission endpoints (#1519)
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
Labels: backend

fix: typo error in project name prefix in submission-download-geojson (#1523)
  src/backend/app/submissions/submission_routes.py
Labels: backend

fix: typo error in project name prefix in submission-download-geojson (#1523)
  src/backend/app/submissions/submission_routes.py
Labels: backend

Fix submission download (#1524)
  src/frontend/src/api/task.ts
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
Labels: frontend

Fix submission download (#1524)
  src/frontend/src/api/task.ts
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
Labels: frontend

docs: update user manual for project managers (#1505)
  docs/User-Manual-For-Project-Managers.md
Labels: documentation

docs: update user manual for project managers (#1505)
  docs/User-Manual-For-Project-Managers.md
Labels: documentation

feat: update PWA config with 2023 icon requirements and caching (#1474)
  .gitignore
  mkdocs.yml
  src/backend/app/auth/auth_routes.py
  src/frontend/index.html
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/public/apple-touch-icon-180x180.png
  src/frontend/public/favicon.ico
  src/frontend/public/favicon.svg
  src/frontend/public/icon-192x192.png
  src/frontend/public/icon-256x256.png
  src/frontend/public/icon-384x384.png
  src/frontend/public/icon-512x512.png
  src/frontend/public/manifest.json
  src/frontend/public/maskable-icon-512x512.png
  src/frontend/public/pwa-192x192.png
  src/frontend/public/pwa-512x512.png
  src/frontend/public/pwa-64x64.png
  src/frontend/public/robots.txt
  src/frontend/src/App.tsx
  src/frontend/src/components/OfflineReadyPrompt.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/common/UploadArea.tsx
  src/frontend/src/components/home/HomePageFilters.tsx
  src/frontend/src/index.ts
  src/frontend/src/main.tsx
  src/frontend/src/styles/OfflineReadyPrompt.css
  src/frontend/src/sum.js
  src/frontend/src/views/OsmAuth.tsx
  src/frontend/tests/App.test.jsx
  src/frontend/tsconfig.json
  src/frontend/vite.config.ts
Labels: frontend, backend, documentation

feat: update PWA config with 2023 icon requirements and caching (#1474)
  .gitignore
  mkdocs.yml
  src/backend/app/auth/auth_routes.py
  src/frontend/index.html
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/public/apple-touch-icon-180x180.png
  src/frontend/public/favicon.ico
  src/frontend/public/favicon.svg
  src/frontend/public/icon-192x192.png
  src/frontend/public/icon-256x256.png
  src/frontend/public/icon-384x384.png
  src/frontend/public/icon-512x512.png
  src/frontend/public/manifest.json
  src/frontend/public/maskable-icon-512x512.png
  src/frontend/public/pwa-192x192.png
  src/frontend/public/pwa-512x512.png
  src/frontend/public/pwa-64x64.png
  src/frontend/public/robots.txt
  src/frontend/src/App.tsx
  src/frontend/src/components/OfflineReadyPrompt.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/common/UploadArea.tsx
  src/frontend/src/components/home/HomePageFilters.tsx
  src/frontend/src/index.ts
  src/frontend/src/main.tsx
  src/frontend/src/styles/OfflineReadyPrompt.css
  src/frontend/src/sum.js
  src/frontend/src/views/OsmAuth.tsx
  src/frontend/tests/App.test.jsx
  src/frontend/tsconfig.json
  src/frontend/vite.config.ts
Labels: frontend, backend, documentation

fix (frontend): PWA map css height (#1528)
  src/frontend/src/views/MainView.jsx
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

fix (frontend): PWA map css height (#1528)
  src/frontend/src/views/MainView.jsx
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

ci: add optional dead code checker for python
  .pre-commit-config.yaml
  src/backend/app/auth/auth_routes.py
  src/backend/app/central/central_crud.py
  src/backend/app/main.py
  src/backend/app/monitoring.py
Labels: backend

ci: add optional dead code checker for python
  .pre-commit-config.yaml
  src/backend/app/auth/auth_routes.py
  src/backend/app/central/central_crud.py
  src/backend/app/main.py
  src/backend/app/monitoring.py
Labels: backend

ci: add sqlfluff linter and autoformatter
  .pre-commit-config.yaml
Labels: none

ci: add sqlfluff linter and autoformatter
  .pre-commit-config.yaml
Labels: none

ci: add sqlfluff sql file linter/autoformatter
  .pre-commit-config.yaml
  src/backend/pyproject.toml
Labels: backend

ci: add sqlfluff sql file linter/autoformatter
  .pre-commit-config.yaml
  src/backend/pyproject.toml
Labels: backend

build: run sqlfluff on all .sql files
  src/backend/migrations/002-add-xforms-table.sql
  src/backend/migrations/003-add-tms-url.sql
  src/backend/migrations/archived/2024-02-24/000-remove-user-password.sql
  src/backend/migrations/archived/2024-02-24/001-project-split-type-fields.sql
  src/backend/migrations/archived/2024-02-24/002-add-profile-img.sql
  src/backend/migrations/archived/2024-02-24/003-project-roles.sql
  src/backend/migrations/archived/2024-02-24/004-organisation-odk-creds.sql
  src/backend/migrations/archived/2024-02-24/005-remove-qrcode.sql
  src/backend/migrations/archived/2024-02-24/006-index-roles.sql
  src/backend/migrations/archived/2024-02-24/007-add-extract-url.sql
  src/backend/migrations/archived/2024-02-24/008-add-user-in-org.sql
  src/backend/migrations/archived/2024-02-24/009-add-community-type.sql
  src/backend/migrations/archived/2024-02-24/revert/001-project-split-type-fields.sql
  src/backend/migrations/archived/2024-02-24/revert/002-add-profile-img.sql
  src/backend/migrations/archived/2024-02-24/revert/003-project-roles.sql
  src/backend/migrations/archived/2024-02-24/revert/004-organisation-odk-creds.sql
  src/backend/migrations/archived/2024-02-24/revert/005-remove-qrcode.sql
  src/backend/migrations/archived/2024-02-24/revert/007-add-extract-url.sql
  src/backend/migrations/archived/2024-02-24/revert/009-add-community-type.sql
  src/backend/migrations/archived/2024-02-24/revert/010-drop-features-table.sql
  src/backend/migrations/archived/2024-02-24/revert/011-task-features-count.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/migrations/revert/002-add-xform-table.sql
  src/backend/migrations/revert/003-add-tms-url.sql
Labels: backend, migration

build: run sqlfluff on all .sql files
  src/backend/migrations/002-add-xforms-table.sql
  src/backend/migrations/003-add-tms-url.sql
  src/backend/migrations/archived/2024-02-24/000-remove-user-password.sql
  src/backend/migrations/archived/2024-02-24/001-project-split-type-fields.sql
  src/backend/migrations/archived/2024-02-24/002-add-profile-img.sql
  src/backend/migrations/archived/2024-02-24/003-project-roles.sql
  src/backend/migrations/archived/2024-02-24/004-organisation-odk-creds.sql
  src/backend/migrations/archived/2024-02-24/005-remove-qrcode.sql
  src/backend/migrations/archived/2024-02-24/006-index-roles.sql
  src/backend/migrations/archived/2024-02-24/007-add-extract-url.sql
  src/backend/migrations/archived/2024-02-24/008-add-user-in-org.sql
  src/backend/migrations/archived/2024-02-24/009-add-community-type.sql
  src/backend/migrations/archived/2024-02-24/revert/001-project-split-type-fields.sql
  src/backend/migrations/archived/2024-02-24/revert/002-add-profile-img.sql
  src/backend/migrations/archived/2024-02-24/revert/003-project-roles.sql
  src/backend/migrations/archived/2024-02-24/revert/004-organisation-odk-creds.sql
  src/backend/migrations/archived/2024-02-24/revert/005-remove-qrcode.sql
  src/backend/migrations/archived/2024-02-24/revert/007-add-extract-url.sql
  src/backend/migrations/archived/2024-02-24/revert/009-add-community-type.sql
  src/backend/migrations/archived/2024-02-24/revert/010-drop-features-table.sql
  src/backend/migrations/archived/2024-02-24/revert/011-task-features-count.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/migrations/revert/002-add-xform-table.sql
  src/backend/migrations/revert/003-add-tms-url.sql
Labels: backend, migration

ci: add codespell pre-commit hook for spelling correction
  .pre-commit-config.yaml
  src/backend/pyproject.toml
Labels: backend

ci: add codespell pre-commit hook for spelling correction
  .pre-commit-config.yaml
  src/backend/pyproject.toml
Labels: backend

docs: fix typo donot --> do not in setup.md
  docs/dev/Setup.md
Labels: documentation

docs: fix typo donot --> do not in setup.md
  docs/dev/Setup.md
Labels: documentation

ci: allow autofix for codespell mistakes
  src/backend/pyproject.toml
Labels: backend

ci: allow autofix for codespell mistakes
  src/backend/pyproject.toml
Labels: backend

refactor: run codespell spelling fixer
  .github/workflows/build_and_deploy.yml
  .github/workflows/tests/pytest.yml
  CONTRIBUTING.md
  README.md
  chart/README.md
  docs/dev/Deployment-Flow.md
  docs/dev/Production.md
  docs/index.md
  nginx/container-entrypoint.sh
  src/backend/app/db/postgis_utils.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/submissions/submission_routes.py
  src/backend/app/tasks/task_deps.py
  src/frontend/src/components/home/ExploreProjectCard.tsx
  src/frontend/src/components/home/ProjectCardSkeleton.tsx
  src/frontend/src/views/OsmAuth.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/frontend/src/views/ProjectSubmissions.tsx
Labels: frontend, backend, devops, documentation

refactor: run codespell spelling fixer
  .github/workflows/build_and_deploy.yml
  .github/workflows/tests/pytest.yml
  CONTRIBUTING.md
  README.md
  chart/README.md
  docs/dev/Deployment-Flow.md
  docs/dev/Production.md
  docs/index.md
  nginx/container-entrypoint.sh
  src/backend/app/db/postgis_utils.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/submissions/submission_routes.py
  src/backend/app/tasks/task_deps.py
  src/frontend/src/components/home/ExploreProjectCard.tsx
  src/frontend/src/components/home/ProjectCardSkeleton.tsx
  src/frontend/src/views/OsmAuth.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/frontend/src/views/ProjectSubmissions.tsx
Labels: frontend, backend, devops, documentation

refactor: fix ambiguous typos preventing pre-commit codespell passing
  src/backend/app/submissions/submission_crud.py
  src/backend/tests/test_projects_routes.py
  src/frontend/src/utilfunctions/Geolocation.ts
Labels: frontend, backend

refactor: fix ambiguous typos preventing pre-commit codespell passing
  src/backend/app/submissions/submission_crud.py
  src/backend/tests/test_projects_routes.py
  src/frontend/src/utilfunctions/Geolocation.ts
Labels: frontend, backend

refactor: use HTTPStatus enum for helper route response codes
  src/backend/app/helpers/helper_routes.py
Labels: backend

refactor: use HTTPStatus enum for helper route response codes
  src/backend/app/helpers/helper_routes.py
Labels: backend

build: separate svc accounts for raw-data-api and fmtm (#1529)
  .env.example
  src/backend/app/config.py
  src/backend/app/helpers/helper_routes.py
  src/backend/app/projects/project_crud.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

build: separate svc accounts for raw-data-api and fmtm (#1529)
  .env.example
  src/backend/app/config.py
  src/backend/app/helpers/helper_routes.py
  src/backend/app/projects/project_crud.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend
