Repository hotosm/field-tm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, devops, migration, documentation, ODK, contrib

docs: add copyright to docs page
  mkdocs.yml
Labels: documentation

docs: add copyright to docs page
  mkdocs.yml
Labels: documentation

docs: fix links to docs favicon and icon
  mkdocs.yml
Labels: documentation

docs: fix links to docs favicon and icon
  mkdocs.yml
Labels: documentation

fix: remove data extract upload type (#1261)
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
  src/frontend/src/components/createnewproject/validation/DataExtractValidation.tsx
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/views/CreateNewProject.tsx
Labels: frontend

fix: remove data extract upload type (#1261)
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
  src/frontend/src/components/createnewproject/validation/DataExtractValidation.tsx
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/views/CreateNewProject.tsx
Labels: frontend

feat: improve form validation logic, allow xform xml uploads (#1294)
  src/backend/app/central/central_crud.py
  src/backend/app/main.py
  src/backend/app/projects/project_routes.py
  src/frontend/src/components/createnewproject/SelectForm.tsx
Labels: frontend, backend

feat: improve form validation logic, allow xform xml uploads (#1294)
  src/backend/app/central/central_crud.py
  src/backend/app/main.py
  src/backend/app/projects/project_routes.py
  src/frontend/src/components/createnewproject/SelectForm.tsx
Labels: frontend, backend

refactor: old organization creation page removed (#1299)
  src/frontend/src/components/organisation/OrganisationAddForm.tsx
  src/frontend/src/components/organisation/Validation/OrganisationAddValidation.tsx
  src/frontend/src/routes.jsx
  src/frontend/src/views/CreateOrganisation.tsx
Labels: frontend

refactor: old organization creation page removed (#1299)
  src/frontend/src/components/organisation/OrganisationAddForm.tsx
  src/frontend/src/components/organisation/Validation/OrganisationAddValidation.tsx
  src/frontend/src/routes.jsx
  src/frontend/src/views/CreateOrganisation.tsx
Labels: frontend

refactor (frontend): TS types added to splitTasks (#1301)
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/store/types/ICreateProject.ts
Labels: frontend

refactor (frontend): TS types added to splitTasks (#1301)
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/store/types/ICreateProject.ts
Labels: frontend

fix: update xform name to fetch submissions (#1306)
  src/backend/app/submissions/submission_crud.py
Labels: backend

fix: update xform name to fetch submissions (#1306)
  src/backend/app/submissions/submission_crud.py
Labels: backend

fix (frontend): uploadArea apply limit condition for only Km.sq. (#1304)
  src/frontend/src/components/createnewproject/UploadArea.tsx
Labels: frontend

fix (frontend): uploadArea apply limit condition for only Km.sq. (#1304)
  src/frontend/src/components/createnewproject/UploadArea.tsx
Labels: frontend

build: update osm-fieldwork --> 0.5.1
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

build: update osm-fieldwork --> 0.5.1
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

feat: add helpers router to helper util endpoints
  src/backend/app/db/postgis_utils.py
  src/backend/app/helpers/__init__.py
  src/backend/app/helpers/helper_crud.py
  src/backend/app/helpers/helper_routes.py
  src/backend/app/main.py
  src/backend/app/organisations/__init__.py
Labels: backend

feat: add helpers router to helper util endpoints
  src/backend/app/db/postgis_utils.py
  src/backend/app/helpers/__init__.py
  src/backend/app/helpers/helper_crud.py
  src/backend/app/helpers/helper_routes.py
  src/backend/app/main.py
  src/backend/app/organisations/__init__.py
Labels: backend

fix: fix form naming during creation, media upload, appuser set
  src/backend/app/central/central_crud.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
Labels: backend

fix: fix form naming during creation, media upload, appuser set
  src/backend/app/central/central_crud.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
Labels: backend

test: update project creation test with latest generate_task_files
  src/backend/tests/test_projects_routes.py
Labels: backend

test: update project creation test with latest generate_task_files
  src/backend/tests/test_projects_routes.py
Labels: backend

fix: fix form validation check during project creation
  src/backend/app/central/central_crud.py
  src/backend/app/projects/project_routes.py
Labels: backend

fix: fix form validation check during project creation
  src/backend/app/central/central_crud.py
  src/backend/app/projects/project_routes.py
Labels: backend

fix: update project_admin role to return user/project dict
  src/backend/app/auth/roles.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
Labels: backend

fix: update project_admin role to return user/project dict
  src/backend/app/auth/roles.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
Labels: backend

fix(frontend): form update page UI + correct post params
  src/frontend/src/components/ManageProject/EditTab/FormUpdateTab.tsx
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/store/slices/CreateProjectSlice.ts
Labels: frontend

fix(frontend): form update page UI + correct post params
  src/frontend/src/components/ManageProject/EditTab/FormUpdateTab.tsx
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/store/slices/CreateProjectSlice.ts
Labels: frontend

fix: update-form endpoint working
  src/backend/app/central/central_crud.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/tests/test_projects_routes.py
Labels: backend

fix: update-form endpoint working
  src/backend/app/central/central_crud.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/tests/test_projects_routes.py
Labels: backend

refactor: remove categories from form list, update to raw sql
  src/backend/app/central/central_crud.py
Labels: backend

refactor: remove categories from form list, update to raw sql
  src/backend/app/central/central_crud.py
Labels: backend

feat: cookie check added for auth check
  docker-compose.yml
  src/frontend/src/utilfunctions/cookieUtils.ts
  src/frontend/src/utilities/ProtectedRoute.jsx
  src/frontend/src/views/Organisation.tsx
Labels: frontend, devops

feat: cookie check added for auth check
  docker-compose.yml
  src/frontend/src/utilfunctions/cookieUtils.ts
  src/frontend/src/utilities/ProtectedRoute.jsx
  src/frontend/src/views/Organisation.tsx
Labels: frontend, devops

fix(frontend): update odk collect qrcode task id in metadata_phonenumber
  src/frontend/src/api/Files.js
Labels: frontend

fix(frontend): update odk collect qrcode task id in metadata_phonenumber
  src/frontend/src/api/Files.js
Labels: frontend

fix(backend): bug with xform/xlsform reading with suffix appended
  src/backend/app/central/central_crud.py
Labels: backend

fix(backend): bug with xform/xlsform reading with suffix appended
  src/backend/app/central/central_crud.py
Labels: backend

.github/labeler.yml:

"frontend":
  - "src/frontend/**/*"
"backend":
  - "src/backend/**/*"
"devops":
  - ".github/**/*"
  - "nginx/**/*"
  - "scripts/**/*"
  - "docker-*.yml"
  - "**/Dockerfile"
  - "**/*.dockerfile"
  - "**/*entrypoint.sh"
  - "Justfile"
"migration":
  - "src/backend/migrations/**/*"
"documentation":
  - "docs/**/*"
  - "images/**/*"
  - "mkdocs.yml"
  - "README.md"
  - "INSTALL.md"
"ODK":
  - "odkcentral/**/*"
"contrib":
  - "contrib/**/*"
