Repository hotosm/field-tm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, devops, migration, documentation, ODK, contrib

.github/labeler.yml:

"frontend":
  - "src/frontend/**/*"
"backend":
  - "src/backend/**/*"
"devops":
  - ".github/**/*"
  - "nginx/**/*"
  - "scripts/**/*"
  - "docker-*.yml"
  - "**/Dockerfile"
  - "**/*.dockerfile"
  - "**/*entrypoint.sh"
  - "Justfile"
"migration":
  - "src/backend/migrations/**/*"
"documentation":
  - "docs/**/*"
  - "images/**/*"
  - "mkdocs.yml"
  - "README.md"
  - "INSTALL.md"
"ODK":
  - "odkcentral/**/*"
"contrib":
  - "contrib/**/*"

docs: update team doc html
  docs/about/team.md
Labels: documentation

docs: update team doc html
  docs/about/team.md
Labels: documentation

docs: fix sidebar links for pre-commit and versioning
  mkdocs.yml
Labels: documentation

docs: fix sidebar links for pre-commit and versioning
  mkdocs.yml
Labels: documentation

docs: update links in team.md breakdown
  docs/about/team.md
Labels: documentation

docs: update links in team.md breakdown
  docs/about/team.md
Labels: documentation

test(backend): updating the task status endpoint (#1703)
  src/backend/tests/test_task_routes.py
Labels: backend

test(backend): updating the task status endpoint (#1703)
  src/backend/tests/test_task_routes.py
Labels: backend

test: project task split (#1702)
  src/backend/tests/conftest.py
  src/backend/tests/test_projects_routes.py
Labels: backend

test: project task split (#1702)
  src/backend/tests/conftest.py
  src/backend/tests/test_projects_routes.py
Labels: backend

fix(backend): generating project files passing project id to background task (#1708)
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
Labels: backend

fix(backend): generating project files passing project id to background task (#1708)
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
Labels: backend

fix(frontend): disable form category updates (#1704)
  src/frontend/src/components/ManageProject/EditTab/FormUpdateTab.tsx
  src/frontend/src/components/ManageProject/EditTab/ProjectDescriptionTab.tsx
  src/frontend/src/components/ManageProject/EditTab/index.tsx
  src/frontend/src/components/common/Select.tsx
  src/frontend/src/store/types/ICreateProject.ts
Labels: frontend

fix(frontend): disable form category updates (#1704)
  src/frontend/src/components/ManageProject/EditTab/FormUpdateTab.tsx
  src/frontend/src/components/ManageProject/EditTab/ProjectDescriptionTab.tsx
  src/frontend/src/components/ManageProject/EditTab/index.tsx
  src/frontend/src/components/common/Select.tsx
  src/frontend/src/store/types/ICreateProject.ts
Labels: frontend

fix(backend): remove option for updating form category type
  src/backend/app/projects/project_routes.py
Labels: backend

fix(backend): remove option for updating form category type
  src/backend/app/projects/project_routes.py
Labels: backend

docs: link to odk docs info for loading offline maps in odkcollect (mbtiles)
  docs/manuals/Load_tiles_on_ODK.md
  mkdocs.yml
Labels: documentation

docs: link to odk docs info for loading offline maps in odkcollect (mbtiles)
  docs/manuals/Load_tiles_on_ODK.md
  mkdocs.yml
Labels: documentation

docs: use h1 tag in README as github sanitises style= tags
  README.md
Labels: documentation

docs: use h1 tag in README as github sanitises style= tags
  README.md
Labels: documentation

docs: fix alt text for README release version
  README.md
Labels: documentation

docs: fix alt text for README release version
  README.md
Labels: documentation

docs: readme summary table formatting
  README.md
Labels: documentation

docs: readme summary table formatting
  README.md
Labels: documentation

docs: add pre-commit.ci status to readme
  README.md
Labels: documentation

docs: add pre-commit.ci status to readme
  README.md
Labels: documentation

build: add build Justfile missed by gitignore settings
  .gitignore
  contrib/just/build/Justfile
Labels: contrib

build: add build Justfile missed by gitignore settings
  .gitignore
  contrib/just/build/Justfile
Labels: contrib

build: add extra ports to api range (allow 4 replicas)
  docker-compose.yml
Labels: devops

build: add extra ports to api range (allow 4 replicas)
  docker-compose.yml
Labels: devops

feat(frontend): working submission comments to submission page (#1709)
  src/frontend/src/api/SubmissionService.ts
  src/frontend/src/components/ProjectDetailsV2/Comments.tsx
  src/frontend/src/components/ProjectSubmissions/ProjectInfo.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/ProjectSubmissions/UpdateReviewStatusModal.tsx
  src/frontend/src/components/SubmissionInstance/SubmissionComments.tsx
  src/frontend/src/components/common/Accordion.tsx
  src/frontend/src/shared/AssetModules.js
  src/frontend/src/store/slices/SubmissionSlice.ts
  src/frontend/src/store/types/ISubmissions.ts
  src/frontend/src/views/SubmissionDetails.tsx
Labels: frontend

feat(frontend): working submission comments to submission page (#1709)
  src/frontend/src/api/SubmissionService.ts
  src/frontend/src/components/ProjectDetailsV2/Comments.tsx
  src/frontend/src/components/ProjectSubmissions/ProjectInfo.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/ProjectSubmissions/UpdateReviewStatusModal.tsx
  src/frontend/src/components/SubmissionInstance/SubmissionComments.tsx
  src/frontend/src/components/common/Accordion.tsx
  src/frontend/src/shared/AssetModules.js
  src/frontend/src/store/slices/SubmissionSlice.ts
  src/frontend/src/store/types/ISubmissions.ts
  src/frontend/src/views/SubmissionDetails.tsx
Labels: frontend

test(backend): add failure test case for create project endpoint (#1710)
  src/backend/tests/test_projects_routes.py
Labels: backend

test(backend): add failure test case for create project endpoint (#1710)
  src/backend/tests/test_projects_routes.py
Labels: backend

fix(projectTaskStatus): dialog task_status text update on task update (#1712)
  src/frontend/src/api/ProjectTaskStatus.ts
  src/frontend/src/store/slices/ProjectSlice.ts
Labels: frontend

fix(projectTaskStatus): dialog task_status text update on task update (#1712)
  src/frontend/src/api/ProjectTaskStatus.ts
  src/frontend/src/store/slices/ProjectSlice.ts
Labels: frontend

fix(uploadArea): allow to reset polygon even if its a geojson file on draw option selection (#1713)
  src/frontend/src/components/createnewproject/UploadArea.tsx
Labels: frontend

fix(uploadArea): allow to reset polygon even if its a geojson file on draw option selection (#1713)
  src/frontend/src/components/createnewproject/UploadArea.tsx
Labels: frontend

fix(frontend): submission map chloropeth updating (#1716)
  src/frontend/src/components/ProjectSubmissions/TaskSubmissionsMap.tsx
  src/frontend/src/models/task/taskModel.ts
Labels: frontend

fix(frontend): submission map chloropeth updating (#1716)
  src/frontend/src/components/ProjectSubmissions/TaskSubmissionsMap.tsx
  src/frontend/src/models/task/taskModel.ts
Labels: frontend
