Repository hotosm/field-tm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, devops, migration, docs, ODK, contrib, tests

build: update minio to latest version to avoid CVE
  chart/values.yaml
  docker-compose.development.yml
  docker-compose.main.yml
  docker-compose.yml
  src/backend/Dockerfile
Labels: backend, devops

build: update minio to latest version to avoid CVE
  chart/values.yaml
  docker-compose.development.yml
  docker-compose.main.yml
  docker-compose.yml
  src/backend/Dockerfile
Labels: backend, devops

fix(backend): review state for received on submission table (#2101)
  src/backend/app/submissions/submission_routes.py
Labels: backend

fix(backend): review state for received on submission table (#2101)
  src/backend/app/submissions/submission_routes.py
Labels: backend

refactor(mapper): relocate entity sync button (#2100)
  src/frontend/src/api/Project.ts
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/mapper/src/lib/components/dialog-entities-actions.svelte
  src/mapper/src/lib/components/map/layer-switcher.svelte
  src/mapper/src/lib/components/map/legend.svelte
  src/mapper/src/lib/components/map/main.svelte
Labels: frontend

refactor(mapper): relocate entity sync button (#2100)
  src/frontend/src/api/Project.ts
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/mapper/src/lib/components/dialog-entities-actions.svelte
  src/mapper/src/lib/components/map/layer-switcher.svelte
  src/mapper/src/lib/components/map/legend.svelte
  src/mapper/src/lib/components/map/main.svelte
Labels: frontend

docs: update Backend.md documentation (#2104)
  docs/dev/Backend.md
Labels: docs

docs: update Backend.md documentation (#2104)
  docs/dev/Backend.md
Labels: docs

docs: update user roadmap with current progress
  README.md
Labels: docs

docs: update user roadmap with current progress
  README.md
Labels: docs

fix(backend): delete submission photos while deleting project to avoid foreignkey constraint (#2112)
  src/backend/app/db/models.py
Labels: backend

fix(backend): delete submission photos while deleting project to avoid foreignkey constraint (#2112)
  src/backend/app/db/models.py
Labels: backend

build: fix running docker compose up ui-mapper on MacOS by upgrading node version (#2103)
  src/Dockerfile.ui.debug
  src/Dockerfile.ui.prod
Labels: none

build: fix running docker compose up ui-mapper on MacOS by upgrading node version (#2103)
  src/Dockerfile.ui.debug
  src/Dockerfile.ui.prod
Labels: none

feat(backend): add `integrations` router with API key functionality (external apps) (#2110)
  src/backend/app/auth/auth_deps.py
  src/backend/app/db/models.py
  src/backend/app/integrations/__init__.py
  src/backend/app/integrations/integration_crud.py
  src/backend/app/integrations/integration_deps.py
  src/backend/app/integrations/integration_routes.py
  src/backend/app/main.py
  src/backend/app/projects/project_routes.py
  src/backend/migrations/005-api-key.sql
  src/backend/migrations/init/fmtm_base_schema.sql
Labels: backend, migration

feat(backend): add `integrations` router with API key functionality (external apps) (#2110)
  src/backend/app/auth/auth_deps.py
  src/backend/app/db/models.py
  src/backend/app/integrations/__init__.py
  src/backend/app/integrations/integration_crud.py
  src/backend/app/integrations/integration_deps.py
  src/backend/app/integrations/integration_routes.py
  src/backend/app/main.py
  src/backend/app/projects/project_routes.py
  src/backend/migrations/005-api-key.sql
  src/backend/migrations/init/fmtm_base_schema.sql
Labels: backend, migration

refactor(mapper): feature legend & layer-switcher (#2107)
  src/mapper/src/lib/components/bottom-sheet.svelte
  src/mapper/src/lib/components/map/layer-switcher.svelte
  src/mapper/src/lib/components/map/legend.svelte
  src/mapper/src/lib/components/map/main.svelte
Labels: none

refactor(mapper): feature legend & layer-switcher (#2107)
  src/mapper/src/lib/components/bottom-sheet.svelte
  src/mapper/src/lib/components/map/layer-switcher.svelte
  src/mapper/src/lib/components/map/legend.svelte
  src/mapper/src/lib/components/map/main.svelte
Labels: none

bump: version 2024.5.0 → 2025.0.0
  CHANGELOG.md
  chart/Chart.yaml
  src/backend/app/__version__.py
  src/backend/pyproject.toml
  src/frontend/package.json
  src/mapper/package.json
Labels: frontend, backend

bump: version 2024.5.0 → 2025.0.0
  CHANGELOG.md
  chart/Chart.yaml
  src/backend/app/__version__.py
  src/backend/pyproject.toml
  src/frontend/package.json
  src/mapper/package.json
Labels: frontend, backend

build: relock uv.lock after version bump
  src/backend/uv.lock
Labels: backend

build: relock uv.lock after version bump
  src/backend/uv.lock
Labels: backend

feat(backend): warn users and delete user accounts after period of inactivity (#2088)
  src/backend/app/auth/auth_routes.py
  src/backend/app/db/models.py
  src/backend/app/users/user_crud.py
  src/backend/app/users/user_routes.py
  src/backend/migrations/005-add-user-lastloginat.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/migrations/revert/005-add-user-lastloginat.sql
Labels: backend, migration

feat(backend): warn users and delete user accounts after period of inactivity (#2088)
  src/backend/app/auth/auth_routes.py
  src/backend/app/db/models.py
  src/backend/app/users/user_crud.py
  src/backend/app/users/user_routes.py
  src/backend/migrations/005-add-user-lastloginat.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/migrations/revert/005-add-user-lastloginat.sql
Labels: backend, migration

fix(mapper): flaky new feature polygon draw (#2118)
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/lib/odk/collect.ts
  src/mapper/src/routes/[projectId]/+page.svelte
Labels: none

fix(mapper): flaky new feature polygon draw (#2118)
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/lib/odk/collect.ts
  src/mapper/src/routes/[projectId]/+page.svelte
Labels: none

feat(frontend): assign PM during project creation & refactor radix components (#2115)
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/api/User.ts
  src/frontend/src/assets/icons/searchIcon.svg
  src/frontend/src/components/RadixComponents/Command.tsx
  src/frontend/src/components/RadixComponents/Dialog.tsx
  src/frontend/src/components/RadixComponents/Popover.tsx
  src/frontend/src/components/RadixComponents/Select.tsx
  src/frontend/src/components/common/SearchBar.tsx
  src/frontend/src/components/common/Select2.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/hooks/useDebouncedInput.ts
  src/frontend/src/models/createproject/createProjectModel.ts
  src/frontend/src/models/user/userModel.ts
  src/frontend/src/shared/AssetModules.js
  src/frontend/src/store/Store.ts
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/slices/UserSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/store/types/IUser.ts
  src/frontend/src/types/modulesDecleration.d.ts
Labels: frontend

feat(frontend): assign PM during project creation & refactor radix components (#2115)
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/api/User.ts
  src/frontend/src/assets/icons/searchIcon.svg
  src/frontend/src/components/RadixComponents/Command.tsx
  src/frontend/src/components/RadixComponents/Dialog.tsx
  src/frontend/src/components/RadixComponents/Popover.tsx
  src/frontend/src/components/RadixComponents/Select.tsx
  src/frontend/src/components/common/SearchBar.tsx
  src/frontend/src/components/common/Select2.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/hooks/useDebouncedInput.ts
  src/frontend/src/models/createproject/createProjectModel.ts
  src/frontend/src/models/user/userModel.ts
  src/frontend/src/shared/AssetModules.js
  src/frontend/src/store/Store.ts
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/slices/UserSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/store/types/IUser.ts
  src/frontend/src/types/modulesDecleration.d.ts
Labels: frontend

refactor(submissionDetails): fix bracket, don't show new_feature geometry object (#2121)
  src/frontend/src/views/SubmissionDetails.tsx
Labels: frontend

refactor(submissionDetails): fix bracket, don't show new_feature geometry object (#2121)
  src/frontend/src/views/SubmissionDetails.tsx
Labels: frontend

feat(backend): add endpoint to change global user roles (#2117)
  src/backend/app/db/models.py
  src/backend/app/users/user_routes.py
  src/backend/app/users/user_schemas.py
Labels: backend

feat(backend): add endpoint to change global user roles (#2117)
  src/backend/app/db/models.py
  src/backend/app/users/user_routes.py
  src/backend/app/users/user_schemas.py
Labels: backend

fix(frontend): validated entity state visualization on map (#2122)
  src/backend/app/db/enums.py
  src/backend/migrations/007-add-entitystate-enumtype.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/migrations/revert/007-add-entitystate-enumtype.sql
  src/frontend/src/components/ProjectDetailsV2/FeatureSelectionPopup.tsx
  src/frontend/src/components/ProjectSubmissions/UpdateReviewStatusModal.tsx
  src/frontend/src/hooks/MapStyles.js
  src/frontend/src/store/slices/SubmissionSlice.ts
  src/frontend/src/store/slices/ThemeSlice.ts
  src/frontend/src/types/enums.ts
  src/frontend/src/utilfunctions/getTaskStatusStyle.ts
  src/mapper/src/lib/components/dialog-entities-actions.svelte
  src/mapper/src/lib/components/map/main.svelte
Labels: frontend, backend, migration

fix(frontend): validated entity state visualization on map (#2122)
  src/backend/app/db/enums.py
  src/backend/migrations/007-add-entitystate-enumtype.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/migrations/revert/007-add-entitystate-enumtype.sql
  src/frontend/src/components/ProjectDetailsV2/FeatureSelectionPopup.tsx
  src/frontend/src/components/ProjectSubmissions/UpdateReviewStatusModal.tsx
  src/frontend/src/hooks/MapStyles.js
  src/frontend/src/store/slices/SubmissionSlice.ts
  src/frontend/src/store/slices/ThemeSlice.ts
  src/frontend/src/types/enums.ts
  src/frontend/src/utilfunctions/getTaskStatusStyle.ts
  src/mapper/src/lib/components/dialog-entities-actions.svelte
  src/mapper/src/lib/components/map/main.svelte
Labels: frontend, backend, migration

feat(users): add pagination and search functionality (#2124)
  src/backend/app/db/models.py
  src/backend/app/users/user_crud.py
  src/backend/app/users/user_routes.py
  src/backend/app/users/user_schemas.py
Labels: backend

feat(users): add pagination and search functionality (#2124)
  src/backend/app/db/models.py
  src/backend/app/users/user_crud.py
  src/backend/app/users/user_routes.py
  src/backend/app/users/user_schemas.py
Labels: backend

build: upgrade react to latest v19 stable, mui icons for issue #2111 (#2127)
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
Labels: frontend

build: upgrade react to latest v19 stable, mui icons for issue #2111 (#2127)
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
Labels: frontend

fix(frontend): logic allowing for custom odk server creds during proj create (#2129)
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
Labels: frontend

fix(frontend): logic allowing for custom odk server creds during proj create (#2129)
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
Labels: frontend

.github/labeler.yml:

bug:
  # Branch starts with `fix` or has a `fix` in the name
  - head-branch: ["^fix", "fix"]
enhancement:
  - head-branch:
      ["^feature", "feature", "^feat", "feat", "^refactor", "refactor"]
frontend:
  - changed-files:
      - any-glob-to-any-file: src/frontend/**
backend:
  - changed-files:
      - any-glob-to-any-file: src/backend/**
devops:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**
          - nginx/**
          - scripts/**
          - docker-*.yml
          - ./**/Dockerfile
          - ./**/.dockerfile
          - ./**/*entrypoint.sh
          - ./**/Justfile
migration:
  - changed-files:
      - any-glob-to-any-file: src/backend/migrations/**
docs:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**
          - images/**
          - mkdocs.yml
          - README.md
          - INSTALL.md
ODK:
  - changed-files:
      - any-glob-to-any-file: odkcentral/**
contrib:
  - changed-files:
      - any-glob-to-any-file: contrib/**
tests:
  - changed-files:
      - any-glob-to-any-file:
          - src/backend/tests/**
          - src/frontend/tests/**
          - src/frontend/e2e/**
