Repository hotosm/field-tm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, devops, migration, documentation, ODK, contrib

.github/labeler.yml:

"frontend":
  - "src/frontend/**/*"
"backend":
  - "src/backend/**/*"
"devops":
  - ".github/**/*"
  - "nginx/**/*"
  - "scripts/**/*"
  - "docker-*.yml"
  - "**/Dockerfile"
  - "**/*.dockerfile"
  - "**/*entrypoint.sh"
  - "Justfile"
"migration":
  - "src/backend/migrations/**/*"
"documentation":
  - "docs/**/*"
  - "images/**/*"
  - "mkdocs.yml"
  - "README.md"
  - "INSTALL.md"
"ODK":
  - "odkcentral/**/*"
"contrib":
  - "contrib/**/*"

docs: update svg label for roadmap badge, task board --> roadmap
  docs/images/roadmap_badge.svg
Labels: documentation

docs: update svg label for roadmap badge, task board --> roadmap
  docs/images/roadmap_badge.svg
Labels: documentation

build: enforce --encoding utf8 on pg_dump database backups
  docs/dev/Production.md
  src/backend/backup-entrypoint.sh
  src/backend/migrate-entrypoint.sh
Labels: backend, devops, documentation

build: enforce --encoding utf8 on pg_dump database backups
  docs/dev/Production.md
  src/backend/backup-entrypoint.sh
  src/backend/migrate-entrypoint.sh
Labels: backend, devops, documentation

docs: add link to roadmap in docs sidebar
  mkdocs.yml
Labels: documentation

docs: add link to roadmap in docs sidebar
  mkdocs.yml
Labels: documentation

docs: update link to roadmap to roadmap.fmtm.dev
  mkdocs.yml
Labels: documentation

docs: update link to roadmap to roadmap.fmtm.dev
  mkdocs.yml
Labels: documentation

docs: add user/dev roadmaps, timeline, update readme badges
  README.md
  docs/images/dev_roadmap_badge.svg
  docs/images/roadmap_badge.svg
  docs/images/timeline_badge.svg
  docs/images/user_roadmap_badge.svg
  docs/timeline.md
  docs/user-roadmap.md
  mkdocs.yml
Labels: documentation

docs: add user/dev roadmaps, timeline, update readme badges
  README.md
  docs/images/dev_roadmap_badge.svg
  docs/images/roadmap_badge.svg
  docs/images/timeline_badge.svg
  docs/images/user_roadmap_badge.svg
  docs/timeline.md
  docs/user-roadmap.md
  mkdocs.yml
Labels: documentation

ci: add action to move assigned tasks to board In Progress column
  .github/workflows/assign_in_progress.yml
Labels: devops

ci: add action to move assigned tasks to board In Progress column
  .github/workflows/assign_in_progress.yml
Labels: devops

ci: remove workflow to for assignment due to insufficient token permissions
  .github/workflows/assign_in_progress.yml
Labels: devops

ci: remove workflow to for assignment due to insufficient token permissions
  .github/workflows/assign_in_progress.yml
Labels: devops

docs: add public beta to timeline
  docs/timeline.md
Labels: documentation

docs: add public beta to timeline
  docs/timeline.md
Labels: documentation

fix (frontend): working task history button status updates (#1457)
  src/frontend/src/api/ProjectTaskStatus.js
  src/frontend/src/components/DialogTaskActions.jsx
  src/frontend/src/components/ProjectDetailsV2/ActivitiesPanel.tsx
Labels: frontend

fix (frontend): working task history button status updates (#1457)
  src/frontend/src/api/ProjectTaskStatus.js
  src/frontend/src/components/DialogTaskActions.jsx
  src/frontend/src/components/ProjectDetailsV2/ActivitiesPanel.tsx
Labels: frontend

feat: append extra hashtag to projects with domain and project id identifier (#1454)
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_schemas.py
Labels: backend

feat: append extra hashtag to projects with domain and project id identifier (#1454)
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_schemas.py
Labels: backend

fix(frontend): invalidate login if mismatch between existing and new user login (#1462)
  src/frontend/src/App.tsx
Labels: frontend

fix(frontend): invalidate login if mismatch between existing and new user login (#1462)
  src/frontend/src/App.tsx
Labels: frontend

fix: basemap tile download, refactor to use /{project_id}/name (#1467)
  src/backend/app/auth/roles.py
  src/backend/app/projects/project_deps.py
  src/backend/app/projects/project_routes.py
  src/frontend/src/api/Project.js
  src/frontend/src/components/GenerateBasemap.jsx
Labels: frontend, backend

fix: basemap tile download, refactor to use /{project_id}/name (#1467)
  src/backend/app/auth/roles.py
  src/backend/app/projects/project_deps.py
  src/backend/app/projects/project_routes.py
  src/frontend/src/api/Project.js
  src/frontend/src/components/GenerateBasemap.jsx
Labels: frontend, backend

feat: distinguish between tasks locked by the current user and tasks locked by others (#1469)
  src/frontend/src/api/ProjectTaskStatus.js
  src/frontend/src/components/MapComponent/OpenLayersComponent/AsyncPopup/AsyncPopup.tsx
  src/frontend/src/hooks/MapStyles.js
  src/frontend/src/utilfunctions/getTaskStatusStyle.js
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

feat: distinguish between tasks locked by the current user and tasks locked by others (#1469)
  src/frontend/src/api/ProjectTaskStatus.js
  src/frontend/src/components/MapComponent/OpenLayersComponent/AsyncPopup/AsyncPopup.tsx
  src/frontend/src/hooks/MapStyles.js
  src/frontend/src/utilfunctions/getTaskStatusStyle.js
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

feat: frontend buttons to load Entities in ODK Collect by intent (#1449)
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_deps.py
  src/backend/app/central/central_schemas.py
  src/backend/app/db/postgis_utils.py
  src/backend/app/helpers/helper_routes.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/frontend/src/api/Project.js
  src/frontend/src/components/ProjectDetailsV2/FeatureSelectionPopup.tsx
  src/frontend/src/components/ProjectDetailsV2/TaskSelectionPopup.tsx
  src/frontend/src/components/common/Checkbox.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/store/slices/TaskSlice.ts
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/store/types/ITask.ts
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend, backend

feat: frontend buttons to load Entities in ODK Collect by intent (#1449)
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_deps.py
  src/backend/app/central/central_schemas.py
  src/backend/app/db/postgis_utils.py
  src/backend/app/helpers/helper_routes.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/frontend/src/api/Project.js
  src/frontend/src/components/ProjectDetailsV2/FeatureSelectionPopup.tsx
  src/frontend/src/components/ProjectDetailsV2/TaskSelectionPopup.tsx
  src/frontend/src/components/common/Checkbox.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/store/slices/TaskSlice.ts
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/store/types/ITask.ts
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend, backend

feat (frontend): add custom tms url linked to a project (#1464)
  src/frontend/src/api/Project.js
  src/frontend/src/components/GenerateBasemap.jsx
  src/frontend/src/components/MapComponent/OpenLayersComponent/LayerSwitcher/index.js
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/validation/CreateProjectValidation.tsx
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
Labels: frontend

feat (frontend): add custom tms url linked to a project (#1464)
  src/frontend/src/api/Project.js
  src/frontend/src/components/GenerateBasemap.jsx
  src/frontend/src/components/MapComponent/OpenLayersComponent/LayerSwitcher/index.js
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/validation/CreateProjectValidation.tsx
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
Labels: frontend

fix(frontend): do not call introspect endpoint on /osmauth callback
  src/frontend/src/App.tsx
Labels: frontend

fix(frontend): do not call introspect endpoint on /osmauth callback
  src/frontend/src/App.tsx
Labels: frontend

feat(frontend): login options to frontend, OSM or temp auth (#1458)
  src/frontend/src/api/Login.ts
  src/frontend/src/assets/images/osm-logo.png
  src/frontend/src/components/LoginPopup.tsx
  src/frontend/src/components/common/Modal.tsx
  src/frontend/src/store/slices/LoginSlice.ts
  src/frontend/src/store/types/ILogin.ts
  src/frontend/src/utilities/CustomDrawer.jsx
  src/frontend/src/utilities/PrimaryAppBar.tsx
Labels: frontend

feat(frontend): login options to frontend, OSM or temp auth (#1458)
  src/frontend/src/api/Login.ts
  src/frontend/src/assets/images/osm-logo.png
  src/frontend/src/components/LoginPopup.tsx
  src/frontend/src/components/common/Modal.tsx
  src/frontend/src/store/slices/LoginSlice.ts
  src/frontend/src/store/types/ILogin.ts
  src/frontend/src/utilities/CustomDrawer.jsx
  src/frontend/src/utilities/PrimaryAppBar.tsx
Labels: frontend

fix: login methods after temp cookie auth (#1471)
  docs/dev/Setup.md
  src/backend/app/auth/auth_routes.py
  src/backend/app/helpers/helper_routes.py
  src/frontend/src/App.tsx
  src/frontend/src/api/Login.ts
  src/frontend/src/components/LoginPopup.tsx
  src/frontend/src/utilfunctions/login.ts
  src/frontend/src/views/Authorized.tsx
Labels: frontend, backend, documentation

fix: login methods after temp cookie auth (#1471)
  docs/dev/Setup.md
  src/backend/app/auth/auth_routes.py
  src/backend/app/helpers/helper_routes.py
  src/frontend/src/App.tsx
  src/frontend/src/api/Login.ts
  src/frontend/src/components/LoginPopup.tsx
  src/frontend/src/utilfunctions/login.ts
  src/frontend/src/views/Authorized.tsx
Labels: frontend, backend, documentation

Replace popup auth flow with redirect flow (#1473)
  docker-compose.yml
  src/frontend/src/App.tsx
  src/frontend/src/api/Login.ts
  src/frontend/src/api/OrganisationService.ts
  src/frontend/src/components/DialogTaskActions.jsx
  src/frontend/src/components/LoginPopup.tsx
  src/frontend/src/components/ProjectDetailsV2/TaskSelectionPopup.tsx
  src/frontend/src/components/organisation/OrganisationGridCard.tsx
  src/frontend/src/routes.jsx
  src/frontend/src/store/Store.ts
  src/frontend/src/store/slices/LoginSlice.ts
  src/frontend/src/store/types/ILogin.ts
  src/frontend/src/utilfunctions/login.ts
  src/frontend/src/utilities/CustomDrawer.jsx
  src/frontend/src/utilities/PrimaryAppBar.tsx
  src/frontend/src/utilities/ProtectedRoute.jsx
  src/frontend/src/views/Authorized.tsx
  src/frontend/src/views/Organisation.tsx
  src/frontend/src/views/OsmAuth.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend, devops

Replace popup auth flow with redirect flow (#1473)
  docker-compose.yml
  src/frontend/src/App.tsx
  src/frontend/src/api/Login.ts
  src/frontend/src/api/OrganisationService.ts
  src/frontend/src/components/DialogTaskActions.jsx
  src/frontend/src/components/LoginPopup.tsx
  src/frontend/src/components/ProjectDetailsV2/TaskSelectionPopup.tsx
  src/frontend/src/components/organisation/OrganisationGridCard.tsx
  src/frontend/src/routes.jsx
  src/frontend/src/store/Store.ts
  src/frontend/src/store/slices/LoginSlice.ts
  src/frontend/src/store/types/ILogin.ts
  src/frontend/src/utilfunctions/login.ts
  src/frontend/src/utilities/CustomDrawer.jsx
  src/frontend/src/utilities/PrimaryAppBar.tsx
  src/frontend/src/utilities/ProtectedRoute.jsx
  src/frontend/src/views/Authorized.tsx
  src/frontend/src/views/Organisation.tsx
  src/frontend/src/views/OsmAuth.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend, devops

feat: use task index as an user facing task_id (#1470)
  src/backend/app/central/central_crud.py
  src/backend/app/db/postgis_utils.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/tasks/tasks_crud.py
  src/backend/app/tasks/tasks_routes.py
  src/backend/tests/test_projects_routes.py
  src/frontend/src/api/Project.js
  src/frontend/src/components/DialogTaskActions.jsx
  src/frontend/src/components/ProjectDetailsV2/Comments.tsx
  src/frontend/src/components/ProjectDetailsV2/TaskSelectionPopup.tsx
  src/frontend/src/components/ProjectSubmissions/TaskSubmissions.tsx
  src/frontend/src/components/ProjectSubmissions/TaskSubmissionsMap.tsx
  src/frontend/src/components/QrcodeComponent.jsx
  src/frontend/src/models/createproject/createProjectModel.ts
  src/frontend/src/models/project/projectModel.ts
  src/frontend/src/models/task/taskModel.ts
  src/frontend/src/store/types/ICreateProject.ts
Labels: frontend, backend

feat: use task index as an user facing task_id (#1470)
  src/backend/app/central/central_crud.py
  src/backend/app/db/postgis_utils.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/tasks/tasks_crud.py
  src/backend/app/tasks/tasks_routes.py
  src/backend/tests/test_projects_routes.py
  src/frontend/src/api/Project.js
  src/frontend/src/components/DialogTaskActions.jsx
  src/frontend/src/components/ProjectDetailsV2/Comments.tsx
  src/frontend/src/components/ProjectDetailsV2/TaskSelectionPopup.tsx
  src/frontend/src/components/ProjectSubmissions/TaskSubmissions.tsx
  src/frontend/src/components/ProjectSubmissions/TaskSubmissionsMap.tsx
  src/frontend/src/components/QrcodeComponent.jsx
  src/frontend/src/models/createproject/createProjectModel.ts
  src/frontend/src/models/project/projectModel.ts
  src/frontend/src/models/task/taskModel.ts
  src/frontend/src/store/types/ICreateProject.ts
Labels: frontend, backend
