Repository hotosm/field-tm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, devops, migration, documentation, ODK, contrib

.github/labeler.yml:

"frontend":
  - "src/frontend/**/*"
"backend":
  - "src/backend/**/*"
"devops":
  - ".github/**/*"
  - "nginx/**/*"
  - "scripts/**/*"
  - "docker-*.yml"
  - "**/Dockerfile"
  - "**/*.dockerfile"
  - "**/*entrypoint.sh"
  - "Justfile"
"migration":
  - "src/backend/migrations/**/*"
"documentation":
  - "docs/**/*"
  - "images/**/*"
  - "mkdocs.yml"
  - "README.md"
  - "INSTALL.md"
"ODK":
  - "odkcentral/**/*"
"contrib":
  - "contrib/**/*"

docs: update readme styling
  README.md
Labels: documentation

docs: update readme styling
  README.md
Labels: documentation

docs: update contribution guide
  CONTRIBUTING.md
Labels: none

docs: update contribution guide
  CONTRIBUTING.md
Labels: none

docs: info about reporting security vulnerabilities
  CONTRIBUTING.md
Labels: none

docs: info about reporting security vulnerabilities
  CONTRIBUTING.md
Labels: none

docs: add openssf best practices badge to repo
  README.md
Labels: documentation

docs: add openssf best practices badge to repo
  README.md
Labels: documentation

fix(frontend): reduce task overlay opacity (#1682)
  src/frontend/src/index.css
  src/frontend/src/store/slices/ThemeSlice.ts
Labels: frontend

fix(frontend): reduce task overlay opacity (#1682)
  src/frontend/src/index.css
  src/frontend/src/store/slices/ThemeSlice.ts
Labels: frontend

test(backend): coverage for GET /central/list-forms endpoint (#1674)
  src/backend/tests/test_central_routes.py
Labels: backend

test(backend): coverage for GET /central/list-forms endpoint (#1674)
  src/backend/tests/test_central_routes.py
Labels: backend

build(backend): upgrade Python --> v3.11 & update backend dependencies (#1671)
  .env.example
  docker-compose.yml
  docs/dev/Backend.md
  src/backend/Dockerfile
  src/backend/app/config.py
  src/backend/app/db/postgis_utils.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/models/createproject/createProjectModel.ts
  src/frontend/src/models/project/projectModel.ts
Labels: frontend, backend, devops, documentation

build(backend): upgrade Python --> v3.11 & update backend dependencies (#1671)
  .env.example
  docker-compose.yml
  docs/dev/Backend.md
  src/backend/Dockerfile
  src/backend/app/config.py
  src/backend/app/db/postgis_utils.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/models/createproject/createProjectModel.ts
  src/frontend/src/models/project/projectModel.ts
Labels: frontend, backend, devops, documentation

docs: add figma workflow diagrams for each user flow (#1655)
  docs/manuals/workflow-diagrams.md
Labels: documentation

docs: add figma workflow diagrams for each user flow (#1655)
  docs/manuals/workflow-diagrams.md
Labels: documentation

build: upgrade osm-fieldwork --> 0.13.0 for mbtile fix (#1688)
  src/backend/app/central/central_crud.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

build: upgrade osm-fieldwork --> 0.13.0 for mbtile fix (#1688)
  src/backend/app/central/central_crud.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

fix(frontend): button click feedback on form update (#1692)
  src/frontend/src/components/ManageProject/EditTab/FormUpdateTab.tsx
Labels: frontend

fix(frontend): button click feedback on form update (#1692)
  src/frontend/src/components/ManageProject/EditTab/FormUpdateTab.tsx
Labels: frontend

fix(project): display error generated on the backend (#1693)
  src/frontend/src/api/Project.js
Labels: frontend

fix(project): display error generated on the backend (#1693)
  src/frontend/src/api/Project.js
Labels: frontend

refactor(backend): improve error message if no project submissions present (#1696)
  src/backend/app/central/central_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/tests/test_projects_routes.py
  src/frontend/src/components/createnewproject/SplitTasks.tsx
Labels: frontend, backend

refactor(backend): improve error message if no project submissions present (#1696)
  src/backend/app/central/central_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/tests/test_projects_routes.py
  src/frontend/src/components/createnewproject/SplitTasks.tsx
Labels: frontend, backend

feat(backend): calculate overlap percentage for the conflation (#1687)
  src/backend/app/db/postgis_utils.py
  src/backend/app/submissions/submission_routes.py
Labels: backend

feat(backend): calculate overlap percentage for the conflation (#1687)
  src/backend/app/db/postgis_utils.py
  src/backend/app/submissions/submission_routes.py
Labels: backend

docs: add xlsform design page to docs manuals section
  docs/images/xlsform-design/entities_registration.xls
  docs/images/xlsform-design/entity-features.csv
  docs/images/xlsform-design/odk-collect-entity-creation.png
  docs/images/xlsform-design/xlsform-choices-sheet.png
  docs/images/xlsform-design/xlsform-entities-sheet.png
  docs/images/xlsform-design/xlsform-entity-features.png
  docs/images/xlsform-design/xlsform-entity-registration.png
  docs/images/xlsform-design/xlsform-settings-sheet.png
  docs/manuals/xlsform-design.md
Labels: documentation

docs: add xlsform design page to docs manuals section
  docs/images/xlsform-design/entities_registration.xls
  docs/images/xlsform-design/entity-features.csv
  docs/images/xlsform-design/odk-collect-entity-creation.png
  docs/images/xlsform-design/xlsform-choices-sheet.png
  docs/images/xlsform-design/xlsform-entities-sheet.png
  docs/images/xlsform-design/xlsform-entity-features.png
  docs/images/xlsform-design/xlsform-entity-registration.png
  docs/images/xlsform-design/xlsform-settings-sheet.png
  docs/manuals/xlsform-design.md
Labels: documentation

docs: add image for entity registration form upload
  docs/images/xlsform-design/odk-central-entity-creation.png
  docs/images/xlsform-design/odk-central-entity-registration.png
  docs/manuals/xlsform-design.md
Labels: documentation

docs: add image for entity registration form upload
  docs/images/xlsform-design/odk-central-entity-creation.png
  docs/images/xlsform-design/odk-central-entity-registration.png
  docs/manuals/xlsform-design.md
Labels: documentation

docs: add xlsform-design page to docs sidebar
  mkdocs.yml
Labels: documentation

docs: add xlsform-design page to docs sidebar
  mkdocs.yml
Labels: documentation

docs: add details about various entity list creation modes
  docs/manuals/xlsform-design.md
Labels: documentation

docs: add details about various entity list creation modes
  docs/manuals/xlsform-design.md
Labels: documentation

docs: add commit sign-off policy info to CONTRIBUTING guide
  CONTRIBUTING.md
Labels: none

docs: add commit sign-off policy info to CONTRIBUTING guide
  CONTRIBUTING.md
Labels: none

docs: reorg info docs, add info about dev team composition
  docs/about/about.md
  docs/about/faq.md
  docs/about/team.md
  docs/dev/Setup.md
  docs/manuals/project-managers.md
  mkdocs.yml
Labels: documentation

docs: reorg info docs, add info about dev team composition
  docs/about/about.md
  docs/about/faq.md
  docs/about/team.md
  docs/dev/Setup.md
  docs/manuals/project-managers.md
  mkdocs.yml
Labels: documentation

docs: update all-contributors, add images to team docs page
  .all-contributorsrc
  README.md
  docs/about/team.md
Labels: documentation

docs: update all-contributors, add images to team docs page
  .all-contributorsrc
  README.md
  docs/about/team.md
Labels: documentation
