Repository hotosm/field-tm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, devops, migration, documentation, ODK

Add links to Git & Docker in INSTALL.md (#907)
  INSTALL.md
Labels: documentation

Add links to Git & Docker in INSTALL.md (#907)
  INSTALL.md
Labels: documentation

ci: update labeller workflow with fork permissions
  .github/workflows/pr_label.yml
Labels: devops

ci: update labeller workflow with fork permissions
  .github/workflows/pr_label.yml
Labels: devops

docs: update readme with project task board
  CONTRIBUTING.md
  README.md
Labels: documentation

docs: update readme with project task board
  CONTRIBUTING.md
  README.md
Labels: documentation

fix: feature count in task features count api (#904)
  src/backend/app/projects/project_routes.py
  src/backend/app/tasks/tasks_routes.py
Labels: backend

fix: feature count in task features count api (#904)
  src/backend/app/projects/project_routes.py
  src/backend/app/tasks/tasks_routes.py
Labels: backend

feat: add map clustering on main page (#905)
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/src/components/MapComponent/OpenLayersComponent/Layers/ClusterLayer.js
  src/frontend/src/components/MapComponent/OpenLayersComponent/Layers/index.js
  src/frontend/src/components/home/ProjectListMap.tsx
  src/frontend/src/types/modulesDecleration.d.ts
Labels: frontend

feat: add map clustering on main page (#905)
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/src/components/MapComponent/OpenLayersComponent/Layers/ClusterLayer.js
  src/frontend/src/components/MapComponent/OpenLayersComponent/Layers/index.js
  src/frontend/src/components/home/ProjectListMap.tsx
  src/frontend/src/types/modulesDecleration.d.ts
Labels: frontend

fix: optimise mobile UI - project info, home, organisation (#903)
  src/frontend/src/components/home/HomePageFilters.tsx
  src/frontend/src/views/Home.jsx
  src/frontend/src/views/Organization.tsx
  src/frontend/src/views/ProjectInfo.tsx
Labels: frontend

fix: optimise mobile UI - project info, home, organisation (#903)
  src/frontend/src/components/home/HomePageFilters.tsx
  src/frontend/src/views/Home.jsx
  src/frontend/src/views/Organization.tsx
  src/frontend/src/views/ProjectInfo.tsx
Labels: frontend

fix: allow specifying API_PREFIX if behind proxy
  src/backend/app/main.py
Labels: backend

fix: allow specifying API_PREFIX if behind proxy
  src/backend/app/main.py
Labels: backend

Fix project details map (#910)
  CONTRIBUTING.md
  src/frontend/src/api/Project.js
  src/frontend/src/components/ActivitiesPanel.jsx
  src/frontend/src/components/OpenLayersMap.jsx
  src/frontend/src/components/ProjectDetails/MobileActivitiesContents.tsx
  src/frontend/src/components/ProjectDetails/MobileFooter.tsx
  src/frontend/src/components/ProjectDetails/MobileProjectInfoContent.tsx
  src/frontend/src/components/ProjectDetails/ProjectOptions.tsx
  src/frontend/src/components/common/Accordion.tsx
  src/frontend/src/components/common/BottomSheet.tsx
  src/frontend/src/shared/AssetModules.js
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/styles/home.scss
  src/frontend/src/views/MainView.jsx
  src/frontend/src/views/ProjectDetails.jsx
Labels: frontend

Fix project details map (#910)
  CONTRIBUTING.md
  src/frontend/src/api/Project.js
  src/frontend/src/components/ActivitiesPanel.jsx
  src/frontend/src/components/OpenLayersMap.jsx
  src/frontend/src/components/ProjectDetails/MobileActivitiesContents.tsx
  src/frontend/src/components/ProjectDetails/MobileFooter.tsx
  src/frontend/src/components/ProjectDetails/MobileProjectInfoContent.tsx
  src/frontend/src/components/ProjectDetails/ProjectOptions.tsx
  src/frontend/src/components/common/Accordion.tsx
  src/frontend/src/components/common/BottomSheet.tsx
  src/frontend/src/shared/AssetModules.js
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/styles/home.scss
  src/frontend/src/views/MainView.jsx
  src/frontend/src/views/ProjectDetails.jsx
Labels: frontend

feat: backend tests for project endpoints (#900)
  .github/workflows/docs.yml
  .github/workflows/pr_test.yml
  .github/workflows/r-pytest.yml
  .github/workflows/tests/test_ci.sh
  docker-compose.yml
  src/backend/Dockerfile
  src/backend/app/central/central_crud.py
  src/backend/app/config.py
  src/backend/app/db/database.py
  src/backend/app/projects/project_crud.py
  src/backend/app/tasks/tasks_crud.py
  src/backend/tests/conftest.py
  src/backend/tests/test_data/Coulibistrie.zip
  src/backend/tests/test_data/Dos_D_Ane.zip
  src/backend/tests/test_data/Naivasha.zip
  src/backend/tests/test_data/Stonetown2.zip
  src/backend/tests/test_data/Vulamba.zip
  src/backend/tests/test_data/__init__.py
  src/backend/tests/test_data/building_footprint.zip
  src/backend/tests/test_data/buildings.xls
  src/backend/tests/test_projects_routes.py
Labels: backend, devops

feat: backend tests for project endpoints (#900)
  .github/workflows/docs.yml
  .github/workflows/pr_test.yml
  .github/workflows/r-pytest.yml
  .github/workflows/tests/test_ci.sh
  docker-compose.yml
  src/backend/Dockerfile
  src/backend/app/central/central_crud.py
  src/backend/app/config.py
  src/backend/app/db/database.py
  src/backend/app/projects/project_crud.py
  src/backend/app/tasks/tasks_crud.py
  src/backend/tests/conftest.py
  src/backend/tests/test_data/Coulibistrie.zip
  src/backend/tests/test_data/Dos_D_Ane.zip
  src/backend/tests/test_data/Naivasha.zip
  src/backend/tests/test_data/Stonetown2.zip
  src/backend/tests/test_data/Vulamba.zip
  src/backend/tests/test_data/__init__.py
  src/backend/tests/test_data/building_footprint.zip
  src/backend/tests/test_data/buildings.xls
  src/backend/tests/test_projects_routes.py
Labels: backend, devops

ci(pytest): add secrets: inherit to deploy workflow
  .github/workflows/build_and_deploy.yml
Labels: devops

ci(pytest): add secrets: inherit to deploy workflow
  .github/workflows/build_and_deploy.yml
Labels: devops

Fix project details map (#917)
  src/frontend/src/components/MapLegends.jsx
  src/frontend/src/components/ProjectDetails/MobileActivitiesContents.tsx
  src/frontend/src/components/ProjectDetails/MobileFooter.tsx
  src/frontend/src/components/ProjectDetails/MobileProjectInfoContent.tsx
  src/frontend/src/components/ProjectDetails/ProjectOptions.tsx
  src/frontend/src/components/common/BottomSheet.tsx
  src/frontend/src/shared/AssetModules.js
  src/frontend/src/views/ProjectDetails.jsx
Labels: frontend

Fix project details map (#917)
  src/frontend/src/components/MapLegends.jsx
  src/frontend/src/components/ProjectDetails/MobileActivitiesContents.tsx
  src/frontend/src/components/ProjectDetails/MobileFooter.tsx
  src/frontend/src/components/ProjectDetails/MobileProjectInfoContent.tsx
  src/frontend/src/components/ProjectDetails/ProjectOptions.tsx
  src/frontend/src/components/common/BottomSheet.tsx
  src/frontend/src/shared/AssetModules.js
  src/frontend/src/views/ProjectDetails.jsx
Labels: frontend

ci(pytest): use restore-key to match all img caches
  .github/workflows/r-pytest.yml
Labels: devops

ci(pytest): use restore-key to match all img caches
  .github/workflows/r-pytest.yml
Labels: devops

feat: new UI for create project (#918)
  .pre-commit-config.yaml
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/components/MapComponent/OpenLayersComponent/Layers/VectorLayer.js
  src/frontend/src/components/TasksLayer.jsx
  src/frontend/src/components/common/Button.tsx
  src/frontend/src/components/common/FileInputComponent.tsx
  src/frontend/src/components/common/Modal.tsx
  src/frontend/src/components/common/ProgressBar.tsx
  src/frontend/src/components/common/RadioButton.tsx
  src/frontend/src/components/common/Select.tsx
  src/frontend/src/components/common/StepSwitcher.tsx
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
  src/frontend/src/components/createnewproject/validation/DataExtractValidation.tsx
  src/frontend/src/components/createnewproject/validation/SelectFormValidation.tsx
  src/frontend/src/components/createnewproject/validation/UploadAreaValidation.tsx
  src/frontend/src/components/createproject/DataExtract.tsx
  src/frontend/src/components/createproject/DefineTasks.tsx
  src/frontend/src/components/createproject/FormSelection.tsx
  src/frontend/src/components/createproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createproject/validation/DefineTaskValidation.tsx
  src/frontend/src/constants/StepFormConstants.ts
  src/frontend/src/hooks/useForm.tsx
  src/frontend/src/index.css
  src/frontend/src/routes.jsx
  src/frontend/src/store/Store.ts
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/views/CreateNewProject.tsx
  src/frontend/src/views/NewDefineAreaMap.tsx
  src/frontend/tsconfig.json
Labels: frontend

feat: new UI for create project (#918)
  .pre-commit-config.yaml
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/components/MapComponent/OpenLayersComponent/Layers/VectorLayer.js
  src/frontend/src/components/TasksLayer.jsx
  src/frontend/src/components/common/Button.tsx
  src/frontend/src/components/common/FileInputComponent.tsx
  src/frontend/src/components/common/Modal.tsx
  src/frontend/src/components/common/ProgressBar.tsx
  src/frontend/src/components/common/RadioButton.tsx
  src/frontend/src/components/common/Select.tsx
  src/frontend/src/components/common/StepSwitcher.tsx
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
  src/frontend/src/components/createnewproject/validation/DataExtractValidation.tsx
  src/frontend/src/components/createnewproject/validation/SelectFormValidation.tsx
  src/frontend/src/components/createnewproject/validation/UploadAreaValidation.tsx
  src/frontend/src/components/createproject/DataExtract.tsx
  src/frontend/src/components/createproject/DefineTasks.tsx
  src/frontend/src/components/createproject/FormSelection.tsx
  src/frontend/src/components/createproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createproject/validation/DefineTaskValidation.tsx
  src/frontend/src/constants/StepFormConstants.ts
  src/frontend/src/hooks/useForm.tsx
  src/frontend/src/index.css
  src/frontend/src/routes.jsx
  src/frontend/src/store/Store.ts
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/views/CreateNewProject.tsx
  src/frontend/src/views/NewDefineAreaMap.tsx
  src/frontend/tsconfig.json
Labels: frontend

feat: addressing of project using Nominatim (#913)
  src/backend/app/projects/project_crud.py
  src/backend/tests/test_projects_routes.py
Labels: backend

feat: addressing of project using Nominatim (#913)
  src/backend/app/projects/project_crud.py
  src/backend/tests/test_projects_routes.py
Labels: backend

feat: add Minio to backend compose stack & CI (#908)
  .env.example
  .github/workflows/build_and_deploy.yml
  .github/workflows/r-pytest.yml
  INSTALL.md
  docker-compose.noodk.yml
  docker-compose.yml
  docs/dev/Production.md
  docs/dev/Setup.md
  docs/dev/Troubleshooting.md
  src/backend/app-entrypoint.sh
  src/backend/app/config.py
  src/backend/app/s3.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend, devops, documentation

feat: add Minio to backend compose stack & CI (#908)
  .env.example
  .github/workflows/build_and_deploy.yml
  .github/workflows/r-pytest.yml
  INSTALL.md
  docker-compose.noodk.yml
  docker-compose.yml
  docs/dev/Production.md
  docs/dev/Setup.md
  docs/dev/Troubleshooting.md
  src/backend/app-entrypoint.sh
  src/backend/app/config.py
  src/backend/app/s3.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend, devops, documentation

refactor: remove package-lock.json (not used)
  .gitignore
  src/frontend/package-lock.json
Labels: frontend

refactor: remove package-lock.json (not used)
  .gitignore
  src/frontend/package-lock.json
Labels: frontend

build: update frontend dockerfiles to add pnpm-lock.yaml
  src/frontend/debug.dockerfile
  src/frontend/prod.dockerfile
Labels: frontend, devops

build: update frontend dockerfiles to add pnpm-lock.yaml
  src/frontend/debug.dockerfile
  src/frontend/prod.dockerfile
Labels: frontend, devops

docs: add info about node_modules anon volume
  docs/dev/Frontend.md
Labels: documentation

docs: add info about node_modules anon volume
  docs/dev/Frontend.md
Labels: documentation

build: rename prod dockerfile to branch based naming
  docker-compose.development.yml
  docker-compose.main.yml
Labels: devops

build: rename prod dockerfile to branch based naming
  docker-compose.development.yml
  docker-compose.main.yml
Labels: devops

ci: deploy workflow use branch based compose file
  .github/workflows/build_and_deploy.yml
Labels: devops

ci: deploy workflow use branch based compose file
  .github/workflows/build_and_deploy.yml
Labels: devops

.github/labeler.yml:

"frontend":
  - "src/frontend/**/*"
"backend":
  - "src/backend/**/*"
"devops":
  - ".github/**/*"
  - "scripts/**/*"
  - "docker-*.yml"
  - "**/Dockerfile"
  - "**/*.dockerfile"
  - "**/*entrypoint.sh"
  - "josm/**/*"
"migration":
  - "src/backend/migrations/**/*"
"documentation":
  - "docs/**/*"
  - "images/**/*"
  - "mkdocs.yml"
  - "README.md"
  - "INSTALL.md"
"ODK":
  - "odkcentral/**/*"
