Repository hotosm/field-tm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, devops, migration, docs, ODK, contrib, tests

.github/labeler.yml:

bug:
  # Branch starts with `fix` or has a `fix` in the name
  - head-branch: ["^fix", "fix"]
enhancement:
  - head-branch:
      ["^feature", "feature", "^feat", "feat", "^refactor", "refactor"]
frontend:
  - changed-files:
      - any-glob-to-any-file: src/frontend/**
backend:
  - changed-files:
      - any-glob-to-any-file: src/backend/**
devops:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**
          - nginx/**
          - scripts/**
          - docker-*.yml
          - ./**/Dockerfile
          - ./**/.dockerfile
          - ./**/*entrypoint.sh
          - ./**/Justfile
migration:
  - changed-files:
      - any-glob-to-any-file: src/backend/migrations/**
docs:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**
          - images/**
          - mkdocs.yml
          - README.md
          - INSTALL.md
ODK:
  - changed-files:
      - any-glob-to-any-file: odkcentral/**
contrib:
  - changed-files:
      - any-glob-to-any-file: contrib/**
tests:
  - changed-files:
      - any-glob-to-any-file:
          - src/backend/tests/**
          - src/frontend/tests/**
          - src/frontend/e2e/**

build(mapper): update compose and CI to deploy mapper frontend on push (#1855)
  .github/workflows/build_and_deploy.yml
  docker-compose.development.yml
  docker-compose.main.yml
  docker-compose.yml
  nginx/templates/fmtm.conf.template
  src/Dockerfile.ui.debug
  src/Dockerfile.ui.prod
  src/backend/Dockerfile
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/container-entrypoint.sh
  src/mapper/debug.dockerfile
Labels: backend, devops

build(mapper): update compose and CI to deploy mapper frontend on push (#1855)
  .github/workflows/build_and_deploy.yml
  docker-compose.development.yml
  docker-compose.main.yml
  docker-compose.yml
  nginx/templates/fmtm.conf.template
  src/Dockerfile.ui.debug
  src/Dockerfile.ui.prod
  src/backend/Dockerfile
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/container-entrypoint.sh
  src/mapper/debug.dockerfile
Labels: backend, devops

build: fix to migration converting taskevent enum
  src/backend/migrations/007-rename-task-history.sql
Labels: backend, migration

build: fix to migration converting taskevent enum
  src/backend/migrations/007-rename-task-history.sql
Labels: backend, migration

build: change ordering of task_events migration idempotent
  src/backend/migrations/007-rename-task-history.sql
Labels: backend, migration

build: change ordering of task_events migration idempotent
  src/backend/migrations/007-rename-task-history.sql
Labels: backend, migration

build: restructure / simplify frontend docker volumes
  docker-compose.development.yml
  docker-compose.main.yml
  nginx/templates/fmtm.conf.template
  src/Dockerfile.ui.prod
  src/container-entrypoint.sh
Labels: devops

build: restructure / simplify frontend docker volumes
  docker-compose.development.yml
  docker-compose.main.yml
  nginx/templates/fmtm.conf.template
  src/Dockerfile.ui.prod
  src/container-entrypoint.sh
Labels: devops

feat(mapper): start improved mapper flow (#1854)
  src/mapper/src/constants/enums.ts
  src/mapper/src/lib/components/dialog-task-actions.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/src/store/common.svelte.ts
  src/mapper/src/store/tasks.svelte.ts
  src/mapper/src/styles/button.css
  src/mapper/static/assets/icons/three-dots.svg
  src/mapper/vite.config.ts
Labels: none

feat(mapper): start improved mapper flow (#1854)
  src/mapper/src/constants/enums.ts
  src/mapper/src/lib/components/dialog-task-actions.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/src/store/common.svelte.ts
  src/mapper/src/store/tasks.svelte.ts
  src/mapper/src/styles/button.css
  src/mapper/static/assets/icons/three-dots.svg
  src/mapper/vite.config.ts
Labels: none

build: add to migration updating state field of existing events
  src/backend/migrations/007-rename-task-history.sql
Labels: backend, migration

build: add to migration updating state field of existing events
  src/backend/migrations/007-rename-task-history.sql
Labels: backend, migration

build: fix nginx redirection for mapnow url
  nginx/templates/fmtm.conf.template
Labels: devops

build: fix nginx redirection for mapnow url
  nginx/templates/fmtm.conf.template
Labels: devops

fix(backend): s3 upload and db insertion for submission photos (#1856)
  src/backend/app/db/models.py
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
  src/frontend/src/api/CreateProjectService.ts
Labels: frontend, backend

fix(backend): s3 upload and db insertion for submission photos (#1856)
  src/backend/app/db/models.py
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
  src/frontend/src/api/CreateProjectService.ts
Labels: frontend, backend

docs: extra info in FAQ about FMTM vs other tools
  docs/about/faq.md
Labels: docs

docs: extra info in FAQ about FMTM vs other tools
  docs/about/faq.md
Labels: docs

docs: update structure of faq to use markdown headings
  docs/about/faq.md
Labels: docs

docs: update structure of faq to use markdown headings
  docs/about/faq.md
Labels: docs

build: fix correctly build mapper frontend deps in local dev
  docker-compose.yml
Labels: devops

build: fix correctly build mapper frontend deps in local dev
  docker-compose.yml
Labels: devops

fix(additional-entity): allow custom properties to create entities list (#1861)
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_schemas.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
Labels: backend

fix(additional-entity): allow custom properties to create entities list (#1861)
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_schemas.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
Labels: backend

fix(frontend): pass additional entity file name to backend (#1860)
  src/frontend/src/api/CreateProjectService.ts
Labels: frontend

fix(frontend): pass additional entity file name to backend (#1860)
  src/frontend/src/api/CreateProjectService.ts
Labels: frontend

feat(backend): API to delete user account #1661 (#1848)
  src/backend/app/db/models.py
  src/backend/app/users/user_routes.py
  src/backend/migrations/010-delete-user.sql
Labels: backend, migration

feat(backend): API to delete user account #1661 (#1848)
  src/backend/app/db/models.py
  src/backend/app/users/user_routes.py
  src/backend/migrations/010-delete-user.sql
Labels: backend, migration

feat(frontend): visualise submission photos via slider (#1857)
  src/frontend/src/api/Submission.ts
  src/frontend/src/components/common/ImageSlider.tsx
  src/frontend/src/components/common/Modal.tsx
  src/frontend/src/shared/AssetModules.js
  src/frontend/src/store/slices/SubmissionSlice.ts
  src/frontend/src/store/types/ISubmissions.ts
  src/frontend/src/views/SubmissionDetails.tsx
Labels: frontend

feat(frontend): visualise submission photos via slider (#1857)
  src/frontend/src/api/Submission.ts
  src/frontend/src/components/common/ImageSlider.tsx
  src/frontend/src/components/common/Modal.tsx
  src/frontend/src/shared/AssetModules.js
  src/frontend/src/store/slices/SubmissionSlice.ts
  src/frontend/src/store/types/ISubmissions.ts
  src/frontend/src/views/SubmissionDetails.tsx
Labels: frontend

fix(createProjectService): replace all spaces with underscore (#1862)
  src/frontend/src/api/CreateProjectService.ts
Labels: frontend

fix(createProjectService): replace all spaces with underscore (#1862)
  src/frontend/src/api/CreateProjectService.ts
Labels: frontend

fix(formUpdateTab): xFormId undefined issue fix on form update (#1863)
  src/frontend/src/components/ManageProject/EditTab/FormUpdateTab.tsx
Labels: frontend

fix(formUpdateTab): xFormId undefined issue fix on form update (#1863)
  src/frontend/src/components/ManageProject/EditTab/FormUpdateTab.tsx
Labels: frontend

fox(frontend): qr code add to download options (#1865)
  src/frontend/src/components/ProjectDetailsV2/ProjectOptions.tsx
  src/frontend/src/components/ProjectDetailsV2/TaskSelectionPopup.tsx
  src/frontend/src/components/QrcodeComponent.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

fox(frontend): qr code add to download options (#1865)
  src/frontend/src/components/ProjectDetailsV2/ProjectOptions.tsx
  src/frontend/src/components/ProjectDetailsV2/TaskSelectionPopup.tsx
  src/frontend/src/components/QrcodeComponent.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

fix(backend): remove auth bypass in for HOTOSM org #1785 (#1845)
  src/backend/app/auth/roles.py
Labels: backend

fix(backend): remove auth bypass in for HOTOSM org #1785 (#1845)
  src/backend/app/auth/roles.py
Labels: backend

docs: add extra faq section on why fmtm is unique
  docs/about/faq.md
Labels: docs

docs: add extra faq section on why fmtm is unique
  docs/about/faq.md
Labels: docs
