Repository hotosm/field-tm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, devops, migration, docs, ODK, contrib, tests

feat(frontend): task comments for individual features( #2218)
  src/frontend/src/components/ProjectDetailsV2/Comments.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/ProjectSubmissions/UpdateReviewStatusModal.tsx
  src/frontend/src/components/SubmissionInstance/SubmissionComments.tsx
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/store/types/ISubmissions.ts
  src/frontend/src/views/SubmissionDetails.tsx
  src/mapper/src/lib/components/dialog-entities-actions.svelte
  src/mapper/src/lib/components/more/index.svelte
  src/mapper/src/store/entities.svelte.ts
Labels: frontend

feat(frontend): start user roles integration (#2207)
  src/frontend/src/components/DialogTaskActions.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/home/HomePageFilters.tsx
  src/frontend/src/hooks/usePermissions.ts
  src/frontend/src/types/enums.ts
  src/frontend/src/utilities/PrimaryAppBar.tsx
  src/frontend/src/views/ApproveOrganization.tsx
  src/frontend/src/views/CreateEditOrganization.tsx
  src/frontend/src/views/CreateNewProject.tsx
  src/frontend/src/views/ManageUsers.tsx
  src/frontend/src/views/NoAccessComponent.tsx
  src/frontend/src/views/Organisation.tsx
Labels: frontend

feat(frontend): start user roles integration (#2207)
  src/frontend/src/components/DialogTaskActions.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/home/HomePageFilters.tsx
  src/frontend/src/hooks/usePermissions.ts
  src/frontend/src/types/enums.ts
  src/frontend/src/utilities/PrimaryAppBar.tsx
  src/frontend/src/views/ApproveOrganization.tsx
  src/frontend/src/views/CreateEditOrganization.tsx
  src/frontend/src/views/CreateNewProject.tsx
  src/frontend/src/views/ManageUsers.tsx
  src/frontend/src/views/NoAccessComponent.tsx
  src/frontend/src/views/Organisation.tsx
Labels: frontend

fix(backend): set new_geom_type default to Polygon as temp fix for #2164
  src/backend/app/central/central_crud.py
Labels: backend

fix(backend): set new_geom_type default to Polygon as temp fix for #2164
  src/backend/app/central/central_crud.py
Labels: backend

fix(dialog-entities-actions): update submission length check condition
  src/mapper/src/lib/components/dialog-entities-actions.svelte
Labels: none

fix(dialog-entities-actions): update submission length check condition
  src/mapper/src/lib/components/dialog-entities-actions.svelte
Labels: none

build(backend): specify which dir to watch for uvicorn reload (fix high cpu usage)
  src/backend/Dockerfile
Labels: backend, devops

build(backend): specify which dir to watch for uvicorn reload (fix high cpu usage)
  src/backend/Dockerfile
Labels: backend, devops

build: incorrectly named backup service in prod compose
  deploy/compose.main.yaml
Labels: none

build: incorrectly named backup service in prod compose
  deploy/compose.main.yaml
Labels: none

build: set prod compose backups service manually
  deploy/compose.main.yaml
Labels: none

build: set prod compose backups service manually
  deploy/compose.main.yaml
Labels: none

bump: version 2025.1.0 → 2025.1.1
  CHANGELOG.md
  chart/Chart.yaml
  src/backend/app/__version__.py
  src/backend/pyproject.toml
  src/backend/uv.lock
  src/frontend/package.json
  src/mapper/package.json
Labels: frontend, backend

bump: version 2025.1.0 → 2025.1.1
  CHANGELOG.md
  chart/Chart.yaml
  src/backend/app/__version__.py
  src/backend/pyproject.toml
  src/backend/uv.lock
  src/frontend/package.json
  src/mapper/package.json
Labels: frontend, backend

feat(frontend): create new feature entities via API prior to ODK collect usage (#2156)
  src/frontend/src/components/ProjectDetailsV2/FeatureSelectionPopup.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/ProjectSubmissions/UpdateReviewStatusModal.tsx
  src/frontend/src/store/types/ISubmissions.ts
  src/frontend/src/store/types/ITask.ts
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/frontend/src/views/SubmissionDetails.tsx
  src/mapper/src/lib/components/dialog-entities-actions.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/lib/odk/collect.ts
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/src/store/entities.svelte.ts
Labels: frontend

feat(frontend): create new feature entities via API prior to ODK collect usage (#2156)
  src/frontend/src/components/ProjectDetailsV2/FeatureSelectionPopup.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/ProjectSubmissions/UpdateReviewStatusModal.tsx
  src/frontend/src/store/types/ISubmissions.ts
  src/frontend/src/store/types/ITask.ts
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/frontend/src/views/SubmissionDetails.tsx
  src/mapper/src/lib/components/dialog-entities-actions.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/lib/odk/collect.ts
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/src/store/entities.svelte.ts
Labels: frontend

feat(project): populate total task field after task creation (#2243)
  src/backend/app/db/models.py
Labels: backend

feat(project): populate total task field after task creation (#2243)
  src/backend/app/db/models.py
Labels: backend

.github/labeler.yml:

bug:
  # Branch starts with `fix` or has a `fix` in the name
  - head-branch: ["^fix", "fix"]
enhancement:
  - head-branch:
      ["^feature", "feature", "^feat", "feat", "^refactor", "refactor"]
frontend:
  - changed-files:
      - any-glob-to-any-file: src/frontend/**
backend:
  - changed-files:
      - any-glob-to-any-file: src/backend/**
devops:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**
          - nginx/**
          - scripts/**
          - docker-*.yml
          - ./**/Dockerfile
          - ./**/.dockerfile
          - ./**/*entrypoint.sh
          - ./**/Justfile
migration:
  - changed-files:
      - any-glob-to-any-file: src/backend/migrations/**
docs:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**
          - images/**
          - mkdocs.yml
          - README.md
          - INSTALL.md
ODK:
  - changed-files:
      - any-glob-to-any-file: odkcentral/**
contrib:
  - changed-files:
      - any-glob-to-any-file: contrib/**
tests:
  - changed-files:
      - any-glob-to-any-file:
          - src/backend/tests/**
          - src/frontend/tests/**
          - src/frontend/e2e/**
