Repository hotosm/field-tm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, devops, migration, documentation, ODK, contrib

feat: add link to custom ODK Collect build in sidebar menu
  src/frontend/src/utilities/CustomDrawer.jsx
Labels: frontend

feat: add link to custom ODK Collect build in sidebar menu
  src/frontend/src/utilities/CustomDrawer.jsx
Labels: frontend

build: add pyxform to development compose config (xform conversion)
  docker-compose.yml
Labels: devops

build: add pyxform to development compose config (xform conversion)
  docker-compose.yml
Labels: devops

docs: fix double https on install script download url
  INSTALL.md
  README.md
  docs/dev/Production.md
Labels: documentation

docs: fix double https on install script download url
  INSTALL.md
  README.md
  docs/dev/Production.md
Labels: documentation

fix: fix random integer generation if missing in data extract
  src/backend/app/db/postgis_utils.py
Labels: backend

fix: fix random integer generation if missing in data extract
  src/backend/app/db/postgis_utils.py
Labels: backend

fix: fix random integer generation if missing in data extract
  src/backend/app/db/postgis_utils.py
Labels: backend

fix: fix random integer generation if missing in data extract
  src/backend/app/db/postgis_utils.py
Labels: backend

fix: reduce length of random id generated for data extract
  src/backend/app/db/postgis_utils.py
Labels: backend

fix: reduce length of random id generated for data extract
  src/backend/app/db/postgis_utils.py
Labels: backend

fix: reduce length of random id generated for data extract
  src/backend/app/db/postgis_utils.py
Labels: backend

fix: reduce length of random id generated for data extract
  src/backend/app/db/postgis_utils.py
Labels: backend

feat: endpoint to check the validity of login cookie (#1380)
  src/backend/app/auth/auth_routes.py
Labels: backend

feat: endpoint to check the validity of login cookie (#1380)
  src/backend/app/auth/auth_routes.py
Labels: backend

fix: replace custom pyxform with multi-stage bytesio usage
  src/backend/app/central/central_crud.py
  src/backend/pyproject.toml
Labels: backend

fix: replace custom pyxform with multi-stage bytesio usage
  src/backend/app/central/central_crud.py
  src/backend/pyproject.toml
Labels: backend

build: relock deps after pyxform revert source
  src/backend/pdm.lock
Labels: backend

build: relock deps after pyxform revert source
  src/backend/pdm.lock
Labels: backend

Fix comments intructions UI enhancement (#1384)
  src/frontend/src/components/ProjectDetailsV2/Comments.tsx
  src/frontend/src/components/ProjectDetailsV2/Instructions.tsx
  src/frontend/src/components/common/Editor/Editor.tsx
  src/frontend/src/components/common/Editor/editorStyles.scss
Labels: frontend

Fix comments intructions UI enhancement (#1384)
  src/frontend/src/components/ProjectDetailsV2/Comments.tsx
  src/frontend/src/components/ProjectDetailsV2/Instructions.tsx
  src/frontend/src/components/common/Editor/Editor.tsx
  src/frontend/src/components/common/Editor/editorStyles.scss
Labels: frontend

Fix popup offscreen (#1385)
  src/frontend/src/components/MapComponent/OpenLayersComponent/AsyncPopup/AsyncPopup.tsx
  src/frontend/src/components/ProjectDetailsV2/TaskSectionPopup.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

Fix popup offscreen (#1385)
  src/frontend/src/components/MapComponent/OpenLayersComponent/AsyncPopup/AsyncPopup.tsx
  src/frontend/src/components/ProjectDetailsV2/TaskSectionPopup.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

fix: hotfix add top level id to geojson with it missing
  src/backend/app/db/postgis_utils.py
Labels: backend

fix: hotfix add top level id to geojson with it missing
  src/backend/app/db/postgis_utils.py
Labels: backend

fix: hotfix add top level id to geojson with it missing
  src/backend/app/db/postgis_utils.py
Labels: backend

fix: hotfix add top level id to geojson with it missing
  src/backend/app/db/postgis_utils.py
Labels: backend

Feat reviewstate api integration (#1376)
  src/frontend/src/api/SubmissionService.ts
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/ProjectSubmissions/UpdateReviewStatusModal.tsx
  src/frontend/src/models/submission/submissionModel.ts
  src/frontend/src/store/slices/SubmissionSlice.ts
  src/frontend/src/store/types/ISubmissions.ts
  src/frontend/src/utilfunctions/commonUtils.ts
  src/frontend/src/views/SubmissionDetails.tsx
Labels: frontend

Feat reviewstate api integration (#1376)
  src/frontend/src/api/SubmissionService.ts
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/ProjectSubmissions/UpdateReviewStatusModal.tsx
  src/frontend/src/models/submission/submissionModel.ts
  src/frontend/src/store/slices/SubmissionSlice.ts
  src/frontend/src/store/types/ISubmissions.ts
  src/frontend/src/utilfunctions/commonUtils.ts
  src/frontend/src/views/SubmissionDetails.tsx
Labels: frontend

fix formUpdateTab: validation add to formUpdate (#1389)
  src/frontend/src/components/ManageProject/EditTab/FormUpdateTab.tsx
Labels: frontend

fix formUpdateTab: validation add to formUpdate (#1389)
  src/frontend/src/components/ManageProject/EditTab/FormUpdateTab.tsx
Labels: frontend

Fix taskpopup aoi (#1392)
  src/frontend/src/components/ProjectDetailsV2/TaskSectionPopup.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
Labels: frontend

Fix taskpopup aoi (#1392)
  src/frontend/src/components/ProjectDetailsV2/TaskSectionPopup.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
Labels: frontend

refactor: separate response for comment and task status history (#1391)
  src/backend/app/tasks/tasks_crud.py
  src/backend/app/tasks/tasks_routes.py
Labels: backend

refactor: separate response for comment and task status history (#1391)
  src/backend/app/tasks/tasks_crud.py
  src/backend/app/tasks/tasks_routes.py
Labels: backend

feat: OPFS-based offline-first PMTile basemaps (#1395)
  src/backend/Dockerfile
  src/backend/app/projects/project_crud.py
  src/frontend/index.html
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/src/App.tsx
  src/frontend/src/api/Files.js
  src/frontend/src/api/Project.js
  src/frontend/src/components/GenerateBasemap.jsx
  src/frontend/src/components/MapComponent/OpenLayersComponent/LayerSwitcher/index.js
  src/frontend/src/hooks/Prompt.tsx
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend, backend, devops

feat: OPFS-based offline-first PMTile basemaps (#1395)
  src/backend/Dockerfile
  src/backend/app/projects/project_crud.py
  src/frontend/index.html
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/src/App.tsx
  src/frontend/src/api/Files.js
  src/frontend/src/api/Project.js
  src/frontend/src/components/GenerateBasemap.jsx
  src/frontend/src/components/MapComponent/OpenLayersComponent/LayerSwitcher/index.js
  src/frontend/src/hooks/Prompt.tsx
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend, backend, devops

feat debugConsole: debugConsole component add
  src/frontend/src/utilities/DebugConsole.tsx
Labels: frontend

feat debugConsole: debugConsole component add
  src/frontend/src/utilities/DebugConsole.tsx
Labels: frontend

.github/labeler.yml:

"frontend":
  - "src/frontend/**/*"
"backend":
  - "src/backend/**/*"
"devops":
  - ".github/**/*"
  - "nginx/**/*"
  - "scripts/**/*"
  - "docker-*.yml"
  - "**/Dockerfile"
  - "**/*.dockerfile"
  - "**/*entrypoint.sh"
  - "Justfile"
"migration":
  - "src/backend/migrations/**/*"
"documentation":
  - "docs/**/*"
  - "images/**/*"
  - "mkdocs.yml"
  - "README.md"
  - "INSTALL.md"
"ODK":
  - "odkcentral/**/*"
"contrib":
  - "contrib/**/*"
