Repository hotosm/field-tm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, devops, migration, documentation, ODK, contrib

fix: project details mobile UI, user details in header (#1407)
  src/frontend/src/components/DialogTaskActions.jsx
  src/frontend/src/components/MapComponent/OpenLayersComponent/LayerSwitcher/index.js
  src/frontend/src/components/ProjectDetailsV2/ActivitiesPanel.tsx
  src/frontend/src/components/ProjectDetailsV2/Comments.tsx
  src/frontend/src/components/ProjectDetailsV2/MapControlComponent.tsx
  src/frontend/src/components/ProjectDetailsV2/MobileActivitiesContents.tsx
  src/frontend/src/components/ProjectDetailsV2/MobileFooter.tsx
  src/frontend/src/components/ProjectDetailsV2/MobileProjectInfoContent.tsx
  src/frontend/src/components/ProjectDetailsV2/ProjectOptions.tsx
  src/frontend/src/components/ProjectDetailsV2/TaskSectionPopup.tsx
  src/frontend/src/components/QrcodeComponent.jsx
  src/frontend/src/components/common/Accordion.tsx
  src/frontend/src/components/common/BottomSheet.tsx
  src/frontend/src/components/common/Editor/Toolbar.tsx
  src/frontend/src/shared/AssetModules.js
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/styles/home.scss
  src/frontend/src/utilities/MappingHeader.tsx
  src/frontend/src/utilities/PrimaryAppBar.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

fix: project details mobile UI, user details in header (#1407)
  src/frontend/src/components/DialogTaskActions.jsx
  src/frontend/src/components/MapComponent/OpenLayersComponent/LayerSwitcher/index.js
  src/frontend/src/components/ProjectDetailsV2/ActivitiesPanel.tsx
  src/frontend/src/components/ProjectDetailsV2/Comments.tsx
  src/frontend/src/components/ProjectDetailsV2/MapControlComponent.tsx
  src/frontend/src/components/ProjectDetailsV2/MobileActivitiesContents.tsx
  src/frontend/src/components/ProjectDetailsV2/MobileFooter.tsx
  src/frontend/src/components/ProjectDetailsV2/MobileProjectInfoContent.tsx
  src/frontend/src/components/ProjectDetailsV2/ProjectOptions.tsx
  src/frontend/src/components/ProjectDetailsV2/TaskSectionPopup.tsx
  src/frontend/src/components/QrcodeComponent.jsx
  src/frontend/src/components/common/Accordion.tsx
  src/frontend/src/components/common/BottomSheet.tsx
  src/frontend/src/components/common/Editor/Toolbar.tsx
  src/frontend/src/shared/AssetModules.js
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/styles/home.scss
  src/frontend/src/utilities/MappingHeader.tsx
  src/frontend/src/utilities/PrimaryAppBar.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

fix: add optional auth to raw-data-api calls, plus folder structure for persistence (#1431)
  .env.example
  src/backend/app/config.py
  src/backend/app/projects/project_crud.py
  src/backend/app/s3.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

fix: add optional auth to raw-data-api calls, plus folder structure for persistence (#1431)
  .env.example
  src/backend/app/config.py
  src/backend/app/projects/project_crud.py
  src/backend/app/s3.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

fix: update logic for more flexible submission json --> geojson
  src/backend/app/central/central_crud.py
Labels: backend

fix: update logic for more flexible submission json --> geojson
  src/backend/app/central/central_crud.py
Labels: backend

build: relock frontend dependencies to fix build
  src/frontend/pnpm-lock.yaml
Labels: frontend

build: relock frontend dependencies to fix build
  src/frontend/pnpm-lock.yaml
Labels: frontend

build: add instructions for using Playwright frontend E2E tests (#1439)
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_ci_img.yml
  .github/workflows/build_odk_imgs.yml
  .github/workflows/build_proxy_imgs.yml
  .github/workflows/docs.yml
  .github/workflows/pr_test_backend.yml
  .github/workflows/pr_test_frontend.yml
  .github/workflows/tag_build.yml
  .github/workflows/wiki.yml
  Justfile
  docker-compose.yml
  docs/dev/Frontend.md
  src/frontend/.github/workflows/playwright.yml
  src/frontend/package.json
  src/frontend/playwright-tests-examples/demo-todo-app.spec.ts
  src/frontend/vite.config.ts
Labels: frontend, devops, documentation

build: add instructions for using Playwright frontend E2E tests (#1439)
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_ci_img.yml
  .github/workflows/build_odk_imgs.yml
  .github/workflows/build_proxy_imgs.yml
  .github/workflows/docs.yml
  .github/workflows/pr_test_backend.yml
  .github/workflows/pr_test_frontend.yml
  .github/workflows/tag_build.yml
  .github/workflows/wiki.yml
  Justfile
  docker-compose.yml
  docs/dev/Frontend.md
  src/frontend/.github/workflows/playwright.yml
  src/frontend/package.json
  src/frontend/playwright-tests-examples/demo-todo-app.spec.ts
  src/frontend/vite.config.ts
Labels: frontend, devops, documentation

fix: filter task_history endpoint using task_id (#1436)
  src/backend/app/tasks/tasks_crud.py
  src/backend/app/tasks/tasks_routes.py
  src/backend/app/tasks/tasks_schemas.py
Labels: backend

fix: filter task_history endpoint using task_id (#1436)
  src/backend/app/tasks/tasks_crud.py
  src/backend/app/tasks/tasks_routes.py
  src/backend/app/tasks/tasks_schemas.py
Labels: backend

build: add Mozilla Dockerflow spec endpoints for devops systems (#1444)
  src/backend/Dockerfile
  src/backend/app/main.py
Labels: backend, devops

build: add Mozilla Dockerflow spec endpoints for devops systems (#1444)
  src/backend/Dockerfile
  src/backend/app/main.py
Labels: backend, devops

fix: XLSForm template download endpoint for specified categories (#1441)
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_routes.py
  src/backend/app/helpers/helper_routes.py
  src/backend/app/models/enums.py
  src/backend/app/projects/project_routes.py
  src/backend/app/static/__init__.py
  src/backend/app/static/template/template.geojson
Labels: backend

fix: XLSForm template download endpoint for specified categories (#1441)
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_routes.py
  src/backend/app/helpers/helper_routes.py
  src/backend/app/models/enums.py
  src/backend/app/projects/project_routes.py
  src/backend/app/static/__init__.py
  src/backend/app/static/template/template.geojson
Labels: backend

feat: add /projects/features endpoint for project FeatureCollection (disaster.ninja integration) (#1442)
  src/backend/app/db/postgis_utils.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/tasks/tasks_routes.py
  src/frontend/src/components/MapComponent/OpenLayersComponent/LayerSwitcher/index.js
  src/frontend/src/components/ProjectDetailsV2/MapControlComponent.tsx
  src/frontend/src/components/ProjectSubmissions/ProjectInfo.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/home/ExploreProjectCard.tsx
  src/frontend/src/components/home/ProjectListMap.tsx
  src/frontend/src/routes.jsx
  src/frontend/src/views/MainView.jsx
  src/frontend/src/views/ManageProject.tsx
  src/frontend/src/views/ProjectSubmissions.tsx
  src/frontend/src/views/SubmissionDetails.tsx
Labels: frontend, backend

feat: add /projects/features endpoint for project FeatureCollection (disaster.ninja integration) (#1442)
  src/backend/app/db/postgis_utils.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/tasks/tasks_routes.py
  src/frontend/src/components/MapComponent/OpenLayersComponent/LayerSwitcher/index.js
  src/frontend/src/components/ProjectDetailsV2/MapControlComponent.tsx
  src/frontend/src/components/ProjectSubmissions/ProjectInfo.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/home/ExploreProjectCard.tsx
  src/frontend/src/components/home/ProjectListMap.tsx
  src/frontend/src/routes.jsx
  src/frontend/src/views/MainView.jsx
  src/frontend/src/views/ManageProject.tsx
  src/frontend/src/views/ProjectSubmissions.tsx
  src/frontend/src/views/SubmissionDetails.tsx
Labels: frontend, backend

fix: handle multipolygon geometries for project area (#1430)
  src/backend/app/db/postgis_utils.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
Labels: backend

fix: handle multipolygon geometries for project area (#1430)
  src/backend/app/db/postgis_utils.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
Labels: backend

feat: temporary authentication login for mappers (svcfmtm) (#1410)
  src/backend/app/auth/auth_routes.py
  src/backend/app/auth/osm.py
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/submissions/submission_routes.py
  src/backend/app/tasks/tasks_routes.py
  src/backend/tests/conftest.py
Labels: backend

feat: temporary authentication login for mappers (svcfmtm) (#1410)
  src/backend/app/auth/auth_routes.py
  src/backend/app/auth/osm.py
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/submissions/submission_routes.py
  src/backend/app/tasks/tasks_routes.py
  src/backend/tests/conftest.py
Labels: backend

refactor: replace unecessary outline_centroid for tasks with ol.extent.getCenter (#1447)
  src/backend/app/tasks/tasks_schemas.py
  src/frontend/src/api/Project.js
  src/frontend/src/api/ProjectTaskStatus.js
  src/frontend/src/components/Activities.jsx
  src/frontend/src/hooks/MapStyles.js
  src/frontend/src/models/createproject/createProjectModel.ts
  src/frontend/src/models/project/projectModel.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/utilfunctions/getTaskStatusStyle.js
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend, backend

refactor: replace unecessary outline_centroid for tasks with ol.extent.getCenter (#1447)
  src/backend/app/tasks/tasks_schemas.py
  src/frontend/src/api/Project.js
  src/frontend/src/api/ProjectTaskStatus.js
  src/frontend/src/components/Activities.jsx
  src/frontend/src/hooks/MapStyles.js
  src/frontend/src/models/createproject/createProjectModel.ts
  src/frontend/src/models/project/projectModel.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/utilfunctions/getTaskStatusStyle.js
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend, backend

fix: activity comment api calls in frontend (#1435)
  src/frontend/src/api/Project.js
  src/frontend/src/api/ProjectTaskStatus.js
  src/frontend/src/components/DialogTaskActions.jsx
  src/frontend/src/components/ProjectDetailsV2/ActivitiesPanel.tsx
  src/frontend/src/components/ProjectDetailsV2/Comments.tsx
  src/frontend/src/models/project/projectModel.ts
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

fix: activity comment api calls in frontend (#1435)
  src/frontend/src/api/Project.js
  src/frontend/src/api/ProjectTaskStatus.js
  src/frontend/src/components/DialogTaskActions.jsx
  src/frontend/src/components/ProjectDetailsV2/ActivitiesPanel.tsx
  src/frontend/src/components/ProjectDetailsV2/Comments.tsx
  src/frontend/src/models/project/projectModel.ts
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

fix: fix list-forms endpoint logic to return list of dicts
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_routes.py
Labels: backend

fix: fix list-forms endpoint logic to return list of dicts
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_routes.py
Labels: backend

feat: endpoints for getting Entity data & updating Entity mapping status (#1445)
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_schemas.py
  src/backend/app/db/postgis_utils.py
  src/backend/app/helpers/helper_routes.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_deps.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/tasks/tasks_crud.py
  src/backend/app/tasks/tasks_routes.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/frontend/index.html
  src/frontend/src/components/DialogTaskActions.jsx
  src/frontend/src/components/ProjectDetailsV2/ActivitiesPanel.tsx
  src/frontend/src/components/ProjectDetailsV2/Comments.tsx
  src/frontend/src/components/ProjectDetailsV2/TaskSelectionPopup.tsx
  src/frontend/src/index.html
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend, backend

feat: endpoints for getting Entity data & updating Entity mapping status (#1445)
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_schemas.py
  src/backend/app/db/postgis_utils.py
  src/backend/app/helpers/helper_routes.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_deps.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/tasks/tasks_crud.py
  src/backend/app/tasks/tasks_routes.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/frontend/index.html
  src/frontend/src/components/DialogTaskActions.jsx
  src/frontend/src/components/ProjectDetailsV2/ActivitiesPanel.tsx
  src/frontend/src/components/ProjectDetailsV2/Comments.tsx
  src/frontend/src/components/ProjectDetailsV2/TaskSelectionPopup.tsx
  src/frontend/src/index.html
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend, backend

docs: add roadmap badge to main readme
  README.md
  docs/images/roadmap_badge.svg
Labels: documentation

docs: add roadmap badge to main readme
  README.md
  docs/images/roadmap_badge.svg
Labels: documentation

docs: fix roadmap badge emoji for readme
  docs/images/roadmap_badge.svg
Labels: documentation

docs: fix roadmap badge emoji for readme
  docs/images/roadmap_badge.svg
Labels: documentation

docs: update link to roadmap in readme
  README.md
  docs/images/roadmap_badge.svg
  docs/images/tasks_badge.svg
Labels: documentation

docs: update link to roadmap in readme
  README.md
  docs/images/roadmap_badge.svg
  docs/images/tasks_badge.svg
Labels: documentation

fix (backend): add custom TMS url during project creation (#1446)
  src/backend/app/db/db_models.py
  src/backend/app/projects/project_schemas.py
  src/backend/migrations/003-add-tms-url.sql
  src/backend/migrations/revert/003-add-tms-url.sql
Labels: backend, migration

fix (backend): add custom TMS url during project creation (#1446)
  src/backend/app/db/db_models.py
  src/backend/app/projects/project_schemas.py
  src/backend/migrations/003-add-tms-url.sql
  src/backend/migrations/revert/003-add-tms-url.sql
Labels: backend, migration

fix: role mapper to login required in data extract (#1450)
  src/backend/app/projects/project_routes.py
Labels: backend

fix: role mapper to login required in data extract (#1450)
  src/backend/app/projects/project_routes.py
Labels: backend

.github/labeler.yml:

"frontend":
  - "src/frontend/**/*"
"backend":
  - "src/backend/**/*"
"devops":
  - ".github/**/*"
  - "nginx/**/*"
  - "scripts/**/*"
  - "docker-*.yml"
  - "**/Dockerfile"
  - "**/*.dockerfile"
  - "**/*entrypoint.sh"
  - "Justfile"
"migration":
  - "src/backend/migrations/**/*"
"documentation":
  - "docs/**/*"
  - "images/**/*"
  - "mkdocs.yml"
  - "README.md"
  - "INSTALL.md"
"ODK":
  - "odkcentral/**/*"
"contrib":
  - "contrib/**/*"
