Repository hotosm/field-tm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, devops, migration, docs, ODK, contrib, tests

.github/labeler.yml:

bug:
  # Branch starts with `fix` or has a `fix` in the name
  - head-branch: ["^fix", "fix"]
enhancement:
  - head-branch:
      ["^feature", "feature", "^feat", "feat", "^refactor", "refactor"]
frontend:
  - changed-files:
      - any-glob-to-any-file: src/frontend/**
backend:
  - changed-files:
      - any-glob-to-any-file: src/backend/**
devops:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**
          - nginx/**
          - scripts/**
          - docker-*.yml
          - ./**/Dockerfile
          - ./**/.dockerfile
          - ./**/*entrypoint.sh
          - ./**/Justfile
migration:
  - changed-files:
      - any-glob-to-any-file: src/backend/migrations/**
docs:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**
          - images/**
          - mkdocs.yml
          - README.md
          - INSTALL.md
ODK:
  - changed-files:
      - any-glob-to-any-file: odkcentral/**
contrib:
  - changed-files:
      - any-glob-to-any-file: contrib/**
tests:
  - changed-files:
      - any-glob-to-any-file:
          - src/backend/tests/**
          - src/frontend/tests/**
          - src/frontend/e2e/**

build: update osm-fieldwork --> 0.4.1 for convex hull extract fix
  src/backend/pyproject.toml
  src/backend/uv.lock
Labels: backend

build: update osm-fieldwork --> 0.4.1 for convex hull extract fix
  src/backend/pyproject.toml
  src/backend/uv.lock
Labels: backend

fix(mapper): attempt fixing missing basemap download buttons on mobile
  src/mapper/src/lib/components/offline/basemaps.svelte
Labels: none

fix(mapper): attempt fixing missing basemap download buttons on mobile
  src/mapper/src/lib/components/offline/basemaps.svelte
Labels: none

feat(frontend): add 'Start Mapping' call to action button on homepage cards (#1968)
  src/frontend/src/components/home/ExploreProjectCard.tsx
  src/frontend/src/store/slices/ThemeSlice.ts
Labels: frontend

feat(frontend): add 'Start Mapping' call to action button on homepage cards (#1968)
  src/frontend/src/components/home/ExploreProjectCard.tsx
  src/frontend/src/store/slices/ThemeSlice.ts
Labels: frontend

fix(frontend): default do not show map on home page
  src/frontend/src/store/slices/HomeSlice.ts
Labels: frontend

fix(frontend): default do not show map on home page
  src/frontend/src/store/slices/HomeSlice.ts
Labels: frontend

fix(backend): including num_contribotors and total_tasks to the project response
  src/backend/app/db/models.py
  src/backend/app/projects/project_schemas.py
Labels: backend

fix(backend): including num_contribotors and total_tasks to the project response
  src/backend/app/db/models.py
  src/backend/app/projects/project_schemas.py
Labels: backend

fix(frontend): update min height of project home page card, move start mapping button
  src/frontend/src/components/home/ExploreProjectCard.tsx
Labels: frontend

fix(frontend): update min height of project home page card, move start mapping button
  src/frontend/src/components/home/ExploreProjectCard.tsx
Labels: frontend

refactor(mapper): improve logic for rendering basemap action buttons
  src/mapper/src/lib/components/offline/basemaps.svelte
Labels: none

refactor(mapper): improve logic for rendering basemap action buttons
  src/mapper/src/lib/components/offline/basemaps.svelte
Labels: none

fix(backend): ambiguous project_id reference in project summaries .all()
  src/backend/app/db/models.py
Labels: backend

fix(backend): ambiguous project_id reference in project summaries .all()
  src/backend/app/db/models.py
Labels: backend

fix(frontend): update token refresh calls to match updates in PR #1948
  src/frontend/src/App.tsx
  src/mapper/src/routes/[projectId]/+page.ts
Labels: frontend

fix(frontend): update token refresh calls to match updates in PR #1948
  src/frontend/src/App.tsx
  src/mapper/src/routes/[projectId]/+page.ts
Labels: frontend

fix(mapper): correctly inject username into qrcode from logged in details
  src/mapper/src/lib/components/qrcode.svelte
Labels: none

fix(mapper): correctly inject username into qrcode from logged in details
  src/mapper/src/lib/components/qrcode.svelte
Labels: none

feat(debug): add cloudflare tunnel config to simple configurable frontend button
  contrib/just/start/Justfile
  contrib/tunnel/button/.dockerignore
  contrib/tunnel/button/README.md
  contrib/tunnel/button/index.html
  contrib/tunnel/button/package.json
  contrib/tunnel/button/pnpm-lock.yaml
  contrib/tunnel/button/vite.config.ts
  contrib/tunnel/docker-compose.yml
  docs/dev/Backend.md
Labels: devops, docs, contrib

feat(debug): add cloudflare tunnel config to simple configurable frontend button
  contrib/just/start/Justfile
  contrib/tunnel/button/.dockerignore
  contrib/tunnel/button/README.md
  contrib/tunnel/button/index.html
  contrib/tunnel/button/package.json
  contrib/tunnel/button/pnpm-lock.yaml
  contrib/tunnel/button/vite.config.ts
  contrib/tunnel/docker-compose.yml
  docs/dev/Backend.md
Labels: devops, docs, contrib

fix(mapper): remove extra semicolon from new_feature odk field injection
  src/mapper/src/lib/odk/javarosa.ts
Labels: none

fix(mapper): remove extra semicolon from new_feature odk field injection
  src/mapper/src/lib/odk/javarosa.ts
Labels: none

build: update osm-fieldwork --> 0.16.12 for latest xlsform
  src/backend/pyproject.toml
  src/backend/uv.lock
Labels: backend

build: update osm-fieldwork --> 0.16.12 for latest xlsform
  src/backend/pyproject.toml
  src/backend/uv.lock
Labels: backend

fix: apply pagination after fetch submissions from odk (#1971)
  src/backend/app/submissions/submission_routes.py
Labels: backend

fix: apply pagination after fetch submissions from odk (#1971)
  src/backend/app/submissions/submission_routes.py
Labels: backend

feat(mapper): add navigation mode to map (pitch angle / rotate) (#1973)
  src/mapper/src/assets/images/arrow.png
  src/mapper/src/lib/components/map/geolocation.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/src/store/common.svelte.ts
  src/mapper/static/assets/icons/send.svg
Labels: none

feat(mapper): add navigation mode to map (pitch angle / rotate) (#1973)
  src/mapper/src/assets/images/arrow.png
  src/mapper/src/lib/components/map/geolocation.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/src/store/common.svelte.ts
  src/mapper/static/assets/icons/send.svg
Labels: none

feat: update auth cookie logic for both backend and frontend (#1974)
  src/backend/app/auth/auth_deps.py
  src/backend/app/auth/auth_routes.py
  src/backend/app/auth/auth_schemas.py
  src/backend/app/auth/osm.py
  src/backend/app/auth/providers/osm.py
  src/backend/app/auth/roles.py
  src/backend/app/central/central_routes.py
  src/backend/app/db/models.py
  src/backend/app/helpers/helper_routes.py
  src/backend/app/organisations/organisation_routes.py
  src/backend/app/projects/project_routes.py
  src/frontend/src/utilfunctions/login.ts
  src/frontend/src/views/PlaywrightTempLogin.tsx
  src/mapper/src/constants/enums.ts
  src/mapper/src/lib/components/header.svelte
  src/mapper/src/lib/components/login.svelte
  src/mapper/src/lib/utils/login.ts
  src/mapper/src/routes/[projectId]/+page.ts
  src/mapper/src/store/login.svelte.ts
Labels: frontend, backend

feat: update auth cookie logic for both backend and frontend (#1974)
  src/backend/app/auth/auth_deps.py
  src/backend/app/auth/auth_routes.py
  src/backend/app/auth/auth_schemas.py
  src/backend/app/auth/osm.py
  src/backend/app/auth/providers/osm.py
  src/backend/app/auth/roles.py
  src/backend/app/central/central_routes.py
  src/backend/app/db/models.py
  src/backend/app/helpers/helper_routes.py
  src/backend/app/organisations/organisation_routes.py
  src/backend/app/projects/project_routes.py
  src/frontend/src/utilfunctions/login.ts
  src/frontend/src/views/PlaywrightTempLogin.tsx
  src/mapper/src/constants/enums.ts
  src/mapper/src/lib/components/header.svelte
  src/mapper/src/lib/components/login.svelte
  src/mapper/src/lib/utils/login.ts
  src/mapper/src/routes/[projectId]/+page.ts
  src/mapper/src/store/login.svelte.ts
Labels: frontend, backend

fix(backend): correctly return JSONResponse content on refresh endpoints
  src/backend/app/auth/auth_deps.py
  src/backend/app/auth/auth_routes.py
Labels: backend

fix(backend): correctly return JSONResponse content on refresh endpoints
  src/backend/app/auth/auth_deps.py
  src/backend/app/auth/auth_routes.py
Labels: backend

OData Connection for Submission Analysis
  docs/manuals/OData Connection for Submission Analysis
Labels: docs

OData Connection for Submission Analysis
  docs/manuals/OData Connection for Submission Analysis
Labels: docs

fix: finalise auth setup between frontends (#1981)
  src/backend/app/auth/auth_deps.py
  src/backend/app/auth/auth_routes.py
  src/backend/app/auth/auth_schemas.py
  src/backend/app/auth/providers/osm.py
  src/frontend/src/App.tsx
  src/frontend/src/components/LoginPopup.tsx
  src/frontend/src/store/slices/LoginSlice.ts
  src/frontend/src/utilfunctions/login.ts
  src/frontend/src/utilities/CustomDrawer.tsx
  src/frontend/src/utilities/DebugConsole.tsx
  src/frontend/src/utilities/PrimaryAppBar.tsx
  src/frontend/src/views/OsmAuth.tsx
  src/frontend/src/views/PlaywrightTempLogin.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/mapper/src/lib/components/header.svelte
  src/mapper/src/lib/components/login.svelte
  src/mapper/src/lib/utils/login.ts
  src/mapper/src/routes/[projectId]/+page.ts
  src/mapper/src/store/login.svelte.ts
Labels: frontend, backend

fix: finalise auth setup between frontends (#1981)
  src/backend/app/auth/auth_deps.py
  src/backend/app/auth/auth_routes.py
  src/backend/app/auth/auth_schemas.py
  src/backend/app/auth/providers/osm.py
  src/frontend/src/App.tsx
  src/frontend/src/components/LoginPopup.tsx
  src/frontend/src/store/slices/LoginSlice.ts
  src/frontend/src/utilfunctions/login.ts
  src/frontend/src/utilities/CustomDrawer.tsx
  src/frontend/src/utilities/DebugConsole.tsx
  src/frontend/src/utilities/PrimaryAppBar.tsx
  src/frontend/src/views/OsmAuth.tsx
  src/frontend/src/views/PlaywrightTempLogin.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/mapper/src/lib/components/header.svelte
  src/mapper/src/lib/components/login.svelte
  src/mapper/src/lib/utils/login.ts
  src/mapper/src/routes/[projectId]/+page.ts
  src/mapper/src/store/login.svelte.ts
Labels: frontend, backend

fix(auth): final fixes to temp/osm auth across frontends
  src/backend/app/auth/auth_deps.py
  src/backend/app/auth/auth_routes.py
  src/frontend/src/App.tsx
  src/frontend/src/views/OsmAuth.tsx
  src/mapper/src/lib/components/header.svelte
  src/mapper/src/lib/utils/login.ts
  src/mapper/src/routes/[projectId]/+page.ts
  src/mapper/src/store/login.svelte.ts
Labels: frontend, backend

fix(auth): final fixes to temp/osm auth across frontends
  src/backend/app/auth/auth_deps.py
  src/backend/app/auth/auth_routes.py
  src/frontend/src/App.tsx
  src/frontend/src/views/OsmAuth.tsx
  src/mapper/src/lib/components/header.svelte
  src/mapper/src/lib/utils/login.ts
  src/mapper/src/routes/[projectId]/+page.ts
  src/mapper/src/store/login.svelte.ts
Labels: frontend, backend
