Repository hotosm/field-tm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, devops, migration, documentation, ODK, contrib

.github/labeler.yml:

"frontend":
  - "src/frontend/**/*"
"backend":
  - "src/backend/**/*"
"devops":
  - ".github/**/*"
  - "nginx/**/*"
  - "scripts/**/*"
  - "docker-*.yml"
  - "**/Dockerfile"
  - "**/*.dockerfile"
  - "**/*entrypoint.sh"
  - "Justfile"
"migration":
  - "src/backend/migrations/**/*"
"documentation":
  - "docs/**/*"
  - "images/**/*"
  - "mkdocs.yml"
  - "README.md"
  - "INSTALL.md"
"ODK":
  - "odkcentral/**/*"
"contrib":
  - "contrib/**/*"

docs: info on using aws instance profiles for s3 auth
  src/backend/app/s3.py
Labels: backend

docs: info on using aws instance profiles for s3 auth
  src/backend/app/s3.py
Labels: backend

fix: temporarily bundle minio in prod until minio instance profile
  docker-compose.main.yml
  nginx/Dockerfile
Labels: devops

fix: temporarily bundle minio in prod until minio instance profile
  docker-compose.main.yml
  nginx/Dockerfile
Labels: devops

build: add task_split_dimension & task_num_buildings to base schema
  src/backend/migrations/init/fmtm_base_schema.sql
Labels: backend, migration

build: add task_split_dimension & task_num_buildings to base schema
  src/backend/migrations/init/fmtm_base_schema.sql
Labels: backend, migration

ci: ensure only 1 api replica used for smoke test
  .github/workflows/build_and_deploy.yml
Labels: devops

ci: ensure only 1 api replica used for smoke test
  .github/workflows/build_and_deploy.yml
Labels: devops

fix(frontend): handle case when console error is not string
  src/frontend/src/App.jsx
Labels: frontend

fix(frontend): handle case when console error is not string
  src/frontend/src/App.jsx
Labels: frontend

fix(frontend): console errors when msg prop is not defined
  src/frontend/src/App.jsx
Labels: frontend

fix(frontend): console errors when msg prop is not defined
  src/frontend/src/App.jsx
Labels: frontend

build: increase fmtm db max connections 100 --> 300
  docker-compose.development.yml
  docker-compose.main.yml
  docker-compose.yml
Labels: devops

build: increase fmtm db max connections 100 --> 300
  docker-compose.development.yml
  docker-compose.main.yml
  docker-compose.yml
Labels: devops

fix: reduce db connections during project creation
  src/backend/app/projects/project_crud.py
Labels: backend

fix: reduce db connections during project creation
  src/backend/app/projects/project_crud.py
Labels: backend

fix(frontend): change console log msg check to type check
  src/frontend/src/App.jsx
Labels: frontend

fix(frontend): change console log msg check to type check
  src/frontend/src/App.jsx
Labels: frontend

test: fix generate_task_files usage in test
  src/backend/tests/test_projects_routes.py
Labels: backend

test: fix generate_task_files usage in test
  src/backend/tests/test_projects_routes.py
Labels: backend

build: do not init s3 if S3_SKIP_BUCKET_INIT=true
  src/backend/app-entrypoint.sh
Labels: backend, devops

build: do not init s3 if S3_SKIP_BUCKET_INIT=true
  src/backend/app-entrypoint.sh
Labels: backend, devops

fix: set sqlalchemy connection max_overflow unlimited, until task queue
  src/backend/app/db/database.py
Labels: backend

fix: set sqlalchemy connection max_overflow unlimited, until task queue
  src/backend/app/db/database.py
Labels: backend

build(frontend): determine minification based on build mode
  docker-compose.development.yml
  src/frontend/prod.dockerfile
  src/frontend/vite.config.ts
Labels: frontend, devops

build(frontend): determine minification based on build mode
  docker-compose.development.yml
  src/frontend/prod.dockerfile
  src/frontend/vite.config.ts
Labels: frontend, devops

ci: update all workflows to v1.4.9
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_ci_img.yml
  .github/workflows/build_odk_imgs.yml
  .github/workflows/build_proxy_imgs.yml
  .github/workflows/docs.yml
  .github/workflows/pr_test_backend.yml
  .github/workflows/pr_test_frontend.yml
  .github/workflows/tag_build.yml
  .github/workflows/wiki.yml
Labels: devops

ci: update all workflows to v1.4.9
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_ci_img.yml
  .github/workflows/build_odk_imgs.yml
  .github/workflows/build_proxy_imgs.yml
  .github/workflows/docs.yml
  .github/workflows/pr_test_backend.yml
  .github/workflows/pr_test_frontend.yml
  .github/workflows/tag_build.yml
  .github/workflows/wiki.yml
Labels: devops

refactor: remove code for manual service worker registration
  src/frontend/src/App.jsx
Labels: frontend

refactor: remove code for manual service worker registration
  src/frontend/src/App.jsx
Labels: frontend

fix: allow public project creation during public beta (#1274)
  src/backend/app/auth/roles.py
Labels: backend

fix: allow public project creation during public beta (#1274)
  src/backend/app/auth/roles.py
Labels: backend

fix: update public org checking logic as part of role check
  src/backend/app/auth/roles.py
Labels: backend

fix: update public org checking logic as part of role check
  src/backend/app/auth/roles.py
Labels: backend

refactor projectDetails: remove old project details code
  src/frontend/src/components/OpenLayersMap.jsx
  src/frontend/src/components/ProjectDetails/MapControlComponent.tsx
  src/frontend/src/components/ProjectDetails/MobileActivitiesContents.tsx
  src/frontend/src/components/ProjectDetails/MobileFooter.tsx
  src/frontend/src/components/ProjectDetails/MobileProjectInfoContent.tsx
  src/frontend/src/components/ProjectDetails/ProjectOptions.tsx
  src/frontend/src/components/ProjectDetails/TaskSectionPopup.tsx
  src/frontend/src/routes.jsx
  src/frontend/src/views/CreateProject.tsx
  src/frontend/src/views/NewProjectDetails.jsx
  src/frontend/src/views/ProjectDetails.jsx
Labels: frontend

refactor projectDetails: remove old project details code
  src/frontend/src/components/OpenLayersMap.jsx
  src/frontend/src/components/ProjectDetails/MapControlComponent.tsx
  src/frontend/src/components/ProjectDetails/MobileActivitiesContents.tsx
  src/frontend/src/components/ProjectDetails/MobileFooter.tsx
  src/frontend/src/components/ProjectDetails/MobileProjectInfoContent.tsx
  src/frontend/src/components/ProjectDetails/ProjectOptions.tsx
  src/frontend/src/components/ProjectDetails/TaskSectionPopup.tsx
  src/frontend/src/routes.jsx
  src/frontend/src/views/CreateProject.tsx
  src/frontend/src/views/NewProjectDetails.jsx
  src/frontend/src/views/ProjectDetails.jsx
Labels: frontend

refactor openLayersMap: remove unwanted commented code
  src/frontend/src/components/OpenLayersMap.jsx
Labels: frontend

refactor openLayersMap: remove unwanted commented code
  src/frontend/src/components/OpenLayersMap.jsx
Labels: frontend

refactor projectInfo: remove old projectInfo code as project submissions page is stable
  src/frontend/src/components/ProjectDetailsV2/ProjectOptions.tsx
  src/frontend/src/components/ProjectInfo/ProjectCard.jsx
  src/frontend/src/components/ProjectInfo/ProjectInfoCountCard.jsx
  src/frontend/src/components/ProjectInfo/ProjectInfoCountCardSkeleton.jsx
  src/frontend/src/components/ProjectInfo/ProjectInfoMapLegend.jsx
  src/frontend/src/components/ProjectInfo/ProjectInfoSidebar.jsx
  src/frontend/src/components/ProjectInfo/ProjectInfoSidebarSkeleton.jsx
  src/frontend/src/components/ProjectInfo/ProjectInfomap.jsx
  src/frontend/src/routes.jsx
  src/frontend/src/views/ProjectInfo.tsx
Labels: frontend

refactor projectInfo: remove old projectInfo code as project submissions page is stable
  src/frontend/src/components/ProjectDetailsV2/ProjectOptions.tsx
  src/frontend/src/components/ProjectInfo/ProjectCard.jsx
  src/frontend/src/components/ProjectInfo/ProjectInfoCountCard.jsx
  src/frontend/src/components/ProjectInfo/ProjectInfoCountCardSkeleton.jsx
  src/frontend/src/components/ProjectInfo/ProjectInfoMapLegend.jsx
  src/frontend/src/components/ProjectInfo/ProjectInfoSidebar.jsx
  src/frontend/src/components/ProjectInfo/ProjectInfoSidebarSkeleton.jsx
  src/frontend/src/components/ProjectInfo/ProjectInfomap.jsx
  src/frontend/src/routes.jsx
  src/frontend/src/views/ProjectInfo.tsx
Labels: frontend
