Repository hotosm/field-tm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, devops, migration, documentation, ODK, contrib

refactor: refactor odk appuser + qrcode function naming
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_routes.py
  src/backend/app/projects/project_crud.py
Labels: backend

refactor: refactor odk appuser + qrcode function naming
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_routes.py
  src/backend/app/projects/project_crud.py
Labels: backend

refactor: add metadata_username to odk qr code as test
  src/backend/app/central/central_crud.py
Labels: backend

refactor: add metadata_username to odk qr code as test
  src/backend/app/central/central_crud.py
Labels: backend

docs: use code of conduct on docs.hotosm.org
  CODE_OF_CONDUCT.md
  docs/CODE_OF_CONDUCT.md
  mkdocs.yml
Labels: documentation

docs: use code of conduct on docs.hotosm.org
  CODE_OF_CONDUCT.md
  docs/CODE_OF_CONDUCT.md
  mkdocs.yml
Labels: documentation

fix divide by square on multipolygon geojson
  src/backend/app/projects/project_crud.py
Labels: backend

fix divide by square on multipolygon geojson
  src/backend/app/projects/project_crud.py
Labels: backend

build: upgrade fmtm-splitter v0.2.6 --> v1.0.0rc0 (#1122)
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

build: upgrade fmtm-splitter v0.2.6 --> v1.0.0rc0 (#1122)
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

feat: add test coverage metric (#1129)
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_ci_img.yml
  .github/workflows/build_odk_imgs.yml
  .github/workflows/build_proxy_imgs.yml
  .github/workflows/docs.yml
  .github/workflows/pr_test_backend.yml
  .github/workflows/pr_test_frontend.yml
  .github/workflows/tag_build.yml
  .github/workflows/tests/pytest.yml
  .github/workflows/tests/test_ci.sh
  .github/workflows/wiki.yml
  .gitignore
  README.md
  docs/dev/Backend.md
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend, devops, documentation

feat: add test coverage metric (#1129)
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_ci_img.yml
  .github/workflows/build_odk_imgs.yml
  .github/workflows/build_proxy_imgs.yml
  .github/workflows/docs.yml
  .github/workflows/pr_test_backend.yml
  .github/workflows/pr_test_frontend.yml
  .github/workflows/tag_build.yml
  .github/workflows/tests/pytest.yml
  .github/workflows/tests/test_ci.sh
  .github/workflows/wiki.yml
  .gitignore
  README.md
  docs/dev/Backend.md
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend, devops, documentation

docs: add coverage link to docs page sidebar
  .github/workflows/tests/pytest.yml
  .gitignore
  mkdocs.yml
Labels: devops, documentation

docs: add coverage link to docs page sidebar
  .github/workflows/tests/pytest.yml
  .gitignore
  mkdocs.yml
Labels: devops, documentation

hotfix: geom type not populated with feature type
  src/backend/app/projects/project_crud.py
Labels: backend

hotfix: geom type not populated with feature type
  src/backend/app/projects/project_crud.py
Labels: backend

ci: add simple smoke test to frontend deploy
  .github/workflows/build_and_deploy.yml
Labels: devops

ci: add simple smoke test to frontend deploy
  .github/workflows/build_and_deploy.yml
Labels: devops

feat: organisation approval and admin endpoints (#1126)
  src/backend/app/auth/roles.py
  src/backend/app/central/central_routes.py
  src/backend/app/db/db_models.py
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/organisations/organisation_deps.py
  src/backend/app/organisations/organisation_routes.py
  src/backend/app/projects/project_routes.py
  src/backend/app/submissions/submission_routes.py
  src/backend/app/tasks/tasks_routes.py
  src/backend/app/users/user_deps.py
  src/backend/app/users/user_routes.py
  src/backend/migrations/002-add-profile-img.sql
  src/backend/migrations/003-project-roles.sql
  src/backend/migrations/004-organisation-odk-creds.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/migrations/revert/002-add-profile-img.sql
  src/backend/migrations/revert/004-organisation-odk-creds.sql
  src/frontend/src/models/createproject/createProjectModel.ts
  src/frontend/src/models/organisation/organisationModel.ts
Labels: frontend, backend, migration

feat: organisation approval and admin endpoints (#1126)
  src/backend/app/auth/roles.py
  src/backend/app/central/central_routes.py
  src/backend/app/db/db_models.py
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/organisations/organisation_deps.py
  src/backend/app/organisations/organisation_routes.py
  src/backend/app/projects/project_routes.py
  src/backend/app/submissions/submission_routes.py
  src/backend/app/tasks/tasks_routes.py
  src/backend/app/users/user_deps.py
  src/backend/app/users/user_routes.py
  src/backend/migrations/002-add-profile-img.sql
  src/backend/migrations/003-project-roles.sql
  src/backend/migrations/004-organisation-odk-creds.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/migrations/revert/002-add-profile-img.sql
  src/backend/migrations/revert/004-organisation-odk-creds.sql
  src/frontend/src/models/createproject/createProjectModel.ts
  src/frontend/src/models/organisation/organisationModel.ts
Labels: frontend, backend, migration

ci: fix frontend smoke test with .env file
  .github/workflows/build_and_deploy.yml
Labels: devops

ci: fix frontend smoke test with .env file
  .github/workflows/build_and_deploy.yml
Labels: devops

refactor: update project dashboard to use deps functions (#1127)
  src/backend/app/organisations/organisation_deps.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
Labels: backend

refactor: update project dashboard to use deps functions (#1127)
  src/backend/app/organisations/organisation_deps.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
Labels: backend

feat: paginated submissions per task (#1128)
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
Labels: backend

feat: paginated submissions per task (#1128)
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
Labels: backend

fix: Depends usage for task_submissions endpoint
  src/backend/app/submissions/submission_routes.py
Labels: backend

fix: Depends usage for task_submissions endpoint
  src/backend/app/submissions/submission_routes.py
Labels: backend

build: replace project.private field with project.visibility enum (#1132)
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_ci_img.yml
  .github/workflows/build_odk_imgs.yml
  .github/workflows/build_proxy_imgs.yml
  .github/workflows/docs.yml
  .github/workflows/pr_test_backend.yml
  .github/workflows/pr_test_frontend.yml
  .github/workflows/tag_build.yml
  .github/workflows/tests/test_ci.sh
  .github/workflows/wiki.yml
  src/backend/app/db/db_models.py
  src/backend/app/models/enums.py
  src/backend/migrations/004-organisation-odk-creds.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/migrations/revert/004-organisation-odk-creds.sql
Labels: backend, devops, migration

build: replace project.private field with project.visibility enum (#1132)
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_ci_img.yml
  .github/workflows/build_odk_imgs.yml
  .github/workflows/build_proxy_imgs.yml
  .github/workflows/docs.yml
  .github/workflows/pr_test_backend.yml
  .github/workflows/pr_test_frontend.yml
  .github/workflows/tag_build.yml
  .github/workflows/tests/test_ci.sh
  .github/workflows/wiki.yml
  src/backend/app/db/db_models.py
  src/backend/app/models/enums.py
  src/backend/migrations/004-organisation-odk-creds.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/migrations/revert/004-organisation-odk-creds.sql
Labels: backend, devops, migration

ci: add sleep 5 for frontend smoke test dev startup
  .github/workflows/build_and_deploy.yml
Labels: devops

ci: add sleep 5 for frontend smoke test dev startup
  .github/workflows/build_and_deploy.yml
Labels: devops

ci: replace black with ruff-format
  .pre-commit-config.yaml
Labels: none

ci: replace black with ruff-format
  .pre-commit-config.yaml
Labels: none

build: update docker install script to handle root user
  scripts/setup/docker.sh
Labels: devops

build: update docker install script to handle root user
  scripts/setup/docker.sh
Labels: devops

docs: add info about using pyright for type checking
  docs/dev/Backend.md
Labels: documentation

docs: add info about using pyright for type checking
  docs/dev/Backend.md
Labels: documentation

ci: add tool.pyright config section to pyproject.toml
  src/backend/pyproject.toml
Labels: backend

ci: add tool.pyright config section to pyproject.toml
  src/backend/pyproject.toml
Labels: backend

.github/labeler.yml:

"frontend":
  - "src/frontend/**/*"
"backend":
  - "src/backend/**/*"
"devops":
  - ".github/**/*"
  - "nginx/**/*"
  - "scripts/**/*"
  - "docker-*.yml"
  - "**/Dockerfile"
  - "**/*.dockerfile"
  - "**/*entrypoint.sh"
  - "Justfile"
"migration":
  - "src/backend/migrations/**/*"
"documentation":
  - "docs/**/*"
  - "images/**/*"
  - "mkdocs.yml"
  - "README.md"
  - "INSTALL.md"
"ODK":
  - "odkcentral/**/*"
"contrib":
  - "contrib/**/*"
