Repository hotosm/field-tm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, devops, migration, documentation, ODK, contrib

.github/labeler.yml:

"frontend":
  - "src/frontend/**/*"
"backend":
  - "src/backend/**/*"
"devops":
  - ".github/**/*"
  - "nginx/**/*"
  - "scripts/**/*"
  - "docker-*.yml"
  - "**/Dockerfile"
  - "**/*.dockerfile"
  - "**/*entrypoint.sh"
  - "Justfile"
"migration":
  - "src/backend/migrations/**/*"
"documentation":
  - "docs/**/*"
  - "images/**/*"
  - "mkdocs.yml"
  - "README.md"
  - "INSTALL.md"
"ODK":
  - "odkcentral/**/*"
"contrib":
  - "contrib/**/*"

fix: use optional params for extra AuthUser items
  src/backend/app/auth/osm.py
Labels: backend

fix: use optional params for extra AuthUser items
  src/backend/app/auth/osm.py
Labels: backend

refactor: fix return type for organisation url validator
  src/backend/app/central/central_routes.py
  src/backend/app/organisations/organisation_schemas.py
Labels: backend

refactor: fix return type for organisation url validator
  src/backend/app/central/central_routes.py
  src/backend/app/organisations/organisation_schemas.py
Labels: backend

feat: added withcredential to include cookies on organization list api
  src/frontend/src/api/OrganisationService.ts
Labels: frontend

feat: added withcredential to include cookies on organization list api
  src/frontend/src/api/OrganisationService.ts
Labels: frontend

build: add deployment container replicas and resource constraints (#1139)
  INSTALL.md
  docker-compose.development.yml
  docker-compose.main.yml
  docker-compose.staging.yml
  docker-compose.yml
  docs/dev/Backend.md
  src/backend/Dockerfile
  src/backend/app/auth/osm.py
  src/backend/app/projects/project_routes.py
Labels: backend, devops, documentation

build: add deployment container replicas and resource constraints (#1139)
  INSTALL.md
  docker-compose.development.yml
  docker-compose.main.yml
  docker-compose.staging.yml
  docker-compose.yml
  docs/dev/Backend.md
  src/backend/Dockerfile
  src/backend/app/auth/osm.py
  src/backend/app/projects/project_routes.py
Labels: backend, devops, documentation

feat: endpoint to return count of validated and mapped tasks (#1138)
  src/backend/app/tasks/tasks_crud.py
  src/backend/app/tasks/tasks_routes.py
  src/backend/app/tasks/tasks_schemas.py
Labels: backend

feat: endpoint to return count of validated and mapped tasks (#1138)
  src/backend/app/tasks/tasks_crud.py
  src/backend/app/tasks/tasks_routes.py
  src/backend/app/tasks/tasks_schemas.py
Labels: backend

feat: add AOI editing to map during project creation (#1135)
  src/frontend/src/components/MapComponent/OpenLayersComponent/LayerSwitcher/index.js
  src/frontend/src/components/MapComponent/OpenLayersComponent/Layers/VectorLayer.js
  src/frontend/src/components/createnewproject/MapControlComponent.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/validation/DataExtractValidation.tsx
  src/frontend/src/hooks/Prompt.tsx
  src/frontend/src/shared/AssetModules.js
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/views/NewDefineAreaMap.tsx
Labels: frontend

feat: add AOI editing to map during project creation (#1135)
  src/frontend/src/components/MapComponent/OpenLayersComponent/LayerSwitcher/index.js
  src/frontend/src/components/MapComponent/OpenLayersComponent/Layers/VectorLayer.js
  src/frontend/src/components/createnewproject/MapControlComponent.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/validation/DataExtractValidation.tsx
  src/frontend/src/hooks/Prompt.tsx
  src/frontend/src/shared/AssetModules.js
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/views/NewDefineAreaMap.tsx
Labels: frontend

refactor: remove withCredentials from org endpoint (use interceptor)
  src/frontend/src/api/OrganisationService.ts
Labels: frontend

refactor: remove withCredentials from org endpoint (use interceptor)
  src/frontend/src/api/OrganisationService.ts
Labels: frontend

hotfix: retrieve id and username directly instead of using .get
  src/backend/app/auth/roles.py
Labels: backend

hotfix: retrieve id and username directly instead of using .get
  src/backend/app/auth/roles.py
Labels: backend

fix: all usage of AuthUser replace .get methods (#1142)
  src/backend/app/auth/auth_routes.py
  src/backend/app/auth/roles.py
  src/frontend/src/utilfunctions/login.ts
Labels: frontend, backend

fix: all usage of AuthUser replace .get methods (#1142)
  src/backend/app/auth/auth_routes.py
  src/backend/app/auth/roles.py
  src/frontend/src/utilfunctions/login.ts
Labels: frontend, backend

fix: login_required decorator return value converted to AuthUser
  src/backend/app/auth/osm.py
Labels: backend

fix: login_required decorator return value converted to AuthUser
  src/backend/app/auth/osm.py
Labels: backend

fix: API interceptor used in getOrganizationRequest
  src/frontend/src/api/OrganisationService.ts
  src/frontend/src/api/index.ts
Labels: frontend

fix: API interceptor used in getOrganizationRequest
  src/frontend/src/api/OrganisationService.ts
  src/frontend/src/api/index.ts
Labels: frontend

feat: dynamic qrcode generation via frontend (#1143)
  .env.example
  docker-compose.yml
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_schemas.py
  src/backend/app/config.py
  src/backend/app/db/db_models.py
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/organisations/organisation_schemas.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/submissions/submission_routes.py
  src/backend/app/tasks/tasks_crud.py
  src/backend/app/tasks/tasks_routes.py
  src/backend/app/tasks/tasks_schemas.py
  src/backend/migrations/005-remove-qrcode.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/migrations/qrcode_to_odktoken.py
  src/backend/migrations/revert/005-remove-qrcode.sql
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/src/api/Files.js
  src/frontend/src/api/Project.js
  src/frontend/src/components/QrcodeComponent.jsx
  src/frontend/src/components/createnewproject/SelectForm.tsx
Labels: frontend, backend, devops, migration

feat: dynamic qrcode generation via frontend (#1143)
  .env.example
  docker-compose.yml
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_schemas.py
  src/backend/app/config.py
  src/backend/app/db/db_models.py
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/organisations/organisation_schemas.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/submissions/submission_routes.py
  src/backend/app/tasks/tasks_crud.py
  src/backend/app/tasks/tasks_routes.py
  src/backend/app/tasks/tasks_schemas.py
  src/backend/migrations/005-remove-qrcode.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/migrations/qrcode_to_odktoken.py
  src/backend/migrations/revert/005-remove-qrcode.sql
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/src/api/Files.js
  src/frontend/src/api/Project.js
  src/frontend/src/components/QrcodeComponent.jsx
  src/frontend/src/components/createnewproject/SelectForm.tsx
Labels: frontend, backend, devops, migration

docs: update container names for db backup scripts
  docs/dev/Database-Tips.md
  docs/dev/Production.md
Labels: documentation

docs: update container names for db backup scripts
  docs/dev/Database-Tips.md
  docs/dev/Production.md
Labels: documentation

fix(frontend): do not render qrcode if odktoken is empty
  src/frontend/src/api/Files.js
  src/frontend/src/components/QrcodeComponent.jsx
Labels: frontend

fix(frontend): do not render qrcode if odktoken is empty
  src/frontend/src/api/Files.js
  src/frontend/src/components/QrcodeComponent.jsx
Labels: frontend

feat: project submissions page (#1150)
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/src/api/SubmissionService.ts
  src/frontend/src/components/ProjectSubmissions/InfographicsCard.tsx
  src/frontend/src/components/ProjectSubmissions/ProjectInfo.tsx
  src/frontend/src/components/ProjectSubmissions/ProjectSubmissionsSkeletonLoader.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsInfographics.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/ProjectSubmissions/TaskSubmissions.tsx
  src/frontend/src/components/ProjectSubmissions/TaskSubmissionsMap.tsx
  src/frontend/src/components/ProjectSubmissions/TaskSubmissionsMapLegend.tsx
  src/frontend/src/components/common/BarChart.tsx
  src/frontend/src/components/common/CustomTable.tsx
  src/frontend/src/components/common/LineChart.tsx
  src/frontend/src/components/common/PieChart.tsx
  src/frontend/src/components/common/Select.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/routes.jsx
  src/frontend/src/shared/AssetModules.js
  src/frontend/src/shared/CoreModules.js
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/slices/SubmissionSlice.ts
  src/frontend/src/store/types/ISubmissions.ts
  src/frontend/src/utilfunctions/downloadChart.ts
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/frontend/src/views/ProjectSubmissions.tsx
Labels: frontend

feat: project submissions page (#1150)
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/src/api/SubmissionService.ts
  src/frontend/src/components/ProjectSubmissions/InfographicsCard.tsx
  src/frontend/src/components/ProjectSubmissions/ProjectInfo.tsx
  src/frontend/src/components/ProjectSubmissions/ProjectSubmissionsSkeletonLoader.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsInfographics.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/ProjectSubmissions/TaskSubmissions.tsx
  src/frontend/src/components/ProjectSubmissions/TaskSubmissionsMap.tsx
  src/frontend/src/components/ProjectSubmissions/TaskSubmissionsMapLegend.tsx
  src/frontend/src/components/common/BarChart.tsx
  src/frontend/src/components/common/CustomTable.tsx
  src/frontend/src/components/common/LineChart.tsx
  src/frontend/src/components/common/PieChart.tsx
  src/frontend/src/components/common/Select.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/routes.jsx
  src/frontend/src/shared/AssetModules.js
  src/frontend/src/shared/CoreModules.js
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/slices/SubmissionSlice.ts
  src/frontend/src/store/types/ISubmissions.ts
  src/frontend/src/utilfunctions/downloadChart.ts
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/frontend/src/views/ProjectSubmissions.tsx
Labels: frontend

fix loadingBar: loading bar moved to & imported from createnewproject folder
  src/frontend/src/components/createnewproject/LoadingBar.tsx
  src/frontend/src/shared/CoreModules.js
Labels: frontend

fix loadingBar: loading bar moved to & imported from createnewproject folder
  src/frontend/src/components/createnewproject/LoadingBar.tsx
  src/frontend/src/shared/CoreModules.js
Labels: frontend

refactor createproject: old createProject folder deleted
  src/frontend/src/components/createproject/BasemapSelection.tsx
  src/frontend/src/components/createproject/DataExtract.tsx
  src/frontend/src/components/createproject/DefineTasks.tsx
  src/frontend/src/components/createproject/DrawSvg.tsx
  src/frontend/src/components/createproject/FormSelection.tsx
  src/frontend/src/components/createproject/LoadingBar.tsx
  src/frontend/src/components/createproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createproject/UploadArea.tsx
  src/frontend/src/components/createproject/validation/CreateProjectValidation.tsx
  src/frontend/src/components/createproject/validation/DataExtractValidation.tsx
  src/frontend/src/components/createproject/validation/DefineTaskValidation.tsx
  src/frontend/src/components/createproject/validation/SelectFormValidation.tsx
Labels: frontend

refactor createproject: old createProject folder deleted
  src/frontend/src/components/createproject/BasemapSelection.tsx
  src/frontend/src/components/createproject/DataExtract.tsx
  src/frontend/src/components/createproject/DefineTasks.tsx
  src/frontend/src/components/createproject/DrawSvg.tsx
  src/frontend/src/components/createproject/FormSelection.tsx
  src/frontend/src/components/createproject/LoadingBar.tsx
  src/frontend/src/components/createproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createproject/UploadArea.tsx
  src/frontend/src/components/createproject/validation/CreateProjectValidation.tsx
  src/frontend/src/components/createproject/validation/DataExtractValidation.tsx
  src/frontend/src/components/createproject/validation/DefineTaskValidation.tsx
  src/frontend/src/components/createproject/validation/SelectFormValidation.tsx
Labels: frontend

refactor routes: removed import & removed old commented createproject routes
  src/frontend/src/routes.jsx
Labels: frontend

refactor routes: removed import & removed old commented createproject routes
  src/frontend/src/routes.jsx
Labels: frontend

docs: add docs and task board badges to README
  README.md
  docs/images/docs_badge.svg
  docs/images/tasks_badge.svg
Labels: documentation

docs: add docs and task board badges to README
  README.md
  docs/images/docs_badge.svg
  docs/images/tasks_badge.svg
Labels: documentation

docs: update docs/task board badges to track development
  README.md
Labels: documentation

docs: update docs/task board badges to track development
  README.md
Labels: documentation
