Repository hotosm/field-tm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, devops, migration, documentation, ODK, contrib

.github/labeler.yml:

"frontend":
  - "src/frontend/**/*"
"backend":
  - "src/backend/**/*"
"devops":
  - ".github/**/*"
  - "nginx/**/*"
  - "scripts/**/*"
  - "docker-*.yml"
  - "**/Dockerfile"
  - "**/*.dockerfile"
  - "**/*entrypoint.sh"
  - "Justfile"
"migration":
  - "src/backend/migrations/**/*"
"documentation":
  - "docs/**/*"
  - "images/**/*"
  - "mkdocs.yml"
  - "README.md"
  - "INSTALL.md"
"ODK":
  - "odkcentral/**/*"
"contrib":
  - "contrib/**/*"

feat: add community_type for organisations, add unapproved org list endpoint (#1197)
  src/backend/app/auth/roles.py
  src/backend/app/db/db_models.py
  src/backend/app/models/enums.py
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/organisations/organisation_routes.py
  src/backend/app/organisations/organisation_schemas.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/migrations/001-project-split-type-fields.sql
  src/backend/migrations/009-add-community-type.sql
  src/backend/migrations/revert/009-add-community-type.sql
  src/backend/tests/conftest.py
  src/backend/tests/test_projects_routes.py
Labels: backend, migration

feat: add community_type for organisations, add unapproved org list endpoint (#1197)
  src/backend/app/auth/roles.py
  src/backend/app/db/db_models.py
  src/backend/app/models/enums.py
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/organisations/organisation_routes.py
  src/backend/app/organisations/organisation_schemas.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/migrations/001-project-split-type-fields.sql
  src/backend/migrations/009-add-community-type.sql
  src/backend/migrations/revert/009-add-community-type.sql
  src/backend/tests/conftest.py
  src/backend/tests/test_projects_routes.py
Labels: backend, migration

fix: org creation using Form params
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/organisations/organisation_routes.py
  src/backend/app/organisations/organisation_schemas.py
Labels: backend

fix: org creation using Form params
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/organisations/organisation_routes.py
  src/backend/app/organisations/organisation_schemas.py
Labels: backend

feat: endpoints for task comments (#1171)
  src/backend/app/db/db_models.py
  src/backend/app/db/postgis_utils.py
  src/backend/app/projects/project_crud.py
  src/backend/app/tasks/tasks_crud.py
  src/backend/app/tasks/tasks_routes.py
  src/backend/app/tasks/tasks_schemas.py
Labels: backend

feat: endpoints for task comments (#1171)
  src/backend/app/db/db_models.py
  src/backend/app/db/postgis_utils.py
  src/backend/app/projects/project_crud.py
  src/backend/app/tasks/tasks_crud.py
  src/backend/app/tasks/tasks_routes.py
  src/backend/app/tasks/tasks_schemas.py
Labels: backend

fix: update task status when mapping starts (#1208)
  src/backend/app/auth/roles.py
  src/backend/app/projects/project_deps.py
  src/backend/app/tasks/tasks_routes.py
  src/frontend/src/api/ProjectTaskStatus.js
  src/frontend/src/components/DialogTaskActions.jsx
Labels: frontend, backend

fix: update task status when mapping starts (#1208)
  src/backend/app/auth/roles.py
  src/backend/app/projects/project_deps.py
  src/backend/app/tasks/tasks_routes.py
  src/frontend/src/api/ProjectTaskStatus.js
  src/frontend/src/components/DialogTaskActions.jsx
Labels: frontend, backend

feat: init public beta org and svcfmtm user migration (#1206)
  docker-compose.yml
  src/backend/Dockerfile
  src/backend/app/config.py
  src/backend/app/db/db_models.py
  src/backend/app/main.py
  src/backend/app/organisations/organisation_crud.py
  src/backend/migrate-entrypoint.sh
  src/backend/migrations/003-project-roles.sql
  src/backend/migrations/init/fmtm_base_schema.sql
Labels: backend, devops, migration

feat: init public beta org and svcfmtm user migration (#1206)
  docker-compose.yml
  src/backend/Dockerfile
  src/backend/app/config.py
  src/backend/app/db/db_models.py
  src/backend/app/main.py
  src/backend/app/organisations/organisation_crud.py
  src/backend/migrate-entrypoint.sh
  src/backend/migrations/003-project-roles.sql
  src/backend/migrations/init/fmtm_base_schema.sql
Labels: backend, devops, migration

fix (manageProject) - formUpdate: remove formCategory dropdown for update
  src/frontend/src/components/ManageProject/EditTab/FormUpdateTab.tsx
  src/frontend/src/components/ManageProject/EditTab/index.tsx
Labels: frontend

fix (manageProject) - formUpdate: remove formCategory dropdown for update
  src/frontend/src/components/ManageProject/EditTab/FormUpdateTab.tsx
  src/frontend/src/components/ManageProject/EditTab/index.tsx
Labels: frontend

fix (projectSubmissions): taskList: search functionality add to task-list section
  src/frontend/src/components/ProjectSubmissions/TaskSubmissions.tsx
  src/frontend/src/models/submission/submissionModel.ts
Labels: frontend

fix (projectSubmissions): taskList: search functionality add to task-list section
  src/frontend/src/components/ProjectSubmissions/TaskSubmissions.tsx
  src/frontend/src/models/submission/submissionModel.ts
Labels: frontend

fix taskIdSearch: message display if searched taskId not present
  src/frontend/src/components/ProjectSubmissions/TaskSubmissions.tsx
Labels: frontend

fix taskIdSearch: message display if searched taskId not present
  src/frontend/src/components/ProjectSubmissions/TaskSubmissions.tsx
Labels: frontend

fix:added interceptor for cookie issue
  src/frontend/src/App.jsx
Labels: frontend

fix:added interceptor for cookie issue
  src/frontend/src/App.jsx
Labels: frontend

feat: filters on submission table (#1191)
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
Labels: backend

feat: filters on submission table (#1191)
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
Labels: backend

build: increase proxy_read_timeout for longer connection time
  nginx/templates/api.conf.template
  nginx/templates/dev/api.conf.template
Labels: devops

build: increase proxy_read_timeout for longer connection time
  nginx/templates/api.conf.template
  nginx/templates/dev/api.conf.template
Labels: devops

refactor: remove old edit-project code (#1210)
  src/frontend/src/components/ProjectDetails/ProjectOptions.tsx
  src/frontend/src/components/editproject/DeleteProject.tsx
  src/frontend/src/components/editproject/EditProjectDetails.tsx
  src/frontend/src/components/editproject/UpdateForm.tsx
  src/frontend/src/components/editproject/UpdateProjectArea.tsx
  src/frontend/src/components/editproject/validation/EditProjectDetailsValidation.ts
  src/frontend/src/routes.jsx
  src/frontend/src/views/EditProject.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

refactor: remove old edit-project code (#1210)
  src/frontend/src/components/ProjectDetails/ProjectOptions.tsx
  src/frontend/src/components/editproject/DeleteProject.tsx
  src/frontend/src/components/editproject/EditProjectDetails.tsx
  src/frontend/src/components/editproject/UpdateForm.tsx
  src/frontend/src/components/editproject/UpdateProjectArea.tsx
  src/frontend/src/components/editproject/validation/EditProjectDetailsValidation.ts
  src/frontend/src/routes.jsx
  src/frontend/src/views/EditProject.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

refactor (frontend): rename changeset to hashtags (#1211)
  src/frontend/src/components/ManageProject/EditTab/ProjectDescriptionTab.tsx
  src/frontend/src/components/ManageProject/EditTab/validation/EditProjectDetailsValidation.ts
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
Labels: frontend

refactor (frontend): rename changeset to hashtags (#1211)
  src/frontend/src/components/ManageProject/EditTab/ProjectDescriptionTab.tsx
  src/frontend/src/components/ManageProject/EditTab/validation/EditProjectDetailsValidation.ts
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
Labels: frontend

feat: api returning details of unapproved org (#1218)
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/organisations/organisation_routes.py
Labels: backend

feat: api returning details of unapproved org (#1218)
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/organisations/organisation_routes.py
Labels: backend

feat: improve submissions dynamic filtering (#1217)
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/src/api/SubmissionService.ts
  src/frontend/src/components/ProjectSubmissions/ProjectInfo.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsInfographics.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/common/CustomDatePicker.tsx
  src/frontend/src/components/common/InputTextField.tsx
  src/frontend/src/components/common/PieChart.tsx
  src/frontend/src/constants/projectSubmissionsConstants.ts
  src/frontend/src/index.css
  src/frontend/src/views/ProjectSubmissions.tsx
Labels: frontend

feat: improve submissions dynamic filtering (#1217)
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/src/api/SubmissionService.ts
  src/frontend/src/components/ProjectSubmissions/ProjectInfo.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsInfographics.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/common/CustomDatePicker.tsx
  src/frontend/src/components/common/InputTextField.tsx
  src/frontend/src/components/common/PieChart.tsx
  src/frontend/src/constants/projectSubmissionsConstants.ts
  src/frontend/src/index.css
  src/frontend/src/views/ProjectSubmissions.tsx
Labels: frontend

fix: data extract generation and task splitting with polylines (#1219)
  src/backend/app/projects/project_crud.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

fix: data extract generation and task splitting with polylines (#1219)
  src/backend/app/projects/project_crud.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

fix: first coordinate check when check_crs geojson
  src/backend/app/db/postgis_utils.py
Labels: backend

fix: first coordinate check when check_crs geojson
  src/backend/app/db/postgis_utils.py
Labels: backend

Updated osm-fieldwork version (#1222)
  src/backend/app/central/central_crud.py
  src/backend/app/submissions/submission_routes.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/backend/tests/test_projects_routes.py
Labels: backend

Updated osm-fieldwork version (#1222)
  src/backend/app/central/central_crud.py
  src/backend/app/submissions/submission_routes.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/backend/tests/test_projects_routes.py
Labels: backend

feat (frontend): approve organization api integration (#1215)
  src/frontend/src/api/OrganisationService.ts
  src/frontend/src/components/ApproveOrganization/OrganizationForm.tsx
  src/frontend/src/store/slices/organisationSlice.ts
  src/frontend/src/views/ManageProject.tsx
  src/frontend/src/views/Organisation.tsx
Labels: frontend

feat (frontend): approve organization api integration (#1215)
  src/frontend/src/api/OrganisationService.ts
  src/frontend/src/components/ApproveOrganization/OrganizationForm.tsx
  src/frontend/src/store/slices/organisationSlice.ts
  src/frontend/src/views/ManageProject.tsx
  src/frontend/src/views/Organisation.tsx
Labels: frontend

fix: update schema to edit only required fields (#1223)
  src/backend/app/projects/project_schemas.py
Labels: backend

fix: update schema to edit only required fields (#1223)
  src/backend/app/projects/project_schemas.py
Labels: backend
