Repository hotosm/field-tm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, devops, migration, documentation, ODK, contrib

.github/labeler.yml:

"frontend":
  - "src/frontend/**/*"
"backend":
  - "src/backend/**/*"
"devops":
  - ".github/**/*"
  - "nginx/**/*"
  - "scripts/**/*"
  - "docker-*.yml"
  - "**/Dockerfile"
  - "**/*.dockerfile"
  - "**/*entrypoint.sh"
  - "Justfile"
"migration":
  - "src/backend/migrations/**/*"
"documentation":
  - "docs/**/*"
  - "images/**/*"
  - "mkdocs.yml"
  - "README.md"
  - "INSTALL.md"
"ODK":
  - "odkcentral/**/*"
"contrib":
  - "contrib/**/*"

fix(backend): allow multipolygons to choose as task area (#1645)
  src/backend/app/db/postgis_utils.py
  src/backend/app/projects/project_routes.py
Labels: backend

fix(backend): allow multipolygons to choose as task area (#1645)
  src/backend/app/db/postgis_utils.py
  src/backend/app/projects/project_routes.py
Labels: backend

docs: add repobeats stats to readme by axiom
  README.md
Labels: documentation

docs: add repobeats stats to readme by axiom
  README.md
Labels: documentation

feat(backend): update split-by-square to avoid creating tasks with no features in it (#1642)
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/frontend/src/components/createnewproject/SplitTasks.tsx
Labels: frontend, backend

feat(backend): update split-by-square to avoid creating tasks with no features in it (#1642)
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/frontend/src/components/createnewproject/SplitTasks.tsx
Labels: frontend, backend

docs: link to docs.hotosm.org for dev practices
  docs/dev/Release-Cycle.md
  mkdocs.yml
Labels: documentation

docs: link to docs.hotosm.org for dev practices
  docs/dev/Release-Cycle.md
  mkdocs.yml
Labels: documentation

ci: swap to maintained prettier pre-commit hook
  .pre-commit-config.yaml
Labels: none

ci: swap to maintained prettier pre-commit hook
  .pre-commit-config.yaml
Labels: none

ci: add python code upgrade pre-commit hook
  .pre-commit-config.yaml
Labels: none

ci: add python code upgrade pre-commit hook
  .pre-commit-config.yaml
Labels: none

refactor: run pyupgrade pre-commit hook
  contrib/scripts/docs/reformat_md_links_as_ref.py
  src/backend/app/main.py
  src/backend/app/projects/project_crud.py
Labels: backend, contrib

refactor: run pyupgrade pre-commit hook
  contrib/scripts/docs/reformat_md_links_as_ref.py
  src/backend/app/main.py
  src/backend/app/projects/project_crud.py
Labels: backend, contrib

refactor: run latest pre-commit hooks
  README.md
  docs/user-roadmap.md
  src/frontend/src/components/ProjectDetailsV2/ActivitiesPanel.tsx
Labels: frontend, documentation

refactor: run latest pre-commit hooks
  README.md
  docs/user-roadmap.md
  src/frontend/src/components/ProjectDetailsV2/ActivitiesPanel.tsx
Labels: frontend, documentation

docs: update formatting for readme summary table
  README.md
Labels: documentation

docs: update formatting for readme summary table
  README.md
Labels: documentation

feat(backend): add helper route to convert multipolygon geojson --> polygons
  src/backend/app/helpers/helper_routes.py
Labels: backend

feat(backend): add helper route to convert multipolygon geojson --> polygons
  src/backend/app/helpers/helper_routes.py
Labels: backend

fix(backend): better handle invalid multipolygon geoms
  src/backend/app/db/postgis_utils.py
Labels: backend

fix(backend): better handle invalid multipolygon geoms
  src/backend/app/db/postgis_utils.py
Labels: backend

fix(backend): ProjectUserDict usage and standardise geojson parsing/usage throughout (#1659)
  src/backend/app/auth/auth_schemas.py
  src/backend/app/auth/roles.py
  src/backend/app/central/central_crud.py
  src/backend/app/db/postgis_utils.py
  src/backend/app/helpers/helper_routes.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
  src/backend/app/tasks/tasks_routes.py
  src/backend/app/tasks/tasks_schemas.py
  src/frontend/src/components/ProjectDetailsV2/ProjectOptions.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/ProjectSubmissions/UpdateReviewStatusModal.tsx
  src/frontend/src/views/SubmissionDetails.tsx
Labels: frontend, backend

fix(backend): ProjectUserDict usage and standardise geojson parsing/usage throughout (#1659)
  src/backend/app/auth/auth_schemas.py
  src/backend/app/auth/roles.py
  src/backend/app/central/central_crud.py
  src/backend/app/db/postgis_utils.py
  src/backend/app/helpers/helper_routes.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
  src/backend/app/tasks/tasks_routes.py
  src/backend/app/tasks/tasks_schemas.py
  src/frontend/src/components/ProjectDetailsV2/ProjectOptions.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/ProjectSubmissions/UpdateReviewStatusModal.tsx
  src/frontend/src/views/SubmissionDetails.tsx
Labels: frontend, backend

test(backend): add test for GET /organisation/ endpoint (#1658)
  src/backend/tests/test_organisation_routes.py
Labels: backend

test(backend): add test for GET /organisation/ endpoint (#1658)
  src/backend/tests/test_organisation_routes.py
Labels: backend

fix(backend): ensure log level name is used (not Level 10, etc)
  src/backend/app/main.py
Labels: backend

fix(backend): ensure log level name is used (not Level 10, etc)
  src/backend/app/main.py
Labels: backend

refactor(backend): simplify logic for EXTRA_CORS_ORIGINS validation
  src/backend/app/config.py
Labels: backend

refactor(backend): simplify logic for EXTRA_CORS_ORIGINS validation
  src/backend/app/config.py
Labels: backend

feat(frontend): add user to task popup (#1670)
  src/frontend/src/components/DialogTaskActions.tsx
  src/frontend/src/components/ProjectDetailsV2/TaskSelectionPopup.tsx
Labels: frontend

feat(frontend): add user to task popup (#1670)
  src/frontend/src/components/DialogTaskActions.tsx
  src/frontend/src/components/ProjectDetailsV2/TaskSelectionPopup.tsx
Labels: frontend

fix(manageProject): hide user tab until its api integration (#1669)
  src/frontend/src/views/ManageProject.tsx
Labels: frontend

fix(manageProject): hide user tab until its api integration (#1669)
  src/frontend/src/views/ManageProject.tsx
Labels: frontend

Create Load_tiles_on_ODK.md
  docs/manuals/Load_tiles_on_ODK.md
Labels: documentation

Create Load_tiles_on_ODK.md
  docs/manuals/Load_tiles_on_ODK.md
Labels: documentation

fix: increased expiry of access token to 1 day (#1672)
  src/backend/app/auth/auth_routes.py
  src/backend/app/auth/osm.py
Labels: backend

fix: increased expiry of access token to 1 day (#1672)
  src/backend/app/auth/auth_routes.py
  src/backend/app/auth/osm.py
Labels: backend

Fix submssions not loaded in the submission table (#1680)
  docs/manuals/Load_tiles_on_ODK.md
  src/backend/app/submissions/submission_routes.py
Labels: backend, documentation

Fix submssions not loaded in the submission table (#1680)
  docs/manuals/Load_tiles_on_ODK.md
  src/backend/app/submissions/submission_routes.py
Labels: backend, documentation
