Repository hotosm/field-tm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, devops, migration, documentation, ODK, contrib

.github/labeler.yml:

"frontend":
  - "src/frontend/**/*"
"backend":
  - "src/backend/**/*"
"devops":
  - ".github/**/*"
  - "nginx/**/*"
  - "scripts/**/*"
  - "docker-*.yml"
  - "**/Dockerfile"
  - "**/*.dockerfile"
  - "**/*entrypoint.sh"
  - "Justfile"
"migration":
  - "src/backend/migrations/**/*"
"documentation":
  - "docs/**/*"
  - "images/**/*"
  - "mkdocs.yml"
  - "README.md"
  - "INSTALL.md"
"ODK":
  - "odkcentral/**/*"
"contrib":
  - "contrib/**/*"

fix(frontend): correctly invoke matomo & sentry tracking in prod
  src/frontend/src/main.tsx
Labels: frontend

fix(frontend): correctly invoke matomo & sentry tracking in prod
  src/frontend/src/main.tsx
Labels: frontend

build: update WITH_MONITORING in dockerfile to MONITORING
  src/backend/Dockerfile
Labels: backend, devops

build: update WITH_MONITORING in dockerfile to MONITORING
  src/backend/Dockerfile
Labels: backend, devops

ci: update all gh-workflows --> v1.5.2
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_ci_img.yml
  .github/workflows/build_odk_imgs.yml
  .github/workflows/build_proxy_imgs.yml
  .github/workflows/docs.yml
  .github/workflows/pr_test_backend.yml
  .github/workflows/pr_test_frontend.yml
  .github/workflows/tag_build.yml
  .github/workflows/wiki.yml
Labels: devops

ci: update all gh-workflows --> v1.5.2
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_ci_img.yml
  .github/workflows/build_odk_imgs.yml
  .github/workflows/build_proxy_imgs.yml
  .github/workflows/docs.yml
  .github/workflows/pr_test_backend.yml
  .github/workflows/pr_test_frontend.yml
  .github/workflows/tag_build.yml
  .github/workflows/wiki.yml
Labels: devops

build(backend): install monitoring deps unless MONITORING is empty or not set
  src/backend/Dockerfile
Labels: backend, devops

build(backend): install monitoring deps unless MONITORING is empty or not set
  src/backend/Dockerfile
Labels: backend, devops

build: add matomo code directly to index.html
  src/frontend/index.html
  src/frontend/src/main.tsx
Labels: frontend

build: add matomo code directly to index.html
  src/frontend/index.html
  src/frontend/src/main.tsx
Labels: frontend

fix(backend): loading entity by intent using uuid xformid (#1538)
  src/backend/app/central/central_crud.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/api/Project.js
  src/frontend/src/components/DialogTaskActions.jsx
  src/frontend/src/components/ManageProject/EditTab/FormUpdateTab.tsx
  src/frontend/src/components/ProjectDetailsV2/FeatureSelectionPopup.tsx
  src/frontend/src/models/project/projectModel.ts
Labels: frontend, backend

fix(backend): loading entity by intent using uuid xformid (#1538)
  src/backend/app/central/central_crud.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/api/Project.js
  src/frontend/src/components/DialogTaskActions.jsx
  src/frontend/src/components/ManageProject/EditTab/FormUpdateTab.tsx
  src/frontend/src/components/ProjectDetailsV2/FeatureSelectionPopup.tsx
  src/frontend/src/models/project/projectModel.ts
Labels: frontend, backend

feat(frontend): upgrade React v17 --> v18 (#1542)
  docker-compose.yml
  docs/dev/Frontend.md
  src/frontend/debug.dockerfile
  src/frontend/index.html
  src/frontend/package.json
  src/frontend/playwright.config.ts
  src/frontend/pnpm-lock.yaml
  src/frontend/prod.dockerfile
  src/frontend/setupTests.ts
  src/frontend/src/components/GenerateBasemap.jsx
  src/frontend/src/components/MapComponent/OpenLayersComponent/Layers/VectorLayer.js
  src/frontend/src/components/MapComponent/OpenLayersComponent/MapContainer/index.jsx
  src/frontend/src/components/__test__/Button.test.jsx
  src/frontend/src/components/common/CustomTable.tsx
  src/frontend/src/main.tsx
  src/frontend/src/shared/CoreModules.js
  src/frontend/src/store/Store.ts
  src/frontend/src/types/modulesDecleration.d.ts
  src/frontend/src/utilfunctions/testUtils.jsx
  src/frontend/src/utilities/BasicTabs.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/frontend/tsconfig.json
Labels: frontend, devops, documentation

feat(frontend): upgrade React v17 --> v18 (#1542)
  docker-compose.yml
  docs/dev/Frontend.md
  src/frontend/debug.dockerfile
  src/frontend/index.html
  src/frontend/package.json
  src/frontend/playwright.config.ts
  src/frontend/pnpm-lock.yaml
  src/frontend/prod.dockerfile
  src/frontend/setupTests.ts
  src/frontend/src/components/GenerateBasemap.jsx
  src/frontend/src/components/MapComponent/OpenLayersComponent/Layers/VectorLayer.js
  src/frontend/src/components/MapComponent/OpenLayersComponent/MapContainer/index.jsx
  src/frontend/src/components/__test__/Button.test.jsx
  src/frontend/src/components/common/CustomTable.tsx
  src/frontend/src/main.tsx
  src/frontend/src/shared/CoreModules.js
  src/frontend/src/store/Store.ts
  src/frontend/src/types/modulesDecleration.d.ts
  src/frontend/src/utilfunctions/testUtils.jsx
  src/frontend/src/utilities/BasicTabs.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/frontend/tsconfig.json
Labels: frontend, devops, documentation

ci: use PRETTIER_LEGACY_CLI=1 for prettier due to breaking alpha updates
  .pre-commit-config.yaml
Labels: none

ci: use PRETTIER_LEGACY_CLI=1 for prettier due to breaking alpha updates
  .pre-commit-config.yaml
Labels: none

ci: update pre-commit hooks to latest (#1547)
  .pre-commit-config.yaml
  src/backend/app/auth/auth_routes.py
  src/backend/app/central/central_routes.py
  src/backend/app/db/db_models.py
  src/backend/app/users/user_crud.py
  src/backend/app/users/user_deps.py
  src/backend/pyproject.toml
Labels: backend

ci: update pre-commit hooks to latest (#1547)
  .pre-commit-config.yaml
  src/backend/app/auth/auth_routes.py
  src/backend/app/central/central_routes.py
  src/backend/app/db/db_models.py
  src/backend/app/users/user_crud.py
  src/backend/app/users/user_deps.py
  src/backend/pyproject.toml
Labels: backend

build: upgrade React v18 --> v19 (#1545)
  .github/workflows/pr_test_frontend.yml
  docker-compose.yml
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/components/ManageProject/UserTab/index.tsx
  src/frontend/src/components/MapComponent/OpenLayersComponent/LayerSwitcher/index.js
  src/frontend/src/components/MapComponent/OpenLayersComponent/Layers/VectorLayer.js
  src/frontend/src/components/MapComponent/OpenLayersComponent/MapContainer/index.jsx
  src/frontend/src/components/MapComponent/OpenLayersComponent/Popup/index.jsx
  src/frontend/src/components/ProjectDetailsV2/ProjectInfo.tsx
  src/frontend/src/components/common/Checkbox.tsx
  src/frontend/src/components/common/CustomTable.tsx
  src/frontend/src/components/common/Dropdown.tsx
  src/frontend/src/components/common/InputTextField.tsx
  src/frontend/src/components/common/Modal.tsx
  src/frontend/src/components/common/Select.tsx
  src/frontend/src/components/common/Switch.tsx
  src/frontend/src/main.tsx
  src/frontend/src/utilities/BasicDialog.tsx
  src/frontend/src/utilities/BasicTabs.tsx
  src/frontend/src/utilities/CustomDrawer.jsx
  src/frontend/src/utilities/CustomizedModal.tsx
  src/frontend/src/utilities/CustomizedSnackbar.jsx
  src/frontend/vite.config.ts
Labels: frontend, devops

build: upgrade React v18 --> v19 (#1545)
  .github/workflows/pr_test_frontend.yml
  docker-compose.yml
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/components/ManageProject/UserTab/index.tsx
  src/frontend/src/components/MapComponent/OpenLayersComponent/LayerSwitcher/index.js
  src/frontend/src/components/MapComponent/OpenLayersComponent/Layers/VectorLayer.js
  src/frontend/src/components/MapComponent/OpenLayersComponent/MapContainer/index.jsx
  src/frontend/src/components/MapComponent/OpenLayersComponent/Popup/index.jsx
  src/frontend/src/components/ProjectDetailsV2/ProjectInfo.tsx
  src/frontend/src/components/common/Checkbox.tsx
  src/frontend/src/components/common/CustomTable.tsx
  src/frontend/src/components/common/Dropdown.tsx
  src/frontend/src/components/common/InputTextField.tsx
  src/frontend/src/components/common/Modal.tsx
  src/frontend/src/components/common/Select.tsx
  src/frontend/src/components/common/Switch.tsx
  src/frontend/src/main.tsx
  src/frontend/src/utilities/BasicDialog.tsx
  src/frontend/src/utilities/BasicTabs.tsx
  src/frontend/src/utilities/CustomDrawer.jsx
  src/frontend/src/utilities/CustomizedModal.tsx
  src/frontend/src/utilities/CustomizedSnackbar.jsx
  src/frontend/vite.config.ts
Labels: frontend, devops

build: update ruff config in pyproject
  src/backend/pyproject.toml
Labels: backend

build: update ruff config in pyproject
  src/backend/pyproject.toml
Labels: backend

build: add build directives in compose for ARM64 arch workaround
  docker-compose.yml
Labels: devops

build: add build directives in compose for ARM64 arch workaround
  docker-compose.yml
Labels: devops

build: upgrade ODK Central --> 2024.1.0 + minio and nginx
  chart/values.yaml
  docker-compose.development.yml
  docker-compose.main.yml
  docker-compose.yml
  nginx/build_imgs.sh
  src/backend/Dockerfile
Labels: backend, devops

build: upgrade ODK Central --> 2024.1.0 + minio and nginx
  chart/values.yaml
  docker-compose.development.yml
  docker-compose.main.yml
  docker-compose.yml
  nginx/build_imgs.sh
  src/backend/Dockerfile
Labels: backend, devops

refactor: remove reference to 'topo' basemap imagery provider (usgs)
  src/backend/app/models/enums.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/frontend/src/environment.ts
Labels: frontend, backend

refactor: remove reference to 'topo' basemap imagery provider (usgs)
  src/backend/app/models/enums.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/frontend/src/environment.ts
Labels: frontend, backend

docs: update user roadmap after 2024.3.0 release
  docs/user-roadmap.md
Labels: documentation

docs: update user roadmap after 2024.3.0 release
  docs/user-roadmap.md
Labels: documentation

fix(frontend): add tile format to basemaps table, only show cache icon if pmtile
  src/backend/app/projects/project_crud.py
  src/frontend/src/components/GenerateBasemap.jsx
  src/frontend/src/store/types/IProject.ts
Labels: frontend, backend

fix(frontend): add tile format to basemaps table, only show cache icon if pmtile
  src/backend/app/projects/project_crud.py
  src/frontend/src/components/GenerateBasemap.jsx
  src/frontend/src/store/types/IProject.ts
Labels: frontend, backend

fix(frontend): do not display pmtiles generated for another project
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

fix(frontend): do not display pmtiles generated for another project
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

build: configurable S3_BACKUP_BUCKET_NAME, add var checks to migrate entrypoint
  .env.example
  src/backend/migrate-entrypoint.sh
Labels: backend, devops

build: configurable S3_BACKUP_BUCKET_NAME, add var checks to migrate entrypoint
  .env.example
  src/backend/migrate-entrypoint.sh
Labels: backend, devops

build: hardcode S3_ENDPOINT if missing during dev
  docker-compose.yml
Labels: devops

build: hardcode S3_ENDPOINT if missing during dev
  docker-compose.yml
Labels: devops

build: strip additional quotes from env vars in migrate endpoint
  src/backend/migrate-entrypoint.sh
Labels: backend, devops

build: strip additional quotes from env vars in migrate endpoint
  src/backend/migrate-entrypoint.sh
Labels: backend, devops
