Repository hotosm/field-tm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, devops, migration, documentation, ODK, contrib

fix: project creation draw and max boundary area (#1157)
  src/frontend/src/components/MapComponent/OpenLayersComponent/Layers/VectorLayer.js
  src/frontend/src/components/common/StepSwitcher.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
  src/frontend/src/views/NewDefineAreaMap.tsx
Labels: frontend

fix: project creation draw and max boundary area (#1157)
  src/frontend/src/components/MapComponent/OpenLayersComponent/Layers/VectorLayer.js
  src/frontend/src/components/common/StepSwitcher.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
  src/frontend/src/views/NewDefineAreaMap.tsx
Labels: frontend

refactor: add extra error handling if data extract download fails (#1158)
  src/backend/app/projects/project_crud.py
Labels: backend

refactor: add extra error handling if data extract download fails (#1158)
  src/backend/app/projects/project_crud.py
Labels: backend

fix: project submission date and time formatted (#1160)
  src/frontend/src/components/ProjectSubmissions/ProjectInfo.tsx
Labels: frontend

fix: project submission date and time formatted (#1160)
  src/frontend/src/components/ProjectSubmissions/ProjectInfo.tsx
Labels: frontend

fix button: other btnType UI change
  src/frontend/src/components/common/Button.tsx
Labels: frontend

fix button: other btnType UI change
  src/frontend/src/components/common/Button.tsx
Labels: frontend

fix useOutsideClick: useOutsideClick hook add
  src/frontend/src/hooks/useOutsideClick.ts
Labels: frontend

fix useOutsideClick: useOutsideClick hook add
  src/frontend/src/hooks/useOutsideClick.ts
Labels: frontend

feat projectDetails: buttons added including handleOutsideClick
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

feat projectDetails: buttons added including handleOutsideClick
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

feat projectOptions: options added for larger screens
  src/frontend/src/components/ProjectDetailsV2/ProjectOptions.tsx
Labels: frontend

feat projectOptions: options added for larger screens
  src/frontend/src/components/ProjectDetailsV2/ProjectOptions.tsx
Labels: frontend

fix projectDetails: redirect to projectSubmissions page on viewInfographics click
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

fix projectDetails: redirect to projectSubmissions page on viewInfographics click
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

fix: zlib compress dynamic QR codes from frontend (#1159)
  contrib/qrcode_util/Dockerfile
  contrib/qrcode_util/README.md
  contrib/qrcode_util/build.sh
  contrib/qrcode_util/qrcode_util.py
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/src/api/Files.js
Labels: frontend, devops, contrib

fix: zlib compress dynamic QR codes from frontend (#1159)
  contrib/qrcode_util/Dockerfile
  contrib/qrcode_util/README.md
  contrib/qrcode_util/build.sh
  contrib/qrcode_util/qrcode_util.py
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/src/api/Files.js
Labels: frontend, devops, contrib

fix(frontend): remove svcfmtm from loginSlice initialState
  src/frontend/src/store/slices/LoginSlice.ts
Labels: frontend

fix(frontend): remove svcfmtm from loginSlice initialState
  src/frontend/src/store/slices/LoginSlice.ts
Labels: frontend

fix(backend): append /v1/ to odk_token url for qrcodes
  src/backend/app/projects/project_crud.py
Labels: backend

fix(backend): append /v1/ to odk_token url for qrcodes
  src/backend/app/projects/project_crud.py
Labels: backend

fix: map default odk credentials to organisations (#1123)
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_routes.py
  src/backend/app/config.py
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/organisations/organisation_deps.py
  src/backend/app/organisations/organisation_routes.py
  src/backend/app/organisations/organisation_schemas.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/submissions/submission_crud.py
  src/backend/app/tasks/tasks_routes.py
  src/backend/app/tasks/tasks_schemas.py
  src/backend/tests/conftest.py
  src/backend/tests/test_projects_routes.py
  src/frontend/src/components/MapComponent/OpenLayersComponent/LayerSwitcher/index.js
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
  src/frontend/src/components/organisation/OrganisationAddForm.tsx
  src/frontend/src/components/organisation/Validation/OrganisationAddValidation.tsx
  src/frontend/src/constants/StepFormConstants.ts
  src/frontend/src/constants/blockerUrl.ts
  src/frontend/src/models/createproject/createProjectModel.ts
  src/frontend/src/models/organisation/organisationModel.ts
  src/frontend/src/routes.jsx
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/views/CreateNewProject.tsx
  src/frontend/src/views/CreateOrganisation.tsx
  src/frontend/src/views/CreateProject.tsx
Labels: frontend, backend

fix: map default odk credentials to organisations (#1123)
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_routes.py
  src/backend/app/config.py
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/organisations/organisation_deps.py
  src/backend/app/organisations/organisation_routes.py
  src/backend/app/organisations/organisation_schemas.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/submissions/submission_crud.py
  src/backend/app/tasks/tasks_routes.py
  src/backend/app/tasks/tasks_schemas.py
  src/backend/tests/conftest.py
  src/backend/tests/test_projects_routes.py
  src/frontend/src/components/MapComponent/OpenLayersComponent/LayerSwitcher/index.js
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
  src/frontend/src/components/organisation/OrganisationAddForm.tsx
  src/frontend/src/components/organisation/Validation/OrganisationAddValidation.tsx
  src/frontend/src/constants/StepFormConstants.ts
  src/frontend/src/constants/blockerUrl.ts
  src/frontend/src/models/createproject/createProjectModel.ts
  src/frontend/src/models/organisation/organisationModel.ts
  src/frontend/src/routes.jsx
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/views/CreateNewProject.tsx
  src/frontend/src/views/CreateOrganisation.tsx
  src/frontend/src/views/CreateProject.tsx
Labels: frontend, backend

feat: set project delete endpoint to org_admin only
  INSTALL.md
  src/backend/app/projects/project_routes.py
Labels: backend, documentation

feat: set project delete endpoint to org_admin only
  INSTALL.md
  src/backend/app/projects/project_routes.py
Labels: backend, documentation

feat(frontend): project deletion capability
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/components/MapDescriptionComponents.jsx
  src/frontend/src/components/editproject/DeleteProject.tsx
  src/frontend/src/constants/EditProjectSidebarContent.ts
  src/frontend/src/routes.jsx
  src/frontend/src/views/EditProject.tsx
Labels: frontend

feat(frontend): project deletion capability
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/components/MapDescriptionComponents.jsx
  src/frontend/src/components/editproject/DeleteProject.tsx
  src/frontend/src/constants/EditProjectSidebarContent.ts
  src/frontend/src/routes.jsx
  src/frontend/src/views/EditProject.tsx
Labels: frontend

fix: organisation logo display full width (#1166)
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/home/ExploreProjectCard.tsx
Labels: frontend

fix: organisation logo display full width (#1166)
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/home/ExploreProjectCard.tsx
Labels: frontend

fix: create popup outside of async request (fix ios login) (#1167)
  src/frontend/src/utilfunctions/login.ts
Labels: frontend

fix: create popup outside of async request (fix ios login) (#1167)
  src/frontend/src/utilfunctions/login.ts
Labels: frontend

fix: baselayer url changed with token
  src/frontend/src/components/MapComponent/OpenLayersComponent/LayerSwitcher/index.js
Labels: frontend

fix: baselayer url changed with token
  src/frontend/src/components/MapComponent/OpenLayersComponent/LayerSwitcher/index.js
Labels: frontend

feat: project admin role (#1133)
  src/backend/app/auth/auth_routes.py
  src/backend/app/auth/osm.py
  src/backend/app/auth/roles.py
  src/backend/app/db/db_models.py
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/organisations/organisation_routes.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/submissions/submission_routes.py
  src/backend/app/tasks/tasks_routes.py
  src/backend/migrations/006-index-roles.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/migrations/revert/006-index-roles.sql
  src/backend/tests/conftest.py
  src/backend/tests/test_projects_routes.py
  src/frontend/src/components/createnewproject/SplitTasks.tsx
Labels: frontend, backend, migration

feat: project admin role (#1133)
  src/backend/app/auth/auth_routes.py
  src/backend/app/auth/osm.py
  src/backend/app/auth/roles.py
  src/backend/app/db/db_models.py
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/organisations/organisation_routes.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/submissions/submission_routes.py
  src/backend/app/tasks/tasks_routes.py
  src/backend/migrations/006-index-roles.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/migrations/revert/006-index-roles.sql
  src/backend/tests/conftest.py
  src/backend/tests/test_projects_routes.py
  src/frontend/src/components/createnewproject/SplitTasks.tsx
Labels: frontend, backend, migration

fix: organisation routes role usage & approval
  src/backend/app/auth/roles.py
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/organisations/organisation_routes.py
Labels: backend

fix: organisation routes role usage & approval
  src/backend/app/auth/roles.py
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/organisations/organisation_routes.py
Labels: backend

fix: remove approved flag from organisations endpoint
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/organisations/organisation_routes.py
Labels: backend

fix: remove approved flag from organisations endpoint
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/organisations/organisation_routes.py
Labels: backend

.github/labeler.yml:

"frontend":
  - "src/frontend/**/*"
"backend":
  - "src/backend/**/*"
"devops":
  - ".github/**/*"
  - "nginx/**/*"
  - "scripts/**/*"
  - "docker-*.yml"
  - "**/Dockerfile"
  - "**/*.dockerfile"
  - "**/*entrypoint.sh"
  - "Justfile"
"migration":
  - "src/backend/migrations/**/*"
"documentation":
  - "docs/**/*"
  - "images/**/*"
  - "mkdocs.yml"
  - "README.md"
  - "INSTALL.md"
"ODK":
  - "odkcentral/**/*"
"contrib":
  - "contrib/**/*"
