Repository hotosm/field-tm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, devops, migration, documentation, ODK, contrib

.github/labeler.yml:

"frontend":
  - "src/frontend/**/*"
"backend":
  - "src/backend/**/*"
"devops":
  - ".github/**/*"
  - "nginx/**/*"
  - "scripts/**/*"
  - "docker-*.yml"
  - "**/Dockerfile"
  - "**/*.dockerfile"
  - "**/*entrypoint.sh"
  - "Justfile"
"migration":
  - "src/backend/migrations/**/*"
"documentation":
  - "docs/**/*"
  - "images/**/*"
  - "mkdocs.yml"
  - "README.md"
  - "INSTALL.md"
"ODK":
  - "odkcentral/**/*"
"contrib":
  - "contrib/**/*"

build: upgrade rclone --> v1 pin to avoid CVE-2024-24790
  odkcentral/ui/Dockerfile
  src/frontend/prod.dockerfile
Labels: frontend, devops, ODK

build: upgrade rclone --> v1 pin to avoid CVE-2024-24790
  odkcentral/ui/Dockerfile
  src/frontend/prod.dockerfile
Labels: frontend, devops, ODK

build: remove unnecessary tables and field from db schema (#1623)
  src/backend/app/auth/auth_routes.py
  src/backend/app/db/db_models.py
  src/backend/app/models/enums.py
  src/backend/app/projects/project_crud.py
  src/backend/migrations/004-update-default-values.sql
  src/backend/migrations/005-drop-unnecessary-tables.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/migrations/revert/004-update-default-values.sql
Labels: backend, migration

build: remove unnecessary tables and field from db schema (#1623)
  src/backend/app/auth/auth_routes.py
  src/backend/app/db/db_models.py
  src/backend/app/models/enums.py
  src/backend/app/projects/project_crud.py
  src/backend/migrations/004-update-default-values.sql
  src/backend/migrations/005-drop-unnecessary-tables.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/migrations/revert/004-update-default-values.sql
Labels: backend, migration

fix(backend): addded created date on the project response, set expiry of access token to 1 hour (#1633)
  src/backend/app/auth/osm.py
  src/backend/app/projects/project_schemas.py
Labels: backend

fix(backend): addded created date on the project response, set expiry of access token to 1 hour (#1633)
  src/backend/app/auth/osm.py
  src/backend/app/projects/project_schemas.py
Labels: backend

docs: add placeholder for axiom repo activity
  README.md
Labels: documentation

docs: add placeholder for axiom repo activity
  README.md
Labels: documentation

test: get the detailed task history for a project (#1626)
  src/backend/tests/conftest.py
  src/backend/tests/test_task_routes.py
Labels: backend

test: get the detailed task history for a project (#1626)
  src/backend/tests/conftest.py
  src/backend/tests/test_task_routes.py
Labels: backend

build(backend): add async-lru dep, remove cpuinfo dep
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

build(backend): add async-lru dep, remove cpuinfo dep
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

fix: replace lru_cache with async for getting odk creds
  src/backend/app/projects/project_deps.py
Labels: backend

fix: replace lru_cache with async for getting odk creds
  src/backend/app/projects/project_deps.py
Labels: backend

fix: prevent project generation if api failure (#1627)
  .github/workflows/pr_test_frontend.yml
  docker-compose.yml
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/utilfunctions/commonUtils.ts
Labels: frontend, devops

fix: prevent project generation if api failure (#1627)
  .github/workflows/pr_test_frontend.yml
  docker-compose.yml
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/utilfunctions/commonUtils.ts
Labels: frontend, devops

docs: update user roadmap to use user-story format
  docs/user-roadmap.md
Labels: documentation

docs: update user roadmap to use user-story format
  docs/user-roadmap.md
Labels: documentation

docs: link to global hot docs for dev practices
  CONTRIBUTING.md
Labels: none

docs: link to global hot docs for dev practices
  CONTRIBUTING.md
Labels: none

docs: update link for custom odkcollect download --> v2024.2.0
  src/frontend/src/utilities/CustomDrawer.tsx
Labels: frontend

docs: update link for custom odkcollect download --> v2024.2.0
  src/frontend/src/utilities/CustomDrawer.tsx
Labels: frontend

docs: add workflow diagrams page to docs
  docs/manuals/workflow-diagrams.md
  mkdocs.yml
Labels: documentation

docs: add workflow diagrams page to docs
  docs/manuals/workflow-diagrams.md
  mkdocs.yml
Labels: documentation

refactor(frontend): simplify infographics API usage (reuse Entities data) (#1601)
  src/frontend/src/api/Project.js
  src/frontend/src/api/SubmissionService.ts
  src/frontend/src/components/ProjectSubmissions/ProjectInfo.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsInfographics.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/common/LineChart.tsx
  src/frontend/src/models/project/projectModel.ts
  src/frontend/src/models/submission/submissionModel.ts
  src/frontend/src/store/slices/SubmissionSlice.ts
  src/frontend/src/store/slices/TaskSlice.ts
  src/frontend/src/store/types/ISubmissions.ts
  src/frontend/src/utilfunctions/commonUtils.ts
  src/frontend/src/views/ProjectSubmissions.tsx
Labels: frontend

refactor(frontend): simplify infographics API usage (reuse Entities data) (#1601)
  src/frontend/src/api/Project.js
  src/frontend/src/api/SubmissionService.ts
  src/frontend/src/components/ProjectSubmissions/ProjectInfo.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsInfographics.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/common/LineChart.tsx
  src/frontend/src/models/project/projectModel.ts
  src/frontend/src/models/submission/submissionModel.ts
  src/frontend/src/store/slices/SubmissionSlice.ts
  src/frontend/src/store/slices/TaskSlice.ts
  src/frontend/src/store/types/ISubmissions.ts
  src/frontend/src/utilfunctions/commonUtils.ts
  src/frontend/src/views/ProjectSubmissions.tsx
Labels: frontend

fix(frontend): avoid map legend overlay on small screens (dynamic size) (#1637)
  src/frontend/src/components/MapLegends.tsx
  src/frontend/src/components/common/Accordion.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

fix(frontend): avoid map legend overlay on small screens (dynamic size) (#1637)
  src/frontend/src/components/MapLegends.tsx
  src/frontend/src/components/common/Accordion.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

fix(frontend): display submission point feature if feature not in extract (#1638)
  src/frontend/src/components/SubmissionMap/SubmissionInstanceMap.tsx
  src/frontend/src/views/SubmissionDetails.tsx
Labels: frontend

fix(frontend): display submission point feature if feature not in extract (#1638)
  src/frontend/src/components/SubmissionMap/SubmissionInstanceMap.tsx
  src/frontend/src/views/SubmissionDetails.tsx
Labels: frontend

test(backend): coverage for projects mapping endpoints (#1624)
  src/backend/tests/conftest.py
  src/backend/tests/test_projects_routes.py
Labels: backend

test(backend): coverage for projects mapping endpoints (#1624)
  src/backend/tests/conftest.py
  src/backend/tests/test_projects_routes.py
Labels: backend

fix(selectForm): update select category description (#1644)
  src/frontend/src/components/createnewproject/SelectForm.tsx
Labels: frontend

fix(selectForm): update select category description (#1644)
  src/frontend/src/components/createnewproject/SelectForm.tsx
Labels: frontend

fix(createNewProject): save current form step state on previous btn click (#1643)
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
Labels: frontend

fix(createNewProject): save current form step state on previous btn click (#1643)
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
Labels: frontend

feat(backend): endpoint to conflate the submission with osm data (#1594)
  src/backend/app/auth/roles.py
  src/backend/app/central/central_crud.py
  src/backend/app/db/postgis_utils.py
  src/backend/app/helpers/helper_routes.py
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
  src/backend/app/tasks/task_deps.py
Labels: backend

feat(backend): endpoint to conflate the submission with osm data (#1594)
  src/backend/app/auth/roles.py
  src/backend/app/central/central_crud.py
  src/backend/app/db/postgis_utils.py
  src/backend/app/helpers/helper_routes.py
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
  src/backend/app/tasks/task_deps.py
Labels: backend

fix(backend): add hashtag to #domain-project_id during proj create
  src/backend/app/projects/project_crud.py
Labels: backend

fix(backend): add hashtag to #domain-project_id during proj create
  src/backend/app/projects/project_crud.py
Labels: backend
