Repository hotosm/field-tm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, devops, migration, docs, ODK, contrib, tests

.github/labeler.yml:

bug:
  # Branch starts with `fix` or has a `fix` in the name
  - head-branch: ["^fix", "fix"]
enhancement:
  - head-branch:
      ["^feature", "feature", "^feat", "feat", "^refactor", "refactor"]
frontend:
  - changed-files:
      - any-glob-to-any-file: src/frontend/**
backend:
  - changed-files:
      - any-glob-to-any-file: src/backend/**
devops:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**
          - nginx/**
          - scripts/**
          - docker-*.yml
          - ./**/Dockerfile
          - ./**/.dockerfile
          - ./**/*entrypoint.sh
          - ./**/Justfile
migration:
  - changed-files:
      - any-glob-to-any-file: src/backend/migrations/**
docs:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**
          - images/**
          - mkdocs.yml
          - README.md
          - INSTALL.md
ODK:
  - changed-files:
      - any-glob-to-any-file: odkcentral/**
contrib:
  - changed-files:
      - any-glob-to-any-file: contrib/**
tests:
  - changed-files:
      - any-glob-to-any-file:
          - src/backend/tests/**
          - src/frontend/tests/**
          - src/frontend/e2e/**

docs: better subdivide alternative applications to fmtm in faq
  docs/about/faq.md
Labels: docs

docs: better subdivide alternative applications to fmtm in faq
  docs/about/faq.md
Labels: docs

docs: flesh out faq info about commcare
  docs/about/faq.md
Labels: docs

docs: flesh out faq info about commcare
  docs/about/faq.md
Labels: docs

docs: further info about commcare as a competitor
  docs/about/faq.md
Labels: docs

docs: further info about commcare as a competitor
  docs/about/faq.md
Labels: docs

build(frontend): replace pwa in manager frontend with dummy service worker (#1874)
  src/frontend/vite.config.ts
Labels: frontend

build(frontend): replace pwa in manager frontend with dummy service worker (#1874)
  src/frontend/vite.config.ts
Labels: frontend

docs: faq put note in admonition formatting
  docs/about/faq.md
Labels: docs

docs: faq put note in admonition formatting
  docs/about/faq.md
Labels: docs

build: upgrade ODK Central to 2024.2.0 and use official images (#1876)
  docker-compose.development.yml
  docker-compose.yml
  docs/about/faq.md
  odkcentral/api/Dockerfile
  odkcentral/enketo/Dockerfile
  odkcentral/ui/Dockerfile
Labels: devops, docs, ODK

build: upgrade ODK Central to 2024.2.0 and use official images (#1876)
  docker-compose.development.yml
  docker-compose.yml
  docs/about/faq.md
  odkcentral/api/Dockerfile
  odkcentral/enketo/Dockerfile
  odkcentral/ui/Dockerfile
Labels: devops, docs, ODK

ci: update all gh workflows --> 2.0.7 for CVE skip option
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_ci_img.yml
  .github/workflows/build_odk_imgs.yml
  .github/workflows/build_proxy_imgs.yml
  .github/workflows/docs.yml
  .github/workflows/pr_test_backend.yml
  .github/workflows/pr_test_frontend.yml
  .github/workflows/tag_build.yml
  .github/workflows/wiki.yml
Labels: devops

ci: update all gh workflows --> 2.0.7 for CVE skip option
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_ci_img.yml
  .github/workflows/build_odk_imgs.yml
  .github/workflows/build_proxy_imgs.yml
  .github/workflows/docs.yml
  .github/workflows/pr_test_backend.yml
  .github/workflows/pr_test_frontend.yml
  .github/workflows/tag_build.yml
  .github/workflows/wiki.yml
Labels: devops

ci: override CVE scan blocking ADD directive on central ui build
  .github/workflows/build_odk_imgs.yml
Labels: devops

ci: override CVE scan blocking ADD directive on central ui build
  .github/workflows/build_odk_imgs.yml
Labels: devops

fix(mapper): task comment events for mapper frontend (#1871)
  src/frontend/src/components/ProjectDetailsV2/ActivitiesPanel.tsx
  src/mapper/src/lib/components/dialog-task-actions.svelte
  src/mapper/src/lib/components/editor/editor.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/lib/components/more/activities.svelte
  src/mapper/src/lib/components/more/comment.svelte
  src/mapper/src/lib/components/more/index.svelte
  src/mapper/src/lib/db/events.ts
  src/mapper/src/lib/types.ts
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/src/store/tasks.svelte.ts
Labels: frontend

fix(mapper): task comment events for mapper frontend (#1871)
  src/frontend/src/components/ProjectDetailsV2/ActivitiesPanel.tsx
  src/mapper/src/lib/components/dialog-task-actions.svelte
  src/mapper/src/lib/components/editor/editor.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/lib/components/more/activities.svelte
  src/mapper/src/lib/components/more/comment.svelte
  src/mapper/src/lib/components/more/index.svelte
  src/mapper/src/lib/db/events.ts
  src/mapper/src/lib/types.ts
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/src/store/tasks.svelte.ts
Labels: frontend

ci: update all workflows --> 2.0.8 for VITE_SYNC_URL param
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_ci_img.yml
  .github/workflows/build_odk_imgs.yml
  .github/workflows/build_proxy_imgs.yml
  .github/workflows/docs.yml
  .github/workflows/pr_test_backend.yml
  .github/workflows/pr_test_frontend.yml
  .github/workflows/tag_build.yml
  .github/workflows/wiki.yml
Labels: devops

ci: update all workflows --> 2.0.8 for VITE_SYNC_URL param
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_ci_img.yml
  .github/workflows/build_odk_imgs.yml
  .github/workflows/build_proxy_imgs.yml
  .github/workflows/docs.yml
  .github/workflows/pr_test_backend.yml
  .github/workflows/pr_test_frontend.yml
  .github/workflows/tag_build.yml
  .github/workflows/wiki.yml
Labels: devops

build: add config for running electric behind proxy in production
  docker-compose.development.yml
  docker-compose.main.yml
  docker-compose.yml
  docs/dev/Production.md
  nginx/Dockerfile
  nginx/container-entrypoint.sh
  nginx/templates/cert-init/sync.conf.template
  nginx/templates/dev/sync.conf.template
  nginx/templates/sync.conf.template
  src/Dockerfile.ui.prod
  src/mapper/src/store/entities.svelte.ts
  src/mapper/src/store/tasks.svelte.ts
Labels: devops, docs

build: add config for running electric behind proxy in production
  docker-compose.development.yml
  docker-compose.main.yml
  docker-compose.yml
  docs/dev/Production.md
  nginx/Dockerfile
  nginx/container-entrypoint.sh
  nginx/templates/cert-init/sync.conf.template
  nginx/templates/dev/sync.conf.template
  nginx/templates/sync.conf.template
  src/Dockerfile.ui.prod
  src/mapper/src/store/entities.svelte.ts
  src/mapper/src/store/tasks.svelte.ts
Labels: devops, docs

build: remove dup reuseport from sync nginx config
  nginx/templates/sync.conf.template
Labels: devops

build: remove dup reuseport from sync nginx config
  nginx/templates/sync.conf.template
Labels: devops

build: ensure fmtm db wal_level=logical for electric to work
  docker-compose.development.yml
  docker-compose.main.yml
Labels: devops

build: ensure fmtm db wal_level=logical for electric to work
  docker-compose.development.yml
  docker-compose.main.yml
Labels: devops

build: also add FMTM_SYNC_DOMAIN for cert init service
  docker-compose.development.yml
  docker-compose.main.yml
Labels: devops

build: also add FMTM_SYNC_DOMAIN for cert init service
  docker-compose.development.yml
  docker-compose.main.yml
Labels: devops

build: add --cert-name param to certbot to allow addition or deletion
  nginx/container-entrypoint.sh
Labels: devops

build: add --cert-name param to certbot to allow addition or deletion
  nginx/container-entrypoint.sh
Labels: devops

build: update electric sync service and typescript client
  docker-compose.development.yml
  docker-compose.main.yml
  docker-compose.yml
  nginx/templates/odk.conf.template
  nginx/templates/sync.conf.template
  src/mapper/package.json
  src/mapper/pnpm-lock.yaml
  src/mapper/src/store/entities.svelte.ts
  src/mapper/src/store/tasks.svelte.ts
Labels: devops

build: update electric sync service and typescript client
  docker-compose.development.yml
  docker-compose.main.yml
  docker-compose.yml
  nginx/templates/odk.conf.template
  nginx/templates/sync.conf.template
  src/mapper/package.json
  src/mapper/pnpm-lock.yaml
  src/mapper/src/store/entities.svelte.ts
  src/mapper/src/store/tasks.svelte.ts
Labels: devops

fix(backend): cors origin list building when DEBUG not set on localhost
  src/backend/app/config.py
Labels: backend

fix(backend): cors origin list building when DEBUG not set on localhost
  src/backend/app/config.py
Labels: backend

fix(mapper): loading of electric shapestreams, api call ordering
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/src/routes/[projectId]/+page.ts
  src/mapper/src/store/entities.svelte.ts
  src/mapper/src/store/tasks.svelte.ts
Labels: none

fix(mapper): loading of electric shapestreams, api call ordering
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/src/routes/[projectId]/+page.ts
  src/mapper/src/store/entities.svelte.ts
  src/mapper/src/store/tasks.svelte.ts
Labels: none

fix(mapper): disable mobile browsers to pull-to-refresh functionality (#1878)
  src/mapper/src/app.html
  src/mapper/src/routes/+layout.svelte
Labels: none

fix(mapper): disable mobile browsers to pull-to-refresh functionality (#1878)
  src/mapper/src/app.html
  src/mapper/src/routes/+layout.svelte
Labels: none

fix(backend): update project xlsform SQL after backend refactor (#1872)
  src/backend/app/projects/project_routes.py
  src/frontend/src/api/CreateProjectService.ts
Labels: frontend, backend

fix(backend): update project xlsform SQL after backend refactor (#1872)
  src/backend/app/projects/project_routes.py
  src/frontend/src/api/CreateProjectService.ts
Labels: frontend, backend
