Repository hotosm/field-tm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, devops, migration, documentation, ODK, contrib

.github/labeler.yml:

"frontend":
  - "src/frontend/**/*"
"backend":
  - "src/backend/**/*"
"devops":
  - ".github/**/*"
  - "nginx/**/*"
  - "scripts/**/*"
  - "docker-*.yml"
  - "**/Dockerfile"
  - "**/*.dockerfile"
  - "**/*entrypoint.sh"
  - "Justfile"
"migration":
  - "src/backend/migrations/**/*"
"documentation":
  - "docs/**/*"
  - "images/**/*"
  - "mkdocs.yml"
  - "README.md"
  - "INSTALL.md"
"ODK":
  - "odkcentral/**/*"
"contrib":
  - "contrib/**/*"

fix: logic to bypass project_admin if public beta
  src/backend/app/auth/roles.py
  src/backend/app/projects/project_routes.py
Labels: backend

fix: logic to bypass project_admin if public beta
  src/backend/app/auth/roles.py
  src/backend/app/projects/project_routes.py
Labels: backend

fix: geojson task splitting props in odk collect format
  src/backend/app/db/postgis_utils.py
Labels: backend

fix: geojson task splitting props in odk collect format
  src/backend/app/db/postgis_utils.py
Labels: backend

fix: update logic getting default org odk creds
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_deps.py
  src/backend/app/projects/project_routes.py
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
  src/backend/app/tasks/tasks_routes.py
Labels: backend

fix: update logic getting default org odk creds
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_deps.py
  src/backend/app/projects/project_routes.py
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
  src/backend/app/tasks/tasks_routes.py
Labels: backend

fix: put feature id on top level of task geojson for odk collect
  src/backend/app/db/postgis_utils.py
Labels: backend

fix: put feature id on top level of task geojson for odk collect
  src/backend/app/db/postgis_utils.py
Labels: backend

fix: extra logs when extracting odk creds from proj/org
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_deps.py
Labels: backend

fix: extra logs when extracting odk creds from proj/org
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_deps.py
Labels: backend

fix: update odk_central_url validation to prevent blank string
  src/backend/app/projects/project_schemas.py
Labels: backend

fix: update odk_central_url validation to prevent blank string
  src/backend/app/projects/project_schemas.py
Labels: backend

fix: wrap raw sql expressions in SQLAlchemy.text
  src/backend/app/db/postgis_utils.py
  src/backend/app/projects/project_deps.py
Labels: backend

fix: wrap raw sql expressions in SQLAlchemy.text
  src/backend/app/db/postgis_utils.py
  src/backend/app/projects/project_deps.py
Labels: backend

fix: fix passing project id for odk creds proj deletion
  src/backend/app/projects/project_routes.py
Labels: backend

fix: fix passing project id for odk creds proj deletion
  src/backend/app/projects/project_routes.py
Labels: backend

fix: double wrapped db.execute statement in text()
  src/backend/app/db/postgis_utils.py
Labels: backend

fix: double wrapped db.execute statement in text()
  src/backend/app/db/postgis_utils.py
Labels: backend

fix(frontend): update qrcode form_update_mode --> match_exactly for sync
  src/frontend/src/api/Files.js
Labels: frontend

fix(frontend): update qrcode form_update_mode --> match_exactly for sync
  src/frontend/src/api/Files.js
Labels: frontend

build: update max size for odk collect uploads on proxy
  nginx/templates/dev/odk.conf.template
  nginx/templates/odk.conf.template
Labels: devops

build: update max size for odk collect uploads on proxy
  nginx/templates/dev/odk.conf.template
  nginx/templates/odk.conf.template
Labels: devops

build: add correct DOMAIN var for odk central dev/stage
  docker-compose.development.yml
  docker-compose.yml
Labels: devops

build: add correct DOMAIN var for odk central dev/stage
  docker-compose.development.yml
  docker-compose.yml
Labels: devops

build: set odk central DOMAIN for local dev setup
  docker-compose.yml
Labels: devops

build: set odk central DOMAIN for local dev setup
  docker-compose.yml
Labels: devops

fix: create odk projects with prepended 'FMTM xxx' to identify
  src/backend/app/central/central_crud.py
Labels: backend

fix: create odk projects with prepended 'FMTM xxx' to identify
  src/backend/app/central/central_crud.py
Labels: backend

fix: top level id in geojson Feature as osm_id
  src/backend/app/db/postgis_utils.py
Labels: backend

fix: top level id in geojson Feature as osm_id
  src/backend/app/db/postgis_utils.py
Labels: backend

fix: cast osm_id as string for geojson id
  src/backend/app/db/postgis_utils.py
Labels: backend

fix: cast osm_id as string for geojson id
  src/backend/app/db/postgis_utils.py
Labels: backend

test: fix test expecting odk project without FMTM prepend
  src/backend/tests/test_projects_routes.py
Labels: backend

test: fix test expecting odk project without FMTM prepend
  src/backend/tests/test_projects_routes.py
Labels: backend

feat: add helper route to convert fgb --> geojson
  src/backend/app/projects/project_routes.py
Labels: backend

feat: add helper route to convert fgb --> geojson
  src/backend/app/projects/project_routes.py
Labels: backend

refactor: correctly set project.project_name_prefix on creation
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/tests/test_projects_routes.py
Labels: backend

refactor: correctly set project.project_name_prefix on creation
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/tests/test_projects_routes.py
Labels: backend

build: update osm-fieldwork --> v0.4.3
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

build: update osm-fieldwork --> v0.4.3
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend
