Repository hotosm/field-tm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, devops, migration, documentation, ODK, contrib

feat: add basic user role support to backend (#1094)
  docs/About.md
  src/backend/Dockerfile
  src/backend/app/auth/auth_routes.py
  src/backend/app/auth/osm.py
  src/backend/app/auth/roles.py
  src/backend/app/db/db_models.py
  src/backend/app/models/enums.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_deps.py
  src/backend/app/tasks/tasks_crud.py
  src/backend/migrations/003-project-roles.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/migrations/revert/003-project-roles.sql
  src/frontend/src/components/createproject/ProjectDetailsForm.tsx
Labels: frontend, backend, devops, migration, documentation

feat: add basic user role support to backend (#1094)
  docs/About.md
  src/backend/Dockerfile
  src/backend/app/auth/auth_routes.py
  src/backend/app/auth/osm.py
  src/backend/app/auth/roles.py
  src/backend/app/db/db_models.py
  src/backend/app/models/enums.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_deps.py
  src/backend/app/tasks/tasks_crud.py
  src/backend/migrations/003-project-roles.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/migrations/revert/003-project-roles.sql
  src/frontend/src/components/createproject/ProjectDetailsForm.tsx
Labels: frontend, backend, devops, migration, documentation

fix: editable vector layer in ol for project creation (#1102)
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/components/MapComponent/OpenLayersComponent/Layers/VectorLayer.js
  src/frontend/src/components/common/Button.tsx
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/views/CreateNewProject.tsx
  src/frontend/src/views/NewDefineAreaMap.tsx
Labels: frontend

fix: editable vector layer in ol for project creation (#1102)
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/components/MapComponent/OpenLayersComponent/Layers/VectorLayer.js
  src/frontend/src/components/common/Button.tsx
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/views/CreateNewProject.tsx
  src/frontend/src/views/NewDefineAreaMap.tsx
Labels: frontend

fix: limit project area during create (#1109)
  src/frontend/src/components/createnewproject/UploadArea.tsx
  src/frontend/src/store/slices/CreateProjectSlice.ts
Labels: frontend

fix: limit project area during create (#1109)
  src/frontend/src/components/createnewproject/UploadArea.tsx
  src/frontend/src/store/slices/CreateProjectSlice.ts
Labels: frontend

fix: use organization_manager table for org admins
  src/backend/app/auth/roles.py
  src/backend/app/models/enums.py
  src/backend/migrations/003-project-roles.sql
  src/backend/migrations/init/fmtm_base_schema.sql
Labels: backend, migration

fix: use organization_manager table for org admins
  src/backend/app/auth/roles.py
  src/backend/app/models/enums.py
  src/backend/migrations/003-project-roles.sql
  src/backend/migrations/init/fmtm_base_schema.sql
Labels: backend, migration

fix (newProjectDetails): searchInput - width increased (#1111)
  src/frontend/src/components/ProjectDetailsV2/ActivitiesPanel.tsx
Labels: frontend

fix (newProjectDetails): searchInput - width increased (#1111)
  src/frontend/src/components/ProjectDetailsV2/ActivitiesPanel.tsx
Labels: frontend

fix (frontend): projection validity check using coordinates of extent (#1112)
  src/frontend/src/components/createnewproject/UploadArea.tsx
  src/frontend/src/utilfunctions/checkWGS84Projection.js
Labels: frontend

fix (frontend): projection validity check using coordinates of extent (#1112)
  src/frontend/src/components/createnewproject/UploadArea.tsx
  src/frontend/src/utilfunctions/checkWGS84Projection.js
Labels: frontend

docs: link to docs.hotosm.org for versioning info
  docs/dev/Version-Control.md
  mkdocs.yml
Labels: documentation

docs: link to docs.hotosm.org for versioning info
  docs/dev/Version-Control.md
  mkdocs.yml
Labels: documentation

refactor: remove variable from docker install script
  scripts/setup/docker.sh
Labels: devops

refactor: remove variable from docker install script
  scripts/setup/docker.sh
Labels: devops

ci: add py310 version to black code formatter
  .pre-commit-config.yaml
Labels: none

ci: add py310 version to black code formatter
  .pre-commit-config.yaml
Labels: none

docs: add link to pre-commit info in docs
  mkdocs.yml
Labels: documentation

docs: add link to pre-commit info in docs
  mkdocs.yml
Labels: documentation

docs: update info about interactive api debugging port
  docs/dev/Backend.md
Labels: documentation

docs: update info about interactive api debugging port
  docs/dev/Backend.md
Labels: documentation

docs: add timestamp to doc pages via plugin
  mkdocs.yml
Labels: documentation

docs: add timestamp to doc pages via plugin
  mkdocs.yml
Labels: documentation

build: add git-revision-date-localized plugin to docs group
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

build: add git-revision-date-localized plugin to docs group
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

ci: docs build use image from gh-workflows
  .github/workflows/docs.yml
Labels: devops

ci: docs build use image from gh-workflows
  .github/workflows/docs.yml
Labels: devops

build: upgrade osm-fieldwork-->0.4.1, osm-rawdata-->0.2.6
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

build: upgrade osm-fieldwork-->0.4.1, osm-rawdata-->0.2.6
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

Fix condition in elif statement for Feature type detection
  src/backend/app/projects/project_crud.py
Labels: backend

Fix condition in elif statement for Feature type detection
  src/backend/app/projects/project_crud.py
Labels: backend

docs: update markdown links from inline to reference (footnote) style (#1116)
  CONTRIBUTING.md
  INSTALL.md
  contrib/scripts/docs/reformat_md_links_as_ref.py
  docs/User-Manual-For-Project-Managers.md
Labels: documentation, contrib

docs: update markdown links from inline to reference (footnote) style (#1116)
  CONTRIBUTING.md
  INSTALL.md
  contrib/scripts/docs/reformat_md_links_as_ref.py
  docs/User-Manual-For-Project-Managers.md
Labels: documentation, contrib

refactor: fix linting errors in project_crud
  src/backend/app/projects/project_crud.py
Labels: backend

refactor: fix linting errors in project_crud
  src/backend/app/projects/project_crud.py
Labels: backend

feat: paginated submissions by project (#1110)
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
  src/backend/app/submissions/submission_schemas.py
Labels: backend

feat: paginated submissions by project (#1110)
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
  src/backend/app/submissions/submission_schemas.py
Labels: backend

fix: tile archive download for projects
  src/backend/app/projects/project_routes.py
Labels: backend

fix: tile archive download for projects
  src/backend/app/projects/project_routes.py
Labels: backend

.github/labeler.yml:

"frontend":
  - "src/frontend/**/*"
"backend":
  - "src/backend/**/*"
"devops":
  - ".github/**/*"
  - "nginx/**/*"
  - "scripts/**/*"
  - "docker-*.yml"
  - "**/Dockerfile"
  - "**/*.dockerfile"
  - "**/*entrypoint.sh"
  - "Justfile"
"migration":
  - "src/backend/migrations/**/*"
"documentation":
  - "docs/**/*"
  - "images/**/*"
  - "mkdocs.yml"
  - "README.md"
  - "INSTALL.md"
"ODK":
  - "odkcentral/**/*"
"contrib":
  - "contrib/**/*"
