Repository hotosm/field-tm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, devops, migration, docs, ODK, contrib, tests

build: update container img versions: electric, playright, minio
  chart/values.yaml
  contrib/playwright/docker-compose.yml
  docker-compose.development.yml
  docker-compose.main.yml
  docker-compose.yml
  src/backend/Dockerfile
Labels: backend, devops, contrib

build: update container img versions: electric, playright, minio
  chart/values.yaml
  contrib/playwright/docker-compose.yml
  docker-compose.development.yml
  docker-compose.main.yml
  docker-compose.yml
  src/backend/Dockerfile
Labels: backend, devops, contrib

fix: add temp ?sslmode=disable to electric url due to electric#1792
  docker-compose.yml
Labels: devops

fix: add temp ?sslmode=disable to electric url due to electric#1792
  docker-compose.yml
Labels: devops

build: rename dockerfile hotosm account --> fmtm account
  src/backend/Dockerfile
Labels: backend, devops

build: rename dockerfile hotosm account --> fmtm account
  src/backend/Dockerfile
Labels: backend, devops

build: update mapper frontend dependencies (electric-client)
  src/mapper/package.json
  src/mapper/pnpm-lock.yaml
Labels: none

build: update mapper frontend dependencies (electric-client)
  src/mapper/package.json
  src/mapper/pnpm-lock.yaml
Labels: none

Toast Add & Update import path (#1828)
  src/mapper/src/lib/components/common/toast.svelte
  src/mapper/src/routes/+layout.svelte
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/src/store/common.ts
  src/mapper/static/assets/icons/exclamation-octagon.svg
  src/mapper/static/assets/icons/exclamation-triangle.svg
  src/mapper/static/assets/icons/info-circle.svg
  src/mapper/vite.config.ts
Labels: none

Toast Add & Update import path (#1828)
  src/mapper/src/lib/components/common/toast.svelte
  src/mapper/src/routes/+layout.svelte
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/src/store/common.ts
  src/mapper/static/assets/icons/exclamation-octagon.svg
  src/mapper/static/assets/icons/exclamation-triangle.svg
  src/mapper/static/assets/icons/info-circle.svg
  src/mapper/vite.config.ts
Labels: none

build: update playwright to --> v1.48.1 in stack
  contrib/playwright/docker-compose.yml
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
Labels: frontend, contrib

build: update playwright to --> v1.48.1 in stack
  contrib/playwright/docker-compose.yml
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
Labels: frontend, contrib

refactor: update link to custom ODK build (renamed to -FMTM)
  src/frontend/src/utilities/CustomDrawer.tsx
Labels: frontend

refactor: update link to custom ODK build (renamed to -FMTM)
  src/frontend/src/utilities/CustomDrawer.tsx
Labels: frontend

feat(frontend): mapper UI frontend refactor (#1830)
  src/mapper/src/lib/components/common/Editor/editor.css
  src/mapper/src/lib/components/common/Editor/editor.svelte
  src/mapper/src/lib/components/common/bottom-sheet.svelte
  src/mapper/src/lib/components/page/more/activities.svelte
  src/mapper/src/lib/components/page/more/comment.svelte
  src/mapper/src/lib/components/page/more/index.svelte
  src/mapper/src/lib/components/skeleton/activities.svelte
  src/mapper/src/lib/components/skeleton/comment.svelte
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/src/styles/page.css
  src/mapper/static/assets/icons/clock-history.svg
  src/mapper/static/assets/icons/person-fill.svg
Labels: none

feat(frontend): mapper UI frontend refactor (#1830)
  src/mapper/src/lib/components/common/Editor/editor.css
  src/mapper/src/lib/components/common/Editor/editor.svelte
  src/mapper/src/lib/components/common/bottom-sheet.svelte
  src/mapper/src/lib/components/page/more/activities.svelte
  src/mapper/src/lib/components/page/more/comment.svelte
  src/mapper/src/lib/components/page/more/index.svelte
  src/mapper/src/lib/components/skeleton/activities.svelte
  src/mapper/src/lib/components/skeleton/comment.svelte
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/src/styles/page.css
  src/mapper/static/assets/icons/clock-history.svg
  src/mapper/static/assets/icons/person-fill.svg
Labels: none

bump: version 2024.4.0 → 2024.4.1
  CHANGELOG.md
  chart/Chart.yaml
  src/backend/app/__version__.py
  src/backend/pyproject.toml
  src/frontend/package.json
Labels: frontend, backend

bump: version 2024.4.0 → 2024.4.1
  CHANGELOG.md
  chart/Chart.yaml
  src/backend/app/__version__.py
  src/backend/pyproject.toml
  src/frontend/package.json
Labels: frontend, backend

ci: update all gh workflows --> 2.0.6 for trivy fix
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_ci_img.yml
  .github/workflows/build_odk_imgs.yml
  .github/workflows/build_proxy_imgs.yml
  .github/workflows/docs.yml
  .github/workflows/pr_test_backend.yml
  .github/workflows/pr_test_frontend.yml
  .github/workflows/tag_build.yml
  .github/workflows/wiki.yml
Labels: devops

ci: update all gh workflows --> 2.0.6 for trivy fix
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_ci_img.yml
  .github/workflows/build_odk_imgs.yml
  .github/workflows/build_proxy_imgs.yml
  .github/workflows/docs.yml
  .github/workflows/pr_test_backend.yml
  .github/workflows/pr_test_frontend.yml
  .github/workflows/tag_build.yml
  .github/workflows/wiki.yml
Labels: devops

docs: add Anuj to the team page
  docs/about/team.md
Labels: docs

docs: add Anuj to the team page
  docs/about/team.md
Labels: docs

docs: start MADR decision documenting process
  docs/decisions/0001-fastapi.md
  docs/decisions/README.md
Labels: docs

docs: start MADR decision documenting process
  docs/decisions/0001-fastapi.md
  docs/decisions/README.md
Labels: docs

fix: mapper frontend task display and event POSTs (#1842)
  docker-compose.yml
  src/backend/app/db/models.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/migrations/009-entity-table.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/mapper/src/lib/components/page/layer-switcher.svelte
  src/mapper/src/lib/components/page/legend.svelte
  src/mapper/src/lib/task-events.ts
  src/mapper/src/lib/types.ts
  src/mapper/src/lib/utils/clickOutside.ts
  src/mapper/src/lib/utils/getDeviceRotation.ts
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/svelte.config.js
  src/mapper/vite.config.ts
Labels: backend, devops, migration

fix: mapper frontend task display and event POSTs (#1842)
  docker-compose.yml
  src/backend/app/db/models.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/migrations/009-entity-table.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/mapper/src/lib/components/page/layer-switcher.svelte
  src/mapper/src/lib/components/page/legend.svelte
  src/mapper/src/lib/task-events.ts
  src/mapper/src/lib/types.ts
  src/mapper/src/lib/utils/clickOutside.ts
  src/mapper/src/lib/utils/getDeviceRotation.ts
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/svelte.config.js
  src/mapper/vite.config.ts
Labels: backend, devops, migration

fix(frontend): after backend refactoring to events (#1844)
  src/frontend/src/api/Project.ts
  src/frontend/src/api/SubmissionService.ts
  src/frontend/src/components/DialogTaskActions.tsx
  src/frontend/src/components/ProjectDetailsV2/FeatureSelectionPopup.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsInfographics.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/store/slices/SubmissionSlice.ts
  src/frontend/src/store/types/ISubmissions.ts
  src/frontend/src/views/ProjectSubmissions.tsx
Labels: frontend

fix(frontend): after backend refactoring to events (#1844)
  src/frontend/src/api/Project.ts
  src/frontend/src/api/SubmissionService.ts
  src/frontend/src/components/DialogTaskActions.tsx
  src/frontend/src/components/ProjectDetailsV2/FeatureSelectionPopup.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsInfographics.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/store/slices/SubmissionSlice.ts
  src/frontend/src/store/types/ISubmissions.ts
  src/frontend/src/views/ProjectSubmissions.tsx
Labels: frontend

build: update fmtm-splitter --> v1.5.0 for latest changes
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

build: update fmtm-splitter --> v1.5.0 for latest changes
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

refactor: remove unnecessary db injection where not needed
  src/backend/app/projects/project_routes.py
Labels: backend

refactor: remove unnecessary db injection where not needed
  src/backend/app/projects/project_routes.py
Labels: backend

build: update fmtm-splitter --> 1.5.1 due to sql typo
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

build: update fmtm-splitter --> 1.5.1 due to sql typo
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

refactor(mapper): upgrade mapper frontend to Svelte 5 Runes (#1846)
  docker-compose.yml
  src/mapper/package.json
  src/mapper/pnpm-lock.yaml
  src/mapper/src/lib/components/bottom-sheet.svelte
  src/mapper/src/lib/components/common/toast.svelte
  src/mapper/src/lib/components/editor/editor.css
  src/mapper/src/lib/components/editor/editor.svelte
  src/mapper/src/lib/components/editor/index.ts
  src/mapper/src/lib/components/editor/toolbar.svelte
  src/mapper/src/lib/components/event-card.svelte
  src/mapper/src/lib/components/map/geolocation.svelte
  src/mapper/src/lib/components/map/index.ts
  src/mapper/src/lib/components/map/layer-switcher.svelte
  src/mapper/src/lib/components/map/legend.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/lib/components/more/activities.svelte
  src/mapper/src/lib/components/more/comment.svelte
  src/mapper/src/lib/components/more/index.svelte
  src/mapper/src/lib/components/more/index.ts
  src/mapper/src/lib/components/more/skeleton/activities.svelte
  src/mapper/src/lib/components/more/skeleton/comment.svelte
  src/mapper/src/lib/components/task-action-dialog.svelte
  src/mapper/src/lib/components/toast.svelte
  src/mapper/src/lib/db/events.ts
  src/mapper/src/lib/db/pglite.ts
  src/mapper/src/lib/index.ts
  src/mapper/src/lib/live-query.ts
  src/mapper/src/lib/utils/datetime.ts
  src/mapper/src/lib/utils/qrcode.ts
  src/mapper/src/routes/+layout.svelte
  src/mapper/src/routes/+layout.ts
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/src/store/common.svelte.ts
  src/mapper/src/store/common.ts
  src/mapper/src/store/entities.svelte.ts
  src/mapper/src/store/tasks.svelte.ts
  src/mapper/svelte.config.js
Labels: devops

refactor(mapper): upgrade mapper frontend to Svelte 5 Runes (#1846)
  docker-compose.yml
  src/mapper/package.json
  src/mapper/pnpm-lock.yaml
  src/mapper/src/lib/components/bottom-sheet.svelte
  src/mapper/src/lib/components/common/toast.svelte
  src/mapper/src/lib/components/editor/editor.css
  src/mapper/src/lib/components/editor/editor.svelte
  src/mapper/src/lib/components/editor/index.ts
  src/mapper/src/lib/components/editor/toolbar.svelte
  src/mapper/src/lib/components/event-card.svelte
  src/mapper/src/lib/components/map/geolocation.svelte
  src/mapper/src/lib/components/map/index.ts
  src/mapper/src/lib/components/map/layer-switcher.svelte
  src/mapper/src/lib/components/map/legend.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/lib/components/more/activities.svelte
  src/mapper/src/lib/components/more/comment.svelte
  src/mapper/src/lib/components/more/index.svelte
  src/mapper/src/lib/components/more/index.ts
  src/mapper/src/lib/components/more/skeleton/activities.svelte
  src/mapper/src/lib/components/more/skeleton/comment.svelte
  src/mapper/src/lib/components/task-action-dialog.svelte
  src/mapper/src/lib/components/toast.svelte
  src/mapper/src/lib/db/events.ts
  src/mapper/src/lib/db/pglite.ts
  src/mapper/src/lib/index.ts
  src/mapper/src/lib/live-query.ts
  src/mapper/src/lib/utils/datetime.ts
  src/mapper/src/lib/utils/qrcode.ts
  src/mapper/src/routes/+layout.svelte
  src/mapper/src/routes/+layout.ts
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/src/store/common.svelte.ts
  src/mapper/src/store/common.ts
  src/mapper/src/store/entities.svelte.ts
  src/mapper/src/store/tasks.svelte.ts
  src/mapper/svelte.config.js
Labels: devops

test(frontend): fix e2e tests after UI refactor (#1847)
  src/frontend/e2e/02-mapper-flow.spec.ts
  src/frontend/src/components/DialogTaskActions.tsx
Labels: frontend, tests

test(frontend): fix e2e tests after UI refactor (#1847)
  src/frontend/e2e/02-mapper-flow.spec.ts
  src/frontend/src/components/DialogTaskActions.tsx
Labels: frontend, tests

feat(mapper): flatgeobuf maplibre component for loading features (#1851)
  src/mapper/src/lib/components/bottom-sheet.svelte
  src/mapper/src/lib/components/event-card.svelte
  src/mapper/src/lib/components/map/flatgeobuf-layer.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/lib/utils/flatgeobuf.ts
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/src/store/tasks.svelte.ts
  src/mapper/svelte.config.js
  src/mapper/vite.config.ts
Labels: none

feat(mapper): flatgeobuf maplibre component for loading features (#1851)
  src/mapper/src/lib/components/bottom-sheet.svelte
  src/mapper/src/lib/components/event-card.svelte
  src/mapper/src/lib/components/map/flatgeobuf-layer.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/lib/utils/flatgeobuf.ts
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/src/store/tasks.svelte.ts
  src/mapper/svelte.config.js
  src/mapper/vite.config.ts
Labels: none

.github/labeler.yml:

bug:
  # Branch starts with `fix` or has a `fix` in the name
  - head-branch: ["^fix", "fix"]
enhancement:
  - head-branch:
      ["^feature", "feature", "^feat", "feat", "^refactor", "refactor"]
frontend:
  - changed-files:
      - any-glob-to-any-file: src/frontend/**
backend:
  - changed-files:
      - any-glob-to-any-file: src/backend/**
devops:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**
          - nginx/**
          - scripts/**
          - docker-*.yml
          - ./**/Dockerfile
          - ./**/.dockerfile
          - ./**/*entrypoint.sh
          - ./**/Justfile
migration:
  - changed-files:
      - any-glob-to-any-file: src/backend/migrations/**
docs:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**
          - images/**
          - mkdocs.yml
          - README.md
          - INSTALL.md
ODK:
  - changed-files:
      - any-glob-to-any-file: odkcentral/**
contrib:
  - changed-files:
      - any-glob-to-any-file: contrib/**
tests:
  - changed-files:
      - any-glob-to-any-file:
          - src/backend/tests/**
          - src/frontend/tests/**
          - src/frontend/e2e/**
