Repository hotosm/field-tm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, devops, migration, documentation, ODK, contrib

fix(frontend): replace getting task_id from submission with url param
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
Labels: frontend

fix(frontend): replace getting task_id from submission with url param
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
Labels: frontend

fix: ensure task_id field is always included with submissions (#1589)
  src/backend/app/central/central_crud.py
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

fix: ensure task_id field is always included with submissions (#1589)
  src/backend/app/central/central_crud.py
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

docs: add additional info about out development process
  CONTRIBUTING.md
Labels: none

docs: add additional info about out development process
  CONTRIBUTING.md
Labels: none

Revert "fix(frontend): replace getting task_id from submission with url param"
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
Labels: frontend

Revert "fix(frontend): replace getting task_id from submission with url param"
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
Labels: frontend

fix(frontend): set submission table task_id from submission task_id
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
Labels: frontend

fix(frontend): set submission table task_id from submission task_id
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
Labels: frontend

docs: update refs to hotosm.github.io/fmtm --> docs.fmtm.dev
  INSTALL.md
  README.md
  docs/User-Manual-For-Project-Managers.md
  docs/dev/Frontend.md
  docs/dev/Setup.md
  docs/wiki_redirect.md
  mkdocs.yml
  src/frontend/src/utilities/CustomDrawer.jsx
Labels: frontend, documentation

docs: update refs to hotosm.github.io/fmtm --> docs.fmtm.dev
  INSTALL.md
  README.md
  docs/User-Manual-For-Project-Managers.md
  docs/dev/Frontend.md
  docs/dev/Setup.md
  docs/wiki_redirect.md
  mkdocs.yml
  src/frontend/src/utilities/CustomDrawer.jsx
Labels: frontend, documentation

docs: simplify about section
  docs/About.md
Labels: documentation

docs: simplify about section
  docs/About.md
Labels: documentation

docs: restructure docs home page
  docs/index.md
Labels: documentation

docs: restructure docs home page
  docs/index.md
Labels: documentation

docs: move guide to improving documentation --> docs.hotosm.org
  CONTRIBUTING.md
  docs/Guide-On-Improving-Documentation.md
  mkdocs.yml
Labels: documentation

docs: move guide to improving documentation --> docs.hotosm.org
  CONTRIBUTING.md
  docs/Guide-On-Improving-Documentation.md
  mkdocs.yml
Labels: documentation

docs: fix FAQ info
  docs/FAQ.md
Labels: documentation

docs: fix FAQ info
  docs/FAQ.md
Labels: documentation

docs: reorder docs headings
  mkdocs.yml
Labels: documentation

docs: reorder docs headings
  mkdocs.yml
Labels: documentation

refactor(frontend): update links for odk collect by intent task_id --> task_filter
  src/frontend/src/components/DialogTaskActions.jsx
  src/frontend/src/components/ProjectDetailsV2/FeatureSelectionPopup.tsx
Labels: frontend

refactor(frontend): update links for odk collect by intent task_id --> task_filter
  src/frontend/src/components/DialogTaskActions.jsx
  src/frontend/src/components/ProjectDetailsV2/FeatureSelectionPopup.tsx
Labels: frontend

build: upgrade osm-fieldwork --> 0.12.4 for removal of 'essential' group
  src/backend/app/central/central_crud.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

build: upgrade osm-fieldwork --> 0.12.4 for removal of 'essential' group
  src/backend/app/central/central_crud.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

Fix/legend height fix (#1592)
  src/frontend/src/components/MapLegends.jsx
  src/frontend/src/components/common/Accordion.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

Fix/legend height fix (#1592)
  src/frontend/src/components/MapLegends.jsx
  src/frontend/src/components/common/Accordion.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

fix(submissionDetails): retrieve task_id directly from submissionDetails (#1595)
  src/frontend/src/views/SubmissionDetails.tsx
Labels: frontend

fix(submissionDetails): retrieve task_id directly from submissionDetails (#1595)
  src/frontend/src/views/SubmissionDetails.tsx
Labels: frontend

build: enforce pnpm v9.3.0 for frontend dep install
  src/frontend/debug.dockerfile
  src/frontend/prod.dockerfile
Labels: frontend, devops

build: enforce pnpm v9.3.0 for frontend dep install
  src/frontend/debug.dockerfile
  src/frontend/prod.dockerfile
Labels: frontend, devops

bump: version 2024.3.0 → 2024.3.1
  CHANGELOG.md
  chart/Chart.yaml
  src/backend/app/__version__.py
  src/backend/pyproject.toml
  src/frontend/package.json
Labels: frontend, backend

bump: version 2024.3.0 → 2024.3.1
  CHANGELOG.md
  chart/Chart.yaml
  src/backend/app/__version__.py
  src/backend/pyproject.toml
  src/frontend/package.json
Labels: frontend, backend

docs: rename project manager manual doc file
  docs/manuals/project-managers.md
  mkdocs.yml
Labels: documentation

docs: rename project manager manual doc file
  docs/manuals/project-managers.md
  mkdocs.yml
Labels: documentation

docs: update links to roadmaps / task boards
  mkdocs.yml
Labels: documentation

docs: update links to roadmaps / task boards
  mkdocs.yml
Labels: documentation

fix(map): set default baseLayer to OSM (#1600)
  src/frontend/src/components/MapComponent/OpenLayersComponent/LayerSwitcher/index.js
  src/frontend/src/components/ProjectSubmissions/TaskSubmissionsMap.tsx
  src/frontend/src/components/SubmissionMap/SubmissionInstanceMap.jsx
  src/frontend/src/components/home/ProjectListMap.tsx
  src/frontend/src/views/EditProjectArea.tsx
  src/frontend/src/views/NewDefineAreaMap.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

fix(map): set default baseLayer to OSM (#1600)
  src/frontend/src/components/MapComponent/OpenLayersComponent/LayerSwitcher/index.js
  src/frontend/src/components/ProjectSubmissions/TaskSubmissionsMap.tsx
  src/frontend/src/components/SubmissionMap/SubmissionInstanceMap.jsx
  src/frontend/src/components/home/ProjectListMap.tsx
  src/frontend/src/views/EditProjectArea.tsx
  src/frontend/src/views/NewDefineAreaMap.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

.github/labeler.yml:

"frontend":
  - "src/frontend/**/*"
"backend":
  - "src/backend/**/*"
"devops":
  - ".github/**/*"
  - "nginx/**/*"
  - "scripts/**/*"
  - "docker-*.yml"
  - "**/Dockerfile"
  - "**/*.dockerfile"
  - "**/*entrypoint.sh"
  - "Justfile"
"migration":
  - "src/backend/migrations/**/*"
"documentation":
  - "docs/**/*"
  - "images/**/*"
  - "mkdocs.yml"
  - "README.md"
  - "INSTALL.md"
"ODK":
  - "odkcentral/**/*"
"contrib":
  - "contrib/**/*"
