Repository hotosm/field-tm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, devops, migration, documentation, ODK, contrib

Return task history instead of db task (#1421)
  src/backend/app/tasks/tasks_crud.py
Labels: backend

Return task history instead of db task (#1421)
  src/backend/app/tasks/tasks_crud.py
Labels: backend

fix: project name editing validation (#1416)
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
Labels: backend

fix: project name editing validation (#1416)
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
Labels: backend

docs: extra info on production data backup / restore
  docs/dev/Production.md
Labels: documentation

docs: extra info on production data backup / restore
  docs/dev/Production.md
Labels: documentation

docs: add section for example xlsforms
  docs/example_xlsforms/README.md
  docs/example_xlsforms/building_natural_risks_survey.xlsx
  docs/example_xlsforms/slum_assessment_survey.xlsx
  mkdocs.yml
Labels: documentation

docs: add section for example xlsforms
  docs/example_xlsforms/README.md
  docs/example_xlsforms/building_natural_risks_survey.xlsx
  docs/example_xlsforms/slum_assessment_survey.xlsx
  mkdocs.yml
Labels: documentation

docs: fix links for example xlsforms
  docs/example-xlsforms/README.md
  docs/example-xlsforms/building_natural_risks_survey.xlsx
  docs/example-xlsforms/slum_assessment_survey.xlsx
Labels: documentation

docs: fix links for example xlsforms
  docs/example-xlsforms/README.md
  docs/example-xlsforms/building_natural_risks_survey.xlsx
  docs/example-xlsforms/slum_assessment_survey.xlsx
Labels: documentation

docs: update info about example xlsforms
  docs/example-xlsforms/README.md
  mkdocs.yml
Labels: documentation

docs: update info about example xlsforms
  docs/example-xlsforms/README.md
  mkdocs.yml
Labels: documentation

docs: link to correct form for each example xlsform/survey
  docs/example-xlsforms/README.md
Labels: documentation

docs: link to correct form for each example xlsform/survey
  docs/example-xlsforms/README.md
Labels: documentation

docs: link for additional info about monrovia xlsform
  docs/example-xlsforms/README.md
Labels: documentation

docs: link for additional info about monrovia xlsform
  docs/example-xlsforms/README.md
Labels: documentation

refactor: task comment response and schema (#1423)
  src/backend/app/tasks/tasks_crud.py
  src/backend/app/tasks/tasks_routes.py
  src/backend/app/tasks/tasks_schemas.py
  src/frontend/src/components/ProjectDetailsV2/Comments.tsx
Labels: frontend, backend

refactor: task comment response and schema (#1423)
  src/backend/app/tasks/tasks_crud.py
  src/backend/app/tasks/tasks_routes.py
  src/backend/app/tasks/tasks_schemas.py
  src/frontend/src/components/ProjectDetailsV2/Comments.tsx
Labels: frontend, backend

feat: implement ODK Entities for project creation (#1383)
  src/backend/app/central/central_crud.py
  src/backend/app/db/db_models.py
  src/backend/app/db/postgis_utils.py
  src/backend/app/helpers/helper_routes.py
  src/backend/app/main.py
  src/backend/app/models/enums.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/tasks/task_deps.py
  src/backend/app/tasks/tasks_routes.py
  src/backend/migrations/002-add-xforms-table.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/migrations/qrcode_to_odktoken.py
  src/backend/migrations/revert/002-add-xform-table.sql
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/backend/tests/test_projects_routes.py
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/api/Files.js
  src/frontend/src/api/Project.js
  src/frontend/src/components/DialogTaskActions.jsx
  src/frontend/src/components/ProjectDetailsV2/TaskSectionPopup.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
Labels: frontend, backend, migration

feat: implement ODK Entities for project creation (#1383)
  src/backend/app/central/central_crud.py
  src/backend/app/db/db_models.py
  src/backend/app/db/postgis_utils.py
  src/backend/app/helpers/helper_routes.py
  src/backend/app/main.py
  src/backend/app/models/enums.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/tasks/task_deps.py
  src/backend/app/tasks/tasks_routes.py
  src/backend/migrations/002-add-xforms-table.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/migrations/qrcode_to_odktoken.py
  src/backend/migrations/revert/002-add-xform-table.sql
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/backend/tests/test_projects_routes.py
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/api/Files.js
  src/frontend/src/api/Project.js
  src/frontend/src/components/DialogTaskActions.jsx
  src/frontend/src/components/ProjectDetailsV2/TaskSectionPopup.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
Labels: frontend, backend, migration

build: make xform migration fully idempotent
  src/backend/migrations/002-add-xforms-table.sql
Labels: backend, migration

build: make xform migration fully idempotent
  src/backend/migrations/002-add-xforms-table.sql
Labels: backend, migration

refactor: merged multi polygon to single polygon (#1426)
  src/backend/app/projects/project_crud.py
Labels: backend

refactor: merged multi polygon to single polygon (#1426)
  src/backend/app/projects/project_crud.py
Labels: backend

build: add helm chart for deployment in Kubernetes (#1427)
  .gitignore
  README.md
  chart/.helmignore
  chart/Chart.lock
  chart/Chart.yaml
  chart/README.md
  chart/templates/NOTES.txt
  chart/templates/_helpers.tpl
  chart/templates/deployment.yaml
  chart/templates/hpa.yaml
  chart/templates/ingress.yaml
  chart/templates/service.yaml
  chart/templates/serviceaccount.yaml
  chart/templates/tests/test-connection.yaml
  chart/values.yaml
  src/backend/app/config.py
  src/backend/pyproject.toml
  src/frontend/public/favicon.ico
Labels: frontend, backend, documentation

build: add helm chart for deployment in Kubernetes (#1427)
  .gitignore
  README.md
  chart/.helmignore
  chart/Chart.lock
  chart/Chart.yaml
  chart/README.md
  chart/templates/NOTES.txt
  chart/templates/_helpers.tpl
  chart/templates/deployment.yaml
  chart/templates/hpa.yaml
  chart/templates/ingress.yaml
  chart/templates/service.yaml
  chart/templates/serviceaccount.yaml
  chart/templates/tests/test-connection.yaml
  chart/values.yaml
  src/backend/app/config.py
  src/backend/pyproject.toml
  src/frontend/public/favicon.ico
Labels: frontend, backend, documentation

fix: add odk_token from projectInfo to qrcode creation
  src/backend/app/projects/project_schemas.py
  src/backend/app/tasks/tasks_schemas.py
  src/frontend/src/components/ProjectDetailsV2/TaskSectionPopup.tsx
  src/frontend/src/models/project/projectModel.ts
Labels: frontend, backend

fix: add odk_token from projectInfo to qrcode creation
  src/backend/app/projects/project_schemas.py
  src/backend/app/tasks/tasks_schemas.py
  src/frontend/src/components/ProjectDetailsV2/TaskSectionPopup.tsx
  src/frontend/src/models/project/projectModel.ts
Labels: frontend, backend

build: fix add runAsUser to helm securityContext for codecov to pass
  chart/values.yaml
Labels: none

build: fix add runAsUser to helm securityContext for codecov to pass
  chart/values.yaml
Labels: none

ci: update all workflows --> 1.4.10 (fix checkcov false positives)
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_ci_img.yml
  .github/workflows/build_odk_imgs.yml
  .github/workflows/build_proxy_imgs.yml
  .github/workflows/docs.yml
  .github/workflows/pr_test_backend.yml
  .github/workflows/pr_test_frontend.yml
  .github/workflows/tag_build.yml
  .github/workflows/wiki.yml
Labels: devops

ci: update all workflows --> 1.4.10 (fix checkcov false positives)
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_ci_img.yml
  .github/workflows/build_odk_imgs.yml
  .github/workflows/build_proxy_imgs.yml
  .github/workflows/docs.yml
  .github/workflows/pr_test_backend.yml
  .github/workflows/pr_test_frontend.yml
  .github/workflows/tag_build.yml
  .github/workflows/wiki.yml
Labels: devops

fix(backend): allow missing odk_token for project, but log warning
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
Labels: backend

fix(backend): allow missing odk_token for project, but log warning
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
Labels: backend

feat: Playwright integration with test cases to be written (#1433)
  src/frontend/.github/workflows/playwright.yml
  src/frontend/.gitignore
  src/frontend/e2e/example.spec.ts
  src/frontend/package.json
  src/frontend/playwright.config.ts
  src/frontend/tests-examples/demo-todo-app.spec.ts
  src/frontend/vite.config.ts
Labels: frontend

feat: Playwright integration with test cases to be written (#1433)
  src/frontend/.github/workflows/playwright.yml
  src/frontend/.gitignore
  src/frontend/e2e/example.spec.ts
  src/frontend/package.json
  src/frontend/playwright.config.ts
  src/frontend/tests-examples/demo-todo-app.spec.ts
  src/frontend/vite.config.ts
Labels: frontend

docs: update info in helm chart readme, creating vars + namespace
  chart/README.md
Labels: none

docs: update info in helm chart readme, creating vars + namespace
  chart/README.md
Labels: none

build: update osm-login-python --> 1.0.3 for error handling + flexible deps
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

build: update osm-login-python --> 1.0.3 for error handling + flexible deps
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

.github/labeler.yml:

"frontend":
  - "src/frontend/**/*"
"backend":
  - "src/backend/**/*"
"devops":
  - ".github/**/*"
  - "nginx/**/*"
  - "scripts/**/*"
  - "docker-*.yml"
  - "**/Dockerfile"
  - "**/*.dockerfile"
  - "**/*entrypoint.sh"
  - "Justfile"
"migration":
  - "src/backend/migrations/**/*"
"documentation":
  - "docs/**/*"
  - "images/**/*"
  - "mkdocs.yml"
  - "README.md"
  - "INSTALL.md"
"ODK":
  - "odkcentral/**/*"
"contrib":
  - "contrib/**/*"
