Repository hotosm/field-tm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, devops, migration, documentation, ODK, contrib

feat customDrawer/projectDetails: debugConsole component seperation and add
  src/frontend/src/utilities/CustomDrawer.jsx
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

feat customDrawer/projectDetails: debugConsole component seperation and add
  src/frontend/src/utilities/CustomDrawer.jsx
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

feat projectTaskStatus: console add for test
  src/frontend/src/api/ProjectTaskStatus.js
Labels: frontend

feat projectTaskStatus: console add for test
  src/frontend/src/api/ProjectTaskStatus.js
Labels: frontend

test: removed vitepwa
  src/frontend/vite.config.ts
Labels: frontend

test: removed vitepwa
  src/frontend/vite.config.ts
Labels: frontend

feat project: console add for test
  src/frontend/src/api/Project.js
Labels: frontend

feat project: console add for test
  src/frontend/src/api/Project.js
Labels: frontend

fix: vite test
  src/frontend/vite.config.ts
Labels: frontend

fix: vite test
  src/frontend/vite.config.ts
Labels: frontend

test: deployment
  src/frontend/vite.config.ts
Labels: frontend

test: deployment
  src/frontend/vite.config.ts
Labels: frontend

fix: post message added undefined check
  src/frontend/src/views/Authorized.tsx
  src/frontend/vite.config.ts
Labels: frontend

fix: post message added undefined check
  src/frontend/src/views/Authorized.tsx
  src/frontend/vite.config.ts
Labels: frontend

fix (frontend): remove usage of encode and decode of id's (#1387)
  src/frontend/src/components/Activities.jsx
  src/frontend/src/components/ActivitiesPanel.jsx
  src/frontend/src/components/DialogTaskActions.jsx
  src/frontend/src/components/GenerateBasemap.jsx
  src/frontend/src/components/ProjectDetailsV2/ActivitiesPanel.tsx
  src/frontend/src/components/ProjectDetailsV2/Comments.tsx
  src/frontend/src/components/ProjectDetailsV2/ProjectOptions.tsx
  src/frontend/src/components/ProjectDetailsV2/TaskSectionPopup.tsx
  src/frontend/src/components/ProjectSubmissions/ProjectInfo.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsInfographics.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/home/ExploreProjectCard.tsx
  src/frontend/src/components/home/ProjectListMap.tsx
  src/frontend/src/views/ManageProject.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/frontend/src/views/ProjectSubmissions.tsx
  src/frontend/src/views/SubmissionDetails.tsx
  src/frontend/src/views/Submissions.tsx
  src/frontend/src/views/Tasks.tsx
Labels: frontend

fix (frontend): remove usage of encode and decode of id's (#1387)
  src/frontend/src/components/Activities.jsx
  src/frontend/src/components/ActivitiesPanel.jsx
  src/frontend/src/components/DialogTaskActions.jsx
  src/frontend/src/components/GenerateBasemap.jsx
  src/frontend/src/components/ProjectDetailsV2/ActivitiesPanel.tsx
  src/frontend/src/components/ProjectDetailsV2/Comments.tsx
  src/frontend/src/components/ProjectDetailsV2/ProjectOptions.tsx
  src/frontend/src/components/ProjectDetailsV2/TaskSectionPopup.tsx
  src/frontend/src/components/ProjectSubmissions/ProjectInfo.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsInfographics.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/home/ExploreProjectCard.tsx
  src/frontend/src/components/home/ProjectListMap.tsx
  src/frontend/src/views/ManageProject.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/frontend/src/views/ProjectSubmissions.tsx
  src/frontend/src/views/SubmissionDetails.tsx
  src/frontend/src/views/Submissions.tsx
  src/frontend/src/views/Tasks.tsx
Labels: frontend

fix: project edit form update validation (#1397)
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/api/Project.js
  src/frontend/src/api/ProjectTaskStatus.js
  src/frontend/src/components/ManageProject/EditTab/FormUpdateTab.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

fix: project edit form update validation (#1397)
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/api/Project.js
  src/frontend/src/api/ProjectTaskStatus.js
  src/frontend/src/components/ManageProject/EditTab/FormUpdateTab.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

fix (frontend): required fields, description word limit, odk cred input (#1404)
  src/frontend/src/components/ManageProject/EditTab/ProjectDescriptionTab.tsx
  src/frontend/src/components/common/Select.tsx
  src/frontend/src/components/common/TextArea.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
Labels: frontend

fix (frontend): required fields, description word limit, odk cred input (#1404)
  src/frontend/src/components/ManageProject/EditTab/ProjectDescriptionTab.tsx
  src/frontend/src/components/common/Select.tsx
  src/frontend/src/components/common/TextArea.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
Labels: frontend

fix: update task activity endpoint (#1406)
  src/backend/app/tasks/tasks_crud.py
  src/backend/app/tasks/tasks_routes.py
Labels: backend

fix: update task activity endpoint (#1406)
  src/backend/app/tasks/tasks_crud.py
  src/backend/app/tasks/tasks_routes.py
Labels: backend

fix: more informative browser tab titles/details (#1411)
  src/frontend/src/components/CreateEditOrganization/ConsentDetailsForm.tsx
  src/frontend/src/components/CreateEditOrganization/CreateEditOrganizationForm.tsx
  src/frontend/src/components/ManageProject/DeleteTab/index.tsx
  src/frontend/src/components/ManageProject/EditTab/FormUpdateTab.tsx
  src/frontend/src/components/ManageProject/EditTab/ProjectDescriptionTab.tsx
  src/frontend/src/components/ManageProject/UserTab/AssignTab.tsx
  src/frontend/src/components/ManageProject/UserTab/InviteTab.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsInfographics.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
  src/frontend/src/utilfunctions/useDocumentTitle.ts
  src/frontend/src/views/ApproveOrganization.tsx
  src/frontend/src/views/Home.tsx
  src/frontend/src/views/Organisation.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/frontend/src/views/SubmissionDetails.tsx
Labels: frontend

fix: more informative browser tab titles/details (#1411)
  src/frontend/src/components/CreateEditOrganization/ConsentDetailsForm.tsx
  src/frontend/src/components/CreateEditOrganization/CreateEditOrganizationForm.tsx
  src/frontend/src/components/ManageProject/DeleteTab/index.tsx
  src/frontend/src/components/ManageProject/EditTab/FormUpdateTab.tsx
  src/frontend/src/components/ManageProject/EditTab/ProjectDescriptionTab.tsx
  src/frontend/src/components/ManageProject/UserTab/AssignTab.tsx
  src/frontend/src/components/ManageProject/UserTab/InviteTab.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsInfographics.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
  src/frontend/src/utilfunctions/useDocumentTitle.ts
  src/frontend/src/views/ApproveOrganization.tsx
  src/frontend/src/views/Home.tsx
  src/frontend/src/views/Organisation.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/frontend/src/views/SubmissionDetails.tsx
Labels: frontend

fix: default UNDERPASS_API_URL no trailing slash
  .env.example
  src/backend/app/config.py
Labels: backend

fix: default UNDERPASS_API_URL no trailing slash
  .env.example
  src/backend/app/config.py
Labels: backend

fix: default UNDERPASS_API_URL no trailing slash
  .env.example
  src/backend/app/config.py
Labels: backend

fix: default UNDERPASS_API_URL no trailing slash
  .env.example
  src/backend/app/config.py
Labels: backend

build: revert v2024.3.0 --> v2024.1.0
  CHANGELOG.md
  src/backend/app/__version__.py
  src/backend/pyproject.toml
  src/frontend/package.json
Labels: frontend, backend

build: revert v2024.3.0 --> v2024.1.0
  CHANGELOG.md
  src/backend/app/__version__.py
  src/backend/pyproject.toml
  src/frontend/package.json
Labels: frontend, backend

bump: version 2024.1.0 → 2024.2.0
  CHANGELOG.md
  src/backend/app/__version__.py
  src/backend/pyproject.toml
  src/frontend/package.json
Labels: frontend, backend

bump: version 2024.1.0 → 2024.2.0
  CHANGELOG.md
  src/backend/app/__version__.py
  src/backend/pyproject.toml
  src/frontend/package.json
Labels: frontend, backend

build: revert v2024.3.0 --> v2024.1.0
  CHANGELOG.md
  src/backend/app/__version__.py
  src/backend/pyproject.toml
  src/frontend/package.json
Labels: frontend, backend

build: revert v2024.3.0 --> v2024.1.0
  CHANGELOG.md
  src/backend/app/__version__.py
  src/backend/pyproject.toml
  src/frontend/package.json
Labels: frontend, backend

bump: version 2024.1.0 → 2024.2.0
  CHANGELOG.md
  src/backend/app/__version__.py
  src/backend/pyproject.toml
  src/frontend/package.json
Labels: frontend, backend

bump: version 2024.1.0 → 2024.2.0
  CHANGELOG.md
  src/backend/app/__version__.py
  src/backend/pyproject.toml
  src/frontend/package.json
Labels: frontend, backend

fix: return proper error message if form edit is invalid (#1415)
  src/frontend/src/api/CreateProjectService.ts
Labels: frontend

fix: return proper error message if form edit is invalid (#1415)
  src/frontend/src/api/CreateProjectService.ts
Labels: frontend

refactor: response of update task status and added user info in task history (#1419)
  src/backend/app/tasks/tasks_crud.py
  src/backend/app/tasks/tasks_routes.py
Labels: backend

refactor: response of update task status and added user info in task history (#1419)
  src/backend/app/tasks/tasks_crud.py
  src/backend/app/tasks/tasks_routes.py
Labels: backend

.github/labeler.yml:

"frontend":
  - "src/frontend/**/*"
"backend":
  - "src/backend/**/*"
"devops":
  - ".github/**/*"
  - "nginx/**/*"
  - "scripts/**/*"
  - "docker-*.yml"
  - "**/Dockerfile"
  - "**/*.dockerfile"
  - "**/*entrypoint.sh"
  - "Justfile"
"migration":
  - "src/backend/migrations/**/*"
"documentation":
  - "docs/**/*"
  - "images/**/*"
  - "mkdocs.yml"
  - "README.md"
  - "INSTALL.md"
"ODK":
  - "odkcentral/**/*"
"contrib":
  - "contrib/**/*"
