Repository hotosm/field-tm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, devops, migration, documentation, ODK, contrib

feat: add new endpoint to refresh the app user token (#1583)
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_routes.py
  src/backend/app/projects/project_crud.py
Labels: backend

feat: add new endpoint to refresh the app user token (#1583)
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_routes.py
  src/backend/app/projects/project_crud.py
Labels: backend

refactor(frontend): update remaining JavaScript files to TypeScript (#1602)
  src/frontend/src/api/Files.ts
  src/frontend/src/api/ProjectTaskStatus.ts
  src/frontend/src/components/Activities.jsx
  src/frontend/src/components/ActivitiesPanel.jsx
  src/frontend/src/components/DialogTaskActions.tsx
  src/frontend/src/components/GenerateBasemap.tsx
  src/frontend/src/components/MapDescriptionComponents.jsx
  src/frontend/src/components/MapLegends.tsx
  src/frontend/src/components/OpenLayersMap.jsx
  src/frontend/src/components/ProjectDetailsV2/ActivitiesPanel.tsx
  src/frontend/src/components/ProjectDetailsV2/FeatureSelectionPopup.tsx
  src/frontend/src/components/ProjectDetailsV2/Instructions.tsx
  src/frontend/src/components/ProjectDetailsV2/MobileActivitiesContents.tsx
  src/frontend/src/components/ProjectDetailsV2/MobileProjectInfoContent.tsx
  src/frontend/src/components/ProjectDetailsV2/ProjectOptions.tsx
  src/frontend/src/components/ProjectDetailsV2/TaskSelectionPopup.tsx
  src/frontend/src/components/QrcodeComponent.tsx
  src/frontend/src/components/SubmissionMap/SubmissionInstanceMap.tsx
  src/frontend/src/components/home/ExploreProjectCard.tsx
  src/frontend/src/models/project/projectModel.ts
  src/frontend/src/store/slices/ThemeSlice.ts
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/types/modulesDecleration.d.ts
  src/frontend/src/utilities/BasicDialog.jsx
  src/frontend/src/utilities/BasicDialog.tsx
  src/frontend/src/utilities/CustomDrawer.tsx
  src/frontend/src/utilities/CustomizedImage.tsx
  src/frontend/src/utilities/CustomizedMenus.tsx
  src/frontend/src/utilities/CustomizedSnackbar.tsx
  src/frontend/src/utilities/IconButtonCard.jsx
  src/frontend/src/utilities/PrimaryAppBar.tsx
  src/frontend/src/views/MainView.tsx
  src/frontend/src/views/NotFound404.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/frontend/src/views/SubmissionDetails.tsx
Labels: frontend

refactor(frontend): update remaining JavaScript files to TypeScript (#1602)
  src/frontend/src/api/Files.ts
  src/frontend/src/api/ProjectTaskStatus.ts
  src/frontend/src/components/Activities.jsx
  src/frontend/src/components/ActivitiesPanel.jsx
  src/frontend/src/components/DialogTaskActions.tsx
  src/frontend/src/components/GenerateBasemap.tsx
  src/frontend/src/components/MapDescriptionComponents.jsx
  src/frontend/src/components/MapLegends.tsx
  src/frontend/src/components/OpenLayersMap.jsx
  src/frontend/src/components/ProjectDetailsV2/ActivitiesPanel.tsx
  src/frontend/src/components/ProjectDetailsV2/FeatureSelectionPopup.tsx
  src/frontend/src/components/ProjectDetailsV2/Instructions.tsx
  src/frontend/src/components/ProjectDetailsV2/MobileActivitiesContents.tsx
  src/frontend/src/components/ProjectDetailsV2/MobileProjectInfoContent.tsx
  src/frontend/src/components/ProjectDetailsV2/ProjectOptions.tsx
  src/frontend/src/components/ProjectDetailsV2/TaskSelectionPopup.tsx
  src/frontend/src/components/QrcodeComponent.tsx
  src/frontend/src/components/SubmissionMap/SubmissionInstanceMap.tsx
  src/frontend/src/components/home/ExploreProjectCard.tsx
  src/frontend/src/models/project/projectModel.ts
  src/frontend/src/store/slices/ThemeSlice.ts
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/types/modulesDecleration.d.ts
  src/frontend/src/utilities/BasicDialog.jsx
  src/frontend/src/utilities/BasicDialog.tsx
  src/frontend/src/utilities/CustomDrawer.tsx
  src/frontend/src/utilities/CustomizedImage.tsx
  src/frontend/src/utilities/CustomizedMenus.tsx
  src/frontend/src/utilities/CustomizedSnackbar.tsx
  src/frontend/src/utilities/IconButtonCard.jsx
  src/frontend/src/utilities/PrimaryAppBar.tsx
  src/frontend/src/views/MainView.tsx
  src/frontend/src/views/NotFound404.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/frontend/src/views/SubmissionDetails.tsx
Labels: frontend

fix(enums): uncomment previous get_action_for_status_change code (#1609)
  src/backend/app/models/enums.py
Labels: backend

fix(enums): uncomment previous get_action_for_status_change code (#1609)
  src/backend/app/models/enums.py
Labels: backend

test(backend): project summaries and project by id (#1611)
  src/backend/tests/test_projects_routes.py
Labels: backend

test(backend): project summaries and project by id (#1611)
  src/backend/tests/test_projects_routes.py
Labels: backend

fix(backend): parsing of hashtags (allow separation by comma, space, or semicolon) (#1607)
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/tests/conftest.py
  src/backend/tests/test_projects_routes.py
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/store/types/ICreateProject.ts
Labels: frontend, backend

fix(backend): parsing of hashtags (allow separation by comma, space, or semicolon) (#1607)
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/tests/conftest.py
  src/backend/tests/test_projects_routes.py
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/store/types/ICreateProject.ts
Labels: frontend, backend

fix(featureSelectionPopup): allow any users to map feature (#1612)
  src/frontend/src/components/ProjectDetailsV2/FeatureSelectionPopup.tsx
Labels: frontend

fix(featureSelectionPopup): allow any users to map feature (#1612)
  src/frontend/src/components/ProjectDetailsV2/FeatureSelectionPopup.tsx
Labels: frontend

docs: add link to usage video / demo
  docs/manuals/videos.md
Labels: documentation

docs: add link to usage video / demo
  docs/manuals/videos.md
Labels: documentation

docs: add sidebar link to videos page on docs
  docs/manuals/videos.md
  mkdocs.yml
Labels: documentation

docs: add sidebar link to videos page on docs
  docs/manuals/videos.md
  mkdocs.yml
Labels: documentation

docs: use iframe embed for vide on docs page
  docs/manuals/videos.md
Labels: documentation

docs: use iframe embed for vide on docs page
  docs/manuals/videos.md
Labels: documentation

feat: implement global jwt token authentication for login (#1574)
  .env.example
  .gitignore
  INSTALL.md
  chart/README.md
  docs/dev/Setup.md
  docs/dev/Troubleshooting.md
  scripts/gen-env.sh
  src/backend/app/auth/auth_routes.py
  src/backend/app/auth/auth_schemas.py
  src/backend/app/auth/osm.py
  src/backend/app/auth/roles.py
  src/backend/app/config.py
  src/backend/app/db/postgis_utils.py
  src/backend/app/helpers/helper_routes.py
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/organisations/organisation_routes.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/submissions/submission_routes.py
  src/backend/app/tasks/tasks_crud.py
  src/backend/app/tasks/tasks_routes.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/backend/tests/conftest.py
  src/backend/tests/test_projects_routes.py
  src/frontend/src/App.tsx
  src/frontend/src/store/types/ILogin.ts
Labels: frontend, backend, devops, documentation

feat: implement global jwt token authentication for login (#1574)
  .env.example
  .gitignore
  INSTALL.md
  chart/README.md
  docs/dev/Setup.md
  docs/dev/Troubleshooting.md
  scripts/gen-env.sh
  src/backend/app/auth/auth_routes.py
  src/backend/app/auth/auth_schemas.py
  src/backend/app/auth/osm.py
  src/backend/app/auth/roles.py
  src/backend/app/config.py
  src/backend/app/db/postgis_utils.py
  src/backend/app/helpers/helper_routes.py
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/organisations/organisation_routes.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/submissions/submission_routes.py
  src/backend/app/tasks/tasks_crud.py
  src/backend/app/tasks/tasks_routes.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/backend/tests/conftest.py
  src/backend/tests/test_projects_routes.py
  src/frontend/src/App.tsx
  src/frontend/src/store/types/ILogin.ts
Labels: frontend, backend, devops, documentation

refactor: fix refs to project_admin --> project_manager after PR merge
  src/backend/app/central/central_routes.py
Labels: backend

refactor: fix refs to project_admin --> project_manager after PR merge
  src/backend/app/central/central_routes.py
Labels: backend

fix(backend): add INVALIDATED status option back in (#1618)
  src/backend/app/models/enums.py
Labels: backend

fix(backend): add INVALIDATED status option back in (#1618)
  src/backend/app/models/enums.py
Labels: backend

build: updated default values in the database (#1596)
  src/backend/migrations/004-update-default-values.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/migrations/revert/004-update-default-values.sql
Labels: backend, migration

build: updated default values in the database (#1596)
  src/backend/migrations/004-update-default-values.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/migrations/revert/004-update-default-values.sql
Labels: backend, migration

refactor: replace RS256 jwt signing with simpler HS384 (#1622)
  .env.example
  chart/README.md
  docs/dev/Troubleshooting.md
  scripts/gen-env.sh
  src/backend/app/auth/osm.py
  src/backend/app/config.py
  src/frontend/src/App.tsx
Labels: frontend, backend, devops, documentation

refactor: replace RS256 jwt signing with simpler HS384 (#1622)
  .env.example
  chart/README.md
  docs/dev/Troubleshooting.md
  scripts/gen-env.sh
  src/backend/app/auth/osm.py
  src/backend/app/config.py
  src/frontend/src/App.tsx
Labels: frontend, backend, devops, documentation

refactor: use pydantic model_dump over .json method
  src/backend/app/auth/auth_routes.py
Labels: backend

refactor: use pydantic model_dump over .json method
  src/backend/app/auth/auth_routes.py
Labels: backend

refactor: remove redundant logic for refresh token func
  src/backend/app/auth/osm.py
Labels: backend

refactor: remove redundant logic for refresh token func
  src/backend/app/auth/osm.py
Labels: backend

refactor: access_token expiry --> 1hr, refresh_token expiry --> 7 days
  src/backend/app/auth/osm.py
Labels: backend

refactor: access_token expiry --> 1hr, refresh_token expiry --> 7 days
  src/backend/app/auth/osm.py
Labels: backend

refactor: return access_token response to browser (in memory only)
  src/backend/app/auth/auth_routes.py
  src/backend/app/auth/auth_schemas.py
Labels: backend

refactor: return access_token response to browser (in memory only)
  src/backend/app/auth/auth_routes.py
  src/backend/app/auth/auth_schemas.py
Labels: backend

fix(hotfix): download of basemaps in ui, max zoom level 22 used for tms
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/frontend/src/api/Project.js
Labels: frontend, backend

fix(hotfix): download of basemaps in ui, max zoom level 22 used for tms
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/frontend/src/api/Project.js
Labels: frontend, backend

ci: update all gh-workflows to latest v1.6.0
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_ci_img.yml
  .github/workflows/build_odk_imgs.yml
  .github/workflows/build_proxy_imgs.yml
  .github/workflows/docs.yml
  .github/workflows/pr_test_backend.yml
  .github/workflows/pr_test_frontend.yml
  .github/workflows/tag_build.yml
  .github/workflows/wiki.yml
Labels: devops

ci: update all gh-workflows to latest v1.6.0
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_ci_img.yml
  .github/workflows/build_odk_imgs.yml
  .github/workflows/build_proxy_imgs.yml
  .github/workflows/docs.yml
  .github/workflows/pr_test_backend.yml
  .github/workflows/pr_test_frontend.yml
  .github/workflows/tag_build.yml
  .github/workflows/wiki.yml
Labels: devops

.github/labeler.yml:

"frontend":
  - "src/frontend/**/*"
"backend":
  - "src/backend/**/*"
"devops":
  - ".github/**/*"
  - "nginx/**/*"
  - "scripts/**/*"
  - "docker-*.yml"
  - "**/Dockerfile"
  - "**/*.dockerfile"
  - "**/*entrypoint.sh"
  - "Justfile"
"migration":
  - "src/backend/migrations/**/*"
"documentation":
  - "docs/**/*"
  - "images/**/*"
  - "mkdocs.yml"
  - "README.md"
  - "INSTALL.md"
"ODK":
  - "odkcentral/**/*"
"contrib":
  - "contrib/**/*"
