Repository hotosm/field-tm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, devops, migration, documentation, ODK, contrib

fix(frontend): hotfix allow access to project details without login (for qr codes)
  src/frontend/src/routes.jsx
Labels: frontend

fix(frontend): hotfix allow access to project details without login (for qr codes)
  src/frontend/src/routes.jsx
Labels: frontend

fix(frontend): hotfix allow access to project details without login (for qr codes)
  src/frontend/src/routes.jsx
Labels: frontend

fix(frontend): hotfix allow access to project details without login (for qr codes)
  src/frontend/src/routes.jsx
Labels: frontend

fix(frontend): only load my organisations once on tab click (#1287)
  src/frontend/src/views/Organisation.tsx
Labels: frontend

fix(frontend): only load my organisations once on tab click (#1287)
  src/frontend/src/views/Organisation.tsx
Labels: frontend

feat orgnazation View/Components: ts types add
  src/frontend/src/components/CreateEditOrganization/ConsentDetailsForm.tsx
  src/frontend/src/components/CreateEditOrganization/CreateEditOrganizationForm.tsx
  src/frontend/src/models/organisation/organisationModel.ts
  src/frontend/src/views/CreateEditOrganization.tsx
  src/frontend/src/views/Organisation.tsx
Labels: frontend

feat orgnazation View/Components: ts types add
  src/frontend/src/components/CreateEditOrganization/ConsentDetailsForm.tsx
  src/frontend/src/components/CreateEditOrganization/CreateEditOrganizationForm.tsx
  src/frontend/src/models/organisation/organisationModel.ts
  src/frontend/src/views/CreateEditOrganization.tsx
  src/frontend/src/views/Organisation.tsx
Labels: frontend

feat orgnazation View/Components: ts types add & use upAssSelector from reduxTypes
  src/frontend/src/components/ApproveOrganization/OrganizationForm.tsx
  src/frontend/src/components/CreateEditOrganization/ConsentDetailsForm.tsx
  src/frontend/src/components/CreateEditOrganization/CreateEditOrganizationForm.tsx
  src/frontend/src/store/slices/organisationSlice.ts
  src/frontend/src/store/types/IOrganisation.ts
  src/frontend/src/views/CreateEditOrganization.tsx
  src/frontend/src/views/CreateOrganisation.tsx
  src/frontend/src/views/Organisation.tsx
Labels: frontend

feat orgnazation View/Components: ts types add & use upAssSelector from reduxTypes
  src/frontend/src/components/ApproveOrganization/OrganizationForm.tsx
  src/frontend/src/components/CreateEditOrganization/ConsentDetailsForm.tsx
  src/frontend/src/components/CreateEditOrganization/CreateEditOrganizationForm.tsx
  src/frontend/src/store/slices/organisationSlice.ts
  src/frontend/src/store/types/IOrganisation.ts
  src/frontend/src/views/CreateEditOrganization.tsx
  src/frontend/src/views/CreateOrganisation.tsx
  src/frontend/src/views/Organisation.tsx
Labels: frontend

feat createNewProject View/Components: ts types add
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/views/CreateNewProject.tsx
  src/frontend/src/views/NewDefineAreaMap.tsx
Labels: frontend

feat createNewProject View/Components: ts types add
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/views/CreateNewProject.tsx
  src/frontend/src/views/NewDefineAreaMap.tsx
Labels: frontend

fix home: import createSlice & useAppSelector from reduxTypes
  src/frontend/src/components/home/HomePageFilters.tsx
  src/frontend/src/store/slices/HomeSlice.ts
  src/frontend/src/views/Home.tsx
Labels: frontend

fix home: import createSlice & useAppSelector from reduxTypes
  src/frontend/src/components/home/HomePageFilters.tsx
  src/frontend/src/store/slices/HomeSlice.ts
  src/frontend/src/views/Home.tsx
Labels: frontend

fix import: import createSlice from reduxjs/toolkit
  src/frontend/src/store/slices/CommonSlice.ts
  src/frontend/src/store/slices/ThemeSlice.ts
Labels: frontend

fix import: import createSlice from reduxjs/toolkit
  src/frontend/src/store/slices/CommonSlice.ts
  src/frontend/src/store/slices/ThemeSlice.ts
Labels: frontend

fix views: import createSlice reduxTypes & types add
  src/frontend/src/components/ProjectDetailsV2/TaskSectionPopup.tsx
  src/frontend/src/store/types/ISubmissions.ts
  src/frontend/src/views/ManageProject.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/frontend/src/views/SubmissionDetails.tsx
Labels: frontend

fix views: import createSlice reduxTypes & types add
  src/frontend/src/components/ProjectDetailsV2/TaskSectionPopup.tsx
  src/frontend/src/store/types/ISubmissions.ts
  src/frontend/src/views/ManageProject.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/frontend/src/views/SubmissionDetails.tsx
Labels: frontend

fix submissionComponent: import useAppSelector from reduxTypes
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/ProjectSubmissions/TaskSubmissions.tsx
  src/frontend/src/components/ProjectSubmissions/TaskSubmissionsMap.tsx
  src/frontend/src/models/submission/submissionModel.ts
  src/frontend/src/store/slices/SubmissionSlice.ts
  src/frontend/src/store/types/ISubmissions.ts
Labels: frontend

fix submissionComponent: import useAppSelector from reduxTypes
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/ProjectSubmissions/TaskSubmissions.tsx
  src/frontend/src/components/ProjectSubmissions/TaskSubmissionsMap.tsx
  src/frontend/src/models/submission/submissionModel.ts
  src/frontend/src/store/slices/SubmissionSlice.ts
  src/frontend/src/store/types/ISubmissions.ts
Labels: frontend

fix projectDetails: use useAppSelector from reduxTypes instead of coreModules
  src/frontend/src/components/ProjectDetailsV2/ActivitiesPanel.tsx
  src/frontend/src/components/ProjectDetailsV2/MapControlComponent.tsx
  src/frontend/src/components/ProjectDetailsV2/MobileActivitiesContents.tsx
  src/frontend/src/components/ProjectDetailsV2/MobileFooter.tsx
  src/frontend/src/components/ProjectDetailsV2/ProjectInfo.tsx
  src/frontend/src/models/project/projectModel.ts
  src/frontend/src/store/Store.ts
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

fix projectDetails: use useAppSelector from reduxTypes instead of coreModules
  src/frontend/src/components/ProjectDetailsV2/ActivitiesPanel.tsx
  src/frontend/src/components/ProjectDetailsV2/MapControlComponent.tsx
  src/frontend/src/components/ProjectDetailsV2/MobileActivitiesContents.tsx
  src/frontend/src/components/ProjectDetailsV2/MobileFooter.tsx
  src/frontend/src/components/ProjectDetailsV2/ProjectInfo.tsx
  src/frontend/src/models/project/projectModel.ts
  src/frontend/src/store/Store.ts
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

feat: add global state for `toggleGenerateMbTiles` modal and add types for it
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/store/types/IProject.ts
Labels: frontend

feat: add global state for `toggleGenerateMbTiles` modal and add types for it
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/store/types/IProject.ts
Labels: frontend

feat: replace local `useState` for generating mb tile modal with global state
  src/frontend/src/components/GenerateBasemap.jsx
  src/frontend/src/components/ProjectDetailsV2/ProjectOptions.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

feat: replace local `useState` for generating mb tile modal with global state
  src/frontend/src/components/GenerateBasemap.jsx
  src/frontend/src/components/ProjectDetailsV2/ProjectOptions.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

feat: implement opening the generate tiles modal when download in qr is clicked
  src/frontend/src/components/ProjectDetailsV2/TaskSectionPopup.tsx
Labels: frontend

feat: implement opening the generate tiles modal when download in qr is clicked
  src/frontend/src/components/ProjectDetailsV2/TaskSectionPopup.tsx
Labels: frontend

hotfix: updated the xform in form fields (#1298)
  src/backend/app/submissions/submission_routes.py
Labels: backend

hotfix: updated the xform in form fields (#1298)
  src/backend/app/submissions/submission_routes.py
Labels: backend

build: add encrypter docker image utils to contrib
  contrib/encrypter/Dockerfile
  contrib/encrypter/README.md
  contrib/encrypter/build.sh
  contrib/encrypter/encrypter.py
Labels: devops, contrib

build: add encrypter docker image utils to contrib
  contrib/encrypter/Dockerfile
  contrib/encrypter/README.md
  contrib/encrypter/build.sh
  contrib/encrypter/encrypter.py
Labels: devops, contrib

docs: add help text for qrcode util contrib
  contrib/qrcode_util/README.md
Labels: contrib

docs: add help text for qrcode util contrib
  contrib/qrcode_util/README.md
Labels: contrib

build: add mdx-truly-sane-lists as docs dependency
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

build: add mdx-truly-sane-lists as docs dependency
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

docs: add qrcode converter to docs
  docs/qrcode-util.md
  mkdocs.yml
Labels: documentation

docs: add qrcode converter to docs
  docs/qrcode-util.md
  mkdocs.yml
Labels: documentation

docs: add logo and favicon to docs page
  docs/images/favicon.png
  docs/images/hot_logo.png
  mkdocs.yml
Labels: documentation

docs: add logo and favicon to docs page
  docs/images/favicon.png
  docs/images/hot_logo.png
  mkdocs.yml
Labels: documentation

.github/labeler.yml:

"frontend":
  - "src/frontend/**/*"
"backend":
  - "src/backend/**/*"
"devops":
  - ".github/**/*"
  - "nginx/**/*"
  - "scripts/**/*"
  - "docker-*.yml"
  - "**/Dockerfile"
  - "**/*.dockerfile"
  - "**/*entrypoint.sh"
  - "Justfile"
"migration":
  - "src/backend/migrations/**/*"
"documentation":
  - "docs/**/*"
  - "images/**/*"
  - "mkdocs.yml"
  - "README.md"
  - "INSTALL.md"
"ODK":
  - "odkcentral/**/*"
"contrib":
  - "contrib/**/*"
