Repository hotosm/field-tm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, devops, migration, docs, ODK, contrib, tests

feat(backend): replace nominatim usage with pg-nearest-city reverse-geocode (#2199)
  src/backend/app/db/languages_and_countries.py
  src/backend/app/db/postgis_utils.py
  src/backend/app/main.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/pyproject.toml
  src/backend/tests/test_projects_routes.py
  src/backend/uv.lock
Labels: backend, tests

fix(backend): update role to project admin to fetch user list (#2203)
  src/backend/app/users/user_routes.py
Labels: backend

fix(backend): update role to project admin to fetch user list (#2203)
  src/backend/app/users/user_routes.py
Labels: backend

Revert "chore(deps): lock file maintenance (#2202)" (#2205)
  contrib/tunnel/button/pnpm-lock.yaml
  src/backend/uv.lock
  src/frontend/pnpm-lock.yaml
  src/mapper/pnpm-lock.yaml
Labels: frontend, backend, contrib

Revert "chore(deps): lock file maintenance (#2202)" (#2205)
  contrib/tunnel/button/pnpm-lock.yaml
  src/backend/uv.lock
  src/frontend/pnpm-lock.yaml
  src/mapper/pnpm-lock.yaml
Labels: frontend, backend, contrib

ci: disable renovate lockfile maintenance, related #2205
  renovate.json
Labels: none

ci: disable renovate lockfile maintenance, related #2205
  renovate.json
Labels: none

feat(backend): replace custom ODK submission media upload with official external storage (S3) (#1894)
  .env.example
  compose.yaml
  contrib/s3_browser/compose.yaml
  deploy/compose.development.yaml
  deploy/compose.main.yaml
  docs/dev/Backend.md
  odkcentral/api/Dockerfile
  odkcentral/api/container-entrypoint.sh
  odkcentral/api/init-user-and-start.sh
  src/backend/app-entrypoint.sh
  src/backend/app/central/central_deps.py
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
  src/backend/migrate-entrypoint.sh
  src/backend/pyproject.toml
  src/backend/uv.lock
  src/frontend/src/api/Submission.ts
  src/frontend/src/store/slices/SubmissionSlice.ts
  src/frontend/src/store/types/ISubmissions.ts
Labels: frontend, backend, devops, docs, ODK, contrib

feat(backend): replace custom ODK submission media upload with official external storage (S3) (#1894)
  .env.example
  compose.yaml
  contrib/s3_browser/compose.yaml
  deploy/compose.development.yaml
  deploy/compose.main.yaml
  docs/dev/Backend.md
  odkcentral/api/Dockerfile
  odkcentral/api/container-entrypoint.sh
  odkcentral/api/init-user-and-start.sh
  src/backend/app-entrypoint.sh
  src/backend/app/central/central_deps.py
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
  src/backend/migrate-entrypoint.sh
  src/backend/pyproject.toml
  src/backend/uv.lock
  src/frontend/src/api/Submission.ts
  src/frontend/src/store/slices/SubmissionSlice.ts
  src/frontend/src/store/types/ISubmissions.ts
Labels: frontend, backend, devops, docs, ODK, contrib

build: update minio version for Central S3 PR to match others
  odkcentral/api/Dockerfile
Labels: devops, ODK

build: update minio version for Central S3 PR to match others
  odkcentral/api/Dockerfile
Labels: devops, ODK

build: update pg-nearest-city --> 0.2.1 to avoid deprecation warnings
  src/backend/pyproject.toml
  src/backend/uv.lock
Labels: backend

build: update pg-nearest-city --> 0.2.1 to avoid deprecation warnings
  src/backend/pyproject.toml
  src/backend/uv.lock
Labels: backend

build: update to latest osm-fieldwork --> 0.20.4 for save_to fix
  src/backend/pyproject.toml
  src/backend/uv.lock
Labels: backend

build: update to latest osm-fieldwork --> 0.20.4 for save_to fix
  src/backend/pyproject.toml
  src/backend/uv.lock
Labels: backend

refactor(frontend): update link to custom ODK Collect --> v2024.3.5 (entity refresh on load)
  src/backend/app/db/postgis_utils.py
  src/frontend/src/utilities/CustomDrawer.tsx
  src/mapper/src/constants/drawerItems.ts
Labels: frontend, backend

refactor(frontend): update link to custom ODK Collect --> v2024.3.5 (entity refresh on load)
  src/backend/app/db/postgis_utils.py
  src/frontend/src/utilities/CustomDrawer.tsx
  src/mapper/src/constants/drawerItems.ts
Labels: frontend, backend

feat: finalise S3 submission photos on backend + frontend (#2211)
  nginx/templates/dev/minio.conf.template
  src/backend/app/db/models.py
  src/backend/app/db/postgis_utils.py
  src/backend/app/submissions/submission_crud.py
  src/backend/migrations/003-remove-submission-photos.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/frontend/src/components/common/ImageSlider.tsx
  src/frontend/src/utilities/CustomDrawer.tsx
  src/frontend/src/views/SubmissionDetails.tsx
  src/mapper/src/constants/drawerItems.ts
Labels: frontend, backend, devops, migration

feat: finalise S3 submission photos on backend + frontend (#2211)
  nginx/templates/dev/minio.conf.template
  src/backend/app/db/models.py
  src/backend/app/db/postgis_utils.py
  src/backend/app/submissions/submission_crud.py
  src/backend/migrations/003-remove-submission-photos.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/frontend/src/components/common/ImageSlider.tsx
  src/frontend/src/utilities/CustomDrawer.tsx
  src/frontend/src/views/SubmissionDetails.tsx
  src/mapper/src/constants/drawerItems.ts
Labels: frontend, backend, devops, migration

build(central): modify schedule uploading submission photos to every 10 minutes
  odkcentral/api/Dockerfile
Labels: devops, ODK

build(central): modify schedule uploading submission photos to every 10 minutes
  odkcentral/api/Dockerfile
Labels: devops, ODK

refactor(frontend): replace old button with new button components (#2212)
  src/frontend/src/api/task.ts
  src/frontend/src/components/ApproveOrganization/OrganizationForm.tsx
  src/frontend/src/components/CreateEditOrganization/ConsentDetailsForm.tsx
  src/frontend/src/components/CreateEditOrganization/CreateEditOrganizationForm.tsx
  src/frontend/src/components/DataConflation/ConflationMap/index.tsx
  src/frontend/src/components/DataConflation/SubmissionConflation/MergeAttributes.tsx
  src/frontend/src/components/DataConflation/SubmissionConflation/index.tsx
  src/frontend/src/components/DataConflation/TaskInfo.tsx
  src/frontend/src/components/DialogTaskActions.tsx
  src/frontend/src/components/ManageProject/DeleteTab/ProjectDeleteTab.tsx
  src/frontend/src/components/ManageProject/EditTab/FormUpdateTab.tsx
  src/frontend/src/components/ManageProject/EditTab/ProjectDescriptionTab.tsx
  src/frontend/src/components/ManageProject/UserTab/AssignTab.tsx
  src/frontend/src/components/ManageProject/UserTab/InviteTab.tsx
  src/frontend/src/components/ProjectDetailsV2/Comments.tsx
  src/frontend/src/components/ProjectDetailsV2/FeatureSelectionPopup.tsx
  src/frontend/src/components/ProjectDetailsV2/MobileProjectInfoContent.tsx
  src/frontend/src/components/ProjectDetailsV2/ProjectOptions.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/ProjectSubmissions/TaskSubmissions.tsx
  src/frontend/src/components/ProjectSubmissions/UpdateReviewStatusModal.tsx
  src/frontend/src/components/common/Button.tsx
  src/frontend/src/components/common/Button2.tsx
  src/frontend/src/components/common/Editor/Toolbar.tsx
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
  src/frontend/src/components/home/HomePageFilters.tsx
  src/frontend/src/environment.ts
  src/frontend/src/utilities/PrimaryAppBar.tsx
  src/frontend/src/views/ErrorBoundary.tsx
  src/frontend/src/views/NotFound404.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/frontend/src/views/ProjectNotFound.tsx
  src/frontend/src/views/SubmissionDetails.tsx
Labels: frontend

refactor(frontend): replace old button with new button components (#2212)
  src/frontend/src/api/task.ts
  src/frontend/src/components/ApproveOrganization/OrganizationForm.tsx
  src/frontend/src/components/CreateEditOrganization/ConsentDetailsForm.tsx
  src/frontend/src/components/CreateEditOrganization/CreateEditOrganizationForm.tsx
  src/frontend/src/components/DataConflation/ConflationMap/index.tsx
  src/frontend/src/components/DataConflation/SubmissionConflation/MergeAttributes.tsx
  src/frontend/src/components/DataConflation/SubmissionConflation/index.tsx
  src/frontend/src/components/DataConflation/TaskInfo.tsx
  src/frontend/src/components/DialogTaskActions.tsx
  src/frontend/src/components/ManageProject/DeleteTab/ProjectDeleteTab.tsx
  src/frontend/src/components/ManageProject/EditTab/FormUpdateTab.tsx
  src/frontend/src/components/ManageProject/EditTab/ProjectDescriptionTab.tsx
  src/frontend/src/components/ManageProject/UserTab/AssignTab.tsx
  src/frontend/src/components/ManageProject/UserTab/InviteTab.tsx
  src/frontend/src/components/ProjectDetailsV2/Comments.tsx
  src/frontend/src/components/ProjectDetailsV2/FeatureSelectionPopup.tsx
  src/frontend/src/components/ProjectDetailsV2/MobileProjectInfoContent.tsx
  src/frontend/src/components/ProjectDetailsV2/ProjectOptions.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/ProjectSubmissions/TaskSubmissions.tsx
  src/frontend/src/components/ProjectSubmissions/UpdateReviewStatusModal.tsx
  src/frontend/src/components/common/Button.tsx
  src/frontend/src/components/common/Button2.tsx
  src/frontend/src/components/common/Editor/Toolbar.tsx
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
  src/frontend/src/components/home/HomePageFilters.tsx
  src/frontend/src/environment.ts
  src/frontend/src/utilities/PrimaryAppBar.tsx
  src/frontend/src/views/ErrorBoundary.tsx
  src/frontend/src/views/NotFound404.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/frontend/src/views/ProjectNotFound.tsx
  src/frontend/src/views/SubmissionDetails.tsx
Labels: frontend

fix(frontend): inconsistent task history names and styling (#2217)
  src/frontend/src/components/MapLegends.tsx
  src/frontend/src/components/ProjectDetailsV2/ActivitiesPanel.tsx
  src/frontend/src/store/slices/ThemeSlice.ts
  src/frontend/src/types/enums.ts
Labels: frontend

fix(frontend): inconsistent task history names and styling (#2217)
  src/frontend/src/components/MapLegends.tsx
  src/frontend/src/components/ProjectDetailsV2/ActivitiesPanel.tsx
  src/frontend/src/store/slices/ThemeSlice.ts
  src/frontend/src/types/enums.ts
Labels: frontend

fix: add project create feature warning (10,000) and limit (30,000) (#2215)
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/hooks/useForm.tsx
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
Labels: frontend, backend

fix: add project create feature warning (10,000) and limit (30,000) (#2215)
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/hooks/useForm.tsx
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
Labels: frontend, backend

fix(submissionDetails): display submission images on the submission field itself (#2216)
  src/frontend/src/api/Submission.ts
  src/frontend/src/views/SubmissionDetails.tsx
Labels: frontend

fix(submissionDetails): display submission images on the submission field itself (#2216)
  src/frontend/src/api/Submission.ts
  src/frontend/src/views/SubmissionDetails.tsx
Labels: frontend

feat(backend): add task scheduler to backend services (cron jobs) (#2147)
  compose.yaml
  deploy/compose.development.yaml
  deploy/compose.main.yaml
  deploy/compose.staging.yaml
  src/backend/.dockerignore
  src/backend/Dockerfile
  src/backend/app/tasks/task_routes.py
  src/backend/app/users/user_crud.py
  src/backend/app/users/user_routes.py
  src/backend/scheduler/inactive_users.py
  src/backend/scheduler/unlock_tasks.py
Labels: backend, devops

feat(backend): add task scheduler to backend services (cron jobs) (#2147)
  compose.yaml
  deploy/compose.development.yaml
  deploy/compose.main.yaml
  deploy/compose.staging.yaml
  src/backend/.dockerignore
  src/backend/Dockerfile
  src/backend/app/tasks/task_routes.py
  src/backend/app/users/user_crud.py
  src/backend/app/users/user_routes.py
  src/backend/scheduler/inactive_users.py
  src/backend/scheduler/unlock_tasks.py
Labels: backend, devops

build: fix scheduler dev compose service mount points
  deploy/compose.development.yaml
Labels: none

build: fix scheduler dev compose service mount points
  deploy/compose.development.yaml
Labels: none

build: remove mounts from local compose scheduler, add to api
  compose.yaml
  deploy/compose.development.yaml
Labels: none

build: remove mounts from local compose scheduler, add to api
  compose.yaml
  deploy/compose.development.yaml
Labels: none

fix(taskSelectionPopup): update task popup task state label
  src/frontend/src/components/ProjectDetailsV2/TaskSelectionPopup.tsx
Labels: frontend

fix(taskSelectionPopup): update task popup task state label
  src/frontend/src/components/ProjectDetailsV2/TaskSelectionPopup.tsx
Labels: frontend

build: correctly set default S3_SERVER for central compose svc
  deploy/compose.development.yaml
Labels: none

build: correctly set default S3_SERVER for central compose svc
  deploy/compose.development.yaml
Labels: none

feat(frontend): task comments for individual features( #2218)
  src/frontend/src/components/ProjectDetailsV2/Comments.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/ProjectSubmissions/UpdateReviewStatusModal.tsx
  src/frontend/src/components/SubmissionInstance/SubmissionComments.tsx
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/store/types/ISubmissions.ts
  src/frontend/src/views/SubmissionDetails.tsx
  src/mapper/src/lib/components/dialog-entities-actions.svelte
  src/mapper/src/lib/components/more/index.svelte
  src/mapper/src/store/entities.svelte.ts
Labels: frontend

.github/labeler.yml:

bug:
  # Branch starts with `fix` or has a `fix` in the name
  - head-branch: ["^fix", "fix"]
enhancement:
  - head-branch:
      ["^feature", "feature", "^feat", "feat", "^refactor", "refactor"]
frontend:
  - changed-files:
      - any-glob-to-any-file: src/frontend/**
backend:
  - changed-files:
      - any-glob-to-any-file: src/backend/**
devops:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**
          - nginx/**
          - scripts/**
          - docker-*.yml
          - ./**/Dockerfile
          - ./**/.dockerfile
          - ./**/*entrypoint.sh
          - ./**/Justfile
migration:
  - changed-files:
      - any-glob-to-any-file: src/backend/migrations/**
docs:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**
          - images/**
          - mkdocs.yml
          - README.md
          - INSTALL.md
ODK:
  - changed-files:
      - any-glob-to-any-file: odkcentral/**
contrib:
  - changed-files:
      - any-glob-to-any-file: contrib/**
tests:
  - changed-files:
      - any-glob-to-any-file:
          - src/backend/tests/**
          - src/frontend/tests/**
          - src/frontend/e2e/**
