Repository hotosm/field-tm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, devops, migration, docs, ODK, contrib, tests

feat: add submission ids in entities statuses endpoint (#2038)
  src/backend/app/central/central_crud.py
Labels: backend

feat: add submission ids in entities statuses endpoint (#2038)
  src/backend/app/central/central_crud.py
Labels: backend

Implement user invitation functionality for projects via OSM messages (#2019)
  src/backend/app/auth/providers/osm.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
Labels: backend

Implement user invitation functionality for projects via OSM messages (#2019)
  src/backend/app/auth/providers/osm.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
Labels: backend

fix(createProjecSlice): clear additionalFeatureGeojson state after successful project creation (#2041)
  src/frontend/src/store/slices/CreateProjectSlice.ts
Labels: frontend

fix(createProjecSlice): clear additionalFeatureGeojson state after successful project creation (#2041)
  src/frontend/src/store/slices/CreateProjectSlice.ts
Labels: frontend

Fix/project pagination and search (#2039)
  src/backend/app/db/models.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
Labels: backend

Fix/project pagination and search (#2039)
  src/backend/app/db/models.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
Labels: backend

Latest task event container minor style change + Addition of latest task event on mobile screen (#2035)
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/routes/[projectId]/+page.svelte
Labels: none

Latest task event container minor style change + Addition of latest task event on mobile screen (#2035)
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/routes/[projectId]/+page.svelte
Labels: none

Feature validation button add (#2040)
  src/frontend/src/api/Project.ts
  src/frontend/src/components/ProjectDetailsV2/ActivitiesPanel.tsx
  src/frontend/src/components/ProjectDetailsV2/FeatureSelectionPopup.tsx
  src/frontend/src/components/ProjectDetailsV2/MobileFooter.tsx
  src/frontend/src/components/ProjectDetailsV2/TaskSelectionPopup.tsx
  src/frontend/src/components/common/BottomSheet.tsx
  src/frontend/src/models/project/projectModel.ts
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/views/MainView.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/frontend/src/views/ProjectSubmissions.tsx
Labels: frontend

Feature validation button add (#2040)
  src/frontend/src/api/Project.ts
  src/frontend/src/components/ProjectDetailsV2/ActivitiesPanel.tsx
  src/frontend/src/components/ProjectDetailsV2/FeatureSelectionPopup.tsx
  src/frontend/src/components/ProjectDetailsV2/MobileFooter.tsx
  src/frontend/src/components/ProjectDetailsV2/TaskSelectionPopup.tsx
  src/frontend/src/components/common/BottomSheet.tsx
  src/frontend/src/models/project/projectModel.ts
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/views/MainView.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/frontend/src/views/ProjectSubmissions.tsx
Labels: frontend

Update mapper workflow (#2043)
  src/frontend/src/components/ProjectDetailsV2/MapControlComponent.tsx
  src/frontend/src/components/home/ExploreProjectCard.tsx
  src/frontend/src/environment.ts
  src/frontend/src/shared/AssetModules.js
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/mapper/src/lib/components/map/main.svelte
Labels: frontend

Update mapper workflow (#2043)
  src/frontend/src/components/ProjectDetailsV2/MapControlComponent.tsx
  src/frontend/src/components/home/ExploreProjectCard.tsx
  src/frontend/src/environment.ts
  src/frontend/src/shared/AssetModules.js
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/mapper/src/lib/components/map/main.svelte
Labels: frontend

Auto basemap generation if tms url is input during project creation (#2027)
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
Labels: backend

Auto basemap generation if tms url is input during project creation (#2027)
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
Labels: backend

Automatic task lock on feature map & minor mapper frontend improvements (#2047)
  src/mapper/src/lib/components/dialog-entities-actions.svelte
  src/mapper/src/routes/[projectId]/+page.svelte
Labels: none

Automatic task lock on feature map & minor mapper frontend improvements (#2047)
  src/mapper/src/lib/components/dialog-entities-actions.svelte
  src/mapper/src/routes/[projectId]/+page.svelte
Labels: none

Refine submission table (#2045)
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
Labels: frontend

Refine submission table (#2045)
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
Labels: frontend

fix(dialog-entities-actions): show alert instead of turning on location on navigation
  src/mapper/src/lib/components/dialog-entities-actions.svelte
Labels: none

fix(dialog-entities-actions): show alert instead of turning on location on navigation
  src/mapper/src/lib/components/dialog-entities-actions.svelte
Labels: none

fix(geolocation): fetch routing api on every 10 seconds
  src/mapper/src/lib/components/map/geolocation.svelte
Labels: none

fix(geolocation): fetch routing api on every 10 seconds
  src/mapper/src/lib/components/map/geolocation.svelte
Labels: none

feat(geolocation): comments add
  src/mapper/src/lib/components/map/geolocation.svelte
Labels: none

feat(geolocation): comments add
  src/mapper/src/lib/components/map/geolocation.svelte
Labels: none

fix(generateBasemap): update tile source option value (#2050)
  src/frontend/src/components/GenerateBasemap.tsx
  src/frontend/src/environment.ts
Labels: frontend

fix(generateBasemap): update tile source option value (#2050)
  src/frontend/src/components/GenerateBasemap.tsx
  src/frontend/src/environment.ts
Labels: frontend

create a table to store bad and new geoms (#2046)
  src/backend/app/db/enums.py
  src/backend/app/db/models.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/migrations/002-create-geometry-log.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/migrations/revert/002-create-geometry-log.sql
Labels: backend, migration

create a table to store bad and new geoms (#2046)
  src/backend/app/db/enums.py
  src/backend/app/db/models.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/migrations/002-create-geometry-log.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/migrations/revert/002-create-geometry-log.sql
Labels: backend, migration

Create migration of geomstatus enum, delete geometries api (#2052)
  src/backend/app/db/models.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/migrations/002-create-geometry-log.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/migrations/revert/002-create-geometry-log.sql
Labels: backend, migration

Create migration of geomstatus enum, delete geometries api (#2052)
  src/backend/app/db/models.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/migrations/002-create-geometry-log.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/migrations/revert/002-create-geometry-log.sql
Labels: backend, migration

docs: add faq info about using different odk central instances
  README.md
  docs/about/faq.md
Labels: docs

docs: add faq info about using different odk central instances
  README.md
  docs/about/faq.md
Labels: docs

docs: add comment to org model about foreign key usage
  src/backend/app/db/models.py
Labels: backend

docs: add comment to org model about foreign key usage
  src/backend/app/db/models.py
Labels: backend

refactor: replace incorrect osm libya logo with official osm logo
  src/frontend/src/assets/images/project_icon.png
Labels: frontend

refactor: replace incorrect osm libya logo with official osm logo
  src/frontend/src/assets/images/project_icon.png
Labels: frontend

Fix/organisation (#2057)
  src/backend/app/organisations/organisation_schemas.py
  src/frontend/src/components/ApproveOrganization/OrganizationForm.tsx
  src/frontend/src/components/CreateEditOrganization/CreateEditOrganizationForm.tsx
  src/frontend/src/components/CreateEditOrganization/validation/OrganizationDetailsValidation.ts
Labels: frontend, backend

Fix/organisation (#2057)
  src/backend/app/organisations/organisation_schemas.py
  src/frontend/src/components/ApproveOrganization/OrganizationForm.tsx
  src/frontend/src/components/CreateEditOrganization/CreateEditOrganizationForm.tsx
  src/frontend/src/components/CreateEditOrganization/validation/OrganizationDetailsValidation.ts
Labels: frontend, backend

.github/labeler.yml:

bug:
  # Branch starts with `fix` or has a `fix` in the name
  - head-branch: ["^fix", "fix"]
enhancement:
  - head-branch:
      ["^feature", "feature", "^feat", "feat", "^refactor", "refactor"]
frontend:
  - changed-files:
      - any-glob-to-any-file: src/frontend/**
backend:
  - changed-files:
      - any-glob-to-any-file: src/backend/**
devops:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**
          - nginx/**
          - scripts/**
          - docker-*.yml
          - ./**/Dockerfile
          - ./**/.dockerfile
          - ./**/*entrypoint.sh
          - ./**/Justfile
migration:
  - changed-files:
      - any-glob-to-any-file: src/backend/migrations/**
docs:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**
          - images/**
          - mkdocs.yml
          - README.md
          - INSTALL.md
ODK:
  - changed-files:
      - any-glob-to-any-file: odkcentral/**
contrib:
  - changed-files:
      - any-glob-to-any-file: contrib/**
tests:
  - changed-files:
      - any-glob-to-any-file:
          - src/backend/tests/**
          - src/frontend/tests/**
          - src/frontend/e2e/**
