Repository hotosm/field-tm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, devops, migration, docs, ODK, contrib, tests

build: update osm-fieldwork --> 0.16.7 to avoid stripping dups from choices
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

build: update osm-fieldwork --> 0.16.7 to avoid stripping dups from choices
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

bump: version 2024.3.2 → 2024.4.0
  CHANGELOG.md
  chart/Chart.yaml
  src/backend/app/__version__.py
  src/backend/pyproject.toml
  src/frontend/package.json
Labels: frontend, backend

bump: version 2024.3.2 → 2024.4.0
  CHANGELOG.md
  chart/Chart.yaml
  src/backend/app/__version__.py
  src/backend/pyproject.toml
  src/frontend/package.json
Labels: frontend, backend

docs: Update project-managers.md
  docs/manuals/project-managers.md
Labels: docs

docs: Update project-managers.md
  docs/manuals/project-managers.md
Labels: docs

Update project-managers.md
  docs/manuals/project-managers.md
Labels: docs

Update project-managers.md
  docs/manuals/project-managers.md
Labels: docs

Update project-managers.md
  docs/manuals/project-managers.md
Labels: docs

Update project-managers.md
  docs/manuals/project-managers.md
Labels: docs

docs: update timeline md references to html tag
  docs/timeline.md
Labels: docs

docs: update timeline md references to html tag
  docs/timeline.md
Labels: docs

ci: update pre-commit hook versions
  .pre-commit-config.yaml
Labels: none

ci: update pre-commit hook versions
  .pre-commit-config.yaml
Labels: none

docs: update lint/formatting for project managers doc page
  docs/manuals/project-managers.md
Labels: docs

docs: update lint/formatting for project managers doc page
  docs/manuals/project-managers.md
Labels: docs

fix(submissionsTable): on filter reset, set task_id to null
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
Labels: frontend

fix(submissionsTable): on filter reset, set task_id to null
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
Labels: frontend

fix(editor): solve editor empty issue on manageProject on initial render
  src/frontend/src/components/common/Editor/Editor.tsx
Labels: frontend

fix(editor): solve editor empty issue on manageProject on initial render
  src/frontend/src/components/common/Editor/Editor.tsx
Labels: frontend

fix(createProject): xlsform key update, fix customForm upload issue
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/views/CreateNewProject.tsx
Labels: frontend

fix(createProject): xlsform key update, fix customForm upload issue
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/views/CreateNewProject.tsx
Labels: frontend

fix(qrcode): increase qrcode size
  src/frontend/src/components/ProjectDetailsV2/MapControlComponent.tsx
  src/frontend/src/components/QrcodeComponent.tsx
Labels: frontend

fix(qrcode): increase qrcode size
  src/frontend/src/components/ProjectDetailsV2/MapControlComponent.tsx
  src/frontend/src/components/QrcodeComponent.tsx
Labels: frontend

fix(dialogTaskActions): add task id filter on odk redirect
  src/frontend/src/components/DialogTaskActions.tsx
Labels: frontend

fix(dialogTaskActions): add task id filter on odk redirect
  src/frontend/src/components/DialogTaskActions.tsx
Labels: frontend

fix(QrcodeComponent): reduce qrcode skeleton size
  src/frontend/src/components/QrcodeComponent.tsx
Labels: frontend

fix(QrcodeComponent): reduce qrcode skeleton size
  src/frontend/src/components/QrcodeComponent.tsx
Labels: frontend

fix(files): cleanup function remove
  src/frontend/src/api/Files.ts
Labels: frontend

fix(files): cleanup function remove
  src/frontend/src/api/Files.ts
Labels: frontend

fix: updated osm-fieldwork -> 0.16.8 (#1814)
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

fix: updated osm-fieldwork -> 0.16.8 (#1814)
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

docs: update docs references to removed 'Getting Started' page
  docs/dev/Backend.md
Labels: docs

docs: update docs references to removed 'Getting Started' page
  docs/dev/Backend.md
Labels: docs

fix: dockerfile warning such as Casing and whitespace separator
  src/backend/Dockerfile
Labels: backend, devops

fix: dockerfile warning such as Casing and whitespace separator
  src/backend/Dockerfile
Labels: backend, devops

Update osm-fieldwork --> 0.16.9 for new entity creation fix (#1826)
  src/backend/Dockerfile
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend, devops

Update osm-fieldwork --> 0.16.9 for new entity creation fix (#1826)
  src/backend/Dockerfile
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend, devops

fix(backend): allow empty task id in entity statuses for new geopoint (#1822)
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_schemas.py
  src/backend/app/projects/project_crud.py
Labels: backend

fix(backend): allow empty task id in entity statuses for new geopoint (#1822)
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_schemas.py
  src/backend/app/projects/project_crud.py
Labels: backend

.github/labeler.yml:

bug:
  # Branch starts with `fix` or has a `fix` in the name
  - head-branch: ["^fix", "fix"]
enhancement:
  - head-branch:
      ["^feature", "feature", "^feat", "feat", "^refactor", "refactor"]
frontend:
  - changed-files:
      - any-glob-to-any-file: src/frontend/**
backend:
  - changed-files:
      - any-glob-to-any-file: src/backend/**
devops:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**
          - nginx/**
          - scripts/**
          - docker-*.yml
          - ./**/Dockerfile
          - ./**/.dockerfile
          - ./**/*entrypoint.sh
          - ./**/Justfile
migration:
  - changed-files:
      - any-glob-to-any-file: src/backend/migrations/**
docs:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**
          - images/**
          - mkdocs.yml
          - README.md
          - INSTALL.md
ODK:
  - changed-files:
      - any-glob-to-any-file: odkcentral/**
contrib:
  - changed-files:
      - any-glob-to-any-file: contrib/**
tests:
  - changed-files:
      - any-glob-to-any-file:
          - src/backend/tests/**
          - src/frontend/tests/**
          - src/frontend/e2e/**
