Repository hotosm/field-tm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, devops, migration, documentation, ODK, contrib

fix(backend): only access db once during task creation
  src/backend/app/projects/project_crud.py
Labels: backend

fix(backend): only access db once during task creation
  src/backend/app/projects/project_crud.py
Labels: backend

feat: add task_deps to get xform_name for a task
  src/backend/app/tasks/task_deps.py
Labels: backend

feat: add task_deps to get xform_name for a task
  src/backend/app/tasks/task_deps.py
Labels: backend

test: update tests to new efficient project create
  src/backend/tests/test_projects_routes.py
Labels: backend

test: update tests to new efficient project create
  src/backend/tests/test_projects_routes.py
Labels: backend

refactor: usage of form_category variable --> xform_title --> xform_name
  src/backend/app/projects/project_routes.py
  src/backend/app/submissions/submission_crud.py
  src/backend/app/tasks/tasks_routes.py
  src/frontend/src/views/ProjectSubmissions.tsx
Labels: frontend, backend

refactor: usage of form_category variable --> xform_title --> xform_name
  src/backend/app/projects/project_routes.py
  src/backend/app/submissions/submission_crud.py
  src/backend/app/tasks/tasks_routes.py
  src/frontend/src/views/ProjectSubmissions.tsx
Labels: frontend, backend

refactor: remove projects.xform_title completely, in favour of xform_category
  src/backend/app/central/central_crud.py
  src/backend/app/db/db_models.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
  src/backend/app/tasks/task_deps.py
  src/backend/app/tasks/tasks_routes.py
  src/backend/migrations/001-remove-complete-count.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/migrations/revert/001-remove-complete-count.sql
  src/backend/tests/conftest.py
  src/backend/tests/test_projects_routes.py
  src/frontend/src/api/Project.js
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/models/createproject/createProjectModel.ts
  src/frontend/src/models/project/projectModel.ts
  src/frontend/src/store/types/ICreateProject.ts
Labels: frontend, backend, migration

refactor: remove projects.xform_title completely, in favour of xform_category
  src/backend/app/central/central_crud.py
  src/backend/app/db/db_models.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
  src/backend/app/tasks/task_deps.py
  src/backend/app/tasks/tasks_routes.py
  src/backend/migrations/001-remove-complete-count.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/migrations/revert/001-remove-complete-count.sql
  src/backend/tests/conftest.py
  src/backend/tests/test_projects_routes.py
  src/frontend/src/api/Project.js
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/models/createproject/createProjectModel.ts
  src/frontend/src/models/project/projectModel.ts
  src/frontend/src/store/types/ICreateProject.ts
Labels: frontend, backend, migration

test: update create_project test to use random int in project name
  src/backend/tests/test_projects_routes.py
Labels: backend

test: update create_project test to use random int in project name
  src/backend/tests/test_projects_routes.py
Labels: backend

fix(frontend): decrease generate-log interval 2s --> 5s (server load)
  src/frontend/src/components/createnewproject/SplitTasks.tsx
Labels: frontend

fix(frontend): decrease generate-log interval 2s --> 5s (server load)
  src/frontend/src/components/createnewproject/SplitTasks.tsx
Labels: frontend

refactor(backend): add log after project xform update complete
  src/backend/app/central/central_crud.py
Labels: backend

refactor(backend): add log after project xform update complete
  src/backend/app/central/central_crud.py
Labels: backend

fix(backend): format of task_id in xform_name for getting submissions
  src/backend/app/tasks/tasks_routes.py
Labels: backend

fix(backend): format of task_id in xform_name for getting submissions
  src/backend/app/tasks/tasks_routes.py
Labels: backend

refactor(frontend): round creation progress to nearest percent
  src/frontend/src/components/common/ProgressBar.tsx
Labels: frontend

refactor(frontend): round creation progress to nearest percent
  src/frontend/src/components/common/ProgressBar.tsx
Labels: frontend

build: update osm-fieldwork --> 0.5.2 to fix uploadMedia
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

build: update osm-fieldwork --> 0.5.2 to fix uploadMedia
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

feat: add rich text editor project creation instructions field (#1311)
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/components/ManageProject/EditTab/ProjectDescriptionTab.tsx
  src/frontend/src/components/ManageProject/EditTab/index.tsx
  src/frontend/src/components/common/Editor/Editor.tsx
  src/frontend/src/components/common/Editor/Toolbar.tsx
  src/frontend/src/components/common/Editor/editorStyles.scss
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/shared/AssetModules.js
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
Labels: frontend

feat: add rich text editor project creation instructions field (#1311)
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/components/ManageProject/EditTab/ProjectDescriptionTab.tsx
  src/frontend/src/components/ManageProject/EditTab/index.tsx
  src/frontend/src/components/common/Editor/Editor.tsx
  src/frontend/src/components/common/Editor/Toolbar.tsx
  src/frontend/src/components/common/Editor/editorStyles.scss
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/shared/AssetModules.js
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
Labels: frontend

fix: redirect to loginPopup on Manage Organization click if user not signed in (#1322)
  src/frontend/src/api/OrganisationService.ts
  src/frontend/src/views/Organisation.tsx
Labels: frontend

fix: redirect to loginPopup on Manage Organization click if user not signed in (#1322)
  src/frontend/src/api/OrganisationService.ts
  src/frontend/src/views/Organisation.tsx
Labels: frontend

fix(frontend): project details improve UI responsiveness (#1321)
  src/frontend/src/components/MapComponent/OpenLayersComponent/Layers/VectorLayer.js
  src/frontend/src/components/ProjectDetailsV2/ProjectInfo.tsx
  src/frontend/src/components/ProjectSubmissions/TaskSubmissionsMap.tsx
Labels: frontend

fix(frontend): project details improve UI responsiveness (#1321)
  src/frontend/src/components/MapComponent/OpenLayersComponent/Layers/VectorLayer.js
  src/frontend/src/components/ProjectDetailsV2/ProjectInfo.tsx
  src/frontend/src/components/ProjectSubmissions/TaskSubmissionsMap.tsx
Labels: frontend

docs: update project creation workflow info in README.md (#1320)
  README.md
Labels: documentation

docs: update project creation workflow info in README.md (#1320)
  README.md
Labels: documentation

fix: submission detail of each task's submission (#1324)
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/views/SubmissionDetails.tsx
Labels: frontend, backend

fix: submission detail of each task's submission (#1324)
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/views/SubmissionDetails.tsx
Labels: frontend, backend

refactor: use pyxform fork for BytesIO XForm usage (#1327)
  src/backend/app/central/central_crud.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

refactor: use pyxform fork for BytesIO XForm usage (#1327)
  src/backend/app/central/central_crud.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

fix: update osm-fieldwork --> 0.5.3 for validateMedia fix
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

fix: update osm-fieldwork --> 0.5.3 for validateMedia fix
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

fix (backend): search projects endpoint (#1325)
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
Labels: backend

fix (backend): search projects endpoint (#1325)
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
Labels: backend

build: bump version string --> 2024.0.2 to prep for next release
  src/backend/app/__version__.py
  src/backend/pyproject.toml
  src/frontend/package.json
Labels: frontend, backend

build: bump version string --> 2024.0.2 to prep for next release
  src/backend/app/__version__.py
  src/backend/pyproject.toml
  src/frontend/package.json
Labels: frontend, backend

.github/labeler.yml:

"frontend":
  - "src/frontend/**/*"
"backend":
  - "src/backend/**/*"
"devops":
  - ".github/**/*"
  - "nginx/**/*"
  - "scripts/**/*"
  - "docker-*.yml"
  - "**/Dockerfile"
  - "**/*.dockerfile"
  - "**/*entrypoint.sh"
  - "Justfile"
"migration":
  - "src/backend/migrations/**/*"
"documentation":
  - "docs/**/*"
  - "images/**/*"
  - "mkdocs.yml"
  - "README.md"
  - "INSTALL.md"
"ODK":
  - "odkcentral/**/*"
"contrib":
  - "contrib/**/*"
