Repository hotosm/field-tm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, devops, migration, docs, ODK, contrib, tests

.github/labeler.yml:

bug:
  # Branch starts with `fix` or has a `fix` in the name
  - head-branch: ["^fix", "fix"]
enhancement:
  - head-branch:
      ["^feature", "feature", "^feat", "feat", "^refactor", "refactor"]
frontend:
  - changed-files:
      - any-glob-to-any-file: src/frontend/**
backend:
  - changed-files:
      - any-glob-to-any-file: src/backend/**
devops:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**
          - nginx/**
          - scripts/**
          - docker-*.yml
          - ./**/Dockerfile
          - ./**/.dockerfile
          - ./**/*entrypoint.sh
          - ./**/Justfile
migration:
  - changed-files:
      - any-glob-to-any-file: src/backend/migrations/**
docs:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**
          - images/**
          - mkdocs.yml
          - README.md
          - INSTALL.md
ODK:
  - changed-files:
      - any-glob-to-any-file: odkcentral/**
contrib:
  - changed-files:
      - any-glob-to-any-file: contrib/**
tests:
  - changed-files:
      - any-glob-to-any-file:
          - src/backend/tests/**
          - src/frontend/tests/**
          - src/frontend/e2e/**

feat(mapper): map new feature in odk btn (#1879)
  src/mapper/src/lib/components/dialog-task-actions.svelte
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/static/assets/icons/new-window.svg
Labels: none

feat(mapper): map new feature in odk btn (#1879)
  src/mapper/src/lib/components/dialog-task-actions.svelte
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/static/assets/icons/new-window.svg
Labels: none

feat(splitTasks): add total number of features on split tasks section (#1880)
  src/frontend/src/components/createnewproject/SplitTasks.tsx
Labels: frontend

feat(splitTasks): add total number of features on split tasks section (#1880)
  src/frontend/src/components/createnewproject/SplitTasks.tsx
Labels: frontend

fix(backend): building of extra cors origins, type mismatch
  src/backend/app/config.py
Labels: backend

fix(backend): building of extra cors origins, type mismatch
  src/backend/app/config.py
Labels: backend

fix(backend): fix permissions for backend project routes (#1885)
  src/backend/app/config.py
  src/backend/app/projects/project_routes.py
Labels: backend

fix(backend): fix permissions for backend project routes (#1885)
  src/backend/app/config.py
  src/backend/app/projects/project_routes.py
Labels: backend

feat(submission): add project_contributors dependency for permission … (#1873)
  src/backend/app/auth/roles.py
  src/backend/app/submissions/submission_routes.py
Labels: backend

feat(submission): add project_contributors dependency for permission … (#1873)
  src/backend/app/auth/roles.py
  src/backend/app/submissions/submission_routes.py
Labels: backend

fix(backend): create and delete organisation (#1867)
  src/backend/app/db/models.py
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/organisations/organisation_routes.py
  src/backend/app/organisations/organisation_schemas.py
Labels: backend

fix(backend): create and delete organisation (#1867)
  src/backend/app/db/models.py
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/organisations/organisation_routes.py
  src/backend/app/organisations/organisation_schemas.py
Labels: backend

fix(backend): update check_access logic to allow checking for org_manager to a project (#1892)
  src/backend/app/auth/roles.py
Labels: backend

fix(backend): update check_access logic to allow checking for org_manager to a project (#1892)
  src/backend/app/auth/roles.py
Labels: backend

fix: trailing slashes from endpoints, fix check_access for backend roles (#1893)
  .env.example
  INSTALL.md
  scripts/gen-env.sh
  src/backend/app/auth/auth_routes.py
  src/backend/app/auth/auth_schemas.py
  src/backend/app/auth/roles.py
  src/backend/app/config.py
  src/backend/app/db/database.py
  src/backend/app/db/models.py
  src/backend/app/main.py
  src/backend/app/organisations/organisation_routes.py
  src/backend/app/projects/project_routes.py
  src/backend/app/submissions/submission_routes.py
  src/backend/app/tasks/task_routes.py
  src/backend/app/users/user_routes.py
  src/backend/tests/test_organisation_routes.py
  src/backend/tests/test_projects_routes.py
  src/backend/tests/test_users.py
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/api/Project.ts
  src/frontend/src/components/ApproveOrganization/OrganizationForm.tsx
  src/frontend/src/components/CreateEditOrganization/CreateEditOrganizationForm.tsx
  src/frontend/src/components/DialogTaskActions.tsx
  src/frontend/src/components/GenerateBasemap.tsx
  src/frontend/src/components/ManageProject/EditTab/FormUpdateTab.tsx
  src/frontend/src/components/ProjectDetailsV2/Comments.tsx
  src/frontend/src/components/ProjectDetailsV2/ProjectOptions.tsx
  src/frontend/src/components/ProjectSubmissions/UpdateReviewStatusModal.tsx
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/utilfunctions/login.ts
  src/frontend/src/views/DataConflation.tsx
  src/frontend/src/views/Organisation.tsx
  src/frontend/src/views/OsmAuth.tsx
  src/frontend/src/views/ProjectSubmissions.tsx
  src/frontend/src/views/SubmissionDetails.tsx
  src/mapper/src/lib/db/events.ts
Labels: frontend, backend, devops, docs, tests

fix: trailing slashes from endpoints, fix check_access for backend roles (#1893)
  .env.example
  INSTALL.md
  scripts/gen-env.sh
  src/backend/app/auth/auth_routes.py
  src/backend/app/auth/auth_schemas.py
  src/backend/app/auth/roles.py
  src/backend/app/config.py
  src/backend/app/db/database.py
  src/backend/app/db/models.py
  src/backend/app/main.py
  src/backend/app/organisations/organisation_routes.py
  src/backend/app/projects/project_routes.py
  src/backend/app/submissions/submission_routes.py
  src/backend/app/tasks/task_routes.py
  src/backend/app/users/user_routes.py
  src/backend/tests/test_organisation_routes.py
  src/backend/tests/test_projects_routes.py
  src/backend/tests/test_users.py
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/api/Project.ts
  src/frontend/src/components/ApproveOrganization/OrganizationForm.tsx
  src/frontend/src/components/CreateEditOrganization/CreateEditOrganizationForm.tsx
  src/frontend/src/components/DialogTaskActions.tsx
  src/frontend/src/components/GenerateBasemap.tsx
  src/frontend/src/components/ManageProject/EditTab/FormUpdateTab.tsx
  src/frontend/src/components/ProjectDetailsV2/Comments.tsx
  src/frontend/src/components/ProjectDetailsV2/ProjectOptions.tsx
  src/frontend/src/components/ProjectSubmissions/UpdateReviewStatusModal.tsx
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/utilfunctions/login.ts
  src/frontend/src/views/DataConflation.tsx
  src/frontend/src/views/Organisation.tsx
  src/frontend/src/views/OsmAuth.tsx
  src/frontend/src/views/ProjectSubmissions.tsx
  src/frontend/src/views/SubmissionDetails.tsx
  src/mapper/src/lib/db/events.ts
Labels: frontend, backend, devops, docs, tests

fix(frontend): minor fixes including bottom sheet drag up (#1895)
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/mapper/src/app.html
Labels: frontend

fix(frontend): minor fixes including bottom sheet drag up (#1895)
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/mapper/src/app.html
Labels: frontend

build: replace `pdm` dependency solver with `uv` (#1891)
  .gitignore
  .pre-commit-config.yaml
  contrib/just/start/Justfile
  docker-compose.yml
  docs/dev/Backend.md
  docs/dev/Troubleshooting.md
  src/backend/.dockerignore
  src/backend/Dockerfile
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/backend/uv.lock
Labels: backend, devops, docs, contrib

build: replace `pdm` dependency solver with `uv` (#1891)
  .gitignore
  .pre-commit-config.yaml
  contrib/just/start/Justfile
  docker-compose.yml
  docs/dev/Backend.md
  docs/dev/Troubleshooting.md
  src/backend/.dockerignore
  src/backend/Dockerfile
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/backend/uv.lock
Labels: backend, devops, docs, contrib

fix(frontend): project creation wording form --> survey (#1858)
  src/frontend/e2e/01-create-new-project.spec.ts
  src/frontend/src/components/ManageProject/EditTab/FormUpdateTab.tsx
  src/frontend/src/components/MapComponent/OpenLayersComponent/LayerSwitcher/index.js
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
  src/frontend/src/components/createnewproject/validation/SelectFormValidation.tsx
  src/frontend/src/constants/StepFormConstants.ts
  src/frontend/src/constants/blockerUrl.ts
  src/frontend/src/routes.jsx
  src/frontend/src/views/CreateNewProject.tsx
Labels: frontend, tests

fix(frontend): project creation wording form --> survey (#1858)
  src/frontend/e2e/01-create-new-project.spec.ts
  src/frontend/src/components/ManageProject/EditTab/FormUpdateTab.tsx
  src/frontend/src/components/MapComponent/OpenLayersComponent/LayerSwitcher/index.js
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
  src/frontend/src/components/createnewproject/validation/SelectFormValidation.tsx
  src/frontend/src/constants/StepFormConstants.ts
  src/frontend/src/constants/blockerUrl.ts
  src/frontend/src/routes.jsx
  src/frontend/src/views/CreateNewProject.tsx
Labels: frontend, tests

build: minor fixes to backend dockerfile syntax
  src/backend/Dockerfile
Labels: backend, devops

build: minor fixes to backend dockerfile syntax
  src/backend/Dockerfile
Labels: backend, devops

build: update dockerfiles to avoid build warnings (lint)
  contrib/encrypter/Dockerfile
  contrib/josm/Dockerfile
  contrib/qrcode_util/Dockerfile
  src/Dockerfile.ui.prod
Labels: devops, contrib

build: update dockerfiles to avoid build warnings (lint)
  contrib/encrypter/Dockerfile
  contrib/josm/Dockerfile
  contrib/qrcode_util/Dockerfile
  src/Dockerfile.ui.prod
Labels: devops, contrib

ci: update all gh-workflows to latest --> 2.0.9
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_ci_img.yml
  .github/workflows/build_odk_imgs.yml
  .github/workflows/build_proxy_imgs.yml
  .github/workflows/docs.yml
  .github/workflows/pr_test_backend.yml
  .github/workflows/pr_test_frontend.yml
  .github/workflows/tag_build.yml
  .github/workflows/wiki.yml
Labels: devops

ci: update all gh-workflows to latest --> 2.0.9
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_ci_img.yml
  .github/workflows/build_odk_imgs.yml
  .github/workflows/build_proxy_imgs.yml
  .github/workflows/docs.yml
  .github/workflows/pr_test_backend.yml
  .github/workflows/pr_test_frontend.yml
  .github/workflows/tag_build.yml
  .github/workflows/wiki.yml
Labels: devops

feat(mapper): basemap layer switcher integration for maplibre (#1835)
  src/mapper/src/constants/baseLayers.ts
  src/mapper/src/lib/components/map/geolocation.svelte
  src/mapper/src/lib/components/map/layer-switcher.svelte
  src/mapper/src/lib/components/map/legend.svelte
  src/mapper/src/lib/components/map/main.svelte
Labels: none

feat(mapper): basemap layer switcher integration for maplibre (#1835)
  src/mapper/src/constants/baseLayers.ts
  src/mapper/src/lib/components/map/geolocation.svelte
  src/mapper/src/lib/components/map/layer-switcher.svelte
  src/mapper/src/lib/components/map/legend.svelte
  src/mapper/src/lib/components/map/main.svelte
Labels: none

refactor(logging): enhance error logging with stack information across multiple modules (#1887)
  src/backend/app/auth/auth_routes.py
  src/backend/app/auth/osm.py
  src/backend/app/auth/roles.py
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_routes.py
  src/backend/app/projects/project_crud.py
  src/backend/app/s3.py
Labels: backend

refactor(logging): enhance error logging with stack information across multiple modules (#1887)
  src/backend/app/auth/auth_routes.py
  src/backend/app/auth/osm.py
  src/backend/app/auth/roles.py
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_routes.py
  src/backend/app/projects/project_crud.py
  src/backend/app/s3.py
Labels: backend

fix(project): allow users to view project cards without login (#1902)
  src/backend/app/projects/project_routes.py
Labels: backend

fix(project): allow users to view project cards without login (#1902)
  src/backend/app/projects/project_routes.py
Labels: backend

build: allow manual override of OSM_LOGIN_REDIRECT_URI variable
  .env.example
Labels: none

build: allow manual override of OSM_LOGIN_REDIRECT_URI variable
  .env.example
Labels: none

docs: add freetown and mwanza to timeline, update example xlsforms
  docs/example-xlsforms/README.md
  docs/example-xlsforms/simple_building_survey_wildfires.xlsx
  docs/example-xlsforms/slum_assessment_survey.xlsx
  docs/timeline.md
Labels: docs

docs: add freetown and mwanza to timeline, update example xlsforms
  docs/example-xlsforms/README.md
  docs/example-xlsforms/simple_building_survey_wildfires.xlsx
  docs/example-xlsforms/slum_assessment_survey.xlsx
  docs/timeline.md
Labels: docs

fix(mapper): mobile broser map control placement fix (#1899)
  src/mapper/src/routes/[projectId]/+page.svelte
Labels: none

fix(mapper): mobile broser map control placement fix (#1899)
  src/mapper/src/routes/[projectId]/+page.svelte
Labels: none
