Repository hotosm/field-tm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, devops, migration, documentation, ODK, contrib

.github/labeler.yml:

"frontend":
  - "src/frontend/**/*"
"backend":
  - "src/backend/**/*"
"devops":
  - ".github/**/*"
  - "nginx/**/*"
  - "scripts/**/*"
  - "docker-*.yml"
  - "**/Dockerfile"
  - "**/*.dockerfile"
  - "**/*entrypoint.sh"
  - "Justfile"
"migration":
  - "src/backend/migrations/**/*"
"documentation":
  - "docs/**/*"
  - "images/**/*"
  - "mkdocs.yml"
  - "README.md"
  - "INSTALL.md"
"ODK":
  - "odkcentral/**/*"
"contrib":
  - "contrib/**/*"

Instructions in create and edit project (#1224)
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
Labels: backend

Instructions in create and edit project (#1224)
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
Labels: backend

fix editProject: formUpdate file extension spelling corrected to xlsx
  src/frontend/src/components/ManageProject/EditTab/FormUpdateTab.tsx
Labels: frontend

fix editProject: formUpdate file extension spelling corrected to xlsx
  src/frontend/src/components/ManageProject/EditTab/FormUpdateTab.tsx
Labels: frontend

fix header: activeTab selection based on url pathname
  src/frontend/src/utilities/PrimaryAppBar.tsx
Labels: frontend

fix header: activeTab selection based on url pathname
  src/frontend/src/utilities/PrimaryAppBar.tsx
Labels: frontend

refactor primaryAppBar: unnecessary commented code remove
  src/frontend/src/utilities/PrimaryAppBar.tsx
Labels: frontend

refactor primaryAppBar: unnecessary commented code remove
  src/frontend/src/utilities/PrimaryAppBar.tsx
Labels: frontend

feat: added approved in get organisation response (#1226)
  src/backend/app/organisations/organisation_schemas.py
Labels: backend

feat: added approved in get organisation response (#1226)
  src/backend/app/organisations/organisation_schemas.py
Labels: backend

feat assetModules: tuneIcon add
  src/frontend/src/shared/AssetModules.js
Labels: frontend

feat assetModules: tuneIcon add
  src/frontend/src/shared/AssetModules.js
Labels: frontend

feat shadcnDropdown: shadcn dropdown add
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/src/components/common/Dropdown.tsx
Labels: frontend

feat shadcnDropdown: shadcn dropdown add
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/src/components/common/Dropdown.tsx
Labels: frontend

fix select: zIndex add to selectContent
  src/frontend/src/components/common/Select.tsx
Labels: frontend

fix select: zIndex add to selectContent
  src/frontend/src/components/common/Select.tsx
Labels: frontend

fix submissionsFilter: UI enhancement
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
Labels: frontend

fix submissionsFilter: UI enhancement
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
Labels: frontend

fix submissionTable: logic add to handle Point & object to display dynamic table
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
Labels: frontend

fix submissionTable: logic add to handle Point & object to display dynamic table
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
Labels: frontend

feat submissionsTable: buttons add
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
Labels: frontend

feat submissionsTable: buttons add
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
Labels: frontend

fix modal: modal props type add
  src/frontend/src/components/common/Modal.tsx
Labels: frontend

fix modal: modal props type add
  src/frontend/src/components/common/Modal.tsx
Labels: frontend

fix taskService: josmService comment update
  src/frontend/src/api/task.ts
Labels: frontend

fix taskService: josmService comment update
  src/frontend/src/api/task.ts
Labels: frontend

feat projectSubmissions: uploadToJosm api integration & modalOpen on josmError
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
Labels: frontend

feat projectSubmissions: uploadToJosm api integration & modalOpen on josmError
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
Labels: frontend

fix: removed deps from delele org api (#1233)
  src/backend/app/organisations/organisation_routes.py
Labels: backend

fix: removed deps from delele org api (#1233)
  src/backend/app/organisations/organisation_routes.py
Labels: backend

fix dropdown: dropdownMenu UI fix
  src/frontend/src/components/common/Dropdown.tsx
Labels: frontend

fix dropdown: dropdownMenu UI fix
  src/frontend/src/components/common/Dropdown.tsx
Labels: frontend

feat submissionTable: download as csv & json dropdown add on download option
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
Labels: frontend

feat submissionTable: download as csv & json dropdown add on download option
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
Labels: frontend

fix taskService: axios get replace fetch for convertXMLToJOSM service
  src/frontend/src/api/task.ts
Labels: frontend

fix taskService: axios get replace fetch for convertXMLToJOSM service
  src/frontend/src/api/task.ts
Labels: frontend

fix: required odk credentials if no organisation default (#1205)
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/organisations/organisation_routes.py
  src/frontend/src/api/OrganisationService.ts
  src/frontend/src/components/ApproveOrganization/OrganizationForm.tsx
  src/frontend/src/components/CreateEditOrganization/CreateEditOrganizationForm.tsx
  src/frontend/src/components/CreateEditOrganization/validation/OrganizationDetailsValidation.ts
  src/frontend/src/components/common/Checkbox.tsx
  src/frontend/src/components/common/CustomDatePicker.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createnewproject/validation/CreateProjectValidation.tsx
  src/frontend/src/models/createproject/createProjectModel.ts
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/views/CreateEditOrganization.tsx
Labels: frontend, backend

fix: required odk credentials if no organisation default (#1205)
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/organisations/organisation_routes.py
  src/frontend/src/api/OrganisationService.ts
  src/frontend/src/components/ApproveOrganization/OrganizationForm.tsx
  src/frontend/src/components/CreateEditOrganization/CreateEditOrganizationForm.tsx
  src/frontend/src/components/CreateEditOrganization/validation/OrganizationDetailsValidation.ts
  src/frontend/src/components/common/Checkbox.tsx
  src/frontend/src/components/common/CustomDatePicker.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createnewproject/validation/CreateProjectValidation.tsx
  src/frontend/src/models/createproject/createProjectModel.ts
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/views/CreateEditOrganization.tsx
Labels: frontend, backend

feat (frontend,backend): my organisations tab implemented (#1227)
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/organisations/organisation_routes.py
  src/frontend/src/api/OrganisationService.ts
  src/frontend/src/components/organisation/OrganisationGridCard.tsx
  src/frontend/src/store/slices/organisationSlice.ts
  src/frontend/src/store/types/IOrganisation.ts
  src/frontend/src/views/Organisation.tsx
Labels: frontend, backend

feat (frontend,backend): my organisations tab implemented (#1227)
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/organisations/organisation_routes.py
  src/frontend/src/api/OrganisationService.ts
  src/frontend/src/components/organisation/OrganisationGridCard.tsx
  src/frontend/src/store/slices/organisationSlice.ts
  src/frontend/src/store/types/IOrganisation.ts
  src/frontend/src/views/Organisation.tsx
Labels: frontend, backend
