Repository hotosm/field-tm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, devops, migration, documentation, ODK, contrib

.github/labeler.yml:

"frontend":
  - "src/frontend/**/*"
"backend":
  - "src/backend/**/*"
"devops":
  - ".github/**/*"
  - "nginx/**/*"
  - "scripts/**/*"
  - "docker-*.yml"
  - "**/Dockerfile"
  - "**/*.dockerfile"
  - "**/*entrypoint.sh"
  - "Justfile"
"migration":
  - "src/backend/migrations/**/*"
"documentation":
  - "docs/**/*"
  - "images/**/*"
  - "mkdocs.yml"
  - "README.md"
  - "INSTALL.md"
"ODK":
  - "odkcentral/**/*"
"contrib":
  - "contrib/**/*"

fix(backend): run xform update in background task
  src/backend/app/projects/project_routes.py
Labels: backend

fix(backend): run xform update in background task
  src/backend/app/projects/project_routes.py
Labels: backend

refactor(backend): remove project boundary upload endpoint (not used)
  src/backend/app/projects/project_routes.py
Labels: backend

refactor(backend): remove project boundary upload endpoint (not used)
  src/backend/app/projects/project_routes.py
Labels: backend

refactor(backend): remove verbose logs on project home page
  src/backend/app/projects/project_crud.py
Labels: backend

refactor(backend): remove verbose logs on project home page
  src/backend/app/projects/project_crud.py
Labels: backend

refactor: remove verbose logs from task pydantic model
  src/backend/app/tasks/tasks_schemas.py
Labels: backend

refactor: remove verbose logs from task pydantic model
  src/backend/app/tasks/tasks_schemas.py
Labels: backend

fix(frontend): remove 'use client' react/nextjs delcarations from files
  src/frontend/src/components/common/Checkbox.tsx
  src/frontend/src/components/common/Modal.tsx
  src/frontend/src/components/common/ProgressBar.tsx
Labels: frontend

fix(frontend): remove 'use client' react/nextjs delcarations from files
  src/frontend/src/components/common/Checkbox.tsx
  src/frontend/src/components/common/Modal.tsx
  src/frontend/src/components/common/ProgressBar.tsx
Labels: frontend

feat: add simple ui to delete projects on frontend (#1314)
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/components/ManageProject/DeleteTab/ProjectDeleteTab.tsx
  src/frontend/src/components/ManageProject/DeleteTab/index.tsx
  src/frontend/src/utilfunctions/cookieUtils.ts
  src/frontend/src/utilities/ProtectedRoute.jsx
  src/frontend/src/views/ManageProject.tsx
  src/frontend/src/views/Organisation.tsx
Labels: frontend

feat: add simple ui to delete projects on frontend (#1314)
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/components/ManageProject/DeleteTab/ProjectDeleteTab.tsx
  src/frontend/src/components/ManageProject/DeleteTab/index.tsx
  src/frontend/src/utilfunctions/cookieUtils.ts
  src/frontend/src/utilities/ProtectedRoute.jsx
  src/frontend/src/views/ManageProject.tsx
  src/frontend/src/views/Organisation.tsx
Labels: frontend

refactor: reduce API calls on home page and project details page (#1315)
  src/backend/app/db/postgis_utils.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/submissions/submission_crud.py
  src/backend/app/tasks/tasks_routes.py
  src/backend/tests/test_projects_routes.py
  src/frontend/src/api/HomeService.ts
  src/frontend/src/api/Project.js
  src/frontend/src/components/TasksLayer.jsx
  src/frontend/src/components/home/ProjectListMap.tsx
  src/frontend/src/models/createproject/createProjectModel.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/views/Home.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend, backend

refactor: reduce API calls on home page and project details page (#1315)
  src/backend/app/db/postgis_utils.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/submissions/submission_crud.py
  src/backend/app/tasks/tasks_routes.py
  src/backend/tests/test_projects_routes.py
  src/frontend/src/api/HomeService.ts
  src/frontend/src/api/Project.js
  src/frontend/src/components/TasksLayer.jsx
  src/frontend/src/components/home/ProjectListMap.tsx
  src/frontend/src/models/createproject/createProjectModel.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/views/Home.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend, backend

fix(frontend): revert change to ProtectedRoute attempting cookie access
  src/frontend/src/utilities/ProtectedRoute.jsx
Labels: frontend

fix(frontend): revert change to ProtectedRoute attempting cookie access
  src/frontend/src/utilities/ProtectedRoute.jsx
Labels: frontend

fix: use defusedxml for xml parsing, only parse one in proj creation (#1316)
  src/backend/app/central/central_crud.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/backend/tests/test_projects_routes.py
  src/frontend/src/api/CreateProjectService.ts
Labels: frontend, backend

fix: use defusedxml for xml parsing, only parse one in proj creation (#1316)
  src/backend/app/central/central_crud.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/backend/tests/test_projects_routes.py
  src/frontend/src/api/CreateProjectService.ts
Labels: frontend, backend

docs: info about append-geojson-properties helper endpoint
  src/backend/app/helpers/helper_crud.py
  src/backend/app/helpers/helper_routes.py
Labels: backend

docs: info about append-geojson-properties helper endpoint
  src/backend/app/helpers/helper_crud.py
  src/backend/app/helpers/helper_routes.py
Labels: backend

docs: update docs sidebar, add xlsform validator/converter
  docs/xlsform-util.md
  mkdocs.yml
Labels: documentation

docs: update docs sidebar, add xlsform validator/converter
  docs/xlsform-util.md
  mkdocs.yml
Labels: documentation

docs: update xlsform converter to link instead of iframe
  docs/xlsform-util.md
  mkdocs.yml
Labels: documentation

docs: update xlsform converter to link instead of iframe
  docs/xlsform-util.md
  mkdocs.yml
Labels: documentation

fix(frontend): automatically use default odk org creds if present
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
Labels: frontend

fix(frontend): automatically use default odk org creds if present
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
Labels: frontend

build: add xform_category, remove extract_completed_count
  src/backend/migrations/001-remove-complete-count.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/migrations/revert/001-remove-complete-count.sql
Labels: backend, migration

build: add xform_category, remove extract_completed_count
  src/backend/migrations/001-remove-complete-count.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/migrations/revert/001-remove-complete-count.sql
Labels: backend, migration

refactor: remove redundant central endpoints
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_routes.py
  src/frontend/src/components/ProjectDetailsV2/ProjectOptions.tsx
Labels: frontend, backend

refactor: remove redundant central endpoints
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_routes.py
  src/frontend/src/components/ProjectDetailsV2/ProjectOptions.tsx
Labels: frontend, backend

build: update db models to reflect new project schema
  src/backend/app/db/db_models.py
Labels: backend

build: update db models to reflect new project schema
  src/backend/app/db/db_models.py
Labels: backend

fix(backend): add xform_category during project creation
  src/backend/app/projects/project_crud.py
Labels: backend

fix(backend): add xform_category during project creation
  src/backend/app/projects/project_crud.py
Labels: backend

fix(backend): generate project-log based on odk_token in tasks
  src/backend/app/projects/project_routes.py
Labels: backend

fix(backend): generate project-log based on odk_token in tasks
  src/backend/app/projects/project_routes.py
Labels: backend

fix(backend): update form endpoint updates xform_category (not xform_title)
  src/backend/app/projects/project_routes.py
Labels: backend

fix(backend): update form endpoint updates xform_category (not xform_title)
  src/backend/app/projects/project_routes.py
Labels: backend

fix(backend): do not overwrite form_category with form filename
  src/backend/app/projects/project_routes.py
Labels: backend

fix(backend): do not overwrite form_category with form filename
  src/backend/app/projects/project_routes.py
Labels: backend
