Repository hotosm/field-tm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, devops, migration, docs, ODK, contrib, tests

.github/labeler.yml:

bug:
  # Branch starts with `fix` or has a `fix` in the name
  - head-branch: ["^fix", "fix"]
enhancement:
  - head-branch:
      ["^feature", "feature", "^feat", "feat", "^refactor", "refactor"]
frontend:
  - changed-files:
      - any-glob-to-any-file: src/frontend/**
backend:
  - changed-files:
      - any-glob-to-any-file: src/backend/**
devops:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**
          - nginx/**
          - scripts/**
          - docker-*.yml
          - ./**/Dockerfile
          - ./**/.dockerfile
          - ./**/*entrypoint.sh
          - ./**/Justfile
migration:
  - changed-files:
      - any-glob-to-any-file: src/backend/migrations/**
docs:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**
          - images/**
          - mkdocs.yml
          - README.md
          - INSTALL.md
ODK:
  - changed-files:
      - any-glob-to-any-file: odkcentral/**
contrib:
  - changed-files:
      - any-glob-to-any-file: contrib/**
tests:
  - changed-files:
      - any-glob-to-any-file:
          - src/backend/tests/**
          - src/frontend/tests/**
          - src/frontend/e2e/**

feat(backend): migration to add dataset property to old projects (#2126)
  src/backend/migrations/add-submission-id-property.py
Labels: backend, migration

feat(backend): migration to add dataset property to old projects (#2126)
  src/backend/migrations/add-submission-id-property.py
Labels: backend, migration

feat(backend): add central-webhook service for triggering entity status updates in FMTM database (#2130)
  docker-compose.yml
  src/backend/app/central/central_schemas.py
  src/backend/app/db/enums.py
  src/backend/app/db/models.py
  src/backend/app/integrations/integration_crud.py
  src/backend/app/integrations/integration_deps.py
  src/backend/app/integrations/integration_routes.py
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/pagination/__init__.py
  src/backend/app/pagination/pagination.py
  src/backend/app/submissions/submission_routes.py
Labels: backend, devops

feat(backend): add central-webhook service for triggering entity status updates in FMTM database (#2130)
  docker-compose.yml
  src/backend/app/central/central_schemas.py
  src/backend/app/db/enums.py
  src/backend/app/db/models.py
  src/backend/app/integrations/integration_crud.py
  src/backend/app/integrations/integration_deps.py
  src/backend/app/integrations/integration_routes.py
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/pagination/__init__.py
  src/backend/app/pagination/pagination.py
  src/backend/app/submissions/submission_routes.py
Labels: backend, devops

build(backend): fix add entity property migration with exception handling
  src/backend/migrations/add-submission-id-property.py
Labels: backend, migration

build(backend): fix add entity property migration with exception handling
  src/backend/migrations/add-submission-id-property.py
Labels: backend, migration

refactor: move unused root level 'images' to prototyping docs section
  docs/prototyping/2022-10-10_fmtm_design_sketch.jpg
  docs/prototyping/dataflow.dia
  docs/prototyping/dataflow.png
  images/HOT_TM_task_selection_screenshot.jpg
  images/ODK_Select_one_from_file_map_screenshot.jpg
  images/endpoints_responsible_for_auth_screenshot-2023-03-26-092756.png
  images/hot_logo.png
Labels: docs

refactor: move unused root level 'images' to prototyping docs section
  docs/prototyping/2022-10-10_fmtm_design_sketch.jpg
  docs/prototyping/dataflow.dia
  docs/prototyping/dataflow.png
  images/HOT_TM_task_selection_screenshot.jpg
  images/ODK_Select_one_from_file_map_screenshot.jpg
  images/endpoints_responsible_for_auth_screenshot-2023-03-26-092756.png
  images/hot_logo.png
Labels: docs

build: rename docker-compose.yml files --> compose.yml (#1998)
  .github/workflows/build_and_deploy.yml
  .github/workflows/pr_test_frontend.yml
  INSTALL.md
  compose.development.yaml
  compose.main.yaml
  compose.staging.yaml
  compose.yaml
  contrib/josm/compose.yaml
  contrib/just/start/Justfile
  contrib/just/stop/Justfile
  contrib/just/test/Justfile
  contrib/openobserve/compose.yaml
  contrib/playwright/compose.yaml
  contrib/tunnel/compose.yaml
  docs/dev/Backend.md
  docs/dev/Production.md
  scripts/misc/renew-certs-manual.sh
Labels: devops, docs, contrib

build: rename docker-compose.yml files --> compose.yml (#1998)
  .github/workflows/build_and_deploy.yml
  .github/workflows/pr_test_frontend.yml
  INSTALL.md
  compose.development.yaml
  compose.main.yaml
  compose.staging.yaml
  compose.yaml
  contrib/josm/compose.yaml
  contrib/just/start/Justfile
  contrib/just/stop/Justfile
  contrib/just/test/Justfile
  contrib/openobserve/compose.yaml
  contrib/playwright/compose.yaml
  contrib/tunnel/compose.yaml
  docs/dev/Backend.md
  docs/dev/Production.md
  scripts/misc/renew-certs-manual.sh
Labels: devops, docs, contrib

ci: re-enable image scanning on deploy, fix compose file ref
  .github/workflows/build_and_deploy.yml
Labels: devops

ci: re-enable image scanning on deploy, fix compose file ref
  .github/workflows/build_and_deploy.yml
Labels: devops

build: fix entity property add migration, http 400 handling
  src/backend/migrations/add-submission-id-property.py
Labels: backend, migration

build: fix entity property add migration, http 400 handling
  src/backend/migrations/add-submission-id-property.py
Labels: backend, migration

ci: add compose_file to relevant compose_test workflows
  .github/workflows/build_and_deploy.yml
  .github/workflows/pr_test_backend.yml
Labels: devops

ci: add compose_file to relevant compose_test workflows
  .github/workflows/build_and_deploy.yml
  .github/workflows/pr_test_backend.yml
Labels: devops

docs: move all deployment compose files under /deploy/x for clarity
  deploy/compose.development.yaml
  deploy/compose.main.yaml
  deploy/compose.staging.yaml
Labels: none

docs: move all deployment compose files under /deploy/x for clarity
  deploy/compose.development.yaml
  deploy/compose.main.yaml
  deploy/compose.staging.yaml
Labels: none

docs: update all refs to newly moved compose deploy files
  .github/workflows/build_and_deploy.yml
  INSTALL.md
  deploy/README.md
  docs/dev/Production.md
  scripts/misc/renew-certs-manual.sh
Labels: devops, docs

docs: update all refs to newly moved compose deploy files
  .github/workflows/build_and_deploy.yml
  INSTALL.md
  deploy/README.md
  docs/dev/Production.md
  scripts/misc/renew-certs-manual.sh
Labels: devops, docs

build: upgrade pyxform-http version used on dev an stage deploy
  deploy/compose.development.yaml
Labels: none

build: upgrade pyxform-http version used on dev an stage deploy
  deploy/compose.development.yaml
Labels: none

build: add central-webhook service to env vars and dev/stage deploy
  .env.example
  compose.yaml
  deploy/compose.development.yaml
  deploy/compose.staging.yaml
  scripts/1-environment/gen-env.sh
  src/backend/app/config.py
  src/backend/app/organisations/organisation_crud.py
Labels: backend, devops

build: add central-webhook service to env vars and dev/stage deploy
  .env.example
  compose.yaml
  deploy/compose.development.yaml
  deploy/compose.staging.yaml
  scripts/1-environment/gen-env.sh
  src/backend/app/config.py
  src/backend/app/organisations/organisation_crud.py
Labels: backend, devops

build: remove /deploy from staging compose, as it's relative
  deploy/compose.staging.yaml
Labels: none

build: remove /deploy from staging compose, as it's relative
  deploy/compose.staging.yaml
Labels: none

build: add symlink to repo root .env file from /deploy dir
  deploy/.env
Labels: none

fix(backend): getting secret value from CENTRAL_WEBHOOK_API_KEY config var
  src/backend/app/organisations/organisation_crud.py
Labels: backend

fix(backend): getting secret value from CENTRAL_WEBHOOK_API_KEY config var
  src/backend/app/organisations/organisation_crud.py
Labels: backend

build: fix central webhook deploy odk password on dev
  deploy/compose.development.yaml
Labels: none

build: fix central webhook deploy odk password on dev
  deploy/compose.development.yaml
Labels: none

fix(getTaskStatusStyle): fix locked_for_mapping task state color
  src/frontend/src/utilfunctions/getTaskStatusStyle.ts
Labels: frontend

fix(getTaskStatusStyle): fix locked_for_mapping task state color
  src/frontend/src/utilfunctions/getTaskStatusStyle.ts
Labels: frontend

feat(frontend): add table component and manage users page (#2133)
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/src/api/HomeService.ts
  src/frontend/src/api/User.ts
  src/frontend/src/components/RadixComponents/Table.tsx
  src/frontend/src/components/common/DataTable/DataTablePagination/index.tsx
  src/frontend/src/components/common/DataTable/DataTablePagination/usePagination.ts
  src/frontend/src/components/common/DataTable/DataTableSkeleton/index.tsx
  src/frontend/src/components/common/DataTable/index.tsx
  src/frontend/src/components/common/SearchBar.tsx
  src/frontend/src/index.css
  src/frontend/src/models/home/homeModel.ts
  src/frontend/src/models/submission/submissionModel.ts
  src/frontend/src/routes.jsx
  src/frontend/src/shared/AssetModules.js
  src/frontend/src/store/slices/HomeSlice.ts
  src/frontend/src/store/slices/SubmissionSlice.ts
  src/frontend/src/store/slices/UserSlice.ts
  src/frontend/src/store/types/ICommon.ts
  src/frontend/src/store/types/IHome.ts
  src/frontend/src/store/types/IUser.ts
  src/frontend/src/views/ManageUsers.tsx
Labels: frontend

feat(frontend): add table component and manage users page (#2133)
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/src/api/HomeService.ts
  src/frontend/src/api/User.ts
  src/frontend/src/components/RadixComponents/Table.tsx
  src/frontend/src/components/common/DataTable/DataTablePagination/index.tsx
  src/frontend/src/components/common/DataTable/DataTablePagination/usePagination.ts
  src/frontend/src/components/common/DataTable/DataTableSkeleton/index.tsx
  src/frontend/src/components/common/DataTable/index.tsx
  src/frontend/src/components/common/SearchBar.tsx
  src/frontend/src/index.css
  src/frontend/src/models/home/homeModel.ts
  src/frontend/src/models/submission/submissionModel.ts
  src/frontend/src/routes.jsx
  src/frontend/src/shared/AssetModules.js
  src/frontend/src/store/slices/HomeSlice.ts
  src/frontend/src/store/slices/SubmissionSlice.ts
  src/frontend/src/store/slices/UserSlice.ts
  src/frontend/src/store/types/ICommon.ts
  src/frontend/src/store/types/IHome.ts
  src/frontend/src/store/types/IUser.ts
  src/frontend/src/views/ManageUsers.tsx
Labels: frontend

feat(frontend): update user roles list during project creation (#2135)
  src/frontend/src/api/User.ts
  src/frontend/src/components/common/Select2.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/store/slices/CommonSlice.ts
  src/frontend/src/store/slices/UserSlice.ts
  src/frontend/src/store/types/ICommon.ts
  src/frontend/src/store/types/IUser.ts
Labels: frontend

feat(frontend): update user roles list during project creation (#2135)
  src/frontend/src/api/User.ts
  src/frontend/src/components/common/Select2.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/store/slices/CommonSlice.ts
  src/frontend/src/store/slices/UserSlice.ts
  src/frontend/src/store/types/ICommon.ts
  src/frontend/src/store/types/IUser.ts
Labels: frontend

fix(frontend): allow users to select default odk credentials (#2142)
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
Labels: frontend

fix(frontend): allow users to select default odk credentials (#2142)
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
Labels: frontend

build(frontend): use corepack install to avoid duplicating packageManager
  src/Dockerfile.ui.debug
  src/Dockerfile.ui.prod
Labels: none
