Repository hotosm/field-tm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend:manager, frontend:mapper, backend, devops, migration, docs, ODK, contrib, tests, dependency:osm-fieldwork

fix(frontend): error handling for invalid geojson data extract upload
  src/frontend/src/components/createnewproject/DataExtract.tsx
Labels: frontend:manager

fix(frontend): error handling for invalid geojson data extract upload
  src/frontend/src/components/createnewproject/DataExtract.tsx
Labels: frontend:manager

fix(mapper): incorrect styling for buttons, backround color, spacing (#2460)
  src/mapper/src/lib/components/forms/wrapper.svelte
  src/mapper/src/lib/components/map/legend.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/routes/[projectId]/page.css
  src/mapper/src/styles/dialog-task-actions.css
  src/mapper/src/styles/map-legend.css
  src/mapper/src/styles/map.css
Labels: frontend:mapper

fix(mapper): incorrect styling for buttons, backround color, spacing (#2460)
  src/mapper/src/lib/components/forms/wrapper.svelte
  src/mapper/src/lib/components/map/legend.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/routes/[projectId]/page.css
  src/mapper/src/styles/dialog-task-actions.css
  src/mapper/src/styles/map-legend.css
  src/mapper/src/styles/map.css
Labels: frontend:mapper

feat(mapper): resize image buttons for web form questions (#2452)
  src/mapper/src/lib/components/forms/wrapper.svelte
  src/mapper/src/store/common.svelte.ts
  src/mapper/static/config.json
  src/mapper/static/web-forms.html
Labels: frontend:mapper

feat(mapper): resize image buttons for web form questions (#2452)
  src/mapper/src/lib/components/forms/wrapper.svelte
  src/mapper/src/store/common.svelte.ts
  src/mapper/static/config.json
  src/mapper/static/web-forms.html
Labels: frontend:mapper

feat(backend): add capability to create new users via api key
  src/backend/app/auth/auth_deps.py
  src/backend/app/auth/auth_routes.py
  src/backend/app/auth/auth_schemas.py
  src/backend/app/integrations/integration_routes.py
  src/backend/app/organisations/organisation_routes.py
  src/backend/app/projects/project_routes.py
  src/backend/app/users/user_crud.py
  src/backend/tests/conftest.py
Labels: backend, tests

feat(backend): add capability to create new users via api key
  src/backend/app/auth/auth_deps.py
  src/backend/app/auth/auth_routes.py
  src/backend/app/auth/auth_schemas.py
  src/backend/app/integrations/integration_routes.py
  src/backend/app/organisations/organisation_routes.py
  src/backend/app/projects/project_routes.py
  src/backend/app/users/user_crud.py
  src/backend/tests/conftest.py
Labels: backend, tests

feat(backend): add capability to create new users via api key (#2467)
  src/backend/app/auth/auth_deps.py
  src/backend/app/auth/auth_routes.py
  src/backend/app/auth/auth_schemas.py
  src/backend/app/integrations/integration_routes.py
  src/backend/app/organisations/organisation_routes.py
  src/backend/app/projects/project_routes.py
  src/backend/app/users/user_crud.py
  src/backend/tests/conftest.py
Labels: backend, tests

feat(backend): add capability to create new users via api key (#2467)
  src/backend/app/auth/auth_deps.py
  src/backend/app/auth/auth_routes.py
  src/backend/app/auth/auth_schemas.py
  src/backend/app/integrations/integration_routes.py
  src/backend/app/organisations/organisation_routes.py
  src/backend/app/projects/project_routes.py
  src/backend/app/users/user_crud.py
  src/backend/tests/conftest.py
Labels: backend, tests

feat(users): add signin_type filter to user retrieval endpoints and allow org admin access (#2468)
  src/backend/app/users/user_crud.py
  src/backend/app/users/user_routes.py
Labels: backend

feat(users): add signin_type filter to user retrieval endpoints and allow org admin access (#2468)
  src/backend/app/users/user_crud.py
  src/backend/app/users/user_routes.py
Labels: backend

feat(mapper): display user-friendly translation names with corresponding country flags (#2469)
  src/mapper/src/constants/languages.ts
  src/mapper/src/lib/components/header.svelte
Labels: frontend:mapper

feat(mapper): display user-friendly translation names with corresponding country flags (#2469)
  src/mapper/src/constants/languages.ts
  src/mapper/src/lib/components/header.svelte
Labels: frontend:mapper

refactor(backend): export FMTM_DB_URL as string directly from config
  src/backend/app/config.py
  src/backend/app/db/database.py
  src/backend/app/projects/project_routes.py
  src/backend/migrations/archived/2024-12-18/upload_basemaps_s3.py
  src/backend/migrations/archived/2025-01-31/add-submission-id-property.py
  src/backend/migrations/archived/2025-04-28/move_fgb_to_s3.py
  src/backend/migrations/archived/2025-04-28/populate_total_tasks.py
  src/backend/packages/osm-fieldwork/tests/conftest.py
  src/backend/scheduler/inactive_users.py
  src/backend/scheduler/project_stats.py
  src/backend/scheduler/unlock_tasks.py
  src/backend/tests/conftest.py
Labels: backend, migration, tests, dependency:osm-fieldwork

refactor(backend): export FMTM_DB_URL as string directly from config
  src/backend/app/config.py
  src/backend/app/db/database.py
  src/backend/app/projects/project_routes.py
  src/backend/migrations/archived/2024-12-18/upload_basemaps_s3.py
  src/backend/migrations/archived/2025-01-31/add-submission-id-property.py
  src/backend/migrations/archived/2025-04-28/move_fgb_to_s3.py
  src/backend/migrations/archived/2025-04-28/populate_total_tasks.py
  src/backend/packages/osm-fieldwork/tests/conftest.py
  src/backend/scheduler/inactive_users.py
  src/backend/scheduler/project_stats.py
  src/backend/scheduler/unlock_tasks.py
  src/backend/tests/conftest.py
Labels: backend, migration, tests, dependency:osm-fieldwork

.github/labeler.yml:

bug:
  # Branch starts with `fix` or has a `fix` in the name
  - head-branch: ["^fix", "fix"]
enhancement:
  - head-branch:
      ["^feature", "feature", "^feat", "feat", "^refactor", "refactor"]
frontend:manager:
  - changed-files:
      - any-glob-to-any-file: src/frontend/**
frontend:mapper:
  - changed-files:
      - any-glob-to-any-file: src/mapper/**
backend:
  - changed-files:
      - any-glob-to-any-file: src/backend/**
devops:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**
          - scripts/**
          - docker-*.yml
          - ./**/Dockerfile
          - ./**/.dockerfile
          - ./**/*entrypoint.sh
          - ./**/Justfile
migration:
  - changed-files:
      - any-glob-to-any-file: src/backend/migrations/**
docs:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**
          - images/**
          - mkdocs.yml
          - README.md
          - INSTALL.md
ODK:
  - changed-files:
      - any-glob-to-any-file: odkcentral/**
contrib:
  - changed-files:
      - any-glob-to-any-file: contrib/**
tests:
  - changed-files:
      - any-glob-to-any-file:
          - src/backend/tests/**
          - src/frontend/tests/**
          - src/frontend/e2e/**
dependency:osm-fieldwork:
  - changed-files:
      - any-glob-to-any-file:
          - src/backend/packages/osm-fieldwork/**
