Repository hotosm/field-tm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, devops, migration, docs, ODK, contrib, tests

docs: start advanced faq for various common fmtm questions
  docs/about/faq.md
Labels: docs

docs: start advanced faq for various common fmtm questions
  docs/about/faq.md
Labels: docs

docs: use correct heading levels for advanced faq
  docs/about/faq.md
Labels: docs

docs: use correct heading levels for advanced faq
  docs/about/faq.md
Labels: docs

docs: add info about custom odk collect to advanced faq
  docs/about/faq.md
Labels: docs

docs: add info about custom odk collect to advanced faq
  docs/about/faq.md
Labels: docs

fix(mapper): frontend enhancements, add more instructions (#1905)
  src/mapper/src/assets/images/importQr.gif
  src/mapper/src/lib/components/task-action-dialog.svelte
  src/mapper/src/lib/utils/qrcode.ts
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/static/assets/icons/info-circle-fill.svg
Labels: none

fix(mapper): frontend enhancements, add more instructions (#1905)
  src/mapper/src/assets/images/importQr.gif
  src/mapper/src/lib/components/task-action-dialog.svelte
  src/mapper/src/lib/utils/qrcode.ts
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/static/assets/icons/info-circle-fill.svg
Labels: none

feat(splitTasks): additional entities feature count add to split tasks section (#1906)
  src/frontend/src/components/createnewproject/SplitTasks.tsx
Labels: frontend

feat(splitTasks): additional entities feature count add to split tasks section (#1906)
  src/frontend/src/components/createnewproject/SplitTasks.tsx
Labels: frontend

fix(mapper): geolocation layerswitch bug (#1914)
  src/mapper/src/constants/baseLayers.ts
  src/mapper/src/lib/components/map/layer-switcher.svelte
  src/mapper/src/lib/components/map/main.svelte
Labels: none

fix(mapper): geolocation layerswitch bug (#1914)
  src/mapper/src/constants/baseLayers.ts
  src/mapper/src/lib/components/map/layer-switcher.svelte
  src/mapper/src/lib/components/map/main.svelte
Labels: none

feat(mapper): frontend login + remove temp auth from React frontend (#1903)
  src/backend/app/auth/auth_routes.py
  src/frontend/.gitignore
  src/frontend/e2e/01-create-new-project.spec.ts
  src/frontend/e2e/02-mapper-flow.spec.ts
  src/frontend/e2e/auth.setup.ts
  src/frontend/e2e/helpers.ts
  src/frontend/playwright.config.ts
  src/frontend/src/api/Login.ts
  src/frontend/src/components/DialogTaskActions.tsx
  src/frontend/src/components/LoginPopup.tsx
  src/frontend/src/components/MapComponent/OpenLayersComponent/LayerSwitcher/LayerSwitchMenu.tsx
  src/frontend/src/components/MapLegends.tsx
  src/frontend/src/components/ProjectDetailsV2/MapControlComponent.tsx
  src/frontend/src/components/common/Button.tsx
  src/frontend/src/routes.jsx
  src/frontend/src/views/OsmAuth.tsx
  src/frontend/src/views/PlaywrightTempLogin.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/mapper/src/assets/images/hot-logo-text.svg
  src/mapper/src/assets/images/hot-logo.svg
  src/mapper/src/assets/images/osm-logo.png
  src/mapper/src/constants/drawerItems.ts
  src/mapper/src/lib/components/header.svelte
  src/mapper/src/lib/components/login.svelte
  src/mapper/src/lib/components/map/layer-switcher.svelte
  src/mapper/src/lib/utils/login.ts
  src/mapper/src/routes/+layout.svelte
  src/mapper/src/store/login.svelte.ts
Labels: frontend, backend, tests

feat(mapper): frontend login + remove temp auth from React frontend (#1903)
  src/backend/app/auth/auth_routes.py
  src/frontend/.gitignore
  src/frontend/e2e/01-create-new-project.spec.ts
  src/frontend/e2e/02-mapper-flow.spec.ts
  src/frontend/e2e/auth.setup.ts
  src/frontend/e2e/helpers.ts
  src/frontend/playwright.config.ts
  src/frontend/src/api/Login.ts
  src/frontend/src/components/DialogTaskActions.tsx
  src/frontend/src/components/LoginPopup.tsx
  src/frontend/src/components/MapComponent/OpenLayersComponent/LayerSwitcher/LayerSwitchMenu.tsx
  src/frontend/src/components/MapLegends.tsx
  src/frontend/src/components/ProjectDetailsV2/MapControlComponent.tsx
  src/frontend/src/components/common/Button.tsx
  src/frontend/src/routes.jsx
  src/frontend/src/views/OsmAuth.tsx
  src/frontend/src/views/PlaywrightTempLogin.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/mapper/src/assets/images/hot-logo-text.svg
  src/mapper/src/assets/images/hot-logo.svg
  src/mapper/src/assets/images/osm-logo.png
  src/mapper/src/constants/drawerItems.ts
  src/mapper/src/lib/components/header.svelte
  src/mapper/src/lib/components/login.svelte
  src/mapper/src/lib/components/map/layer-switcher.svelte
  src/mapper/src/lib/utils/login.ts
  src/mapper/src/routes/+layout.svelte
  src/mapper/src/store/login.svelte.ts
Labels: frontend, backend, tests

build: update electric-sql versions
  docker-compose.development.yml
  docker-compose.main.yml
  docker-compose.yml
  src/mapper/package.json
  src/mapper/pnpm-lock.yaml
Labels: devops

build: update electric-sql versions
  docker-compose.development.yml
  docker-compose.main.yml
  docker-compose.yml
  src/mapper/package.json
  src/mapper/pnpm-lock.yaml
Labels: devops

build(backend): add pyodk dependency for testing and future usage
  src/backend/pyproject.toml
  src/backend/uv.lock
Labels: backend

build(backend): add pyodk dependency for testing and future usage
  src/backend/pyproject.toml
  src/backend/uv.lock
Labels: backend

fix(frontend): update the body of generate-project-data;parse null as a json instead of form data (#1919)
  src/frontend/src/api/CreateProjectService.ts
Labels: frontend

fix(frontend): update the body of generate-project-data;parse null as a json instead of form data (#1919)
  src/frontend/src/api/CreateProjectService.ts
Labels: frontend

feat(mapper): basemap control component + opfs pmtile support (pt1) (#1922)
  .env.example
  src/frontend/e2e/auth.setup.ts
  src/frontend/src/routes.jsx
  src/mapper/package.json
  src/mapper/pnpm-lock.yaml
  src/mapper/src/assets/images/oam-logo.svg
  src/mapper/src/constants/baseLayers.ts
  src/mapper/src/lib/components/event-card.svelte
  src/mapper/src/lib/components/map/layer-switcher.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/lib/components/offline/basemaps.svelte
  src/mapper/src/lib/components/qrcode.svelte
  src/mapper/src/lib/fs/opfs.ts
  src/mapper/src/lib/utils/basemaps.ts
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/src/routes/[projectId]/+page.ts
  src/mapper/src/store/common.svelte.ts
  src/mapper/static/assets/icons/arrow-clockwise.svg
Labels: frontend, tests

feat(mapper): basemap control component + opfs pmtile support (pt1) (#1922)
  .env.example
  src/frontend/e2e/auth.setup.ts
  src/frontend/src/routes.jsx
  src/mapper/package.json
  src/mapper/pnpm-lock.yaml
  src/mapper/src/assets/images/oam-logo.svg
  src/mapper/src/constants/baseLayers.ts
  src/mapper/src/lib/components/event-card.svelte
  src/mapper/src/lib/components/map/layer-switcher.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/lib/components/offline/basemaps.svelte
  src/mapper/src/lib/components/qrcode.svelte
  src/mapper/src/lib/fs/opfs.ts
  src/mapper/src/lib/utils/basemaps.ts
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/src/routes/[projectId]/+page.ts
  src/mapper/src/store/common.svelte.ts
  src/mapper/static/assets/icons/arrow-clockwise.svg
Labels: frontend, tests

test(backend): submission routes / different formats (#1917)
  src/backend/tests/.pyodk_config.toml
  src/backend/tests/conftest.py
  src/backend/tests/test_submission_routes.py
Labels: backend, tests

test(backend): submission routes / different formats (#1917)
  src/backend/tests/.pyodk_config.toml
  src/backend/tests/conftest.py
  src/backend/tests/test_submission_routes.py
Labels: backend, tests

feat(mapper): set entity (feature) color based on it's mapping status (#1921)
  src/mapper/src/lib/components/dialog-entities-actions.svelte
  src/mapper/src/lib/components/map/flatgeobuf-layer.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/src/routes/[projectId]/+page.ts
  src/mapper/src/store/entities.svelte.ts
  src/mapper/src/store/tasks.svelte.ts
Labels: none

feat(mapper): set entity (feature) color based on it's mapping status (#1921)
  src/mapper/src/lib/components/dialog-entities-actions.svelte
  src/mapper/src/lib/components/map/flatgeobuf-layer.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/src/routes/[projectId]/+page.ts
  src/mapper/src/store/entities.svelte.ts
  src/mapper/src/store/tasks.svelte.ts
Labels: none

fix(backend): resolve route ambiguity for /tasks/activity endpoint (#1924)
  src/backend/app/tasks/task_routes.py
  src/frontend/src/views/ProjectSubmissions.tsx
Labels: frontend, backend

fix(backend): resolve route ambiguity for /tasks/activity endpoint (#1924)
  src/backend/app/tasks/task_routes.py
  src/frontend/src/views/ProjectSubmissions.tsx
Labels: frontend, backend

build: update osm-fieldwork to latest --> v0.16.11
  src/backend/pyproject.toml
  src/backend/uv.lock
Labels: backend

build: update osm-fieldwork to latest --> v0.16.11
  src/backend/pyproject.toml
  src/backend/uv.lock
Labels: backend

fix: edit multi additional entities names replacing space with '_' (#1926)
  src/frontend/src/api/CreateProjectService.ts
Labels: frontend

fix: edit multi additional entities names replacing space with '_' (#1926)
  src/frontend/src/api/CreateProjectService.ts
Labels: frontend

test(backend): fix using correct local central odk credentials
  src/backend/tests/.pyodk_config.toml
Labels: backend, tests

test(backend): fix using correct local central odk credentials
  src/backend/tests/.pyodk_config.toml
Labels: backend, tests

feat(mapper): frontend pmtile basemap management pt2 (#1925)
  src/backend/app/db/models.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/s3.py
  src/backend/migrations/archived/2024-08-09/qrcode_to_odktoken.py
  src/backend/migrations/upload_basemaps_s3.py
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/src/api/Files.ts
  src/frontend/src/api/Project.ts
  src/frontend/src/components/GenerateBasemap.tsx
  src/frontend/src/components/MapComponent/OpenLayersComponent/LayerSwitcher/LayerSwitchMenu.tsx
  src/frontend/src/components/MapComponent/OpenLayersComponent/LayerSwitcher/index.js
  src/frontend/src/components/ProjectDetailsV2/MapControlComponent.tsx
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/mapper/src/constants/baseLayers.ts
  src/mapper/src/lib/components/map/layer-switcher.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/lib/components/offline/basemaps.svelte
  src/mapper/src/lib/fs/opfs.ts
  src/mapper/src/lib/utils/basemaps.ts
  src/mapper/src/store/common.svelte.ts
  src/mapper/svelte.config.js
  src/mapper/vite.config.ts
Labels: frontend, backend, migration

feat(mapper): frontend pmtile basemap management pt2 (#1925)
  src/backend/app/db/models.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/s3.py
  src/backend/migrations/archived/2024-08-09/qrcode_to_odktoken.py
  src/backend/migrations/upload_basemaps_s3.py
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/src/api/Files.ts
  src/frontend/src/api/Project.ts
  src/frontend/src/components/GenerateBasemap.tsx
  src/frontend/src/components/MapComponent/OpenLayersComponent/LayerSwitcher/LayerSwitchMenu.tsx
  src/frontend/src/components/MapComponent/OpenLayersComponent/LayerSwitcher/index.js
  src/frontend/src/components/ProjectDetailsV2/MapControlComponent.tsx
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/mapper/src/constants/baseLayers.ts
  src/mapper/src/lib/components/map/layer-switcher.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/lib/components/offline/basemaps.svelte
  src/mapper/src/lib/fs/opfs.ts
  src/mapper/src/lib/utils/basemaps.ts
  src/mapper/src/store/common.svelte.ts
  src/mapper/svelte.config.js
  src/mapper/vite.config.ts
Labels: frontend, backend, migration

ci: update all workflows to latest --> v2.0.10
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_ci_img.yml
  .github/workflows/build_odk_imgs.yml
  .github/workflows/build_proxy_imgs.yml
  .github/workflows/docs.yml
  .github/workflows/pr_test_backend.yml
  .github/workflows/pr_test_frontend.yml
  .github/workflows/tag_build.yml
  .github/workflows/wiki.yml
Labels: devops

ci: update all workflows to latest --> v2.0.10
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_ci_img.yml
  .github/workflows/build_odk_imgs.yml
  .github/workflows/build_proxy_imgs.yml
  .github/workflows/docs.yml
  .github/workflows/pr_test_backend.yml
  .github/workflows/pr_test_frontend.yml
  .github/workflows/tag_build.yml
  .github/workflows/wiki.yml
Labels: devops

fix(backend): use pydantic SecretStr for all sensitive env vars
  src/backend/app/auth/osm.py
  src/backend/app/central/central_crud.py
  src/backend/app/config.py
  src/backend/app/db/postgis_utils.py
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/projects/project_crud.py
  src/backend/app/s3.py
Labels: backend

fix(backend): use pydantic SecretStr for all sensitive env vars
  src/backend/app/auth/osm.py
  src/backend/app/central/central_crud.py
  src/backend/app/config.py
  src/backend/app/db/postgis_utils.py
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/projects/project_crud.py
  src/backend/app/s3.py
Labels: backend

.github/labeler.yml:

bug:
  # Branch starts with `fix` or has a `fix` in the name
  - head-branch: ["^fix", "fix"]
enhancement:
  - head-branch:
      ["^feature", "feature", "^feat", "feat", "^refactor", "refactor"]
frontend:
  - changed-files:
      - any-glob-to-any-file: src/frontend/**
backend:
  - changed-files:
      - any-glob-to-any-file: src/backend/**
devops:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**
          - nginx/**
          - scripts/**
          - docker-*.yml
          - ./**/Dockerfile
          - ./**/.dockerfile
          - ./**/*entrypoint.sh
          - ./**/Justfile
migration:
  - changed-files:
      - any-glob-to-any-file: src/backend/migrations/**
docs:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**
          - images/**
          - mkdocs.yml
          - README.md
          - INSTALL.md
ODK:
  - changed-files:
      - any-glob-to-any-file: odkcentral/**
contrib:
  - changed-files:
      - any-glob-to-any-file: contrib/**
tests:
  - changed-files:
      - any-glob-to-any-file:
          - src/backend/tests/**
          - src/frontend/tests/**
          - src/frontend/e2e/**
