Repository hotosm/field-tm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, devops, migration, documentation, ODK, contrib

.github/labeler.yml:

"frontend":
  - "src/frontend/**/*"
"backend":
  - "src/backend/**/*"
"devops":
  - ".github/**/*"
  - "nginx/**/*"
  - "scripts/**/*"
  - "docker-*.yml"
  - "**/Dockerfile"
  - "**/*.dockerfile"
  - "**/*entrypoint.sh"
  - "Justfile"
"migration":
  - "src/backend/migrations/**/*"
"documentation":
  - "docs/**/*"
  - "images/**/*"
  - "mkdocs.yml"
  - "README.md"
  - "INSTALL.md"
"ODK":
  - "odkcentral/**/*"
"contrib":
  - "contrib/**/*"

feat: mapper role (#1163)
  src/backend/app/auth/roles.py
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/organisations/organisation_routes.py
  src/backend/app/projects/project_routes.py
  src/backend/app/submissions/submission_routes.py
  src/backend/app/tasks/tasks_routes.py
Labels: backend

feat: mapper role (#1163)
  src/backend/app/auth/roles.py
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/organisations/organisation_routes.py
  src/backend/app/projects/project_routes.py
  src/backend/app/submissions/submission_routes.py
  src/backend/app/tasks/tasks_routes.py
Labels: backend

feat: manage / edit project UI (#1154)
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/components/ManageProject/EditTab/FormUpdateTab.tsx
  src/frontend/src/components/ManageProject/EditTab/ProjectDescriptionTab.tsx
  src/frontend/src/components/ManageProject/EditTab/index.tsx
  src/frontend/src/components/ManageProject/EditTab/validation/EditProjectDetailsValidation.ts
  src/frontend/src/components/ManageProject/UserTab/AssignTab.tsx
  src/frontend/src/components/ManageProject/UserTab/InviteTab.tsx
  src/frontend/src/components/ManageProject/UserTab/index.tsx
  src/frontend/src/components/ProjectDetailsV2/ProjectOptions.tsx
  src/frontend/src/components/common/Button.tsx
  src/frontend/src/components/common/Chips.tsx
  src/frontend/src/components/common/CustomTable.tsx
  src/frontend/src/components/common/KebabMenu.tsx
  src/frontend/src/components/common/Select.tsx
  src/frontend/src/components/common/UploadArea.tsx
  src/frontend/src/routes.jsx
  src/frontend/src/shared/AssetModules.js
  src/frontend/src/views/ManageProject.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

feat: manage / edit project UI (#1154)
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/components/ManageProject/EditTab/FormUpdateTab.tsx
  src/frontend/src/components/ManageProject/EditTab/ProjectDescriptionTab.tsx
  src/frontend/src/components/ManageProject/EditTab/index.tsx
  src/frontend/src/components/ManageProject/EditTab/validation/EditProjectDetailsValidation.ts
  src/frontend/src/components/ManageProject/UserTab/AssignTab.tsx
  src/frontend/src/components/ManageProject/UserTab/InviteTab.tsx
  src/frontend/src/components/ManageProject/UserTab/index.tsx
  src/frontend/src/components/ProjectDetailsV2/ProjectOptions.tsx
  src/frontend/src/components/common/Button.tsx
  src/frontend/src/components/common/Chips.tsx
  src/frontend/src/components/common/CustomTable.tsx
  src/frontend/src/components/common/KebabMenu.tsx
  src/frontend/src/components/common/Select.tsx
  src/frontend/src/components/common/UploadArea.tsx
  src/frontend/src/routes.jsx
  src/frontend/src/shared/AssetModules.js
  src/frontend/src/views/ManageProject.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

ci: update all gh-workflows --> v1.4.7
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_ci_img.yml
  .github/workflows/build_odk_imgs.yml
  .github/workflows/build_proxy_imgs.yml
  .github/workflows/docs.yml
  .github/workflows/pr_test_backend.yml
  .github/workflows/pr_test_frontend.yml
  .github/workflows/tag_build.yml
  .github/workflows/wiki.yml
Labels: devops

ci: update all gh-workflows --> v1.4.7
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_ci_img.yml
  .github/workflows/build_odk_imgs.yml
  .github/workflows/build_proxy_imgs.yml
  .github/workflows/docs.yml
  .github/workflows/pr_test_backend.yml
  .github/workflows/pr_test_frontend.yml
  .github/workflows/tag_build.yml
  .github/workflows/wiki.yml
Labels: devops

refactor: cast all fields for sqlalchemy with python types (#1173)
  src/backend/app/config.py
  src/backend/app/db/db_models.py
  src/backend/app/db/postgis_utils.py
  src/backend/app/main.py
  src/backend/app/projects/project_crud.py
Labels: backend

refactor: cast all fields for sqlalchemy with python types (#1173)
  src/backend/app/config.py
  src/backend/app/db/db_models.py
  src/backend/app/db/postgis_utils.py
  src/backend/app/main.py
  src/backend/app/projects/project_crud.py
Labels: backend

feat: task history end point with associated user (#1071)
  src/backend/app/db/db_models.py
  src/backend/app/tasks/tasks_crud.py
  src/backend/app/tasks/tasks_routes.py
  src/backend/app/tasks/tasks_schemas.py
Labels: backend

feat: task history end point with associated user (#1071)
  src/backend/app/db/db_models.py
  src/backend/app/tasks/tasks_crud.py
  src/backend/app/tasks/tasks_routes.py
  src/backend/app/tasks/tasks_schemas.py
Labels: backend

feat(frontend): default organisation credentials during proj create (#1174)
  src/backend/app/config.py
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createnewproject/validation/CreateProjectValidation.tsx
  src/frontend/src/components/editproject/validation/EditProjectDetailsValidation.ts
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/views/CreateOrganisation.tsx
Labels: frontend, backend

feat(frontend): default organisation credentials during proj create (#1174)
  src/backend/app/config.py
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createnewproject/validation/CreateProjectValidation.tsx
  src/frontend/src/components/editproject/validation/EditProjectDetailsValidation.ts
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/views/CreateOrganisation.tsx
Labels: frontend, backend

refactor: task status update endpoint to adjust mapper role (#1180)
  src/backend/app/tasks/tasks_routes.py
Labels: backend

refactor: task status update endpoint to adjust mapper role (#1180)
  src/backend/app/tasks/tasks_routes.py
Labels: backend

fix: update db relations for generating submissions (#1179)
  src/backend/app/db/db_models.py
  src/backend/app/s3.py
  src/backend/app/submissions/submission_crud.py
Labels: backend

fix: update db relations for generating submissions (#1179)
  src/backend/app/db/db_models.py
  src/backend/app/s3.py
  src/backend/app/submissions/submission_crud.py
Labels: backend

fix uploadArea: geojson validation for uploaded file
  src/frontend/src/components/createnewproject/UploadArea.tsx
Labels: frontend

fix uploadArea: geojson validation for uploaded file
  src/frontend/src/components/createnewproject/UploadArea.tsx
Labels: frontend

feat: create / edit organization form (#1178)
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/src/api/OrganisationService.ts
  src/frontend/src/components/ApproveOrganization/ApproveOrganizationHeader.tsx
  src/frontend/src/components/ApproveOrganization/OrganizationForm.tsx
  src/frontend/src/components/CreateEditOrganization/ConsentDetailsForm.tsx
  src/frontend/src/components/CreateEditOrganization/CreateEditOrganizationForm.tsx
  src/frontend/src/components/CreateEditOrganization/CreateEditOrganizationHeader.tsx
  src/frontend/src/components/CreateEditOrganization/InstructionsSidebar.tsx
  src/frontend/src/components/CreateEditOrganization/validation/ConsentDetailsValidation.ts
  src/frontend/src/components/CreateEditOrganization/validation/OrganizationDetailsValidation.ts
  src/frontend/src/components/common/Button.tsx
  src/frontend/src/components/common/Checkbox.tsx
  src/frontend/src/components/common/InputTextField.tsx
  src/frontend/src/components/common/RadioButton.tsx
  src/frontend/src/constants/ConsentQuestions.tsx
  src/frontend/src/routes.jsx
  src/frontend/src/store/slices/organisationSlice.ts
  src/frontend/src/types/enums.ts
  src/frontend/src/utilfunctions/login.ts
  src/frontend/src/views/ApproveOrganization.tsx
  src/frontend/src/views/Authorized.tsx
  src/frontend/src/views/CreateEditOrganization.tsx
  src/frontend/src/views/Organisation.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

feat: create / edit organization form (#1178)
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/src/api/OrganisationService.ts
  src/frontend/src/components/ApproveOrganization/ApproveOrganizationHeader.tsx
  src/frontend/src/components/ApproveOrganization/OrganizationForm.tsx
  src/frontend/src/components/CreateEditOrganization/ConsentDetailsForm.tsx
  src/frontend/src/components/CreateEditOrganization/CreateEditOrganizationForm.tsx
  src/frontend/src/components/CreateEditOrganization/CreateEditOrganizationHeader.tsx
  src/frontend/src/components/CreateEditOrganization/InstructionsSidebar.tsx
  src/frontend/src/components/CreateEditOrganization/validation/ConsentDetailsValidation.ts
  src/frontend/src/components/CreateEditOrganization/validation/OrganizationDetailsValidation.ts
  src/frontend/src/components/common/Button.tsx
  src/frontend/src/components/common/Checkbox.tsx
  src/frontend/src/components/common/InputTextField.tsx
  src/frontend/src/components/common/RadioButton.tsx
  src/frontend/src/constants/ConsentQuestions.tsx
  src/frontend/src/routes.jsx
  src/frontend/src/store/slices/organisationSlice.ts
  src/frontend/src/types/enums.ts
  src/frontend/src/utilfunctions/login.ts
  src/frontend/src/views/ApproveOrganization.tsx
  src/frontend/src/views/Authorized.tsx
  src/frontend/src/views/CreateEditOrganization.tsx
  src/frontend/src/views/Organisation.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

refactor: org creation page consent questions (#1185)
  src/frontend/src/components/CreateEditOrganization/validation/ConsentDetailsValidation.ts
  src/frontend/src/constants/ConsentQuestions.tsx
Labels: frontend

refactor: org creation page consent questions (#1185)
  src/frontend/src/components/CreateEditOrganization/validation/ConsentDetailsValidation.ts
  src/frontend/src/constants/ConsentQuestions.tsx
Labels: frontend

feat: osm-rawdata for generating data extracts (#1183)
  docker-compose.yml
  src/backend/app/db/db_models.py
  src/backend/app/db/postgis_utils.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/migrations/005-remove-qrcode.sql
  src/backend/migrations/007-add-extract-url.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/migrations/revert/005-remove-qrcode.sql
  src/backend/migrations/revert/007-add-extract-url.sql
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/backend/tests/test_projects_routes.py
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
  src/frontend/src/components/createnewproject/validation/DataExtractValidation.tsx
  src/frontend/src/components/createnewproject/validation/UploadAreaValidation.tsx
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/views/CreateProject.tsx
  src/frontend/src/views/DefineAreaMap.tsx
Labels: frontend, backend, devops, migration

feat: osm-rawdata for generating data extracts (#1183)
  docker-compose.yml
  src/backend/app/db/db_models.py
  src/backend/app/db/postgis_utils.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/migrations/005-remove-qrcode.sql
  src/backend/migrations/007-add-extract-url.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/migrations/revert/005-remove-qrcode.sql
  src/backend/migrations/revert/007-add-extract-url.sql
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/backend/tests/test_projects_routes.py
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
  src/frontend/src/components/createnewproject/validation/DataExtractValidation.tsx
  src/frontend/src/components/createnewproject/validation/UploadAreaValidation.tsx
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/views/CreateProject.tsx
  src/frontend/src/views/DefineAreaMap.tsx
Labels: frontend, backend, devops, migration

test: fix create project generate_appuser_files usage
  src/backend/tests/test_projects_routes.py
Labels: backend

test: fix create project generate_appuser_files usage
  src/backend/tests/test_projects_routes.py
Labels: backend

fix: project submission card UI enhancement (#1186)
  src/frontend/src/components/ProjectSubmissions/ProjectInfo.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsInfographics.tsx
  src/frontend/src/shared/AssetModules.js
  src/frontend/src/views/ProjectSubmissions.tsx
Labels: frontend

fix: project submission card UI enhancement (#1186)
  src/frontend/src/components/ProjectSubmissions/ProjectInfo.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsInfographics.tsx
  src/frontend/src/shared/AssetModules.js
  src/frontend/src/views/ProjectSubmissions.tsx
Labels: frontend

docs: use mdx_truly_sane_lists plugin for list ordering
  mkdocs.yml
Labels: documentation

docs: use mdx_truly_sane_lists plugin for list ordering
  mkdocs.yml
Labels: documentation

fix: feature type not being saved as a geojson type
  src/backend/app/db/postgis_utils.py
Labels: backend

fix: feature type not being saved as a geojson type
  src/backend/app/db/postgis_utils.py
Labels: backend

fix: axios interceptors fixing test
  src/frontend/src/App.jsx
Labels: frontend

fix: axios interceptors fixing test
  src/frontend/src/App.jsx
Labels: frontend

fix: axios interceptor testing
  src/frontend/src/App.jsx
Labels: frontend

fix: axios interceptor testing
  src/frontend/src/App.jsx
Labels: frontend

fix: project creation workflow fixes (task splitting) (#1194)
  src/backend/app/db/postgis_utils.py
  src/backend/app/organisations/organisation_schemas.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/tasks/tasks_schemas.py
  src/backend/tests/conftest.py
  src/backend/tests/test_projects_routes.py
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/api/Project.js
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/editproject/UpdateProjectArea.tsx
  src/frontend/src/models/createproject/createProjectModel.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/views/NewProjectDetails.jsx
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend, backend

fix: project creation workflow fixes (task splitting) (#1194)
  src/backend/app/db/postgis_utils.py
  src/backend/app/organisations/organisation_schemas.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/tasks/tasks_schemas.py
  src/backend/tests/conftest.py
  src/backend/tests/test_projects_routes.py
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/api/Project.js
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/editproject/UpdateProjectArea.tsx
  src/frontend/src/models/createproject/createProjectModel.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/views/NewProjectDetails.jsx
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend, backend

fix: add odk_central_url to org details returned
  src/backend/app/organisations/organisation_schemas.py
Labels: backend

fix: add odk_central_url to org details returned
  src/backend/app/organisations/organisation_schemas.py
Labels: backend
