Repository hotosm/field-tm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, devops, migration, documentation, ODK, contrib

build: remove ref to script_domain (move to separate repo)
  .github/workflows/build_proxy_imgs.yml
  docker-compose.development.yml
  docker-compose.main.yml
  nginx/Dockerfile
  nginx/build_imgs.sh
  nginx/container-entrypoint.sh
  nginx/templates/cert-init/script.conf.template
  nginx/templates/script.conf.template
Labels: devops

build: remove ref to script_domain (move to separate repo)
  .github/workflows/build_proxy_imgs.yml
  docker-compose.development.yml
  docker-compose.main.yml
  nginx/Dockerfile
  nginx/build_imgs.sh
  nginx/container-entrypoint.sh
  nginx/templates/cert-init/script.conf.template
  nginx/templates/script.conf.template
Labels: devops

docs: add CNAME for custom docs domain
  docs/CNAME
Labels: documentation

docs: add CNAME for custom docs domain
  docs/CNAME
Labels: documentation

build: move install.sh to fmtm-installer repo
  src/frontend/public/install.sh
Labels: frontend

build: move install.sh to fmtm-installer repo
  src/frontend/public/install.sh
Labels: frontend

.github/labeler.yml:

"frontend":
  - any: ["src/frontend/**/*", "!src/frontend/public/install-fmtm.sh"]
"backend":
  - "src/backend/**/*"
"devops":
  - ".github/**/*"
  - "nginx/**/*"
  - "scripts/**/*"
  - "src/frontend/public/install-fmtm.sh"
  - "docker-*.yml"
  - "**/Dockerfile"
  - "**/*.dockerfile"
  - "**/*entrypoint.sh"
  - "Justfile"
"migration":
  - "src/backend/migrations/**/*"
"documentation":
  - "docs/**/*"
  - "images/**/*"
  - "mkdocs.yml"
  - "README.md"
  - "INSTALL.md"
"ODK":
  - "odkcentral/**/*"
"contrib":
  - "contrib/**/*"
