Repository hotosm/field-tm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, devops, migration, docs, ODK, contrib, tests

.github/labeler.yml:

bug:
  # Branch starts with `fix` or has a `fix` in the name
  - head-branch: ["^fix", "fix"]
enhancement:
  - head-branch:
      ["^feature", "feature", "^feat", "feat", "^refactor", "refactor"]
frontend:
  - changed-files:
      - any-glob-to-any-file: src/frontend/**
backend:
  - changed-files:
      - any-glob-to-any-file: src/backend/**
devops:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**
          - nginx/**
          - scripts/**
          - docker-*.yml
          - ./**/Dockerfile
          - ./**/.dockerfile
          - ./**/*entrypoint.sh
          - ./**/Justfile
migration:
  - changed-files:
      - any-glob-to-any-file: src/backend/migrations/**
docs:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**
          - images/**
          - mkdocs.yml
          - README.md
          - INSTALL.md
ODK:
  - changed-files:
      - any-glob-to-any-file: odkcentral/**
contrib:
  - changed-files:
      - any-glob-to-any-file: contrib/**
tests:
  - changed-files:
      - any-glob-to-any-file:
          - src/backend/tests/**
          - src/frontend/tests/**
          - src/frontend/e2e/**

feat(mapper): add i18n (internationalisation) frontend translations via paraglide js (#2155)
  src/frontend/src/utilfunctions/cookieUtils.ts
  src/mapper/messages/en.json
  src/mapper/messages/pt-br.json
  src/mapper/package.json
  src/mapper/pnpm-lock.yaml
  src/mapper/project.inlang/.gitignore
  src/mapper/project.inlang/project_id
  src/mapper/project.inlang/settings.json
  src/mapper/src/lib/components/header.svelte
  src/mapper/src/lib/components/offline/basemaps.svelte
  src/mapper/src/lib/components/qrcode.svelte
  src/mapper/src/lib/components/toast.svelte
  src/mapper/src/lib/fs/local-storage.svelte.ts
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/src/store/common.svelte.ts
  src/mapper/static/assets/icons/translate.svg
  src/mapper/svelte.config.js
  src/mapper/vite.config.ts
Labels: frontend

refactor: ensure translations match
  src/mapper/messages/pt-br.json
Labels: none

refactor: ensure translations match
  src/mapper/messages/pt-br.json
Labels: none

fix(backend): TMS issues by using go-tilepacks and go-pmtiles (#2162)
  compose.yaml
  contrib/basemaps/Dockerfile
  contrib/basemaps/README.md
  contrib/basemaps/build.sh
  deploy/compose.development.yaml
  deploy/compose.main.yaml
  src/backend/Dockerfile
  src/backend/app/projects/project_crud.py
Labels: backend, devops, contrib

fix(backend): TMS issues by using go-tilepacks and go-pmtiles (#2162)
  compose.yaml
  contrib/basemaps/Dockerfile
  contrib/basemaps/README.md
  contrib/basemaps/build.sh
  deploy/compose.development.yaml
  deploy/compose.main.yaml
  src/backend/Dockerfile
  src/backend/app/projects/project_crud.py
Labels: backend, devops, contrib

fix(frontend): add hot-tracking to react type declarations
  src/frontend/src/types/custom.d.ts
  src/frontend/src/types/modulesDecleration.d.ts
Labels: frontend

fix(frontend): add hot-tracking to react type declarations
  src/frontend/src/types/custom.d.ts
  src/frontend/src/types/modulesDecleration.d.ts
Labels: frontend

refactor: use @types/react for custom module declarations
  src/frontend/src/types/custom.d.ts
Labels: frontend

refactor: use @types/react for custom module declarations
  src/frontend/src/types/custom.d.ts
Labels: frontend

ci: add .sqlfluffignore for archived migrations
  src/backend/migrations/archived/.sqlfluffignore
Labels: backend, migration

ci: add .sqlfluffignore for archived migrations
  src/backend/migrations/archived/.sqlfluffignore
Labels: backend, migration

feat(submission): add date range filter for geojson download (#2176)
  src/backend/app/submissions/submission_routes.py
Labels: backend

feat(submission): add date range filter for geojson download (#2176)
  src/backend/app/submissions/submission_routes.py
Labels: backend

build: fixes #1651 remove just --unstable flag
  Justfile
  contrib/just/start/Justfile
  docs/dev/Frontend.md
Labels: devops, docs, contrib

build: fixes #1651 remove just --unstable flag
  Justfile
  contrib/just/start/Justfile
  docs/dev/Frontend.md
Labels: devops, docs, contrib

fix(frontend): add error message if project editing fails (permissions)
  src/backend/app/auth/roles.py
  src/frontend/src/api/CreateProjectService.ts
Labels: frontend, backend

fix(frontend): add error message if project editing fails (permissions)
  src/backend/app/auth/roles.py
  src/frontend/src/api/CreateProjectService.ts
Labels: frontend, backend

feat(frontend): render points on both frontends, with colour determined by status (#2174)
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_schemas.py
  src/frontend/src/assets/images/map-pin-grey.png
  src/frontend/src/assets/images/map-pin-primary.png
  src/frontend/src/assets/images/red_marker.png
  src/frontend/src/components/MapComponent/OpenLayersComponent/Layers/VectorLayer.js
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/home/ProjectListMap.tsx
  src/frontend/src/models/project/projectModel.ts
  src/frontend/src/shared/AssetModules.js
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/types/enums.ts
  src/frontend/src/utilfunctions/getTaskStatusStyle.ts
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/mapper/src/assets/images/map-pin-blue.png
  src/mapper/src/assets/images/map-pin-green.png
  src/mapper/src/assets/images/map-pin-grey.png
  src/mapper/src/assets/images/map-pin-red.png
  src/mapper/src/assets/images/map-pin-yellow.png
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/lib/types.ts
Labels: frontend, backend

feat(frontend): render points on both frontends, with colour determined by status (#2174)
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_schemas.py
  src/frontend/src/assets/images/map-pin-grey.png
  src/frontend/src/assets/images/map-pin-primary.png
  src/frontend/src/assets/images/red_marker.png
  src/frontend/src/components/MapComponent/OpenLayersComponent/Layers/VectorLayer.js
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/home/ProjectListMap.tsx
  src/frontend/src/models/project/projectModel.ts
  src/frontend/src/shared/AssetModules.js
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/types/enums.ts
  src/frontend/src/utilfunctions/getTaskStatusStyle.ts
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/mapper/src/assets/images/map-pin-blue.png
  src/mapper/src/assets/images/map-pin-green.png
  src/mapper/src/assets/images/map-pin-grey.png
  src/mapper/src/assets/images/map-pin-red.png
  src/mapper/src/assets/images/map-pin-yellow.png
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/lib/types.ts
Labels: frontend, backend

feat: create script for generating project stats via API
  scripts/misc/__init__.py
  scripts/misc/total_mapped.py
Labels: devops

feat: create script for generating project stats via API
  scripts/misc/__init__.py
  scripts/misc/total_mapped.py
Labels: devops

build: add stats justfile
  Justfile
  contrib/just/stats/Justfile
Labels: devops, contrib

build: add stats justfile
  Justfile
  contrib/just/stats/Justfile
Labels: devops, contrib

feat(backend): endpoints to download form XML and create new form submissions (#2178)
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_deps.py
  src/backend/app/projects/project_routes.py
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_deps.py
  src/backend/app/submissions/submission_routes.py
  src/backend/pyproject.toml
  src/backend/tests/.pyodk_config.toml
  src/backend/tests/conftest.py
  src/backend/tests/test_data/submission_photo.jpg
  src/backend/tests/test_submission_routes.py
  src/backend/uv.lock
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
Labels: frontend, backend, tests

feat(backend): endpoints to download form XML and create new form submissions (#2178)
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_deps.py
  src/backend/app/projects/project_routes.py
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_deps.py
  src/backend/app/submissions/submission_routes.py
  src/backend/pyproject.toml
  src/backend/tests/.pyodk_config.toml
  src/backend/tests/conftest.py
  src/backend/tests/test_data/submission_photo.jpg
  src/backend/tests/test_submission_routes.py
  src/backend/uv.lock
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
Labels: frontend, backend, tests

feat(frontend): download filtered submissions, with option for geojson too (#2183)
  src/frontend/src/api/SubmissionService.ts
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/store/slices/SubmissionSlice.ts
  src/frontend/src/store/types/ISubmissions.ts
Labels: frontend

feat(frontend): download filtered submissions, with option for geojson too (#2183)
  src/frontend/src/api/SubmissionService.ts
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/store/slices/SubmissionSlice.ts
  src/frontend/src/store/types/ISubmissions.ts
Labels: frontend

fix(+page): confirmation dialog close before redirection to ODK (#2185)
  src/mapper/src/routes/[projectId]/+page.svelte
Labels: none

fix(+page): confirmation dialog close before redirection to ODK (#2185)
  src/mapper/src/routes/[projectId]/+page.svelte
Labels: none

feat(frontend): download split geojson during proj create (#2186)
  src/frontend/src/components/createnewproject/SplitTasks.tsx
Labels: frontend

feat(frontend): download split geojson during proj create (#2186)
  src/frontend/src/components/createnewproject/SplitTasks.tsx
Labels: frontend

feat(frontend): show geometry label popups on submission details page (#2187)
  src/frontend/src/components/MapComponent/OpenLayersComponent/AsyncPopup/AsyncPopup.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/SubmissionMap/SubmissionInstanceMap.tsx
  src/frontend/src/utilfunctions/extractGeojsonFromObject.ts
  src/frontend/src/views/SubmissionDetails.tsx
Labels: frontend

feat(frontend): show geometry label popups on submission details page (#2187)
  src/frontend/src/components/MapComponent/OpenLayersComponent/AsyncPopup/AsyncPopup.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/SubmissionMap/SubmissionInstanceMap.tsx
  src/frontend/src/utilfunctions/extractGeojsonFromObject.ts
  src/frontend/src/views/SubmissionDetails.tsx
Labels: frontend

fix(frontend): task lock logic, allow unlock by admins (#2188)
  src/frontend/src/components/DialogTaskActions.tsx
  src/frontend/src/components/ProjectDetailsV2/TaskSelectionPopup.tsx
Labels: frontend

fix(frontend): task lock logic, allow unlock by admins (#2188)
  src/frontend/src/components/DialogTaskActions.tsx
  src/frontend/src/components/ProjectDetailsV2/TaskSelectionPopup.tsx
Labels: frontend

build: add stats scripts to dockerfile for easy inspection
  compose.yaml
  contrib/just/stats/Justfile
  src/backend/Dockerfile
  src/backend/pyproject.toml
  src/backend/stats/total_mapped.py
Labels: backend, devops, contrib

build: add stats scripts to dockerfile for easy inspection
  compose.yaml
  contrib/just/stats/Justfile
  src/backend/Dockerfile
  src/backend/pyproject.toml
  src/backend/stats/total_mapped.py
Labels: backend, devops, contrib

build(backend): add itrm to dev deps for stats graphs in terminal
  src/backend/pyproject.toml
  src/backend/stats/__init__.py
  src/backend/stats/timeseries.py
  src/backend/uv.lock
Labels: backend

build(backend): add itrm to dev deps for stats graphs in terminal
  src/backend/pyproject.toml
  src/backend/stats/__init__.py
  src/backend/stats/timeseries.py
  src/backend/uv.lock
Labels: backend

docs: update justfile and stats scripts for running on prod
  contrib/just/stats/Justfile
  src/backend/stats/timeseries.py
  src/backend/stats/total_mapped.py
Labels: backend, devops, contrib
