Repository hotosm/field-tm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, devops, migration, docs, ODK, contrib, tests

.github/labeler.yml:

bug:
  # Branch starts with `fix` or has a `fix` in the name
  - head-branch: ["^fix", "fix"]
enhancement:
  - head-branch:
      ["^feature", "feature", "^feat", "feat", "^refactor", "refactor"]
frontend:
  - changed-files:
      - any-glob-to-any-file: src/frontend/**
backend:
  - changed-files:
      - any-glob-to-any-file: src/backend/**
devops:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**
          - nginx/**
          - scripts/**
          - docker-*.yml
          - ./**/Dockerfile
          - ./**/.dockerfile
          - ./**/*entrypoint.sh
          - ./**/Justfile
migration:
  - changed-files:
      - any-glob-to-any-file: src/backend/migrations/**
docs:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**
          - images/**
          - mkdocs.yml
          - README.md
          - INSTALL.md
ODK:
  - changed-files:
      - any-glob-to-any-file: odkcentral/**
contrib:
  - changed-files:
      - any-glob-to-any-file: contrib/**
tests:
  - changed-files:
      - any-glob-to-any-file:
          - src/backend/tests/**
          - src/frontend/tests/**
          - src/frontend/e2e/**

Update field-mapping-examples.md
  docs/manuals/field-mapping-examples.md
Labels: docs

Update field-mapping-examples.md
  docs/manuals/field-mapping-examples.md
Labels: docs

refactor(mapper): ts errors on frontend (#2006)
  src/mapper/src/lib/components/bottom-sheet.svelte
  src/mapper/src/lib/components/dialog-task-actions.svelte
  src/mapper/src/lib/components/editor/editor.svelte
  src/mapper/src/lib/components/editor/toolbar.svelte
  src/mapper/src/lib/components/header.svelte
  src/mapper/src/lib/components/login.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/lib/components/more/comment.svelte
  src/mapper/src/lib/components/toast.svelte
  src/mapper/src/lib/types.ts
  src/mapper/src/lib/utils/getDeviceRotation.ts
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/src/store/common.svelte.ts
  src/mapper/src/store/entities.svelte.ts
  src/mapper/src/store/tasks.svelte.ts
  src/mapper/tsconfig.json
Labels: none

refactor(mapper): ts errors on frontend (#2006)
  src/mapper/src/lib/components/bottom-sheet.svelte
  src/mapper/src/lib/components/dialog-task-actions.svelte
  src/mapper/src/lib/components/editor/editor.svelte
  src/mapper/src/lib/components/editor/toolbar.svelte
  src/mapper/src/lib/components/header.svelte
  src/mapper/src/lib/components/login.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/lib/components/more/comment.svelte
  src/mapper/src/lib/components/toast.svelte
  src/mapper/src/lib/types.ts
  src/mapper/src/lib/utils/getDeviceRotation.ts
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/src/store/common.svelte.ts
  src/mapper/src/store/entities.svelte.ts
  src/mapper/src/store/tasks.svelte.ts
  src/mapper/tsconfig.json
Labels: none

refactor(frontend): terminologies and wording update for users (#1978)
  src/frontend/e2e/01-create-new-project.spec.ts
  src/frontend/src/components/ManageProject/EditTab/FormUpdateTab.tsx
  src/frontend/src/components/MapComponent/OpenLayersComponent/LayerSwitcher/index.js
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
  src/frontend/src/components/createnewproject/validation/DataExtractValidation.tsx
  src/frontend/src/components/createnewproject/validation/UploadAreaValidation.tsx
  src/frontend/src/components/home/ExploreProjectCard.tsx
  src/frontend/src/components/home/HomePageFilters.tsx
  src/frontend/src/components/home/ProjectListMap.tsx
  src/frontend/src/constants/StepFormConstants.ts
  src/frontend/src/constants/blockerUrl.ts
  src/frontend/src/routes.jsx
  src/frontend/src/views/CreateNewProject.tsx
  src/frontend/src/views/Home.tsx
Labels: frontend, tests

refactor(frontend): terminologies and wording update for users (#1978)
  src/frontend/e2e/01-create-new-project.spec.ts
  src/frontend/src/components/ManageProject/EditTab/FormUpdateTab.tsx
  src/frontend/src/components/MapComponent/OpenLayersComponent/LayerSwitcher/index.js
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
  src/frontend/src/components/createnewproject/validation/DataExtractValidation.tsx
  src/frontend/src/components/createnewproject/validation/UploadAreaValidation.tsx
  src/frontend/src/components/home/ExploreProjectCard.tsx
  src/frontend/src/components/home/HomePageFilters.tsx
  src/frontend/src/components/home/ProjectListMap.tsx
  src/frontend/src/constants/StepFormConstants.ts
  src/frontend/src/constants/blockerUrl.ts
  src/frontend/src/routes.jsx
  src/frontend/src/views/CreateNewProject.tsx
  src/frontend/src/views/Home.tsx
Labels: frontend, tests

fix(mapper): replace task id with index on activities panel (#2002)
  src/mapper/src/lib/components/more/activities.svelte
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/src/store/tasks.svelte.ts
Labels: none

fix(mapper): replace task id with index on activities panel (#2002)
  src/mapper/src/lib/components/more/activities.svelte
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/src/store/tasks.svelte.ts
Labels: none

feat: add submission ids as a dataset property for the entities (#2007)
  src/backend/app/central/central_schemas.py
  src/backend/app/db/postgis_utils.py
  src/backend/app/projects/project_crud.py
Labels: backend

feat: add submission ids as a dataset property for the entities (#2007)
  src/backend/app/central/central_schemas.py
  src/backend/app/db/postgis_utils.py
  src/backend/app/projects/project_crud.py
Labels: backend

feat(backend): send org approval message to creator (#2008)
  src/backend/app/auth/auth_deps.py
  src/backend/app/auth/providers/osm.py
  src/backend/app/helpers/helper_routes.py
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/organisations/organisation_routes.py
Labels: backend

feat(backend): send org approval message to creator (#2008)
  src/backend/app/auth/auth_deps.py
  src/backend/app/auth/providers/osm.py
  src/backend/app/helpers/helper_routes.py
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/organisations/organisation_routes.py
Labels: backend

Pass scan_image as false for temporary fix of minio tag (#2014)
  .github/workflows/build_and_deploy.yml
  docs/manuals/field-mapping-examples.md
Labels: devops, docs

Pass scan_image as false for temporary fix of minio tag (#2014)
  .github/workflows/build_and_deploy.yml
  docs/manuals/field-mapping-examples.md
Labels: devops, docs

Feat/create project desc highlight (#2001)
  src/frontend/e2e/01-create-new-project.spec.ts
  src/frontend/e2e/02-mapper-flow.spec.ts
  src/frontend/e2e/auth.setup.ts
  src/frontend/src/components/common/RadioButton.tsx
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/Description.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
Labels: frontend, tests

Feat/create project desc highlight (#2001)
  src/frontend/e2e/01-create-new-project.spec.ts
  src/frontend/e2e/02-mapper-flow.spec.ts
  src/frontend/e2e/auth.setup.ts
  src/frontend/src/components/common/RadioButton.tsx
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/Description.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
Labels: frontend, tests

Mapper Frontend: routing to feature (#1963)
  src/mapper/package.json
  src/mapper/pnpm-lock.yaml
  src/mapper/src/assets/images/location.png
  src/mapper/src/assets/maplibre-directions.ts
  src/mapper/src/lib/components/dialog-entities-actions.svelte
  src/mapper/src/lib/components/map/geolocation.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/store/entities.svelte.ts
  src/mapper/src/styles/button.css
  src/mapper/static/assets/icons/arrow-repeat.svg
  src/mapper/static/assets/icons/direction.svg
Labels: none

Mapper Frontend: routing to feature (#1963)
  src/mapper/package.json
  src/mapper/pnpm-lock.yaml
  src/mapper/src/assets/images/location.png
  src/mapper/src/assets/maplibre-directions.ts
  src/mapper/src/lib/components/dialog-entities-actions.svelte
  src/mapper/src/lib/components/map/geolocation.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/store/entities.svelte.ts
  src/mapper/src/styles/button.css
  src/mapper/static/assets/icons/arrow-repeat.svg
  src/mapper/static/assets/icons/direction.svg
Labels: none

fix: compose file name for backend test stage
  .github/workflows/build_and_deploy.yml
Labels: devops

fix: compose file name for backend test stage
  .github/workflows/build_and_deploy.yml
Labels: devops

Revert/compose rename (#2021)
  .github/workflows/build_and_deploy.yml
  .github/workflows/pr_test_frontend.yml
  INSTALL.md
  contrib/josm/docker-compose.yml
  contrib/just/start/Justfile
  contrib/just/stop/Justfile
  contrib/just/test/Justfile
  contrib/openobserve/docker-compose.yml
  contrib/playwright/docker-compose.yml
  contrib/tunnel/docker-compose.yml
  docker-compose.development.yml
  docker-compose.main.yml
  docker-compose.staging.yml
  docker-compose.yml
  docs/dev/Backend.md
  docs/dev/Production.md
  scripts/renew-certs-manual.sh
Labels: devops, docs, contrib

Revert/compose rename (#2021)
  .github/workflows/build_and_deploy.yml
  .github/workflows/pr_test_frontend.yml
  INSTALL.md
  contrib/josm/docker-compose.yml
  contrib/just/start/Justfile
  contrib/just/stop/Justfile
  contrib/just/test/Justfile
  contrib/openobserve/docker-compose.yml
  contrib/playwright/docker-compose.yml
  contrib/tunnel/docker-compose.yml
  docker-compose.development.yml
  docker-compose.main.yml
  docker-compose.staging.yml
  docker-compose.yml
  docs/dev/Backend.md
  docs/dev/Production.md
  scripts/renew-certs-manual.sh
Labels: devops, docs, contrib

Update mapping.md
  docs/manuals/mapping.md
Labels: docs

Update mapping.md
  docs/manuals/mapping.md
Labels: docs

Refactor the fmtm_base_schema migrations file (#2023)
  src/backend/migrations/init/fmtm_base_schema.sql
Labels: backend, migration

Refactor the fmtm_base_schema migrations file (#2023)
  src/backend/migrations/init/fmtm_base_schema.sql
Labels: backend, migration

Add db parameter to split_by_square after recent changes to fmtm-splitter (#2020)
  .github/workflows/build_and_deploy.yml
  src/backend/app/projects/project_routes.py
Labels: backend, devops

Add db parameter to split_by_square after recent changes to fmtm-splitter (#2020)
  .github/workflows/build_and_deploy.yml
  src/backend/app/projects/project_routes.py
Labels: backend, devops

Rename 'description' to 'short_description' in ProjectSummary model (#2028)
  src/backend/app/projects/project_schemas.py
Labels: backend

Rename 'description' to 'short_description' in ProjectSummary model (#2028)
  src/backend/app/projects/project_schemas.py
Labels: backend

feat: update the version of osm-fieldwork (#2029)
  src/backend/pyproject.toml
  src/backend/uv.lock
Labels: backend

feat: update the version of osm-fieldwork (#2029)
  src/backend/pyproject.toml
  src/backend/uv.lock
Labels: backend

Update manager workflows terminologies (#2026)
  src/frontend/e2e/01-create-new-project.spec.ts
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/Description.tsx
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
Labels: frontend, tests

Update manager workflows terminologies (#2026)
  src/frontend/e2e/01-create-new-project.spec.ts
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/Description.tsx
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
Labels: frontend, tests

feat: consider every additional entities without clipping them with AOI (#2017)
  src/backend/app/central/central_crud.py
  src/backend/app/projects/project_routes.py
Labels: backend

feat: consider every additional entities without clipping them with AOI (#2017)
  src/backend/app/central/central_crud.py
  src/backend/app/projects/project_routes.py
Labels: backend

Send notification message to new project manager upon assignment and refactor assignment code (#2016)
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/tests/test_projects_routes.py
Labels: backend, tests

Send notification message to new project manager upon assignment and refactor assignment code (#2016)
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/tests/test_projects_routes.py
Labels: backend, tests

Minor frontend fix & enhancement (#2033)
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/home/ExploreProjectCard.tsx
  src/frontend/src/models/home/homeModel.ts
  src/mapper/package.json
  src/mapper/pnpm-lock.yaml
  src/mapper/src/lib/components/map/geolocation.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/store/entities.svelte.ts
Labels: frontend

Minor frontend fix & enhancement (#2033)
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/home/ExploreProjectCard.tsx
  src/frontend/src/models/home/homeModel.ts
  src/mapper/package.json
  src/mapper/pnpm-lock.yaml
  src/mapper/src/lib/components/map/geolocation.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/store/entities.svelte.ts
Labels: frontend
