Repository hotosm/field-tm, pull requests merged in 2023-12, with the labels that each got.

#1022 Minor fixes
  src/backend/app/main.py
  src/backend/app/projects/project_routes.py
Labels: backend

#1017 Feat project info legend
  src/frontend/src/components/MapComponent/OpenLayersComponent/Layers/VectorLayer.js
  src/frontend/src/components/ProjectInfo/ProjectInfoMapLegend.jsx
  src/frontend/src/components/ProjectInfo/ProjectInfomap.jsx
Labels: frontend

#1018 fix (createNewProject): splitTasks - validation for submit button dis…
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
Labels: frontend

#1028 Retriving model attribute directly.
  src/backend/app/tasks/tasks_schemas.py
Labels: backend

#1031 Returned task status as string
  src/backend/app/tasks/tasks_schemas.py
Labels: backend

#1030 Fix generate building task
  src/frontend/src/components/common/Button.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
Labels: frontend

#1037 Integrate fmtm-splitter and remove splitting code in fmtm
  contrib/scripts/postgis_snippets/Examples_and_tests/building_clusters_of_5.sql
  contrib/scripts/postgis_snippets/Examples_and_tests/centroids.sql
  contrib/scripts/postgis_snippets/Examples_and_tests/clean_and_simplify.sql
  contrib/scripts/postgis_snippets/Examples_and_tests/clustering.sql
  contrib/scripts/postgis_snippets/Examples_and_tests/concave_hull_tasks_from_clustered_buildings.sql
  contrib/scripts/postgis_snippets/Examples_and_tests/count_building_tags.sql
  contrib/scripts/postgis_snippets/Examples_and_tests/merge_polygons_with_no_features_into_neighbors.sql
  contrib/scripts/postgis_snippets/Examples_and_tests/points_in_polygon.sql
  contrib/scripts/postgis_snippets/Examples_and_tests/polygonize.sql
  contrib/scripts/postgis_snippets/Examples_and_tests/select_features_in_polygon.sql
  contrib/scripts/postgis_snippets/Examples_and_tests/split_aoi_by_osm_lines.sql
  contrib/scripts/postgis_snippets/Examples_and_tests/split_area_by_osm_lines.sql
  contrib/scripts/postgis_snippets/Examples_and_tests/task_splitting_optimized.sql
  contrib/scripts/postgis_snippets/Examples_and_tests/voronoi.sql
  contrib/scripts/postgis_snippets/README.md
  contrib/scripts/postgis_snippets/import_geojson_as_postgis_with_jsonb.md
  contrib/scripts/postgis_snippets/postgis_resources.md
  contrib/scripts/postgis_snippets/task_splitting/fmtm_task_splitting_for_buildings/fmtm-split_01_split_AOI_by_existing_line_features.sql
  contrib/scripts/postgis_snippets/task_splitting/fmtm_task_splitting_for_buildings/fmtm-split_02_count_buildings_for_subsplitting.sql
  contrib/scripts/postgis_snippets/task_splitting/fmtm_task_splitting_for_buildings/fmtm-split_03_cluster_buildings.sql
  contrib/scripts/postgis_snippets/task_splitting/fmtm_task_splitting_for_buildings/fmtm-split_04_create_polygons_around_clustered_buildings.sql
  contrib/scripts/postgis_snippets/task_splitting/task_splitting_for_osm_buildings.sql
  contrib/scripts/postgis_snippets/task_splitting/task_splitting_for_osm_roads.sql
  contrib/scripts/postgis_snippets/task_splitting/task_splitting_readme.md
  docker-compose.yml
  src/backend/Dockerfile
  src/backend/app/central/central_crud.py
  src/backend/app/db/db_models.py
  src/backend/app/db/split_algorithm.sql
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/submission/submission_crud.py
  src/backend/app/submission/submission_routes.py
  src/backend/app/tasks/tasks_crud.py
  src/backend/migrations/000-remove-user-password.sql
  src/backend/migrations/001-project-split-type-fields.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/migrations/revert/000-remove-user-password.sql
  src/backend/migrations/revert/001-project-split-type-fields.sql
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/backend/tests/test_projects_routes.py
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createproject/DefineTasks.tsx
  src/frontend/src/components/editproject/UpdateProjectArea.tsx
  src/frontend/src/views/CreateNewProject.tsx
Labels: enhancement, Priority: Must have, frontend, backend, devops, migration, contrib

#1039 Remove database backups from development setup
  docker-compose.development.yml
  docker-compose.staging.yml
  docker-compose.yml
Labels: devops

#1040 Add mamoto tracking to frontend
  src/frontend/index.html
  src/frontend/src/App.jsx
  src/frontend/src/environment.ts
  src/frontend/src/views/NewProjectDetails.jsx
  src/frontend/src/views/ProjectDetails.jsx
  src/frontend/src/views/Submissions.tsx
  src/frontend/src/views/Tasks.tsx
Labels: frontend

#1042 delete projects api made authenticated
  src/backend/app/projects/project_routes.py
Labels: backend

#1035 Feat cache submissions
  src/backend/app/db/postgis_utils.py
  src/backend/app/projects/project_crud.py
  src/backend/app/submission/submission_crud.py
  src/backend/app/submission/submission_routes.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/backend/tests/test_projects_routes.py
Labels: backend

#1044 hotfix: calculate max last_submission only if valid_datetimes present
  src/backend/app/submission/submission_crud.py
Labels: backend

#1045 fix (projectInfo): submissionJsonDownload - api fetch technuique chan…
  src/frontend/src/api/task.ts
  src/frontend/src/views/ProjectInfo.tsx
Labels: frontend

#1046 Fix homepage UI ref
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/home/ProjectListMap.tsx
  src/frontend/src/utilities/PrimaryAppBar.tsx
  src/frontend/src/views/CreateOrganization.tsx
  src/frontend/src/views/Home.jsx
Labels: frontend

#1053 Add image to user profile
  src/backend/app/auth/auth_routes.py
  src/backend/app/db/db_models.py
  src/backend/app/tasks/tasks_crud.py
  src/backend/app/tasks/tasks_routes.py
  src/backend/app/tasks/tasks_schemas.py
  src/backend/migrations/002-add-profile-img.sql
  src/backend/migrations/revert/002-add-profile-img.sql
Labels: backend, migration

#1054 Created Project dashboard
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/s3.py
Labels: backend

#1058 fix: Issue of Custom date format for over 7days
  src/backend/app/projects/project_schemas.py
Labels: backend

#1069 exception handling for no submissions meta
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_schemas.py
Labels: backend

#1051 Endpoint for submission page, return submission count by date
  src/backend/app/submission/submission_crud.py
  src/backend/app/submission/submission_routes.py
Labels: backend

#1062 Get contributors by project
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
Labels: backend
