Repository hotosm/field-tm, pull requests merged in 2023-08, with the labels that each got.

#667 Docs on db debugging + project backup/restore
  docs/DEV-4.-Database-Tips.md
Labels: documentation

#674 Project info
  src/backend/app/central/central_crud.py
  src/backend/app/projects/project_crud.py
  src/backend/app/submission/submission_crud.py
  src/backend/app/tasks/tasks_routes.py
Labels: enhancement, backend

#676 Add GDAL to backend & refine pytest workflow
  .github/workflows/build_and_deploy.yml
  .github/workflows/pytest.yml
  src/backend/Dockerfile
  src/backend/app/db/database.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/backend/tests/conftest.py
Labels: enhancement, devops

#675 Improve dev experience developing with osm-fieldwork
  docker-compose.yml
  docs/DEV-2.-Backend.md
  src/backend/Dockerfile
Labels: documentation, backend, devops

#686 Osm xml for the project
  src/backend/app/submission/submission_crud.py
  src/backend/app/submission/submission_routes.py
Labels: enhancement, Priority: Must have

#690 Add JOSM API to docker compose dev stack
  docker-compose.josm.yml
  docs/DEV-2.-Backend.md
  josm/Dockerfile
  josm/container-entrypoint.sh
  josm/nginx-josm.conf
  josm/novnc/Dockerfile
  josm/novnc/index.html
  josm/preferences.xml
Labels: enhancement, Priority: Nice to have, devops

#687 fetch submission basic info
  src/backend/app/submission/submission_crud.py
Labels: enhancement, backend

#717 getallsubmissions() used in the convert to osm
  src/backend/app/central/central_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/submission/submission_crud.py
Labels: enhancement, backend

#718 Feat typescript integration
  src/frontend/fmtm_openlayer_map/src/components/DialogTaskActions.jsx
  src/frontend/fmtm_openlayer_map/src/components/OpenLayersMap.jsx
  src/frontend/fmtm_openlayer_map/src/components/ProjectInfo/ProjectInfoSidebar.jsx
  src/frontend/fmtm_openlayer_map/src/components/ProjectInfo/ProjectInfomap.jsx
  src/frontend/fmtm_openlayer_map/src/components/ProjectMap/ProjectMap.jsx
  src/frontend/fmtm_openlayer_map/src/components/QrcodeComponent.jsx
  src/frontend/fmtm_openlayer_map/src/components/TasksMap/TasksMap.jsx
  src/frontend/fmtm_openlayer_map/src/hooks/MapStyles.js
  src/frontend/fmtm_openlayer_map/src/layers/TasksLayer.jsx
  src/frontend/fmtm_openlayer_map/src/views/DefineAreaMap.jsx
  src/frontend/fmtm_openlayer_map/src/views/Home.jsx
  src/frontend/fmtm_openlayer_map/src/views/MainView.jsx
  src/frontend/fmtm_openlayer_map/src/views/ProjectInfo.jsx
  src/frontend/fmtm_openlayer_map/src/views/Submissions.jsx
  src/frontend/fmtm_openlayer_map/src/views/Tasks.jsx
  src/frontend/fmtm_openlayer_map/webpack.config.js
  src/frontend/main/src/assets/images/lock.png
  src/frontend/main/src/assets/images/red-lock.png
  src/frontend/main/src/components/createproject/BasemapSelection.tsx
  src/frontend/main/src/components/createproject/DataExtract.tsx
  src/frontend/main/src/components/createproject/DefineTasks.tsx
  src/frontend/main/src/components/createproject/FormSelection.tsx
  src/frontend/main/src/components/createproject/ProjectDetailsForm.tsx
  src/frontend/main/src/components/createproject/UploadArea.tsx
  src/frontend/main/src/components/editproject/EditProjectDetails.tsx
  src/frontend/main/src/components/editproject/UpdateForm.tsx
  src/frontend/main/src/components/editproject/UpdateProjectArea.tsx
  src/frontend/main/src/components/home/ExploreProjectCard.tsx
  src/frontend/main/src/components/home/HomePageFilters.tsx
  src/frontend/main/src/components/organization/OrganizationAddForm.tsx
  src/frontend/main/src/index.css
  src/frontend/main/src/shared/AssetModules.js
  src/frontend/main/src/shared/CoreModules.js
  src/frontend/main/src/store/Store.ts
  src/frontend/main/src/store/slices/CreateProjectSlice.ts
  src/frontend/main/src/store/slices/ThemeSlice.ts
  src/frontend/main/src/store/types/ICreateProject.ts
  src/frontend/main/src/types/reduxTypes.ts
  src/frontend/main/src/utilities/AppLoader.jsx
  src/frontend/main/src/utilities/BasicTabs.tsx
  src/frontend/main/src/utilities/CustomDrawer.jsx
  src/frontend/main/src/utilities/CustomizedProgressBar.tsx
  src/frontend/main/src/utilities/PrimaryAppBar.tsx
  src/frontend/main/src/utilities/ProtectedRoute.jsx
  src/frontend/main/src/views/Authorized.tsx
  src/frontend/main/src/views/Create.tsx
  src/frontend/main/src/views/CreateOrganization.tsx
  src/frontend/main/src/views/CreateProject.tsx
  src/frontend/main/src/views/EditProject.tsx
  src/frontend/main/src/views/Home.jsx
  src/frontend/main/src/views/Login.tsx
  src/frontend/main/src/views/MainView.jsx
  src/frontend/main/src/views/Organization.tsx
  src/frontend/main/src/views/SubmissionDetails.tsx
  src/frontend/main/webpack.config.js
Labels: enhancement, frontend

#720 Mbtiles List and Download
  src/backend/app/models/enums.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
Labels: enhancement, backend

#727 fix: questions order in odk collect
  src/backend/app/central/central_crud.py
  src/backend/app/db/db_models.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/utils.py
Labels: bug, backend

#729 Docstrings for User directory
  src/backend/app/users/user_crud.py
  src/backend/app/users/user_routes.py
  src/backend/app/users/user_schemas.py
Labels: documentation, Outreachy

#731 Feat generate mbtiles
  src/backend/app/projects/project_crud.py
  src/frontend/fmtm_openlayer_map/src/api/Project.js
  src/frontend/fmtm_openlayer_map/src/components/Activities.jsx
  src/frontend/fmtm_openlayer_map/src/components/GenerateMbTiles.jsx
  src/frontend/fmtm_openlayer_map/src/hooks/MapStyles.js
  src/frontend/fmtm_openlayer_map/src/views/Home.jsx
  src/frontend/main/src/environment.ts
  src/frontend/main/src/shared/AssetModules.js
  src/frontend/main/src/shared/CoreModules.js
  src/frontend/main/src/store/slices/ProjectSlice.ts
Labels: enhancement, frontend

#737 Project creation: handle odkcentral failure, additional logs
  INSTALL.md
  docs/DEV-2.-Backend.md
  src/backend/app/central/central_crud.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/tasks/tasks_crud.py
Labels: Priority: Nice to have, backend

#738 Added Docstrings
  src/backend/app/models/enums.py
  src/backend/app/models/languages_and_countries.py
  src/backend/app/organization/organization_crud.py
  src/backend/app/organization/organization_routes.py
  src/backend/app/organization/organization_schemas.py
  src/backend/app/pagination/pagination.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/projects/utils.py
Labels: documentation, Outreachy

#735 Remove manual signup/login (use OSM)
  .env.example
  .github/workflows/pytest.yml
  INSTALL.md
  docs/DEV-1.-Getting-Started.md
  docs/DEV-6.-Production-Deployment.md
  gen-env.sh
  src/backend/app/auth/auth_routes.py
  src/backend/app/auth/osm.py
  src/backend/app/config.py
  src/backend/app/main.py
  src/backend/app/users/user_crud.py
  src/backend/app/users/user_routes.py
  src/backend/app/users/user_schemas.py
  src/frontend/main/src/api/LoginService.ts
  src/frontend/main/src/index.css
  src/frontend/main/src/models/login/loginModel.ts
  src/frontend/main/src/routes.jsx
  src/frontend/main/src/styles/login.css
  src/frontend/main/src/utilfunctions/createPopup.ts
  src/frontend/main/src/utilfunctions/login.ts
  src/frontend/main/src/utilities/CustomDrawer.jsx
  src/frontend/main/src/utilities/PrimaryAppBar.tsx
  src/frontend/main/src/utilities/ProtectedRoute.jsx
  src/frontend/main/src/views/Authorized.tsx
  src/frontend/main/src/views/Create.tsx
  src/frontend/main/src/views/Login.tsx
Labels: Priority: Should have, frontend, backend, QA ready

#739 Added Docstrings
  src/backend/app/auth/auth_routes.py
  src/backend/app/auth/osm.py
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_routes.py
  src/backend/app/central/central_schemas.py
  src/backend/app/db/db_models.py
  src/backend/app/db/postgis_utils.py
Labels: documentation, Outreachy

#742 Feat custom data extracts
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
Labels: enhancement, backend

#743 Update pytest CI action, tweak
  .github/workflows/pytest.yml
  build_ci_imgs.sh
  odkcentral/api/Dockerfile
  src/backend/.dockerignore
  src/backend/Dockerfile
  src/backend/app/config.py
  src/backend/container-entrypoint.sh
  src/backend/tests/test_users.py
Labels: Priority: Should have, backend, devops

#746 Task split algorithm
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
Labels: enhancement, backend

#747 Feat UI Tailwind Integration with slight changes on Project Page
  src/frontend/main/package-lock.json
  src/frontend/main/package.json
  src/frontend/main/postcss.config.js
  src/frontend/main/src/components/home/HomePageFilters.tsx
  src/frontend/main/src/index.css
  src/frontend/main/src/index.html
  src/frontend/main/src/views/Home.jsx
  src/frontend/main/src/views/MainView.jsx
  src/frontend/main/tailwind.config.js
Labels: enhancement, frontend

#753 Hotfixes
  docker-compose.yml
  src/backend/Dockerfile
  src/backend/app/projects/project_crud.py
Labels: enhancement, backend

#767 Feat organization id createproject
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_schemas.py
  src/frontend/main/src/components/createproject/FormSelection.tsx
  src/frontend/main/src/components/createproject/ProjectDetailsForm.tsx
  src/frontend/main/src/components/createproject/validation/CreateProjectValidation.tsx
Labels: enhancement, frontend

#762 Multithreading
  src/backend/app/projects/project_crud.py
Labels: enhancement, backend

#768 Update logging to be more feature rich, persist logs, JSON logs
  docker-compose.deploy.yml
  docker-compose.noodk.yml
  docker-compose.yml
  src/backend/Dockerfile
  src/backend/app/auth/auth_routes.py
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_routes.py
  src/backend/app/central/central_schemas.py
  src/backend/app/config.py
  src/backend/app/main.py
  src/backend/app/organization/organization_crud.py
  src/backend/app/organization/organization_routes.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/utils.py
  src/backend/app/submission/submission_crud.py
  src/backend/app/submission/submission_routes.py
  src/backend/app/tasks/tasks_crud.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: enhancement, Priority: Should have, backend, devops

#783 Updated task split for multipolygon, geometrycollection
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
Labels: enhancement, backend

#784 Feat-download-dataextract
  src/frontend/fmtm_openlayer_map/src/api/Project.js
  src/frontend/fmtm_openlayer_map/src/views/Home.jsx
  src/frontend/main/src/store/slices/ProjectSlice.ts
Labels: enhancement, frontend
