Repository hotosm/field-tm, pull requests merged in 2023-11, with the labels that each got.

#956 Fix refine mbtiles modal design
  src/frontend/src/components/GenerateBasemap.jsx
  src/frontend/src/components/ProjectDetails/MobileFooter.tsx
  src/frontend/src/components/common/BottomSheet.tsx
  src/frontend/src/shared/AssetModules.js
Labels: frontend

#955 Fix create new project
  src/frontend/src/components/MapComponent/OpenLayersComponent/LayerSwitcher/index.js
  src/frontend/src/components/common/Button.tsx
  src/frontend/src/components/common/FileInputComponent.tsx
  src/frontend/src/components/common/RadioButton.tsx
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
Labels: frontend

#967 fix (createNewProject): splitTasks - number of tasks and map updated …
  src/frontend/src/components/createnewproject/SplitTasks.tsx
Labels: frontend

#968 fix (createNewProject): updateContents - project setup description up…
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
Labels: frontend

#969 Fix create new project issue
  src/frontend/src/api/Project.js
  src/frontend/src/components/ProjectDetails/ProjectOptions.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
Labels: frontend

#970 Qr code in task list
  src/backend/app/tasks/tasks_schemas.py
Labels: backend

#959 Added Pagination info in the project summary
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
Labels: backend

#972 feat (homePage): pagination - pagination feature added to homePage pr…
  src/frontend/src/api/HomeService.ts
  src/frontend/src/components/home/HomePageFilters.tsx
  src/frontend/src/store/slices/HomeSlice.ts
  src/frontend/src/views/Home.jsx
Labels: frontend

#960 feat: api to get data extracts for the given aoi and category
  src/backend/app/projects/project_routes.py
Labels: backend

#988 fix (errorPage): error picture replacement
  src/frontend/src/assets/images/something_went_wrong.png
Labels: frontend

#992 Fix project tiles modal
  src/frontend/src/components/GenerateBasemap.jsx
Labels: frontend

#991 added search field to search projects from the db
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
Labels: backend

#989 Fix create new project flow
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/views/NewDefineAreaMap.tsx
Labels: frontend

#994 Fix create new project stepper validation
  src/frontend/src/components/common/StepSwitcher.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/views/CreateNewProject.tsx
Labels: frontend

#976 task id on task polygon and feature extracts
  src/backend/app/projects/project_crud.py
Labels: backend

#987 fix (createNewProject): uploadArea - validation added to upload file,…
  src/frontend/src/components/createnewproject/UploadArea.tsx
  src/frontend/src/utilfunctions/checkWGS84Projection.js
Labels: frontend

#996 Fix sign in text
  src/frontend/src/utilities/CustomDrawer.jsx
  src/frontend/src/utilities/PrimaryAppBar.tsx
  src/frontend/src/views/Authorized.tsx
Labels: frontend

#990 added task_split_type to project when task splitting complete
  src/backend/app/db/db_models.py
  src/backend/app/models/enums.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_schemas.py
  src/backend/migrations/001-project-split-type-fields.sql
Labels: backend, migration

#978 uuid in read project and total_task in generate-log
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
Labels: backend

#998 Fix custom tms url
  src/frontend/src/components/GenerateBasemap.jsx
Labels: frontend

#999 feat: edit draw AOI in create project
  src/frontend/src/components/MapComponent/OpenLayersComponent/Layers/VectorLayer.js
  src/frontend/src/components/createnewproject/UploadArea.tsx
  src/frontend/src/views/NewDefineAreaMap.tsx
Labels: frontend

#1001 Refactor bytesio .seek(0) & .read() methods with .getvalue()
  src/backend/app/central/central_schemas.py
  src/backend/app/main.py
  src/backend/app/projects/project_routes.py
Labels: backend

#997 solve pagination error
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
Labels: backend

#1003 Fix task split type
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/validation/DefineTaskValidation.tsx
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/types/enums.ts
Labels: frontend

#1004 fix (createNewProject): splitTasks - PROCEED btn removed from the pop…
  src/frontend/src/components/createnewproject/SplitTasks.tsx
Labels: frontend

#1005 Fix project summary search all
  src/frontend/src/views/Home.jsx
Labels: frontend

#1007 Feat cluster spread
  src/frontend/src/components/MapComponent/OpenLayersComponent/Layers/ClusterLayer.js
Labels: frontend

#1010 fix (createNewProject): state - uploadAreaSelection & dividedTaskGeoj…
  src/frontend/src/store/slices/CreateProjectSlice.ts
Labels: frontend

#1008 Upload organisation logo in S3.
  src/backend/app/organization/organization_crud.py
  src/backend/app/s3.py
Labels: backend

#1011 Upload template files to s3
  src/backend/app/projects/project_routes.py
  src/backend/app/static/__init__.py
  src/backend/app/static/template/template.geojson
Labels: backend

#1012 remove functions to generate files for janakpur project
  src/backend/app/central/central_crud.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
Labels: backend

#1016 Feat capacitor geolocation
  src/frontend/package.json
  src/frontend/src/assets/images/locationArc.png
  src/frontend/src/components/MapComponent/OpenLayersComponent/Layers/VectorLayer.js
  src/frontend/src/components/ProjectDetails/MapControlComponent.tsx
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/views/NewProjectDetails.jsx
Labels: frontend

#1015 Fix: use async by default, with occasional def threading
  docs/User-Manual-For-Project-Managers.md
  docs/dev/Backend.md
  src/backend/app/auth/auth_routes.py
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_routes.py
  src/backend/app/db/postgis_utils.py
  src/backend/app/main.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/projects/utils.py
  src/backend/app/s3.py
  src/backend/app/submission/submission_crud.py
  src/backend/app/submission/submission_routes.py
  src/backend/app/tasks/tasks_crud.py
  src/backend/app/tasks/tasks_routes.py
  src/backend/app/tasks/tasks_schemas.py
  src/backend/app/users/user_crud.py
  src/backend/app/users/user_routes.py
  src/backend/app/users/user_schemas.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/backend/tests/conftest.py
  src/backend/tests/test_projects_routes.py
  src/frontend/public/install.sh
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/api/Project.js
  src/frontend/src/api/ProjectTaskStatus.js
  src/frontend/src/components/ActivitiesPanel.jsx
  src/frontend/src/components/DialogTaskActions.jsx
  src/frontend/src/components/TasksLayer.jsx
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/components/createproject/FormSelection.tsx
  src/frontend/src/views/NewProjectDetails.jsx
Labels: documentation, frontend, backend

#1013 Remove /images/ endpoint, replaced by s3 logos
  .gitignore
  docker-compose.development.yml
  docker-compose.main.yml
  docker-compose.yml
  src/backend/Dockerfile
  src/backend/app/main.py
  src/frontend/src/components/home/ExploreProjectCard.tsx
  src/frontend/src/views/Organization.tsx
Labels: frontend, backend, devops
