Repository hotosm/field-tm, pull requests merged in 2023-10, with the labels that each got.

#869 Alembic Setup
  docker-compose.deploy.yml
  docker-compose.noodk.yml
  docker-compose.yml
  josm/docker-compose.yml
  src/backend/.dockerignore
  src/backend/Dockerfile
  src/backend/alembic.ini
  src/backend/app/db/database.py
  src/backend/app/db/db_models.py
  src/backend/app/main.py
  src/backend/migrations/alembic_helpers.py
  src/backend/migrations/env.py
  src/backend/migrations/script.py.mako
  src/backend/migrations/versions/ec28a415c8d8_create_inital_tables.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: Priority: Nice to have, in progress, backend

#872 Various: task splitting error handling, compose cleanup, default svcfmtm user
  .env.example
  .github/workflows/build_and_deploy.yml
  INSTALL.md
  docker-compose.deploy.yml
  docker-compose.noodk.yml
  docker-compose.yml
  docs/dev/Frontend.md
  src/backend/app/projects/project_crud.py
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/components/createproject/DefineTasks.tsx
  src/frontend/src/components/createproject/FormSelection.tsx
  src/frontend/src/components/createproject/ProjectDetailsForm.tsx
  src/frontend/src/store/slices/LoginSlice.ts
  src/frontend/src/utilities/ProtectedRoute.jsx
  src/frontend/webpack.config.js
Labels: Priority: Nice to have, frontend, backend, devops

#871 feat: returned required media name in a response of form validity
  src/backend/app/central/central_crud.py
Labels: Priority: Nice to have, backend

#875 Feat error page
  src/frontend/src/routes.jsx
  src/frontend/src/types/modulesDecleration.d.ts
Labels: enhancement, Priority: Nice to have, frontend

#874 Feat mobile UI project details
  src/frontend/src/api/Project.js
  src/frontend/src/assets/images/grid.png
  src/frontend/src/assets/images/location.png
  src/frontend/src/components/OpenLayersMap.jsx
  src/frontend/src/components/ProjectDetails/TaskSectionPopup.tsx
  src/frontend/src/components/ProjectInfo/ProjectInfoCountCard.jsx
  src/frontend/src/components/ProjectInfo/ProjectInfoSidebar.jsx
  src/frontend/src/components/ProjectInfo/ProjectInfomap.jsx
  src/frontend/src/components/TasksLayer.jsx
  src/frontend/src/index.css
  src/frontend/src/views/ProjectDetails.jsx
  src/frontend/src/views/ProjectInfo.tsx
Labels: enhancement, Priority: Should have, frontend

#878 Add SQL-based migration script, with migration dir
  docker-compose.deploy.yml
  docker-compose.noodk.yml
  docker-compose.yml
  docs/dev/Database-Tips.md
  src/backend/.dockerignore
  src/backend/Dockerfile
  src/backend/alembic.ini
  src/backend/app-entrypoint.sh
  src/backend/app/db/db_models.py
  src/backend/migrate-entrypoint.sh
  src/backend/migrations/000-remove-user-password.sql
  src/backend/migrations/alembic_helpers.py
  src/backend/migrations/env.py
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/migrations/script.py.mako
  src/backend/migrations/versions/ec28a415c8d8_create_inital_tables.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: enhancement, Priority: Should have, backend

#886 Fix migration schema init (trim whitespace)
  src/backend/migrate-entrypoint.sh
Labels: devops

#887 Re-add fixed pypi osm-login-python pkg
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend, devops

#884 Switch from npm to pnpm, webpack to vite
  .github/workflows/r-frontend_tests.yml
  docs/dev/Setup.md
  src/frontend/debug.dockerfile
  src/frontend/index.html
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/setupTests.js
  src/frontend/setupTests.ts
  src/frontend/src/environment.ts
  src/frontend/src/utilfunctions/testUtils.jsx
  src/frontend/src/utilities/CustomizedModal.tsx
  src/frontend/src/views/Tabbed.tsx
  src/frontend/test-tsconfig.json
  src/frontend/tests/App.test.tsx
  src/frontend/tests/CreateProject.test.tsx
  src/frontend/tsconfig.json
  src/frontend/vite.config.ts
  src/frontend/webpack.config.js
Labels: enhancement, frontend

#782 updated task wise submission api for project info
  src/backend/app/central/central_crud.py
  src/backend/app/tasks/tasks_routes.py
Labels: enhancement, backend

#891 Replace make_data_extract PostgresClient with osm-rawdata
  src/backend/app/projects/project_crud.py
  src/backend/app/tasks/tasks_crud.py
Labels: backend

#906 Fix task split issue
  src/backend/app/projects/project_crud.py
Labels: backend

#904 fix: feature count in task features count api
  src/backend/app/projects/project_routes.py
  src/backend/app/tasks/tasks_routes.py
Labels: backend

#910 Fix project details map
  CONTRIBUTING.md
  src/frontend/src/api/Project.js
  src/frontend/src/components/ActivitiesPanel.jsx
  src/frontend/src/components/OpenLayersMap.jsx
  src/frontend/src/components/ProjectDetails/MobileActivitiesContents.tsx
  src/frontend/src/components/ProjectDetails/MobileFooter.tsx
  src/frontend/src/components/ProjectDetails/MobileProjectInfoContent.tsx
  src/frontend/src/components/ProjectDetails/ProjectOptions.tsx
  src/frontend/src/components/common/Accordion.tsx
  src/frontend/src/components/common/BottomSheet.tsx
  src/frontend/src/shared/AssetModules.js
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/styles/home.scss
  src/frontend/src/views/MainView.jsx
  src/frontend/src/views/ProjectDetails.jsx
Labels: frontend

#900 Backend tests for project endpoints
  .github/workflows/docs.yml
  .github/workflows/pr_test.yml
  .github/workflows/r-pytest.yml
  .github/workflows/tests/test_ci.sh
  docker-compose.yml
  src/backend/Dockerfile
  src/backend/app/central/central_crud.py
  src/backend/app/config.py
  src/backend/app/db/database.py
  src/backend/app/projects/project_crud.py
  src/backend/app/tasks/tasks_crud.py
  src/backend/tests/conftest.py
  src/backend/tests/test_data/Coulibistrie.zip
  src/backend/tests/test_data/Dos_D_Ane.zip
  src/backend/tests/test_data/Naivasha.zip
  src/backend/tests/test_data/Stonetown2.zip
  src/backend/tests/test_data/Vulamba.zip
  src/backend/tests/test_data/__init__.py
  src/backend/tests/test_data/building_footprint.zip
  src/backend/tests/test_data/buildings.xls
  src/backend/tests/test_projects_routes.py
Labels: backend, devops

#918 feature/New UI for create project
  .pre-commit-config.yaml
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/components/MapComponent/OpenLayersComponent/Layers/VectorLayer.js
  src/frontend/src/components/TasksLayer.jsx
  src/frontend/src/components/common/Button.tsx
  src/frontend/src/components/common/FileInputComponent.tsx
  src/frontend/src/components/common/Modal.tsx
  src/frontend/src/components/common/ProgressBar.tsx
  src/frontend/src/components/common/RadioButton.tsx
  src/frontend/src/components/common/Select.tsx
  src/frontend/src/components/common/StepSwitcher.tsx
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
  src/frontend/src/components/createnewproject/validation/DataExtractValidation.tsx
  src/frontend/src/components/createnewproject/validation/SelectFormValidation.tsx
  src/frontend/src/components/createnewproject/validation/UploadAreaValidation.tsx
  src/frontend/src/components/createproject/DataExtract.tsx
  src/frontend/src/components/createproject/DefineTasks.tsx
  src/frontend/src/components/createproject/FormSelection.tsx
  src/frontend/src/components/createproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createproject/validation/DefineTaskValidation.tsx
  src/frontend/src/constants/StepFormConstants.ts
  src/frontend/src/hooks/useForm.tsx
  src/frontend/src/index.css
  src/frontend/src/routes.jsx
  src/frontend/src/store/Store.ts
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/views/CreateNewProject.tsx
  src/frontend/src/views/NewDefineAreaMap.tsx
  src/frontend/tsconfig.json
Labels: enhancement, frontend

#913 Addressing of project using Nominatim.
  src/backend/app/projects/project_crud.py
  src/backend/tests/test_projects_routes.py
Labels: backend

#908 Add Minio to backend compose stack & CI
  .env.example
  .github/workflows/build_and_deploy.yml
  .github/workflows/r-pytest.yml
  INSTALL.md
  docker-compose.noodk.yml
  docker-compose.yml
  docs/dev/Production.md
  docs/dev/Setup.md
  docs/dev/Troubleshooting.md
  src/backend/app-entrypoint.sh
  src/backend/app/config.py
  src/backend/app/s3.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: documentation, backend, devops

#922 fix (projectDetails): dynamic grid-col removed due to issues, footerI…
  src/frontend/src/components/ProjectDetails/MobileFooter.tsx
Labels: frontend

#919 Inform user if GeoJSON CRS is not EPSG:4326
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

#926 Feat project details map component
  src/frontend/src/components/GenerateMbTiles.jsx
  src/frontend/src/components/MapComponent/OpenLayersComponent/LayerSwitcher/index.js
  src/frontend/src/components/MapComponent/OpenLayersComponent/Layers/VectorLayer.js
  src/frontend/src/components/MapLegends.jsx
  src/frontend/src/components/ProjectDetails/MapControlComponent.tsx
  src/frontend/src/components/ProjectDetails/MobileFooter.tsx
  src/frontend/src/components/ProjectDetails/TaskSectionPopup.tsx
  src/frontend/src/components/ProjectInfo/ProjectInfomap.jsx
  src/frontend/src/components/TasksLayer.jsx
  src/frontend/src/components/common/Accordion.tsx
  src/frontend/src/components/common/BottomSheet.tsx
  src/frontend/src/routes.jsx
  src/frontend/src/shared/AssetModules.js
  src/frontend/src/utilfunctions/getTaskStatusStyle.js
  src/frontend/src/views/NewProjectDetails.jsx
Labels: frontend

#896 Selection of basemap output formats, TMS input, mobile UI
  docker-compose.yml
  src/backend/app/main.py
  src/backend/app/models/enums.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/frontend/src/api/Project.js
  src/frontend/src/components/GenerateBasemap.jsx
  src/frontend/src/components/GenerateMbTiles.jsx
  src/frontend/src/environment.ts
  src/frontend/src/views/ProjectDetails.jsx
Labels: enhancement, frontend, backend, devops, release dependent

#932 Simplify project features response & prep for flatgeobuf osm extracts
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
Labels: backend

#933 Move simplify features to get_project_features endpoint
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
Labels: backend

#938 Fix bottom menu
  src/frontend/src/components/ProjectDetails/ProjectOptions.tsx
  src/frontend/src/views/NewProjectDetails.jsx
Labels: frontend

#939 Fix signinout issue
  src/frontend/src/utilities/CustomDrawer.jsx
  src/frontend/src/utilities/PrimaryAppBar.tsx
Labels: frontend

#943 Fix/customform uploadissue
  src/frontend/src/components/createnewproject/SplitTasks.tsx
Labels: frontend

#947 Align new organization button, replace total projects text
  src/frontend/src/components/common/Select.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/components/home/HomePageFilters.tsx
Labels: frontend

#953 hotfix: cleanData function is called only if data extracts is available
  src/backend/app/projects/project_crud.py
Labels: backend
