Repository hotosm/field-tm, pull requests merged in 2023-04, with the labels that each got.

#327 Generate app user files
  src/backend/central/central_crud.py
  src/backend/projects/project_crud.py
Labels: enhancement, Priority: Must have, backend

#292 improved Contribution.md
  docs/Contribution.md
Labels: documentation, Outreachy

#321 Improve Home.md
  docs/Home.md
Labels: documentation, Outreachy

#325 Added Frontend tips
  docs/DEV-2.-Backend.md
  docs/DEV-3.-Frontend.md
  docs/Mapping-Campaign-Using-FMTM.md
Labels: documentation, Outreachy

#324 Improve Home.md
  docs/Home.md
Labels: documentation, Outreachy

#333 Fix odk collect qr codes
  src/backend/central/central_crud.py
  src/backend/projects/project_crud.py
Labels: bug, Priority: Must have, backend

#334 fix: added missed slash in the server url
  src/backend/central/central_crud.py
Labels: Priority: Must have, backend

#337 Feature-organization
  src/backend/projects/project_crud.py
  src/backend/projects/project_routes.py
  src/backend/projects/project_schemas.py
  src/frontend/main/src/components/createproject/CreateProjectValidation.tsx
  src/frontend/main/src/components/createproject/ProjectDetailsForm.tsx
Labels: Priority: Nice to have, backend

#351 ✨ feat: Update form API changes and handled success and error messages
  src/frontend/main/src/api/CreateProjectService.ts
Labels: enhancement, frontend

#355 optimized main and openlayers
  src/frontend/fmtm_openlayer_map/.babelrc
  src/frontend/fmtm_openlayer_map/package-lock.json
  src/frontend/fmtm_openlayer_map/package.json
  src/frontend/fmtm_openlayer_map/src/views/Home.jsx
  src/frontend/fmtm_openlayer_map/webpack.config.js
  src/frontend/main/.babelrc
  src/frontend/main/package-lock.json
  src/frontend/main/package.json
  src/frontend/main/src/App.jsx
  src/frontend/main/src/components/createproject/BasemapSelection.tsx
  src/frontend/main/src/components/createproject/ProjectDetailsForm.tsx
  src/frontend/main/src/components/createproject/UploadArea.tsx
  src/frontend/main/src/routes.jsx
  src/frontend/main/src/shared/CoreModules.js
  src/frontend/main/src/utilities/CustomDrawer.jsx
  src/frontend/main/src/utilities/CustomDrawer.tsx
  src/frontend/main/src/utilities/CustomDropdown.tsx
  src/frontend/main/src/utilities/CustomizedImage.jsx
  src/frontend/main/src/utilities/CustomizedProgressBar.tsx
  src/frontend/main/src/utilities/PrimaryAppBar.tsx
  src/frontend/main/src/views/Home.jsx
  src/frontend/main/webpack.config.js
Labels: enhancement, frontend

#353 ✨ feat: Add handleClickOutside event listener to close popup on outsi…
  src/frontend/fmtm_openlayer_map/src/views/Home.jsx
Labels: enhancement, Priority: Must have, frontend

#354 feat: basic typescript config will add more config
  src/frontend/fmtm_openlayer_map/package-lock.json
  src/frontend/fmtm_openlayer_map/tsconfig.json
  src/frontend/main/package-lock.json
  src/frontend/main/tsconfig.json
Labels: enhancement, frontend

#361 Fix uploadarea dropdown
  src/backend/central/central_crud.py
  src/frontend/main/src/api/CreateProjectService.ts
  src/frontend/main/src/components/createproject/ProjectDetailsForm.tsx
  src/frontend/main/src/components/createproject/UploadArea.tsx
  src/frontend/main/src/store/slices/CreateProjectSlice.ts
  src/frontend/main/src/store/slices/ThemeSlice.ts
Labels: enhancement, frontend

#367 Fix uploadarea dropdown
  src/frontend/fmtm_openlayer_map/package-lock.json
  src/frontend/fmtm_openlayer_map/package.json
  src/frontend/fmtm_openlayer_map/src/api/SubmissionService.ts
  src/frontend/fmtm_openlayer_map/src/assets/images/avatar.png
  src/frontend/fmtm_openlayer_map/src/components/DialogTaskActions.jsx
  src/frontend/fmtm_openlayer_map/src/components/MapComponent/OpenLayersComponent/LayerSwitcher/index.js
  src/frontend/fmtm_openlayer_map/src/components/MapComponent/OpenLayersComponent/Layers/VectorLayer.js
  src/frontend/fmtm_openlayer_map/src/components/MapComponent/OpenLayersComponent/Layers/VectorTileLayer.js
  src/frontend/fmtm_openlayer_map/src/components/MapComponent/OpenLayersComponent/Layers/index.js
  src/frontend/fmtm_openlayer_map/src/components/MapComponent/OpenLayersComponent/MapContainer/index.jsx
  src/frontend/fmtm_openlayer_map/src/components/MapComponent/OpenLayersComponent/Popup/index.jsx
  src/frontend/fmtm_openlayer_map/src/components/MapComponent/OpenLayersComponent/Popup/popup.css
  src/frontend/fmtm_openlayer_map/src/components/MapComponent/OpenLayersComponent/Popup/popup.css.map
  src/frontend/fmtm_openlayer_map/src/components/MapComponent/OpenLayersComponent/Popup/popup.scss
  src/frontend/fmtm_openlayer_map/src/components/MapComponent/OpenLayersComponent/helpers/getFeatureGeojson.js
  src/frontend/fmtm_openlayer_map/src/components/MapComponent/OpenLayersComponent/helpers/layerUtils.js
  src/frontend/fmtm_openlayer_map/src/components/MapComponent/OpenLayersComponent/helpers/styleUtils.js
  src/frontend/fmtm_openlayer_map/src/components/MapComponent/OpenLayersComponent/index.js
  src/frontend/fmtm_openlayer_map/src/components/MapComponent/OpenLayersComponent/map.css
  src/frontend/fmtm_openlayer_map/src/components/MapComponent/OpenLayersComponent/map.scss
  src/frontend/fmtm_openlayer_map/src/components/MapComponent/OpenLayersComponent/useOLMap/index.js
  src/frontend/fmtm_openlayer_map/src/components/SubmissionMap/SubmissionMap.tsx
  src/frontend/fmtm_openlayer_map/src/views/Home.jsx
  src/frontend/fmtm_openlayer_map/src/views/Submissions.tsx
  src/frontend/fmtm_openlayer_map/webpack.config.js
  src/frontend/main/src/components/createproject/FormSelection.tsx
  src/frontend/main/src/components/createproject/ProjectDetailsForm.tsx
  src/frontend/main/src/components/createproject/UploadArea.tsx
  src/frontend/main/src/components/createproject/validation/CreateProjectValidation.tsx
  src/frontend/main/src/components/createproject/validation/SelectFormValidation.tsx
  src/frontend/main/src/routes.jsx
  src/frontend/main/src/store/Store.js
  src/frontend/main/src/store/slices/ProjectSlice.ts
  src/frontend/main/src/store/slices/ThemeSlice.ts
  src/frontend/main/src/views/CreateProject.tsx
  src/frontend/main/src/views/NewPage.tsx
Labels: enhancement, frontend

#256 Update Getting-started.md
  docs/DEV-1.-Getting-Started.md
Labels: documentation, Outreachy

#370 Fix GitHub action syntax / auto-deploy
  .github/workflows/dev_deploy.yml
  .github/workflows/prod_deploy.yml
Labels: devops

#373 Feat submission points
  src/backend/Dockerfile
  src/backend/config.py
  src/backend/db/db_models.py
  src/backend/projects/project_crud.py
  src/backend/projects/project_routes.py
  src/backend/projects/project_schemas.py
  src/backend/submission/submission_crud.py
  src/backend/submission/submission_routes.py
  src/backend/tasks/tasks_crud.py
  src/backend/tasks/tasks_routes.py
Labels: enhancement, backend

#356 Updated the docstrings
  scripts/odk_fieldmap_original/utils/aoi2odk.py
Labels: documentation, Outreachy
