Repository hotosm/field-tm, pull requests merged in 2023-06, with the labels that each got.

#436 Updated FAQ.md
  docs/FAQ.md
Labels: documentation, Outreachy

#435 Feature oragnization UI
  src/frontend/main/package-lock.json
  src/frontend/main/src/shared/CoreModules.js
  src/frontend/main/src/store/slices/ThemeSlice.ts
  src/frontend/main/src/utilities/MappingHeader.tsx
  src/frontend/main/src/utilities/PrimaryAppBar.tsx
  src/frontend/main/src/views/MainView.jsx
  src/frontend/main/src/views/Organization.tsx
Labels: enhancement

#437 Feature osm xml geojson
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_routes.py
  src/backend/app/projects/project_crud.py
  src/backend/app/submission/submission_crud.py
  src/backend/app/submission/submission_routes.py
  src/backend/pyproject.toml
Labels: enhancement, backend

#439 Updated Home.md
  docs/Home.md
Labels: documentation, Outreachy

#440 Does not require a bullet
  README.md
Labels: documentation, Outreachy

#438 Updated About.md
  docs/About.md
Labels: documentation, Outreachy

#486 Feat-alogrithm-createproject
  src/backend/app/central/central_crud.py
  src/backend/app/db/db_models.py
  src/backend/app/main.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/frontend/fmtm_openlayer_map/src/api/task.ts
  src/frontend/fmtm_openlayer_map/src/components/ProjectInfo/ProjectInfomap.jsx
  src/frontend/fmtm_openlayer_map/src/views/Home.jsx
  src/frontend/main/src/api/CreateProjectService.ts
  src/frontend/main/src/components/createproject/DefineTasks.tsx
  src/frontend/main/src/views/Home.jsx
Labels: enhancement, frontend

#479 Wiki updated
  README.md
  docs/About.md
  docs/Code-of-Conduct.md
  docs/Contribution.md
  docs/DEV-1.-Getting-Started.md
  docs/DEV-2.-Backend.md
  docs/DEV-3.-Frontend.md
  docs/DEV-4.-Database-Tips.md
  docs/DEV-5.-Docker-Tips.md
  docs/FAQ.md
  docs/Home.md
Labels: documentation, Outreachy

#494 Convert to osm
  src/backend/app/submission/submission_crud.py
  src/backend/app/submission/submission_routes.py
  src/backend/app/tasks/tasks_crud.py
  src/backend/app/tasks/tasks_routes.py
Labels: enhancement, backend

#516 Update README with github action statuses
  README.md
Labels: documentation

#518 feat : Font family changed at all pages and project details responsive
  src/frontend/main/src/components/createproject/ProjectDetailsForm.tsx
  src/frontend/main/src/components/home/ExploreProjectCard.tsx
  src/frontend/main/src/store/slices/ThemeSlice.ts
  src/frontend/main/src/views/CreateProject.tsx
Labels: enhancement, frontend

#520 Fix osm-fieldwork package override, use correct central cert
  docker-compose.yml
  odkcentral/proxy/Dockerfile
  src/backend/Dockerfile
Labels: bug, Priority: Must have

#521 Create User-Manual-For-Project-Managers.md
  docs/User-Manual-For-Project-Managers.md
Labels: documentation, Outreachy

#529 Merged Mapping Campaign into User-Manual-For-Project-Managers.md
  docs/Mapping-Campaign-Using-FMTM.md
  docs/User-Manual-For-Project-Managers.md
Labels: Outreachy

#530 Update DEV-4.-Database-Tips.md
  docs/DEV-4.-Database-Tips.md
Labels: documentation, Outreachy

#547 fix : form selection responsive style fixed
  src/frontend/main/src/components/createproject/FormSelection.tsx
Labels: enhancement, frontend

#553 Custom data extracts
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
Labels: Priority: Nice to have, backend

#556 Feat Custom extract Step added with task bug fixes and other bug fixes
  src/frontend/fmtm_openlayer_map/src/layers/TasksLayer.jsx
  src/frontend/fmtm_openlayer_map/src/views/DefineAreaMap.jsx
  src/frontend/fmtm_openlayer_map/src/views/Home.jsx
  src/frontend/main/src/api/CreateProjectService.ts
  src/frontend/main/src/components/createproject/DataExtract.tsx
  src/frontend/main/src/components/createproject/DefineTasks.tsx
  src/frontend/main/src/components/createproject/FormSelection.tsx
  src/frontend/main/src/components/createproject/UploadArea.tsx
  src/frontend/main/src/components/createproject/validation/DataExtractValidation.tsx
  src/frontend/main/src/routes.jsx
  src/frontend/main/src/views/CreateProject.tsx
Labels: Priority: Must have

#555 uploading xml form
  src/backend/app/central/central_crud.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
Labels: enhancement, backend
