Repository hotosm/field-tm, pull requests merged in 2023-03, with the labels that each got.

#112 Update docker config for microfrontend subdomains
  .env.example
  docker-compose.prod.yml
  docker-compose.yml
  docs/DEV-1.-Getting-Started.md
  docs/DEV-5:-Production-Deployment.md
  src/frontend/Dockerfile
  src/frontend/fmtm_openlayer_map/webpack.config.js
  src/frontend/main/webpack.config.js
Labels: enhancement, Priority: Must have

#109 Download submissions from ODK Central and convert them to OSM XML for JOSM
  src/backend/central/central_crud.py
  src/backend/central/central_routes.py
  src/backend/debug/debug_routes.py
  src/backend/projects/project_crud.py
Labels: enhancement, Priority: Must have

#120 Create OSM data extract, upload XForm and attachment to Central
  src/backend/central/central_crud.py
  src/backend/projects/project_crud.py
  src/backend/projects/project_routes.py
Labels: enhancement, Priority: Must have

#142 Add endpoint to import test data zips on first load
  docs/DEV-2.-Backend.md
  src/backend/debug/debug_crud.py
  src/backend/debug/debug_routes.py
  src/backend/main.py
  src/backend/projects/project_routes.py
  src/backend/test_data/Coulibistrie.zip
  src/backend/test_data/Dos_D_Ane.zip
  src/backend/test_data/Naivasha.zip
  src/backend/test_data/Stonetown2.zip
  src/backend/test_data/Vulamba.zip
  src/backend/test_data/__init__.py
Labels: enhancement, Priority: Nice to have

#242 Fmtm camp
  docs/Mapping-Campaign-Using-FMTM.md
Labels: documentation, Outreachy

#249 Fixed errors in DEV-2.-Backend.md
  docs/DEV-2.-Backend.md
  docs/DEV-5.-Docker-Tips.md
Labels: documentation

#252 add: github actions bypasses quay io & runs build locally for dev server
  .github/workflows/dev_deploy.yml
Labels: enhancement

#257 Updated documentation
  docs/DEV-1.-Getting-Started.md
Labels: documentation, Outreachy

#251 Improved docs
  docs/Guide-On-Improving-Documentation.md
  docs/Mapping-Campaign-Using-FMTM.md
Labels: documentation, Outreachy

#265 feat: endpoint to list the xforms
  src/backend/central/central_crud.py
  src/backend/central/central_routes.py
Labels: enhancement, Priority: Must have, recovery-response, backend

#264 Updated the documentation
  .all-contributorsrc
  README.md
Labels: documentation, enhancement, Outreachy

#267 feat: endpoint to get the qr code by task created
  src/backend/tasks/tasks_crud.py
  src/backend/tasks/tasks_routes.py
Labels: enhancement, backend

#261 Patch 10
  docs/Contribution.md
Labels: documentation, Outreachy

#273 Frontend/fixed_openlayers_bugs
  src/frontend/fmtm_openlayer_map/src/api/ProjectTaskStatus.js
  src/frontend/fmtm_openlayer_map/src/components/DialogTaskActions.jsx
  src/frontend/fmtm_openlayer_map/src/components/QrcodeComponent.jsx
Labels: bug

#276 Updated Contribution.md
  docs/Contribution.md
Labels: documentation, Outreachy

#275 Improved Home.md
  docs/Home.md
Labels: documentation, Outreachy

#274 Fixed a typo in Mapping-Campaign-Using-FMTM.md
  docs/Mapping-Campaign-Using-FMTM.md
Labels: documentation, Outreachy

#272 Updating the getting started docs
  docs/DEV-1.-Getting-Started.md
  images/endpoints_responsible_for_auth_screenshot-2023-03-26-092756.png
Labels: documentation, Outreachy

#270 Fixed a typo
  README.md
Labels: documentation, Outreachy

#271 Restructured the bullet system
  CODE_OF_CONDUCT.md
Labels: documentation, Outreachy

#268 Feat xform_title added
  src/backend/projects/project_crud.py
  src/backend/projects/project_schemas.py
  src/frontend/fmtm_openlayer_map/src/components/DialogTaskActions.jsx
  src/frontend/fmtm_openlayer_map/src/layers/TasksLayer.jsx
  src/frontend/main/.prettierrc
  src/frontend/main/package-lock.json
  src/frontend/main/package.json
  src/frontend/main/src/api/CreateProjectService.ts
  src/frontend/main/src/components/createproject/ProjectDetailsForm.tsx
  src/frontend/main/src/components/createproject/UploadArea.tsx
  src/frontend/main/src/models/createproject/createProjectModel.ts
  src/frontend/main/src/routes.jsx
  src/frontend/main/src/store/slices/CreateProjectSlice.ts
  src/frontend/main/src/utilities/CustomSelect.tsx
  src/frontend/main/src/views/NewPage.tsx
Labels: enhancement, frontend

#278 Forms
  src/backend/central/central_crud.py
  src/backend/central/central_routes.py
  src/backend/pagination/pagination.py
  src/backend/projects/project_crud.py
  src/backend/projects/project_routes.py
Labels: enhancement

#289 fix pytest failing due to unavalible postgres service.
  .github/workflows/pytest.yml
Labels: bug

#288 fixed a typo
  docs/DEV-2.-Backend.md
Labels: documentation, Outreachy

#287 Improve DEV-4-Database-Tips.md
  docs/DEV-4.-Database-Tips.md
Labels: documentation, Outreachy

#277 Updated Code-of-Conduct.md
  docs/Code-of-Conduct.md
Labels: documentation, Outreachy

#286 Improve DEV-5-Docker-tips.md
  docs/DEV-5.-Docker-Tips.md
Labels: documentation, Outreachy

#304 feat:updated algorithm of dividing the boundary into square tasks
  src/backend/projects/project_crud.py
Labels: bug

#297 Added space to docs/Mapping-Campaign-Using-FMTM.md
  docs/Mapping-Campaign-Using-FMTM.md
Labels: documentation, Outreachy

#294 Restructured Mapping-Campaign-Using-FMTM.md
  docs/Mapping-Campaign-Using-FMTM.md
Labels: documentation, Outreachy

#300 Redefining About.md
  docs/About.md
Labels: documentation, Outreachy

#306 Login
  src/backend/auth/auth_routes.py
  src/backend/requirements.txt
  src/backend/users/user_crud.py
Labels: enhancement

#313 mini auth
  src/frontend/fmtm_openlayer_map/src/assets/images/grid.png
  src/frontend/fmtm_openlayer_map/src/assets/images/location.png
  src/frontend/main/.prettierrc
  src/frontend/main/package-lock.json
  src/frontend/main/package.json
  src/frontend/main/src/api/LoginService.ts
  src/frontend/main/src/assets/images/favicon.png
  src/frontend/main/src/components/createproject/CreateProjectValidation.tsx
  src/frontend/main/src/components/createproject/ProjectDetailsForm.tsx
  src/frontend/main/src/components/createproject/UploadArea.tsx
  src/frontend/main/src/components/home/HomePageFilters.tsx
  src/frontend/main/src/hooks/useForm.tsx
  src/frontend/main/src/index.css
  src/frontend/main/src/models/login/loginModel.ts
  src/frontend/main/src/routes.jsx
  src/frontend/main/src/shared/AssetModules.js
  src/frontend/main/src/shared/CoreModules.js
  src/frontend/main/src/store/Store.js
  src/frontend/main/src/store/slices/CommonSlice.ts
  src/frontend/main/src/store/slices/CreateProjectSlice.ts
  src/frontend/main/src/store/slices/LoginSlice.ts
  src/frontend/main/src/store/slices/ProjectSlice.ts
  src/frontend/main/src/utilfunctions/compareUtils.js
  src/frontend/main/src/utilities/AppLoader.jsx
  src/frontend/main/src/utilities/CustomDrawer.tsx
  src/frontend/main/src/utilities/CustomSelect.tsx
  src/frontend/main/src/utilities/PrimaryAppBar.tsx
  src/frontend/main/src/utilities/ProtectedRoute.jsx
  src/frontend/main/src/views/Create.tsx
  src/frontend/main/src/views/CreateProject.tsx
  src/frontend/main/src/views/Login.tsx
  src/frontend/main/src/views/MainView.jsx
  src/frontend/main/src/views/NewPage.tsx
Labels: Priority: Must have, recovery-response, frontend

#312 Update DEV-1.-Getting-Started.md
  docs/DEV-1.-Getting-Started.md
Labels: documentation, Outreachy

#311 Update Guide-On-Improving-Documentation.md
  docs/Guide-On-Improving-Documentation.md
Labels: documentation, Outreachy

#293 Restructured DEV-6.-Production-Deployment.md
  docs/DEV-6.-Production-Deployment.md
Labels: documentation, Outreachy

#315 feat: removed user input field and added central odk input field and took user details from state
  src/frontend/main/src/components/createproject/CreateProjectValidation.tsx
  src/frontend/main/src/components/createproject/ProjectDetailsForm.tsx
  src/frontend/main/src/components/createproject/UploadArea.tsx
Labels: enhancement, Priority: Must have, frontend

#316 implement auth controls in openlayers and add 404 page not found
  src/frontend/fmtm_openlayer_map/src/api/ProjectTaskStatus.js
  src/frontend/fmtm_openlayer_map/src/components/DialogTaskActions.jsx
  src/frontend/fmtm_openlayer_map/src/views/Home.jsx
  src/frontend/main/src/assets/images/notFound.png
  src/frontend/main/src/index.css
  src/frontend/main/src/routes.jsx
  src/frontend/main/src/utilities/ProtectedRoute.jsx
  src/frontend/main/src/views/NotFound404.jsx
  src/frontend/main/webpack.config.js
Labels: enhancement, frontend
