Repository hotosm/field-tm, pull requests merged in 2023-07, with the labels that each got.

#558 Feat organizations
  src/backend/app/organization/organization_crud.py
Labels: backend

#563 Organisations
  src/backend/app/organization/organization_crud.py
  src/backend/app/organization/organization_routes.py
  src/backend/app/submission/submission_crud.py
  src/backend/app/submission/submission_routes.py
Labels: enhancement, backend

#575 Update default postgres port binds from 5432 --> 5433
  docker-compose.deploy.yml
  docker-compose.noodk.yml
  docker-compose.yml
Labels: Priority: Nice to have, devops

#576 Download form
  src/backend/app/db/db_models.py
  src/backend/app/main.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/tasks/tasks_crud.py
Labels: enhancement, backend

#577 feat: create organization button on create project
  src/frontend/main/src/components/createproject/ProjectDetailsForm.tsx
Labels: enhancement, frontend

#569 Implement hackathon algorithm
  src/backend/app/db/db_models.py
  src/backend/app/db/split_algorithm.sql
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
Labels: enhancement, backend

#582 Feat: Task Splitting Algorithm Implementation
  src/frontend/main/src/api/CreateProjectService.ts
  src/frontend/main/src/components/createproject/DefineTasks.tsx
  src/frontend/main/src/store/slices/CreateProjectSlice.ts
Labels: enhancement, frontend

#574 Feat-edit-project
  src/backend/app/projects/project_routes.py
  src/frontend/fmtm_openlayer_map/src/components/TasksMap/TasksMap.jsx
  src/frontend/fmtm_openlayer_map/src/views/DefineAreaMap.jsx
  src/frontend/fmtm_openlayer_map/src/views/Home.jsx
  src/frontend/fmtm_openlayer_map/src/views/ProjectInfo.jsx
  src/frontend/main/src/api/CreateProjectService.ts
  src/frontend/main/src/components/createproject/ProjectDetailsForm.tsx
  src/frontend/main/src/components/editproject/EditProjectDetails.tsx
  src/frontend/main/src/components/editproject/UpdateForm.tsx
  src/frontend/main/src/components/editproject/validation/EditProjectDetailsValidation.ts
  src/frontend/main/src/constants/EditProjectSidebarContent.ts
  src/frontend/main/src/environment.ts
  src/frontend/main/src/models/createproject/createProjectModel.ts
  src/frontend/main/src/routes.jsx
  src/frontend/main/src/shared/AssetModules.js
  src/frontend/main/src/store/slices/CreateProjectSlice.ts
  src/frontend/main/src/utilities/MappingHeader.tsx
  src/frontend/main/src/views/EditProject.tsx
Labels: enhancement, frontend

#595 Implemented Download Functionality For Project / Prettier and Typescript Config
  src/frontend/fmtm_openlayer_map/src/api/Project.js
  src/frontend/fmtm_openlayer_map/src/views/DefineAreaMap.jsx
  src/frontend/fmtm_openlayer_map/src/views/Home.jsx
  src/frontend/fmtm_openlayer_map/tsconfig.json
  src/frontend/main/.eslintrc.js
  src/frontend/main/package-lock.json
  src/frontend/main/package.json
  src/frontend/main/src/api/CreateProjectService.ts
  src/frontend/main/src/api/HomeService.ts
  src/frontend/main/src/api/LoginService.ts
  src/frontend/main/src/api/OrganizationService.ts
  src/frontend/main/src/components/createproject/DataExtract.tsx
  src/frontend/main/src/components/createproject/DefineTasks.tsx
  src/frontend/main/src/components/createproject/FormSelection.tsx
  src/frontend/main/src/components/createproject/LoadingBar.tsx
  src/frontend/main/src/components/createproject/ProjectDetailsForm.tsx
  src/frontend/main/src/components/createproject/UploadArea.tsx
  src/frontend/main/src/components/home/HomePageFilters.tsx
  src/frontend/main/src/routes.jsx
  src/frontend/main/src/store/slices/ProjectSlice.ts
  src/frontend/main/src/utilfunctions/login.ts
  src/frontend/main/src/utilities/CustomDropdown.tsx
  src/frontend/main/src/utilities/CustomSelect.tsx
  src/frontend/main/src/utilities/CustomizedModal.tsx
  src/frontend/main/src/utilities/CustomizedProgressBar.tsx
  src/frontend/main/src/utilities/CustomizedSnackbar.jsx
  src/frontend/main/src/views/CreateOrganization.tsx
  src/frontend/main/src/views/EditProject.tsx
  src/frontend/main/src/views/Forgot.tsx
  src/frontend/main/src/views/Login.tsx
  src/frontend/main/src/views/SubmissionDetails.tsx
  src/frontend/main/test-tsconfig.json
  src/frontend/main/tsconfig.json
Labels: enhancement, frontend

#602 Fixes
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
Labels: bug

#600 Feature/update odk cred feature api to update odk credentials of existing project
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/utils.py
Labels: enhancement

#605 Fix/task spliting polygon task spliting algorithm works for geojson with Polygons instead of features
  src/backend/app/projects/project_crud.py
Labels: enhancement, backend

#604 Feature/hashtag field project has hashtags field and projects can be filtered based on these values
  src/backend/app/db/db_models.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
Labels: enhancement, frontend, backend

#623 Fix create organization
  src/frontend/main/src/components/createproject/ProjectDetailsForm.tsx
  src/frontend/main/src/utilfunctions/createPopup.ts
  src/frontend/main/src/utilfunctions/login.ts
  src/frontend/main/src/views/CreateOrganization.tsx
  src/frontend/main/src/views/CreateProject.tsx
Labels: enhancement, frontend

#622 Feat update category
  src/backend/app/central/central_crud.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/submission/submission_crud.py
  src/backend/app/submission/submission_routes.py
Labels: enhancement, Priority: Should have, backend

#626 Setup sentry
  src/backend/app/config.py
  src/backend/app/main.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: enhancement, backend

#615 Basic docs about database backup / migration
  docs/DEV-4.-Database-Tips.md
Labels: documentation

#646 fix: upload geojson type Polygon
  src/backend/app/projects/project_crud.py
Labels: enhancement, backend
