Repository hotosm/field-tm, pull requests merged in 2023-05, with the labels that each got.

#375 fixed project addressed bugs
  src/frontend/fmtm_openlayer_map/package-lock.json
  src/frontend/fmtm_openlayer_map/src/api/Project.js
  src/frontend/fmtm_openlayer_map/src/views/Home.jsx
  src/frontend/main/src/utilities/CustomDrawer.jsx
  src/frontend/main/src/utilities/CustomizedImage.jsx
Labels: bug, Priority: Must have

#378 modified the mapping campaign file.
  docs/Mapping-Campaign-Using-FMTM.md
Labels: documentation, Outreachy

#380 fixed bug on openlayers project description
  src/frontend/fmtm_openlayer_map/src/api/Project.js
  src/frontend/fmtm_openlayer_map/src/views/Home.jsx
  src/frontend/main/src/components/home/ExploreProjectCard.tsx
Labels: bug

#383 Feat building
  src/frontend/fmtm_openlayer_map/src/api/SubmissionService.ts
  src/frontend/fmtm_openlayer_map/src/components/MapComponent/OpenLayersComponent/LayerSwitcher/index.js
  src/frontend/fmtm_openlayer_map/src/components/MapComponent/OpenLayersComponent/helpers/styleUtils.js
  src/frontend/fmtm_openlayer_map/src/components/SubmissionMap/SubmissionMap.jsx
  src/frontend/fmtm_openlayer_map/src/views/Home.jsx
  src/frontend/fmtm_openlayer_map/src/views/Submissions.jsx
  src/frontend/fmtm_openlayer_map/webpack.config.js
  src/frontend/main/src/api/CreateProjectService.ts
  src/frontend/main/src/api/LoginService.ts
  src/frontend/main/src/api/OrganizationService.ts
  src/frontend/main/src/components/createproject/FormSelection.tsx
  src/frontend/main/src/components/createproject/ProjectDetailsForm.tsx
  src/frontend/main/src/components/createproject/UploadArea.tsx
  src/frontend/main/src/components/organization/OrganizationAddForm.tsx
  src/frontend/main/src/components/organization/Validation/OrganizationAddValidation.tsx
  src/frontend/main/src/models/organization/organizationModal.ts
  src/frontend/main/src/store/slices/CommonSlice.ts
  src/frontend/main/src/store/slices/CreateProjectSlice.ts
  src/frontend/main/src/store/slices/ProjectSlice.ts
  src/frontend/main/src/utilities/CustomizedModal.tsx
Labels: enhancement, frontend

#384 Generate app user files
  src/backend/db/db_models.py
  src/backend/models/enums.py
  src/backend/projects/project_crud.py
  src/backend/projects/project_routes.py
  src/backend/submission/submission_crud.py
  src/backend/submission/submission_routes.py
Labels: enhancement, backend

#385 Select nodes or polygons for data extract
  src/backend/projects/project_crud.py
  src/backend/projects/project_routes.py
  src/backend/requirements.txt
Labels: enhancement, backend

#387 Feat building ways
  src/frontend/fmtm_openlayer_map/src/components/DialogTaskActions.jsx
  src/frontend/fmtm_openlayer_map/src/views/Home.jsx
  src/frontend/main/src/api/CreateProjectService.ts
  src/frontend/main/src/views/CreateProject.tsx
Labels: enhancement, frontend

#392 Feature/add expand xlsforms
  src/backend/central/central_crud.py
  src/backend/db/db_models.py
  src/backend/projects/project_crud.py
  src/backend/projects/project_routes.py
Labels: enhancement, backend

#407 Feature/submissions
  src/backend/central/central_crud.py
  src/backend/central/central_routes.py
Labels: enhancement, backend

#416 Update/generate osm data
  src/backend/central/central_crud.py
  src/backend/projects/project_crud.py
  src/backend/requirements.txt
Labels: enhancement, backend

#422 Feature/progressbar fix
  src/frontend/main/src/components/createproject/FormSelection.tsx
  src/frontend/main/src/components/createproject/LoadingBar.tsx
Labels: enhancement, frontend

#428 Odk central connection
  src/backend/projects/project_crud.py
  src/backend/submission/submission_crud.py
Labels: enhancement

#431 Fix CI workflows after PR #372
  .github/workflows/deploy_template.yml
  .github/workflows/image_build.yml
  docker-compose.noodk.yml
  src/backend/app/submission/submission_crud.py
  src/backend/tests/conftest.py
Labels: Priority: Must have, devops
