Repository hotosm/field-tm, pull requests merged in 2023-09, with the labels that each got.

#794 Project specific logging to additional separate file
  src/backend/app/main.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
Labels: Priority: Nice to have, backend

#793 Build CI image in workflow
  .github/workflows/ci_img_build.yml
  .github/workflows/pytest.yml
  build_ci_imgs.sh
Labels: Priority: Should have, backend, devops

#792 Update Wiki --> GH Pages
  .env.example
  .github/workflows/docs.yml
  .github/workflows/wiki.yml
  .gitignore
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  Makefile
  README.md
  docs/About.md
  docs/CODE_OF_CONDUCT.md
  docs/CONTRIBUTING.md
  docs/Code-of-Conduct.md
  docs/Contribution.md
  docs/INSTALL.md
  docs/_Sidebar.md
  docs/dev/Backend.md
  docs/dev/Database-Tips.md
  docs/dev/Docker-Tips.md
  docs/dev/Frontend.md
  docs/dev/Production.md
  docs/dev/Setup.md
  docs/index.md
  docs/swagger/favicon-16x16.png
  docs/swagger/favicon-32x32.png
  docs/swagger/index.css
  docs/swagger/index.html
  docs/swagger/oauth2-redirect.html
  docs/swagger/swagger-initializer.js
  docs/swagger/swagger-ui-bundle.js
  docs/swagger/swagger-ui-bundle.js.map
  docs/swagger/swagger-ui-es-bundle-core.js
  docs/swagger/swagger-ui-es-bundle-core.js.map
  docs/swagger/swagger-ui-es-bundle.js
  docs/swagger/swagger-ui-es-bundle.js.map
  docs/swagger/swagger-ui-standalone-preset.js
  docs/swagger/swagger-ui-standalone-preset.js.map
  docs/swagger/swagger-ui.css
  docs/swagger/swagger-ui.css.map
  docs/swagger/swagger-ui.js
  docs/swagger/swagger-ui.js.map
  gen-env.sh
  mkdocs.yml
  scripts/gen_openapi_json.py
  src/backend/Dockerfile
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: documentation, Priority: Nice to have, backend, devops

#801 Fix pytest during PRs
  .github/workflows/pytest.yml
Labels: enhancement, Priority: Must have, devops

#796 Upgrade dependencies, Pydantic v2
  src/backend/Dockerfile
  src/backend/app/config.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/submission/submission_crud.py
  src/backend/app/tasks/tasks_schemas.py
  src/backend/app/users/user_schemas.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: Priority: Should have, backend

#800 api to get the centroids of the projects
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
Labels: enhancement, backend

#799 Fix explore projects
  src/frontend/main/package-lock.json
  src/frontend/main/package.json
  src/frontend/main/src/components/common/Switch.tsx
  src/frontend/main/src/components/home/ExploreProjectCard.tsx
  src/frontend/main/src/components/home/HomePageFilters.tsx
  src/frontend/main/src/index.css
  src/frontend/main/src/shared/AssetModules.js
  src/frontend/main/src/store/slices/HomeSlice.ts
  src/frontend/main/src/utilfunctions/shadcn.ts
  src/frontend/main/src/views/Home.jsx
Labels: enhancement, frontend

#806 Fix pydantic defaults for ODK_CENTRAL vars
  src/backend/app/config.py
Labels: bug, Priority: Must have, backend

#805 Fix explore projects
  src/frontend/main/src/views/Home.jsx
Labels: bug, frontend

#802 fix: updated category based on the available yaml file
  src/backend/app/projects/project_crud.py
Labels: enhancement

#803 Feat update schemas
  src/backend/app/central/central_crud.py
  src/backend/app/organization/organization_crud.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/tasks/tasks_crud.py
  src/backend/app/tasks/tasks_routes.py
Labels: bug, blocker

#812 Bump osm fieldwork --> v0.3.6rc1
  docs/dev/Backend.md
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend, blocker

#814 Remove pydantic Url in favour of str
  src/backend/app/config.py
Labels: Priority: Should have, backend

#815 build: set PYTHONPATH to /opt, for ci img
  src/backend/Dockerfile
Labels: Priority: Nice to have, backend

#827 Add osm login deps, minor restructure, dev troubleshooting
  docker-compose.noodk.yml
  docker-compose.yml
  docs/dev/Backend.md
  docs/dev/Troubleshooting.md
  josm/docker-compose.yml
  mkdocs.yml
  src/backend/app/main.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: Priority: Must have, backend

#825 fix: outline geojson of project in project details api
  src/backend/app/projects/project_schemas.py
Labels: Priority: Should have, backend

#826 Feat projectinfo bug
  src/frontend/fmtm_openlayer_map/src/views/DefineAreaMap.jsx
  src/frontend/main/src/components/createproject/DataExtract.tsx
  src/frontend/main/src/components/createproject/UploadArea.tsx
  src/frontend/main/src/components/editproject/validation/EditProjectDetailsValidation.ts
  src/frontend/main/src/views/Home.jsx
Labels: enhancement, frontend

#828 Set underpass url via env var
  .env.example
  .github/workflows/pr.yml
  .github/workflows/pr_pytest.yml
  .github/workflows/reusable/frontend_tests.yml
  .github/workflows/reusable/pytest.yml
  src/backend/app/config.py
  src/backend/app/projects/project_crud.py
  src/backend/app/tasks/tasks_crud.py
Labels: Priority: Nice to have, backend

#830 Overhaul CI, use reusable workflows
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_ci_img.yml
  .github/workflows/build_odk_imgs.yml
  .github/workflows/ci_img_build.yml
  .github/workflows/pr.yml
  .github/workflows/pr_pytest.yml
  .github/workflows/r-build_backend.yml
  .github/workflows/r-build_frontend.yml
  .github/workflows/r-extract_versions.yml
  .github/workflows/r-frontend_tests.yml
  .github/workflows/r-pytest.yml
  .github/workflows/reusable/frontend_tests.yml
  .github/workflows/tests/pr_payload.json
  .github/workflows/tests/push_payload.json
  .github/workflows/tests/test_ci.sh
  src/backend/app/projects/project_crud.py
Labels: frontend, backend, devops

#844 Feat create new project
  src/frontend/src/components/MapComponent/OpenLayersComponent/Layers/VectorLayer.js
  src/frontend/src/components/common/RadioButton.tsx
  src/frontend/src/components/common/Select.tsx
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
  src/frontend/src/constants/StepFormConstants.ts
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/views/CreateNewProject.tsx
Labels: enhancement, Priority: Should have, frontend

#859 Migrate osm-login-python to HOTOSM repo (pep631 support)
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: Priority: Nice to have, backend

#862 Use hotosm/gh-workflows reusable workflows
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_ci_img.yml
  .github/workflows/build_odk_imgs.yml
  .github/workflows/docs.yml
  .github/workflows/r-build_backend.yml
  .github/workflows/r-build_frontend.yml
  .github/workflows/r-extract_vars.yml
  .github/workflows/r-extract_versions.yml
  .github/workflows/wiki.yml
Labels: devops

#865 fix: solved unsupported multi-linestring custom feature issue in odk …
  src/backend/app/projects/project_crud.py
Labels: Priority: Should have, backend

#866 Feat error page
  src/frontend/src/assets/images/hot.png
  src/frontend/src/assets/images/something_went_wrong.png
  src/frontend/src/assets/images/under_construction.png
  src/frontend/src/components/common/Button.tsx
  src/frontend/src/routes.jsx
  src/frontend/src/shared/AssetModules.js
  src/frontend/src/views/ErrorBoundary.tsx
  src/frontend/src/views/UnderConstruction.tsx
Labels: Priority: Nice to have, frontend
