Repository hotosm/field-tm, pull requests merged in 2024-01, with the labels that each got.

#1073 hotfix: location str in create project
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
Labels: backend

#1074 Update pydantic v2 validator deprecations
  src/backend/app/projects/project_schemas.py
  src/backend/app/tasks/tasks_schemas.py
Labels: backend

#1072 Submission form fields for the submision table
  src/backend/app/central/central_routes.py
  src/backend/app/submission/submission_routes.py
Labels: backend, release dependent

#1078 Create & edit project UI fixes
  src/frontend/src/components/ProjectDetails/ProjectOptions.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createnewproject/SelectForm.tsx
Labels: frontend

#1079 Optimze the performance of project dashboard
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
Labels: backend

#1047 Use flatgeobuf data extracts
  src/backend/app/db/postgis_utils.py
  src/backend/app/organization/organization_crud.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/backend/tests/test_projects_routes.py
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/components/ProjectInfo/ProjectInfomap.jsx
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/validation/DataExtractValidation.tsx
  src/frontend/src/components/createproject/DefineTasks.tsx
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
Labels: frontend, backend

#1076 Serialization for task_status and created project dashboard fields
  src/backend/app/projects/project_schemas.py
  src/backend/app/tasks/tasks_schemas.py
Labels: backend

#1082 Task status fetched from enums
  src/backend/app/projects/project_schemas.py
  src/backend/app/tasks/tasks_schemas.py
  src/frontend/src/api/Project.js
  src/frontend/src/api/ProjectTaskStatus.js
Labels: frontend, backend

#1092 hotfix: location_str made optional in ReadProject Schema
  src/backend/app/projects/project_schemas.py
Labels: backend

#1091 Cookie based authentication
  src/backend/app/auth/auth_routes.py
  src/backend/app/auth/osm.py
  src/frontend/src/utilfunctions/login.ts
  src/frontend/src/utilities/CustomDrawer.jsx
  src/frontend/src/utilities/PrimaryAppBar.tsx
Labels: frontend, backend

#1095 Minor Fixes in task split process
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/frontend/src/components/createnewproject/DataExtract.tsx
Labels: frontend, backend

#1098 Add Justfile to repo for basic commands
  .github/labeler.yml
  Justfile
  Makefile
Labels: devops

#1096 Refactor organization routes/crud/schemas to use best practice
  src/backend/app/models/enums.py
  src/backend/app/organization/organization_crud.py
  src/backend/app/organization/organization_deps.py
  src/backend/app/organization/organization_routes.py
  src/backend/app/organization/organization_schemas.py
Labels: backend

#1094 Add basic user role support to backend
  docs/About.md
  src/backend/Dockerfile
  src/backend/app/auth/auth_routes.py
  src/backend/app/auth/osm.py
  src/backend/app/auth/roles.py
  src/backend/app/db/db_models.py
  src/backend/app/models/enums.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_deps.py
  src/backend/app/tasks/tasks_crud.py
  src/backend/migrations/003-project-roles.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/migrations/revert/003-project-roles.sql
  src/frontend/src/components/createproject/ProjectDetailsForm.tsx
Labels: documentation, frontend, backend, devops, migration

#1101 Fix all pre-commit.ci linting errors
  .github/workflows/tests/test_ci.sh
  .pre-commit-config.yaml
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE.md
  README.md
  docs/About.md
  docs/FAQ.md
  docs/User-Manual-For-Project-Managers.md
  docs/dev/Frontend.md
  docs/dev/Setup.md
  docs/index.md
  nginx/container-entrypoint.sh
  scripts/gen-env.sh
  scripts/renew-certs-manual.sh
  scripts/setup/docker.sh
  scripts/setup/podman.sh
  src/backend/app-entrypoint.sh
  src/backend/app/auth/auth_routes.py
  src/backend/app/auth/osm.py
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_routes.py
  src/backend/app/central/central_schemas.py
  src/backend/app/db/db_models.py
  src/backend/app/main.py
  src/backend/app/models/languages_and_countries.py
  src/backend/app/pagination/pagination.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/s3.py
  src/backend/app/submission/submission_crud.py
  src/backend/app/submission/submission_routes.py
  src/backend/app/submission/submission_schemas.py
  src/backend/app/tasks/tasks_crud.py
  src/backend/app/tasks/tasks_routes.py
  src/backend/app/users/user_crud.py
  src/backend/app/users/user_routes.py
  src/backend/backup-entrypoint.sh
  src/backend/migrate-entrypoint.sh
  src/backend/migrations/003-project-roles.sql
  src/backend/tests/__init__.py
  src/backend/tests/test_projects_routes.py
  src/frontend/src/api/CreateProjectService.ts
Labels: documentation, frontend, backend, devops, migration

#1102 Fix editable vector layer
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/components/MapComponent/OpenLayersComponent/Layers/VectorLayer.js
  src/frontend/src/components/common/Button.tsx
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/views/CreateNewProject.tsx
  src/frontend/src/views/NewDefineAreaMap.tsx
Labels: frontend

#1109 Fix limit project area
  src/frontend/src/components/createnewproject/UploadArea.tsx
  src/frontend/src/store/slices/CreateProjectSlice.ts
Labels: frontend

#1113 Use organisation manager table for organisation admins
  src/backend/app/auth/roles.py
  src/backend/app/models/enums.py
  src/backend/migrations/003-project-roles.sql
  src/backend/migrations/init/fmtm_base_schema.sql
Labels: backend, migration

#1111 Fix search input width
  src/frontend/src/components/ProjectDetailsV2/ActivitiesPanel.tsx
Labels: frontend

#1112 Fix invalid geojson
  src/frontend/src/components/createnewproject/UploadArea.tsx
  src/frontend/src/utilfunctions/checkWGS84Projection.js
Labels: frontend

#1114 Pedantic renaming for consistency with database
  src/backend/app/auth/roles.py
  src/backend/app/main.py
  src/backend/app/organisations/__init__.py
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/organisations/organisation_deps.py
  src/backend/app/organisations/organisation_routes.py
  src/backend/app/organisations/organisation_schemas.py
  src/backend/app/organization/organization_routes.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/submissions/__init__.py
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
  src/backend/app/submissions/submission_schemas.py
  src/backend/app/users/user_crud.py
  src/backend/app/users/user_routes.py
  src/backend/app/users/user_schemas.py
  src/backend/tests/conftest.py
  src/backend/tests/test_projects_routes.py
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/api/OrganisationService.ts
  src/frontend/src/api/OrganizationService.ts
  src/frontend/src/components/ProjectDetailsV2/ProjectInfo.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createproject/ProjectDetailsForm.tsx
  src/frontend/src/components/editproject/EditProjectDetails.tsx
  src/frontend/src/components/editproject/validation/EditProjectDetailsValidation.ts
  src/frontend/src/components/organisation/OrganisationAddForm.tsx
  src/frontend/src/components/organisation/Validation/OrganisationAddValidation.tsx
  src/frontend/src/models/organization/organisationModel.ts
  src/frontend/src/routes.jsx
  src/frontend/src/store/Store.ts
  src/frontend/src/store/slices/CommonSlice.ts
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/slices/organisationSlice.ts
  src/frontend/src/store/slices/organizationSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/utilities/CustomDrawer.jsx
  src/frontend/src/utilities/PrimaryAppBar.tsx
  src/frontend/src/views/CreateOrganisation.tsx
  src/frontend/src/views/EditProject.tsx
  src/frontend/src/views/Organisation.tsx
Labels: frontend, backend

#1119 Fix condition in elif statement for Feature type detection
  src/backend/app/projects/project_crud.py
Labels: backend

#1117 Upgrade osm-fieldwork --> 0.4.1 & fmtm-splitter --> 0.2.6
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

#1116 Changes to a couple of md files: from inline links to reference (footnote) links
  CONTRIBUTING.md
  INSTALL.md
  contrib/scripts/docs/reformat_md_links_as_ref.py
  docs/User-Manual-For-Project-Managers.md
Labels: documentation, contrib

#1110 Paginated submissions by project
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
  src/backend/app/submissions/submission_schemas.py
Labels: backend

#1125 Fix divide by square on multipolygon geojson
  src/backend/app/projects/project_crud.py
Labels: backend

#1122 Upgrade fmtm-splitter v0.2.6 --> v1.0.0rc0
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

#1129 Add test coverage metric
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_ci_img.yml
  .github/workflows/build_odk_imgs.yml
  .github/workflows/build_proxy_imgs.yml
  .github/workflows/docs.yml
  .github/workflows/pr_test_backend.yml
  .github/workflows/pr_test_frontend.yml
  .github/workflows/tag_build.yml
  .github/workflows/tests/pytest.yml
  .github/workflows/tests/test_ci.sh
  .github/workflows/wiki.yml
  .gitignore
  README.md
  docs/dev/Backend.md
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: documentation, backend, devops

#1130 hotfix: geom type not populated with feature type
  src/backend/app/projects/project_crud.py
Labels: backend

#1126 Organisation admin role
  src/backend/app/auth/roles.py
  src/backend/app/central/central_routes.py
  src/backend/app/db/db_models.py
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/organisations/organisation_deps.py
  src/backend/app/organisations/organisation_routes.py
  src/backend/app/projects/project_routes.py
  src/backend/app/submissions/submission_routes.py
  src/backend/app/tasks/tasks_routes.py
  src/backend/app/users/user_deps.py
  src/backend/app/users/user_routes.py
  src/backend/migrations/002-add-profile-img.sql
  src/backend/migrations/003-project-roles.sql
  src/backend/migrations/004-organisation-odk-creds.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/migrations/revert/002-add-profile-img.sql
  src/backend/migrations/revert/004-organisation-odk-creds.sql
  src/frontend/src/models/createproject/createProjectModel.ts
  src/frontend/src/models/organisation/organisationModel.ts
Labels: frontend, backend, migration

#1127 Refactor: update project dashboard to use deps functions
  src/backend/app/organisations/organisation_deps.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
Labels: backend

#1128 Paginated task wise submissions
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
Labels: backend

#1132 Replace project.private field with project.visibility enum
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_ci_img.yml
  .github/workflows/build_odk_imgs.yml
  .github/workflows/build_proxy_imgs.yml
  .github/workflows/docs.yml
  .github/workflows/pr_test_backend.yml
  .github/workflows/pr_test_frontend.yml
  .github/workflows/tag_build.yml
  .github/workflows/tests/test_ci.sh
  .github/workflows/wiki.yml
  src/backend/app/db/db_models.py
  src/backend/app/models/enums.py
  src/backend/migrations/004-organisation-odk-creds.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/migrations/revert/004-organisation-odk-creds.sql
Labels: backend, devops, migration

#1137 feature/added withcredential to include cookies on organization list api
  src/backend/app/projects/project_routes.py
  src/frontend/src/api/OrganisationService.ts
Labels: frontend, backend

#1139 Add deployment container replicas and resource constraints
  INSTALL.md
  docker-compose.development.yml
  docker-compose.main.yml
  docker-compose.staging.yml
  docker-compose.yml
  docs/dev/Backend.md
  src/backend/Dockerfile
  src/backend/app/auth/osm.py
  src/backend/app/projects/project_routes.py
Labels: documentation, backend, devops

#1138 Endpoint to return count of validated and mapped tasks
  src/backend/app/tasks/tasks_crud.py
  src/backend/app/tasks/tasks_routes.py
  src/backend/app/tasks/tasks_schemas.py
Labels: backend

#1135 Add AOI editing to map during project creation
  src/frontend/src/components/MapComponent/OpenLayersComponent/LayerSwitcher/index.js
  src/frontend/src/components/MapComponent/OpenLayersComponent/Layers/VectorLayer.js
  src/frontend/src/components/createnewproject/MapControlComponent.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/validation/DataExtractValidation.tsx
  src/frontend/src/hooks/Prompt.tsx
  src/frontend/src/shared/AssetModules.js
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/views/NewDefineAreaMap.tsx
Labels: frontend

#1141 hotfix: retrieve id and username directly instead of using .get
  src/backend/app/auth/roles.py
Labels: backend

#1142 Fix all usage of AuthUser replace .get methods
  src/backend/app/auth/auth_routes.py
  src/backend/app/auth/roles.py
  src/frontend/src/utilfunctions/login.ts
Labels: frontend, backend

#1144 fix: login_required decorator return value converted to AuthUser
  src/backend/app/auth/osm.py
Labels: backend

#1143 Dynamic qrcode generation via frontend
  .env.example
  docker-compose.yml
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_schemas.py
  src/backend/app/config.py
  src/backend/app/db/db_models.py
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/organisations/organisation_schemas.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/submissions/submission_routes.py
  src/backend/app/tasks/tasks_crud.py
  src/backend/app/tasks/tasks_routes.py
  src/backend/app/tasks/tasks_schemas.py
  src/backend/migrations/005-remove-qrcode.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/migrations/qrcode_to_odktoken.py
  src/backend/migrations/revert/005-remove-qrcode.sql
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/src/api/Files.js
  src/frontend/src/api/Project.js
  src/frontend/src/components/QrcodeComponent.jsx
  src/frontend/src/components/createnewproject/SelectForm.tsx
Labels: frontend, backend, devops, migration, release dependent

#1150 Feat projects submissions page
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/src/api/SubmissionService.ts
  src/frontend/src/components/ProjectSubmissions/InfographicsCard.tsx
  src/frontend/src/components/ProjectSubmissions/ProjectInfo.tsx
  src/frontend/src/components/ProjectSubmissions/ProjectSubmissionsSkeletonLoader.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsInfographics.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/ProjectSubmissions/TaskSubmissions.tsx
  src/frontend/src/components/ProjectSubmissions/TaskSubmissionsMap.tsx
  src/frontend/src/components/ProjectSubmissions/TaskSubmissionsMapLegend.tsx
  src/frontend/src/components/common/BarChart.tsx
  src/frontend/src/components/common/CustomTable.tsx
  src/frontend/src/components/common/LineChart.tsx
  src/frontend/src/components/common/PieChart.tsx
  src/frontend/src/components/common/Select.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/routes.jsx
  src/frontend/src/shared/AssetModules.js
  src/frontend/src/shared/CoreModules.js
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/slices/SubmissionSlice.ts
  src/frontend/src/store/types/ISubmissions.ts
  src/frontend/src/utilfunctions/downloadChart.ts
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/frontend/src/views/ProjectSubmissions.tsx
Labels: frontend
