Repository hotosm/field-tm, pull requests merged in 2024-12, with the labels that each got.

#1932 Remove trailing slash from activity endpoint
  src/frontend/src/views/ProjectSubmissions.tsx
Labels: bug, frontend

#1933 Minor mapper frontend bug fixes
  src/mapper/src/lib/components/dialog-entities-actions.svelte
  src/mapper/src/lib/components/header.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/routes/[projectId]/+page.svelte
Labels: bug

#1935 Update xlsform-design.md
  docs/manuals/xlsform-design.md
Labels: docs

#1931 Visualize all uploaded submission features/geometries on submission instance page
  src/frontend/src/components/MapComponent/OpenLayersComponent/Layers/ClusterLayer.js
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/SubmissionMap/SubmissionInstanceMap.tsx
  src/frontend/src/store/types/ISubmissions.ts
  src/frontend/src/utilfunctions/extractGeojsonFromObject.ts
  src/frontend/src/views/SubmissionDetails.tsx
Labels: bug, enhancement, frontend

#1936 Distinguish create project layer
  src/frontend/src/components/MapComponent/OpenLayersComponent/LayerSwitcher/index.js
  src/frontend/src/components/SubmissionMap/MapControlComponent.tsx
  src/frontend/src/components/SubmissionMap/SubmissionInstanceMap.tsx
  src/frontend/src/views/NewDefineAreaMap.tsx
Labels: bug, frontend

#1947 Feat/mapper zoomtoextent btn
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/static/assets/icons/crop-free.svg
Labels: enhancement

#1956 feat(projects): add organisation_logo field to ProjectSummary model
  src/backend/app/projects/project_schemas.py
Labels: enhancement, backend

#1957 Avoid double encryption of odk creds while creating organisation
  src/backend/app/organisations/organisation_deps.py
  src/backend/app/organisations/organisation_schemas.py
Labels: bug, backend

#1958 Fix: Submission Instance Page, Create Project
  src/frontend/src/api/Project.ts
  src/frontend/src/api/Submission.ts
  src/frontend/src/components/ProjectDetailsV2/ProjectInfo.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
  src/frontend/src/models/project/projectModel.ts
  src/frontend/src/views/CreateNewProject.tsx
Labels: bug, frontend

#1961 Clean polygon geometries; remove holes, fix right hand rule
  src/backend/app/db/postgis_utils.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
Labels: enhancement, backend

#1965 Clear local storage on user session expiration
  src/mapper/src/routes/[projectId]/+page.ts
Labels: bug

#1966 Add new point geom in maplibre terradraw, inject to ODK collect
  src/mapper/package.json
  src/mapper/pnpm-lock.yaml
  src/mapper/src/lib/components/dialog-task-actions.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/lib/components/qrcode.svelte
  src/mapper/src/lib/odk/collect.ts
  src/mapper/src/lib/odk/javarosa.ts
  src/mapper/src/lib/odk/qrcode.ts
  src/mapper/src/routes/[projectId]/+page.svelte
Labels: enhancement, frontend

#1948 Feat/OSM login enforced for management, additional temp login option for mappers
  src/backend/app/auth/auth_routes.py
  src/backend/app/auth/osm.py
  src/backend/app/config.py
  src/backend/app/helpers/helper_routes.py
Labels: enhancement, backend

#1973 Mapper navigation mode integration
  src/mapper/src/assets/images/arrow.png
  src/mapper/src/lib/components/map/geolocation.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/src/store/common.svelte.ts
  src/mapper/static/assets/icons/send.svg
Labels: enhancement

#1974 Update auth cookie logic for both backend and frontend (seamless temp auth)
  src/backend/app/auth/auth_deps.py
  src/backend/app/auth/auth_routes.py
  src/backend/app/auth/auth_schemas.py
  src/backend/app/auth/osm.py
  src/backend/app/auth/providers/osm.py
  src/backend/app/auth/roles.py
  src/backend/app/central/central_routes.py
  src/backend/app/db/models.py
  src/backend/app/helpers/helper_routes.py
  src/backend/app/organisations/organisation_routes.py
  src/backend/app/projects/project_routes.py
  src/frontend/src/utilfunctions/login.ts
  src/frontend/src/views/PlaywrightTempLogin.tsx
  src/mapper/src/constants/enums.ts
  src/mapper/src/lib/components/header.svelte
  src/mapper/src/lib/components/login.svelte
  src/mapper/src/lib/utils/login.ts
  src/mapper/src/routes/[projectId]/+page.ts
  src/mapper/src/store/login.svelte.ts
Labels: enhancement, frontend, backend

#1981 Finalise auth setup between frontends
  src/backend/app/auth/auth_deps.py
  src/backend/app/auth/auth_routes.py
  src/backend/app/auth/auth_schemas.py
  src/backend/app/auth/providers/osm.py
  src/frontend/src/App.tsx
  src/frontend/src/components/LoginPopup.tsx
  src/frontend/src/store/slices/LoginSlice.ts
  src/frontend/src/utilfunctions/login.ts
  src/frontend/src/utilities/CustomDrawer.tsx
  src/frontend/src/utilities/DebugConsole.tsx
  src/frontend/src/utilities/PrimaryAppBar.tsx
  src/frontend/src/views/OsmAuth.tsx
  src/frontend/src/views/PlaywrightTempLogin.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/mapper/src/lib/components/header.svelte
  src/mapper/src/lib/components/login.svelte
  src/mapper/src/lib/utils/login.ts
  src/mapper/src/routes/[projectId]/+page.ts
  src/mapper/src/store/login.svelte.ts
Labels: bug, frontend, backend

#1983 Parse AOI geojson to featcol in generate data extract
  src/backend/app/projects/project_routes.py
Labels: bug, backend

#1937 Mapper_frontend Documentation
  docs/manuals/mapping.md
  mkdocs.yml
Labels: docs

#1989 Prompt user to download custom ODK Collect on first load
  src/mapper/src/lib/components/header.svelte
Labels: enhancement, priority:low, frontend, effort:low

#1990 Fix: Offline mode button visibility & Basemap component TS type error
  src/mapper/src/lib/components/offline/basemaps.svelte
  src/mapper/src/lib/utils/basemaps.ts
Labels: bug

#1993 fix/Include organisation name in mapper frontend's project api
  src/backend/app/db/models.py
Labels: enhancement, backend

#1994 Project details section add to mapper frontend bottom sheet
  src/mapper/src/lib/components/more/index.svelte
  src/mapper/src/lib/components/more/project-info.svelte
  src/mapper/src/styles/page.css
Labels: enhancement

#1996 Update the version of fmtm-splitter 2.0.0
  src/backend/pyproject.toml
  src/backend/uv.lock
Labels: enhancement, backend

#1997 Replace project id with index on mapper frontend
  src/mapper/src/lib/components/dialog-task-actions.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/lib/components/more/activities.svelte
  src/mapper/src/lib/components/more/comment.svelte
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/src/store/tasks.svelte.ts
Labels: bug

#2003 Enable SFCGAL in FMTM database for additional PostGIS functions
  src/backend/migrations/000-reset-migrations-table-v3.sql
  src/backend/migrations/001-enable-sfcgal.sql
  src/backend/migrations/archived/2024-12-18/001-drop-dup-fields.sql
  src/backend/migrations/archived/2024-12-18/002-user-bigint.sql
  src/backend/migrations/archived/2024-12-18/003-timestamp-names.sql
  src/backend/migrations/archived/2024-12-18/004-task-events.sql
  src/backend/migrations/archived/2024-12-18/005-cleanup-project-table.sql
  src/backend/migrations/archived/2024-12-18/006-basemaps-table.sql
  src/backend/migrations/archived/2024-12-18/007-rename-task-history.sql
  src/backend/migrations/archived/2024-12-18/008-recreate-indexes.sql
  src/backend/migrations/archived/2024-12-18/009-entity-table.sql
  src/backend/migrations/archived/2024-12-18/010-delete-user.sql
  src/backend/migrations/archived/2024-12-18/upload_basemaps_s3.py
  src/backend/migrations/init/fmtm_base_schema.sql
Labels: priority:low, backend, migration, dependency:fmtm-splitter, effort:low

#2006 Fix/refactor mapper errors
  src/mapper/src/lib/components/bottom-sheet.svelte
  src/mapper/src/lib/components/dialog-task-actions.svelte
  src/mapper/src/lib/components/editor/editor.svelte
  src/mapper/src/lib/components/editor/toolbar.svelte
  src/mapper/src/lib/components/header.svelte
  src/mapper/src/lib/components/login.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/lib/components/more/comment.svelte
  src/mapper/src/lib/components/toast.svelte
  src/mapper/src/lib/types.ts
  src/mapper/src/lib/utils/getDeviceRotation.ts
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/src/store/common.svelte.ts
  src/mapper/src/store/entities.svelte.ts
  src/mapper/src/store/tasks.svelte.ts
  src/mapper/tsconfig.json
Labels: bug, enhancement

#1978 UI Refactor & Terminologies Update
  src/frontend/e2e/01-create-new-project.spec.ts
  src/frontend/src/components/ManageProject/EditTab/FormUpdateTab.tsx
  src/frontend/src/components/MapComponent/OpenLayersComponent/LayerSwitcher/index.js
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
  src/frontend/src/components/createnewproject/validation/DataExtractValidation.tsx
  src/frontend/src/components/createnewproject/validation/UploadAreaValidation.tsx
  src/frontend/src/components/home/ExploreProjectCard.tsx
  src/frontend/src/components/home/HomePageFilters.tsx
  src/frontend/src/components/home/ProjectListMap.tsx
  src/frontend/src/constants/StepFormConstants.ts
  src/frontend/src/constants/blockerUrl.ts
  src/frontend/src/routes.jsx
  src/frontend/src/views/CreateNewProject.tsx
  src/frontend/src/views/Home.tsx
Labels: bug, frontend, tests

#2002 Mapper: Replace task id with index on activities panel
  src/mapper/src/lib/components/more/activities.svelte
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/src/store/tasks.svelte.ts
Labels: bug

#2007 Add submission ids as a dataset property for the entities
  src/backend/app/central/central_schemas.py
  src/backend/app/db/postgis_utils.py
  src/backend/app/projects/project_crud.py
Labels: enhancement, backend

#2008 Feat/send org approval message to creator
  src/backend/app/auth/auth_deps.py
  src/backend/app/auth/providers/osm.py
  src/backend/app/helpers/helper_routes.py
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/organisations/organisation_routes.py
Labels: enhancement, backend

#2014 Pass scan_image as false for temporary fix of minio tag
  .github/workflows/build_and_deploy.yml
  docs/manuals/field-mapping-examples.md
Labels: bug, docs, devops

#1963 Mapper Frontend: routing to feature
  src/mapper/package.json
  src/mapper/pnpm-lock.yaml
  src/mapper/src/assets/images/location.png
  src/mapper/src/assets/maplibre-directions.ts
  src/mapper/src/lib/components/dialog-entities-actions.svelte
  src/mapper/src/lib/components/map/geolocation.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/store/entities.svelte.ts
  src/mapper/src/styles/button.css
  src/mapper/static/assets/icons/arrow-repeat.svg
  src/mapper/static/assets/icons/direction.svg
Labels: enhancement

#2015 fix: compose file name for backend test stage
  .github/workflows/build_and_deploy.yml
Labels: bug, devops

#2021 Revert/compose rename
  .github/workflows/build_and_deploy.yml
  .github/workflows/pr_test_frontend.yml
  INSTALL.md
  contrib/josm/docker-compose.yml
  contrib/just/start/Justfile
  contrib/just/stop/Justfile
  contrib/just/test/Justfile
  contrib/openobserve/docker-compose.yml
  contrib/playwright/docker-compose.yml
  contrib/tunnel/docker-compose.yml
  docker-compose.development.yml
  docker-compose.main.yml
  docker-compose.staging.yml
  docker-compose.yml
  docs/dev/Backend.md
  docs/dev/Production.md
  scripts/renew-certs-manual.sh
Labels: docs, devops, contrib

#2023 Refactor the fmtm_base_schema migrations file
  src/backend/migrations/init/fmtm_base_schema.sql
Labels: bug, backend, migration

#2020 Add db parameter to split_by_square after recent changes to fmtm-splitter
  .github/workflows/build_and_deploy.yml
  src/backend/app/projects/project_routes.py
Labels: bug, backend, devops, tests

#2024 Update mapping.md
  docs/manuals/mapping.md
Labels: docs

#2028 Rename 'description' to 'short_description' in ProjectSummary model
  src/backend/app/projects/project_schemas.py
Labels: bug, backend

#2029 Update the version of osm-fieldwork -> 0.17.0
  src/backend/pyproject.toml
  src/backend/uv.lock
Labels: enhancement, backend

#2026 Update manager workflows terminologies
  src/frontend/e2e/01-create-new-project.spec.ts
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/Description.tsx
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
Labels: bug, frontend, tests

#2017 Consider every additional entities without clipping them with AOI
  src/backend/app/central/central_crud.py
  src/backend/app/projects/project_routes.py
Labels: enhancement, backend

#2033 Minor frontend fix & enhancement
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/home/ExploreProjectCard.tsx
  src/frontend/src/models/home/homeModel.ts
  src/mapper/package.json
  src/mapper/pnpm-lock.yaml
  src/mapper/src/lib/components/map/geolocation.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/store/entities.svelte.ts
Labels: enhancement, frontend

#2038 Submission ids in entities statuses endpoint
  src/backend/app/central/central_crud.py
Labels: enhancement, backend

#2019 Implement user invitation functionality for projects via OSM messages
  src/backend/app/auth/providers/osm.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
Labels: docs, enhancement, backend

#2041 Clear additionalFeatureGeojson state after project creation
  src/frontend/src/store/slices/CreateProjectSlice.ts
Labels: bug, frontend

#2039 Fix/project pagination and search
  src/backend/app/db/models.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
Labels: bug, backend

#2035 Latest task event container minor style change + Addition of latest task event on mobile screen
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/routes/[projectId]/+page.svelte
Labels: bug

#2040 Feature validation button add
  src/frontend/src/api/Project.ts
  src/frontend/src/components/ProjectDetailsV2/ActivitiesPanel.tsx
  src/frontend/src/components/ProjectDetailsV2/FeatureSelectionPopup.tsx
  src/frontend/src/components/ProjectDetailsV2/MobileFooter.tsx
  src/frontend/src/components/ProjectDetailsV2/TaskSelectionPopup.tsx
  src/frontend/src/components/common/BottomSheet.tsx
  src/frontend/src/models/project/projectModel.ts
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/views/MainView.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/frontend/src/views/ProjectSubmissions.tsx
Labels: enhancement, frontend

#2043 Update mapper workflow
  src/frontend/src/components/ProjectDetailsV2/MapControlComponent.tsx
  src/frontend/src/components/home/ExploreProjectCard.tsx
  src/frontend/src/environment.ts
  src/frontend/src/shared/AssetModules.js
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/mapper/src/lib/components/map/main.svelte
Labels: enhancement, frontend

#2027 Auto basemap generation if tms url is input during project creation
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
Labels: enhancement, backend
