Repository hotosm/field-tm, pull requests merged in 2024-10, with the labels that each got.

#1815 Fix dockerfile warning such as Casing and whitespace separator
  src/backend/Dockerfile
Labels: enhancement, backend

#1826 Update osm-fieldwork --> 0.16.9 for new entity creation fix
  src/backend/Dockerfile
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

#1822 Allow empty task id in entity statuses for new geopoint
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_schemas.py
  src/backend/app/projects/project_crud.py
Labels: bug, priority:high, backend, dependency:osm-fieldwork

#1823 Feat/mapper frontend continuation
  src/frontend/src/components/common/BottomSheet.tsx
  src/mapper/package.json
  src/mapper/pnpm-lock.yaml
  src/mapper/src/assets/images/black-lock.png
  src/mapper/src/assets/images/locationArc.png
  src/mapper/src/assets/images/locationDot.png
  src/mapper/src/assets/images/red-lock.png
  src/mapper/src/lib/components/common/Editor/editor.css
  src/mapper/src/lib/components/common/Editor/editor.svelte
  src/mapper/src/lib/components/common/Editor/toolbar.svelte
  src/mapper/src/lib/components/common/bottom-sheet.svelte
  src/mapper/src/lib/components/page/layer-switcher.svelte
  src/mapper/src/lib/components/page/legend.svelte
  src/mapper/src/lib/components/page/more/index.svelte
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/src/styles/button.css
  src/mapper/src/styles/page.css
  src/mapper/src/utilFunctions/clickOutside.ts
  src/mapper/src/utilFunctions/getDeviceRotation.ts
  src/mapper/static/assets/icons/bold.svg
  src/mapper/static/assets/icons/chat.svg
  src/mapper/static/assets/icons/check.svg
  src/mapper/static/assets/icons/chevron-left.svg
  src/mapper/static/assets/icons/chevron-right.svg
  src/mapper/static/assets/icons/close.svg
  src/mapper/static/assets/icons/code.svg
  src/mapper/static/assets/icons/description.svg
  src/mapper/static/assets/icons/geolocate.svg
  src/mapper/static/assets/icons/h1.svg
  src/mapper/static/assets/icons/h2.svg
  src/mapper/static/assets/icons/h3.svg
  src/mapper/static/assets/icons/hr.svg
  src/mapper/static/assets/icons/italic.svg
  src/mapper/static/assets/icons/layer.svg
  src/mapper/static/assets/icons/legend-toggle.svg
  src/mapper/static/assets/icons/list-ol.svg
  src/mapper/static/assets/icons/list-ul.svg
  src/mapper/static/assets/icons/location.svg
  src/mapper/static/assets/icons/quote.svg
  src/mapper/static/assets/icons/redo.svg
  src/mapper/static/assets/icons/strike.svg
  src/mapper/static/assets/icons/undo.svg
Labels: enhancement, frontend

#1828 Toast Add & Update import path
  src/mapper/src/lib/components/common/toast.svelte
  src/mapper/src/routes/+layout.svelte
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/src/store/common.ts
  src/mapper/static/assets/icons/exclamation-octagon.svg
  src/mapper/static/assets/icons/exclamation-triangle.svg
  src/mapper/static/assets/icons/info-circle.svg
  src/mapper/vite.config.ts
Labels: enhancement

#1830 Mapper Frontend UI Refactor
  src/mapper/src/lib/components/common/Editor/editor.css
  src/mapper/src/lib/components/common/Editor/editor.svelte
  src/mapper/src/lib/components/common/bottom-sheet.svelte
  src/mapper/src/lib/components/page/more/activities.svelte
  src/mapper/src/lib/components/page/more/comment.svelte
  src/mapper/src/lib/components/page/more/index.svelte
  src/mapper/src/lib/components/skeleton/activities.svelte
  src/mapper/src/lib/components/skeleton/comment.svelte
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/src/styles/page.css
  src/mapper/static/assets/icons/clock-history.svg
  src/mapper/static/assets/icons/person-fill.svg
Labels: bug, enhancement, frontend

#1839 Fix/event driven tasks continuation
  src/backend/tests/conftest.py
  src/frontend/src/api/TaskEvent.ts
  src/frontend/src/components/DialogTaskActions.tsx
  src/frontend/src/components/ProjectDetailsV2/FeatureSelectionPopup.tsx
  src/frontend/src/components/ProjectDetailsV2/TaskSelectionPopup.tsx
  src/frontend/src/components/ProjectSubmissions/ProjectInfo.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsInfographics.tsx
  src/frontend/src/components/ProjectSubmissions/TaskSubmissionsMap.tsx
  src/frontend/src/components/ProjectSubmissions/UpdateReviewStatusModal.tsx
  src/frontend/src/utilfunctions/getTaskStatusStyle.ts
  src/frontend/src/views/SubmissionDetails.tsx
Labels: bug, frontend, backend, tests

#1842 Fix mapper frontend task display and event POSTs
  docker-compose.yml
  src/backend/app/db/models.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/migrations/009-entity-table.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/mapper/src/lib/components/page/layer-switcher.svelte
  src/mapper/src/lib/components/page/legend.svelte
  src/mapper/src/lib/task-events.ts
  src/mapper/src/lib/types.ts
  src/mapper/src/lib/utils/clickOutside.ts
  src/mapper/src/lib/utils/getDeviceRotation.ts
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/svelte.config.js
  src/mapper/vite.config.ts
Labels: frontend

#1844 Frontend Fixes after Backend Changes
  src/frontend/src/api/Project.ts
  src/frontend/src/api/SubmissionService.ts
  src/frontend/src/components/DialogTaskActions.tsx
  src/frontend/src/components/ProjectDetailsV2/FeatureSelectionPopup.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsInfographics.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/store/slices/SubmissionSlice.ts
  src/frontend/src/store/types/ISubmissions.ts
  src/frontend/src/views/ProjectSubmissions.tsx
Labels: bug, frontend
