Repository hotosm/field-tm, pull requests merged in 2024-11, with the labels that each got.

#1847 Fix frontend e2e tests after UI refactor
  src/frontend/e2e/02-mapper-flow.spec.ts
  src/frontend/src/components/DialogTaskActions.tsx
Labels: bug, frontend, tests

#1851 Add flatgeobuf maplibre component for loading features in mapper frontend
  src/mapper/src/lib/components/bottom-sheet.svelte
  src/mapper/src/lib/components/event-card.svelte
  src/mapper/src/lib/components/map/flatgeobuf-layer.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/lib/utils/flatgeobuf.ts
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/src/store/tasks.svelte.ts
  src/mapper/svelte.config.js
  src/mapper/vite.config.ts
Labels: enhancement

#1855 Update compose and CI to deploy mapper frontend on push
  .github/workflows/build_and_deploy.yml
  docker-compose.development.yml
  docker-compose.main.yml
  docker-compose.yml
  nginx/templates/fmtm.conf.template
  src/Dockerfile.ui.debug
  src/Dockerfile.ui.prod
  src/backend/Dockerfile
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/container-entrypoint.sh
  src/mapper/debug.dockerfile
Labels: priority:high, backend, devops, effort:low

#1854 Mapper frontend mapper flow
  src/mapper/src/constants/enums.ts
  src/mapper/src/lib/components/dialog-task-actions.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/src/store/common.svelte.ts
  src/mapper/src/store/tasks.svelte.ts
  src/mapper/src/styles/button.css
  src/mapper/static/assets/icons/three-dots.svg
  src/mapper/vite.config.ts
Labels: enhancement

#1856 Fix s3 upload and db insertion for submission photos
  src/backend/app/db/models.py
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
  src/frontend/src/api/CreateProjectService.ts
Labels: bug, frontend, backend, effort:low

#1861 Fix(additional-entity) allow custom properties to create entities list
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_schemas.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
Labels: bug, priority:high, backend, effort:low

#1860 Fix/pass additional entity name
  src/frontend/src/api/CreateProjectService.ts
Labels: bug, frontend

#1848 feat: allow user deletion without deleting task references
  src/backend/app/db/models.py
  src/backend/app/users/user_routes.py
  src/backend/migrations/010-delete-user.sql
Labels: backend, migration

#1857 Visualize submission photos on frontend
  src/frontend/src/api/Submission.ts
  src/frontend/src/components/common/ImageSlider.tsx
  src/frontend/src/components/common/Modal.tsx
  src/frontend/src/shared/AssetModules.js
  src/frontend/src/store/slices/SubmissionSlice.ts
  src/frontend/src/store/types/ISubmissions.ts
  src/frontend/src/views/SubmissionDetails.tsx
Labels: enhancement, frontend

#1862 Replace all additional entity filename spaces with an underscore
  src/frontend/src/api/CreateProjectService.ts
Labels: bug, frontend

#1863 Fix xFormId undefined payload issue on form update
  src/frontend/src/components/ManageProject/EditTab/FormUpdateTab.tsx
Labels: bug, frontend

#1865 Qr code download option add to download options
  src/frontend/src/components/ProjectDetailsV2/ProjectOptions.tsx
  src/frontend/src/components/ProjectDetailsV2/TaskSelectionPopup.tsx
  src/frontend/src/components/QrcodeComponent.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: bug, frontend

#1874 Replace pwa in manager frontend with dummy service worker (prep for removal)
  src/frontend/vite.config.ts
Labels: priority:critical, frontend, devops, effort:low

#1876 Upgrade ODK Central to 2024.2.0 and use official images
  docker-compose.development.yml
  docker-compose.yml
  docs/about/faq.md
  odkcentral/api/Dockerfile
  odkcentral/enketo/Dockerfile
  odkcentral/ui/Dockerfile
Labels: docs, devops, ODK

#1872 Fix update project xlsform SQL after backend refactor
  src/backend/app/projects/project_routes.py
  src/frontend/src/api/CreateProjectService.ts
Labels: bug, frontend, backend

#1879 Mapper Frontend: Map new feature in odk btn
  src/mapper/src/lib/components/dialog-task-actions.svelte
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/static/assets/icons/new-window.svg
Labels: enhancement

#1880 Display total number of features on split tasks section
  src/frontend/src/components/createnewproject/SplitTasks.tsx
Labels: enhancement, frontend

#1885 Update permissions for backend project routes
  src/backend/app/config.py
  src/backend/app/projects/project_routes.py
Labels: bug, priority:high, backend, effort:low

#1873 feat(submission): add project_contributors dependency for permission …
  src/backend/app/auth/roles.py
  src/backend/app/submissions/submission_routes.py
Labels: enhancement, backend

#1867 Fix create and delete organisation
  src/backend/app/db/models.py
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/organisations/organisation_routes.py
  src/backend/app/organisations/organisation_schemas.py
Labels: bug, backend

#1892 fix(backend): update check_access logic to allow checking for org_man…
  src/backend/app/auth/roles.py
Labels: bug, priority:critical, backend, effort:low

#1893 Remove trailing slashes from endpoints, fix check_access for backend roles
  .env.example
  INSTALL.md
  scripts/gen-env.sh
  src/backend/app/auth/auth_routes.py
  src/backend/app/auth/auth_schemas.py
  src/backend/app/auth/roles.py
  src/backend/app/config.py
  src/backend/app/db/database.py
  src/backend/app/db/models.py
  src/backend/app/main.py
  src/backend/app/organisations/organisation_routes.py
  src/backend/app/projects/project_routes.py
  src/backend/app/submissions/submission_routes.py
  src/backend/app/tasks/task_routes.py
  src/backend/app/users/user_routes.py
  src/backend/tests/test_organisation_routes.py
  src/backend/tests/test_projects_routes.py
  src/backend/tests/test_users.py
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/api/Project.ts
  src/frontend/src/components/ApproveOrganization/OrganizationForm.tsx
  src/frontend/src/components/CreateEditOrganization/CreateEditOrganizationForm.tsx
  src/frontend/src/components/DialogTaskActions.tsx
  src/frontend/src/components/GenerateBasemap.tsx
  src/frontend/src/components/ManageProject/EditTab/FormUpdateTab.tsx
  src/frontend/src/components/ProjectDetailsV2/Comments.tsx
  src/frontend/src/components/ProjectDetailsV2/ProjectOptions.tsx
  src/frontend/src/components/ProjectSubmissions/UpdateReviewStatusModal.tsx
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/utilfunctions/login.ts
  src/frontend/src/views/DataConflation.tsx
  src/frontend/src/views/Organisation.tsx
  src/frontend/src/views/OsmAuth.tsx
  src/frontend/src/views/ProjectSubmissions.tsx
  src/frontend/src/views/SubmissionDetails.tsx
  src/mapper/src/lib/db/events.ts
Labels: bug, docs, frontend, backend, devops, tests

#1895 Fix/frontend failed issue
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/mapper/src/app.html
Labels: bug, frontend

#1835 Base layer switcher integration
  src/mapper/src/constants/baseLayers.ts
  src/mapper/src/lib/components/map/geolocation.svelte
  src/mapper/src/lib/components/map/layer-switcher.svelte
  src/mapper/src/lib/components/map/legend.svelte
  src/mapper/src/lib/components/map/main.svelte
Labels: enhancement

#1887 refactor(logging): enhance error logging with stack information across multiple modules
  src/backend/app/auth/auth_routes.py
  src/backend/app/auth/osm.py
  src/backend/app/auth/roles.py
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_routes.py
  src/backend/app/projects/project_crud.py
  src/backend/app/s3.py
Labels: backend

#1902 fixes: Projects aren't accessible to users without logging in #1900
  src/backend/app/projects/project_routes.py
Labels: backend

#1899 fix(+page): mobile broser map control placement fix
  src/mapper/src/routes/[projectId]/+page.svelte
Labels: bug

#1905 Fix/mapper frontend enhancements
  src/mapper/src/assets/images/importQr.gif
  src/mapper/src/lib/components/task-action-dialog.svelte
  src/mapper/src/lib/utils/qrcode.ts
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/static/assets/icons/info-circle-fill.svg
Labels: bug

#1906 Visualize additional entities feature counts
  src/frontend/src/components/createnewproject/SplitTasks.tsx
Labels: bug, enhancement, frontend

#1914 Fix/geolocation layerswitch bug
  src/mapper/src/constants/baseLayers.ts
  src/mapper/src/lib/components/map/layer-switcher.svelte
  src/mapper/src/lib/components/map/main.svelte
Labels: bug

#1910 Persist osm login across playwright tests (temp login removed)
  src/backend/app/auth/auth_routes.py
  src/frontend/.gitignore
  src/frontend/e2e/01-create-new-project.spec.ts
  src/frontend/e2e/02-mapper-flow.spec.ts
  src/frontend/e2e/auth.setup.ts
  src/frontend/e2e/helpers.ts
  src/frontend/playwright.config.ts
  src/frontend/src/routes.jsx
  src/frontend/src/views/PlaywrightTempLogin.tsx
Labels: docs, frontend, backend, tests

#1903 Mapper frontend login + remove temp auth from React frontend
  src/backend/app/auth/auth_routes.py
  src/frontend/.gitignore
  src/frontend/e2e/01-create-new-project.spec.ts
  src/frontend/e2e/02-mapper-flow.spec.ts
  src/frontend/e2e/auth.setup.ts
  src/frontend/e2e/helpers.ts
  src/frontend/playwright.config.ts
  src/frontend/src/api/Login.ts
  src/frontend/src/components/DialogTaskActions.tsx
  src/frontend/src/components/LoginPopup.tsx
  src/frontend/src/components/MapComponent/OpenLayersComponent/LayerSwitcher/LayerSwitchMenu.tsx
  src/frontend/src/components/MapLegends.tsx
  src/frontend/src/components/ProjectDetailsV2/MapControlComponent.tsx
  src/frontend/src/components/common/Button.tsx
  src/frontend/src/routes.jsx
  src/frontend/src/views/OsmAuth.tsx
  src/frontend/src/views/PlaywrightTempLogin.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/mapper/src/assets/images/hot-logo-text.svg
  src/mapper/src/assets/images/hot-logo.svg
  src/mapper/src/assets/images/osm-logo.png
  src/mapper/src/constants/drawerItems.ts
  src/mapper/src/lib/components/header.svelte
  src/mapper/src/lib/components/login.svelte
  src/mapper/src/lib/components/map/layer-switcher.svelte
  src/mapper/src/lib/utils/login.ts
  src/mapper/src/routes/+layout.svelte
  src/mapper/src/store/login.svelte.ts
Labels: enhancement, frontend, backend, tests

#1919 Fix null value of additional entity when no additional entities are uploaded
  src/frontend/src/api/CreateProjectService.ts
Labels: bug, frontend

#1917 Add tests for submission routes
  src/backend/tests/.pyodk_config.toml
  src/backend/tests/conftest.py
  src/backend/tests/test_submission_routes.py
Labels: backend, tests

#1921 Mapper Frontend: Set entity color based on it's mapping status
  src/mapper/src/lib/components/dialog-entities-actions.svelte
  src/mapper/src/lib/components/map/flatgeobuf-layer.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/src/routes/[projectId]/+page.ts
  src/mapper/src/store/entities.svelte.ts
  src/mapper/src/store/tasks.svelte.ts
Labels: enhancement

#1924 Resolve route ambiguity for /tasks/activity endpoint
  src/backend/app/tasks/task_routes.py
  src/frontend/src/views/ProjectSubmissions.tsx
Labels: bug, frontend, backend

#1926 Edit multi additional entities names replacing space with '_'
  src/frontend/src/api/CreateProjectService.ts
Labels: bug, frontend

#1925 Mapper frontend basemap management pt2
  src/backend/app/db/models.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/s3.py
  src/backend/migrations/archived/2024-08-09/qrcode_to_odktoken.py
  src/backend/migrations/upload_basemaps_s3.py
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/src/api/Files.ts
  src/frontend/src/api/Project.ts
  src/frontend/src/components/GenerateBasemap.tsx
  src/frontend/src/components/MapComponent/OpenLayersComponent/LayerSwitcher/LayerSwitchMenu.tsx
  src/frontend/src/components/MapComponent/OpenLayersComponent/LayerSwitcher/index.js
  src/frontend/src/components/ProjectDetailsV2/MapControlComponent.tsx
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/mapper/src/constants/baseLayers.ts
  src/mapper/src/lib/components/map/layer-switcher.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/lib/components/offline/basemaps.svelte
  src/mapper/src/lib/fs/opfs.ts
  src/mapper/src/lib/utils/basemaps.ts
  src/mapper/src/store/common.svelte.ts
  src/mapper/svelte.config.js
  src/mapper/vite.config.ts
Labels: enhancement, frontend, backend, migration
