Repository hotosm/field-tm, pull requests merged in 2024-07, with the labels that each got.

#1607 Fix parsing of hashtags (allow separation by comma, space, or semicolon)
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/tests/conftest.py
  src/backend/tests/test_projects_routes.py
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/store/types/ICreateProject.ts
Labels: frontend, backend

#1612 fix(featureSelectionPopup): allow any users to map feature
  src/frontend/src/components/ProjectDetailsV2/FeatureSelectionPopup.tsx
Labels: frontend

#1618 Add INVALIDATED status option back in
  src/backend/app/models/enums.py
Labels: backend

#1596 Updated default values in the database
  src/backend/migrations/004-update-default-values.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/migrations/revert/004-update-default-values.sql
Labels: backend, migration

#1622 Replace usage of RS256 JWT signing with simpler HS384
  .env.example
  chart/README.md
  docs/dev/Troubleshooting.md
  scripts/gen-env.sh
  src/backend/app/auth/osm.py
  src/backend/app/config.py
  src/frontend/src/App.tsx
Labels: documentation, frontend, backend, devops

#1623 Remove unnecessary tables and field from db schema
  src/backend/app/auth/auth_routes.py
  src/backend/app/db/db_models.py
  src/backend/app/models/enums.py
  src/backend/app/projects/project_crud.py
  src/backend/migrations/004-update-default-values.sql
  src/backend/migrations/005-drop-unnecessary-tables.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/migrations/revert/004-update-default-values.sql
Labels: backend, migration

#1633 Added created date on the project response
  src/backend/app/auth/osm.py
  src/backend/app/projects/project_schemas.py
Labels: backend

#1627 Prevent project generation if api failure
  .github/workflows/pr_test_frontend.yml
  docker-compose.yml
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/utilfunctions/commonUtils.ts
Labels: frontend, devops

#1601 Simplify infographics API usage (reuse Entities data)
  src/frontend/src/api/Project.js
  src/frontend/src/api/SubmissionService.ts
  src/frontend/src/components/ProjectSubmissions/ProjectInfo.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsInfographics.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/common/LineChart.tsx
  src/frontend/src/models/project/projectModel.ts
  src/frontend/src/models/submission/submissionModel.ts
  src/frontend/src/store/slices/SubmissionSlice.ts
  src/frontend/src/store/slices/TaskSlice.ts
  src/frontend/src/store/types/ISubmissions.ts
  src/frontend/src/utilfunctions/commonUtils.ts
  src/frontend/src/views/ProjectSubmissions.tsx
Labels: frontend

#1637 fix(frontend): avoid map legend overlay on small screens (dynamic size)
  src/frontend/src/components/MapLegends.tsx
  src/frontend/src/components/common/Accordion.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

#1638 fix(frontend): display submission point feature if feature not in extract
  src/frontend/src/components/SubmissionMap/SubmissionInstanceMap.tsx
  src/frontend/src/views/SubmissionDetails.tsx
Labels: frontend

#1624 Test coverage for projects mapping endpoints
  src/backend/tests/conftest.py
  src/backend/tests/test_projects_routes.py
Labels: backend

#1644 Update Select Category Description
  src/frontend/src/components/createnewproject/SelectForm.tsx
Labels: frontend

#1643 Save current form step state on previous btn click
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
Labels: frontend

#1594 Endpoint to conflate the submission with osm data
  src/backend/app/auth/roles.py
  src/backend/app/central/central_crud.py
  src/backend/app/db/postgis_utils.py
  src/backend/app/helpers/helper_routes.py
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
  src/backend/app/tasks/task_deps.py
Labels: backend

#1645 Allow multipolygons to choose as task area
  src/backend/app/db/postgis_utils.py
  src/backend/app/projects/project_routes.py
Labels: backend

#1642 Update split-by-square to avoid creating tasks with no features in it
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/frontend/src/components/createnewproject/SplitTasks.tsx
Labels: enhancement, Priority: Should have, frontend, backend, FMTM splitter

#1659 Fix ProjectUserDict usage and standardise geojson parsing/usage throughout
  src/backend/app/auth/auth_schemas.py
  src/backend/app/auth/roles.py
  src/backend/app/central/central_crud.py
  src/backend/app/db/postgis_utils.py
  src/backend/app/helpers/helper_routes.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
  src/backend/app/tasks/tasks_routes.py
  src/backend/app/tasks/tasks_schemas.py
  src/frontend/src/components/ProjectDetailsV2/ProjectOptions.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/ProjectSubmissions/UpdateReviewStatusModal.tsx
  src/frontend/src/views/SubmissionDetails.tsx
Labels: frontend, backend

#1658 Test coverage for GET /organisation/ endpoint
  src/backend/tests/test_organisation_routes.py
Labels: backend, tests

#1670 Feat/taskpopup user add
  src/frontend/src/components/DialogTaskActions.tsx
  src/frontend/src/components/ProjectDetailsV2/TaskSelectionPopup.tsx
Labels: frontend

#1669 fix(manageProject): hide user tab until its api integration
  src/frontend/src/views/ManageProject.tsx
Labels: frontend

#1672 Increased expiry of access token to 1 day
  src/backend/app/auth/auth_routes.py
  src/backend/app/auth/osm.py
Labels: backend

#1680 Fix submssions not loaded in the submission table
  docs/manuals/Load_tiles_on_ODK.md
  src/backend/app/submissions/submission_routes.py
Labels: backend, documentation

#1682 Reduce task overlay opacity
  src/frontend/src/index.css
  src/frontend/src/store/slices/ThemeSlice.ts
Labels: frontend

#1674 Test coverage for GET /central/list-forms endpoint
  src/backend/tests/test_central_routes.py
Labels: backend, tests

#1671 Upgrade Python --> v3.11 & update backend dependencies
  .env.example
  docker-compose.yml
  docs/dev/Backend.md
  src/backend/Dockerfile
  src/backend/app/config.py
  src/backend/app/db/postgis_utils.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/models/createproject/createProjectModel.ts
  src/frontend/src/models/project/projectModel.ts
Labels: frontend, backend, devops, dependency, documentation

#1655 Update workflow-diagrams.md
  docs/manuals/workflow-diagrams.md
Labels: documentation

#1688 Upgrade osm-fieldwork --> 0.13.0 for mbtile fix
  src/backend/app/central/central_crud.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

#1692 Button click feedback on form update
  src/frontend/src/components/ManageProject/EditTab/FormUpdateTab.tsx
Labels: frontend

#1693 fix(project): display error generated on the backend
  src/frontend/src/api/Project.js
Labels: frontend

#1696 Improve error message if no project submissions present
  src/backend/app/central/central_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/tests/test_projects_routes.py
  src/frontend/src/components/createnewproject/SplitTasks.tsx
Labels: frontend, backend

#1687 Determine overlap percentage for the conflation
  src/backend/app/db/postgis_utils.py
  src/backend/app/submissions/submission_routes.py
Labels: backend

#1703 Test coverage for updating the task status endpoint
  src/backend/tests/test_task_routes.py
Labels: backend

#1702 Test coverage for POST projects/task-split endpoint
  src/backend/tests/conftest.py
  src/backend/tests/test_projects_routes.py
Labels: backend

#1708 Fix generating project files passing project id to background task
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
Labels: backend

#1704 Disable form category updates
  src/frontend/src/components/ManageProject/EditTab/FormUpdateTab.tsx
  src/frontend/src/components/ManageProject/EditTab/ProjectDescriptionTab.tsx
  src/frontend/src/components/ManageProject/EditTab/index.tsx
  src/frontend/src/components/common/Select.tsx
  src/frontend/src/store/types/ICreateProject.ts
Labels: frontend

#1709 Add working submission comments to submission page
  src/frontend/src/api/SubmissionService.ts
  src/frontend/src/components/ProjectDetailsV2/Comments.tsx
  src/frontend/src/components/ProjectSubmissions/ProjectInfo.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/ProjectSubmissions/UpdateReviewStatusModal.tsx
  src/frontend/src/components/SubmissionInstance/SubmissionComments.tsx
  src/frontend/src/components/common/Accordion.tsx
  src/frontend/src/shared/AssetModules.js
  src/frontend/src/store/slices/SubmissionSlice.ts
  src/frontend/src/store/types/ISubmissions.ts
  src/frontend/src/views/SubmissionDetails.tsx
Labels: frontend

#1710 Test add failure test case for create project endpoint
  src/backend/tests/test_projects_routes.py
Labels: backend

#1712 Update task dialog task_status text on task update
  src/frontend/src/api/ProjectTaskStatus.ts
  src/frontend/src/store/slices/ProjectSlice.ts
Labels: frontend

#1713 Allow reset polygon on draw selection even if geojson file upload
  src/frontend/src/components/createnewproject/UploadArea.tsx
Labels: frontend

#1716 Fix submission map chloropeth
  src/frontend/src/components/ProjectSubmissions/TaskSubmissionsMap.tsx
  src/frontend/src/models/task/taskModel.ts
Labels: frontend

#1714 Updated generate_project_files to bulk upload entities
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_deps.py
  src/backend/app/db/postgis_utils.py
  src/backend/app/helpers/helper_routes.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_schemas.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend, dependency:osm-fieldwork

#1721 Fix xlsform question ordering + pmtile generation when custom TMS
  src/backend/app/projects/project_crud.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend
