Repository hotosm/field-tm, pull requests merged in 2024-05, with the labels that each got.

#1501 Reduce endpoint calls for project details and submission page
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_schemas.py
  src/backend/app/images/hot-org-logo.png
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/submissions/submission_routes.py
  src/frontend/src/api/Project.js
  src/frontend/src/api/ProjectTaskStatus.js
  src/frontend/src/api/task.ts
  src/frontend/src/components/DialogTaskActions.jsx
  src/frontend/src/components/ProjectDetailsV2/ProjectInfo.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsInfographics.tsx
  src/frontend/src/components/ProjectSubmissions/TaskSubmissions.tsx
  src/frontend/src/components/ProjectSubmissions/TaskSubmissionsMap.tsx
  src/frontend/src/models/project/projectModel.ts
  src/frontend/src/models/submission/submissionModel.ts
  src/frontend/src/models/task/taskModel.ts
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/store/slices/TaskSlice.ts
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/store/types/ITask.ts
  src/frontend/src/types/enums.ts
  src/frontend/src/utilfunctions/getTaskStatusStyle.js
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/frontend/src/views/ProjectSubmissions.tsx
Labels: frontend, backend

#1506 fix(dialogTaskActions): same name variable conflict solve
  src/frontend/src/components/DialogTaskActions.jsx
Labels: frontend

#1507 Refactor submission endpoints backend/frontend
  src/backend/app/projects/project_deps.py
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/views/SubmissionDetails.tsx
Labels: frontend, backend

#1509 Submissions in project dashboard and bar graph.
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
Labels: backend

#1513 Fix/frontend state api issues
  src/frontend/src/components/DialogTaskActions.jsx
  src/frontend/src/components/ProjectDetailsV2/ActivitiesPanel.tsx
  src/frontend/src/components/ProjectDetailsV2/TaskSelectionPopup.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/ProjectSubmissions/TaskSubmissionsMap.tsx
  src/frontend/src/utilities/CustomDrawer.jsx
  src/frontend/src/utilities/PrimaryAppBar.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/frontend/src/views/ProjectSubmissions.tsx
  src/frontend/src/views/SubmissionDetails.tsx
Labels: frontend

#1515 All features/entities loaded in odk collect
  src/backend/app/db/postgis_utils.py
Labels: backend

#1517 Download submissions in geojson
  src/backend/app/submissions/submission_routes.py
Labels: backend

#1518 Feat/project geojson download
  src/frontend/src/api/Project.js
  src/frontend/src/components/ProjectDetailsV2/MapControlComponent.tsx
  src/frontend/src/components/ProjectDetailsV2/ProjectOptions.tsx
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

#1519 Download submissions(csv,json) and refactor all related submission endpoints
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
Labels: backend

#1523 Typo error in project name prefix in submission-download-geojson
  src/backend/app/submissions/submission_routes.py
Labels: backend

#1524 Fix submission download
  src/frontend/src/api/task.ts
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
Labels: frontend

#1505 Update user manual for project managers
  docs/User-Manual-For-Project-Managers.md
Labels: documentation

#1474 Update PWA config with 2023 icon requirements and caching
  .gitignore
  mkdocs.yml
  src/backend/app/auth/auth_routes.py
  src/frontend/index.html
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/public/apple-touch-icon-180x180.png
  src/frontend/public/favicon.ico
  src/frontend/public/favicon.svg
  src/frontend/public/icon-192x192.png
  src/frontend/public/icon-256x256.png
  src/frontend/public/icon-384x384.png
  src/frontend/public/icon-512x512.png
  src/frontend/public/manifest.json
  src/frontend/public/maskable-icon-512x512.png
  src/frontend/public/pwa-192x192.png
  src/frontend/public/pwa-512x512.png
  src/frontend/public/pwa-64x64.png
  src/frontend/public/robots.txt
  src/frontend/src/App.tsx
  src/frontend/src/components/OfflineReadyPrompt.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/common/UploadArea.tsx
  src/frontend/src/components/home/HomePageFilters.tsx
  src/frontend/src/index.ts
  src/frontend/src/main.tsx
  src/frontend/src/styles/OfflineReadyPrompt.css
  src/frontend/src/sum.js
  src/frontend/src/views/OsmAuth.tsx
  src/frontend/tests/App.test.jsx
  src/frontend/tsconfig.json
  src/frontend/vite.config.ts
Labels: documentation, frontend, backend

#1529 Separate svc accounts for raw-data-api and fmtm
  .env.example
  src/backend/app/config.py
  src/backend/app/helpers/helper_routes.py
  src/backend/app/projects/project_crud.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

#1480 Add link for interactive xlsform editing during project creation
  src/backend/app/config.py
  src/backend/app/db/db_models.py
  src/backend/app/helpers/helper_routes.py
  src/backend/app/main.py
  src/backend/app/projects/project_crud.py
  src/backend/migrations/init/fmtm_base_schema.sql
  src/frontend/src/components/common/Checkbox.tsx
  src/frontend/src/components/createnewproject/SelectForm.tsx
Labels: frontend, backend, migration

#1534 Generate project location string in model_validator
  src/backend/app/db/postgis_utils.py
  src/backend/app/projects/project_schemas.py
Labels: bug, backend
