Repository hotosm/field-tm, pull requests merged in 2024-08, with the labels that each got.

#1700 Add Playwright test for project creation workflow
  .env.example
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_ci_img.yml
  .github/workflows/build_odk_imgs.yml
  .github/workflows/build_proxy_imgs.yml
  .github/workflows/docs.yml
  .github/workflows/pr_test_backend.yml
  .github/workflows/pr_test_frontend.yml
  .github/workflows/tag_build.yml
  .github/workflows/wiki.yml
  contrib/just/start/Justfile
  contrib/just/test/Justfile
  contrib/playwright/docker-compose.yml
  docker-compose.yml
  docs/dev/Frontend.md
  docs/dev/Troubleshooting.md
  src/backend/app/auth/auth_routes.py
  src/backend/app/config.py
  src/backend/app/projects/project_routes.py
  src/frontend/.gitignore
  src/frontend/e2e/createproject.spec.ts
  src/frontend/e2e/example.spec.ts
  src/frontend/e2e/files/invalid-aoi.geojson
  src/frontend/e2e/files/valid-aoi.geojson
  src/frontend/package.json
  src/frontend/playwright-tests-examples/demo-todo-app.spec.ts
  src/frontend/playwright.config.ts
  src/frontend/pnpm-lock.yaml
Labels: frontend, backend, devops, contrib, documentation

#1726 Add tests for various GeoJSON configurations and CRS validation
  src/backend/tests/conftest.py
  src/backend/tests/test_projects_routes.py
Labels: backend

#1728 Remove error msg on review status and disable update btn until review status is chosen
  src/frontend/src/components/ProjectSubmissions/UpdateReviewStatusModal.tsx
Labels: frontend

#1727 Hashtag parsing tests for various inputs
  src/backend/tests/test_projects_routes.py
Labels: backend, tests

#1735 Remove id from the conflated geojson
  src/backend/app/db/postgis_utils.py
Labels: bug, backend

#1736 Reword Data Extract to Map Features
  src/frontend/e2e/createproject.spec.ts
  src/frontend/src/components/MapComponent/OpenLayersComponent/LayerSwitcher/index.js
  src/frontend/src/components/ProjectDetailsV2/ProjectOptions.tsx
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/validation/DataExtractValidation.tsx
  src/frontend/src/constants/StepFormConstants.ts
  src/frontend/src/constants/blockerUrl.ts
  src/frontend/src/routes.jsx
  src/frontend/src/views/CreateNewProject.tsx
Labels: bug, frontend, tests

#1737 TS types add to services
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/api/HomeService.ts
  src/frontend/src/api/Login.ts
  src/frontend/src/api/OrganisationService.ts
  src/frontend/src/api/Project.ts
  src/frontend/src/api/ProjectTaskStatus.ts
  src/frontend/src/api/Submission.ts
  src/frontend/src/api/SubmissionService.ts
  src/frontend/src/components/ProjectDetailsV2/ProjectOptions.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/common/Dropdown.tsx
  src/frontend/src/store/types/ISubmissions.ts
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/frontend/src/views/ProjectSubmissions.tsx
  src/frontend/src/views/Submissions.tsx
  src/frontend/src/views/Tasks.tsx
Labels: bug, frontend

#1746 Further upgrades from JavaScript to TypeScript
  src/frontend/src/components/ManageProject/EditTab/FormUpdateTab.tsx
  src/frontend/src/components/common/BarChart.tsx
  src/frontend/src/components/common/BottomSheet.tsx
  src/frontend/src/components/common/Checkbox.tsx
  src/frontend/src/components/common/Chips.tsx
  src/frontend/src/components/common/Editor/Toolbar.tsx
  src/frontend/src/components/common/FileInputComponent.tsx
  src/frontend/src/components/common/KebabMenu.tsx
  src/frontend/src/components/common/LineChart.tsx
  src/frontend/src/components/common/PieChart.tsx
  src/frontend/src/components/common/StepSwitcher.tsx
  src/frontend/src/components/common/UploadArea.tsx
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/home/ProjectListMap.tsx
  src/frontend/src/components/organisation/OrganisationGridCard.tsx
  src/frontend/src/constants/StepFormConstants.ts
  src/frontend/src/constants/geojsonObjectModal.ts
  src/frontend/src/models/geojsonObjectModel.js
  src/frontend/src/routes.jsx
  src/frontend/src/utilfunctions/checkWGS84Projection.ts
  src/frontend/src/utilfunctions/commonUtils.ts
  src/frontend/src/utilfunctions/compareUtils.ts
  src/frontend/src/utilfunctions/filterParams.ts
  src/frontend/src/utilfunctions/getTaskStatusStyle.ts
  src/frontend/src/utilities/AppLoader.tsx
  src/frontend/src/utilities/CustomizedImage.tsx
  src/frontend/src/utilities/CustomizedModal.tsx
  src/frontend/src/views/Submissions.tsx
  src/frontend/src/views/Tabbed.tsx
  src/frontend/src/views/Tasks.tsx
Labels: bug, frontend

#1751 Refactor correct username of contributors
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
Labels: bug, backend

#1753 Add a simple XLS form example
  docs/example-xlsforms/README.md
  docs/example-xlsforms/simple_building_survey_wildfires.xlsx
Labels: docs, enhancement

#1744 Upload ODK submission user photos to S3 for easy access
  src/backend/app/db/db_models.py
  src/backend/app/s3.py
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
  src/backend/migrations/006-create-submission-photos-table.sql
  src/backend/migrations/revert/006-create-submission-photos-table.sql
Labels: enhancement, frontend, backend, migration, dependency:osm-fieldwork

#1750 Fix/UI enhancements
  src/frontend/src/components/CreateEditOrganization/CreateEditOrganizationHeader.tsx
  src/frontend/src/components/LoginPopup.tsx
  src/frontend/src/components/ProjectDetailsV2/ProjectInfo.tsx
  src/frontend/src/components/createnewproject/CreateProjectHeader.tsx
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
  src/frontend/src/components/home/HomePageFilters.tsx
  src/frontend/src/utilities/MappingHeader.tsx
  src/frontend/src/utilities/PrimaryAppBar.tsx
  src/frontend/src/views/CreateEditOrganization.tsx
  src/frontend/src/views/CreateNewProject.tsx
  src/frontend/src/views/Home.tsx
  src/frontend/src/views/MainView.tsx
  src/frontend/src/views/ManageProject.tsx
  src/frontend/src/views/NewDefineAreaMap.tsx
  src/frontend/src/views/Organisation.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/frontend/src/views/ProjectSubmissions.tsx
  src/frontend/src/views/SubmissionDetails.tsx
Labels: bug, frontend

#1758 [HOTFIX] fix pyxform usage only allowing xls file extension
  src/backend/app/central/central_crud.py
Labels: bug, backend, hotfix

#1762 Feat/project not found page
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/api/Project.ts
  src/frontend/src/assets/images/no-file.png
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/routes.jsx
  src/frontend/src/store/slices/CommonSlice.ts
  src/frontend/src/store/types/ICommon.ts
  src/frontend/src/views/MainView.tsx
  src/frontend/src/views/ProjectNotFound.tsx
Labels: enhancement, frontend

#1743 Feat/data conflation UI
  src/frontend/src/api/DataConflation.ts
  src/frontend/src/api/ProjectTaskStatus.ts
  src/frontend/src/components/DataConflation/ConflationMap/MapLegend.tsx
  src/frontend/src/components/DataConflation/ConflationMap/index.tsx
  src/frontend/src/components/DataConflation/SubmissionConflation/MergeAttributes.tsx
  src/frontend/src/components/DataConflation/SubmissionConflation/index.tsx
  src/frontend/src/components/DataConflation/TaskInfo.tsx
  src/frontend/src/components/DialogTaskActions.tsx
  src/frontend/src/components/ProjectDetailsV2/FeatureSelectionPopup.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/common/Button.tsx
  src/frontend/src/components/common/CustomTable.tsx
  src/frontend/src/components/common/Modal.tsx
  src/frontend/src/environment.ts
  src/frontend/src/routes.jsx
  src/frontend/src/store/Store.ts
  src/frontend/src/store/slices/DataConflationSlice.ts
  src/frontend/src/store/types/IDataConflation.ts
  src/frontend/src/views/DataConflation.tsx
Labels: enhancement, frontend
