Repository hotosm/field-tm, pull requests merged in 2024-04, with the labels that each got.

#1406 Update task activity endpoint
  src/backend/app/tasks/tasks_crud.py
  src/backend/app/tasks/tasks_routes.py
Labels: backend

#1411 Feat page documenttitle add
  src/frontend/src/components/CreateEditOrganization/ConsentDetailsForm.tsx
  src/frontend/src/components/CreateEditOrganization/CreateEditOrganizationForm.tsx
  src/frontend/src/components/ManageProject/DeleteTab/index.tsx
  src/frontend/src/components/ManageProject/EditTab/FormUpdateTab.tsx
  src/frontend/src/components/ManageProject/EditTab/ProjectDescriptionTab.tsx
  src/frontend/src/components/ManageProject/UserTab/AssignTab.tsx
  src/frontend/src/components/ManageProject/UserTab/InviteTab.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsInfographics.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
  src/frontend/src/utilfunctions/useDocumentTitle.ts
  src/frontend/src/views/ApproveOrganization.tsx
  src/frontend/src/views/Home.tsx
  src/frontend/src/views/Organisation.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/frontend/src/views/SubmissionDetails.tsx
Labels: frontend

#1415 Return proper error message returned by the validate-form endpoint
  src/frontend/src/api/CreateProjectService.ts
Labels: frontend

#1419 Consistent response for both update task status and task history endpoint
  src/backend/app/tasks/tasks_crud.py
  src/backend/app/tasks/tasks_routes.py
Labels: backend

#1421 Return task history instead of db task
  src/backend/app/tasks/tasks_crud.py
Labels: backend

#1416 Fix Edit Project Name
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
Labels: backend

#1423 Refactor task comment response and schema
  src/backend/app/tasks/tasks_crud.py
  src/backend/app/tasks/tasks_routes.py
  src/backend/app/tasks/tasks_schemas.py
  src/frontend/src/components/ProjectDetailsV2/Comments.tsx
Labels: frontend, backend

#1383 Implement ODK Entities for project creation
  src/backend/app/central/central_crud.py
  src/backend/app/db/db_models.py
  src/backend/app/db/postgis_utils.py
  src/backend/app/helpers/helper_routes.py
  src/backend/app/main.py
  src/backend/app/models/enums.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/tasks/task_deps.py
  src/backend/app/tasks/tasks_routes.py
  src/backend/migrations/002-add-xforms-table.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/migrations/qrcode_to_odktoken.py
  src/backend/migrations/revert/002-add-xform-table.sql
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/backend/tests/test_projects_routes.py
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/api/Files.js
  src/frontend/src/api/Project.js
  src/frontend/src/components/DialogTaskActions.jsx
  src/frontend/src/components/ProjectDetailsV2/TaskSectionPopup.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
Labels: enhancement, frontend, backend, migration

#1426 Refactor: merged multi polygon to single polygon
  src/backend/app/projects/project_crud.py
Labels: backend

#1427 Add helm chart for deployment in Kubernetes
  .gitignore
  README.md
  chart/.helmignore
  chart/Chart.lock
  chart/Chart.yaml
  chart/README.md
  chart/templates/NOTES.txt
  chart/templates/_helpers.tpl
  chart/templates/deployment.yaml
  chart/templates/hpa.yaml
  chart/templates/ingress.yaml
  chart/templates/service.yaml
  chart/templates/serviceaccount.yaml
  chart/templates/tests/test-connection.yaml
  chart/values.yaml
  src/backend/app/config.py
  src/backend/pyproject.toml
  src/frontend/public/favicon.ico
Labels: documentation, frontend, backend

#1407 Fix project details mobile UI
  src/frontend/src/components/DialogTaskActions.jsx
  src/frontend/src/components/MapComponent/OpenLayersComponent/LayerSwitcher/index.js
  src/frontend/src/components/ProjectDetailsV2/ActivitiesPanel.tsx
  src/frontend/src/components/ProjectDetailsV2/Comments.tsx
  src/frontend/src/components/ProjectDetailsV2/MapControlComponent.tsx
  src/frontend/src/components/ProjectDetailsV2/MobileActivitiesContents.tsx
  src/frontend/src/components/ProjectDetailsV2/MobileFooter.tsx
  src/frontend/src/components/ProjectDetailsV2/MobileProjectInfoContent.tsx
  src/frontend/src/components/ProjectDetailsV2/ProjectOptions.tsx
  src/frontend/src/components/ProjectDetailsV2/TaskSectionPopup.tsx
  src/frontend/src/components/QrcodeComponent.jsx
  src/frontend/src/components/common/Accordion.tsx
  src/frontend/src/components/common/BottomSheet.tsx
  src/frontend/src/components/common/Editor/Toolbar.tsx
  src/frontend/src/shared/AssetModules.js
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/styles/home.scss
  src/frontend/src/utilities/MappingHeader.tsx
  src/frontend/src/utilities/PrimaryAppBar.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

#1431 Add optional auth to raw-data-api calls, plus folder structure for persistence
  .env.example
  src/backend/app/config.py
  src/backend/app/projects/project_crud.py
  src/backend/app/s3.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

#1436 Use task_id to get task_history
  src/backend/app/tasks/tasks_crud.py
  src/backend/app/tasks/tasks_routes.py
  src/backend/app/tasks/tasks_schemas.py
Labels: backend

#1444 Add Mozilla Dockerflow spec endpoints for devops / healthchecks
  src/backend/Dockerfile
  src/backend/app/main.py
Labels: backend, devops

#1441 Fix XLSForm template download endpoint
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_routes.py
  src/backend/app/helpers/helper_routes.py
  src/backend/app/models/enums.py
  src/backend/app/projects/project_routes.py
  src/backend/app/static/__init__.py
  src/backend/app/static/template/template.geojson
Labels: backend

#1442 Add /projects/features endpoint for project FeatureCollection (disaster.ninja integration)
  src/backend/app/db/postgis_utils.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/tasks/tasks_routes.py
  src/frontend/src/components/MapComponent/OpenLayersComponent/LayerSwitcher/index.js
  src/frontend/src/components/ProjectDetailsV2/MapControlComponent.tsx
  src/frontend/src/components/ProjectSubmissions/ProjectInfo.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/home/ExploreProjectCard.tsx
  src/frontend/src/components/home/ProjectListMap.tsx
  src/frontend/src/routes.jsx
  src/frontend/src/views/MainView.jsx
  src/frontend/src/views/ManageProject.tsx
  src/frontend/src/views/ProjectSubmissions.tsx
  src/frontend/src/views/SubmissionDetails.tsx
Labels: Priority: Nice to have, frontend, backend

#1430 Choose area as task for multipolygon geojson
  src/backend/app/db/postgis_utils.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
Labels: backend

#1410 Temporary Authentication login
  src/backend/app/auth/auth_routes.py
  src/backend/app/auth/osm.py
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/submissions/submission_routes.py
  src/backend/app/tasks/tasks_routes.py
  src/backend/tests/conftest.py
Labels: backend

#1447 Replace unecessary outline_centroid calculation on backend, replace with ol function
  src/backend/app/tasks/tasks_schemas.py
  src/frontend/src/api/Project.js
  src/frontend/src/api/ProjectTaskStatus.js
  src/frontend/src/components/Activities.jsx
  src/frontend/src/hooks/MapStyles.js
  src/frontend/src/models/createproject/createProjectModel.ts
  src/frontend/src/models/project/projectModel.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/utilfunctions/getTaskStatusStyle.js
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend, backend

#1435 Fix activity comment api calls in frontend
  src/frontend/src/api/Project.js
  src/frontend/src/api/ProjectTaskStatus.js
  src/frontend/src/components/DialogTaskActions.jsx
  src/frontend/src/components/ProjectDetailsV2/ActivitiesPanel.tsx
  src/frontend/src/components/ProjectDetailsV2/Comments.tsx
  src/frontend/src/models/project/projectModel.ts
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

#1446 Add custom TMS url in the project
  src/backend/app/db/db_models.py
  src/backend/app/projects/project_schemas.py
  src/backend/migrations/003-add-tms-url.sql
  src/backend/migrations/revert/003-add-tms-url.sql
Labels: Priority: Should have, backend, migration

#1450 Role mapper to login required in data extract
  src/backend/app/projects/project_routes.py
Labels: backend

#1457 Fix/task history btn update
  src/frontend/src/api/ProjectTaskStatus.js
  src/frontend/src/components/DialogTaskActions.jsx
  src/frontend/src/components/ProjectDetailsV2/ActivitiesPanel.tsx
Labels: frontend, QA ready

#1454 Append extra hashtag to projects with domain and project id identifier
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_schemas.py
Labels: backend

#1462 Invalidate login if mismatch between existing and new user
  src/frontend/src/App.tsx
Labels: frontend

#1467 Fix basemap mbtile file downloads
  src/backend/app/auth/roles.py
  src/backend/app/projects/project_deps.py
  src/backend/app/projects/project_routes.py
  src/frontend/src/api/Project.js
  src/frontend/src/components/GenerateBasemap.jsx
Labels: frontend, backend

#1469 Distinguish between tasks locked by the current user and tasks locked by others
  src/frontend/src/api/ProjectTaskStatus.js
  src/frontend/src/components/MapComponent/OpenLayersComponent/AsyncPopup/AsyncPopup.tsx
  src/frontend/src/hooks/MapStyles.js
  src/frontend/src/utilfunctions/getTaskStatusStyle.js
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

#1449 Frontend buttons to load Entities in ODK Collect by intent
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_deps.py
  src/backend/app/central/central_schemas.py
  src/backend/app/db/postgis_utils.py
  src/backend/app/helpers/helper_routes.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/frontend/src/api/Project.js
  src/frontend/src/components/ProjectDetailsV2/FeatureSelectionPopup.tsx
  src/frontend/src/components/ProjectDetailsV2/TaskSelectionPopup.tsx
  src/frontend/src/components/common/Checkbox.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/store/slices/TaskSlice.ts
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/store/types/ITask.ts
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend, backend

#1464 Feat/custom tms url
  src/frontend/src/api/Project.js
  src/frontend/src/components/GenerateBasemap.jsx
  src/frontend/src/components/MapComponent/OpenLayersComponent/LayerSwitcher/index.js
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/validation/CreateProjectValidation.tsx
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
Labels: frontend

#1458 Add login options to frontend: OSM or temp auth
  src/frontend/src/api/Login.ts
  src/frontend/src/assets/images/osm-logo.png
  src/frontend/src/components/LoginPopup.tsx
  src/frontend/src/components/common/Modal.tsx
  src/frontend/src/store/slices/LoginSlice.ts
  src/frontend/src/store/types/ILogin.ts
  src/frontend/src/utilities/CustomDrawer.jsx
  src/frontend/src/utilities/PrimaryAppBar.tsx
Labels: frontend

#1471 Fix login methods after temp cookie auth
  docs/dev/Setup.md
  src/backend/app/auth/auth_routes.py
  src/backend/app/helpers/helper_routes.py
  src/frontend/src/App.tsx
  src/frontend/src/api/Login.ts
  src/frontend/src/components/LoginPopup.tsx
  src/frontend/src/utilfunctions/login.ts
  src/frontend/src/views/Authorized.tsx
Labels: documentation, frontend, backend

#1473 Replace popup auth flow with redirect flow
  docker-compose.yml
  src/frontend/src/App.tsx
  src/frontend/src/api/Login.ts
  src/frontend/src/api/OrganisationService.ts
  src/frontend/src/components/DialogTaskActions.jsx
  src/frontend/src/components/LoginPopup.tsx
  src/frontend/src/components/ProjectDetailsV2/TaskSelectionPopup.tsx
  src/frontend/src/components/organisation/OrganisationGridCard.tsx
  src/frontend/src/routes.jsx
  src/frontend/src/store/Store.ts
  src/frontend/src/store/slices/LoginSlice.ts
  src/frontend/src/store/types/ILogin.ts
  src/frontend/src/utilfunctions/login.ts
  src/frontend/src/utilities/CustomDrawer.jsx
  src/frontend/src/utilities/PrimaryAppBar.tsx
  src/frontend/src/utilities/ProtectedRoute.jsx
  src/frontend/src/views/Authorized.tsx
  src/frontend/src/views/Organisation.tsx
  src/frontend/src/views/OsmAuth.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend, devops

#1481 Fix task hover popup & disable splitting algo without linestring
  src/frontend/src/components/MapComponent/OpenLayersComponent/AsyncPopup/AsyncPopup.tsx
  src/frontend/src/components/common/RadioButton.tsx
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/utilfunctions/checkGeomTypeInGeojson.ts
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

#1484 Actual contributors count in project summary
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/frontend/src/api/Project.js
  src/frontend/src/models/project/projectModel.ts
Labels: frontend, backend

#1485 Use task ids to count validated and mapped status
  src/backend/app/tasks/tasks_crud.py
  src/backend/app/tasks/tasks_routes.py
Labels: backend

#1493 Prompt user if task area is not fully mapped on mark complete
  .all-contributorsrc
  src/frontend/src/components/DialogTaskActions.jsx
  src/frontend/src/components/common/Modal.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

#1500 Colour features based on entity mapping status
  src/frontend/src/utilfunctions/getTaskStatusStyle.js
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend
