Repository hotosm/field-tm, pull requests merged in 2024-03, with the labels that each got.

#1310 Fix xform name format for Central + edit form functionality
  src/backend/app/auth/roles.py
  src/backend/app/central/central_crud.py
  src/backend/app/db/postgis_utils.py
  src/backend/app/helpers/__init__.py
  src/backend/app/helpers/helper_crud.py
  src/backend/app/helpers/helper_routes.py
  src/backend/app/main.py
  src/backend/app/organisations/__init__.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/backend/tests/test_projects_routes.py
  src/frontend/src/components/ManageProject/EditTab/FormUpdateTab.tsx
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/store/slices/CreateProjectSlice.ts
Labels: frontend, backend

#1314 Add simple ui to delete projects on frontend
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/components/ManageProject/DeleteTab/ProjectDeleteTab.tsx
  src/frontend/src/components/ManageProject/DeleteTab/index.tsx
  src/frontend/src/utilfunctions/cookieUtils.ts
  src/frontend/src/utilities/ProtectedRoute.jsx
  src/frontend/src/views/ManageProject.tsx
  src/frontend/src/views/Organisation.tsx
Labels: frontend

#1316 Use defusedxml for xml parsing, only parse one in proj creation
  src/backend/app/central/central_crud.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/backend/tests/test_projects_routes.py
  src/frontend/src/api/CreateProjectService.ts
Labels: frontend, backend

#1311 Feat rich text editor add
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/components/ManageProject/EditTab/ProjectDescriptionTab.tsx
  src/frontend/src/components/ManageProject/EditTab/index.tsx
  src/frontend/src/components/common/Editor/Editor.tsx
  src/frontend/src/components/common/Editor/Toolbar.tsx
  src/frontend/src/components/common/Editor/editorStyles.scss
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/shared/AssetModules.js
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
Labels: frontend

#1322 feat organization: redirect to loginPopup on Manage Organization clic…
  src/frontend/src/api/OrganisationService.ts
  src/frontend/src/views/Organisation.tsx
Labels: frontend

#1321 Project details improve UI responsiveness
  src/frontend/src/components/MapComponent/OpenLayersComponent/Layers/VectorLayer.js
  src/frontend/src/components/ProjectDetailsV2/ProjectInfo.tsx
  src/frontend/src/components/ProjectSubmissions/TaskSubmissionsMap.tsx
Labels: frontend

#1320 Update project creation workflow on README.md
  README.md
Labels: documentation

#1324 Submission detail of each task's submission
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/views/SubmissionDetails.tsx
Labels: frontend, backend

#1327 Use pyxform fork for BytesIO XForm usage
  src/backend/app/central/central_crud.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

#1325 Fix search projects
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
Labels: backend

#1247 Return db user instead of Auth User in me endpoint.
  src/backend/app/auth/auth_routes.py
Labels: backend

#1246 Feat review status modal
  src/frontend/src/api/Submission.ts
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/ProjectSubmissions/UpdateReviewStatusModal.tsx
  src/frontend/src/components/SubmissionMap/SubmissionInstanceMap.jsx
  src/frontend/src/components/common/CustomTable.tsx
  src/frontend/src/components/common/Modal.tsx
  src/frontend/src/models/submission/submissionModel.ts
  src/frontend/src/store/slices/SubmissionSlice.ts
  src/frontend/src/store/types/ISubmissions.ts
  src/frontend/src/views/SubmissionDetails.tsx
Labels: frontend

#1332 Fix project buttons
  src/frontend/src/components/ProjectDetailsV2/TaskSectionPopup.tsx
  src/frontend/src/components/ProjectSubmissions/ProjectInfo.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/models/project/projectModel.ts
  src/frontend/src/views/SubmissionDetails.tsx
Labels: frontend

#1336 Hotfix use centroids to determine extract tasks split
  src/backend/app/db/postgis_utils.py
Labels: backend, hotfix

#1338 fix vectorLayer: remove hover effect code leading screen blank issue
  src/frontend/src/components/MapComponent/OpenLayersComponent/Layers/VectorLayer.js
Labels: frontend

#1361 feat: navigation WIP
  src/frontend/src/assets/images/navigation.svg
  src/frontend/src/components/home/ProjectListMap.tsx
Labels: frontend

#1359 Resolved issues on project summaries with no centroids
  src/backend/app/projects/project_schemas.py
  src/frontend/src/components/home/ProjectListMap.tsx
Labels: frontend, backend

#1362 Fix blank space input validation
  src/frontend/src/components/CreateEditOrganization/validation/OrganizationDetailsValidation.ts
  src/frontend/src/components/ManageProject/EditTab/validation/EditProjectDetailsValidation.ts
  src/frontend/src/components/createnewproject/validation/CreateProjectValidation.tsx
  src/frontend/src/utilfunctions/commonUtils.ts
Labels: frontend

#1346 feat uploadArea: edit AOI btn add
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
Labels: frontend

#1363 Fix UI bugs enhancements
  src/frontend/src/api/OrganisationService.ts
  src/frontend/src/components/GenerateBasemap.jsx
  src/frontend/src/components/ProjectDetailsV2/MapControlComponent.tsx
  src/frontend/src/components/ProjectDetailsV2/TaskSectionPopup.tsx
  src/frontend/src/components/QrcodeComponent.jsx
  src/frontend/src/views/Organisation.tsx
Labels: frontend

#1334 Implemented raw sql replacing sqlalchemy in me endpoint
  src/backend/app/auth/auth_routes.py
  src/backend/app/auth/osm.py
  src/backend/tests/conftest.py
  src/frontend/src/utilfunctions/login.ts
Labels: frontend, backend

#1366 fix createProject: radiobutton replace with checkbox to change formWa…
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/components/createnewproject/validation/SelectFormValidation.tsx
  src/frontend/src/store/slices/CreateProjectSlice.ts
Labels: frontend

#1369 fix uploadArea: invalid geojson error handling
  src/frontend/src/components/MapComponent/OpenLayersComponent/Layers/VectorLayer.js
  src/frontend/src/components/createnewproject/UploadArea.tsx
Labels: frontend

#1350 Api to update the review state of submission
  src/backend/app/central/central_crud.py
  src/backend/app/models/enums.py
  src/backend/app/submissions/submission_routes.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: enhancement, Priority: Should have, backend, release dependent

#1370 Feat project details geolocation integration
  src/frontend/src/components/ProjectDetailsV2/MapControlComponent.tsx
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/utilfunctions/Geolocation.ts
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

#1375 Updated the version of fmtm-splitter -> 1.2.1
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: bug, Priority: Must have, backend

#1373 Profile Image Not Updating in User Login
  src/backend/app/auth/auth_routes.py
  src/backend/app/auth/osm.py
Labels: backend

#1352 Feat task comments integration
  src/frontend/src/api/Project.js
  src/frontend/src/components/MapLegends.jsx
  src/frontend/src/components/ProjectDetailsV2/ActivitiesPanel.tsx
  src/frontend/src/components/ProjectDetailsV2/Comments.tsx
  src/frontend/src/components/ProjectDetailsV2/Instructions.tsx
  src/frontend/src/components/ProjectDetailsV2/MobileActivitiesContents.tsx
  src/frontend/src/components/ProjectDetailsV2/MobileFooter.tsx
  src/frontend/src/components/ProjectDetailsV2/ProjectInfo.tsx
  src/frontend/src/components/ProjectDetailsV2/SkeletonLoader.tsx
  src/frontend/src/components/common/Editor/Editor.tsx
  src/frontend/src/components/common/Editor/Toolbar.tsx
  src/frontend/src/components/common/Editor/editorStyles.scss
  src/frontend/src/shared/AssetModules.js
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

#1379 Update submission in s3 even after review state is updated
  src/backend/app/submissions/submission_crud.py
Labels: backend

#1374 Feat project details geolocation integration
  src/frontend/src/components/ProjectDetailsV2/MapControlComponent.tsx
  src/frontend/src/components/home/ProjectListMap.tsx
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/utilfunctions/Geolocation.ts
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

#1381 Feat project details geolocation integration
  src/frontend/src/assets/images/LocationDot.png
  src/frontend/src/utilfunctions/Geolocation.ts
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

#1371 Toggleable debug console on mobile in local/dev/stage
  docker-compose.main.yml
  src/frontend/prod.dockerfile
  src/frontend/src/utilities/CustomDrawer.jsx
Labels: Priority: Nice to have, frontend, devops

#1380 Separate endpoint to check the validity of login cookies.
  src/backend/app/auth/auth_routes.py
Labels: backend

#1384 Fix comments intructions UI enhancement
  src/frontend/src/components/ProjectDetailsV2/Comments.tsx
  src/frontend/src/components/ProjectDetailsV2/Instructions.tsx
  src/frontend/src/components/common/Editor/Editor.tsx
  src/frontend/src/components/common/Editor/editorStyles.scss
Labels: frontend

#1385 Fix popup offscreen
  src/frontend/src/components/MapComponent/OpenLayersComponent/AsyncPopup/AsyncPopup.tsx
  src/frontend/src/components/ProjectDetailsV2/TaskSectionPopup.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

#1376 Feat reviewstate api integration
  src/frontend/src/api/SubmissionService.ts
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/ProjectSubmissions/UpdateReviewStatusModal.tsx
  src/frontend/src/models/submission/submissionModel.ts
  src/frontend/src/store/slices/SubmissionSlice.ts
  src/frontend/src/store/types/ISubmissions.ts
  src/frontend/src/utilfunctions/commonUtils.ts
  src/frontend/src/views/SubmissionDetails.tsx
Labels: frontend

#1389 Fix update form validation
  src/frontend/src/components/ManageProject/EditTab/FormUpdateTab.tsx
Labels: frontend, QA ready

#1392 Fix taskpopup aoi
  src/frontend/src/components/ProjectDetailsV2/TaskSectionPopup.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
Labels: frontend

#1395 OPFS-based offline-first PMTile basemaps
  src/backend/Dockerfile
  src/backend/app/projects/project_crud.py
  src/frontend/index.html
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/src/App.tsx
  src/frontend/src/api/Files.js
  src/frontend/src/api/Project.js
  src/frontend/src/components/GenerateBasemap.jsx
  src/frontend/src/components/MapComponent/OpenLayersComponent/LayerSwitcher/index.js
  src/frontend/src/hooks/Prompt.tsx
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend, backend, devops

#1396 Test project details mobile
  src/frontend/src/api/Project.js
  src/frontend/src/api/ProjectTaskStatus.js
  src/frontend/src/utilities/CustomDrawer.jsx
  src/frontend/src/utilities/DebugConsole.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

#1387 Fix remove encoded url
  src/frontend/src/components/Activities.jsx
  src/frontend/src/components/ActivitiesPanel.jsx
  src/frontend/src/components/DialogTaskActions.jsx
  src/frontend/src/components/GenerateBasemap.jsx
  src/frontend/src/components/ProjectDetailsV2/ActivitiesPanel.tsx
  src/frontend/src/components/ProjectDetailsV2/Comments.tsx
  src/frontend/src/components/ProjectDetailsV2/ProjectOptions.tsx
  src/frontend/src/components/ProjectDetailsV2/TaskSectionPopup.tsx
  src/frontend/src/components/ProjectSubmissions/ProjectInfo.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsInfographics.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/home/ExploreProjectCard.tsx
  src/frontend/src/components/home/ProjectListMap.tsx
  src/frontend/src/views/ManageProject.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/frontend/src/views/ProjectSubmissions.tsx
  src/frontend/src/views/SubmissionDetails.tsx
  src/frontend/src/views/Submissions.tsx
  src/frontend/src/views/Tasks.tsx
Labels: frontend

#1397 Fix formvalidation UI enhance
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/api/Project.js
  src/frontend/src/api/ProjectTaskStatus.js
  src/frontend/src/components/ManageProject/EditTab/FormUpdateTab.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

#1404 Fix minor frontend bugs
  src/frontend/src/components/ManageProject/EditTab/ProjectDescriptionTab.tsx
  src/frontend/src/components/common/Select.tsx
  src/frontend/src/components/common/TextArea.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
Labels: frontend
