Repository hotosm/field-tm, pull requests merged in 2024-06, with the labels that each got.

#1538 Fix loading entity by intent using uuid xformid
  src/backend/app/central/central_crud.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/api/Project.js
  src/frontend/src/components/DialogTaskActions.jsx
  src/frontend/src/components/ManageProject/EditTab/FormUpdateTab.tsx
  src/frontend/src/components/ProjectDetailsV2/FeatureSelectionPopup.tsx
  src/frontend/src/models/project/projectModel.ts
Labels: frontend, backend

#1542 Upgrade React v17 --> v18
  docker-compose.yml
  docs/dev/Frontend.md
  src/frontend/debug.dockerfile
  src/frontend/index.html
  src/frontend/package.json
  src/frontend/playwright.config.ts
  src/frontend/pnpm-lock.yaml
  src/frontend/prod.dockerfile
  src/frontend/setupTests.ts
  src/frontend/src/components/GenerateBasemap.jsx
  src/frontend/src/components/MapComponent/OpenLayersComponent/Layers/VectorLayer.js
  src/frontend/src/components/MapComponent/OpenLayersComponent/MapContainer/index.jsx
  src/frontend/src/components/__test__/Button.test.jsx
  src/frontend/src/components/common/CustomTable.tsx
  src/frontend/src/main.tsx
  src/frontend/src/shared/CoreModules.js
  src/frontend/src/store/Store.ts
  src/frontend/src/types/modulesDecleration.d.ts
  src/frontend/src/utilfunctions/testUtils.jsx
  src/frontend/src/utilities/BasicTabs.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/frontend/tsconfig.json
Labels: documentation, frontend, devops

#1545 Upgrade React v18 --> v19
  .github/workflows/pr_test_frontend.yml
  docker-compose.yml
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/components/ManageProject/UserTab/index.tsx
  src/frontend/src/components/MapComponent/OpenLayersComponent/LayerSwitcher/index.js
  src/frontend/src/components/MapComponent/OpenLayersComponent/Layers/VectorLayer.js
  src/frontend/src/components/MapComponent/OpenLayersComponent/MapContainer/index.jsx
  src/frontend/src/components/MapComponent/OpenLayersComponent/Popup/index.jsx
  src/frontend/src/components/ProjectDetailsV2/ProjectInfo.tsx
  src/frontend/src/components/common/Checkbox.tsx
  src/frontend/src/components/common/CustomTable.tsx
  src/frontend/src/components/common/Dropdown.tsx
  src/frontend/src/components/common/InputTextField.tsx
  src/frontend/src/components/common/Modal.tsx
  src/frontend/src/components/common/Select.tsx
  src/frontend/src/components/common/Switch.tsx
  src/frontend/src/main.tsx
  src/frontend/src/utilities/BasicDialog.tsx
  src/frontend/src/utilities/BasicTabs.tsx
  src/frontend/src/utilities/CustomDrawer.jsx
  src/frontend/src/utilities/CustomizedModal.tsx
  src/frontend/src/utilities/CustomizedSnackbar.jsx
  src/frontend/vite.config.ts
Labels: frontend, devops

#1546 Use Matomo tracking web component, with accept/disagree prompt
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/src/App.tsx
Labels: enhancement, frontend

#1555 Add healthcare form category & minor fixes
  src/backend/app/central/central_crud.py
  src/backend/app/helpers/helper_routes.py
  src/backend/app/models/enums.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_deps.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/api/Project.js
  src/frontend/src/components/createnewproject/SplitTasks.tsx
Labels: frontend, backend, osm fieldwork

#1559 Fix/requested page redirection
  src/frontend/src/components/LoginPopup.tsx
  src/frontend/src/routes.jsx
  src/frontend/src/utilities/ProtectedRoute.jsx
  src/frontend/src/views/OsmAuth.tsx
Labels: frontend

#1561 Fix/project creation restriction
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/store/types/ICreateProject.ts
Labels: frontend

#1557 Test coverage for update project route
  .pre-commit-config.yaml
  src/backend/tests/test_projects_routes.py
Labels: backend

#1569 fix(projectDetailsV2): taskLayer color not update issue solve
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

#1570 fix(charts): size state to track responsive container to fix charts m…
  src/frontend/src/components/common/BarChart.tsx
  src/frontend/src/components/common/LineChart.tsx
  src/frontend/src/components/common/PieChart.tsx
Labels: frontend

#1571 Display task card even if no features in a task
  src/frontend/src/components/ProjectSubmissions/TaskSubmissions.tsx
Labels: frontend

#1578 fix(customTable): classname add
  src/frontend/package.json
  src/frontend/src/components/common/CustomTable.tsx
Labels: frontend

#1585 fix(createProject): disable submit btn until redirection to details page
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/components/createnewproject/SplitTasks.tsx
Labels: frontend

#1586 Ensure `status` Entity field is updated alongside survey form `status` field
  src/backend/app/central/central_crud.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

#1589 Ensure task_id field is always included with submissions
  src/backend/app/central/central_crud.py
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

#1592 Fix/legend height fix
  src/frontend/src/components/MapLegends.jsx
  src/frontend/src/components/common/Accordion.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

#1595 fix(submissionDetails): retrieve task_id directly from submissionDetails
  src/frontend/src/views/SubmissionDetails.tsx
Labels: frontend

#1600 fix(map): set default baseLayer to OSM
  src/frontend/src/components/MapComponent/OpenLayersComponent/LayerSwitcher/index.js
  src/frontend/src/components/ProjectSubmissions/TaskSubmissionsMap.tsx
  src/frontend/src/components/SubmissionMap/SubmissionInstanceMap.jsx
  src/frontend/src/components/home/ProjectListMap.tsx
  src/frontend/src/views/EditProjectArea.tsx
  src/frontend/src/views/NewDefineAreaMap.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

#1583 Added new endpoint to refresh the app user token
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_routes.py
  src/backend/app/projects/project_crud.py
Labels: backend

#1602 Update remaining JavaScript files to TypeScript
  src/frontend/src/api/Files.ts
  src/frontend/src/api/ProjectTaskStatus.ts
  src/frontend/src/components/Activities.jsx
  src/frontend/src/components/ActivitiesPanel.jsx
  src/frontend/src/components/DialogTaskActions.tsx
  src/frontend/src/components/GenerateBasemap.tsx
  src/frontend/src/components/MapDescriptionComponents.jsx
  src/frontend/src/components/MapLegends.tsx
  src/frontend/src/components/OpenLayersMap.jsx
  src/frontend/src/components/ProjectDetailsV2/ActivitiesPanel.tsx
  src/frontend/src/components/ProjectDetailsV2/FeatureSelectionPopup.tsx
  src/frontend/src/components/ProjectDetailsV2/Instructions.tsx
  src/frontend/src/components/ProjectDetailsV2/MobileActivitiesContents.tsx
  src/frontend/src/components/ProjectDetailsV2/MobileProjectInfoContent.tsx
  src/frontend/src/components/ProjectDetailsV2/ProjectOptions.tsx
  src/frontend/src/components/ProjectDetailsV2/TaskSelectionPopup.tsx
  src/frontend/src/components/QrcodeComponent.tsx
  src/frontend/src/components/SubmissionMap/SubmissionInstanceMap.tsx
  src/frontend/src/components/home/ExploreProjectCard.tsx
  src/frontend/src/models/project/projectModel.ts
  src/frontend/src/store/slices/ThemeSlice.ts
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/types/modulesDecleration.d.ts
  src/frontend/src/utilities/BasicDialog.jsx
  src/frontend/src/utilities/BasicDialog.tsx
  src/frontend/src/utilities/CustomDrawer.tsx
  src/frontend/src/utilities/CustomizedImage.tsx
  src/frontend/src/utilities/CustomizedMenus.tsx
  src/frontend/src/utilities/CustomizedSnackbar.tsx
  src/frontend/src/utilities/IconButtonCard.jsx
  src/frontend/src/utilities/PrimaryAppBar.tsx
  src/frontend/src/views/MainView.tsx
  src/frontend/src/views/NotFound404.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/frontend/src/views/SubmissionDetails.tsx
Labels: frontend

#1609 Update task_history.action correctly on db
  src/backend/app/models/enums.py
Labels: backend

#1611 Test coverage of read project summaries and read project by id endpoints
  src/backend/tests/test_projects_routes.py
Labels: backend
