Repository hotosm/field-tm, pull requests merged in 2024-02, with the labels that each got.

#1155 Cleanup delete old create project
  src/frontend/src/components/createnewproject/LoadingBar.tsx
  src/frontend/src/components/createproject/BasemapSelection.tsx
  src/frontend/src/components/createproject/DataExtract.tsx
  src/frontend/src/components/createproject/DefineTasks.tsx
  src/frontend/src/components/createproject/DrawSvg.tsx
  src/frontend/src/components/createproject/FormSelection.tsx
  src/frontend/src/components/createproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createproject/UploadArea.tsx
  src/frontend/src/components/createproject/validation/CreateProjectValidation.tsx
  src/frontend/src/components/createproject/validation/DataExtractValidation.tsx
  src/frontend/src/components/createproject/validation/DefineTaskValidation.tsx
  src/frontend/src/components/createproject/validation/SelectFormValidation.tsx
  src/frontend/src/routes.jsx
  src/frontend/src/shared/CoreModules.js
Labels: frontend

#1157 Fix project creation issues
  src/frontend/src/components/MapComponent/OpenLayersComponent/Layers/VectorLayer.js
  src/frontend/src/components/common/StepSwitcher.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
  src/frontend/src/views/NewDefineAreaMap.tsx
Labels: frontend

#1158 Add extra error handling if data extract download fails
  src/backend/app/projects/project_crud.py
Labels: backend

#1160 Project submission date and time formatting
  src/frontend/src/components/ProjectSubmissions/ProjectInfo.tsx
Labels: frontend

#1159 ZLib compress dynamic QR codes from frontend
  contrib/qrcode_util/Dockerfile
  contrib/qrcode_util/README.md
  contrib/qrcode_util/build.sh
  contrib/qrcode_util/qrcode_util.py
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/src/api/Files.js
Labels: bug, frontend, devops, contrib

#1123 Map default odk credentials to organisations
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_routes.py
  src/backend/app/config.py
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/organisations/organisation_deps.py
  src/backend/app/organisations/organisation_routes.py
  src/backend/app/organisations/organisation_schemas.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/submissions/submission_crud.py
  src/backend/app/tasks/tasks_routes.py
  src/backend/app/tasks/tasks_schemas.py
  src/backend/tests/conftest.py
  src/backend/tests/test_projects_routes.py
  src/frontend/src/components/MapComponent/OpenLayersComponent/LayerSwitcher/index.js
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
  src/frontend/src/components/organisation/OrganisationAddForm.tsx
  src/frontend/src/components/organisation/Validation/OrganisationAddValidation.tsx
  src/frontend/src/constants/StepFormConstants.ts
  src/frontend/src/constants/blockerUrl.ts
  src/frontend/src/models/createproject/createProjectModel.ts
  src/frontend/src/models/organisation/organisationModel.ts
  src/frontend/src/routes.jsx
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/views/CreateNewProject.tsx
  src/frontend/src/views/CreateOrganisation.tsx
  src/frontend/src/views/CreateProject.tsx
Labels: frontend, backend

#1166 Fix img proj popup
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/home/ExploreProjectCard.tsx
Labels: frontend

#1167 Fix iOS Safari popup-based login
  src/frontend/src/utilfunctions/login.ts
Labels: frontend

#1162 Fix project details UI additions
  src/frontend/src/components/ProjectDetailsV2/ProjectOptions.tsx
  src/frontend/src/components/common/Button.tsx
  src/frontend/src/hooks/useOutsideClick.ts
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

#1168 Project deletion via frontend
  INSTALL.md
  src/backend/app/projects/project_routes.py
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/components/MapDescriptionComponents.jsx
  src/frontend/src/components/editproject/DeleteProject.tsx
  src/frontend/src/constants/EditProjectSidebarContent.ts
  src/frontend/src/routes.jsx
  src/frontend/src/views/EditProject.tsx
Labels: documentation, frontend, backend

#1133 Project Admin Roles
  src/backend/app/auth/auth_routes.py
  src/backend/app/auth/osm.py
  src/backend/app/auth/roles.py
  src/backend/app/db/db_models.py
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/organisations/organisation_routes.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/submissions/submission_routes.py
  src/backend/app/tasks/tasks_routes.py
  src/backend/migrations/006-index-roles.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/migrations/revert/006-index-roles.sql
  src/backend/tests/conftest.py
  src/backend/tests/test_projects_routes.py
  src/frontend/src/components/createnewproject/SplitTasks.tsx
Labels: frontend, backend, migration

#1163 Implement Mapper role
  src/backend/app/auth/roles.py
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/organisations/organisation_routes.py
  src/backend/app/projects/project_routes.py
  src/backend/app/submissions/submission_routes.py
  src/backend/app/tasks/tasks_routes.py
Labels: backend

#1154 Feat manage project UI
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/components/ManageProject/EditTab/FormUpdateTab.tsx
  src/frontend/src/components/ManageProject/EditTab/ProjectDescriptionTab.tsx
  src/frontend/src/components/ManageProject/EditTab/index.tsx
  src/frontend/src/components/ManageProject/EditTab/validation/EditProjectDetailsValidation.ts
  src/frontend/src/components/ManageProject/UserTab/AssignTab.tsx
  src/frontend/src/components/ManageProject/UserTab/InviteTab.tsx
  src/frontend/src/components/ManageProject/UserTab/index.tsx
  src/frontend/src/components/ProjectDetailsV2/ProjectOptions.tsx
  src/frontend/src/components/common/Button.tsx
  src/frontend/src/components/common/Chips.tsx
  src/frontend/src/components/common/CustomTable.tsx
  src/frontend/src/components/common/KebabMenu.tsx
  src/frontend/src/components/common/Select.tsx
  src/frontend/src/components/common/UploadArea.tsx
  src/frontend/src/routes.jsx
  src/frontend/src/shared/AssetModules.js
  src/frontend/src/views/ManageProject.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

#1173 Cast all fields for sqlalchemy with python types
  src/backend/app/config.py
  src/backend/app/db/db_models.py
  src/backend/app/db/postgis_utils.py
  src/backend/app/main.py
  src/backend/app/projects/project_crud.py
Labels: backend

#1071 Separate task history end point
  src/backend/app/db/db_models.py
  src/backend/app/tasks/tasks_crud.py
  src/backend/app/tasks/tasks_routes.py
  src/backend/app/tasks/tasks_schemas.py
Labels: backend

#1174 Use default organisation credentials frontend implementation
  src/backend/app/config.py
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createnewproject/validation/CreateProjectValidation.tsx
  src/frontend/src/components/editproject/validation/EditProjectDetailsValidation.ts
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/views/CreateOrganisation.tsx
Labels: frontend, backend

#1180 update: task status update endpoint to adjust mapper role
  src/backend/app/tasks/tasks_routes.py
Labels: backend

#1179 Fix update submissions in s3
  src/backend/app/db/db_models.py
  src/backend/app/s3.py
  src/backend/app/submissions/submission_crud.py
Labels: backend

#1178 Feat create edit organization
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/src/api/OrganisationService.ts
  src/frontend/src/components/ApproveOrganization/ApproveOrganizationHeader.tsx
  src/frontend/src/components/ApproveOrganization/OrganizationForm.tsx
  src/frontend/src/components/CreateEditOrganization/ConsentDetailsForm.tsx
  src/frontend/src/components/CreateEditOrganization/CreateEditOrganizationForm.tsx
  src/frontend/src/components/CreateEditOrganization/CreateEditOrganizationHeader.tsx
  src/frontend/src/components/CreateEditOrganization/InstructionsSidebar.tsx
  src/frontend/src/components/CreateEditOrganization/validation/ConsentDetailsValidation.ts
  src/frontend/src/components/CreateEditOrganization/validation/OrganizationDetailsValidation.ts
  src/frontend/src/components/common/Button.tsx
  src/frontend/src/components/common/Checkbox.tsx
  src/frontend/src/components/common/InputTextField.tsx
  src/frontend/src/components/common/RadioButton.tsx
  src/frontend/src/constants/ConsentQuestions.tsx
  src/frontend/src/routes.jsx
  src/frontend/src/store/slices/organisationSlice.ts
  src/frontend/src/types/enums.ts
  src/frontend/src/utilfunctions/login.ts
  src/frontend/src/views/ApproveOrganization.tsx
  src/frontend/src/views/Authorized.tsx
  src/frontend/src/views/CreateEditOrganization.tsx
  src/frontend/src/views/Organisation.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

#1182 Fix aoi file upload
  src/frontend/src/components/createnewproject/UploadArea.tsx
Labels: frontend

#1185 Fix consent question
  src/frontend/src/components/CreateEditOrganization/validation/ConsentDetailsValidation.ts
  src/frontend/src/constants/ConsentQuestions.tsx
Labels: frontend

#1183 Use osm-rawdata for generating data extracts
  docker-compose.yml
  src/backend/app/db/db_models.py
  src/backend/app/db/postgis_utils.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/migrations/005-remove-qrcode.sql
  src/backend/migrations/007-add-extract-url.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/migrations/revert/005-remove-qrcode.sql
  src/backend/migrations/revert/007-add-extract-url.sql
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/backend/tests/test_projects_routes.py
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
  src/frontend/src/components/createnewproject/validation/DataExtractValidation.tsx
  src/frontend/src/components/createnewproject/validation/UploadAreaValidation.tsx
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/views/CreateProject.tsx
  src/frontend/src/views/DefineAreaMap.tsx
Labels: frontend, backend, devops, migration

#1186 Fix project submission card UI
  src/frontend/src/components/ProjectSubmissions/ProjectInfo.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsInfographics.tsx
  src/frontend/src/shared/AssetModules.js
  src/frontend/src/views/ProjectSubmissions.tsx
Labels: frontend

#1195 Fix: Ensure GeoJSON Feature Type is Properly Saved
  src/backend/app/db/postgis_utils.py
Labels: backend

#1194 Project creation workflow fixes (task splitting)
  src/backend/app/db/postgis_utils.py
  src/backend/app/organisations/organisation_schemas.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/tasks/tasks_schemas.py
  src/backend/tests/conftest.py
  src/backend/tests/test_projects_routes.py
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/api/Project.js
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/editproject/UpdateProjectArea.tsx
  src/frontend/src/models/createproject/createProjectModel.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/views/NewProjectDetails.jsx
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend, backend

#1197 Add community_type for organisations, add unapproved org list endpoint
  src/backend/app/auth/roles.py
  src/backend/app/db/db_models.py
  src/backend/app/models/enums.py
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/organisations/organisation_routes.py
  src/backend/app/organisations/organisation_schemas.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/migrations/001-project-split-type-fields.sql
  src/backend/migrations/009-add-community-type.sql
  src/backend/migrations/revert/009-add-community-type.sql
  src/backend/tests/conftest.py
  src/backend/tests/test_projects_routes.py
Labels: backend, migration

#1171 Endpoints for task comments
  src/backend/app/db/db_models.py
  src/backend/app/db/postgis_utils.py
  src/backend/app/projects/project_crud.py
  src/backend/app/tasks/tasks_crud.py
  src/backend/app/tasks/tasks_routes.py
  src/backend/app/tasks/tasks_schemas.py
Labels: backend

#1208 refactor: Update task status (hot fix)
  src/backend/app/auth/roles.py
  src/backend/app/projects/project_deps.py
  src/backend/app/tasks/tasks_routes.py
  src/frontend/src/api/ProjectTaskStatus.js
  src/frontend/src/components/DialogTaskActions.jsx
Labels: frontend, backend

#1206 Init public beta org and svcfmtm user migration
  docker-compose.yml
  src/backend/Dockerfile
  src/backend/app/config.py
  src/backend/app/db/db_models.py
  src/backend/app/main.py
  src/backend/app/organisations/organisation_crud.py
  src/backend/migrate-entrypoint.sh
  src/backend/migrations/003-project-roles.sql
  src/backend/migrations/init/fmtm_base_schema.sql
Labels: backend, devops, migration

#1209 Fix minor project issues
  src/frontend/src/components/ManageProject/EditTab/FormUpdateTab.tsx
  src/frontend/src/components/ManageProject/EditTab/index.tsx
  src/frontend/src/components/ProjectSubmissions/TaskSubmissions.tsx
  src/frontend/src/models/submission/submissionModel.ts
Labels: frontend

#1191 Filter on submission table
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
Labels: backend

#1210 fix codeRefactor: old edit-project code remove
  src/frontend/src/components/ProjectDetails/ProjectOptions.tsx
  src/frontend/src/components/editproject/DeleteProject.tsx
  src/frontend/src/components/editproject/EditProjectDetails.tsx
  src/frontend/src/components/editproject/UpdateForm.tsx
  src/frontend/src/components/editproject/UpdateProjectArea.tsx
  src/frontend/src/components/editproject/validation/EditProjectDetailsValidation.ts
  src/frontend/src/routes.jsx
  src/frontend/src/views/EditProject.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

#1211 Rename changeset to hashtags
  src/frontend/src/components/ManageProject/EditTab/ProjectDescriptionTab.tsx
  src/frontend/src/components/ManageProject/EditTab/validation/EditProjectDetailsValidation.ts
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
Labels: frontend

#1218 Api returning details of unapproved organisation.
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/organisations/organisation_routes.py
Labels: backend

#1217 Improve submissions dynamic filtering
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/src/api/SubmissionService.ts
  src/frontend/src/components/ProjectSubmissions/ProjectInfo.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsInfographics.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/common/CustomDatePicker.tsx
  src/frontend/src/components/common/InputTextField.tsx
  src/frontend/src/components/common/PieChart.tsx
  src/frontend/src/constants/projectSubmissionsConstants.ts
  src/frontend/src/index.css
  src/frontend/src/views/ProjectSubmissions.tsx
Labels: frontend

#1219 Fix data extract generation and task splitting with polylines
  src/backend/app/projects/project_crud.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

#1222 Updated osm-fieldwork version
  src/backend/app/central/central_crud.py
  src/backend/app/submissions/submission_routes.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/backend/tests/test_projects_routes.py
Labels: backend

#1215 Feat approve organization api integration
  src/frontend/src/api/OrganisationService.ts
  src/frontend/src/components/ApproveOrganization/OrganizationForm.tsx
  src/frontend/src/store/slices/organisationSlice.ts
  src/frontend/src/views/ManageProject.tsx
  src/frontend/src/views/Organisation.tsx
Labels: frontend

#1223 Update project schema to allow edit only required fields
  src/backend/app/projects/project_schemas.py
Labels: backend

#1224 Instructions in create and edit project
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
Labels: backend

#1226 Added approve detail in get organisation response
  src/backend/app/organisations/organisation_schemas.py
Labels: backend

#1233 Endpoint to delete unapproved organisation
  src/backend/app/organisations/organisation_routes.py
Labels: backend

#1205 Mandatory odk credentials if no organisation default
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/organisations/organisation_routes.py
  src/frontend/src/api/OrganisationService.ts
  src/frontend/src/components/ApproveOrganization/OrganizationForm.tsx
  src/frontend/src/components/CreateEditOrganization/CreateEditOrganizationForm.tsx
  src/frontend/src/components/CreateEditOrganization/validation/OrganizationDetailsValidation.ts
  src/frontend/src/components/common/Checkbox.tsx
  src/frontend/src/components/common/CustomDatePicker.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createnewproject/validation/CreateProjectValidation.tsx
  src/frontend/src/models/createproject/createProjectModel.ts
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/views/CreateEditOrganization.tsx
Labels: frontend, backend

#1235 Improve flatgeobuf loading and generation
  src/backend/app/db/postgis_utils.py
  src/backend/app/projects/project_routes.py
Labels: backend

#1230 Fix project org UI issues
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/src/api/task.ts
  src/frontend/src/components/ManageProject/EditTab/FormUpdateTab.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/common/Dropdown.tsx
  src/frontend/src/components/common/Modal.tsx
  src/frontend/src/components/common/Select.tsx
  src/frontend/src/shared/AssetModules.js
  src/frontend/src/utilities/PrimaryAppBar.tsx
Labels: frontend

#1231 Feature/Test Case config and some test cases
  src/frontend/package.json
  src/frontend/src/components/__test__/Button.test.jsx
  src/frontend/src/components/common/Button.tsx
  src/frontend/src/sum.js
  src/frontend/tests/App.test.jsx
  src/frontend/tests/App.test.tsx
  src/frontend/tests/CreateProject.test.tsx
  src/frontend/tsconfig.json
  src/frontend/vite.config.ts
Labels: frontend

#1232 Add user in organisation
  src/backend/app/db/db_models.py
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/organisations/organisation_routes.py
  src/backend/migrations/008-add-user-in-org.sql
  src/backend/migrations/revert/008-add-user-in-org.sql
Labels: backend, migration

#1234 Feat verification tag add
  src/frontend/src/api/ProjectTaskStatus.js
  src/frontend/src/components/organisation/OrganisationGridCard.tsx
  src/frontend/src/models/organisation/organisationModel.ts
  src/frontend/src/views/Organisation.tsx
Labels: frontend

#1184 Fix qr popup enhancement
  src/frontend/src/components/DialogTaskActions.jsx
  src/frontend/src/components/ProjectDetailsV2/TaskSectionPopup.tsx
  src/frontend/src/components/ProjectSubmissions/ProjectInfo.tsx
  src/frontend/src/components/QrcodeComponent.jsx
  src/frontend/src/components/common/Button.tsx
  src/frontend/src/environment.ts
  src/frontend/src/routes.jsx
  src/frontend/src/shared/AssetModules.js
  src/frontend/src/views/ManageProject.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

#1244 Add bbox in read project's outline
  src/backend/app/projects/project_schemas.py
Labels: backend

#1241 Use flatgeobuf data extracts on frontend & backend
  .pre-commit-config.yaml
  src/backend/app/central/central_crud.py
  src/backend/app/db/db_models.py
  src/backend/app/db/postgis_utils.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/tasks/tasks_crud.py
  src/backend/app/tasks/tasks_routes.py
  src/backend/migrations/005-remove-qrcode.sql
  src/backend/migrations/010-drop-features-table.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/migrations/revert/010-drop-features-table.sql
  src/backend/tests/conftest.py
  src/backend/tests/test_data/data_extract_kathmandu.fgb
  src/backend/tests/test_data/data_extract_kathmandu.geojson
  src/backend/tests/test_projects_routes.py
  src/frontend/src/api/Project.js
  src/frontend/src/api/SubmissionService.ts
  src/frontend/src/components/CreateEditOrganization/validation/OrganizationDetailsValidation.ts
  src/frontend/src/components/MapComponent/OpenLayersComponent/Layers/VectorLayer.js
  src/frontend/src/components/ProjectInfo/ProjectInfomap.jsx
  src/frontend/src/components/ProjectMap/ProjectMap.jsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/ProjectSubmissions/TaskSubmissionsMap.tsx
  src/frontend/src/components/SubmissionMap/SubmissionMap.jsx
  src/frontend/src/components/TasksMap/TasksMap.jsx
  src/frontend/src/components/createnewproject/validation/CreateProjectValidation.tsx
  src/frontend/src/components/organisation/Validation/OrganisationAddValidation.tsx
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/utilfunctions/urlChecker.ts
  src/frontend/src/views/NewProjectDetails.jsx
  src/frontend/src/views/ProjectDetails.jsx
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/frontend/src/views/ProjectInfo.tsx
  src/frontend/src/views/Submissions.tsx
  src/frontend/src/views/Tasks.tsx
Labels: frontend, backend, migration

#1239 Fix generate app user, media upload to odk central
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_deps.py
  src/backend/app/projects/project_routes.py
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
  src/backend/app/tasks/tasks_routes.py
Labels: backend

#1258 Fix download submissions in csvs
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
Labels: backend

#1256 fix josmUpload: send bbox from geojson properties
  src/frontend/src/api/task.ts
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
Labels: frontend

#1260 Feat(manage organizations)/implement skeleton while loading
  src/frontend/src/components/organisation/OrganizationCardSkeleton.tsx
  src/frontend/src/views/Home.jsx
  src/frontend/src/views/Organisation.tsx
Labels: frontend

#1262 Fix custom form upload validity check
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
Labels: frontend

#1250 Fix dynamic submissions legend chloropeth
  src/frontend/src/components/MapComponent/OpenLayersComponent/AsyncPopup/AsyncPopup.tsx
  src/frontend/src/components/MapComponent/OpenLayersComponent/AsyncPopup/asyncpopup.scss
  src/frontend/src/components/ProjectSubmissions/TaskSubmissionsMap.tsx
  src/frontend/src/components/ProjectSubmissions/TaskSubmissionsMapLegend.tsx
  src/frontend/src/models/submission/submissionModel.ts
  src/frontend/src/styles/home.scss
Labels: frontend

#1264 Removing redundant code for removing extra closing </osm> tag
  src/backend/app/submissions/submission_routes.py
Labels: backend

#1255 Fix task splitting with custom data extract
  src/backend/app/db/postgis_utils.py
  src/backend/app/projects/project_routes.py
Labels: backend

#1269 Fix data extract splitting by task area
  src/backend/app/db/postgis_utils.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
Labels: backend

#1271 Archive migrations for fresh start from base schema
  INSTALL.md
  LICENSE.md
  README.md
  docs/dev/Production.md
  src/backend/migrate-entrypoint.sh
  src/backend/migrations/000-reset-migrations-table.sql
  src/backend/migrations/archived/2024-02-24/000-remove-user-password.sql
  src/backend/migrations/archived/2024-02-24/001-project-split-type-fields.sql
  src/backend/migrations/archived/2024-02-24/002-add-profile-img.sql
  src/backend/migrations/archived/2024-02-24/003-project-roles.sql
  src/backend/migrations/archived/2024-02-24/004-organisation-odk-creds.sql
  src/backend/migrations/archived/2024-02-24/005-remove-qrcode.sql
  src/backend/migrations/archived/2024-02-24/006-index-roles.sql
  src/backend/migrations/archived/2024-02-24/007-add-extract-url.sql
  src/backend/migrations/archived/2024-02-24/008-add-user-in-org.sql
  src/backend/migrations/archived/2024-02-24/009-add-community-type.sql
  src/backend/migrations/archived/2024-02-24/010-drop-features-table.sql
  src/backend/migrations/archived/2024-02-24/011-task-features-count.sql
  src/backend/migrations/archived/2024-02-24/revert/000-remove-user-password.sql
  src/backend/migrations/archived/2024-02-24/revert/001-project-split-type-fields.sql
  src/backend/migrations/archived/2024-02-24/revert/002-add-profile-img.sql
  src/backend/migrations/archived/2024-02-24/revert/003-project-roles.sql
  src/backend/migrations/archived/2024-02-24/revert/004-organisation-odk-creds.sql
  src/backend/migrations/archived/2024-02-24/revert/005-remove-qrcode.sql
  src/backend/migrations/archived/2024-02-24/revert/006-index-roles.sql
  src/backend/migrations/archived/2024-02-24/revert/007-add-extract-url.sql
  src/backend/migrations/archived/2024-02-24/revert/008-add-user-in-org.sql
  src/backend/migrations/archived/2024-02-24/revert/009-add-community-type.sql
  src/backend/migrations/archived/2024-02-24/revert/010-drop-features-table.sql
  src/backend/migrations/archived/2024-02-24/revert/011-task-features-count.sql
  src/backend/migrations/init/fmtm_base_schema.sql
Labels: documentation, backend, devops, migration

#1280 Refactor remove old project details
  src/frontend/src/components/OpenLayersMap.jsx
  src/frontend/src/components/ProjectDetails/MapControlComponent.tsx
  src/frontend/src/components/ProjectDetails/MobileActivitiesContents.tsx
  src/frontend/src/components/ProjectDetails/MobileFooter.tsx
  src/frontend/src/components/ProjectDetails/MobileProjectInfoContent.tsx
  src/frontend/src/components/ProjectDetails/ProjectOptions.tsx
  src/frontend/src/components/ProjectDetails/TaskSectionPopup.tsx
  src/frontend/src/components/ProjectDetailsV2/ProjectOptions.tsx
  src/frontend/src/components/ProjectInfo/ProjectCard.jsx
  src/frontend/src/components/ProjectInfo/ProjectInfoCountCard.jsx
  src/frontend/src/components/ProjectInfo/ProjectInfoCountCardSkeleton.jsx
  src/frontend/src/components/ProjectInfo/ProjectInfoMapLegend.jsx
  src/frontend/src/components/ProjectInfo/ProjectInfoSidebar.jsx
  src/frontend/src/components/ProjectInfo/ProjectInfoSidebarSkeleton.jsx
  src/frontend/src/components/ProjectInfo/ProjectInfomap.jsx
  src/frontend/src/routes.jsx
  src/frontend/src/views/CreateProject.tsx
  src/frontend/src/views/NewProjectDetails.jsx
  src/frontend/src/views/ProjectDetails.jsx
  src/frontend/src/views/ProjectInfo.tsx
Labels: frontend

#1278 Feat add mbtiles btn, UI enhancements
  src/frontend/src/api/Project.js
  src/frontend/src/components/MapComponent/OpenLayersComponent/LayerSwitcher/index.js
  src/frontend/src/components/ProjectDetailsV2/MapControlComponent.tsx
  src/frontend/src/components/common/PieChart.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

#1281 fix mapBgColor: map background changed to white
  src/frontend/src/styles/home.scss
Labels: frontend

#1284 fix:(create-project): reset data extract when geojson is redrawn
  src/frontend/src/components/createnewproject/UploadArea.tsx
Labels: frontend

#1285 Check for existing project name
  src/backend/app/projects/project_routes.py
Labels: backend

#1286 Feat ts type add
  src/frontend/src/store/slices/CommonSlice.ts
  src/frontend/src/store/slices/HomeSlice.ts
  src/frontend/src/store/slices/LoginSlice.ts
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/store/slices/TaskSlice.ts
  src/frontend/src/store/types/ICommon.ts
  src/frontend/src/store/types/IHome.ts
  src/frontend/src/store/types/ILogin.ts
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/store/types/ISubmissions.ts
  src/frontend/src/store/types/ITask.ts
Labels: frontend

#1288 HOTFIX task features-count endpoint
  src/backend/app/tasks/tasks_routes.py
Labels: backend, hotfix

#1290 Feat components ts type add
  src/frontend/src/components/MapComponent/OpenLayersComponent/AsyncPopup/AsyncPopup.tsx
  src/frontend/src/components/ProjectDetailsV2/ActivitiesPanel.tsx
  src/frontend/src/components/ProjectDetailsV2/MobileProjectInfoContent.tsx
  src/frontend/src/components/ProjectDetailsV2/ProjectInfo.tsx
  src/frontend/src/components/ProjectDetailsV2/ProjectOptions.tsx
  src/frontend/src/components/ProjectDetailsV2/TaskSectionPopup.tsx
  src/frontend/src/components/ProjectSubmissions/ProjectInfo.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsInfographics.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/ProjectSubmissions/TaskSubmissions.tsx
  src/frontend/src/components/ProjectSubmissions/TaskSubmissionsMap.tsx
  src/frontend/src/components/ProjectSubmissions/TaskSubmissionsMapLegend.tsx
  src/frontend/src/components/home/ExploreProjectCard.tsx
  src/frontend/src/components/home/HomePageFilters.tsx
  src/frontend/src/components/home/ProjectListMap.tsx
  src/frontend/src/models/home/homeModel.ts
  src/frontend/src/models/project/projectModel.ts
  src/frontend/src/models/submission/submissionModel.ts
  src/frontend/src/models/task/taskModel.ts
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/store/slices/TaskSlice.ts
  src/frontend/src/store/types/IHome.ts
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/store/types/ISubmissions.ts
  src/frontend/src/store/types/ITask.ts
  src/frontend/src/views/Home.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/frontend/src/views/ProjectSubmissions.tsx
  src/frontend/src/views/Tasks.tsx
Labels: frontend

#1287 Only load My Organisations once on tab click
  src/frontend/src/views/Organisation.tsx
Labels: frontend

#1296 Implement download on clicking `download-icon` in `qrpopup`
  src/frontend/src/components/GenerateBasemap.jsx
  src/frontend/src/components/ProjectDetailsV2/ProjectOptions.tsx
  src/frontend/src/components/ProjectDetailsV2/TaskSectionPopup.tsx
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: frontend

#1293 Feat ts type add organization create project
  src/frontend/src/components/ApproveOrganization/OrganizationForm.tsx
  src/frontend/src/components/CreateEditOrganization/ConsentDetailsForm.tsx
  src/frontend/src/components/CreateEditOrganization/CreateEditOrganizationForm.tsx
  src/frontend/src/components/ProjectDetailsV2/ActivitiesPanel.tsx
  src/frontend/src/components/ProjectDetailsV2/MapControlComponent.tsx
  src/frontend/src/components/ProjectDetailsV2/MobileActivitiesContents.tsx
  src/frontend/src/components/ProjectDetailsV2/MobileFooter.tsx
  src/frontend/src/components/ProjectDetailsV2/ProjectInfo.tsx
  src/frontend/src/components/ProjectDetailsV2/TaskSectionPopup.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/ProjectSubmissions/TaskSubmissions.tsx
  src/frontend/src/components/ProjectSubmissions/TaskSubmissionsMap.tsx
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
  src/frontend/src/components/home/HomePageFilters.tsx
  src/frontend/src/models/organisation/organisationModel.ts
  src/frontend/src/models/project/projectModel.ts
  src/frontend/src/models/submission/submissionModel.ts
  src/frontend/src/store/Store.ts
  src/frontend/src/store/slices/CommonSlice.ts
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/slices/HomeSlice.ts
  src/frontend/src/store/slices/SubmissionSlice.ts
  src/frontend/src/store/slices/ThemeSlice.ts
  src/frontend/src/store/slices/organisationSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/store/types/IOrganisation.ts
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/store/types/ISubmissions.ts
  src/frontend/src/views/CreateEditOrganization.tsx
  src/frontend/src/views/CreateNewProject.tsx
  src/frontend/src/views/CreateOrganisation.tsx
  src/frontend/src/views/Home.tsx
  src/frontend/src/views/ManageProject.tsx
  src/frontend/src/views/NewDefineAreaMap.tsx
  src/frontend/src/views/Organisation.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/frontend/src/views/SubmissionDetails.tsx
Labels: frontend

#1261 Fix remove data extract upload type
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
  src/frontend/src/components/createnewproject/validation/DataExtractValidation.tsx
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/views/CreateNewProject.tsx
Labels: frontend

#1294 Allow custom XForm uploads, in addition to XLSForms
  src/backend/app/central/central_crud.py
  src/backend/app/main.py
  src/backend/app/projects/project_routes.py
  src/frontend/src/components/createnewproject/SelectForm.tsx
Labels: enhancement, frontend, backend

#1301 fix splitTasks: TS types add
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/store/types/ICreateProject.ts
Labels: frontend

#1306 Update xform to fetch submissions
  src/backend/app/submissions/submission_crud.py
Labels: backend
