Repository hotosm/field-tm, pull requests merged in 2024-09, with the labels that each got.

#1767 fix(createProject): lineString validation remove
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
Labels: bug, frontend

#1768 Feat/project not found page
  src/frontend/src/assets/images/no-file.png
  src/frontend/src/assets/images/notFound.png
  src/frontend/src/assets/images/page-not-found.png
  src/frontend/src/assets/images/project-not-found.png
  src/frontend/src/views/NotFound404.tsx
  src/frontend/src/views/ProjectNotFound.tsx
Labels: enhancement, frontend

#1772 Fix/UI
  src/frontend/src/components/OfflineReadyPrompt.tsx
  src/frontend/src/components/ProjectDetailsV2/TaskSelectionPopup.tsx
Labels: bug, frontend

#1763 Update form by injecting mandatory fields and validate it
  src/backend/app/projects/project_routes.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/validation/SelectFormValidation.tsx
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/views/CreateNewProject.tsx
Labels: enhancement, frontend, backend, dependency:osm-fieldwork

#1774 Allow empty task id and osm id for new geopoint
  src/backend/app/central/central_crud.py
  src/frontend/src/views/ProjectSubmissions.tsx
Labels: enhancement, frontend, backend, dependency:osm-fieldwork

#1777 Correct text in validation table to show the marked as validated
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/environment.ts
Labels: bug, frontend

#1766 Add Playwright tests for mapper flow
  src/frontend/e2e/01-create-new-project.spec.ts
  src/frontend/e2e/02-mapper-flow.spec.ts
  src/frontend/e2e/02-mapper-flow.spec.ts-snapshots/locked-for-mapping-chromium-linux.png
  src/frontend/e2e/02-mapper-flow.spec.ts-snapshots/mapped-chromium-linux.png
  src/frontend/e2e/02-mapper-flow.spec.ts-snapshots/ready-chromium-linux.png
  src/frontend/e2e/02-mapper-flow.spec.ts-snapshots/validated-chromium-linux.png
  src/frontend/e2e/03-entity-update.spec.ts
  src/frontend/src/environment.ts
  src/frontend/src/store/slices/ProjectSlice.ts
Labels: enhancement, frontend, tests

#1784 Rename public beta org to `hotosm`
  src/backend/app/auth/roles.py
  src/backend/app/organisations/organisation_crud.py
  src/backend/migrations/005-rename-public-beta.sql
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/backend/tests/conftest.py
  src/frontend/e2e/01-create-new-project.spec.ts
Labels: bug, frontend, backend, migration, tests

#1788 Relocation of QR code & Base map layer selection component
  src/frontend/src/assets/images/osmLayer.png
  src/frontend/src/assets/images/satelliteLayer.png
  src/frontend/src/components/DataConflation/ConflationMap/index.tsx
  src/frontend/src/components/MapComponent/OpenLayersComponent/LayerSwitcher/LayerSwitchMenu.tsx
  src/frontend/src/components/MapComponent/OpenLayersComponent/LayerSwitcher/index.js
  src/frontend/src/components/ProjectDetailsV2/MapControlComponent.tsx
  src/frontend/src/components/ProjectDetailsV2/TaskSelectionPopup.tsx
  src/frontend/src/components/ProjectSubmissions/TaskSubmissionsMap.tsx
  src/frontend/src/components/QrcodeComponent.tsx
  src/frontend/src/components/SubmissionMap/SubmissionInstanceMap.tsx
  src/frontend/src/components/home/ProjectListMap.tsx
  src/frontend/src/views/NewDefineAreaMap.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: bug, frontend

#1789 Upgrade pyxform and fix xls extension usage
  src/backend/app/central/central_crud.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: bug, backend

#1793 Refactor frontend & cleanup old unused code
  src/frontend/src/assets/images/acc-down.png
  src/frontend/src/assets/images/acc-up.png
  src/frontend/src/assets/images/avatar.png
  src/frontend/src/assets/images/grid.png
  src/frontend/src/assets/images/location.png
  src/frontend/src/assets/images/locationArc.png
  src/frontend/src/assets/images/navigation.png
  src/frontend/src/components/DialogTaskActions.tsx
  src/frontend/src/components/MapLegends.tsx
  src/frontend/src/components/ProjectDetailsV2/MapControlComponent.tsx
  src/frontend/src/components/ProjectDetailsV2/ProjectInfo.tsx
  src/frontend/src/components/ProjectDetailsV2/ProjectOptions.tsx
  src/frontend/src/components/ProjectDetailsV2/TaskSelectionPopup.tsx
  src/frontend/src/components/ProjectSubmissions/ProjectInfo.tsx
  src/frontend/src/components/ProjectSubmissions/TaskSubmissionsMap.tsx
  src/frontend/src/components/home/HomePageFilters.tsx
  src/frontend/src/components/organisation/OrganisationGridCard.tsx
  src/frontend/src/utilities/BasicCard.tsx
  src/frontend/src/utilities/BasicTabs.tsx
  src/frontend/src/utilities/CustomDrawer.tsx
  src/frontend/src/views/CreateNewProject.tsx
  src/frontend/src/views/EditProjectArea.tsx
  src/frontend/src/views/Home.tsx
  src/frontend/src/views/NewDefineAreaMap.tsx
  src/frontend/src/views/Organisation.tsx
Labels: enhancement, frontend

#1795 feat(projectDetailsForm): tms url description text add
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
Labels: enhancement, frontend

#1797 feat(submissionDetails): if new feature point add then zoom to the point
  src/frontend/src/views/SubmissionDetails.tsx
Labels: enhancement, frontend

#1792 Use XLSForm injection during project creation
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_deps.py
  src/backend/app/helpers/helper_routes.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/components/ManageProject/EditTab/FormUpdateTab.tsx
  src/frontend/src/components/ProjectDetailsV2/FeatureSelectionPopup.tsx
Labels: enhancement, frontend, backend

#1794 Retrieve submission photo using its submission id in submission detail page
  src/backend/app/submissions/submission_routes.py
  src/frontend/src/views/SubmissionDetails.tsx
Labels: enhancement, frontend, backend

#1799 Add endpoint to create additional Entity lists on a project
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_schemas.py
  src/backend/app/db/postgis_utils.py
  src/backend/app/helpers/helper_routes.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/tests/test_projects_routes.py
  src/frontend/e2e/02-mapper-flow.spec.ts
  src/frontend/e2e/helpers.ts
  src/frontend/src/api/Project.ts
Labels: enhancement, frontend, backend, tests

#1804 Remove xforms table from database, refactor project creation
  src/backend/app/auth/auth_routes.py
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_routes.py
  src/backend/app/db/db_models.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_deps.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
  src/backend/app/tasks/task_deps.py
  src/backend/migrations/007-remove-xform-table.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: enhancement, priority:low, backend, migration, effort:low

#1805 Remove task_id and task_filter params from XLSForm
  src/backend/app/central/central_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/frontend/src/components/DialogTaskActions.tsx
  src/frontend/src/views/SubmissionDetails.tsx
Labels: priority:high, backend, effort:low

#1806 Feat/multi feature selection
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/components/common/FileInputComponent.tsx
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/validation/DataExtractValidation.tsx
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/views/CreateNewProject.tsx
  src/frontend/src/views/NewDefineAreaMap.tsx
Labels: enhancement, priority:low, frontend, effort:low

#1808 Fix/staging bugs
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/common/Editor/Editor.tsx
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/views/CreateNewProject.tsx
Labels: bug, frontend

#1810 Fix/staging bugs
  src/frontend/src/components/DialogTaskActions.tsx
  src/frontend/src/components/ProjectDetailsV2/MapControlComponent.tsx
  src/frontend/src/components/QrcodeComponent.tsx
Labels: bug, frontend

#1811 fix(e2e): comment out test until CI fixed
  src/frontend/e2e/01-create-new-project.spec.ts
  src/frontend/e2e/02-mapper-flow.spec.ts
Labels: bug, frontend, tests

#1813 Fix QR code issue
  src/frontend/src/api/Files.ts
  src/frontend/src/components/QrcodeComponent.tsx
Labels: bug, frontend

#1814 Update osm-fieldwork -> 0.16.8
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: bug, frontend, backend, tests
