Repository hotosm/field-tm, pull requests merged in 2025-06, with the labels that each got.

#2581 Ensure form_id generated is returned
  src/backend/packages/osm-fieldwork/osm_fieldwork/update_xlsform.py
Labels: bug, backend, dependency:osm-fieldwork

#2582 Line Geometry Visualization
  src/backend/app/db/enums.py
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/store/slices/ThemeSlice.ts
  src/frontend/src/types/enums.ts
  src/frontend/src/utilfunctions/getTaskStatusStyle.ts
  src/mapper/src/constants/enums.ts
  src/mapper/src/lib/components/map/main.svelte
Labels: enhancement, frontend:management, backend, frontend:mapper

#2579 Use defined CSS var for entity status
  src/mapper/src/styles/dialog-entities-actions.css
  src/mapper/src/styles/map-legend.css
  src/mapper/src/styles/map.css
Labels: bug, frontend:mapper

#2580 Fix/organization related issues
  src/frontend/src/components/CreateEditOrganization/CreateEditOrganizationForm.tsx
  src/frontend/src/components/CreateEditOrganization/validation/ConsentDetailsValidation.ts
  src/frontend/src/components/CreateEditOrganization/validation/OrganizationDetailsValidation.ts
  src/frontend/src/constants/ConsentQuestions.tsx
Labels: bug, frontend:management

#2585 add today to odk xml submission
  src/mapper/src/lib/components/forms/wrapper.svelte
Labels: frontend:mapper

#2589 Implement organisation approval request notification along with odk server request when applicable
  src/backend/app/db/models.py
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/organisations/organisation_routes.py
Labels: enhancement, backend

#2592 add domain to device id
  src/mapper/src/lib/components/forms/wrapper.svelte
Labels: frontend:mapper

#2591 Update submission_ids of the entity after submission
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_schemas.py
  src/backend/app/projects/project_routes.py
  src/backend/packages/osm-fieldwork/osm_fieldwork/form_components/mandatory_fields.py
  src/mapper/src/lib/components/forms/wrapper.svelte
  src/mapper/src/lib/types.ts
Labels: bug, backend, dependency:osm-fieldwork, frontend:mapper

#2506 Option to delete newly created entity
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_schemas.py
  src/backend/app/db/models.py
  src/backend/app/db/postgis_utils.py
  src/backend/app/projects/project_crud.py
  src/backend/packages/osm-fieldwork/osm_fieldwork/form_components/mandatory_fields.py
  src/frontend/src/api/Project.ts
  src/frontend/src/components/MapLegends.tsx
  src/frontend/src/components/ProjectDetails/FeatureSelectionPopup.tsx
  src/frontend/src/components/ProjectDetails/MapControlComponent.tsx
  src/frontend/src/models/project/projectModel.ts
  src/frontend/src/models/task/taskModel.ts
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/views/ProjectDetails.tsx
  src/mapper/messages/en.json
  src/mapper/messages/ne.json
  src/mapper/messages/pt-BR.json
  src/mapper/src/lib/components/dialog-entities-actions.svelte
  src/mapper/src/lib/db/entities.ts
  src/mapper/src/lib/types.ts
  src/mapper/src/routes/project/[projectId]/+page.svelte
  src/mapper/src/store/entities.svelte.ts
  src/mapper/src/store/login.svelte.ts
  src/mapper/src/styles/dialog-entities-actions.css
  src/migrations/entities_created_by_field.py
  src/migrations/init/shared/2-tables.sql
Labels: enhancement, frontend:management, backend, migration, dependency:osm-fieldwork, frontend:mapper

#2600 Pass xlocation to submission xml
  src/frontend/src/utilfunctions/extractGeojsonFromObject.ts
  src/mapper/src/lib/components/forms/wrapper.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/store/entities.svelte.ts
Labels: bug, frontend:management, frontend:mapper

#2599 Update submission retrieval to use pyodk except in submission detail page
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
Labels: enhancement, backend

#2609 Dedicated skeleton loader folder
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/components/OrganizationDashboard/OrganizationInfo.tsx
  src/frontend/src/components/OrganizationDashboard/ProjectSummary.tsx
  src/frontend/src/components/ProjectDetails/SkeletonLoader.tsx
  src/frontend/src/components/ProjectDetails/Tabs/Comments.tsx
  src/frontend/src/components/ProjectDetails/Tabs/ProjectInfo.tsx
  src/frontend/src/components/ProjectDetails/Tabs/TaskActivity.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/ProjectSubmissions/TaskSubmissions.tsx
  src/frontend/src/components/Skeletons/ManageOrganization/index.tsx
  src/frontend/src/components/Skeletons/ManageProject/index.tsx
  src/frontend/src/components/Skeletons/Organization/OrganizationCardSkeleton.tsx
  src/frontend/src/components/Skeletons/OrganizationDashboard/OrganizationInfoSkeleton.tsx
  src/frontend/src/components/Skeletons/OrganizationDashboard/UserListSkeleton.tsx
  src/frontend/src/components/Skeletons/Project/ProjectCardSkeleton.tsx
  src/frontend/src/components/Skeletons/ProjectDetails/ActivitiesCardSkeleton.tsx
  src/frontend/src/components/Skeletons/ProjectDetails/ProjectCommentsSekeleton.tsx
  src/frontend/src/components/Skeletons/ProjectDetails/ProjectInfoSkeleton.tsx
  src/frontend/src/components/Skeletons/ProjectDetails/ShowingCountSkeleton.tsx
  src/frontend/src/components/Skeletons/ProjectSubmissions.tsx/SubmissionsTableSkeleton.tsx
  src/frontend/src/components/Skeletons/ProjectSubmissions.tsx/TaskCardSkeleton.tsx
  src/frontend/src/components/Skeletons/common/DataTableSkeleton.tsx
  src/frontend/src/components/Skeletons/common/FormFieldSkeleton.tsx
  src/frontend/src/components/Skeletons/index.tsx
  src/frontend/src/components/common/DataTable/index.tsx
  src/frontend/src/components/organisation/OrganizationCardSkeleton.tsx
  src/frontend/src/views/Home.tsx
  src/frontend/src/views/ManageOrganization.tsx
  src/frontend/src/views/ManageProject.tsx
  src/frontend/src/views/Organisation.tsx
Labels: enhancement, frontend:management

#2610 Add option to set primary ODK server during approval
  src/backend/app/config.py
  src/backend/app/db/models.py
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/organisations/organisation_routes.py
  src/backend/app/users/user_crud.py
  src/backend/tests/test_organisation_routes.py
Labels: enhancement, backend, tests

#2611 Refactor user role access to components
  src/backend/app/submissions/submission_routes.py
  src/backend/app/submissions/submission_schemas.py
  src/frontend/src/api/User.ts
  src/frontend/src/components/ManageOrganization/AddOrganizationAdminModal.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/hooks/usePermissions.ts
  src/frontend/src/models/project/projectModel.ts
  src/frontend/src/views/ApproveOrganization.tsx
  src/frontend/src/views/CreateNewProject.tsx
  src/frontend/src/views/CreateOrganization.tsx
  src/frontend/src/views/ManageOrganization.tsx
  src/frontend/src/views/ManageProject.tsx
  src/frontend/src/views/ManageUsers.tsx
  src/frontend/src/views/NoAccessComponent.tsx
  src/frontend/src/views/ProjectDetails.tsx
  src/frontend/src/views/SubmissionDetails.tsx
Labels: bug, frontend:management, backend

#2622 disable upload image preview
  src/mapper/static/web-forms.html
Labels: frontend:mapper

#2616 Fix submission count in project card and detail page.
  src/backend/app/projects/project_routes.py
  src/backend/scheduler/project_stats.py
Labels: bug, backend

#2621 Invite multiple OSM user by comma separated value
  src/frontend/src/api/User.ts
  src/frontend/src/components/ManageProject/User/Invite.tsx
Labels: bug, frontend:management

#2543 feat: display offline submissions in offline tab for debugging (+csv)
  src/mapper/messages/en.json
  src/mapper/messages/ne.json
  src/mapper/messages/pt-BR.json
  src/mapper/src/lib/components/offline/index.svelte
  src/mapper/src/lib/components/offline/offline-data.svelte
  src/mapper/src/styles/offline.css
Labels: enhancement, frontend:mapper

#2634 Sync multiple submission id's
  src/backend/app/central/central_schemas.py
  src/backend/app/integrations/integration_crud.py
  src/backend/app/projects/project_routes.py
  src/mapper/src/lib/db/entities.ts
  src/mapper/src/store/entities.svelte.ts
Labels: bug, backend, frontend:mapper

#2641 Prompt login before sending offline submission if made by logged out user
  src/mapper/src/lib/api/offline.ts
  src/mapper/src/lib/components/auth.svelte
  src/mapper/src/lib/components/login.svelte
  src/mapper/src/lib/types.ts
Labels: enhancement, frontend:mapper

#2653 feat: add 'SENSITIVE' project and allow public access to public and invite only projects
  src/backend/app/auth/roles.py
  src/backend/app/db/enums.py
  src/migrations/002-add-sensitive-project-visibility.sql
  src/migrations/init/shared/1-enums.sql
Labels: enhancement, backend, migration

#2643 Implement scheduled upload of project submissions to S3
  compose.yaml
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
  src/backend/scheduler/upload_submissions_to_s3.py
Labels: enhancement, backend

#2657 Fix project qr option & submission table
  src/frontend/src/components/ProjectDetails/MapControlComponent.tsx
  src/frontend/src/components/ProjectDetails/ProjectDetailsMap.tsx
  src/frontend/src/components/ProjectDetails/ProjectOptions.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/views/ProjectDetails.tsx
Labels: bug, frontend:management

#2658 Update visibility logic for project access permissions
  src/backend/app/db/models.py
Labels: bug, backend

#2660 Fix: Fetch data from osm doesn't work for point feature if 'include centroids' are not clicked
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
Labels: frontend:management
