Repository hotosm/field-tm, pull requests merged in 2025-04, with the labels that each got.

#2293 Organization Dashboard
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/src/api/OrganisationService.ts
  src/frontend/src/components/ApproveOrganization/ApproveOrganizationHeader.tsx
  src/frontend/src/components/ApproveOrganization/OrganizationForm.tsx
  src/frontend/src/components/CreateEditOrganization/ConsentDetailsForm.tsx
  src/frontend/src/components/CreateEditOrganization/CreateEditOrganizationForm.tsx
  src/frontend/src/components/CreateEditOrganization/CreateEditOrganizationHeader.tsx
  src/frontend/src/components/ManageOrganization/ManageAdmins.tsx
  src/frontend/src/components/OrganizationDashboard/OrganizationInfo.tsx
  src/frontend/src/components/OrganizationDashboard/ProjectSummary.tsx
  src/frontend/src/components/OrganizationDashboard/ProjectSummaryMap.tsx
  src/frontend/src/components/OrganizationDashboard/SkeletonLoader.tsx
  src/frontend/src/components/RadixComponents/Dialog.tsx
  src/frontend/src/components/RadixComponents/Popover.tsx
  src/frontend/src/components/common/Dropdown.tsx
  src/frontend/src/components/common/Modal.tsx
  src/frontend/src/components/common/Pagination.tsx
  src/frontend/src/components/common/Select.tsx
  src/frontend/src/components/common/Skeleton.tsx
  src/frontend/src/components/home/ExploreProjectCard.tsx
  src/frontend/src/components/home/HomePageFilters.tsx
  src/frontend/src/components/home/ProjectCardSkeleton.tsx
  src/frontend/src/components/organisation/OrganisationGridCard.tsx
  src/frontend/src/models/home/homeModel.ts
  src/frontend/src/models/organisation/organisationModel.ts
  src/frontend/src/routes.jsx
  src/frontend/src/shared/AssetModules.js
  src/frontend/src/store/slices/organisationSlice.ts
  src/frontend/src/store/types/IOrganisation.ts
  src/frontend/src/utilities/CustomDrawer.tsx
  src/frontend/src/utilities/PrimaryAppBar.tsx
  src/frontend/src/views/CreateOrganization.tsx
  src/frontend/src/views/Home.tsx
  src/frontend/src/views/ManageOrganization.tsx
  src/frontend/src/views/Organisation.tsx
  src/frontend/src/views/OrganizationDashboard.tsx
  src/frontend/tailwind.config.js
Labels: enhancement, frontend

#2319 Fix auth details
  src/frontend/src/components/DialogTaskActions.tsx
  src/frontend/src/components/ProjectDetails/ProjectDetailsMap.tsx
  src/frontend/src/store/types/ILogin.ts
  src/frontend/src/utilfunctions/login.ts
  src/frontend/src/views/OsmAuth.tsx
  src/mapper/src/lib/utils/login.ts
Labels: bug, frontend

#2320 Update hide/unhide tab & buttons logic
  src/frontend/src/views/ProjectDetails.tsx
Labels: bug, frontend

#2322 Create materialized view of project stats for summary api
  compose.yaml
  src/backend/app/db/models.py
  src/backend/app/organisations/organisation_schemas.py
  src/backend/app/projects/project_schemas.py
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/scheduler/project_stats.py
Labels: bug, backend, migration

#2323 Load mapper frontend config from bundled S3, with default fallback
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_ci_img.yml
  .github/workflows/build_odk_imgs.yml
  .github/workflows/docs.yml
  .github/workflows/pr_test_backend.yml
  .github/workflows/pr_test_frontend.yml
  .github/workflows/tag_build.yml
  .github/workflows/wiki.yml
  compose.yaml
  contrib/just/start/Justfile
  deploy/compose.development.yaml
  deploy/compose.main.yaml
  deploy/compose.staging.yaml
  deploy/compose.sub.yaml
  src/Dockerfile.ui.prod
  src/backend/migrate-entrypoint.sh
  src/mapper/package.json
  src/mapper/src/lib/components/map/geolocation.svelte
  src/mapper/src/lib/components/map/layer-switcher.svelte
  src/mapper/src/routes/+layout.svelte
  src/mapper/src/routes/+layout.ts
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/src/routes/[projectId]/+page.ts
Labels: bug, backend, devops, contrib

#2278 Allow config to create projects with no existing geoms (new geom only)
  src/backend/app/central/central_crud.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
Labels: enhancement, frontend, backend

#2326 Initialize project stats materialized view
  src/backend/app-entrypoint.sh
  src/backend/migrations/init/fmtm_base_schema.sql
Labels: enhancement, backend, migration

#2328 + Translations for all texts in the mapper app
  src/backend/pyproject.toml
  src/frontend/src/components/QrcodeComponent.tsx
  src/mapper/messages/en.json
  src/mapper/messages/pt-BR.json
  src/mapper/src/lib/components/dialog-entities-actions.svelte
  src/mapper/src/lib/components/dialog-task-actions.svelte
  src/mapper/src/lib/components/map/geolocation.svelte
  src/mapper/src/lib/components/map/legend.svelte
  src/mapper/src/lib/components/more/activities.svelte
  src/mapper/src/lib/components/more/comment.svelte
  src/mapper/src/lib/components/more/index.svelte
  src/mapper/src/lib/components/more/project-info.svelte
  src/mapper/src/lib/components/offline/basemaps.svelte
  src/mapper/src/lib/components/pagination.svelte
  src/mapper/src/lib/components/qrcode.svelte
  src/mapper/src/routes/[projectId]/+page.svelte
Labels: enhancement, frontend, backend

#2309 Update Documentation
  docs/index.md
Labels: bug, docs

#2332 Use summary api instead of search api
  src/backend/app/projects/project_routes.py
  src/frontend/src/views/Home.tsx
Labels: bug, frontend, backend

#2344 Default Hashtags
  src/frontend/src/components/ManageProject/EditTab/ProjectDescriptionTab.tsx
  src/frontend/src/components/common/Chips.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
Labels: enhancement, frontend

#2345 Fix Assign user roles from manage users
  src/frontend/src/store/slices/UserSlice.ts
  src/frontend/src/views/ManageUsers.tsx
Labels: bug, frontend

#2348 Allow for download of form media/attachments as list of URLs pt1
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_routes.py
  src/backend/packages/osm-fieldwork/osm_fieldwork/OdkCentralAsync.py
Labels: enhancement, backend

#2356 Fix/minor UI fixes
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/components/ManageProject/DeleteTab/ProjectDeleteTab.tsx
  src/frontend/src/components/ManageProject/DeleteTab/index.tsx
  src/frontend/src/components/ManageProject/Details/index.tsx
  src/frontend/src/components/ManageProject/Details/validation/EditDetailsValidation.ts
  src/frontend/src/components/ManageProject/EditTab/ProjectDescriptionTab.tsx
  src/frontend/src/components/ManageProject/EditTab/index.tsx
  src/frontend/src/components/ManageProject/Form/index.tsx
  src/frontend/src/components/common/ImageSlider.tsx
  src/frontend/src/components/common/Modal.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/views/ManageProject.tsx
  src/mapper/src/routes/[projectId]/+page.svelte
Labels: bug, frontend

#2360 Update to latest ODK Central v2024.3.1
  compose.yaml
  deploy/compose.development.yaml
  deploy/compose.sub.yaml
  odkcentral/ui/Dockerfile
Labels: ODK

#2346 Add some tests for project and task routes
  src/backend/app/projects/project_routes.py
  src/backend/tests/conftest.py
  src/backend/tests/test_projects_routes.py
  src/backend/tests/test_task_routes.py
Labels: enhancement, backend, tests

#2353 Implement role wise access to project summaries
  src/backend/app/auth/auth_deps.py
  src/backend/app/db/models.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/mapper/src/lib/components/auth.svelte
Labels: enhancement, backend

#2357 Nepali language translation & More section contents blank issue on other languages
  src/mapper/messages/ne.json
  src/mapper/project.inlang/settings.json
  src/mapper/src/lib/components/more/index.svelte
Labels: enhancement

#2354 Allow for download of form media/attachments as list of URLs pt2
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_routes.py
  src/backend/packages/osm-fieldwork/osm_fieldwork/OdkCentralAsync.py
Labels: enhancement, backend, dependency:osm-fieldwork

#2368 Delete organisation only if there are no projects within it
  src/backend/app/db/models.py
  src/backend/app/organisations/organisation_routes.py
  src/frontend/src/api/OrganisationService.ts
Labels: frontend, backend

#2376 Add api-key option to all endpoints (respecting auth and user roles)
  src/backend/app/auth/auth_deps.py
  src/backend/app/auth/auth_logic.py
  src/backend/app/auth/auth_routes.py
  src/backend/app/auth/providers/google.py
  src/backend/app/auth/providers/osm.py
  src/backend/app/auth/roles.py
  src/backend/app/db/models.py
  src/backend/app/integrations/integration_crud.py
  src/backend/app/integrations/integration_deps.py
  src/backend/app/integrations/integration_routes.py
  src/backend/app/projects/project_routes.py
Labels: enhancement, backend

#2378 Add user invites via URL
  src/backend/app/db/models.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/users/user_crud.py
  src/backend/app/users/user_routes.py
  src/backend/app/users/user_schemas.py
  src/backend/migrations/11-user-invites.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/tests/test_projects_routes.py
Labels: enhancement, backend, migration, tests

#2387 Styling refactor
  src/frontend/src/index.css
  src/mapper/package.json
  src/mapper/pnpm-lock.yaml
  src/mapper/src/lib/components/auth.svelte
  src/mapper/src/lib/components/bottom-sheet.svelte
  src/mapper/src/lib/components/dialog-entities-actions.svelte
  src/mapper/src/lib/components/dialog-task-actions.svelte
  src/mapper/src/lib/components/editor/editor.css
  src/mapper/src/lib/components/editor/editor.svelte
  src/mapper/src/lib/components/editor/toolbar.svelte
  src/mapper/src/lib/components/forms/wrapper.svelte
  src/mapper/src/lib/components/header.svelte
  src/mapper/src/lib/components/login.svelte
  src/mapper/src/lib/components/map/geolocation.svelte
  src/mapper/src/lib/components/map/layer-switcher.svelte
  src/mapper/src/lib/components/map/legend.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/lib/components/more/activities.svelte
  src/mapper/src/lib/components/more/comment.svelte
  src/mapper/src/lib/components/more/index.svelte
  src/mapper/src/lib/components/more/project-info.svelte
  src/mapper/src/lib/components/offline/basemaps.svelte
  src/mapper/src/lib/components/pagination.svelte
  src/mapper/src/lib/components/project-summary/project-card-skeleton.svelte
  src/mapper/src/lib/components/project-summary/project-card.svelte
  src/mapper/src/lib/components/qrcode.svelte
  src/mapper/src/lib/components/skeleton.svelte
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/src/routes/[projectId]/page.css
  src/mapper/src/styles/activities.css
  src/mapper/src/styles/auth.css
  src/mapper/src/styles/basemaps.css
  src/mapper/src/styles/bottom-sheet.css
  src/mapper/src/styles/button.css
  src/mapper/src/styles/comment.css
  src/mapper/src/styles/dialog-entities-actions.css
  src/mapper/src/styles/dialog-task-actions.css
  src/mapper/src/styles/editor.css
  src/mapper/src/styles/forms.css
  src/mapper/src/styles/header.css
  src/mapper/src/styles/login.css
  src/mapper/src/styles/map-geolocation.css
  src/mapper/src/styles/map-layer-switcher.css
  src/mapper/src/styles/map-legend.css
  src/mapper/src/styles/map.css
  src/mapper/src/styles/more.css
  src/mapper/src/styles/page.css
  src/mapper/src/styles/pagination.css
  src/mapper/src/styles/project-info.css
  src/mapper/src/styles/project-summary.css
  src/mapper/src/styles/qr-code.css
  src/mapper/src/styles/skeleton.css
  src/mapper/uno.config.ts
Labels: enhancement, frontend

#2389 fix broken web forms appearance
  src/mapper/src/lib/components/forms/wrapper.svelte
Labels: bug

#2398 Fix multiple task lock icon on map zoom
  src/mapper/src/lib/components/map/main.svelte
Labels: bug

#2399 Enhance user invitation process with user wise invite URL validation
  src/backend/app/db/models.py
  src/backend/app/users/user_crud.py
  src/backend/app/users/user_routes.py
Labels: enhancement, backend

#2400 Project visibility implementation
  src/backend/app/projects/project_schemas.py
  src/frontend/pnpm-lock.yaml
  src/frontend/src/api/Project.ts
  src/frontend/src/components/createnewproject/Description.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/home/ExploreProjectCard.tsx
  src/frontend/src/models/home/homeModel.ts
  src/frontend/src/shared/AssetModules.js
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/types/enums.ts
  src/frontend/src/views/ProjectDetails.tsx
Labels: enhancement, frontend, backend

#2402 Pass centroid param only if primary geom type is point
  src/frontend/src/components/createnewproject/DataExtract.tsx
Labels: bug, frontend

#2405 Fix 2381
  src/mapper/static/web-forms.html
Labels: bug

#2406 Fix/handle project forbidden
  src/frontend/src/api/Project.ts
  src/frontend/src/utilities/ProtectedRoute.jsx
  src/frontend/src/views/Forbidden.tsx
  src/mapper/src/routes/[projectId]/+page.ts
Labels: bug, frontend

#2388 Updating the project manager and organization managers tabs
  docs/manuals/project-managers.md
  docs/manuals/user-types-explained.md
  mkdocs.yml
Labels: docs

#2396 Allow verification group in form only if there are existing features in the project
  src/backend/app/central/central_crud.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/packages/osm-fieldwork/osm_fieldwork/enums.py
  src/backend/packages/osm-fieldwork/osm_fieldwork/form_components/__init__.py
  src/backend/packages/osm-fieldwork/osm_fieldwork/form_components/choice_fields.py
  src/backend/packages/osm-fieldwork/osm_fieldwork/form_components/digitisation_fields.py
  src/backend/packages/osm-fieldwork/osm_fieldwork/form_components/mandatory_fields.py
  src/backend/packages/osm-fieldwork/osm_fieldwork/form_components/translations/__init__.py
  src/backend/packages/osm-fieldwork/osm_fieldwork/form_components/translations/en.json
  src/backend/packages/osm-fieldwork/osm_fieldwork/form_components/translations/es.json
  src/backend/packages/osm-fieldwork/osm_fieldwork/form_components/translations/fr.json
  src/backend/packages/osm-fieldwork/osm_fieldwork/form_components/translations/it.json
  src/backend/packages/osm-fieldwork/osm_fieldwork/form_components/translations/ne.json
  src/backend/packages/osm-fieldwork/osm_fieldwork/form_components/translations/pt-BR.json
  src/backend/packages/osm-fieldwork/osm_fieldwork/form_components/translations/sw.json
  src/backend/packages/osm-fieldwork/osm_fieldwork/update_xlsform.py
  src/backend/packages/osm-fieldwork/tests/test_data/buildings.xml
  src/backend/packages/osm-fieldwork/tests/test_update_xlsform.py
  src/backend/tests/test_data/buildings.xls
Labels: enhancement, backend, dependency:osm-fieldwork, tests

#2404 Allow users to revert mapped task to ready state
  src/backend/app/db/models.py
  src/mapper/src/lib/components/dialog-task-actions.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/lib/types.ts
  src/mapper/src/store/login.svelte.ts
  src/mapper/src/store/tasks.svelte.ts
Labels: enhancement, backend

#2391 User invite functionality on project
  src/backend/app/users/user_routes.py
  src/frontend/src/api/User.ts
  src/frontend/src/components/ManageProject/Details/index.tsx
  src/frontend/src/components/ManageProject/Form/index.tsx
  src/frontend/src/components/ManageProject/User/Assign.tsx
  src/frontend/src/components/ManageProject/User/Invite.tsx
  src/frontend/src/components/ManageProject/User/InviteTable.tsx
  src/frontend/src/components/ManageProject/User/index.tsx
  src/frontend/src/components/ManageProject/User/validation/InviteValidation.ts
  src/frontend/src/components/ManageProject/UserTab/InviteTab.tsx
  src/frontend/src/components/ManageProject/UserTab/index.tsx
  src/frontend/src/models/user/userModel.ts
  src/frontend/src/routes.jsx
  src/frontend/src/shared/AssetModules.js
  src/frontend/src/store/slices/UserSlice.ts
  src/frontend/src/store/types/IUser.ts
  src/frontend/src/utilities/ProtectedRoute.jsx
  src/frontend/src/views/Invite.tsx
  src/frontend/src/views/MainView.tsx
  src/frontend/src/views/ManageProject.tsx
  src/mapper/src/routes/+page.svelte
  src/mapper/src/routes/invite/+page.svelte
Labels: enhancement, frontend, backend

#2423 Hide basemaps & show info, instructions tab on webforms enable
  src/mapper/src/lib/components/more/index.svelte
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/src/routes/[projectId]/page.css
Labels: bug

#2422 fixing issue 2403
  src/mapper/static/web-forms.html
Labels: bug

#2428 send correct entity status when submitting
  src/mapper/src/lib/components/forms/wrapper.svelte
Labels: bug

#2429 auto-open web forms when entity created
  src/mapper/src/lib/odk/collect.ts
  src/mapper/src/routes/[projectId]/+page.svelte
Labels: enhancement

#2432 Feat/form language warning v2
  src/mapper/messages/en.json
  src/mapper/messages/ne.json
  src/mapper/messages/pt-BR.json
  src/mapper/src/lib/components/forms/wrapper.svelte
Labels: enhancement

#2437 Calculate submission ids using instanceID
  src/backend/packages/osm-fieldwork/osm_fieldwork/form_components/mandatory_fields.py
  src/backend/packages/osm-fieldwork/osm_fieldwork/update_xlsform.py
Labels: bug, backend, dependency:osm-fieldwork

#2442 fix images not appearing
  src/mapper/static/web-forms.html
Labels: bug

#2425 Display confirmation dialog on task marked as completed
  .gitignore
  README.md
  src/mapper/messages/en.json
  src/mapper/messages/ne.json
  src/mapper/messages/pt-BR.json
  src/mapper/package.json
  src/mapper/pnpm-lock.yaml
  src/mapper/src/lib/components/dialog-task-actions.svelte
  src/mapper/src/lib/components/qrcode.svelte
  src/mapper/src/lib/utils/text.ts
  src/mapper/src/store/entities.svelte.ts
  src/mapper/src/styles/dialog-task-actions.css
Labels: docs, enhancement

#2447 Role wise project visibility in mapper frontend
  src/backend/app/projects/project_routes.py
  src/mapper/src/routes/+page.svelte
Labels: bug, backend

#2446 Fix data extract issue on switching between project in mapper frontend
  src/frontend/src/api/CreateProjectService.ts
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/src/store/tasks.svelte.ts
Labels: bug, frontend

#2450 Add signin type filter to user list retrieval
  src/backend/app/users/user_routes.py
Labels: enhancement, backend

#2449 Update list organisation admins permissions to allow authenticated users
  src/backend/app/organisations/organisation_routes.py
Labels: enhancement, backend

#2441 Add default organization settings and logo handling from env
  src/backend/app/config.py
  src/backend/app/images/__init__.py
  src/backend/app/images/project_icon.png
  src/backend/app/organisations/organisation_crud.py
  src/frontend/public/favicon.ico
  src/frontend/public/hot-org-logo.png
  src/frontend/src/assets/images/favicon.ico
  src/mapper/static/favicon.ico
Labels: enhancement, frontend, backend

#2456 Remove user_roles join to avoid multiple projects result
  src/backend/app/db/models.py
Labels: bug, backend
