Repository hotosm/field-tm, pull requests merged in 2025-02, with the labels that each got.

#2142 Allow users to select default odk credentials irrespective of organisation
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
Labels: bug, frontend

#2149 Update setting ODK credentials logic
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createnewproject/validation/CreateProjectValidation.tsx
Labels: bug, frontend

#2151 Update entity creation response
  src/backend/app/central/central_crud.py
  src/backend/app/projects/project_routes.py
Labels: bug, backend

#1984 Auto unlock locked tasks after 3 days
  src/backend/app/central/central_crud.py
  src/backend/app/db/enums.py
  src/backend/app/tasks/task_crud.py
  src/backend/app/tasks/task_routes.py
  src/backend/migrations/008-add-taskevent-enumtype.sql
  src/backend/migrations/init/fmtm_base_schema.sql
Labels: enhancement, backend, migration

#2150 Update mapping.md
  docs/manuals/mapping.md
Labels: docs

#2158 Clear tiles from disk after generation
  src/backend/app/projects/project_crud.py
Labels: bug, backend

#2155 Add i18n (internationalisation) frontend translations via paraglide js
  src/frontend/src/utilfunctions/cookieUtils.ts
  src/mapper/messages/en.json
  src/mapper/messages/pt-br.json
  src/mapper/package.json
  src/mapper/pnpm-lock.yaml
  src/mapper/project.inlang/.gitignore
  src/mapper/project.inlang/project_id
  src/mapper/project.inlang/settings.json
  src/mapper/src/lib/components/header.svelte
  src/mapper/src/lib/components/offline/basemaps.svelte
  src/mapper/src/lib/components/qrcode.svelte
  src/mapper/src/lib/components/toast.svelte
  src/mapper/src/lib/fs/local-storage.svelte.ts
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/src/store/common.svelte.ts
  src/mapper/static/assets/icons/translate.svg
  src/mapper/svelte.config.js
  src/mapper/vite.config.ts
Labels: enhancement, frontend

#2162 Fix TMS issues by using go-tilepacks and go-pmtiles
  compose.yaml
  contrib/basemaps/Dockerfile
  contrib/basemaps/README.md
  contrib/basemaps/build.sh
  deploy/compose.development.yaml
  deploy/compose.main.yaml
  src/backend/Dockerfile
  src/backend/app/projects/project_crud.py
Labels: bug, backend, contrib

#2176 Add date range filter for geojson download
  src/backend/app/submissions/submission_routes.py
Labels: enhancement, backend

#2178 And endpoints to download form XML and create new form submissions
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_deps.py
  src/backend/app/projects/project_routes.py
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_deps.py
  src/backend/app/submissions/submission_routes.py
  src/backend/pyproject.toml
  src/backend/tests/.pyodk_config.toml
  src/backend/tests/conftest.py
  src/backend/tests/test_data/submission_photo.jpg
  src/backend/tests/test_submission_routes.py
  src/backend/uv.lock
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
Labels: enhancement, frontend, backend, tests

#2183 Submission GeoJson download
  src/frontend/src/api/SubmissionService.ts
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/store/slices/SubmissionSlice.ts
  src/frontend/src/store/types/ISubmissions.ts
Labels: bug, frontend

#2185 Confirmation dialog close on redirection to ODK
  src/mapper/src/routes/[projectId]/+page.svelte
Labels: bug, enhancement

#2186 Task splitted geojson download
  src/frontend/src/components/createnewproject/SplitTasks.tsx
Labels: enhancement, frontend

#2187 Popup showing geometry label on submission details page
  src/frontend/src/components/MapComponent/OpenLayersComponent/AsyncPopup/AsyncPopup.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/SubmissionMap/SubmissionInstanceMap.tsx
  src/frontend/src/utilfunctions/extractGeojsonFromObject.ts
  src/frontend/src/views/SubmissionDetails.tsx
Labels: enhancement, frontend

#2188 Fix task lock logic
  src/frontend/src/components/DialogTaskActions.tsx
  src/frontend/src/components/ProjectDetailsV2/TaskSelectionPopup.tsx
Labels: bug, frontend

#2192 Refactor SetSnackBar action
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/api/OrganisationService.ts
  src/frontend/src/api/Project.ts
  src/frontend/src/api/SubmissionService.ts
  src/frontend/src/api/TaskEvent.ts
  src/frontend/src/api/User.ts
  src/frontend/src/components/CreateEditOrganization/CreateEditOrganizationForm.tsx
  src/frontend/src/components/DialogTaskActions.tsx
  src/frontend/src/components/GenerateBasemap.tsx
  src/frontend/src/components/ManageProject/EditTab/ProjectDescriptionTab.tsx
  src/frontend/src/components/ProjectDetailsV2/Comments.tsx
  src/frontend/src/components/common/UploadArea.tsx
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
  src/frontend/src/models/home/homeModel.ts
  src/frontend/src/store/slices/CommonSlice.ts
  src/frontend/src/store/slices/HomeSlice.ts
  src/frontend/src/store/types/IHome.ts
  src/frontend/src/utilfunctions/Geolocation.ts
  src/frontend/src/utilities/CustomDrawer.tsx
  src/frontend/src/utilities/PrimaryAppBar.tsx
  src/frontend/src/views/ManageUsers.tsx
  src/frontend/src/views/PlaywrightTempLogin.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: enhancement, frontend

#2196 Fix: Submission feature visualization
  src/frontend/src/utilfunctions/extractGeojsonFromObject.ts
Labels: bug, enhancement, frontend

#2194 Added num of contributors to the stats of projects
  src/backend/stats/total_mapped.py
Labels: backend

#2200 make sure route /{project_id}/form-xml returns plain xml string
  src/backend/app/projects/project_routes.py
Labels: backend

#2197 Extract additional geometries into submission geojson featurecollection
  compose.yaml
  contrib/tunnel/button/index.html
  deploy/compose.development.yaml
  src/backend/app/central/central_crud.py
  src/backend/app/db/enums.py
  src/backend/app/db/postgis_utils.py
  src/backend/app/helpers/helper_routes.py
  src/backend/app/submissions/submission_routes.py
  src/backend/pyproject.toml
  src/backend/tests/test_submission_routes.py
  src/backend/uv.lock
  src/frontend/src/api/Project.ts
  src/frontend/src/api/SubmissionService.ts
  src/frontend/src/api/task.ts
  src/frontend/src/components/DialogTaskActions.tsx
  src/frontend/src/components/ProjectDetailsV2/ProjectOptions.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/store/slices/SubmissionSlice.ts
  src/frontend/src/store/slices/TaskSlice.ts
  src/frontend/src/store/types/ISubmissions.ts
  src/frontend/src/store/types/ITask.ts
  src/frontend/src/utilities/CustomDrawer.tsx
  src/frontend/src/utilities/PrimaryAppBar.tsx
  src/mapper/src/lib/odk/collect.ts
  src/mapper/src/routes/[projectId]/+page.svelte
Labels: enhancement, frontend, backend, tests, contrib

#2199 Replace nominatim usage with pg-nearest-city reverse-geocode
  src/backend/app/db/languages_and_countries.py
  src/backend/app/db/postgis_utils.py
  src/backend/app/main.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/pyproject.toml
  src/backend/tests/test_projects_routes.py
  src/backend/uv.lock
Labels: enhancement, backend, tests

#2203 Update role to project admin to fetch user list
  src/backend/app/users/user_routes.py
Labels: bug, backend

#1894 Replace custom ODK submission media upload with official external storage (S3)
  .env.example
  compose.yaml
  contrib/s3_browser/compose.yaml
  deploy/compose.development.yaml
  deploy/compose.main.yaml
  docs/dev/Backend.md
  odkcentral/api/Dockerfile
  odkcentral/api/container-entrypoint.sh
  odkcentral/api/init-user-and-start.sh
  src/backend/app-entrypoint.sh
  src/backend/app/central/central_deps.py
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
  src/backend/migrate-entrypoint.sh
  src/backend/pyproject.toml
  src/backend/uv.lock
  src/frontend/src/api/Submission.ts
  src/frontend/src/store/slices/SubmissionSlice.ts
  src/frontend/src/store/types/ISubmissions.ts
Labels: docs, enhancement, frontend, backend, devops, ODK, dependency:osm-fieldwork, contrib

#2211 Finalise S3 submission photos on backend + frontend
  nginx/templates/dev/minio.conf.template
  src/backend/app/db/models.py
  src/backend/app/db/postgis_utils.py
  src/backend/app/submissions/submission_crud.py
  src/backend/migrations/003-remove-submission-photos.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/frontend/src/components/common/ImageSlider.tsx
  src/frontend/src/utilities/CustomDrawer.tsx
  src/frontend/src/views/SubmissionDetails.tsx
  src/mapper/src/constants/drawerItems.ts
Labels: enhancement, frontend, backend, devops, migration

#2212 Refactor: Replace old button with new button components
  src/frontend/src/api/task.ts
  src/frontend/src/components/ApproveOrganization/OrganizationForm.tsx
  src/frontend/src/components/CreateEditOrganization/ConsentDetailsForm.tsx
  src/frontend/src/components/CreateEditOrganization/CreateEditOrganizationForm.tsx
  src/frontend/src/components/DataConflation/ConflationMap/index.tsx
  src/frontend/src/components/DataConflation/SubmissionConflation/MergeAttributes.tsx
  src/frontend/src/components/DataConflation/SubmissionConflation/index.tsx
  src/frontend/src/components/DataConflation/TaskInfo.tsx
  src/frontend/src/components/DialogTaskActions.tsx
  src/frontend/src/components/ManageProject/DeleteTab/ProjectDeleteTab.tsx
  src/frontend/src/components/ManageProject/EditTab/FormUpdateTab.tsx
  src/frontend/src/components/ManageProject/EditTab/ProjectDescriptionTab.tsx
  src/frontend/src/components/ManageProject/UserTab/AssignTab.tsx
  src/frontend/src/components/ManageProject/UserTab/InviteTab.tsx
  src/frontend/src/components/ProjectDetailsV2/Comments.tsx
  src/frontend/src/components/ProjectDetailsV2/FeatureSelectionPopup.tsx
  src/frontend/src/components/ProjectDetailsV2/MobileProjectInfoContent.tsx
  src/frontend/src/components/ProjectDetailsV2/ProjectOptions.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/ProjectSubmissions/TaskSubmissions.tsx
  src/frontend/src/components/ProjectSubmissions/UpdateReviewStatusModal.tsx
  src/frontend/src/components/common/Button.tsx
  src/frontend/src/components/common/Button2.tsx
  src/frontend/src/components/common/Editor/Toolbar.tsx
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
  src/frontend/src/components/home/HomePageFilters.tsx
  src/frontend/src/environment.ts
  src/frontend/src/utilities/PrimaryAppBar.tsx
  src/frontend/src/views/ErrorBoundary.tsx
  src/frontend/src/views/NotFound404.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/frontend/src/views/ProjectNotFound.tsx
  src/frontend/src/views/SubmissionDetails.tsx
Labels: enhancement, frontend

#2217 Fix inconsistent task history
  src/frontend/src/components/MapLegends.tsx
  src/frontend/src/components/ProjectDetailsV2/ActivitiesPanel.tsx
  src/frontend/src/store/slices/ThemeSlice.ts
  src/frontend/src/types/enums.ts
Labels: bug, frontend

#2215 Add project feature warning (10,000) and limit (30,000)
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/hooks/useForm.tsx
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
Labels: enhancement, frontend, backend

#2147 Add task scheduler to backend services (cron jobs)
  compose.yaml
  deploy/compose.development.yaml
  deploy/compose.main.yaml
  deploy/compose.staging.yaml
  src/backend/.dockerignore
  src/backend/Dockerfile
  src/backend/app/tasks/task_routes.py
  src/backend/app/users/user_crud.py
  src/backend/app/users/user_routes.py
  src/backend/scheduler/inactive_users.py
  src/backend/scheduler/unlock_tasks.py
Labels: enhancement, priority:low, backend, migration

#2219 Update task popup task state label
  src/frontend/src/components/ProjectDetailsV2/TaskSelectionPopup.tsx
Labels: bug, frontend

#2218 Feature level comment
  src/frontend/src/components/ProjectDetailsV2/Comments.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/ProjectSubmissions/UpdateReviewStatusModal.tsx
  src/frontend/src/components/SubmissionInstance/SubmissionComments.tsx
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/store/types/ISubmissions.ts
  src/frontend/src/views/SubmissionDetails.tsx
  src/mapper/src/lib/components/dialog-entities-actions.svelte
  src/mapper/src/lib/components/more/index.svelte
  src/mapper/src/store/entities.svelte.ts
Labels: enhancement, frontend

#2207 Frontend user roles integration
  src/frontend/src/components/DialogTaskActions.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/home/HomePageFilters.tsx
  src/frontend/src/hooks/usePermissions.ts
  src/frontend/src/types/enums.ts
  src/frontend/src/utilities/PrimaryAppBar.tsx
  src/frontend/src/views/ApproveOrganization.tsx
  src/frontend/src/views/CreateEditOrganization.tsx
  src/frontend/src/views/CreateNewProject.tsx
  src/frontend/src/views/ManageUsers.tsx
  src/frontend/src/views/NoAccessComponent.tsx
  src/frontend/src/views/Organisation.tsx
Labels: enhancement, frontend

#2230 Feat/rework proj create cont
  .pre-commit-config.yaml
  src/frontend/src/components/common/Checkbox.tsx
  src/frontend/src/components/common/FileInputComponent.tsx
  src/frontend/src/components/common/RadioButton.tsx
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/Description.tsx
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
  src/mapper/pnpm-lock.yaml
Labels: enhancement, frontend

#2156 Update new geometry creation workflow
  src/frontend/src/components/ProjectDetailsV2/FeatureSelectionPopup.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/ProjectSubmissions/UpdateReviewStatusModal.tsx
  src/frontend/src/store/types/ISubmissions.ts
  src/frontend/src/store/types/ITask.ts
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/frontend/src/views/SubmissionDetails.tsx
  src/mapper/src/lib/components/dialog-entities-actions.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/lib/odk/collect.ts
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/src/store/entities.svelte.ts
Labels: enhancement, frontend
