Repository hotosm/field-tm, pull requests merged in 2025-03, with the labels that each got.

#2243 feat(project): populate total task field after task creation
  src/backend/app/db/models.py
Labels: enhancement, backend

#1695 Replace custom nginx / certbot config with BunkerWeb
  .env.example
  .github/labeler.yml
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_ci_img.yml
  .github/workflows/build_odk_imgs.yml
  .github/workflows/build_proxy_imgs.yml
  .github/workflows/docs.yml
  .github/workflows/pr_test_backend.yml
  .github/workflows/pr_test_frontend.yml
  .github/workflows/tag_build.yml
  .github/workflows/wiki.yml
  README.md
  compose.yaml
  contrib/just/build/Justfile
  deploy/compose.development.yaml
  docs/decisions/0006-web-app-firewall.md
  docs/dev/Backend.md
  docs/dev/Production.md
  docs/manuals/mapping.md
  docs/manuals/project-managers.md
  nginx/Dockerfile
  nginx/build_imgs.sh
  nginx/certs/ca.crt
  nginx/certs/central.crt
  nginx/certs/central.key
  nginx/certs/ssl-dhparams.pem
  nginx/container-entrypoint.sh
  nginx/nginx.conf
  nginx/options-security.conf
  nginx/options-ssl-nginx.conf
  nginx/templates/api.conf.template
  nginx/templates/cert-init/api.conf.template
  nginx/templates/cert-init/fmtm.conf.template
  nginx/templates/cert-init/minio.conf.template
  nginx/templates/cert-init/odk.conf.template
  nginx/templates/cert-init/sync.conf.template
  nginx/templates/dev/api.conf.template
  nginx/templates/dev/fmtm.conf.template
  nginx/templates/dev/minio.conf.template
  nginx/templates/dev/odk.conf.template
  nginx/templates/dev/sync.conf.template
  nginx/templates/fmtm.conf.template
  nginx/templates/minio.conf.template
  nginx/templates/odk.conf.template
  nginx/templates/sync.conf.template
  scripts/misc/renew-certs-manual.sh
  src/Dockerfile.ui.prod
  src/backend/Dockerfile
  src/backend/app/config.py
  src/backend/app/projects/project_deps.py
  src/backend/app/projects/project_routes.py
  src/frontend/src/components/home/ExploreProjectCard.tsx
  src/frontend/src/views/OsmAuth.tsx
  src/mapper/README.md
  src/mapper/src/routes/+error.svelte
  src/mapper/src/routes/+layout.svelte
  src/mapper/svelte.config.js
Labels: docs, frontend, backend, devops, contrib

#2247 Replace manager frontend PWA with mapper frontend PWA
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/src/App.tsx
  src/frontend/src/components/OfflineReadyPrompt.tsx
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/styles/OfflineReadyPrompt.css
  src/frontend/tsconfig.json
  src/frontend/vite.config.ts
  src/mapper/package.json
  src/mapper/pnpm-lock.yaml
  src/mapper/src/routes/+layout.svelte
  src/mapper/src/routes/[projectId]/+page.ts
  src/mapper/tsconfig.json
  src/mapper/vite.config.ts
Labels: enhancement, frontend

#2250 Refactor/remove task lvl odk btn
  src/frontend/src/components/DialogTaskActions.tsx
  src/mapper/src/lib/components/dialog-task-actions.svelte
Labels: enhancement, frontend

#2259 Replace file upload button with drop zone
  src/frontend/src/components/common/FileInputComponent.tsx
  src/frontend/src/components/common/UploadArea.tsx
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
  src/frontend/src/utilfunctions/convertFileToGeojson.ts
Labels: enhancement, frontend

#2214 Optimize generating project data
  src/backend/app/db/postgis_utils.py
  src/backend/app/projects/project_crud.py
Labels: enhancement, backend

#2260 Geojson validation on project creation
  src/frontend/src/components/common/UploadArea.tsx
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
  src/frontend/src/store/types/ICommon.ts
  src/frontend/src/utilfunctions/convertFileToGeojson.ts
  src/frontend/src/utilities/CustomizedSnackbar.tsx
Labels: enhancement, frontend

#2261 Refactor project details component
  src/frontend/src/components/ProjectDetails/ActivitiesPanel.tsx
  src/frontend/src/components/ProjectDetails/Comments.tsx
  src/frontend/src/components/ProjectDetails/FeatureSelectionPopup.tsx
  src/frontend/src/components/ProjectDetails/Instructions.tsx
  src/frontend/src/components/ProjectDetails/MapControlComponent.tsx
  src/frontend/src/components/ProjectDetails/MobileActivitiesContents.tsx
  src/frontend/src/components/ProjectDetails/MobileFooter.tsx
  src/frontend/src/components/ProjectDetails/MobileProjectInfoContent.tsx
  src/frontend/src/components/ProjectDetails/ProjectInfo.tsx
  src/frontend/src/components/ProjectDetails/ProjectOptions.tsx
  src/frontend/src/components/ProjectDetails/SkeletonLoader.tsx
  src/frontend/src/components/ProjectDetails/TaskSelectionPopup.tsx
  src/frontend/src/routes.jsx
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/views/ProjectDetails.tsx
Labels: enhancement, frontend

#2255 Dynamic styling and icons loaded via config.json (config-driven UI)
  src/mapper/src/assets/images/hot-logo-text.svg
  src/mapper/src/assets/images/hot-logo.svg
  src/mapper/src/lib/components/header.svelte
  src/mapper/src/routes/+layout.svelte
  src/mapper/src/store/common.svelte.ts
  src/mapper/static/config.json
  src/mapper/static/favicon.svg
Labels: enhancement

#2258 Upgrade paraglide for nested translation fields, continue adding translations
  src/frontend/src/types/enums.ts
  src/mapper/messages/en.json
  src/mapper/messages/pt-BR.json
  src/mapper/messages/pt-br.json
  src/mapper/package.json
  src/mapper/pnpm-lock.yaml
  src/mapper/project.inlang/.gitignore
  src/mapper/project.inlang/project_id
  src/mapper/project.inlang/settings.json
  src/mapper/src/constants/drawerItems.ts
  src/mapper/src/lib/components/dialog-entities-actions.svelte
  src/mapper/src/lib/components/dialog-task-actions.svelte
  src/mapper/src/lib/components/header.svelte
  src/mapper/src/lib/components/map/geolocation.svelte
  src/mapper/src/lib/components/map/legend.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/lib/components/qrcode.svelte
  src/mapper/src/lib/components/toast.svelte
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/src/store/common.svelte.ts
  src/mapper/vite.config.ts
Labels: enhancement, frontend

#2263 Set osm_id property to negative value if the geom is not from OSM
  src/backend/app/db/postgis_utils.py
Labels: bug, backend

#2265 Add osm-fieldwork to fmtm repo as a workspace package (monorepo)
  .github/labeler.yml
  .github/workflows/docs.yml
  .github/workflows/publish_osm_fieldwork.yml
  .gitignore
  .pre-commit-config.yaml
  src/backend/.dockerignore
  src/backend/Dockerfile
  src/backend/app/central/central_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/packages/osm-fieldwork/.dockerignore
  src/backend/packages/osm-fieldwork/.gitignore
  src/backend/packages/osm-fieldwork/CHANGELOG.md
  src/backend/packages/osm-fieldwork/LICENSE.md
  src/backend/packages/osm-fieldwork/README.md
  src/backend/packages/osm-fieldwork/osm_fieldwork/OdkCentral.py
  src/backend/packages/osm-fieldwork/osm_fieldwork/OdkCentralAsync.py
  src/backend/packages/osm-fieldwork/osm_fieldwork/__init__.py
  src/backend/packages/osm-fieldwork/osm_fieldwork/__version__.py
  src/backend/packages/osm-fieldwork/osm_fieldwork/data_models/__init__.py
  src/backend/packages/osm-fieldwork/osm_fieldwork/data_models/amenities.yaml
  src/backend/packages/osm-fieldwork/osm_fieldwork/data_models/buildings.yaml
  src/backend/packages/osm-fieldwork/osm_fieldwork/data_models/camping.yaml
  src/backend/packages/osm-fieldwork/osm_fieldwork/data_models/category.yaml
  src/backend/packages/osm-fieldwork/osm_fieldwork/data_models/cemeteries.yaml
  src/backend/packages/osm-fieldwork/osm_fieldwork/data_models/education.yaml
  src/backend/packages/osm-fieldwork/osm_fieldwork/data_models/emergency.yaml
  src/backend/packages/osm-fieldwork/osm_fieldwork/data_models/health.yaml
  src/backend/packages/osm-fieldwork/osm_fieldwork/data_models/highways.yaml
  src/backend/packages/osm-fieldwork/osm_fieldwork/data_models/landusage.yaml
  src/backend/packages/osm-fieldwork/osm_fieldwork/data_models/models.yaml
  src/backend/packages/osm-fieldwork/osm_fieldwork/data_models/nature.yaml
  src/backend/packages/osm-fieldwork/osm_fieldwork/data_models/places.yaml
  src/backend/packages/osm-fieldwork/osm_fieldwork/data_models/religious.yaml
  src/backend/packages/osm-fieldwork/osm_fieldwork/data_models/toilets.yaml
  src/backend/packages/osm-fieldwork/osm_fieldwork/data_models/wastedisposal.yaml
  src/backend/packages/osm-fieldwork/osm_fieldwork/data_models/waterpoints.yaml
  src/backend/packages/osm-fieldwork/osm_fieldwork/data_models/waterways.yaml
  src/backend/packages/osm-fieldwork/osm_fieldwork/form_components/__init__.py
  src/backend/packages/osm-fieldwork/osm_fieldwork/form_components/choice_fields.py
  src/backend/packages/osm-fieldwork/osm_fieldwork/form_components/digitisation_fields.py
  src/backend/packages/osm-fieldwork/osm_fieldwork/form_components/mandatory_fields.py
  src/backend/packages/osm-fieldwork/osm_fieldwork/update_xlsform.py
  src/backend/packages/osm-fieldwork/osm_fieldwork/xforms.yaml
  src/backend/packages/osm-fieldwork/osm_fieldwork/xlsforms/__init__.py
  src/backend/packages/osm-fieldwork/osm_fieldwork/xlsforms/buildings.xls
  src/backend/packages/osm-fieldwork/osm_fieldwork/xlsforms/health.xls
  src/backend/packages/osm-fieldwork/pyproject.toml
  src/backend/packages/osm-fieldwork/tests/.pyodk_config.toml
  src/backend/packages/osm-fieldwork/tests/__init__.py
  src/backend/packages/osm-fieldwork/tests/conftest.py
  src/backend/packages/osm-fieldwork/tests/test_data/buildings.xml
  src/backend/packages/osm-fieldwork/tests/test_data/buildings_geojson_upload.xml
  src/backend/packages/osm-fieldwork/tests/test_data/osm_buildings.geojson
  src/backend/packages/osm-fieldwork/tests/test_entities.py
  src/backend/packages/osm-fieldwork/tests/test_odk_central.py
  src/backend/packages/osm-fieldwork/tests/test_odk_submissions.py
  src/backend/packages/osm-fieldwork/tests/test_update_xlsform.py
  src/backend/pyproject.toml
  src/backend/uv.lock
Labels: backend, devops

#2275 Add endpoint to upload form media such as images, videos, audio
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_deps.py
  src/backend/app/central/central_routes.py
Labels: enhancement, backend

#2237 Assign users to tasks (+ project team integration)
  src/backend/app/db/models.py
  src/backend/app/projects/project_deps.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/tasks/task_crud.py
  src/backend/app/tasks/task_routes.py
  src/backend/migrations/009-task-assignments.sql
  src/backend/migrations/init/fmtm_base_schema.sql
Labels: enhancement, backend, migration

#2277 Allow entity creation outside task boundary
  src/backend/app/db/postgis_utils.py
  src/backend/app/projects/project_routes.py
Labels: bug, backend

#2283 Remove unintended extra execute command
  src/backend/app/projects/project_routes.py
Labels: bug, backend

#2287 Optimize entity lookup performance using Map for quick entity retrieval
  src/mapper/src/lib/components/dialog-entities-actions.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/store/entities.svelte.ts
Labels: bug

#2281 Add hashtags to entity properties, data extracts and submissions
  src/backend/app/submissions/submission_crud.py
Labels: enhancement, backend

#2291 fix: Submission details page crashing when trying to render null value
  src/frontend/src/views/SubmissionDetails.tsx
Labels: bug, frontend

#2301 Align task lock icon within task area
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/src/utilfunctions/getTaskStatusStyle.ts
Labels: bug, frontend

#2294 Filter project summary by org, calculate total submission, total bad, validated and mapped tasks
  src/backend/app/db/models.py
  src/backend/app/organisations/organisation_routes.py
  src/backend/app/organisations/organisation_schemas.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
Labels: enhancement, backend

#2306 Update the electric sql -> v 1.0.0-beta.23
  compose.yaml
  deploy/compose.development.yaml
Labels: bug

#2308 Update the version of typescript client to 1.0.0
  src/mapper/package.json
  src/mapper/pnpm-lock.yaml
Labels: enhancement

#2284 Add Google OAuth support for authentication
  .env.example
  src/backend/app/auth/auth_deps.py
  src/backend/app/auth/auth_routes.py
  src/backend/app/auth/auth_schemas.py
  src/backend/app/auth/providers/google.py
  src/backend/app/auth/providers/osm.py
  src/backend/app/auth/roles.py
  src/backend/app/central/central_crud.py
  src/backend/app/config.py
  src/backend/app/db/models.py
  src/backend/app/helpers/helper_routes.py
  src/backend/app/integrations/integration_crud.py
  src/backend/app/integrations/integration_routes.py
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/organisations/organisation_routes.py
  src/backend/app/organisations/organisation_schemas.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/tasks/task_crud.py
  src/backend/app/tasks/task_routes.py
  src/backend/app/users/user_crud.py
  src/backend/app/users/user_deps.py
  src/backend/app/users/user_routes.py
  src/backend/app/users/user_schemas.py
  src/backend/migrations/010-google-auth-changes.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/tests/conftest.py
  src/backend/tests/test_organisation_routes.py
  src/backend/tests/test_projects_routes.py
Labels: enhancement, backend, migration, tests

#2310 Add minimal query option for mapper frontend project summary
  src/backend/app/db/models.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
Labels: enhancement, backend
