Repository hotosm/field-tm, pull requests merged in 2025-07, with the labels that each got.

#2680 Updated project creation workflow
  src/backend/app/db/models.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/tests/conftest.py
  src/backend/tests/test_projects_routes.py
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/components/CreateProject/01-BasicDetails.tsx
  src/frontend/src/components/CreateProject/02-ProjectDetails.tsx
  src/frontend/src/components/CreateProject/03-UploadSurvey.tsx
  src/frontend/src/components/CreateProject/04-MapData.tsx
  src/frontend/src/components/CreateProject/05-SplitTasks.tsx
  src/frontend/src/components/CreateProject/Map.tsx
  src/frontend/src/components/CreateProject/MapControls.tsx
  src/frontend/src/components/CreateProject/Stepper.tsx
  src/frontend/src/components/CreateProject/constants/defaultValues.ts
  src/frontend/src/components/CreateProject/constants/index.tsx
  src/frontend/src/components/CreateProject/validation.ts
  src/frontend/src/components/MapComponent/OpenLayersComponent/LayerSwitcher/index.js
  src/frontend/src/components/RadixComponents/Input.tsx
  src/frontend/src/components/RadixComponents/TextArea.tsx
  src/frontend/src/components/common/Button.tsx
  src/frontend/src/components/common/ErrorMessage.tsx
  src/frontend/src/components/common/FieldLabel.tsx
  src/frontend/src/components/common/RadioButton.tsx
  src/frontend/src/components/common/Select2.tsx
  src/frontend/src/components/common/UploadArea.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/home/ExploreProjectCard.tsx
  src/frontend/src/components/home/HomePageFilters.tsx
  src/frontend/src/routes.jsx
  src/frontend/src/shared/AssetModules.js
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/types/enums.ts
  src/frontend/src/utilfunctions/index.ts
  src/frontend/src/views/CreateProject.tsx
Labels: enhancement, frontend:management, backend, tests

#2686 Fix management frontend login
  src/frontend/src/views/OsmAuth.tsx
Labels: bug, frontend:management

#2687 Ease feature selection
  src/frontend/src/components/ProjectDetails/ProjectDetailsMap.tsx
  src/mapper/src/lib/components/map/main.svelte
Labels: bug, enhancement, frontend:management, frontend:mapper

#2690 Add mapping mode options and fix standard odk collect workflow
  src/backend/app/db/models.py
  src/backend/packages/osm-fieldwork/osm_fieldwork/form_components/choice_fields.py
  src/backend/packages/osm-fieldwork/osm_fieldwork/form_components/mandatory_fields.py
  src/backend/packages/osm-fieldwork/osm_fieldwork/form_components/translations/cs.json
  src/backend/packages/osm-fieldwork/osm_fieldwork/form_components/translations/en.json
  src/backend/packages/osm-fieldwork/osm_fieldwork/form_components/translations/es.json
  src/backend/packages/osm-fieldwork/osm_fieldwork/form_components/translations/fr.json
  src/backend/packages/osm-fieldwork/osm_fieldwork/form_components/translations/it.json
  src/backend/packages/osm-fieldwork/osm_fieldwork/form_components/translations/ja.json
  src/backend/packages/osm-fieldwork/osm_fieldwork/form_components/translations/ne.json
  src/backend/packages/osm-fieldwork/osm_fieldwork/form_components/translations/pt-BR.json
  src/backend/packages/osm-fieldwork/osm_fieldwork/form_components/translations/sw.json
  src/backend/packages/osm-fieldwork/osm_fieldwork/update_xlsform.py
Labels: enhancement, backend, dependency:osm-fieldwork

#2691 fix(projects): fix total contributions mismatch in infographics
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/tests/test_projects_routes.py
  src/frontend/src/components/ProjectSubmissions/SubmissionsInfographics.tsx
Labels: bug, frontend:management, backend, tests

#2705 Remove old project creation code
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/api/Project.ts
  src/frontend/src/components/ManageOrganization/AddOrganizationAdminModal.tsx
  src/frontend/src/components/ProjectDetails/MobileFooter.tsx
  src/frontend/src/components/common/StepSwitcher.tsx
  src/frontend/src/components/createnewproject/CreateProjectHeader.tsx
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/Description.tsx
  src/frontend/src/components/createnewproject/DrawSvg.tsx
  src/frontend/src/components/createnewproject/LoadingBar.tsx
  src/frontend/src/components/createnewproject/MapControlComponent.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
  src/frontend/src/components/createnewproject/validation/CreateProjectValidation.tsx
  src/frontend/src/components/createnewproject/validation/DataExtractValidation.tsx
  src/frontend/src/components/createnewproject/validation/DefineTaskValidation.tsx
  src/frontend/src/components/createnewproject/validation/SelectFormValidation.tsx
  src/frontend/src/components/createnewproject/validation/UploadAreaValidation.tsx
  src/frontend/src/constants/StepFormConstants.ts
  src/frontend/src/models/submission/submissionModel.ts
  src/frontend/src/routes.jsx
  src/frontend/src/shared/CoreModules.js
  src/frontend/src/store/slices/CommonSlice.ts
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/store/slices/SubmissionSlice.ts
  src/frontend/src/store/slices/UserSlice.ts
  src/frontend/src/store/types/ICommon.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/views/CreateNewProject.tsx
  src/frontend/src/views/NewDefineAreaMap.tsx
Labels: frontend:management

#2675 Replace osm_rawdata with raw_data_api_py adding highway category
  src/backend/app/central/central_crud.py
  src/backend/app/db/postgis_utils.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/submissions/submission_routes.py
  src/backend/packages/osm-fieldwork/osm_fieldwork/data_models/models.yaml
  src/backend/packages/osm-fieldwork/osm_fieldwork/json_data_models/__init__.py
  src/backend/packages/osm-fieldwork/osm_fieldwork/json_data_models/amenities.json
  src/backend/packages/osm-fieldwork/osm_fieldwork/json_data_models/buildings.json
  src/backend/packages/osm-fieldwork/osm_fieldwork/json_data_models/camping.json
  src/backend/packages/osm-fieldwork/osm_fieldwork/json_data_models/category.json
  src/backend/packages/osm-fieldwork/osm_fieldwork/json_data_models/cemeteries.json
  src/backend/packages/osm-fieldwork/osm_fieldwork/json_data_models/education.json
  src/backend/packages/osm-fieldwork/osm_fieldwork/json_data_models/emergency.json
  src/backend/packages/osm-fieldwork/osm_fieldwork/json_data_models/health.json
  src/backend/packages/osm-fieldwork/osm_fieldwork/json_data_models/highways.json
  src/backend/packages/osm-fieldwork/osm_fieldwork/json_data_models/landusage.json
  src/backend/packages/osm-fieldwork/osm_fieldwork/json_data_models/models.json
  src/backend/packages/osm-fieldwork/osm_fieldwork/json_data_models/nature.json
  src/backend/packages/osm-fieldwork/osm_fieldwork/json_data_models/places.json
  src/backend/packages/osm-fieldwork/osm_fieldwork/json_data_models/religious.json
  src/backend/packages/osm-fieldwork/osm_fieldwork/json_data_models/toilets.json
  src/backend/packages/osm-fieldwork/osm_fieldwork/json_data_models/wastedisposal.json
  src/backend/packages/osm-fieldwork/osm_fieldwork/json_data_models/waterpoints.json
  src/backend/packages/osm-fieldwork/osm_fieldwork/json_data_models/waterways.json
  src/backend/packages/osm-fieldwork/osm_fieldwork/xlsforms/highways.xls
  src/backend/pyproject.toml
  src/backend/tests/conftest.py
  src/backend/tests/test_projects_routes.py
  src/backend/uv.lock
Labels: docs, enhancement, frontend:management, backend, ODK, dependency:osm-fieldwork, tests, frontend:mapper, dependency:raw-data-api-py

#2709 Pass access token to generate osm extracts
  src/backend/app/projects/project_crud.py
Labels: enhancement, backend

#2708 Role unassign from project and odk cred check endpoint
  src/backend/app/db/models.py
  src/backend/app/helpers/helper_crud.py
  src/backend/app/helpers/helper_routes.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/tests/test_helper_routes.py
Labels: enhancement, frontend:management, backend, tests, frontend:mapper

#2715 Use st intersects for linear geoms during project file generation
  src/backend/app/db/postgis_utils.py
  src/backend/app/projects/project_crud.py
Labels: bug, enhancement, backend

#2714 Fix project create bugs + refactor based on discussion
  docs/manuals/Mapping Usecases.md
  src/backend/app/db/models.py
  src/backend/app/users/user_schemas.py
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/api/Project.ts
  src/frontend/src/components/CreateProject/01-ProjectOverview.tsx
  src/frontend/src/components/CreateProject/03-UploadSurvey.tsx
  src/frontend/src/components/CreateProject/constants/defaultValues.ts
  src/frontend/src/components/CreateProject/validation.ts
  src/frontend/src/components/common/Select2.tsx
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/views/CreateProject.tsx
Labels: bug, docs, frontend:management, backend

#2722 Update visibility filter to projects based on access
  src/backend/app/db/models.py
  src/backend/app/projects/project_routes.py
Labels: enhancement, backend

#2727 UI Refactors
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/api/Project.ts
  src/frontend/src/api/SubmissionService.ts
  src/frontend/src/components/CreateProject/01-ProjectOverview.tsx
  src/frontend/src/components/CreateProject/MapControls.tsx
  src/frontend/src/components/Icons/TableChartViewIcon.tsx
  src/frontend/src/components/Icons/TableIcon.tsx
  src/frontend/src/components/MapComponent/OpenLayersComponent/LayerSwitcher/LayerSwitchMenu.tsx
  src/frontend/src/components/MapLegends.tsx
  src/frontend/src/components/ProjectDetails/MapControlComponent.tsx
  src/frontend/src/components/ProjectDetails/ProjectDetailsMap.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/shared/AssetModules.js
  src/frontend/src/store/slices/SubmissionSlice.ts
  src/frontend/src/views/CreateProject.tsx
  src/frontend/src/views/ProjectSubmissions.tsx
  src/mapper/src/lib/components/dialog-task-actions.svelte
Labels: bug, frontend:management, frontend:mapper

#2731 Fix project visibility to exclude draft projects for cross organiisation admins
  src/backend/app/db/models.py
Labels: bug, backend

#2732 Remove pglite, rely on svelte store + electric sync
  compose.yaml
  src/Dockerfile.ui.debug
  src/Dockerfile.ui.prod
  src/mapper/package.json
  src/mapper/pnpm-lock.yaml
  src/mapper/src/lib/api/fetch.ts
  src/mapper/src/lib/api/offline.ts
  src/mapper/src/lib/components/dialog-entities-actions.svelte
  src/mapper/src/lib/components/forms/wrapper.svelte
  src/mapper/src/lib/components/map/flatgeobuf-layer.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/lib/components/offline/index.svelte
  src/mapper/src/lib/components/offline/offline-data.svelte
  src/mapper/src/lib/db/api-submissions.ts
  src/mapper/src/lib/db/entities.ts
  src/mapper/src/lib/db/events.ts
  src/mapper/src/lib/db/helpers.ts
  src/mapper/src/lib/db/init.js
  src/mapper/src/lib/db/pglite.ts
  src/mapper/src/lib/db/projects.ts
  src/mapper/src/lib/types.ts
  src/mapper/src/lib/utils/dev-reset.ts
  src/mapper/src/routes/+layout.svelte
  src/mapper/src/routes/+layout.ts
  src/mapper/src/routes/+page.svelte
  src/mapper/src/routes/+page.ts
  src/mapper/src/routes/project/[projectId]/+page.svelte
  src/mapper/src/routes/project/[projectId]/+page.ts
  src/mapper/src/store/common.svelte.ts
  src/mapper/src/store/entities.svelte.ts
  src/mapper/src/store/projects.svelte.ts
  src/mapper/src/store/tasks.svelte.ts
  src/mapper/static/config.json
  src/mapper/tests/offline.test.ts
  src/mapper/vite.config.ts
Labels: bug, frontend:mapper

#2734 UI crash on AOI reset & continue next
  src/frontend/src/components/CreateProject/validation.ts
Labels: bug, frontend:management

#2739 Fix mapper frontend issues
  src/mapper/src/routes/project/[projectId]/+page.svelte
  src/mapper/src/store/common.svelte.ts
  src/mapper/src/store/tasks.svelte.ts
Labels: bug, frontend:mapper

#2748 Update task and entity dialog styles
  src/mapper/src/styles/dialog-entities-actions.css
  src/mapper/src/styles/dialog-task-actions.css
Labels: bug, frontend:mapper
