Repository hotosm/field-tm, pull requests merged in 2025-05, with the labels that each got.

#2460 Fix button backround color, spacing
  src/mapper/src/lib/components/forms/wrapper.svelte
  src/mapper/src/lib/components/map/legend.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/routes/[projectId]/page.css
  src/mapper/src/styles/dialog-task-actions.css
  src/mapper/src/styles/map-legend.css
  src/mapper/src/styles/map.css
Labels: bug, frontend:mapper

#2452 Feat/2438 resize image buttons
  src/mapper/src/lib/components/forms/wrapper.svelte
  src/mapper/src/store/common.svelte.ts
  src/mapper/static/config.json
  src/mapper/static/web-forms.html
Labels: enhancement, frontend:mapper

#2467 Add capability to create new users via API key
  src/backend/app/auth/auth_deps.py
  src/backend/app/auth/auth_routes.py
  src/backend/app/auth/auth_schemas.py
  src/backend/app/integrations/integration_routes.py
  src/backend/app/organisations/organisation_routes.py
  src/backend/app/projects/project_routes.py
  src/backend/app/users/user_crud.py
  src/backend/tests/conftest.py
Labels: enhancement, backend, tests

#2468 Add signin_type filter to user retrieval endpoints and allow org admin access
  src/backend/app/users/user_crud.py
  src/backend/app/users/user_routes.py
Labels: enhancement, backend

#2469 Display user-friendly translation names with corresponding country flags
  src/mapper/src/constants/languages.ts
  src/mapper/src/lib/components/header.svelte
Labels: bug, frontend:mapper

#2451 Handle overlapping features selection
  src/frontend/src/components/ProjectDetails/FeatureSelectionPopup.tsx
  src/frontend/src/components/ProjectDetails/ProjectDetailsMap.tsx
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/utilfunctions/getTaskStatusStyle.ts
  src/frontend/src/views/ProjectDetails.tsx
  src/mapper/messages/en.json
  src/mapper/messages/ne.json
  src/mapper/messages/pt-BR.json
  src/mapper/src/lib/components/dialog-entities-actions.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/styles/dialog-entities-actions.css
  src/mapper/src/styles/map.css
Labels: bug, frontend:management, frontend:mapper

#2471 Allow verification questions for every geom type
  src/backend/packages/osm-fieldwork/osm_fieldwork/update_xlsform.py
Labels: bug, backend, dependency:osm-fieldwork

#2474 Skip verification question if new feature
  src/backend/packages/osm-fieldwork/osm_fieldwork/update_xlsform.py
Labels: bug, backend, dependency:osm-fieldwork

#2473 add font and move css over-ride to bottom of web-forms iframe body
  src/mapper/static/web-forms.html
Labels: frontend:mapper

#2481 Refactor: Skip polygon selection confirmation step
  src/frontend/src/components/ProjectDetails/ProjectDetailsMap.tsx
  src/mapper/src/lib/components/dialog-entities-actions.svelte
  src/mapper/src/lib/components/map/main.svelte
Labels: enhancement, frontend:management, frontend:mapper

#2367 Refactor Manage User & Organization
  src/backend/app/users/user_routes.py
  src/frontend/src/api/OrganisationService.ts
  src/frontend/src/api/User.ts
  src/frontend/src/components/LoginPopup.tsx
  src/frontend/src/components/ManageOrganization/AddOrganizationAdminModal.tsx
  src/frontend/src/components/ManageOrganization/ManageAdmins.tsx
  src/frontend/src/components/OrganizationDashboard/OrganizationInfo.tsx
  src/frontend/src/components/RadixComponents/Popover.tsx
  src/frontend/src/store/slices/organisationSlice.ts
  src/frontend/src/store/types/IOrganisation.ts
  src/frontend/src/views/ManageOrganization.tsx
  src/frontend/src/views/ManageUsers.tsx
  src/mapper/src/lib/components/login.svelte
Labels: enhancement, frontend:management, backend, frontend:mapper

#2490 Update project-manager User manual.md
  docs/manuals/mapping.md
  docs/manuals/project-managers.md
Labels: docs

#2492 Project specific ODK form
  src/frontend/src/components/ProjectDetails/FeatureSelectionPopup.tsx
  src/frontend/src/views/ProjectDetails.tsx
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/routes/[projectId]/+page.svelte
Labels: enhancement, frontend:management, frontend:mapper

#2427 Implement PGLite for local-first database in mapper frontend
  compose.yaml
  deploy/compose.development.yaml
  deploy/compose.sub.yaml
  src/Dockerfile.ui.debug
  src/Dockerfile.ui.prod
  src/backend/app/auth/roles.py
  src/backend/app/central/central_routes.py
  src/backend/app/db/models.py
  src/backend/app/projects/project_routes.py
  src/backend/migrate-entrypoint.sh
  src/backend/migrations/001-submission-ids.sql
  src/backend/migrations/README.md
  src/backend/migrations/init/0-main.sql
  src/backend/migrations/init/1-enums.sql
  src/backend/migrations/init/2-tables.sql
  src/backend/migrations/init/3-constraints.sql
  src/backend/migrations/init/4-indexes.sql
  src/backend/migrations/init/5-foreign-keys.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/migrations/init/shared/1-enums.sql
  src/backend/migrations/init/shared/2-tables.sql
  src/backend/migrations/init/shared/3-constraints.sql
  src/backend/migrations/init/shared/4-indexes.sql
  src/backend/migrations/init/shared/README.md
  src/backend/pyproject.toml
  src/mapper/package.json
  src/mapper/pnpm-lock.yaml
  src/mapper/src/lib/components/dialog-entities-actions.svelte
  src/mapper/src/lib/components/dialog-task-actions.svelte
  src/mapper/src/lib/components/forms/wrapper.svelte
  src/mapper/src/lib/components/map/geolocation.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/lib/db/entities.ts
  src/mapper/src/lib/db/helpers.ts
  src/mapper/src/lib/db/init.js
  src/mapper/src/lib/db/pglite.ts
  src/mapper/src/lib/types.ts
  src/mapper/src/routes/+layout.svelte
  src/mapper/src/routes/+layout.ts
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/src/routes/[projectId]/+page.ts
  src/mapper/src/store/common.svelte.ts
  src/mapper/src/store/entities.svelte.ts
  src/mapper/src/store/tasks.svelte.ts
  src/mapper/src/styles/page.css
  src/mapper/svelte.config.js
  src/mapper/vite.config.ts
Labels: enhancement, backend, migration, frontend:mapper

#2498 added caching of odk web forms script
  src/mapper/src/lib/api/fetch.ts
  src/mapper/src/lib/components/forms/wrapper.svelte
  src/mapper/static/config.json
Labels: enhancement, frontend:mapper

#2501 Bulk user assign
  src/backend/app/users/user_routes.py
  src/frontend/src/components/ManageProject/User/Invite.tsx
  src/frontend/src/components/ManageProject/User/validation/InviteValidation.ts
Labels: enhancement, frontend:management, backend

#2495 Add offline banner notificiation + load project summaries from PGLite first
  contrib/just/test/Justfile
  src/Dockerfile.ui.debug
  src/Dockerfile.ui.prod
  src/backend/app/config.py
  src/backend/migrations/init/1-enums.sql
  src/backend/migrations/init/frontend-only/2-tables.sql
  src/backend/migrations/init/frontend-only/README.md
  src/backend/migrations/init/shared/1-enums.sql
  src/mapper/package.json
  src/mapper/pnpm-lock.yaml
  src/mapper/src/app.html
  src/mapper/src/lib/components/dialog-entities-actions.svelte
  src/mapper/src/lib/components/dialog-task-actions.svelte
  src/mapper/src/lib/components/map/geolocation.svelte
  src/mapper/src/lib/components/more/index.svelte
  src/mapper/src/lib/components/offline/offline-banner.svelte
  src/mapper/src/lib/components/toast.svelte
  src/mapper/src/lib/db/pglite.ts
  src/mapper/src/lib/types.ts
  src/mapper/src/routes/+error.svelte
  src/mapper/src/routes/+layout.svelte
  src/mapper/src/routes/+page.svelte
  src/mapper/src/store/common.svelte.ts
  src/mapper/src/store/entities.svelte.ts
  src/mapper/src/store/projects.svelte.ts
  src/mapper/src/styles/offline-banner.css
  src/mapper/svelte.config.js
  src/mapper/tsconfig.json
  src/mapper/vite.config.ts
Labels: enhancement, backend, migration, contrib, frontend:mapper

#2505 Make project detail data available from local db fallback when offline
  compose.yaml
  docs/manuals/mapping.md
  src/Dockerfile.ui.debug
  src/backend/migrations/init/frontend-only/schema.sql
  src/frontend/src/components/home/ExploreProjectCard.tsx
  src/mapper/README.md
  src/mapper/messages/en.json
  src/mapper/messages/ne.json
  src/mapper/messages/pt-BR.json
  src/mapper/src/lib/components/header.svelte
  src/mapper/src/lib/components/map/geolocation.svelte
  src/mapper/src/lib/components/map/legend.svelte
  src/mapper/src/lib/components/offline/offline-banner.svelte
  src/mapper/src/lib/components/project-summary/project-card.svelte
  src/mapper/src/lib/db/pglite.ts
  src/mapper/src/lib/db/projects.ts
  src/mapper/src/lib/map/basemaps.ts
  src/mapper/src/lib/map/extracts.ts
  src/mapper/src/lib/types.ts
  src/mapper/src/routes/+error.svelte
  src/mapper/src/routes/+layout.svelte
  src/mapper/src/routes/+layout.ts
  src/mapper/src/routes/+page.svelte
  src/mapper/src/routes/+page.ts
  src/mapper/src/routes/[projectId]/+page.ts
  src/mapper/src/routes/project/[projectId]/+error.svelte
  src/mapper/src/routes/project/[projectId]/+page.svelte
  src/mapper/src/routes/project/[projectId]/+page.ts
  src/mapper/src/routes/project/[projectId]/page.css
  src/mapper/src/store/login.svelte.ts
  src/mapper/src/store/projects.svelte.ts
  src/mapper/src/styles/header.css
  src/mapper/src/styles/offline-banner.css
  src/mapper/vite.config.ts
Labels: docs, enhancement, frontend:management, backend, migration, frontend:mapper

#2503 Implemented SMTP email functionality and send invite emails to non OSM users
  .env.example
  src/backend/app/config.py
  src/backend/app/helpers/helper_routes.py
  src/backend/app/users/user_crud.py
  src/backend/app/users/user_routes.py
  src/backend/pyproject.toml
  src/backend/uv.lock
Labels: enhancement, backend

#2513 Minor Issues & Refactor
  src/frontend/src/views/SubmissionDetails.tsx
  src/mapper/src/lib/components/more/index.svelte
  src/mapper/src/routes/project/[projectId]/+page.svelte
Labels: bug, frontend:management, frontend:mapper

#2520 Update staging to latest development
  .env.example
  compose.yaml
  deploy/compose.development.yaml
  deploy/compose.sub.yaml
  deploy/gen-and-deploy.sh
  docs/manuals/mapping.md
  src/Dockerfile.ui.debug
  src/backend/app-entrypoint.sh
  src/backend/app/config.py
  src/backend/app/helpers/helper_routes.py
  src/backend/app/users/user_crud.py
  src/backend/app/users/user_routes.py
  src/backend/backup-entrypoint.sh
  src/backend/migrate-entrypoint.sh
  src/backend/migrations/init/frontend-only/schema.sql
  src/backend/pyproject.toml
  src/backend/uv.lock
  src/frontend/src/components/home/ExploreProjectCard.tsx
  src/frontend/src/views/SubmissionDetails.tsx
  src/mapper/README.md
  src/mapper/messages/en.json
  src/mapper/messages/ne.json
  src/mapper/messages/pt-BR.json
  src/mapper/package.json
  src/mapper/pnpm-lock.yaml
  src/mapper/src/lib/components/forms/wrapper.svelte
  src/mapper/src/lib/components/header.svelte
  src/mapper/src/lib/components/map/geolocation.svelte
  src/mapper/src/lib/components/map/legend.svelte
  src/mapper/src/lib/components/more/index.svelte
  src/mapper/src/lib/components/offline/offline-banner.svelte
  src/mapper/src/lib/components/project-summary/project-card.svelte
  src/mapper/src/lib/db/pglite.ts
  src/mapper/src/lib/db/projects.ts
  src/mapper/src/lib/map/basemaps.ts
  src/mapper/src/lib/map/extracts.ts
  src/mapper/src/lib/types.ts
  src/mapper/src/routes/+error.svelte
  src/mapper/src/routes/+layout.svelte
  src/mapper/src/routes/+layout.ts
  src/mapper/src/routes/+page.svelte
  src/mapper/src/routes/+page.ts
  src/mapper/src/routes/[projectId]/+page.ts
  src/mapper/src/routes/project/[projectId]/+error.svelte
  src/mapper/src/routes/project/[projectId]/+page.svelte
  src/mapper/src/routes/project/[projectId]/+page.ts
  src/mapper/src/routes/project/[projectId]/page.css
  src/mapper/src/store/login.svelte.ts
  src/mapper/src/store/projects.svelte.ts
  src/mapper/src/styles/header.css
  src/mapper/src/styles/offline-banner.css
  src/mapper/vite.config.ts
Labels: docs, frontend:management, backend, migration, frontend:mapper

#2519 added deviceid
  src/mapper/src/lib/components/forms/wrapper.svelte
  src/mapper/src/lib/utils/device.ts
Labels: frontend:mapper

#2517 Offline entity creation and webform submissions
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_deps.py
  src/backend/app/central/central_routes.py
  src/backend/app/central/central_schemas.py
  src/backend/app/integrations/integration_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/submissions/submission_crud.py
  src/backend/app/tasks/task_crud.py
  src/backend/migrations/init/frontend-only/schema.sql
  src/backend/packages/osm-fieldwork/osm_fieldwork/OdkCentralAsync.py
  src/backend/packages/osm-fieldwork/tests/conftest.py
  src/backend/packages/osm-fieldwork/tests/test_entities.py
  src/backend/tests/test_projects_routes.py
  src/mapper/messages/en.json
  src/mapper/messages/ne.json
  src/mapper/messages/pt-BR.json
  src/mapper/src/lib/api/fetch.ts
  src/mapper/src/lib/components/dialog-entities-actions.svelte
  src/mapper/src/lib/components/forms/wrapper.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/lib/db/api-submissions.ts
  src/mapper/src/lib/fs/opfs.ts
  src/mapper/src/lib/types.ts
  src/mapper/src/lib/utils/dev-reset.ts
  src/mapper/src/routes/+layout.ts
  src/mapper/src/routes/project/[projectId]/+page.svelte
  src/mapper/src/store/common.svelte.ts
  src/mapper/src/store/entities.svelte.ts
  src/mapper/src/styles/dialog-entities-actions.css
  src/mapper/src/styles/map.css
Labels: enhancement, backend, migration, dependency:osm-fieldwork, tests, frontend:mapper

#2525 Offline entity creation and webform submissions pt2
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_routes.py
  src/backend/app/central/central_schemas.py
  src/backend/app/config.py
  src/backend/app/db/enums.py
  src/backend/app/db/models.py
  src/backend/app/db/postgis_utils.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/migrations/002-geomlog-to-entity.sql
  src/backend/migrations/geomlog_to_entities.py
  src/backend/migrations/init/2-tables.sql
  src/backend/migrations/init/frontend-only/schema.sql
  src/backend/migrations/init/shared/1-enums.sql
  src/backend/migrations/init/shared/2-tables.sql
  src/backend/migrations/init/shared/3-constraints.sql
  src/backend/migrations/init/shared/4-indexes.sql
  src/backend/packages/osm-fieldwork/osm_fieldwork/form_components/mandatory_fields.py
  src/backend/tests/conftest.py
  src/backend/tests/test_projects_routes.py
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/src/api/Project.ts
  src/frontend/src/api/SubmissionService.ts
  src/frontend/src/components/ProjectDetails/ProjectDetailsMap.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/ProjectSubmissions/UpdateReviewStatusModal.tsx
  src/frontend/src/components/common/UploadArea.tsx
  src/frontend/src/models/project/projectModel.ts
  src/frontend/src/models/submission/submissionModel.ts
  src/frontend/src/models/task/taskModel.ts
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/store/types/ISubmissions.ts
  src/frontend/src/types/enums.ts
  src/frontend/src/utilfunctions/extractGeojsonFromObject.ts
  src/frontend/src/utilfunctions/index.ts
  src/frontend/src/views/ProjectDetails.tsx
  src/frontend/src/views/SubmissionDetails.tsx
  src/mapper/package.json
  src/mapper/pnpm-lock.yaml
  src/mapper/src/lib/components/dialog-entities-actions.svelte
  src/mapper/src/lib/components/forms/wrapper.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/lib/db/api-submissions.ts
  src/mapper/src/lib/db/entities.ts
  src/mapper/src/lib/db/events.ts
  src/mapper/src/lib/odk/javarosa.ts
  src/mapper/src/lib/types.ts
  src/mapper/src/lib/utils/random.ts
  src/mapper/src/routes/project/[projectId]/+page.svelte
  src/mapper/src/store/common.svelte.ts
  src/mapper/src/store/entities.svelte.ts
Labels: enhancement, frontend:management, backend, migration, dependency:osm-fieldwork, tests, frontend:mapper

#2528 fix webform loading issue
  src/mapper/src/routes/project/[projectId]/+page.svelte
Labels: bug, frontend:mapper

#2541 Auto add form settings configuration if not present
  src/backend/packages/osm-fieldwork/osm_fieldwork/update_xlsform.py
Labels: bug, backend, dependency:osm-fieldwork

#2545 Fix pagination on mapper frontend
  src/mapper/src/routes/+page.svelte
Labels: bug, frontend:mapper

#2548 Fixes load spinner issue
  src/mapper/src/lib/components/forms/wrapper.svelte
Labels: bug, frontend:mapper

#2557 Update URL validation logic
  src/frontend/src/utilfunctions/urlChecker.ts
Labels: bug, frontend:management
