Repository hotosm/field-tm, pull requests merged in 2025-01, with the labels that each got.

#2047 Automatic task lock on feature map & minor mapper frontend improvements
  src/mapper/src/lib/components/dialog-entities-actions.svelte
  src/mapper/src/routes/[projectId]/+page.svelte
Labels: bug

#2045 Refine submission table
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
Labels: bug, frontend

#2049 Mapper Navigation: Limit routing API call
  src/mapper/src/lib/components/dialog-entities-actions.svelte
  src/mapper/src/lib/components/map/geolocation.svelte
Labels: bug

#2050 fix(generateBasemap): update tile source option value
  src/frontend/src/components/GenerateBasemap.tsx
  src/frontend/src/environment.ts
Labels: bug, frontend

#2046 create a table to store bad and new geoms
  src/backend/app/db/enums.py
  src/backend/app/db/models.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/migrations/002-create-geometry-log.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/migrations/revert/002-create-geometry-log.sql
Labels: enhancement, backend, migration

#2052 Create migration of geomstatus enum, delete geometries api
  src/backend/app/db/models.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/migrations/002-create-geometry-log.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/migrations/revert/002-create-geometry-log.sql
Labels: enhancement, backend, migration

#2057 Fix/organisation
  src/backend/app/organisations/organisation_schemas.py
  src/frontend/src/components/ApproveOrganization/OrganizationForm.tsx
  src/frontend/src/components/CreateEditOrganization/CreateEditOrganizationForm.tsx
  src/frontend/src/components/CreateEditOrganization/validation/OrganizationDetailsValidation.ts
Labels: bug, frontend, backend

#2059 Mapper: Update styles, update TS types, update accessibility
  src/mapper/src/app.html
  src/mapper/src/lib/components/bottom-sheet.svelte
  src/mapper/src/lib/components/dialog-entities-actions.svelte
  src/mapper/src/lib/components/dialog-task-actions.svelte
  src/mapper/src/lib/components/header.svelte
  src/mapper/src/lib/components/login.svelte
  src/mapper/src/lib/components/map/geolocation.svelte
  src/mapper/src/lib/components/map/layer-switcher.svelte
  src/mapper/src/lib/components/map/legend.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/lib/components/more/activities.svelte
  src/mapper/src/lib/components/more/comment.svelte
  src/mapper/src/lib/components/more/index.svelte
  src/mapper/src/lib/components/more/project-info.svelte
  src/mapper/src/lib/components/more/skeleton/activities.svelte
  src/mapper/src/lib/components/more/skeleton/comment.svelte
  src/mapper/src/lib/components/offline/basemaps.svelte
  src/mapper/src/lib/components/qrcode.svelte
  src/mapper/src/routes/+layout.svelte
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/src/styles/page.css
Labels: bug

#2054 Add TS types on actions & update TS types
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/api/HomeService.ts
  src/frontend/src/api/OrganisationService.ts
  src/frontend/src/api/Project.ts
  src/frontend/src/api/Submission.ts
  src/frontend/src/api/SubmissionService.ts
  src/frontend/src/api/task.ts
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/ProjectSubmissions/UpdateReviewStatusModal.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
  src/frontend/src/models/createproject/createProjectModel.ts
  src/frontend/src/models/home/homeModel.ts
  src/frontend/src/models/organisation/organisationModel.ts
  src/frontend/src/models/project/projectModel.ts
  src/frontend/src/models/submission/submissionModel.ts
  src/frontend/src/models/task/taskModel.ts
  src/frontend/src/store/slices/CommonSlice.ts
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/slices/HomeSlice.ts
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/store/slices/SubmissionSlice.ts
  src/frontend/src/store/slices/TaskSlice.ts
  src/frontend/src/store/slices/organisationSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/store/types/IHome.ts
  src/frontend/src/store/types/IOrganisation.ts
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/store/types/ITask.ts
  src/frontend/src/views/NewDefineAreaMap.tsx
Labels: bug, frontend

#2061 Added project management guidelines
  docs/about/FMTM Field Mapping Guidelines.md
  docs/about/image.png
Labels: docs

#2064 Update FMTM Field Mapping Guidelines.md
  docs/about/FMTM Field Mapping Guidelines.md
  docs/manuals/OData Connection for Submission Analysis
  docs/manuals/mapping.md
  docs/manuals/project-managers.md
  mkdocs.yml
Labels: docs

#2068 Very minor typo fixes for documentation
  CONTRIBUTING.md
  README.md
Labels: bug, docs

#2053 Sentry fixes
  src/backend/app/db/models.py
  src/backend/app/submissions/submission_crud.py
Labels: bug, backend

#2063 Update geom type to jsonb, int id to uuid in geometrylog table
  src/backend/app/db/models.py
  src/backend/app/projects/project_routes.py
  src/backend/migrations/003-jsonb-geom-geometry-log.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/migrations/revert/003-jsonb-geom-geometry-log.sql
Labels: backend, migration

#2072 Update migration idempotence, add org email field, extra project fields
  src/backend/app/db/enums.py
  src/backend/app/db/models.py
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/organisations/organisation_schemas.py
  src/backend/migrations/002-create-geometry-log.sql
  src/backend/migrations/003-jsonb-geom-geometry-log.sql
  src/backend/migrations/004-project-extra-fields.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/migrations/revert/004-project-extra-fields.sql
Labels: backend, migration

#2076 JS to TS conversion: update useDispatch to useAppDispatch
  src/frontend/src/App.tsx
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/api/DataConflation.ts
  src/frontend/src/api/HomeService.ts
  src/frontend/src/api/OrganisationService.ts
  src/frontend/src/api/Project.ts
  src/frontend/src/api/Submission.ts
  src/frontend/src/api/SubmissionService.ts
  src/frontend/src/api/TaskEvent.ts
  src/frontend/src/api/task.ts
  src/frontend/src/components/ApproveOrganization/OrganizationForm.tsx
  src/frontend/src/components/CreateEditOrganization/ConsentDetailsForm.tsx
  src/frontend/src/components/CreateEditOrganization/CreateEditOrganizationForm.tsx
  src/frontend/src/components/DataConflation/ConflationMap/index.tsx
  src/frontend/src/components/DialogTaskActions.tsx
  src/frontend/src/components/GenerateBasemap.tsx
  src/frontend/src/components/LoginPopup.tsx
  src/frontend/src/components/ManageProject/DeleteTab/ProjectDeleteTab.tsx
  src/frontend/src/components/ManageProject/EditTab/FormUpdateTab.tsx
  src/frontend/src/components/ManageProject/EditTab/ProjectDescriptionTab.tsx
  src/frontend/src/components/ProjectDetailsV2/Comments.tsx
  src/frontend/src/components/ProjectDetailsV2/FeatureSelectionPopup.tsx
  src/frontend/src/components/ProjectDetailsV2/MapControlComponent.tsx
  src/frontend/src/components/ProjectDetailsV2/MobileFooter.tsx
  src/frontend/src/components/ProjectDetailsV2/ProjectOptions.tsx
  src/frontend/src/components/ProjectDetailsV2/TaskSelectionPopup.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/ProjectSubmissions/TaskSubmissions.tsx
  src/frontend/src/components/ProjectSubmissions/TaskSubmissionsMap.tsx
  src/frontend/src/components/ProjectSubmissions/UpdateReviewStatusModal.tsx
  src/frontend/src/components/common/Editor/Editor.tsx
  src/frontend/src/components/common/StepSwitcher.tsx
  src/frontend/src/components/common/UploadArea.tsx
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/MapControlComponent.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createnewproject/SelectForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/UploadArea.tsx
  src/frontend/src/components/home/ExploreProjectCard.tsx
  src/frontend/src/components/home/HomePageFilters.tsx
  src/frontend/src/utilities/CustomDrawer.tsx
  src/frontend/src/utilities/PrimaryAppBar.tsx
  src/frontend/src/views/CreateEditOrganization.tsx
  src/frontend/src/views/CreateNewProject.tsx
  src/frontend/src/views/DataConflation.tsx
  src/frontend/src/views/Home.tsx
  src/frontend/src/views/MainView.tsx
  src/frontend/src/views/ManageProject.tsx
  src/frontend/src/views/Organisation.tsx
  src/frontend/src/views/OsmAuth.tsx
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/frontend/src/views/ProjectSubmissions.tsx
  src/frontend/src/views/SubmissionDetails.tsx
Labels: bug, frontend

#2079 added more screenshots on mapper guide
  docs/manuals/mapping.md
Labels: docs

#2083 fixed running gen-env.sh on MacOS
  scripts/1-environment/gen-env.sh
Labels: bug, devops

#2077 feat: add filters for submission date in submission table and downloads
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
  src/backend/tests/test_submission_routes.py
Labels: enhancement, backend, dependency:osm-fieldwork, tests

#2082 Add capability to draw new polygon and linestring geoms
  src/backend/app/central/central_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/pyproject.toml
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/models/project/projectModel.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/types/enums.ts
  src/mapper/package.json
  src/mapper/pnpm-lock.yaml
  src/mapper/src/constants/enums.ts
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/lib/odk/javarosa.ts
  src/mapper/src/lib/types.ts
  src/mapper/src/routes/[projectId]/+page.svelte
Labels: enhancement, frontend, backend

#2069 Test cases for organisation
  src/backend/app/db/models.py
  src/backend/tests/conftest.py
  src/backend/tests/test_organisation_routes.py
Labels: enhancement, backend, tests

#2092 Update pnpm version to latest stable 9.15.4
  src/Dockerfile.ui.debug
  src/Dockerfile.ui.prod
  src/frontend/package.json
  src/mapper/package.json
Labels: frontend, devops

#2090 Create get api for project's geometry log
  src/backend/app/db/models.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
Labels: enhancement, backend

#2091 Submissions date range filter
  src/frontend/src/api/task.ts
  src/frontend/src/components/ProjectSubmissions/ProjectSubmissionsSkeletonLoader.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/common/DateRangePicker.tsx
  src/frontend/src/components/common/Select.tsx
  src/frontend/src/index.css
  src/frontend/src/store/types/ISubmissions.ts
Labels: bug, frontend

#2084 Distance constraint add on frontend
  src/mapper/package.json
  src/mapper/pnpm-lock.yaml
  src/mapper/src/lib/components/dialog-entities-actions.svelte
  src/mapper/src/lib/components/map/geolocation.svelte
  src/mapper/src/lib/types.ts
Labels: enhancement

#2018 Entity pulse effect on rejected submissions
  src/backend/app/db/models.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/frontend/src/api/Project.ts
  src/frontend/src/api/SubmissionService.ts
  src/frontend/src/components/MapComponent/OpenLayersComponent/Layers/VectorLayer.js
  src/frontend/src/components/ProjectDetailsV2/TaskSelectionPopup.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/ProjectSubmissions/UpdateReviewStatusModal.tsx
  src/frontend/src/models/project/projectModel.ts
  src/frontend/src/models/submission/submissionModel.ts
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/store/slices/SubmissionSlice.ts
  src/frontend/src/store/slices/ThemeSlice.ts
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/store/types/ISubmissions.ts
  src/frontend/src/types/enums.ts
  src/frontend/src/utilfunctions/commonUtils.ts
  src/frontend/src/utilfunctions/extractGeojsonFromObject.ts
  src/frontend/src/utilfunctions/getTaskStatusStyle.ts
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/frontend/src/views/SubmissionDetails.tsx
  src/mapper/src/lib/components/map/flatgeobuf-layer.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/src/store/entities.svelte.ts
Labels: enhancement, frontend, backend

#2099 Fix entity status color vanish
  src/mapper/src/routes/[projectId]/+page.svelte
Labels: bug

#2097 Organization Page Refactor
  src/backend/app/organisations/organisation_schemas.py
  src/frontend/src/api/OrganisationService.ts
  src/frontend/src/components/ApproveOrganization/ApproveOrganizationHeader.tsx
  src/frontend/src/components/ApproveOrganization/OrganizationForm.tsx
  src/frontend/src/components/CreateEditOrganization/ConsentDetailsForm.tsx
  src/frontend/src/components/CreateEditOrganization/CreateEditOrganizationForm.tsx
  src/frontend/src/components/CreateEditOrganization/CreateEditOrganizationHeader.tsx
  src/frontend/src/components/CreateEditOrganization/validation/OrganizationDetailsValidation.ts
  src/frontend/src/components/ManageProject/EditTab/FormUpdateTab.tsx
  src/frontend/src/components/common/UploadArea.tsx
  src/frontend/src/components/organisation/OrganisationGridCard.tsx
  src/frontend/src/routes.jsx
  src/frontend/src/utilfunctions/index.ts
  src/frontend/src/utilfunctions/isEmpty.ts
  src/frontend/src/utilities/CustomDrawer.tsx
  src/frontend/src/utilities/PrimaryAppBar.tsx
  src/frontend/src/views/Organisation.tsx
Labels: enhancement, frontend, backend

#2101 fix review state for received on submission table
  src/backend/app/submissions/submission_routes.py
Labels: bug, backend

#2100 Relocate sync button
  src/frontend/src/api/Project.ts
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/mapper/src/lib/components/dialog-entities-actions.svelte
  src/mapper/src/lib/components/map/layer-switcher.svelte
  src/mapper/src/lib/components/map/legend.svelte
  src/mapper/src/lib/components/map/main.svelte
Labels: bug, frontend

#2104 Update Backend.md documentation
  docs/dev/Backend.md
Labels: docs

#2112 Delete submission photos while deleting project to avoid foreign key constraint
  src/backend/app/db/models.py
Labels: bug, backend

#2103 fixed running docker compose up ui-mapper on MacOS by upgrading node version
  src/Dockerfile.ui.debug
  src/Dockerfile.ui.prod
Labels: bug

#2110 Add `integrations` router with API key functionality (external apps)
  src/backend/app/auth/auth_deps.py
  src/backend/app/db/models.py
  src/backend/app/integrations/__init__.py
  src/backend/app/integrations/integration_crud.py
  src/backend/app/integrations/integration_deps.py
  src/backend/app/integrations/integration_routes.py
  src/backend/app/main.py
  src/backend/app/projects/project_routes.py
  src/backend/migrations/005-api-key.sql
  src/backend/migrations/init/fmtm_base_schema.sql
Labels: enhancement, backend, migration

#2107 Refactor mapper legend & layer-switcher
  src/mapper/src/lib/components/bottom-sheet.svelte
  src/mapper/src/lib/components/map/layer-switcher.svelte
  src/mapper/src/lib/components/map/legend.svelte
  src/mapper/src/lib/components/map/main.svelte
Labels: bug

#2088 Warn users and delete user accounts after period of inactivity
  src/backend/app/auth/auth_routes.py
  src/backend/app/db/models.py
  src/backend/app/users/user_crud.py
  src/backend/app/users/user_routes.py
  src/backend/migrations/005-add-user-lastloginat.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/migrations/revert/005-add-user-lastloginat.sql
Labels: enhancement, backend, migration

#2118 Fix new feature polygon draw
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/lib/odk/collect.ts
  src/mapper/src/routes/[projectId]/+page.svelte
Labels: bug

#2115 Assign PM during project creation & Refactor
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/api/User.ts
  src/frontend/src/assets/icons/searchIcon.svg
  src/frontend/src/components/RadixComponents/Command.tsx
  src/frontend/src/components/RadixComponents/Dialog.tsx
  src/frontend/src/components/RadixComponents/Popover.tsx
  src/frontend/src/components/RadixComponents/Select.tsx
  src/frontend/src/components/common/SearchBar.tsx
  src/frontend/src/components/common/Select2.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/hooks/useDebouncedInput.ts
  src/frontend/src/models/createproject/createProjectModel.ts
  src/frontend/src/models/user/userModel.ts
  src/frontend/src/shared/AssetModules.js
  src/frontend/src/store/Store.ts
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/slices/UserSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/store/types/IUser.ts
  src/frontend/src/types/modulesDecleration.d.ts
Labels: enhancement, frontend

#2121 Refactor submission details page
  src/frontend/src/views/SubmissionDetails.tsx
Labels: bug, enhancement, frontend

#2117 Add endpoint to change global user roles
  src/backend/app/db/models.py
  src/backend/app/users/user_routes.py
  src/backend/app/users/user_schemas.py
Labels: enhancement, backend

#2122 Fix/validated state visualization
  src/backend/app/db/enums.py
  src/backend/migrations/007-add-entitystate-enumtype.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/migrations/revert/007-add-entitystate-enumtype.sql
  src/frontend/src/components/ProjectDetailsV2/FeatureSelectionPopup.tsx
  src/frontend/src/components/ProjectSubmissions/UpdateReviewStatusModal.tsx
  src/frontend/src/hooks/MapStyles.js
  src/frontend/src/store/slices/SubmissionSlice.ts
  src/frontend/src/store/slices/ThemeSlice.ts
  src/frontend/src/types/enums.ts
  src/frontend/src/utilfunctions/getTaskStatusStyle.ts
  src/mapper/src/lib/components/dialog-entities-actions.svelte
  src/mapper/src/lib/components/map/main.svelte
Labels: bug, frontend, backend, migration

#2124 Add pagination and search functionality to user list api
  src/backend/app/db/models.py
  src/backend/app/users/user_crud.py
  src/backend/app/users/user_routes.py
  src/backend/app/users/user_schemas.py
Labels: enhancement, backend

#2127 Upgrade react to latest v19 stable + mui icons fixing frontend build
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
Labels: frontend

#2129 Fix logic allowing for custom odk server creds during project creation
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
Labels: bug, frontend

#2134 Fix locked for mapping task color
  .all-contributorsrc
  src/frontend/src/utilfunctions/getTaskStatusStyle.ts
Labels: bug, frontend

#2133 Manage users page
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/src/api/HomeService.ts
  src/frontend/src/api/User.ts
  src/frontend/src/components/RadixComponents/Table.tsx
  src/frontend/src/components/common/DataTable/DataTablePagination/index.tsx
  src/frontend/src/components/common/DataTable/DataTablePagination/usePagination.ts
  src/frontend/src/components/common/DataTable/DataTableSkeleton/index.tsx
  src/frontend/src/components/common/DataTable/index.tsx
  src/frontend/src/components/common/SearchBar.tsx
  src/frontend/src/index.css
  src/frontend/src/models/home/homeModel.ts
  src/frontend/src/models/submission/submissionModel.ts
  src/frontend/src/routes.jsx
  src/frontend/src/shared/AssetModules.js
  src/frontend/src/store/slices/HomeSlice.ts
  src/frontend/src/store/slices/SubmissionSlice.ts
  src/frontend/src/store/slices/UserSlice.ts
  src/frontend/src/store/types/ICommon.ts
  src/frontend/src/store/types/IHome.ts
  src/frontend/src/store/types/IUser.ts
  src/frontend/src/views/ManageUsers.tsx
Labels: enhancement, frontend

#2135 Feat/user roles list
  src/frontend/src/api/User.ts
  src/frontend/src/components/common/Select2.tsx
  src/frontend/src/components/createnewproject/ProjectDetailsForm.tsx
  src/frontend/src/store/slices/CommonSlice.ts
  src/frontend/src/store/slices/UserSlice.ts
  src/frontend/src/store/types/ICommon.ts
  src/frontend/src/store/types/IUser.ts
Labels: enhancement, frontend
