Repository hotosm/field-tm, pull requests merged in 2025-09, with the labels that each got.

#2810 Fix QR download on mapper & download QR in PNG format in management
  src/frontend/src/components/ProjectDetails/ProjectOptions.tsx
  src/mapper/src/lib/odk/qrcode.ts
Labels: bug, frontend:management, frontend:mapper

#2786 Only add translation for the set language in mandatory fields
  docs/manuals/xlsform-design.md
  src/backend/packages/osm-fieldwork/osm_fieldwork/form_components/choice_fields.py
  src/backend/packages/osm-fieldwork/osm_fieldwork/form_components/digitisation_fields.py
  src/backend/packages/osm-fieldwork/osm_fieldwork/form_components/mandatory_fields.py
  src/backend/packages/osm-fieldwork/osm_fieldwork/form_components/translations/__init__.py
  src/backend/packages/osm-fieldwork/osm_fieldwork/update_xlsform.py
  src/backend/packages/osm-fieldwork/tests/test_update_xlsform.py
Labels: docs, enhancement, backend, dependency:osm-fieldwork

#2814 Feat/tanstack query integration
  src/frontend/src/api/HomeService.ts
  src/frontend/src/api/OrganisationService.ts
  src/frontend/src/api/organisation/index.ts
  src/frontend/src/api/project/index.ts
  src/frontend/src/api/project/types.ts
  src/frontend/src/components/CreateProject/01-ProjectOverview.tsx
  src/frontend/src/components/ManageOrganization/ManageAdmins.tsx
  src/frontend/src/components/OrganizationDashboard/OrganizationInfo.tsx
  src/frontend/src/services/organisation.ts
  src/frontend/src/utilfunctions/isEmpty.ts
  src/frontend/src/views/CreateProject.tsx
  src/frontend/src/views/ManageUsers.tsx
  src/frontend/src/views/Organisation.tsx
Labels: enhancement, frontend:management

#2817 TanStack Query Integration
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/api/OrganisationService.ts
  src/frontend/src/api/Project.ts
  src/frontend/src/api/Submission.ts
  src/frontend/src/api/SubmissionService.ts
  src/frontend/src/api/central/index.ts
  src/frontend/src/api/project/index.ts
  src/frontend/src/api/project/types.ts
  src/frontend/src/api/submission/index.ts
  src/frontend/src/api/submission/types.ts
  src/frontend/src/api/task/index.ts
  src/frontend/src/api/task/types.ts
  src/frontend/src/components/CreateProject/03-UploadSurvey.tsx
  src/frontend/src/components/DataConflation/SubmissionConflation/MergeAttributes.tsx
  src/frontend/src/components/DialogTaskActions.tsx
  src/frontend/src/components/ManageProject/Form/index.tsx
  src/frontend/src/components/ProjectDetails/ProjectOptions.tsx
  src/frontend/src/components/ProjectSubmissions/Infographics/InfographicsCard.tsx
  src/frontend/src/components/ProjectSubmissions/Infographics/TaskSubmissions.tsx
  src/frontend/src/components/ProjectSubmissions/Infographics/TaskSubmissionsMap.tsx
  src/frontend/src/components/ProjectSubmissions/Infographics/TaskSubmissionsMapLegend.tsx
  src/frontend/src/components/ProjectSubmissions/Infographics/index.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/ProjectSubmissions/Table/Filter.tsx
  src/frontend/src/components/ProjectSubmissions/Table/UpdateReviewStatusModal.tsx
  src/frontend/src/components/ProjectSubmissions/Table/index.tsx
  src/frontend/src/components/ProjectSubmissions/UpdateReviewStatusModal.tsx
  src/frontend/src/components/SubmissionInstance/SubmissionComments.tsx
  src/frontend/src/components/common/CustomTable.tsx
  src/frontend/src/components/common/DataTable/index.tsx
  src/frontend/src/models/project/projectModel.ts
  src/frontend/src/models/submission/submissionModel.ts
  src/frontend/src/services/central.ts
  src/frontend/src/services/project.ts
  src/frontend/src/services/submission.ts
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/store/slices/SubmissionSlice.ts
  src/frontend/src/store/slices/organisationSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/store/types/IOrganisation.ts
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/store/types/ISubmissions.ts
  src/frontend/src/utilfunctions/index.ts
  src/frontend/src/views/CreateProject.tsx
  src/frontend/src/views/ManageUsers.tsx
  src/frontend/src/views/ProjectSubmissions.tsx
  src/frontend/src/views/SubmissionDetails.tsx
Labels: enhancement, frontend:management

#2829 TanStack Query implementation for create project
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/api/User.ts
  src/frontend/src/api/central/index.ts
  src/frontend/src/api/helper/index.ts
  src/frontend/src/api/project/index.ts
  src/frontend/src/components/CreateProject/01-ProjectOverview.tsx
  src/frontend/src/components/CreateProject/03-UploadSurvey.tsx
  src/frontend/src/components/CreateProject/04-MapData.tsx
  src/frontend/src/components/CreateProject/05-SplitTasks.tsx
  src/frontend/src/components/CreateProject/constants/defaultValues.ts
  src/frontend/src/components/CreateProject/validation.ts
  src/frontend/src/services/central.ts
  src/frontend/src/services/project.ts
  src/frontend/src/store/slices/CreateProjectSlice.ts
  src/frontend/src/store/slices/UserSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/store/types/IUser.ts
  src/frontend/src/views/CreateProject.tsx
Labels: enhancement, frontend:management

#2836 Fix frontend issues
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/components/Landing/Banner.tsx
Labels: bug, frontend:management

#2839 Update use_odk_collect value during stub project creation
  src/backend/app/projects/project_schemas.py
  src/frontend/src/components/CreateProject/00-ProjectTypeSelector.tsx
  src/frontend/src/components/CreateProject/02-ProjectDetails.tsx
  src/frontend/src/views/CreateProject.tsx
Labels: bug, frontend:management, backend
