Repository hotosm/field-tm, pull requests merged in 2025-08, with the labels that each got.

#2738 Backend part to allow listing of required media from uploaded XLSForm
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_routes.py
  src/backend/app/projects/project_routes.py
  src/backend/packages/osm-fieldwork/osm_fieldwork/OdkCentralAsync.py
  src/backend/tests/conftest.py
  src/backend/tests/test_projects_routes.py
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/components/CreateProject/03-UploadSurvey.tsx
  src/frontend/src/components/CreateProject/constants/defaultValues.ts
  src/frontend/src/components/CreateProject/validation.ts
Labels: enhancement, frontend:management, backend, dependency:osm-fieldwork, tests

#2555 Clustering if primary geoms are point & update point icon
  src/frontend/src/components/MapComponent/OpenLayersComponent/Layers/ClusterLayer.js
  src/frontend/src/components/ProjectDetails/ProjectDetailsMap.tsx
  src/frontend/src/utilfunctions/getTaskStatusStyle.ts
  src/mapper/src/constants/baseLayers.ts
  src/mapper/src/lib/components/map/flatgeobuf-layer.svelte
  src/mapper/src/lib/components/map/main.svelte
Labels: enhancement, help wanted, frontend:management, frontend:mapper

#2723 Documentation of highway mapping project creation workflow
  docs/manuals/Mapping Usecases.md
Labels: docs

#2761 Fixed false error on submission status update.
  src/backend/app/submissions/submission_crud.py
Labels: bug, backend

#2768 Tanstack Query Workflow Setup
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/src/App.tsx
  src/frontend/src/api/auth/index.ts
  src/frontend/src/api/auth/types.ts
  src/frontend/src/api/central/index.ts
  src/frontend/src/api/central/types.ts
  src/frontend/src/api/helper/index.ts
  src/frontend/src/api/helper/types.ts
  src/frontend/src/api/organisation/index.ts
  src/frontend/src/api/organisation/types.ts
  src/frontend/src/api/project/index.ts
  src/frontend/src/api/project/types.ts
  src/frontend/src/api/submission/index.ts
  src/frontend/src/api/submission/types.ts
  src/frontend/src/api/task/index.ts
  src/frontend/src/api/task/types.ts
  src/frontend/src/api/user/index.ts
  src/frontend/src/api/user/types.ts
  src/frontend/src/components/GenerateBasemap.tsx
  src/frontend/src/components/OrganizationDashboard/ProjectSummary.tsx
  src/frontend/src/components/OrganizationDashboard/ProjectSummaryMap.tsx
  src/frontend/src/components/ProjectDetails/Tabs/TaskList.tsx
  src/frontend/src/components/home/ExploreProjectCard.tsx
  src/frontend/src/components/home/ProjectListMap.tsx
  src/frontend/src/environment.ts
  src/frontend/src/models/project/projectModel.ts
  src/frontend/src/services/auth.ts
  src/frontend/src/services/central.ts
  src/frontend/src/services/helper.ts
  src/frontend/src/services/index.ts
  src/frontend/src/services/organisation.ts
  src/frontend/src/services/project.ts
  src/frontend/src/services/submission.ts
  src/frontend/src/services/task.ts
  src/frontend/src/services/user.ts
  src/frontend/src/types/enums.ts
  src/frontend/src/types/index.ts
  src/frontend/src/views/Home.tsx
Labels: enhancement, frontend:management

#2772 Refactor project visibility removing SENSITIVE and INVITE_ONLY.
  src/backend/app/auth/roles.py
  src/backend/app/db/enums.py
  src/backend/app/submissions/submission_crud.py
  src/migrations/001-remove-sensitive-visibility-enum.sql
  src/migrations/init/shared/1-enums.sql
Labels: backend, testing:ready, migration

#2774 Fix broken migration of project visibility.
  src/migrations/001-refactor-project-visibility-enum.sql
Labels: bug, migration

#2775 Task User Assignment
  src/frontend/src/api/task/index.ts
  src/frontend/src/api/task/types.ts
  src/frontend/src/api/user/index.ts
  src/frontend/src/api/user/types.ts
  src/frontend/src/components/DialogTaskActions.tsx
  src/frontend/src/components/ProjectDetails/FeatureSelectionPopup.tsx
  src/frontend/src/components/ProjectDetails/TaskSelectionPopup.tsx
  src/frontend/src/components/common/Button.tsx
  src/frontend/src/environment.ts
  src/frontend/src/services/task.ts
  src/frontend/src/services/user.ts
  src/frontend/src/views/ProjectDetails.tsx
Labels: enhancement, frontend:management

#2780 Restrict mappers to update task
  src/frontend/src/components/DialogTaskActions.tsx
Labels: bug, frontend:management

#2788 HOTOSM Matomo tracking component integration on mapper frontend
  src/mapper/src/routes/+layout.svelte
Labels: enhancement, frontend:mapper

#2797 Upgrade hotosm/ui package on mapper frontend
  src/mapper/package.json
  src/mapper/pnpm-lock.yaml
  src/mapper/src/lib/components/dialog-entities-actions.svelte
  src/mapper/src/lib/components/dialog-task-actions.svelte
  src/mapper/src/lib/components/editor/editor.svelte
  src/mapper/src/lib/components/editor/toolbar.svelte
  src/mapper/src/lib/components/forms/wrapper.svelte
  src/mapper/src/lib/components/header.svelte
  src/mapper/src/lib/components/login.svelte
  src/mapper/src/lib/components/map/geolocation.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/lib/components/more/activities.svelte
  src/mapper/src/lib/components/more/comment.svelte
  src/mapper/src/lib/components/more/index.svelte
  src/mapper/src/lib/components/my-tasks.svelte
  src/mapper/src/lib/components/offline/basemaps.svelte
  src/mapper/src/lib/components/offline/fgb-extract.svelte
  src/mapper/src/lib/components/offline/index.svelte
  src/mapper/src/lib/components/pagination.svelte
  src/mapper/src/lib/components/qrcode.svelte
  src/mapper/src/routes/+layout.svelte
  src/mapper/src/routes/+page.svelte
  src/mapper/src/routes/project/[projectId]/+page.svelte
  src/mapper/src/routes/project/[projectId]/page.css
  src/mapper/src/styles/auth.css
  src/mapper/src/styles/basemaps.css
  src/mapper/src/styles/comment.css
  src/mapper/src/styles/dialog-entities-actions.css
  src/mapper/src/styles/dialog-task-actions.css
  src/mapper/src/styles/editor.css
  src/mapper/src/styles/header.css
  src/mapper/src/styles/login.css
  src/mapper/src/styles/map-geolocation.css
  src/mapper/src/styles/map.css
  src/mapper/src/styles/more.css
  src/mapper/src/styles/offline.css
  src/mapper/src/styles/page.css
  src/mapper/src/styles/pagination.css
  src/mapper/src/styles/qr-code.css
Labels: enhancement, frontend:mapper

#2802 fix(tasks): Correctly assign the assignee in add_new_task_event function (#2802)
  src/backend/app/tasks/task_routes.py
Labels: enhancement, backend

#2807 Add 'use_st_within' option for OSM data extract generation
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/frontend/src/components/CreateProject/04-MapData.tsx
Labels: enhancement, frontend:management, backend
